Repository unoplatform/uno, pull requests merged in 2019-12, with the labels that each got.

#2040 Launcher ms-settings: special URIs, UWP alignment
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-system.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_System/LauncherTests.xaml
  src/SamplesApp/UITests.Shared/Windows_System/LauncherTests.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_Launcher.cs
  src/Uno.UWP/System/Launcher.Android.SpecialUris.cs
  src/Uno.UWP/System/Launcher.Android.cs
  src/Uno.UWP/System/Launcher.cs
  src/Uno.UWP/System/Launcher.iOS.SpecialUris.cs
  src/Uno.UWP/System/Launcher.iOS.cs
  src/Uno.UWP/System/Launcher.wasm.cs
Labels: ready-to-merge

#2226 Docs - add overview of Uno's test strategies
  doc/articles/contributing/guidelines/creating-tests.md
  doc/articles/toc.yml
  doc/articles/uno-development/working-with-the-samples-apps.md
Labels: area/build, kind/documentation

#2225 [WASM] Update Shape when Fill.Color changes
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Rectangle_Color_Bound.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Rectangle_Color_Bound.xaml.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Media/Brush.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
Labels: area/android, area/automation, area/wasm, kind/documentation

#2231 Fix memory leaks in Android DisplayInformation
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Graphics/Display/DisplayInformation.Android.cs
Labels: area/android, ready-to-merge

#2199 Applied a fix for an animation crash on iOS
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/QueryExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media/Animation_Tests/SequentialAnimations_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Animation/SequentialAnimationsPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Animation/SequentialAnimationsPage.xaml.cs
  src/Uno.UI/Extensions/TimelineExtensions.iOS.cs
Labels: area/automation, area/build, area/ios

#2247 Add arbitrary delay in Safari macOS to avoid StackOverflow issues
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Wasm/ts/CoreDispatcher.ts
Labels: area/wasm, kind/documentation, ready-to-merge

#2243 [WASM] Fix Control can't be re-enabled
  build/ios-uitest-run.sh
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ControlTests/Control_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ControlTests/Control_IsEnabled_Inheritance.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ControlTests/Control_IsEnabled_Inheritance.xaml.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
Labels: area/automation, area/build, area/wasm, kind/documentation, ready-to-merge

#2248 Update Uno.PackageDiff
  .azure-devops-wasm-uitests.yml
  build/PackageDiffIgnore.xml
  build/Uno.UI.Build.csproj
Labels: area/build, ready-to-merge

#2022 Guide for Dummies
  doc/articles/howto-migrate-existing-code.md
  doc/articles/migrating-apps.md
  doc/articles/toc.yml
Labels: ready-to-merge

#2250 [WASM] Set more properties when AssignDOMXamlProperties is set
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: area/wasm, ready-to-merge

#2265 Added additional tip for debugging with Chrome
  doc/articles/debugging-wasm.md
Labels: kind/documentation

#2246 Update UI Tests
  .azure-devops-android-tests.yml
  .azure-devops-ios-tests.yml
  .azure-devops-wasm-uitests.yml
  build/android-uitest-run.sh
  build/android-uitest-wait-systemui.sh
  build/ios-uitest-run.sh
  build/run-automated-uitests.sh
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests.Generator/SnapShotTestGenerator.cs
  src/SamplesApp/SamplesApp.UITests.Generator/Uno.Samples.UITest.Generator.csproj
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserContent.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleControlInfoAttribute.cs
  src/SamplesApp/UITests.Shared/Lottie/SampleLottieAnimation.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Calls/PhoneCallManagerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Chat/ComposeSms.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/PackageTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Transforms.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Virtualizing.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Dynamic.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_Changing_ContentTemplate.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/RotatedListView_WithRotatedItems.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Transforms.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Slider/Slider_Transformed.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_MeasurePeformance.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/ArcSegmentPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/EasingDoubleKeyFrame_CompositeTransform.xaml.cs
  src/Uno.UI-Android-only.slnf
  src/Uno.UI-Wasm-only.slnf
  src/Uno.UI.TestComparer/App.config
  src/Uno.UI.TestComparer/AzureDevopsDownloader.cs
  src/Uno.UI.TestComparer/Comparer/CompareResult.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
  src/Uno.UI.TestComparer/GitHubClient.cs
  src/Uno.UI.TestComparer/Program.cs
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
  src/Uno.UI.sln
Labels: area/automation, area/build, do-not-merge/work-in-progress

#2242 Add support for XAML literal Color and SolidColorBrush
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/NamedColorsTest.xaml
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
Labels: area/code-generation, kind/documentation

#2273 Adjust image comparer
  src/Uno.UI.TestComparer/AzureDevopsDownloader.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
  src/Uno.UI.TestComparer/Program.cs
Labels: area/build, ready-to-merge

#2274 Add support for Automation SetDependencyPropertyValue
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/Helpers/Automation.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/android, area/wasm, kind/documentation

#2276 Restore iOS Snapshot Tests
  .azure-devops-ios-tests.yml
  build/ios-uitest-run.sh
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests.Generator/SnapShotTestGenerator.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/TestAppMode.cs
  src/SamplesApp/SamplesApp.UITests/Toolkit/UnoSamples_Tests.Elevation.cs
  src/SamplesApp/SamplesApp.UITests/Windows_Devices/GyrometerTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Automation/AutomationId_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ToggleSwitchTests/UnoSamples_Tests.ToggleSwitch.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Capture_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/DragCoordinates_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/EventSequence_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Manipulation_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_ScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_CacheLength_Slow_Load.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Progress/ProgressRing.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Transformed_Ancestor_And_UI_Blocked.xaml.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
  src/Uno.UI.TestComparer/Program.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.iOS.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/automation, area/build, area/ios

#2264 [Android] Always apply non-zero native clip
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CanvasTests/Canvas_Measurement_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Canvas/Canvas_With_Outer_Clip.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Canvas/Canvas_With_Outer_Clip.xaml.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: area/android, area/automation

#2269 TextBlock - return non-zero ActualWidth and ActualHeight after measurement
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/Helpers/RunsOnUIThreadAttribute.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/UIElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: area/automation, area/wasm

#2288 Allocate less during image comparison
  .azure-devops-ios-tests.yml
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
Labels: area/automation, area/build, ready-to-merge

#2270 Remove "min size" constrains to available size in layouter
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Layout_Constrains.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Layout_Constrains.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/bug, kind/regression, ready-to-merge

#2291 [iOS] Fix animation might run twice
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/UI/Composition/CoreAnimation.iOS.cs
Labels: area/ios, kind/documentation, ready-to-merge

#2297 Adjust the SetDependencyPropertyValue backdoor signature
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/Helpers/Automation.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/android, area/wasm, ready-to-merge

#2293 Adjust Snapshots comparison
  .azure-devops-ios-tests.yml
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/CommandBar/UnoSamples_Tests.CommandBar.cs
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.UITests/ScreenshotOptions.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CanvasTests/Canvas_Measurement_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.XamlCommandBar.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ScrollViewerTests/UnoSamples_Tests.ScrolViewer.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/EventSequence_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Mesaure_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/CheckBox_Button_With_CanExecute_Changing.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Radio_Button.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Simple_Button.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Simple_Button_With_CanExecute_Changing.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Content.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePicker_SampleContent.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Databoundwidth.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/GridDataboundGridColumn.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_DataBound_RowColumn.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Animated_View_With_Transformed_Ancestor.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/ProgressRing_With_Transformed_Ancestor.xaml.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
Labels: area/automation, area/build, ready-to-merge

#2289 [Android] Fix bug where Canvas.ZIndex applies shadow
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CanvasTests/Canvas_Measurement_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Canvas/Canvas_ZIndex.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Canvas/Canvas_ZIndex.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: area/android, area/automation, kind/documentation

#2292 Handling strings from a StaticResource for CreateFromStringAttribute
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/App/Xaml/Test_CreateFromString.xaml
  src/Uno.UI.Tests/App/Xaml/Test_CreateFromString.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/CreateFromStringTests/Given_CreateFromString.cs
Labels: area/automation, area/code-generation, kind/documentation

#2296 Wasm "Set Cursor"
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CanvasTests/Canvas_Measurement_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Core/SetCursor.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Core/SetCursor.xaml.cs
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UWP/UI/Core/CoreCursorTypeExtensions.wasm.cs
  src/Uno.UWP/UI/Core/CoreWindow.cs
  src/Uno.UWP/UI/Core/CoreWindow.wasm.cs
Labels: area/automation, area/wasm, kind/documentation, kind/enhancement

#2308 [Wasm] Update boostrapper to 1.0.10
  src/Directory.Build.targets
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
Labels: area/solution-templates

#2310 Split iOS Build and UI Tests for Build performance
  .azure-devops-ios-tests.yml
  .vsts-ci.yml
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/.azure-devops-macos.yml
  build/ci/.azure-devops-screenshot-compare.yml
  build/ci/.azure-devops-wasm-uitests.yml
  build/ci/.azure-devops-windows.yml
  build/ci/templates/ios-build-select-version.yml
  build/ci/templates/nuget-cache.yml
  build/ci/templates/optimize-roslyn-mono.yml
  build/ios-uitest-build.sh
  build/ios-uitest-run.sh
  build/optimize-csc.targets
  src/Uno.UI/Uno.UI.csproj
Labels: area/build

#2312 Fix possible null-ref in TextBlock
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.iOS.cs
Labels: area/ios, ready-to-merge

#2301 Fail failing asynchronous RuntimeTests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/grid/GridIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
Labels: area/automation, ready-to-merge

#2317 Fix screenshot compare results are not published properly
  build/ci/.azure-devops-screenshot-compare.yml
Labels: ready-to-merge

#2319 Fix TextBlock might stay blank
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.iOS.cs
Labels: area/ios, ready-to-merge

#2315 Implement Grid.ColumnSpacing and RowSpacing
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_Spacing_Adjustable.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_Spacing_Adjustable.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Grid.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/Grid.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Properties.cs
Labels: area/automation, kind/documentation

#2321 [WASM] Mark FlipView not implemented
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.wasm.cs
Labels: area/wasm

#2324 Improve screenshot comparer tool
  src/Uno.UI.TestComparer/AzureDevopsDownloader.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
  src/Uno.UI.TestComparer/Program.cs
Labels: area/build

#2334 Adjust the tutorial for nuget feed selection
  doc/articles/getting-started-tutorial-1.md
Labels: kind/documentation

#2306 Fixed possible Nan/Infinity measurement on iOS 11
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.iOSmacOS.cs
Labels: area/ios, kind/bug, ready-to-merge

#2341 [Android] Adjust for synchronous image loading
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Uniform100x100.xaml
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
Labels: area/android, area/automation

#2336 Ignore noisy snapshots
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/MenuFlyoutItemTests/UnoSamples_Test_Click.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageSourceFile.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Full.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/Attributed_text_Simple_databound.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Multiline_In_StarStackPanel.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBoxSizeChangingInlines.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBoxSizeChangingInlines.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBox_Size_Changing.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBox_Size_Changing_Inlines.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_DeleteButton_Automated.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_RoundedCorners.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Textbox_Keyboard_AutoFocus.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Events.xaml.cs
Labels: area/automation, ready-to-merge

#2335 Applied a change to also support global StaticResources
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/App/Xaml/Test_CreateFromString.xaml
  src/Uno.UI.Tests/App/Xaml/Test_CreateFromString.xaml.cs
  src/Uno.UI.Tests/App/Xaml/Test_Dictionary.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/CreateFromStringTests/Given_CreateFromString.cs
Labels: kind/enhancement

#2345 [iOS] Fix double margin on Image
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margin.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margin.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
Labels: area/automation

#2354 Update X.F templates version to 4.3.4
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/UnoQuickStart.Wasm.csproj
Labels: area/solution-templates

#2338 [Android] Fix horizontal scrolling when inside vertical ListView
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Shared/Assets/ScrollGesture.png
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_WithScrollViewer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_WithScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Models/ListViewViewModel.cs
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoMotionHelper.java
Labels: area/android, area/automation, kind/documentation

#2340 [iOS] Add shell tests scripts for iOS Simulator on macOS
  build/local-ios-uitest-run.sh
  doc/articles/uno-development/working-with-the-samples-apps.md
Labels: area/android, area/automation, area/build, area/ios, area/wasm, kind/documentation, ready-to-merge

#2349 Update getting started tutorial
  doc/articles/getting-started-tutorial-1.md
Labels: kind/documentation

#2350 Add clarification in doc to add automated UI tests
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/uno-development/working-with-the-samples-apps.md
Labels: kind/documentation, ready-to-merge

#2090 New UI Test to test the bindings in a Flyout
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
Labels: area/automation, ready-to-merge

#2357 Grid - fix invalid measure when total star size is 0
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Layout.cs
Labels: area/automation, kind/documentation

#2359 [iOS] Fix margin constraint applied to fixed sized Image control
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Button_IsEnabled.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margin.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margin.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
Labels: area/automation, area/ios, kind/documentation

#2355 Prevent RemoteGenerator from trigerring warnings
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
Labels: area/code-generation, kind/enhancement, ready-to-merge

#2356 [iOS] Fix bug with ListViewItem.Margin application
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Margin_On_Container.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Margin_On_Container.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml.cs
  src/Uno.UI/Extensions/CGSizeExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOS.cs
Labels: area/automation, area/ios, area/solution-templates

#2360 [Android] Fix WebView clipping issue
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Animated_Opacity.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Animated_Opacity.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.Android.cs
Labels: area/android, area/automation

#2362 Docs - add info on snapshot tests
  doc/articles/contributing/guidelines/creating-tests.md
Labels: kind/documentation

#2367 Fix ArcSegmentPage sample crashes
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/ArcSegmentPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/ArcSegmentPage.xaml.cs
Labels: area/automation

#2344 Add support for Popup.LightDismissOverlayMode
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PopupTests/UnoSamples_Popup_Simple_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Popup/Popup_Overlay_On.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Popup/Popup_Overlay_On.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/Uno.UI.Tests/App/Xaml/Test_Dictionary.xaml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ComboBoxTests/Given_ComboBox.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ContentDialogTests/Given_ContentDialog.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/DatePickerTests/Given_DatePicker.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/FlyoutTests/Given_Flyout.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/Frame/Given_Frame.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/PivotTests/Given_Pivot.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/FlyoutBase.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ComboBox.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/DatePicker.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/LightDismissOverlayMode.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TimePicker.cs
  src/Uno.UI/Mock/Brush.net.cs
  src/Uno.UI/Mock/Popup.net.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.Android.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.md
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/LightDismissOverlayMode.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.md
  src/Uno.UI/UI/Xaml/FrameworkElementExtensions.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.Native.xaml
  src/Uno.UI/UI/Xaml/Style/Generic/SystemResources.xaml
Labels: area/android, area/automation, area/code-generation, area/ios, area/wasm, kind/documentation

#2249 Misc pointer events fixes
  build/PackageDiffIgnore.xml
  doc/articles/features/routed-events.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Tapped_Tests.cs
  src/SamplesApp/UITests.Shared/Helpers/UWPViewHelper.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TappedTest.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TappedTest.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/EventsSequences.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/Extensions/ViewHelper.iOSmacOS.cs
  src/Uno.UI/Extensions/ViewHelper.net.cs
  src/Uno.UI/Extensions/ViewHelper.wasm.cs
  src/Uno.UI/Mixins/Android/VisualStatesMixins.tt
  src/Uno.UI/Mixins/Wasm/VisualStatesMixins.tt
  src/Uno.UI/Mixins/iOS/VisualStatesMixins.tt
  src/Uno.UI/Mixins/macOS/VisualStatesMixins.tt
  src/Uno.UI/Mixins/net461/VisualStatesMixins.tt
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/DragCompletedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/DragDeltaEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/DragStartedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Thumb.cs
  src/Uno.UI/UI/Xaml/Controls/Slider/Slider.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch.cs
  src/Uno.UI/UI/Xaml/Input/DoubleTappedRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.wasm.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/Input/TappedRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/RoutedEvent.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.PointerCapture.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.cs
Labels: area/android, area/automation, area/build, area/wasm, kind/documentation, ready-to-merge
