Repository unoplatform/uno, pull requests merged in 2019-06, with the labels that each got.

#1010 Fix samples app invisible chooser
  src/SamplesApp/SamplesApp.Shared/MainPage.xaml
Labels: kind/regression

#1019 Dead link replaced in README.md
  README.md
Labels: kind/documentation

#1016 corrected markdown formatting issue
  doc/articles/feature-flags.md
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1020 [Wasm] Align Window.SizeChanged and ApplicationView.VisibleBoundsChanged ordering with UWP
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/Behaviors/VisibleBoundsPadding.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
Labels: area/wasm, kind/bug

#1013 Ensure FrameworkElement.LayoutUpdated is invoked properly
  build/PackageDiffIgnore.xml
  build/Uno.UI.Build.csproj
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/FrameworkElementTests/Given_FrameworkElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.macOS.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.iOSmacOS.cs
Labels: area/android, area/ios, area/macos, area/wasm, kind/bug

#1027 fixed xaml generated enum value not being globalized
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/EnumValueNamespaceTest.xaml
  src/SourceGenerators/XamlGenerationTests/EnumValueNamespaceTest.xaml.cs
Labels: kind/bug

#928 make the code of conduct more specific
  CODE_OF_CONDUCT.md
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1028 fixed keyboard flicker when backing from a page with CommandBar
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/Controls/CommandBarRenderer.Android.cs
Labels: area/android, kind/regression

#1024 fixed AppBarButton rendering on ios/android
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/controls/CommandBar.md
  doc/articles/controls/working-with-commandbar.md
  src/Uno.UI/Controls/AppBarButtonRenderer.Android.cs
  src/Uno.UI/Controls/AppBarButtonRenderer.iOS.cs
Labels: area/android, kind/bug

#1050 Add documentation to DispatcherConditionalDisposable.
  src/Uno.UI/UI/Xaml/DispatcherConditionalDisposable.cs
Labels: kind/documentation

#1031 use nameof(backingproperty) so that references show up in visual studio
  src/Uno.UWPSyncGenerator/Generator.cs
Labels: area/code-generation, kind/cleanup, kind/contributor-experience, kind/maintainer-experience

#1063 [Wasm] Fix TextBlock measure cache algorithm
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_One.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_One.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_Two_With_Wrap.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_Two_With_Wrap.xaml.cs
  src/Uno.Foundation/Size.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Controls/TextBlockTests/Given_TextBlockMeasureCache.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureEntry.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureKey.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureSizeEntry.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.cs
  src/Uno.UI/UI/Xaml/FontFamily.cs
  src/Uno.UI/UnoMetrics.cs
Labels: area/wasm

#1073 [Wasm] Fixed measure cache when text clipping is used
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Slider/Slider_Inside_ListViewHeader.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_One.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_Two_With_Wrap.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_ConstrainedByContainer.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Controls/TextBlockTests/Given_TextBlockMeasureCache.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureEntry.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureKey.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.cs
Labels: area/wasm, kind/regression

#1091 [iOS] Fix Clip blocking touch - fixes NavigationView
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/ButtonClippingTestsControl.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/ButtonClippingTestsControl.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/ButtonWithClippingAndOffset.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/ButtonWithClippingAndOffset.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/XamlButtonWithClipping.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/XamlButtonWithClipping.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/XamlButtonWithClipping_Scrollable.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clip/XamlButtonWithClipping_Scrollable.xaml.cs
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
Labels: area/ios, kind/bug, ready-to-merge

#978 delete branches after merge, enable automatic merging of prs
  .mergify.yml
Labels: kind/cleanup, kind/maintainer-experience

#1059 Added Calculator blog post
  doc/blog/201906-porting-windows-calculator.md
  doc/blog/Assets/20190612-Calculator-01.png
  doc/blog/Assets/20190612-Calculator-02.png
  doc/blog/Assets/20190612-Calculator-03.png
  doc/blog/Assets/20190612-Calculator-04.png
  doc/blog/Assets/20190612-Calculator-05.png
  doc/blog/Assets/20190612-Calculator-06.png
  doc/blog/Assets/20190612-Calculator-07.png
Labels: area/website, ready-to-merge

#1064 [iOS] Fix items dependency property propagation in ListView items
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DataContext_Propagation.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DataContext_Propagation.xaml.cs
  src/Uno.UI/Controls/BindableImageView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
Labels: area/ios, kind/bug, ready-to-merge

#1094 GitHub labels will now be automatically applied when people use the new issue button
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feedback.md
  .github/ISSUE_TEMPLATE/samples-issue.md
  .github/ISSUE_TEMPLATE/samples-request.md
  .github/ISSUE_TEMPLATE/success-story.md
Labels: kind/contributor-experience, kind/maintainer-experience, ready-to-merge

#976 add explicit instructions for security researchers how to responsibly disclose security related matters
  SECURITY.md
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience, kind/security, ready-to-merge

#1088 [WASM] ListView - take item margins into account
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.wasm.cs
Labels: area/wasm, kind/bug

#1066 implemented Windows.Devices.Sensors.Barometer
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-devices-sensors.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/BarometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/BarometerTests.xaml.cs
  src/Uno.UWP/Devices/Sensors/Barometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Barometer.cs
  src/Uno.UWP/Devices/Sensors/Barometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/BarometerReading.cs
  src/Uno.UWP/Devices/Sensors/BarometerReadingChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Barometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/BarometerReading.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/BarometerReadingChangedEventArgs.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement, ready-to-merge

#1112 Misc bugs around Xaml resources & code gen
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/UITests.Shared.shproj
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Resources/XamlGlobalResources.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Resources/XamlGlobalResources.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/SourceGenerators/XamlGenerationTests/XamlLocalResources.xaml
  src/SourceGenerators/XamlGenerationTests/XamlLocalResources.xaml.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectDefinition.cs
  src/Uno.UI/UI/Xaml/ResourceDictionary.cs
Labels: ready-to-merge

#1137 Update readme to include official ReactiveUI support
  README.md
Labels: kind/documentation

#1150 docs: updated pull-request template
  .github/pull_request_template.md
Labels: kind/documentation, ready-to-merge

#1153 automation: automatically triage/label the most voted issues by the community
  .github/topissuebot.yml
Labels: area/automation, area/community, kind/contributor-experience, kind/maintainer-experience

#1163 Adjust dependencies for VS16.2 pre compatibility
  build/Uno.UI.nuspec
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI/Controls/BindableImageSource.Android.cs
  src/Uno.UI/Extensions/NSDateExtensions.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Android.cs
  src/Uno.UWP/Uno.csproj
Labels: ready-to-merge
