Repository unoplatform/uno, pull requests merged in 2019-10, with the labels that each got.

#1646 Added additional support information.
  doc/articles/intro.md
Labels: hacktoberfest

#1650 docs: add changing `CommandBar` modes
  doc/articles/controls/CommandBar.md
Labels: hacktoberfest, kind/documentation

#1623 AppBar and CommandBar updates
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Assets/Icons/menu.png
  src/SamplesApp/UITests.Shared/Assets/Icons/search.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/AppBarButtonTemplateSettings.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/AppBarToggleButtonTemplateSettings.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/AppBarButton.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/AppBarToggleButton.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.xaml
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarButton.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarButtonTemplateSettings.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarToggleButton.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarToggleButtonTemplateSettings.cs
  src/Uno.UI/UI/Xaml/Controls/BitmapIcon.cs
  src/Uno.UI/UI/Xaml/Controls/CommandBar/CommandBar.xaml
  src/Uno.UI/UI/Xaml/Controls/Image/Image.wasm.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/UI/Xaml/Style/Generic/GenericStyles.cs
  src/Uno.UI/UI/Xaml/Style/Generic/SystemResources.xaml
Labels: area/android, area/ios, area/wasm, kind/enhancement

#1659 Fix contributors badge link
  README.md
Labels: hacktoberfest, kind/documentation

#1648 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: hacktoberfest, kind/documentation

#1652 Update faq.md Grammar and Spelling
  doc/articles/faq.md
Labels: hacktoberfest, kind/documentation

#1649 Fixed Grammatical Inconsistency ReleaseNotes.md
  doc/ReleaseNotes/_ReleaseNotes.md
Labels: hacktoberfest, kind/documentation

#1653 Minor phrasing fix suggestion
  doc/articles/getting-started-tutorial-1.md
  doc/articles/intro.md
Labels: hacktoberfest, kind/documentation

#1663 Fail fast on *nix script errors
  .azure-devops-wasm-uitests.yml
  build/android-uitest-run.sh
  build/run-automated-uitests.sh
Labels: area/automation, area/build, kind/contributor-experience, kind/maintainer-experience

#1667 Fix broken links in pull_request_template
  .github/pull_request_template.md
Labels: hacktoberfest, kind/documentation

#1678 Fixes typos in docs (articles section)
  doc/articles/controls/ListViewBase.md
  doc/articles/controls/MediaPlayerElement.md
Labels: hacktoberfest, kind/documentation

#1699 docs: fix xamarin installation broken url
  doc/articles/getting-started-tutorial-1.md
Labels: hacktoberfest, kind/documentation

#1691 Improve docs
  CONTRIBUTING.md
  doc/articles/controls/ToggleSwitch.md
  doc/articles/features/PasswordVault.md
  doc/articles/features/routed-events.md
  doc/articles/uno-development/working-with-the-samples-apps.md
  doc/blog/201906-porting-windows-calculator.md
Labels: hacktoberfest, kind/documentation

#1697 Update localization of BackButtonTitle FAQ
  doc/articles/controls/CommandBar.md
Labels: hacktoberfest, kind/documentation

#1710 Added troubleshooting steps to view generated code
  doc/articles/uno-development/debugging-uno-ui.md
Labels: kind/documentation

#1692 Fix typo in pull_request_template
  .github/pull_request_template.md
Labels: hacktoberfest, kind/documentation

#1687 housekeeping: delete unused folder
  src/UnoItemTemplates.old/BlankPage/BlankPage.png
  src/UnoItemTemplates.old/BlankPage/BlankPage.vstemplate
  src/UnoItemTemplates.old/BlankPage/BlankPage.xaml
  src/UnoItemTemplates.old/BlankPage/BlankPage.xaml.cs
  src/UnoItemTemplates.old/Properties/AssemblyInfo.cs
  src/UnoItemTemplates.old/UnoItemTemplates.csproj
Labels: kind/cleanup

#1709 IOS BugFix Datepicker min and max year get reset to fallbacknull value
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_MinYear.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_MinYear.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePicker_SampleContent.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePicker_SampleContent.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/Models/DatePickerViewModel.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerSelector.iOS.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/ios, kind/bug, kind/regression

#1690 Fix invalid BitmapIcon color propagation
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.UITests/TestFramework/AppInitializer.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/BitmapIconTests/UnoSamples_Tests.BitmapIcon.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Generic.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Generic.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/BitmapIcon.cs
Labels: area/wasm, area/xf-wasm-renderers, kind/bug, ready-to-merge

#1739 faq.md: Update LICENSE link
  doc/articles/faq.md
Labels: hacktoberfest

#1737 Fix typo
  doc/articles/Uno.UI.Toolkit.md
Labels: hacktoberfest

#1736 Fix typo
  doc/articles/features/working-with-animations.md
Labels: hacktoberfest

#1729 Determine MSBuild's version in a cross-platform way, and update NuGet metadata
  build/GetMsBuildVersion.targets
  build/Uno.UI.Build.csproj
  build/Uno.UI.Lottie.nuspec
  build/Uno.UI.WpfHost.nuspec
  build/Uno.UI.nuspec
  src/Common.targets
  src/Directory.Build.targets
  src/TargetFrameworkSelection.targets
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.csproj
Labels: hacktoberfest

#1727 Add build process summaries in README.md
  README.md
Labels: kind/documentation

#1682 Add links to visual studio
  doc/articles/using-uno-ui.md
Labels: hacktoberfest

#1681 Add missing question mark
  doc/index.md
Labels: hacktoberfest

#1556 Added support for custom MarkupExtensions
  .azure-devops-android-tests.yml
  doc/articles/supported-features.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/MarkupExtensionTests/Entity.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/MarkupExtensionTests/InverseBool.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/MarkupExtensionTests/MarkupExtension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/MarkupExtensionTests/MarkupExtensionBehaviors.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/CustomMarkupExtensions.xaml
  src/SourceGenerators/XamlGenerationTests/CustomMarkupExtensions.xaml.cs
  src/Uno.UI.Tests/App/Behaviors/AttachedPropertiesBehavior.cs
  src/Uno.UI.Tests/App/Xaml/Test_MarkupExtension.xaml
  src/Uno.UI.Tests/App/Xaml/Test_MarkupExtension.xaml.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_Xaml/MarkupExtensionTests/Given_MarkupExtension.cs
  src/Uno.UI/UI/Xaml/Markup/IMarkupExtensionOverrides.cs
  src/Uno.UI/UI/Xaml/Markup/MarkupExtensions.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement

#1712 fix: updated answer in faq.md
  doc/articles/faq.md
Labels: hacktoberfest

#1714 Fixed grammatical errors in _HOW-TO-BUILD-AND-DEBUG-APPS.md
  build/_HOW-TO-BUILD-AND-DEBUG-APPS.md
Labels: hacktoberfest

#1720 Maintained consistency in uno-ui.md fixed line breaks
  doc/articles/using-uno-ui.md
Labels: hacktoberfest, kind/documentation

#1733 Correct spelling
  doc/articles/contributing/guidelines/issue-triage.md
Labels: hacktoberfest, kind/documentation, ready-to-merge

#1745 Rectified some typos.
  doc/articles/api-differences.md
  doc/articles/concepts/overview/philosophy-of-uno.md
  doc/articles/using-uno-ui.md
Labels: hacktoberfest, kind/documentation

#1655 Minor grammar and phrasic fixes
  doc/articles/faq.md
Labels: hacktoberfest, kind/documentation

#1734 Update THIRD-PARTY-NOTICES.md
  THIRD-PARTY-NOTICES.md
Labels: hacktoberfest, kind/documentation

#1151 automation: welcome and thank new folks automatically
  .github/config.yml
Labels: area/automation, area/community, kind/contributor-experience, kind/maintainer-experience

#1722 Update debugging-uno-ui.md
  doc/articles/uno-development/debugging-uno-ui.md
Labels: kind/documentation

#1683 Fixed typo in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: kind/documentation

#1642 updated missing punctuation in the README file.
  README.md
Labels: hacktoberfest, kind/documentation

#1749 Fixed some typos
  doc/articles/api-differences.md
  doc/articles/debugging-wasm.md
  doc/articles/features/routed-events.md
Labels: hacktoberfest, kind/documentation

#1666 Update Under the Hood Intro
  doc/blog/201808-UnoUnderTheHoodIntro.md
Labels: hacktoberfest, kind/documentation

#1738 Use HTTPS URL when possible
  README.md
Labels: hacktoberfest

#1696 Bug Fix :1677
  CONTRIBUTING.md
Labels: kind/documentation

#1673 Fix spelling/grammar in docs for existing code migration
  doc/articles/howto-migrate-existing-code.md
Labels: hacktoberfest, kind/documentation

#1686 Fix typo in 201901-WebAssembly-Projects-and-debugging.md
  doc/blog/201901-WebAssembly-Projects-and-debugging.md
Labels: hacktoberfest, kind/documentation

#1680 Update typo in faq.md
  CONTRIBUTING.md
  doc/articles/faq.md
Labels: kind/documentation

#1628 Dark & HighContrast theme, system theme detection
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/working-with-themes.md
  doc/articles/toc.yml
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/App/App.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Windows/UI/Core/SystemNavigationManager.ts
  src/Uno.UI.Wasm/ts/Windows/UI/Xaml/Application.ts
  src/Uno.UI.Wasm/ts/Windows/UI/Xaml/ApplicationTheme.ts
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Application.net.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/ApplicationHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UI/UI/Xaml/Style/Generic/SystemResources.xaml
Labels: area/a11y, area/android, area/ios, area/wasm

#1603 housekeeping: find and replace nventive/uno to unoplatform/uno
  CONTRIBUTING.md
  README.md
  THIRD-PARTY-NOTICES.md
  build/Uno.UI.Lottie.nuspec
  build/Uno.UI.WpfHost.nuspec
  build/Uno.UI.nuspec
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/contributing/guidelines/breaking-changes.md
  doc/articles/faq.md
  doc/articles/get-started.md
  doc/articles/getting-started-tutorial-1.md
  doc/articles/using-uno-ui.md
  doc/blog/201708-Importing-SL-Toolkit-part-1.md
  doc/blog/201807-WindowsCommunityToolkit.md
  doc/blog/201808-UnoUnderTheHoodButton.md
  doc/blog/201808-UnoUnderTheHoodIntro.md
  doc/blog/201809-UnoUnderTheHoodDependencyObjectGeneration.md
  doc/blog/201809-UnoUnderTheHoodXamlGeneration.md
  doc/blog/201809-uno-wasm-intro-part-01.md
  doc/blog/201901-WebAssembly-Projects-and-debugging.md
  doc/blog/201903-using-wsl-to-build-aot.md
  doc/blog/201906-porting-windows-calculator.md
  doc/blog/201907-SkiaSharp-for-wasm-support.md
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Wasm/WasmCSS/Fonts.css
  src/SolutionTemplate/UnoSolutionTemplate.VISX/source.extension.vsixmanifest
  src/SolutionTemplate/UnoSolutionTemplate/UWP/UnoQuickStart.Uwp.csproj
  src/Uno.Foundation/FoundationFeatureConfiguration.cs
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.csproj
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoViewGroup.java
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.xaml
  src/Uno.UI/UI/Xaml/Controls/Primitives/CarouselPanel.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimation.cs
  src/Uno.UWPSyncGenerator/DocGenerator.cs
Labels: kind/cleanup

#1770 Adjust the icons of the samples app
  src/SamplesApp/SamplesApp.Shared/Assets/lockscreenlogo.scale-200.png
  src/SamplesApp/SamplesApp.Shared/Assets/splashscreen.scale-200.png
  src/SamplesApp/SamplesApp.Shared/Assets/square150x150logo.scale-200.png
  src/SamplesApp/SamplesApp.Shared/Assets/square44x44logo.scale-200.png
  src/SamplesApp/SamplesApp.Shared/Assets/storelogo.png
  src/SamplesApp/SamplesApp.Shared/Assets/wide310x150logo.scale-200.png
  src/SamplesApp/SamplesApp.iOS/Resources/Default-568h@2x.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-128.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-128@2x.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-16.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-16@2x.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-256.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-256@2x.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-32.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-32@2x.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-512.png
  src/SamplesApp/SamplesApp.macOS/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
Labels: kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1743 Added a change to make the MarkupExtensionReturnType optional
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/CustomMarkupExtensions.xaml
  src/SourceGenerators/XamlGenerationTests/CustomMarkupExtensions.xaml.cs
  src/Uno.UI.Tests/App/Xaml/Test_MarkupExtension.xaml
  src/Uno.UI.Tests/App/Xaml/Test_MarkupExtension.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/MarkupExtensionTests/Given_MarkupExtension.cs
Labels: kind/enhancement

#1618 Update CommandBar.md to include VisibleBoundsPadding
  doc/articles/controls/CommandBar.md
Labels: kind/documentation, ready-to-merge

#1773 housekeeping: automatically label pull-requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: area/automation, area/build, kind/consumer-experience, kind/contributor-experience, kind/maintainer-experience, ready-to-merge

#1771 fix: ".Uno" in project names results in build errors
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml.cs
Labels: area/solution-templates, kind/bug, kind/consumer-experience

#1775 feature: enable wasm debugging by default
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
Labels: area/solution-templates, area/wasm, area/wasm-devtools, kind/consumer-experience

#1783 update readme
  README.md
Labels: kind/documentation

#1772 housekeeping: adjusted github issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/samples-request.md
Labels: area/automation, kind/cleanup

#1799 Fix inherited "IsEnabled" property on Wasm
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerTests/UnoSamples_Tests.FocusManager.cs
  src/SamplesApp/SamplesApp.UWP.Design/Class1.cs
  src/SamplesApp/SamplesApp.UWP.Design/SamplesApp.UWP.Design.csproj
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Enability/BasicEnability.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Enability/BasicEnability.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/FocusManager_GetFocus_Automated.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/FocusManager.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/FocusManagerGotFocusEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/FocusManagerLostFocusEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/IFrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElement.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.cs
  src/Uno.UI/UI/Xaml/Input/FocusManagerGotFocusEventArgs.cs
  src/Uno.UI/UI/Xaml/Input/FocusManagerLostFocusEventArgs.cs
Labels: area/automation, area/wasm, kind/bug, ready-to-merge

#1784 Make WASM Image not draggable and selectable by default
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Wasm/WasmCSS/Uno.UI.css
  src/Uno.UI/UI/Xaml/Controls/Image/Image.wasm.cs
Labels: area/wasm, kind/bug, ready-to-merge

#1792 Update faq.md
  doc/articles/faq.md
Labels: kind/documentation

#1793 fixed some typos
  doc/articles/faq.md
Labels: kind/documentation

#1807 Improve documentation quality and fixes typos
  doc/articles/api-differences.md
  doc/articles/controls/Pivot.md
  doc/articles/features/SpeechRecognition.md
  doc/articles/features/working-with-assets.md
  doc/articles/uno-development/debugging-inspect-visual-tree.md
Labels: hacktoberfest, kind/documentation, ready-to-merge

#1812 Bump minor version to 2.0.512
  gitversion.yml
Labels: area/build, ready-to-merge

#1817 Fixed minor documentation typo
  doc/articles/Uno.UI.Toolkit.md
Labels: hacktoberfest, kind/documentation

#1811 Minor improvements to docs
  doc/articles/debugging-wasm.md
Labels: kind/documentation, ready-to-merge

#1824 Fix the labeling issues with Android, iOS and WASM
  .github/labeler.yml
Labels: area/automation

#1819 Fix typo on Uno-UI-Performance.md
  doc/articles/Uno-UI-Performance.md
Labels: kind/documentation

#1820 Fix some typos on faq.md
  doc/articles/faq.md
Labels: hacktoberfest, kind/documentation

#1835 docs: link to UnitTestControl and UnitTestsPage
  doc/articles/uno-development/working-with-the-samples-apps.md
Labels: kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1803 doc: delete stale and incorrect document
  build/_HOW-TO-BUILD-AND-DEBUG-APPS.md
Labels: kind/documentation, ready-to-merge

#1828 fixed broken link to ListViewBase
  doc/articles/api-differences.md
Labels: kind/documentation

#1108 docs: created guidelines for updating dependencies
  doc/articles/contributing/guidelines/updating-dependencies.md
Labels: kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1290 docs: guidelines for releasing uno
  doc/articles/contributing/guidelines/creating-a-new-release.md
  doc/articles/toc.yml
Labels: area/build, kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1841 housekeeping: spelling mistakes
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/routed-events.md
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlRedirection/XamlConfig.cs
  src/SourceGenerators/XamlGenerationTests/CollectionsTests.xaml
  src/SourceGenerators/XamlGenerationTests/Grid.Test.xaml
  src/T4Generator/Program.cs
  src/Uno.UI/Controls/BindableView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
Labels: kind/documentation

#1840 housekeeping: improved styling of the README.md
  README.md
Labels: kind/documentation

#1744 Geolocator on WASM
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-devices-geolocation.md
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/SamplesApp/UITests.Shared/Helpers/BindableBase.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/GeolocatorTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/GeolocatorTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Devices/GeopositionDisplayControl.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/GeopositionDisplayControl.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Windows/Devices/Geolocation/Geolocator.ts
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UWP/Devices/Geolocation/AltitudeReferenceSystem.cs
  src/Uno.UWP/Devices/Geolocation/GeolocationAccessStatus.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.Android.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.iOS.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.wasm.cs
  src/Uno.UWP/Devices/Geolocation/Geopoint.cs
  src/Uno.UWP/Devices/Geolocation/GeoshapeType.cs
  src/Uno.UWP/Devices/Geolocation/PositionAccuracy.cs
  src/Uno.UWP/Devices/Geolocation/PositionChangedEventArgs.cs
  src/Uno.UWP/Devices/Geolocation/PositionStatus.cs
  src/Uno.UWP/Devices/Geolocation/StatusChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Geolocation/AltitudeReferenceSystem.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Geolocation/GeolocationAccessStatus.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Geolocation/Geolocator.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Geolocation/Geopoint.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Geolocation/GeoshapeType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Geolocation/PositionStatus.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Geolocation/StatusChangedEventArgs.cs
Labels: area/wasm, kind/enhancement

#1768 Removing invalid this for Storyboard.SetTarget
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/StoryboardTargetTest.xaml
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
Labels: area/code-generation, kind/bug

#1818 Static resources defined in App.xaml were not processed properly
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/AppXamlResourcesTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/ThemeResources/AppXamlDefinedResources.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/ThemeResources/AppXamlDefinedResources.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/automation, area/code-generation, ready-to-merge

#1854 Add support for AutomationProperties.AutomationId
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/working-with-accessibility.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Automation/AutomationId_Tests.cs
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI.Xaml_Automation/AutomationProperties_AutomationId.xaml
  src/SamplesApp/UITests.Shared/Windows_UI.Xaml_Automation/AutomationProperties_AutomationId.xaml.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation/AutomationProperties.cs
  src/Uno.UI/UI/Xaml/Automation/AutomationProperties.cs
  src/Uno.UI/UI/Xaml/FrameworkElementHelper.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/nuget.config
Labels: area/automation, area/xf-wasm-renderers, kind/documentation

#1855 Fix Android ListView crash when using ObservableCollection with Heade…
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
Labels: area/android, kind/documentation

#1860 docs: center logo position in the readme
  README.md
Labels: hacktoberfest, kind/documentation

#1212 docs: guidelines for code style
  doc/articles/contributing/guidelines/code-style.md
  doc/articles/toc.yml
Labels: area/build, kind/contributor-experience, kind/documentation, kind/maintainer-experience, ready-to-merge

#1857 feature: update CheckBox style to 10.0.17763
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/UI/Xaml/Style/Generic/SystemResources.xaml
Labels: area/xf-wasm-renderers, kind/documentation

#1875 fix: App.xaml without resources NRE
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#1871 Update get-started.md
  doc/articles/get-started.md
Labels: kind/documentation

#1853 Update README.md
  README.md
Labels: kind/documentation

#1874 Fix PasswordBox reveal does not toggle back off
  src/Uno.UI/UI/Xaml/Controls/PasswordBox/PasswordBox.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: area/android, area/ios, area/wasm, kind/bug

#1873 Misc Grid updates
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/Uno.UI.RuntimeTests/IntegrationTests/common/DisableErrorReportingScopeGuard.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestCleanupWrapper.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/grid/GridIntegrationTests.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_GridLength.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/LayoutInformation.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/LayoutInformation.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/GridLength.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/automation, area/wasm, kind/documentation, ready-to-merge

#1790 fix: ApplicationData.Current.[LocalFolder|RoamingFolder] throws a NRE exception
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Droid/Main.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate/Droid/Main.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UWP/Storage/ApplicationData.Android.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.Android.cs
Labels: area/android, area/automation, area/solution-templates, do-not-merge/work-in-progress, kind/documentation

#1814 Basic ProgressRing implementation for WASM
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Progress/ProgressRing.xaml
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/ProgressRingTemplateSettings.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ProgressRing.cs
  src/Uno.UI/UI/Xaml/Controls/ProgressRing/ProgressRing.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ProgressRing/ProgressRingTemplateSettings.wasm.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/Uno.UI.csproj
Labels: area/wasm, kind/enhancement

#1908 docs: minor capitalization error
  doc/articles/platform-specific-xaml.md
Labels: kind/documentation

#1887 docs: add thank-you to README
  README.md
Labels: kind/documentation

#1889 Updated Uno+WASM documentation for Uno.Ui
  src/SourceGenerators/README.md
  src/Uno.UI.Wasm/WasmCSS/Uno.UI.css
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
Labels: kind/documentation

#1897 docs: removed space from Hello world!
  src/SolutionTemplate/UnoSolutionTemplate/Shared/MainPage.xaml
Labels: kind/documentation

#1909 automation: avoid labeling external PRs
  .github/workflows/labeler.yml
Labels: area/automation

#1801 automation: automatically merge PR's from the allcontributors r…
  .mergify.yml
Labels: area/automation, area/community, kind/maintainer-experience, ready-to-merge

#1213 docs: information where to get pre-release builds
  doc/articles/contributing/build-artifacts.md
  doc/articles/toc.yml
Labels: kind/contributor-experience, kind/documentation, kind/maintainer-experience, ready-to-merge

#1910 docs: misc fixes
  doc/articles/features/VisibleBoundsPadding.md
  doc/articles/features/shapes-and-brushes.md
  doc/articles/features/windows-applicationmodel-calls.md
  doc/articles/features/windows-system.md
  doc/articles/features/working-with-themes.md
Labels: kind/documentation

#1894 fix(articles): fix broken paths to images in .md files
  doc/articles/controls/CommandBar.md
  doc/articles/uno-development/Uno-UI-Debugging-Android-Studio.md
  doc/articles/uno-development/Uno-UI-Layouting-Android.md
  doc/articles/uno-development/Uno-UI-Layouting-iOS.md
  doc/articles/uno-development/debugging-inspect-visual-tree.md
Labels: kind/documentation

#1923 docs: spelling mistake
  src/Uno.UI/FeatureConfiguration.cs
Labels: kind/documentation

#1911 Fix grammatical errors in map-control-support.md
  doc/articles/controls/map-control-support.md
Labels: kind/documentation

#1922 routed-events.md
  doc/articles/features/routed-events.md
Labels: kind/documentation, ready-to-merge

#1921 docs: grammar corrections
  doc/blog/201708-Importing-SL-Toolkit-part-1.md
Labels: kind/documentation, ready-to-merge

#1920 Fix native button and ToggleSwitch templates
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Test_NativeButtons.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Buttons_Native.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Buttons_Native.xaml.cs
  src/Uno.UI-Android-only.slnf
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch.cs
Labels: area/android, area/automation, area/ios

#1813 Basic Implementation for Polyline and shapes sample
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipsePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipsePage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/LinePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/LinePage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolygonPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolygonPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolylinePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolylinePage.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Shapes/Polyline.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.wasm.cs
  src/Uno.UI/Uno.UI.csproj
Labels: area/android, area/automation, area/wasm, kind/documentation

#1919 [WASM] Add support for PathGeometry
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media/GeometryTests/UnoSamples_Tests.ArcSegment.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media/GeometryTests/UnoSamples_Tests.BezierSegment.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media/GeometryTests/UnoSamples_Tests.LineSegmentPage.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/ArcSegmentPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/ArcSegmentPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/BezierSegmentPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/BezierSegmentPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/LineSegmentPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/LineSegmentPage.xaml.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs
Labels: area/automation, area/wasm, kind/documentation

#1931 Fix ContentControl.Content binding in Android ListView Header and Footer
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Header_DataContextChanging.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Header_DataContextChanging.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBaseAdapter.Android.cs
Labels: area/android, area/automation, kind/documentation

#1934 docs: resolve grammatical and linguistic issues
  README.md
Labels: kind/documentation, ready-to-merge

#1942 Restore 16299 target in uno.ui.nuspec
  build/Uno.UI.nuspec
Labels: area/build

#1711 Update error message in the BindableTypeProvidersGenerationTask.cs file
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation, hacktoberfest, kind/consumer-experience, kind/documentation, kind/enhancement

#1957 Fix invalid debug generated code
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation, ready-to-merge

#1975 Enable iOS Runtime Tests validation
  .azure-devops-ios-tests.yml
  .azure-devops-windows.yml
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/grid/GridIntegrationTests.cs
  src/Uno.UWP/Extensions/CoreDispatcherExtensions.cs
  src/Uno.UWP/System/Launcher.cs
Labels: area/automation, area/build, area/ios, area/ui-tests, ready-to-merge

#1954 fixed a text wrapping issue caused by layout height desync
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_TextWrapping_PR1954_EdgeCase.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_TextWrapping_PR1954_EdgeCase.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
Labels: area/android, area/automation, kind/documentation

#1829 Added PackageId properties
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-applicationmodel.md
  doc/articles/toc.yml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/PackageTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/PackageTests.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel/Given_Package.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel/Given_PackageId.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_Launcher.cs
  src/Uno.UWP/ApplicationModel/Package.Android.cs
  src/Uno.UWP/ApplicationModel/Package.cs
  src/Uno.UWP/ApplicationModel/Package.iOS.cs
  src/Uno.UWP/ApplicationModel/PackageId.Android.cs
  src/Uno.UWP/ApplicationModel/PackageId.cs
  src/Uno.UWP/ApplicationModel/PackageId.iOS.cs
  src/Uno.UWP/ApplicationModel/PackageVersion.cs
Labels: area/android, area/ios, kind/enhancement, ready-to-merge

#1970 Implemented AnalyticsInfo properties
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-system-profile.md
  doc/articles/toc.yml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_System/Profile/AnalyticsInfoTests.xaml
  src/SamplesApp/UITests.Shared/Windows_System/Profile/AnalyticsInfoTests.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Profile/Given_AnalyticsInfo.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Windows/System/Profile/AnalyticsVersionInfo.ts
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.Profile/AnalyticsInfo.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.Profile/AnalyticsVersionInfo.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.Android.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.iOS.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.wasm.cs
  src/Uno.UWP/System/Profile/AnalyticsVersionInfo.Android.cs
  src/Uno.UWP/System/Profile/AnalyticsVersionInfo.iOS.cs
  src/Uno.UWP/System/Profile/AnalyticsVersionInfo.wasm.cs
  src/Uno.UWP/System/Profile/Internal/UnoDeviceForm.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement, ready-to-merge

#1927 docs: minor fix
  README.md
  doc/articles/faq.md
Labels: kind/documentation, ready-to-merge

#1997 README: Mention libvlcsharp in supported frameworks list
  README.md
Labels: hacktoberfest, kind/documentation
