Repository unoplatform/uno, pull requests merged in 2019-08, with the labels that each got.

#1330 docs: guidelines for breaking changes
  doc/articles/contributing/guidelines/breaking-changes.md
  doc/articles/toc.yml
  doc/articles/uno-development/debugging-uno-ui.md
Labels: kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1326 Adjust screenshots names for automated tests
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
Labels: area/android, area/automation, kind/cleanup

#1307 Fix to infinite loop with listviewHeaders
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/HorizontalListViewGrouped.xaml
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanelLayout.iOS.cs
Labels: area/ios, ready-to-merge

#1208 Check for dataContext to avoid recyclingTemplate when unneeded
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ToggleSwitchTests/UnoSamples_Tests.ToggleSwitch.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToggleSwitchControl/Models/ToggleSwitchViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToggleSwitchControl/ToggleSwitch_TemplateReuse.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToggleSwitchControl/ToggleSwitch_TemplateReuse.xaml.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePool.cs
Labels: area/android, area/ios, area/wasm, kind/bug

#1287 Added Sample for RotatedListView with RotatedItems
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/RotatedListView_WithRotatedItems.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/RotatedListView_WithRotatedItems.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Models/RotatedListViewViewModel.cs
Labels: kind/consumer-experience, kind/documentation

#1331 Fix to Issues caused by TopNotch on Android
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoViewGroup.java
  src/Uno.UI/LayoutProvider.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
Labels: area/android, kind/bug

#1295 [WASM] Apply TextBox.IsEnabled correctly
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Disabled.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Disabled.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
Labels: area/wasm, kind/bug

#1349 fix: path defect caused by known vswin bug
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
Labels: area/automation, area/vswin, kind/bug

#1353 Fix MaxLength handling on Android and WASM
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_MaxLength.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_MaxLength.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: area/android, area/wasm, kind/bug

#1308 Refactored Drawable helper to Uno project
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI/Controls/BindableImageSource.Android.cs
  src/Uno.UI/DebugHelper.Android.cs
  src/Uno.UI/DrawableHelper.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UWP/Helpers/DrawableHelper.Android.cs
Labels: area/android, kind/cleanup

#1351 Fix inverted vertical slider
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/SliderTests/UnoSamples_Tests.Slider_Vertical_Tap.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Slider/Slider_Simple.xaml
  src/Uno.UI/UI/Xaml/Controls/Slider/Slider.cs
Labels: area/android, area/ios, kind/bug

#1356 Errors setting some properties on root of XAML file
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Properties/DataContextProperty.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Properties/DataContextProperty.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/Grid.Test.AsRoot.xaml
Labels: kind/bug

#1358 Fix to flyouts resorting to default when flyout is bigger than anchor
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Simple.xaml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/FlyoutTests/Given_Flyout.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.net.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPopupPanel.cs
Labels: area/android, area/ios, kind/bug

#1334 Added Sample for Keyboard Modal Click-through troubleshooting
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Clickthrough_Modal.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Clickthrough_Modal.xaml.cs
Labels: area/automation, kind/contributor-experience, kind/maintainer-experience

#1380 iOS head generated by Uno Solution Template now specifies MinimumOSVersion, in line with XF so first compile is successful
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SolutionTemplate/UnoSolutionTemplate/iOS/Info.plist
Labels: area/ios, kind/bug, kind/consumer-experience

#1383 resolve Android compilation error due to invalid filenames
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
Labels: area/android, area/automation, area/solution-templates, kind/bug, kind/consumer-experience

#1306 Windows.UI.StartScreen.JumpList
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/Assets/features/jumplist/android.png
  doc/articles/Assets/features/jumplist/ios.png
  doc/articles/features/windows-ui-startscreen.md
  doc/articles/toc.yml
  src/SamplesApp/SamplesApp.Droid/Main.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Shared/Assets/Icons/home.png
  src/SamplesApp/SamplesApp.Shared/Assets/Icons/play.png
  src/SamplesApp/SamplesApp.Shared/MainPage.xaml.cs
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/UITests.Shared/Helpers/BindableBase.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_StartScreen/JumpListTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_StartScreen/JumpListTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_StartScreen/JumpListTestsViewModel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_StartScreen/Given_JumpListItem.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UWP/ApplicationModel/Activation/LaunchActivatedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.StartScreen/JumpList.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.StartScreen/JumpListItem.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.StartScreen/JumpListItemKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.StartScreen/JumpListSystemGroupKind.cs
  src/Uno.UWP/UI/StartScreen/Extensions/JumpListItemExtensions.Android.cs
  src/Uno.UWP/UI/StartScreen/Extensions/JumpListItemExtensions.iOS.cs
  src/Uno.UWP/UI/StartScreen/Extensions/ShortcutInfoExtensions.Android.cs
  src/Uno.UWP/UI/StartScreen/Extensions/UIApplicationShortcutItemExtensions.iOS.cs
  src/Uno.UWP/UI/StartScreen/JumpList.Android.cs
  src/Uno.UWP/UI/StartScreen/JumpList.cs
  src/Uno.UWP/UI/StartScreen/JumpList.iOS.cs
  src/Uno.UWP/UI/StartScreen/JumpListItem.cs
  src/Uno.UWP/UI/StartScreen/JumpListItemKind.cs
  src/Uno.UWP/UI/StartScreen/JumpListSystemGroupKind.cs
Labels: area/android, area/ios, kind/enhancement

#1262 Fix DatePickerFlyout & TimePickerFlyout not being placed at the bottom
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_Automated.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerSample.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_LargeContent.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_LargeContent.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/TimePicker_Flyout_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/TimePicker_Flyout_Automated.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.net.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/PickerFlyoutPopupPanel.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerFlyout.iOS.cs
Labels: area/ios, kind/bug

#1373 [Android] Improved fix for animation cut off within transformed view hierarchy
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Transformed_Ancestor_And_UI_Blocked.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Transformed_Ancestor_And_UI_Blocked.xaml.cs
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoViewGroup.java
  src/Uno.UI/Media/NativeRenderTransformAdapter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ProgressRing/ProgressRing.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.Android.cs
Labels: area/android, kind/bug

#1406 housekeeping: increase "top issues" amount to 30 in order to de…
  .github/topissuebot.yml
Labels: area/automation, area/community

#1435 Add basic support for MainView and Views in CoreApplication
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Core/CoreApplication.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement

#1429 Surface all ProgressBar constructors
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/Controls/BindableProgressBar.Android.cs
Labels: area/android, kind/enhancement

#1318 docs: corrected hyperlink
  doc/articles/faq.md
Labels: kind/consumer-experience, kind/documentation

#1443 ThemeResource bugfixes
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/ThemeResourcesTest.xaml
Labels: area/code-generation, kind/bug
