Repository unoplatform/uno, pull requests merged in 2019-03, with the labels that each got.

#680 Fix applications not resizing properly when installed as PWA on iOS
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
Labels: bug

#690 Enhance animation for WASM
  doc/articles/working-with-animations.md
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopFloatAnimator.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimationUsingKeyFrames.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimationUsingKeyFrames.wasm.cs
Labels: bug, enhancement

#684 Align TextBox events handling behavior with Windows
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: enhancement

#685 Misc fixes for events support
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation.Peers/AutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/PointerRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/AutomationPeer.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: enhancement

#682 Add support for `BindingExpression.UpdateSource()`
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Data/BindingExpression.cs
Labels: enhancement

#699 Added nuget package for Uno.UI.Lottie
  build/Uno.UI.Lottie.nuspec
  build/Uno.UI.WpfHost.nuspec
  build/Uno.UI.nuspec
  build/Uno.UI.proj
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.Android.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.wasm.cs
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/AddIns/Uno.UI.Lottie/WasmScripts/uno-lottie.d.ts
  src/AddIns/Uno.UI.Lottie/WasmScripts/uno-lottie.js
  src/AddIns/Uno.UI.Lottie/ts/Uno.UI.Lottie.ts
  src/AddIns/Uno.UI.Lottie/ts/lottie-web.d.ts
  src/Uno.UI.Maps/Uno.UI.Maps.csproj
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/AnimatedVisualPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/IAnimatedVisualSource.cs
Labels: enhancement, wasm
