Repository unoplatform/uno, pull requests merged in 2019-01, with the labels that each got.

#485 [Wasm] RotateTransform were not considering TransformOrigin
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_CompositeTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_CompositeTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_Off_Centre_RotateTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_Off_Centre_RotateTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_Off_Centre_ScaleTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_Off_Centre_ScaleTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_RotateTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_RotateTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_ScaleTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_ScaleTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_TranslateTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Border_With_TranslateTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Grid_With_RotateTransform_And_Button.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Grid_With_RotateTransform_And_Button.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Image_With_RotateTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Image_With_RotateTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Polygon_With_RotateTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Polygon_With_RotateTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Rectangle_With_RotateTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Rectangle_With_RotateTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TextBox_With_RotateTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TextBox_With_RotateTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TransformToVisual_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TransformToVisual_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TransformToVisual_Translate2d.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TransformToVisual_Translate2d.xaml.cs
  src/Uno.UI/UI/Xaml/Media/RotateTransform.Android.cs
  src/Uno.UI/UI/Xaml/Media/RotateTransform.cs
  src/Uno.UI/UI/Xaml/Media/RotateTransform.wasm.cs
  src/Uno.UI/UI/Xaml/Media/ScaleTransform.Android.cs
  src/Uno.UI/UI/Xaml/Media/ScaleTransform.cs
  src/Uno.UI/UI/Xaml/Media/ScaleTransform.wasm.cs
  src/Uno.UI/UI/Xaml/Media/SkewTransform.Android.cs
  src/Uno.UI/UI/Xaml/Media/SkewTransform.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Transform.cs
Labels: bug, wasm

#487 Fix iOS support, improve CoreDispatcher performance
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Wasm/Uno.UI.Wasm.csproj
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/WasmScripts/setImmediate.js
  src/Uno.UI.Wasm/ts/CoreDispatcher.ts
  src/Uno.UI.Wasm/ts/MonoSupport.ts
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI.Wasm/tsBindings/WindowManagerInitParams.ts
  src/Uno.UI.WpfHost/UnoHostView.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.Wasm.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.wasm.cs
Labels: wasm

#490 Handle the load events from managed code to reduce interop
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/LoadEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/LoadEvents.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI.Wasm/tsBindings/WindowManagerInitParams.ts
  src/Uno.UI/Configuration.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.wasm.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.Wasm.cs
Labels: wasm

#496 Fix broken ComboBox on Wasm
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserContent.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleControlInfoAttribute.cs
  src/SamplesApp/SamplesApp.Wasm/Properties/launchSettings.json
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/UITests.Shared/Helpers/ViewModelBase.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ComboBoxItem_Selection.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ComboBoxItem_Selection.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Corners.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Corners.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_DisplayMemberPath.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_DisplayMemberPath.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_DropDownWidth.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_DropDownWidth.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Empty.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Empty.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Header.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Header.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ItemsSource.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ItemsSource.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Legacy.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Legacy.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_NativePopup.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_NativePopup.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Picker.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Picker.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_PlaceholderText.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_PlaceholderText.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Popover.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Popover.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ScrollViewer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_SelectedItem.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_SelectedItem.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_With_ItemContainerStyle.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_With_ItemContainerStyle.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_With_ItemTemplate.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_With_ItemTemplate.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/Models/ComboBoxViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/Models/ListViewViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/Picker_Resizable.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/Picker_Resizable.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Models/ImageWithLateSourceViewModel.cs
  src/Uno.UI.Wasm/Uno.UI.Wasm.csproj
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBoxItem.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupBase.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: bug, wasm

#516 Restore the ability to define resources using the simple structure
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
Labels: Beta Release
