Repository unoplatform/uno, pull requests merged in 2019-07, with the labels that each got.

#1156 Enable DependencyProperties to be set reentrantly
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_TextChanged.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_TextChanged.xaml.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.TwoWay.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.Inversion.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBoxTests/Given_TextBox.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
Labels: ready-to-merge

#1152 automation: close issues marked with 'triage/needs-information' if no reply in 20 days.
  .github/no-response.yml
Labels: area/automation, area/community, kind/contributor-experience, kind/maintainer-experience, ready-to-merge

#987 fixed button flyout placement for android
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPopupPanel.cs
Labels: area/android, kind/bug

#1102 added triage guidelines
  doc/articles/contributing/guidelines/issue-triage.md
  doc/articles/toc.yml
  doc/articles/uno-development/guidelines-for-creating-and-triaging-issues.md
Labels: kind/contributor-experience, kind/documentation, kind/maintainer-experience, ready-to-merge

#1105 added guidelines for reviewing and merging pull requests
  doc/articles/contributing/guidelines/pull-requests.md
  doc/articles/toc.yml
Labels: kind/contributor-experience, kind/documentation, kind/maintainer-experience, ready-to-merge

#1109 documented the Uno Platform requirements
  doc/articles/getting-started/requirements.md
  doc/articles/toc.yml
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience, ready-to-merge

#1071 Adjusted OnRunJavaScriptAlertPanel according to the WKUIDelegate recipe
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebViewControl_JavaScript_Alert_Confirm_Prompt.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebViewControl_JavaScript_Alert_Confirm_Prompt.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebViewObserverBehavior.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebViewSampleBehavior.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebViewStaticViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebViewViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Alert.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Alert.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_ChromeClient.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_ChromeClient.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Events.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Events.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_JavascriptInvoke.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_JavascriptInvoke.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Mailto.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Mailto.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_NavigateToString.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_NavigateToString.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_NavigateToUri.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_NavigateToUri.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Static.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Static.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_WithHeaders.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_WithHeaders.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/UnoWKWebView.iOS.cs
Labels: area/android, kind/bug

#1178 SkiaSharp blog
  doc/blog/201907-SkiaSharp-for-wasm-support.md
  doc/blog/Assets/201906-skiasharp-demo.png
Labels: kind/documentation

#1184 Add Android UI Testing in PRs
  .azure-devops-android-tests.yml
  .azure-devops-macos.yml
  .vsts-ci.yml
  build/android-uitest-run.sh
  build/run-automated-uitests.sh
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/uno-development/working-with-the-samples-apps.md
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Droid/MainActivity.cs
  src/SamplesApp/SamplesApp.Droid/Properties/AndroidManifest.xml
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.Shared/Assets/square44x44logo.targetsize-24_altform-unplated.png
  src/SamplesApp/SamplesApp.Shared/MainPage.xaml.cs
  src/SamplesApp/SamplesApp.Shared/Samples/UnitTests/UnitTestsPage.xaml.cs
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/SamplesApp.Shared/Strings/en-US/Resources.resw
  src/SamplesApp/SamplesApp.Shared/Strings/en/Resources.resw
  src/SamplesApp/SamplesApp.UITests/AppInitializer.cs
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerTests/UnoSamples_Tests.FocusManager.cs
  src/Uno.UI-Android-only.slnf
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Services/Given_ResourceService.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
Labels: area/android, area/automation, kind/contributor-experience, kind/maintainer-experience

#1106 Aligning settings with UWP
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_ApplicationDataContainer.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.Android.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.iOS.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.wasm.cs
  src/Uno.UWP/Storage/DataTypeSerializer.cs
Labels: area/android, area/ios, kind/bug

#1149 automation: automatically invite contributors to the github organization
  .github/invite-contributors.yml
Labels: area/automation, area/community, kind/contributor-experience, kind/maintainer-experience, kind/security, ready-to-merge

#1189 BugFix - Adds check to onFocusChanged unfocusing when setting focus causing loop
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.cs
Labels: area/ios, kind/bug, ready-to-merge

#1188 Initial support for ThemeResources
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/api-differences.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/ThemeResources/BasicThemeResources.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/ThemeResources/BasicThemeResources.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/GlobalStaticResources02.xaml
  src/SourceGenerators/XamlGenerationTests/ThemeResourcesTest.xaml
  src/SourceGenerators/XamlGenerationTests/XBindUserControl.xaml
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/Uno.UI/UI/Xaml/ApplicationHelper.cs
Labels: kind/enhancement

#1161 housekeeping: implement the codeowners convention
  .github/CODEOWNERS
Labels: area/automation, kind/contributor-experience, kind/maintainer-experience

#1181 docs: removed incorrect prefix hyphen from toc
  doc/articles/toc.yml
Labels: kind/documentation, ready-to-merge

#1190 Fix possible crash with AudioToolbox
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Media/Playback/MediaPlayer.iOS.cs
Labels: area/ios, kind/bug, ready-to-merge

#1211 Adjust DisplayInformation.LogicalDPI value to UWP's
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Graphics/Display/DisplayInformation.Android.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.iOS.cs
Labels: area/android, area/ios, kind/bug

#1210 Fix to Date/Time Pickers crashing from no content
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/PickerFlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/PickerFlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerFlyout.iOS.cs
Labels: area/android, area/ios, kind/bug

#1214 Complete the tentative to avoid crash in AudioToolBox
  src/Uno.UWP/Media/Playback/MediaPlayer.iOS.cs
Labels: area/ios, kind/bug, ready-to-merge

#1182 docs: documented visual studio requirements
  doc/articles/getting-started/requirements.md
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, ready-to-merge

#1176 Windows.Devices.Sensors.Accelerometer
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-devices-sensors.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/ValueConverters/BoolNegationValueConverter.cs
  src/SamplesApp/UITests.Shared/Windows_Devices/AccelerometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/AccelerometerTests.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Windows/Device/Sensors/Accelerometer.ts
  src/Uno.UI/Controls/RootViewController.iOS.cs
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UWP/Devices/Sensors/Accelerometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerReading.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerReadingChangedEvenArgs.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerReadingType.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerShakenEventArgs.cs
  src/Uno.UWP/Devices/Sensors/Barometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Barometer.cs
  src/Uno.UWP/Devices/Sensors/Barometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Helpers/SensorHelpers.Android.cs
  src/Uno.UWP/Devices/Sensors/Helpers/SensorHelpers.iOS.cs
  src/Uno.UWP/Devices/Sensors/Helpers/ShakeDetector.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Accelerometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/AccelerometerReading.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/AccelerometerReadingChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/AccelerometerReadingType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/AccelerometerShakenEventArgs.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement

#1240 docs: spelling fix
  doc/blog/201809-UnoUnderTheHoodXamlGeneration.md
Labels: kind/cleanup, kind/documentation

#1134 ComboBox virtualization, item kidnapping fixes
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.ComboBox.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ComboBoxItem_Selection.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ComboBoxItem_Selection.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Aligned_Left.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Aligned_Left.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Models/ListViewViewModel.cs
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBoxItem.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/IVirtualizingPanel.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanelLayout.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanelLayout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Stub.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/CarouselPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/CarouselPanel.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/OrientedVirtualizingPanel.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/VirtualizingPanel.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.net.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/UIElementExtensions.net.cs
  src/Uno.UI/UI/Xaml/UIElementExtensions.wasm.cs
Labels: area/android, area/ios, area/wasm, kind/bug

#1238 Adjust the ability to ignore platforms during UI Tests
  build/android-uitest-run.sh
  build/android-uitest-wait-systemui.sh
  doc/articles/uno-development/working-with-the-samples-apps.md
  src/SamplesApp/SamplesApp.Droid/Main.cs
  src/SamplesApp/SamplesApp.Droid/Properties/AndroidManifest.xml
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/ActivePlatformsAttribute.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/AppInitializer.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerTests/UnoSamples_Tests.FocusManager.cs
Labels: kind/contributor-experience, kind/enhancement

#1221 Docs - add expanded guide on platform-specific code, fix TOC links
  doc/articles/Assets/platform-specific-xaml.png
  doc/articles/Assets/solution-structure.png
  doc/articles/check_toc.ps1
  doc/articles/features/PasswordVault.md
  doc/articles/platform-specific-csharp.md
  doc/articles/platform-specific-xaml.md
  doc/articles/toc.yml
  doc/articles/uno-app-solution-structure.md
  doc/articles/uno-development/guidelines-for-creating-and-triaging-issues.md
  doc/articles/using-uno-ui.md
  src/Uno.UWPSyncGenerator/DocGenerator.cs
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience

#1246 Update README.md
  README.md
Labels: ready-to-merge

#1248 Auto retry tests to workaround
  src/SamplesApp/SamplesApp.UITests/TestFramework/AutoRetry.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
Labels: ready-to-merge

#1243 Remove VS Enterprise only features from .vsconfig
  src/.vsconfig
Labels: kind/contributor-experience, ready-to-merge

#1228 Fixed the no date selected issue on Time Picker for IOS
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerSelector.iOS.cs
Labels: area/ios, kind/bug

#1249 [UITest] Adjust the android startup script
  build/android-uitest-wait-systemui.sh
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.ContentControl.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Popup.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.RadioButton.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Touch.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.XBind.cs
  src/SamplesApp/SamplesApp.UITests/Windows_ApplicationModel_Resources/ResourceLoader_Simple.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerTests/UnoSamples_Tests.FocusManager.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_IsEnabled_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_Opacity_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
Labels: kind/contributor-experience

#1260 Disable fail build on Android UI Tests failure
  .azure-devops-android-tests.yml
Labels: kind/contributor-experience

#1223 Checks for dataContext before applying FallbackValue to explicit bindings
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Models/TimePickerViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_Test_NoScrollViewer_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/Sample1.xaml
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/UI/Xaml/FrameworkElementExtensions.cs
Labels: area/android, area/ios, area/uwp, kind/bug

#1263 Fixed the no date selected issue on Time Picker for IOS
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerSelector.iOS.cs
Labels: area/ios, kind/bug

#1226 Fix to iOS ComboBox initial selected value not null/empty
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/UnoSamples_Tests.ComboBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ItemsSource.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Picker.xaml
  src/Uno.UI/UI/Xaml/Controls/Picker/Picker.iOS.cs
Labels: area/ios, kind/bug

#1242 docs: create concepts/philosophy-of-uno
  doc/articles/concepts/overview/philosophy-of-uno.md
  doc/articles/toc.yml
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience

#850 [Android] Taking into account the notch for the VisibleBounds calculation
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoViewGroup.java
  src/Uno.UI/LayoutProvider.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: area/android, kind/enhancement

#1254 Misc fixes for Calculator
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/Controls/BindableNSView.macOS.cs
  src/Uno.UI/Controls/BindableUIView.iOS.cs
  src/Uno.UI/Controls/BindableView.Android.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/DataBinding/BindingPath.cs
  src/Uno.UI/UI/Xaml/BatchCollectionWrapper.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
  src/Uno.UI/UI/Xaml/Documents/UIElementTextHelper.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Media/Animation/EasingFunctionBase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/EasingFunctionHelpers.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ExponentialEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ExponentialEase.cs
  src/Uno.UI/UI/Xaml/UnsetValue.cs
  src/Uno.UWP/Collections/MaterializableList.cs
Labels: kind/bug, kind/performance

#1268 Removed unnecessary content in UITests.Shared
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ParallaxListView/ParallaxListView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/Sample2_Styles.xaml
Labels: kind/cleanup

#1270 fixed crash on android
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: area/android, kind/bug

#1269 Fix to infinite loop+refactored UpdateLayoutAttributesForItem iteratively
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewVariableItemHeightLong.xaml
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanelLayout.iOS.cs
Labels: area/ios, kind/bug

#1266 Generate and publish screenshot compare results
  .azure-devops-wasm-uitests.yml
  .github/pull_request_template.md
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/uno-development/working-with-the-samples-apps.md
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/Uno.UI.TestComparer/AzureDevopsDownloader.cs
  src/Uno.UI.TestComparer/Comparer/CompareResult.cs
  src/Uno.UI.TestComparer/Comparer/CompareResultFile.cs
  src/Uno.UI.TestComparer/Comparer/CompareResultFileRun.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
  src/Uno.UI.TestComparer/Program.cs
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
  src/Uno.UI/Uno.UI.csproj
Labels: area/automation, kind/contributor-experience, kind/maintainer-experience, ready-to-merge

#1253 Migrate CommandBar UI Tests
  src/SamplesApp/SamplesApp.UITests/CommandBar/UnoSamples_Tests.CommandBar.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_LongTitle.xaml
Labels: area/automation, kind/contributor-experience, kind/maintainer-experience

#1297 fixed gitversion
  gitversion.yml
Labels: do-not-merge/work-in-progress, kind/bug

#1216 Added Unittests for timePicker/datePicker datacontext and content
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerSample.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerSample.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePicker_SampleContent.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePicker_SampleContent.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/Models/DatePickerViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/Model/TimePickerViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/Sample1.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/Sample1.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/Sample2.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TimePicker/Sample2.xaml.cs
  src/Uno.UI.sln
Labels: area/android, area/ios, area/wasm, kind/cleanup

#1316 Fixed problem with ButtonBase.Click on Android
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Button_Events.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Button_Events.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Overlapped_Buttons.xaml
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.Android.cs
Labels: kind/bug, kind/regression

#1322 UI Test for button events
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Test_Button_Click.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_IsEnabled_Automated.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Button_Events.xaml
Labels: area/android, kind/bug

#1252 Migrate Elevation UI Tests #1245
  src/SamplesApp/SamplesApp.UITests/Toolkit/UnoSamples_Tests.Elevation.cs
  src/SamplesApp/UITests.Shared/Toolkit/Elevation.xaml
Labels: area/automation, kind/contributor-experience, kind/maintainer-experience

#1288 [UITest][Android] Adjust tests to allow for auto retry on failure
  build/android-uitest-run.sh
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.UITests/CommandBar/UnoSamples_Tests.CommandBar.cs
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.UITests/TestFramework/AppInitializer.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/AutoRetry.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.StaticResource.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/UnoSamples_Tests.ComboBoxTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/DragCoordinates_Tests.cs
  src/Uno.UI-Android-only.slnf
Labels: area/android, kind/contributor-experience, ready-to-merge

#1301 feature: implement all InputScopeNameValue
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Input/InputScopeNameValue.cs
Labels: do-not-merge/work-in-progress, kind/enhancement
