Repository unoplatform/uno, pull requests merged in 2019-11, with the labels that each got.

#2015 Fix iOS Picker selection
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Picker/Picker.iOS.cs
Labels: area/ios, kind/documentation

#2011 [iOS] Enable and Fix DatePicker tests
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Test_NativeButtons.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_Opacity_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerSelector.iOS.cs
Labels: area/automation, area/build, area/ios

#2019 fixed build status badges
  README.md
Labels: kind/documentation

#2030 Fix tutorial instructions
  doc/articles/getting-started-tutorial-1.md
Labels: kind/documentation, ready-to-merge

#2027 Update VisibleBoundsPadding.md
  doc/articles/features/VisibleBoundsPadding.md
Labels: kind/documentation

#2020 Align ContentControl Behavior with UWP behavior for empty children.
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/ContentControlTests/ContentControlBehaviorTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentControlTestsControl/ContentControlNoTemplateNoContent.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentControlTestsControl/ContentControlNoTemplateNoContent.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolylinePage.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ContentControl/ContentControl.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/documentation

#1958 [iOS] Fix NRE from MediaPlayerPresenter when setting Stretch
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.iOS.cs
Labels: area/ios, kind/documentation, ready-to-merge

#2049 Fixed clipping regression on Android
  src/SamplesApp/SamplesApp.Wasm/Program.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: area/android, area/automation, area/wasm, kind/bug, kind/regression

#2046 Complete manipulations events support
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/routed-events.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Manipulation_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/ManipulationEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/ManipulationEvents.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/EventsSequences.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Input/Given_GestureRecognizer.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.iOS.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/RoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/UIElement.PointerCapture.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UWP/Extensions/MathEx.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.cs
  src/Uno.UWP/UI/Input/ManipulationDelta.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/documentation, ready-to-merge

#2055 Fix invalid type resolution for remote control client
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation, ready-to-merge

#2068 Fix RemoteControl client invalid generation for server endpoints
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
Labels: area/code-generation

#2064 Rearrange Getting Started material
  doc/articles/get-started-next-steps.md
  doc/articles/get-started.md
  doc/articles/getting-started-tutorial-1.md
  doc/articles/getting-started/requirements.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#2032 Fix remaining Refractored typo in tutorial
  doc/articles/getting-started-tutorial-1.md
Labels: kind/documentation, ready-to-merge

#2052 Add android test matrix for API Levels in simulator
  .azure-devops-android-tests.yml
  build/android-uitest-build.sh
  build/android-uitest-run.sh
  build/android-uitest-wait-systemui.sh
  build/ios-uitest-run.sh
  build/run-automated-uitests.sh
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests/CommandBar/UnoSamples_Tests.CommandBar.cs
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Toolkit/UnoSamples_Tests.Elevation.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Popup.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Touch.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerTests/UnoSamples_Tests.FocusManager.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/UIElementTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.BitmapSource.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PopupTests/UnoSamples_Popup_Simple_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ToolTipTests/ToolTip_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/DragCoordinates_Tests.cs
Labels: area/automation, area/build, ready-to-merge

#2054 Fix Hyperlink stays in pressed state when releasing pointer out
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/Buttons.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/Buttons.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: area/android, area/automation, area/build, area/ios, area/wasm, ready-to-merge

#2076 Added support for the CreateFromStringAttribute for xaml type conversion
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/CreateFromString.xaml
  src/SourceGenerators/XamlGenerationTests/CreateFromString.xaml.cs
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/Uno.UI.Tests/App/Xaml/Test_CreateFromString.xaml
  src/Uno.UI.Tests/App/Xaml/Test_CreateFromString.xaml.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_Xaml/CreateFromStringTests/Given_CreateFromString.cs
Labels: area/automation, area/code-generation, kind/documentation, kind/enhancement

#2085 Fix pressed state of ListView items
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/Buttons.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/ListViewItem.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/ListViewItem.xaml.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/GridView/GridViewItem.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
  src/Uno.UI/UI/Xaml/ListView/ListViewItem.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: area/android, area/automation, area/ios, area/wasm, ready-to-merge

#2086 Fix pointers support of Android 5.x
  doc/articles/features/routed-events.md
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
Labels: area/android, kind/documentation, ready-to-merge

#2053 Fixing DataContext checks in PopupBase
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/FlyoutButtonViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_ButtonInContent.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_ButtonInContent.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupBase.cs
Labels: area/automation

#2084 Flyout Fixes, UI Tests stabilization
  .azure-devops-android-tests.yml
  .azure-devops-docs.yml
  .azure-devops-ios-tests.yml
  .azure-devops-macos.yml
  .azure-devops-wasm-uitests.yml
  .azure-devops-windows.yml
  build/android-uitest-build.sh
  build/android-uitest-run.sh
  build/ios-uitest-run.sh
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_Automated.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_Unloaded.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DatePicker/DatePickerFlyout_Unloaded.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Target.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Target.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Unloaded.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Unloaded.xaml.cs
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
  src/Uno.UI/UI/Xaml/Controls/Button/Button.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PlacementPopupPanel.cs
Labels: area/automation, area/build, area/xf-wasm-renderers, kind/documentation

#2089 Restore check for Visibility in Layouter.MeasureChild
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ProgressRing.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElementExtensions.cs
Labels: area/android, ready-to-merge

#2075 Misc Remote Control fixes
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/Uno.UI.RemoteControl.VS/EntryPoint.cs
Labels: area/solution-templates, ready-to-merge

#2082 Flyout - set correct size in Full placement mode
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/FlyoutTests/Given_Flyout.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/FrameworkElementTests/Given_FrameworkElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/FrameworkElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/Mock/Popup.net.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.net.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/PickerFlyoutPopupPanel.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PlacementPopupPanel.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.net.cs
  src/Uno.UI/UI/Xaml/IFrameworkElement.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/UIElement.net.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.net.cs
Labels: area/automation, area/ios, ready-to-merge

#2094 Add support for ExtendViewIntoTitleBar, fix ComboBox flyout android position
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/UnoSamples_Tests.ComboBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_VisibleBounds.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_VisibleBounds.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupBase.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplicationView.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplicationViewTitleBar.Android.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplicationViewTitleBar.cs
Labels: area/android, area/automation, kind/documentation, ready-to-merge

#2098 Align Measure and MeasureOverride behavior given NaN
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/Uno.UI-Wasm-only.slnf
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.wasm.cs
Labels: area/automation, area/wasm

#2110 Fix invalid error message when using custom themes
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/GlobalStaticResources02.xaml
Labels: area/code-generation, ready-to-merge

#2113 [Wasm] Fixes the measure of a TextBoxView
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_RoundedCorners.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_RoundedCorners.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
Labels: area/automation, area/wasm, kind/documentation, ready-to-merge

#2112 Fixed remaining clipping issues
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/Mock/StackPanel.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
Labels: area/android, area/wasm, kind/documentation, kind/regression

#2091 [WASM] Add full support of RenderTransform in TransformToVisual
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/routed-events.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/UIElementTests.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_ScrollViewer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_ScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_Transform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_Transform.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI.Wasm/tsBindings/WindowManagerScrollToOptionsParams.ts
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/IScrollContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
Labels: area/automation, area/wasm, kind/documentation, ready-to-merge

#2120 Add support for ToggleButton.IsThreeState and Indeterminate
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CheckBoxTests/UnoSamples_CheckBox.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CheckBoxTests/CheckBox_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CheckBoxTests/CheckBox_Automated.xaml.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/CheckBoxTests/Given_CheckBox.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/ToggleButton.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ToggleButton.cs
Labels: area/automation, area/wasm, kind/documentation, ready-to-merge

#2119 Restore correct StackPanel.ArrangeOverride return value
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/StackPanelTest/Given_StackPanel.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanel.Layout.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: area/automation, area/wasm, ready-to-merge

#2093 Fix missing measurement option for polyline and polygon
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolygonPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolygonPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolylinePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PolylinePage.xaml.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/documentation, ready-to-merge

#2029 make MenuFlyoutItem.Click working
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/MenuFlyoutItemTests/UnoSamples_Test_Click.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MenuFlyoutItemTests/MenuFlyoutItem_Click.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MenuFlyoutItemTests/MenuFlyoutItem_Click.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.iOS7.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.iOS8.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyoutItem.cs
Labels: kind/enhancement, ready-to-merge

#2118 Update CommandBar documentation
  doc/articles/controls/CommandBar.md
Labels: kind/documentation, ready-to-merge

#2124 Merge TextBox "common" visual state handling
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/TextBox_VisualStates.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/TextBox_VisualStates.xaml.cs
  src/Uno.UI/Mixins/Android/VisualStatesMixins.tt
  src/Uno.UI/Mixins/Wasm/VisualStatesMixins.tt
  src/Uno.UI/Mixins/iOS/VisualStatesMixins.tt
  src/Uno.UI/Mixins/macOS/VisualStatesMixins.tt
  src/Uno.UI/Mixins/net461/VisualStatesMixins.tt
  src/Uno.UI/UI/Xaml/Controls/Button/Button.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/VisualStatesImplementation.tt
Labels: area/android, area/automation, area/ios, ready-to-merge

#2128 Fix invalid Grid layout when using Row/Column MinWidth/MaxHeight
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid_And_Min_Max.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Layout.cs
Labels: area/automation, ready-to-merge

#2134 [Wasm] Update the bootstrapper to 1.0.3
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Directory.Build.targets
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
Labels: area/solution-templates, area/wasm, kind/documentation, ready-to-merge

#2067 added implicit conversion for double to Thickness
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/ImplicitConversion.xaml
Labels: area/code-generation, kind/documentation

#2127 [iOS] ListView - fix list not taking all available space
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_With_ListViews_Count_Measure.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_With_ListViews_Count_Measure.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/MeasureDetectorControl/MeasureDetectorControl.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/MeasureDetectorControl/MeasureDetectorControl.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/MeasureDetectorControl/MeasureDetectorInner.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/StringToHeightConverter.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: area/automation, area/build, area/ios

#2141 [WASM] Fix possible invalid scrolling
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Mesaure_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/MeasurePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/MeasurePage.xaml.cs
  src/Uno.UI.Wasm/WasmCSS/Uno.UI.css
Labels: area/automation, area/wasm, ready-to-merge

#2139 [Wasm] Fix support for TextBox clear button and header focus
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_DeleteButton_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_DeleteButton_Automated.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
Labels: area/automation, area/wasm, ready-to-merge

#2123 Allow <Image /> control to clip to its bounds
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Fixed_Size_Alignment.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Fixed_Size_Alignment.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Bigger.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Bigger.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Equal.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Equal.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Smaller.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Smaller.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Taller.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Taller.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Wider.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Alignment_Wider.xaml.cs
  src/Uno.Foundation/Rect.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ImageTests/Given_ImageSizeHelper.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Image/ImageSizeHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/regression

#2142 [Wasm] Fix Foreground color inheritance in TextBoxView
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Foreground.xaml
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
Labels: area/automation, area/wasm, ready-to-merge

#2143 [Wasm] Add support for `TextBox.IsReadonly`
  build/android-uitest-run.sh
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_IsReadOnly.xaml
  src/Uno.UI-Android-only.slnf
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI.Wasm/tsBindings/WindowManagerRemoveAttributeParams.ts
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Overrides.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
Labels: area/android, area/automation, area/build, area/wasm, kind/documentation, ready-to-merge

#2150 Fix NRE in android-specific TextBox.ImeOptions
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
Labels: area/android, area/automation, kind/documentation, ready-to-merge

#2144 Fix ellipse on all platform
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/Transform_Ellipse_in_Two_Canvas_in_Grid.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/Transform_Ellipse_in_Two_Canvas_in_Grid.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageInStackPanel.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipsePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipsePage.xaml.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.wasm.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/bug, kind/regression, ready-to-merge

#2151 Restore layout constraints in measure for native elements
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FrameworkElementTests/UnoSamples_Test_FrameworkElement.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/FrameworkElement_NativeLayout.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/FrameworkElement_NativeLayout.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
Labels: area/automation

#2152 Add support for package override warning
  build/uno.ui.targets
  src/Uno.CrossTargetting.props
Labels: area/build, ready-to-merge

#2167 Fix reveal of PasswordBox in ScrollViewer
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/PasswordBox_Reveal_Scroll.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/PasswordBox_Reveal_Scroll.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/PasswordBox/PasswordBox.cs
Labels: area/android, area/automation, area/ios, area/wasm, ready-to-merge

#2168 Update to Wasm Bootstrapper 1.0.5
  src/Directory.Build.targets
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
Labels: area/solution-templates, ready-to-merge

#2154 Docs - Add workshop link to Next Steps
  doc/articles/get-started-next-steps.md
Labels: kind/documentation

#2153 [iOS] Fix ListView measure bugs
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ObservableCollection_Unused_Space.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ObservableCollection_Unused_Space.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Weird_Measure.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Weird_Measure.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/WeirdMeasureSequenceControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: area/automation, area/ios, kind/documentation, ready-to-merge

#2175 [Android] Fix MeasureOverride taking NaN;Nan is input failure
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
Labels: ready-to-merge

#2194 Fix possible invalid text wrapping on WASM in Chromium based browsers
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
Labels: area/wasm, ready-to-merge

#2195 [Wasm] Move textblock updates to measure phase
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
  src/Uno.UI/UI/Xaml/Documents/UIElementTextHelper.wasm.cs
Labels: area/code-generation, area/wasm, do-not-merge/work-in-progress, kind/documentation

#2133 Fix negative value of iOS TimePicker
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Tests/Extensions/Given_TimeSpanExtensions.cs
  src/Uno.UI/Extensions/NSDateExtensions.iOS.cs
  src/Uno.UI/Extensions/TimeSpanExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerSelector.iOS.cs
Labels: area/automation, area/ios, kind/documentation

#2192 [iOS] Call UIElement.InvalidateMeasure() when Visibility changes
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/QueryExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Foreground_While_Collapsed.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Foreground_While_Collapsed.xaml.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
Labels: area/automation, area/build, area/ios

#2186 Align Canvas measurement with UWP Behavior
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CanvasTests/Canvas_Measurement_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Canvas/Measure_Children_In_Canvas.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Canvas/Measure_Children_In_Canvas.xaml.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/CanvasTests/Given_Canvas.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Layout.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/documentation

#2190 Clipping of controls with rounded corners
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/ClippingRoundedCorners.xaml
  src/Uno.UI/FrameworkElementOutlineProvider.Android.cs
  src/Uno.UI/Mock/Border.net.cs
  src/Uno.UI/Mock/Panel.net.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.net.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/CornerRadius.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/bug

#2207 Wasm: Fix wrong namespace for CornerRadiusConverter in linker file.
  src/Uno.UI/LinkerDefinition.Wasm.xml
Labels: area/wasm, kind/bug, ready-to-merge

#2208 Adjust beta versioning
  gitversion.yml
Labels: area/build

#2212 [iOS] Path - support Fill = LinearGradientBrush
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PathTestsControl/Path_LinearGradientBrush.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PathTestsControl/Path_LinearGradientBrush.xaml.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.iOSmacOS.cs
Labels: area/automation, kind/documentation

#2211 Update to latest stable dependencies
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UWP.Design/SamplesApp.UWP.Design.csproj
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UWP/UnoQuickStart.Uwp.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
Labels: area/automation, area/solution-templates

#2217 Template fixes
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/iOS/UnoQuickStart.iOS.csproj
Labels: area/solution-templates, ready-to-merge

#2218 Template fixes
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/iOS/UnoQuickStart.iOS.csproj
Labels: area/solution-templates

#2209 Adjust for next version
  doc/ReleaseNotes/_ReleaseNotes.md
  gitversion.yml
Labels: area/build, kind/documentation, ready-to-merge

#2220 Adjust vsix publishing
  build/Uno.UI.Build.csproj
Labels: area/build, ready-to-merge

#2221 Adjust vsix publishing
  build/Uno.UI.Build.csproj
Labels: area/build

#2222 Fix publication typo
  build/Uno.UI.Build.csproj
Labels: area/build

#2216 [WASM] Support LinearGradientBrush on Shapes
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PathTestsControl/Path_LinearGradientBrush.xaml
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/DefsSvgElement.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs
Labels: area/automation, area/wasm, kind/documentation, ready-to-merge

#2224 [VSIX] Fix Folder recursion to apply port properties
  build/Uno.UI.Build.csproj
  doc/qa/remotecontrol-qa.md
  src/Uno.UI-iOS-hotreload-vsix-only.slnf
  src/Uno.UI.RemoteControl.VS/EntryPoint.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/LinkerDefinition.Xamarin.xml
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
Labels: area/build, kind/documentation
