Repository unoplatform/uno, pull requests merged in 2019-09, with the labels that each got.

#1452 Restore missing ButtonBase.IsPointerOver property
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.cs
Labels: kind/regression

#1466 Update Uno.SourceGeneration to latest to support AdditionalProperties
  build/Uno.UI.nuspec
  src/Directory.Build.targets
Labels: area/code-generation, kind/dependency

#1467 Fix layouting bug in Image for Android and iOS
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
Labels: area/android, area/ios, kind/bug

#1471 Use `global::` to prefix Uno namespace.
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
Labels: area/code-generation, kind/bug

#1417 Fixed iOS issue with ChangeView and created a sample for it
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ChangeView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ChangeView.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.iOS.cs
Labels: area/ios, kind/bug

#1450 docs: add google tag manager
  doc/templates/uno/layout/_master.tmpl
  doc/templates/uno/partials/google-tag-manager.tmpl.partial
Labels: kind/documentation

#1474 Fix incorrect property name in FeatureConfiguration doc
  doc/articles/feature-flags.md
Labels: kind/documentation

#1465 ComboBox: Fix DataContext Inheritance on ContentPresenter when no selected item.
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.ContentControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/Resources/StaticResource/StaticResource_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_DisplayMemberPath.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_DisplayMemberPath.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ItemDataContext.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ItemDataContext.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_Template.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
Labels: area/android, area/ios, area/wasm, kind/bug

#1441 Misc compatibility updates
  .azure-devops-wasm-uitests.yml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Directory.Build.props
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTarget.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/StatusBar.cs
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.cs
Labels: area/android, area/ios, area/wasm, kind/bug, kind/enhancement

#1484 Restore screenshot compare step
  .azure-devops-wasm-uitests.yml
Labels: area/automation, area/build

#1491 Add support of Invalidate on WriteableBitmap
  src/SamplesApp/SamplesApp.UITests/TestFramework/AppInitializer.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageSourceWriteableBitmapInvalidate.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageSourceWriteableBitmapInvalidate.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement

#1498 fixed FormatException in DependencyPropertyDescriptor
  src/Uno.UI/UI/Xaml/DependencyPropertyDescriptor.cs
Labels: kind/bug

#1493 feature: implement PointerUpdateKind enum
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Input/PointerUpdateKind.cs
  src/Uno.UWP/UI/Input/PointerUpdateKind.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement

#1489 docs: clarity improvements for debugging wasm
  doc/articles/debugging-wasm.md
Labels: area/wasm, kind/documentation

#1483 fixed RecyclerView.State desync
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ItemsPanel_HotSwap.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ItemsPanel_HotSwap.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.iOSAndroid.cs
Labels: area/android, kind/bug

#1510 Dismissible popup various fixes
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PopupTests/UnoSamples_Popup_Simple_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Popup/Popup_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Popup/Popup_Simple.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupBase.cs
Labels: area/android, area/ios, area/wasm, kind/bug, kind/regression

#1518 Fix Navigation Issue Where SystemNavigationManager.enable() is called twice
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Windows/UI.Core/SystemNavigationManager.ts
  src/Uno.UWP/UI/Core/SystemNavigationManager.cs
Labels: area/wasm, kind/bug

#1520 Add support for dotnet new template
  build/Uno.UI.Build.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/LinkerConfig.xml
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/Program.cs
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/WasmCSS/Fonts.css
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/WasmScripts/AppManifest.js
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoQuickStart.Wasm/wwwroot/web.config
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/nuget.config
  src/SolutionTemplate/UnoSolutionTemplate/UnoSolutionTemplate.csproj
  src/Uno.UI.sln
Labels: area/solution-templates, kind/enhancement

#1543 Fix WASM ScrollViewer offsets parsing
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
Labels: area/wasm, kind/bug

#1546 Prevent PivotPanel from returning "infinite" as desired height
  src/Uno.UI/UI/Xaml/Controls/Primitives/PivotPanel.cs
Labels: area/wasm, kind/bug

#1531 Fix Index is Greater than the items available from a VirtualizePanelAdaptater for WASM
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_VirtualizePanelAdaptaterIdCache.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_VirtualizePanelAdaptaterIdCache.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelAdapter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.wasm.cs
Labels: area/wasm, kind/bug

#1565 fix: resolved build by removing dangling comma
  .all-contributorsrc
Labels: area/community, kind/bug, kind/documentation

#1512 Support for Launcher.QueryUriSupportAsync API
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-system.md
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_Launcher.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_StartScreen/Given_JumpListItem.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System/LaunchQuerySupportStatus.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System/LaunchQuerySupportType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System/Launcher.cs
  src/Uno.UWP/System/LaunchQuerySupportStatus.cs
  src/Uno.UWP/System/LaunchQuerySupportType.cs
  src/Uno.UWP/System/Launcher.cs
Labels: area/android, area/ios

#1499 docs: add dependabot status badge
  README.md
Labels: area/build, kind/documentation, kind/maintainer-experience

#1582 [Pivot] Add support for non PivotItem items
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PivotTests/UnoSamples_Pivot_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Pivot/Pivot_CustomContent_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Pivot/Pivot_CustomContent_Automated.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Pivot/Pivot.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement, ready-to-merge

#1570 [Android] Fix invalid ImageBrush stack overflow with delayed im…
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_SameWithDelay.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_SameWithDelay.xaml.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.Android.cs
Labels: area/android, do-not-merge/work-in-progress, kind/bug

#1585 Implement CompositionTarget.Rendering
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/CompositionTargetTests/CompositionTarget_Rendering.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/CompositionTargetTests/CompositionTarget_Rendering.xaml.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/CompositionTarget.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/RenderingEventArgs.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTarget.wasm.cs
  src/Uno.UI/UI/Xaml/Media/RenderingEventArgs.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement

#1604 housekeeping: use same tagline as github
  build/Uno.UI.nuspec
Labels: kind/cleanup

#1609 CommandBar, FrameworkElement updates
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FrameworkElementTests/UnoSamples_Test_FrameworkElement.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.XamlCommandBar.cs
  src/SamplesApp/SamplesApp.Wasm/WasmCSS/Fonts.css
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/ItemsControl_Loaded.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/ItemsControl_Loaded.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/LoadEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Xaml_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Xaml_Automated.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_SameWithDelay.xaml.cs
  src/Uno.Foundation/Collections/IObservableVector.T.cs
  src/Uno.Foundation/Collections/IObservableVector.cs
  src/Uno.Foundation/Collections/ObservableVector.cs
  src/Uno.Foundation/Collections/VectorChangedEventHandler.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ItemsControlTests/Given_ItemsControl.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/AppBarButton.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarButton.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarTemplateSettings.cs
  src/Uno.UI/UI/Xaml/Controls/CommandBar/CommandBar.cs
  src/Uno.UI/UI/Xaml/Controls/CommandBar/CommandBarTemplateSettings.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/wasm, area/xf-wasm-renderers

#1572 Support for VS 16.3 for the Uno.UI solution
  .azure-devops-wasm-uitests.yml
  src/SolutionTemplate/UnoLibraryTemplate/CrossTargetedLibrary.csproj
  src/global.json
Labels: area/build, area/vswin, kind/bug, kind/dependency

#1616 Hotfixes for Visual Studio v16.3.x
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
  src/SolutionTemplate/UnoSolutionTemplate/iOS/Info.plist
Labels: area/android, area/ios, area/vswin, kind/bug, kind/consumer-experience

#1591 removed UnoUIWebView and use WKWebView instead.
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/WebView/UnoUIWebView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.iOS.cs
  src/Uno.UI/UI/Xaml/Style/Generic/GenericStyles.iOS.cs
Labels: area/ios, kind/api-change-breaking, kind/bug
