Repository unoplatform/uno, pull requests merged in 2019-02, with the labels that each got.

#551 Release/beta/z - 1.43.0
  build/Uno.UI.WpfHost.nuspec
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.Shared/Strings/en/Resources.resw
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_Simple.xaml.cs
  src/SolutionTemplate/UnoLibraryTemplate/CrossTargetedLibrary.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/iOS/UnoQuickStart.iOS.csproj
  src/SourceGenerators/System.Xaml/System.Xaml/ParsedMarkupExtensionInfo.cs
  src/SourceGenerators/System.Xaml/System.Xaml/PrefixLookup.cs
  src/SourceGenerators/System.Xaml/System.Xaml/XamlSchemaContext.cs
  src/SourceGenerators/System.Xaml/Uno.Xaml.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/Uno.Foundation/Uno.Foundation.csproj
  src/Uno.MonoAnalyzers/MonoNotSupportedAPIAnalyzer.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Services/Given_ResourceService.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_MatrixTranform.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Matrix.cs
  src/Uno.UI/UI/Xaml/Media/MatrixTransform.cs
  src/Uno.UI/UI/Xaml/Style/Generic/FlyoutPresenter.xaml
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UWP/Uno.csproj
Labels: Beta Release

#565 Fix animations always using top-left center when using `Forever` repeat mode on Android
  src/Uno.UI/Extensions/ViewHelper.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/NativeValueAnimatorAdapter.Android.cs
Labels: bug

#574 [Wasm] Use Uno.UI Assembly for namespace type lookup
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlTypeResolver.cs
Labels: wasm

#569 Fix text resources not working on Android with latest Xamarin
  src/SamplesApp/SamplesApp.Shared/Strings/en/Resources.resw
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Services/Given_ResourceService.cs
Labels: bug

#588 Fix the `Transform.TransformBounds`
  src/Uno.Foundation/Rect.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_MatrixTranform.cs
  src/Uno.UI.Tests/CustomPanelTests/Given_CustomPanel.cs
  src/Uno.UI.Tests/Extensions/Given_Matrix3x2Extensions.cs
  src/Uno.UI.Tests/Foundation/Given_Rect.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/PivotTests/Given_Pivot.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/RelativePanelTests/Given_RelativePanel.cs
  src/Uno.UI/UI/Xaml/Media/Transform.cs
  src/Uno.UWP/Extensions/Matrix3x2Extensions.cs
  src/Uno.UWP/Extensions/RectExtensions.cs
Labels: bug
