Repository unoplatform/uno, pull requests merged in 2019-05, with the labels that each got.

#836 Add PasswordVault for supported platforms.
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/PasswordVault.md
  src/SamplesApp/SamplesApp.iOS/Entitlements.plist
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Security_Credentials/PasswordVaultTests/CredentialsPersistence.xaml
  src/SamplesApp/UITests.Shared/Windows_Security_Credentials/PasswordVaultTests/CredentialsPersistence.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Security.Credentials/PasswordCredential.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Security.Credentials/PasswordVault.cs
  src/Uno.UWP/Security.Credentials/PasswordCredential.cs
  src/Uno.UWP/Security.Credentials/PasswordVault.Android.cs
  src/Uno.UWP/Security.Credentials/PasswordVault.Wasm.cs
  src/Uno.UWP/Security.Credentials/PasswordVault.cs
  src/Uno.UWP/Security.Credentials/PasswordVault.iOS.cs
Labels: enhancement

#887 configure dependabot to automatically bump dependencies
  .dependabot/config.yml
Labels: kind/dependency, kind/enhancement, kind/maintainer-experience

#885 Revert raise of PointerRelease in TouchesCancelled
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
Labels: area/ios

#901 Added two samples to demonstrate x:Bind and MarkupExtension features
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/MarkupExtensionTests/MarkupExtension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/MarkupExtensionTests/MarkupExtension.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/MarkupExtensionTests/Simple.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xBindTests/XBindviewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xBindTests/xBind.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xBindTests/xBind.xaml.cs
Labels: area/samples

#920 Ignore builds missing the wasm screenshots artifacts
  src/Uno.UI.TestComparer/AzureDevopsDownloader.cs
Labels: kind/bug, kind/contributor-experience, kind/maintainer-experience

#918 Implement StateTrigger precedence as documented by Microsoft
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_AdaptiveTrigger.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/VisualStateManagerTests/Given_VisualStateManager.cs
  src/Uno.UI/UI/Xaml/AdaptiveTrigger.cs
  src/Uno.UI/UI/Xaml/StateTriggerBase.cs
  src/Uno.UI/UI/Xaml/StateTriggerPrecedence.cs
  src/Uno.UI/UI/Xaml/VisualState.cs
  src/Uno.UI/UI/Xaml/VisualStateGroup.cs
Labels: kind/enhancement

#913 do not merge dependabot PR's until issue #912 is resolved
  .dependabot/config.yml
Labels: kind/cleanup

#800 CurrentInputMethodLanguageTag
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Globalization/Language_Properties.xaml
  src/SamplesApp/UITests.Shared/Windows_Globalization/Language_Properties.xaml.cs
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UWP/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Globalization/Language.cs
  src/Uno.UWP/Globalization/Language.Android.cs
  src/Uno.UWP/Globalization/Language.cs
  src/Uno.UWP/Globalization/Language.iOS.cs
  src/Uno.UWP/Globalization/Language.wasm.cs
Labels: area/android, area/ios, area/macos, kind/enhancement

#875 Demonstrate radiobuttons with a pressed states and changing style
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/RadioButton_Pressed.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/RadioButton_Pressed.xaml.cs
Labels: kind/consumer-experience, kind/documentation

#916 bumped copyright date from 2018 to 2019
  src/Common/GlobalAssemblyInfo.cs
Labels: kind/cleanup

#930 Implement FlyoutBase.AttachedFlyout, fix iOS Popup bug
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Attached.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Attached.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.iOS.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplate.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
Labels: area/ios, kind/bug, kind/enhancement

#905 Fix x:Load controls referenced from states
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Controls/xLoad/Given_xLoadSetters.cs
  src/Uno.UI/Mock/ElementStub.net.cs
  src/Uno.UI/UI/Xaml/Data/ElementNameSubject.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
  src/Uno.UI/UI/Xaml/Setter.cs
Labels: kind/bug

#908 Windows.System.Display.DisplayRequest
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_System/Display/DisplayRequest.xaml
  src/SamplesApp/UITests.Shared/Windows_System/Display/DisplayRequest.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_System/Power/PowerManager.xaml
  src/SamplesApp/UITests.Shared/Windows_System/Power/PowerManager.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.Display/DisplayRequest.cs
  src/Uno.UWP/System/Display/DisplayRequest.Android.cs
  src/Uno.UWP/System/Display/DisplayRequest.cs
  src/Uno.UWP/System/Display/DisplayRequest.iOS.cs
Labels: area/android, area/ios, kind/enhancement

#931 [Wasm] Add TextBlock measure caching
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_MeasurePeformance.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_MeasurePeformance.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Controls/TextBlockTests/Given_TextBlockMeasureCache.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureEntry.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureKey.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureSizeEntry.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.cs
  src/Uno.UI/Uno.UI.csproj
Labels: area/wasm, do-not-merge/work-in-progress, kind/performance

#723 Updated the CheckBox checkmark glyph in the font to match UWP
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Droid/Assets/Fonts/winjs-symbols.ttf
  src/SamplesApp/SamplesApp.Wasm/Fonts/winjs-symbols.woff2
  src/SamplesApp/SamplesApp.iOS/Resources/Fonts/winjs-symbols.ttf
  src/SolutionTemplate/UnoSolutionTemplate.VISX/winjs-symbols.ttf
  src/SolutionTemplate/UnoSolutionTemplate/Droid/Assets/Fonts/winjs-symbols.ttf
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/WasmCSS/Fonts.css
  src/SolutionTemplate/UnoSolutionTemplate/iOS/Resources/Fonts/winjs-symbols.ttf
Labels: area/solution-template, kind/enhancement

#953 added MessageDialog to the sample application
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Popup/MessageDialog.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Popup/MessageDialog.xaml.cs
Labels: kind/contributor-experience, kind/enhancement, kind/maintainer-experience

#965 change dependabot to raise PR's once a week, if a package is published instead of live
  .dependabot/config.yml
Labels: kind/dependency, kind/maintainer-experience

#917 renamed to README.md to improve information discovery when viewed on GitHub
  src/PackageCache/README.md
Labels: kind/cleanup, kind/contributor-experience, kind/maintainer-experience

#927 migrated issue templates to new github format
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feedback.md
  .github/ISSUE_TEMPLATE/samples-issue.md
  .github/ISSUE_TEMPLATE/samples-request.md
  .github/ISSUE_TEMPLATE/success-story.md
  .github/ISSUE_TEMPLATE/support.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Labels: kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience

#923 Add a MapControl in Uno UI Test Sample
  src/SamplesApp/SamplesApp.Droid/Properties/AndroidManifest.xml
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MapPresenter/MapControl.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MapPresenter/MapControl.xaml.cs
Labels: kind/documentation

#988 Adjust namespaces for VS16.2 support
  src/Uno.UI/Controls/BindableUIButton.iOS.cs
  src/Uno.UI/Controls/BindableUISwitch.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.macOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.iOS.cs
Labels: kind/bug

#681 Mono Wasm AOT on WSL article
  doc/blog/201903-using-wsl-to-build-aot.md
Labels: area/linux, area/wasm, kind/consumer-experience, kind/contributor-experience, kind/documentation, kind/maintainer-experience
