Repository unoplatform/uno, pull requests merged in 2020-10, with the labels that each got.

#3929 fix(TextBox): fixed multiline textbox height not scaling properly on …
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/WASM_Multiline.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/WASM_Multiline.xaml.cs
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/WindowManager.ts
Labels: project/text, ready-to-merge

#4199 ci: Restore Skia samples app testing
  build/ci/.azure-devops-skia-tests.yml
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
Labels: ready-to-merge

#4202 WIP: feat(dragdrop): Update Android for drag and drop
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_TestPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_TestPage.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/DragEventArgs.cs
  src/Uno.UI/UI/Xaml/DragEventHandler.cs
  src/Uno.UI/UI/Xaml/DragOperationDeferral.cs
  src/Uno.UI/UI/Xaml/DropUITarget.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/Window.Desktop.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.Android.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.wasm.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Gesture.cs
Labels: do-not-merge/work-in-progress

#4192 fix: Don't propagate DataContext via Border.Child
  src/Uno.UI.RuntimeTests/Helpers/StyleHelper.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/FramePages/Page_With_AppBarButton_Visibility_Bound.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/FramePages/Page_With_AppBarButton_Visibility_Bound.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AppBarButton.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI/Controls/AppBarButtonRenderer.iOS.cs
  src/Uno.UI/Controls/Renderer.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
Labels: ready-to-merge

#4208 ci: Adjust solution filters to include Uno.UI.RemoteControl.VS
  src/Uno.UI-Android-only.slnf
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI-Wasm-only.slnf
  src/Uno.UI-iOS-only.slnf
  src/Uno.UI-macOS-only.slnf
Labels: ready-to-merge

#4213 docs: Adjust base .NET Core version
  doc/articles/get-started-vs.md
Labels: ready-to-merge

#4218 feat(vsix): Add support for .vsconfig file for dotnet new and vsix
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/.vsconfig
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/.vsconfig
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.vsconfig
  src/SolutionTemplate/UnoSolutionTemplate.Wizard/.vsconfig
  src/SolutionTemplate/UnoSolutionTemplate.Wizard/UnoSolutionTemplate.Wizard.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard/UnoSolutionWizard.cs
Labels: ready-to-merge

#4198 Misc templates updates
  build/assets/xfapp-uwp-4.5.0.356.zip
  build/assets/xfapp-uwp-4.8.0.1451.zip
  build/run-template-tests.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoXFQuickStart.Wasm/UnoXFQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate.VISX/UnoSolutionTemplate.VISX.csproj
  src/SolutionTemplate/UnoSolutionTemplate.VISX/source.extension.vsixmanifest
  src/SolutionTemplate/UnoSolutionTemplate/Skia.Gtk/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate/Skia.Gtk/SkiaGtk.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/Skia.WPF.Host/Properties/AssemblyInfo.cs
  src/SolutionTemplate/UnoSolutionTemplate/Skia.WPF.Host/SkiaWpfHost.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/Skia.WPF.Host/UnoQuickStart.Skia.Wpf.Host.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Skia.WPF.Host/UnoQuickStart.Wpf.Host.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Skia.WPF/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate/Skia.WPF/SkiaWpf.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/UnoApp.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/UnoSolutionTemplate.csproj
  src/UnoItemTemplate/ContentDialog/ContentDialog.vstemplate
  src/UnoItemTemplate/ContentDialog/ContentDialog.xaml
  src/UnoItemTemplate/ContentDialog/ContentDialog.xaml.cs
  src/UnoItemTemplate/Uno.Neutral.Cs.Resw/Resources.resw
  src/UnoItemTemplate/Uno.Neutral.Cs.Resw/Uno.Neutral.Cs.Resw.vstemplate
  src/UnoItemTemplate/Uno.Neutral.Cs.TemplatedControl/CustomControl.cs
  src/UnoItemTemplate/Uno.Neutral.Cs.TemplatedControl/Uno.Neutral.Cs.TemplatedControl.vstemplate
  src/UnoItemTemplate/UnoItemTemplate.csproj
  src/UnoItemTemplate/UserControl/UserControl.vstemplate
  src/UnoItemTemplate/UserControl/UserControl.xaml
  src/UnoItemTemplate/UserControl/UserControl.xaml.cs
Labels: ready-to-merge

#4221 ScrollViewer, Layout Skia updates
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.netstd.cs
  src/Uno.UI/UI/Xaml/UIElement.Skia.cs
  src/Uno.UWP/UI/Composition/Compositor.Skia.cs
  src/Uno.UWP/UI/Composition/Visual.cs
Labels: ready-to-merge

#4210 docs: Update conditional code/Xaml to include Skia
  doc/articles/platform-specific-csharp.md
  doc/articles/platform-specific-xaml.md
Labels: ready-to-merge

#4187 feat: ToastNotificationActivatedEventArgs structs for all
  build/PackageDiffIgnore.xml
  src/Uno.UWP/ApplicationModel/Activation/IToastNotificationActivatedEventArgs.cs
  src/Uno.UWP/ApplicationModel/Activation/ToastNotificationActivatedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Activation/IToastNotificationActivatedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Activation/ToastNotificationActivatedEventArgs.cs
Labels: ready-to-merge

#4229 First <Setter> on a <Style> were potentially applying values using wrong precedence
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
Labels: project/winrt, ready-to-merge

#4241 feat: ChatMessage - common structs
  src/Uno.UWP/ApplicationModel/Chat/ChatMessage.cs
  src/Uno.UWP/ApplicationModel/Chat/ChatMessageKind.cs
  src/Uno.UWP/ApplicationModel/Chat/ChatMessageOperatorKind.cs
  src/Uno.UWP/ApplicationModel/Chat/IChatItem.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Chat/ChatMessage.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Chat/ChatMessageKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Chat/ChatMessageOperatorKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Chat/IChatItem.cs
Labels: ready-to-merge

#4242 feat: Storage.Pickers.PickerLocationId
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/PickerLocationId.cs
  src/Uno.UWP/Storage/Pickers/PickerLocationId.cs
Labels: ready-to-merge

#4211 [iOS/macOS][Android] Add support for MediaPlaybackItem as MediaPlayerElement Source
  src/SamplesApp/SamplesApp.Droid/Assets/sound.mp3
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.iOS/Resources/sound.mp3
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Media/MediaPlayerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Media/MediaPlayerTests.xaml.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
Labels: ready-to-merge

#4251 feat: VibrationDevice & SimpleHapticsController
  build/PackageDiffIgnore.xml
  doc/articles/features/windows-devices-haptics.md
  doc/articles/toc.yml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/Haptics/VibrationDeviceTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/Haptics/VibrationDeviceTests.xaml.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/Devices/Haptics/TizenSimpleHapticsControllerExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/Devices/Haptics/TizenVibrationDeviceExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenHost.cs
  src/Uno.UWP/Devices/Haptics/KnownSimpleHapticsControllerWaveforms.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.Android.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.Skia.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.iOS.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.macOS.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.wasm.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsControllerFeedback.cs
  src/Uno.UWP/Devices/Haptics/VibrationAccessStatus.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.Android.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.Skia.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.iOS.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.macOS.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.unsupported.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.wasm.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Haptics/KnownSimpleHapticsControllerWaveforms.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Haptics/SimpleHapticsController.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Haptics/SimpleHapticsControllerFeedback.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Haptics/VibrationAccessStatus.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Haptics/VibrationDevice.cs
Labels: area/skia, platform/android, platform/ios, platform/macos, platform/tizen, platform/wasm, project/winrt, ready-to-merge

#4277 fix(ProgressRing): Fixes IsEnabled should not remove the progress ring
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/WUXProgressRingTests/UnoSamples_WUXProgressRing_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ProgressRing/WindowsProgressRing_GH1220.xaml
  src/Uno.UI/UI/Xaml/Controls/ProgressRing/ProgressRing.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ProgressRing/ProgressRing.iOSAndroid.cs
Labels: ready-to-merge

#4279 fix(dotnetnew): Skia WPF head is not referenced properly in sln
  build/run-template-tests.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/UnoQuickStart.sln
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate/Skia.Gtk/UnoQuickStart.Skia.Gtk.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Skia.WPF.Host/MainWindow.xaml.cs
Labels: ready-to-merge

#4283 Wasm Rounded Corners were not clipping
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/ClippingTests/ClippingTests_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/Clipping4273.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/Clipping4273.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.Skia.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.net.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.netstdref.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
Labels: ready-to-merge

#4291 fix(reg): Fix incorrect reference of roslyn generators when LangVersion preview is not selected
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: ready-to-merge

#4284 Add null check for GetMethod in case of write-only property
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/UserControlTests/Given_UserControl.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/UserControlTests/UserControl_WriteOnlyProperty.xaml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/UserControlTests/UserControl_WriteOnlyProperty.xaml.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/UserControlTests/UserControl_WriteOnlyProperty_UserControl.xaml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/UserControlTests/UserControl_WriteOnlyProperty_UserControl.xaml.cs
Labels: ready-to-merge

#4200 [iOS] CommandBar: fixed height regression
  src/SamplesApp/SamplesApp.UITests/CommandBar/UnoSamples_Tests.CommandBar.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.NativeCommandBar.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/ValueConverters/BoolNegationValueConverter.cs
  src/SamplesApp/UITests.Shared/ValueConverters/FromNullableBoolToCustomValueConverter.cs
  src/SamplesApp/UITests.Shared/Windows_Devices/AccelerometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/BarometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/GeolocatorTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/GyrometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/HingeAngleSensorTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/LampTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/MagnetometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/PedometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/RadioButton_Pressed.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/RadioButton_Pressed.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Dynamic.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Dynamic.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_LongTitle.xaml
  src/Uno.UI/Controls/AppBarButtonRenderer.Android.cs
  src/Uno.UI/Controls/AppBarButtonRenderer.iOS.cs
  src/Uno.UI/Controls/CommandBarHelper.iOS.cs
  src/Uno.UI/Controls/CommandBarNavigationItemRenderer.iOS.cs
  src/Uno.UI/Controls/CommandBarRenderer.Android.cs
  src/Uno.UI/Controls/CommandBarRenderer.iOS.cs
  src/Uno.UI/Controls/NativeCommandBarPresenter.Android.cs
  src/Uno.UI/Controls/NativeCommandBarPresenter.iOS.cs
  src/Uno.UI/Controls/NavigationAppBarButtonRenderer.Android.cs
  src/Uno.UI/Controls/Renderer.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.cs
  src/Uno.UI/UI/Xaml/Controls/CommandBar/CommandBar.cs
Labels: ready-to-merge

#4324 Fix BindableType generator not detecting attributes after roslyn update
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/DragAndDropTests/DragDrop_Basics_Automated.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_UpdatesMode.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/CompilationExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
Labels: ready-to-merge

#4330 fix(reg): Fix UAP build should not include C# 9 source generators
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.nuspec
  build/uno.winui.uap.targets
Labels: ready-to-merge

#4333 Adjust x:Load behavior to not require visibility binding
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_StaticCollapsed.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_StaticCollapsed.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityBinding.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityBinding.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityxBind.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityxBind.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_LoadSingle.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_LoadSingle.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Multiple.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Multiple.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
Labels: ready-to-merge

#4339 chore: Update to Uno.SourceGeneration 3.0.0-dev.18
  build/Uno.WinUI.nuspec
  src/Directory.Build.targets
Labels: ready-to-merge

#4253 feat: Windows.Storage.PathIO
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_PathIO.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage/PathIO.cs
  src/Uno.UWP/Storage/FileIO.cs
  src/Uno.UWP/Storage/PathIO.cs
Labels: ready-to-merge

#4244 [Android] ScrollViewer shouldn't pass PointerMoved to parents
  src/SamplesApp/SamplesApp.UITests/Extensions/AppExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/RectExtensions.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/ScrollViewer_Pointer_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/ScrollViewer_PointerMoved.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/ScrollViewer_PointerMoved.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Android.cs
Labels: ready-to-merge

#4349 docs: Adjust Linux templates version
  doc/articles/get-started-with-linux.md
Labels: ready-to-merge

#4353 3.1 beta backport
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/TappedTapped_Tests.cs
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Droid/BlankApp.Droid.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.UWP/BlankApp.Uwp.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Wasm/BlankApp.Wasm.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.iOS/BlankApp.iOS.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.macOS/BlankApp.macOS.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/global.json
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_StaticCollapsed.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_StaticCollapsed.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityBinding.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityBinding.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityxBind.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Deferred_VisibilityxBind.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_LoadSingle.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_LoadSingle.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Multiple.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_Multiple.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollBar/ScrollBar.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.xaml
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: ready-to-merge

#4346 feat: Add SelectionMode enum
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/SelectionMode.cs
  src/Uno.UI/UI/Xaml/Controls/SelectionMode.cs
Labels: ready-to-merge

#4381 fix(Pivot): Remove TabView.TabItems setter, not part of public API.
  build/PackageDiffIgnore.xml
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_IList_TabView.xamltest
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView.Properties.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
Labels: triage/needs-information

#4387 fix(LinkerFailure): Add missing AndroidX.Activity reference to avoid linker failure when using Uno.UI.BaseActivity.OnRetainCustomNonConfigurationInstance
  build/Uno.WinUI.nuspec
Labels: ready-to-merge

#4361 Support for UIElement.XamlRoot
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_XamlRoot.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/XamlRoot.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/XamlRootChangedEventArgs.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/XamlRoot.cs
  src/Uno.UI/UI/Xaml/XamlRootChangedEventArgs.cs
Labels: ready-to-merge

#4367 feat: Support for GuidHelper
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Foundation/GuidHelper.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Foundation/GuidHelper.cs
Labels: ready-to-merge

#4344 feat(wasm): added a font-face override for Segoe to add some cross-pl…
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/WasmCSS/Fonts.css
Labels: ready-to-merge

#4368 feat: PackageId support for Skia, WASM, Tizen
  build/PackageDiffIgnore.xml
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/ApplicationModel/TizenPackageIdExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenHost.cs
  src/Uno.UWP/ApplicationModel/IPackageIdExtension.skia.cs
  src/Uno.UWP/ApplicationModel/Package.cs
  src/Uno.UWP/ApplicationModel/PackageId.Android.cs
  src/Uno.UWP/ApplicationModel/PackageId.Skia.cs
  src/Uno.UWP/ApplicationModel/PackageId.cs
Labels: ready-to-merge

#4409 chore(ColorPicker): Update to WinUI at 607b6de4
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ColorPicker/ColorSpectrum.xaml
Labels: ready-to-merge

#4178 [Android] NativeScrollViewerPresenter was clipping its children.
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.ExpectedPixels.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Toolkit/UnoSamples_Tests.ElevatedView.cs
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedViewTests.xaml
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_CornerRadius.cs
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_CornerRadius.xaml
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_Corners.xaml
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_Corners.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Wasm.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.Android.cs
Labels: ready-to-merge

#4348 fix(shapes): Invalid shape positioning for 1px thickness
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
Labels: ready-to-merge

#4423 feat: [Wasm] Adjust netcore compatiblity
  src/Uno.Foundation.Runtime.WebAssembly/Interop/NetCoreJSInterop.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/PlatformHelper.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/Runtime.wasm.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/WebAssembly.Runtime.cs
Labels: ready-to-merge

#4376 feat: AnalyticsInfo support for WASM and Tizen
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/ApplicationModel/TizenPackageIdExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/System/Profile/TizenAnalyticsInfoExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenHost.cs
  src/Uno.UI/WasmScripts/Uno.UI.d.ts
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Windows/System/Profile/AnalyticsInfo.ts
  src/Uno.UI/ts/Windows/System/Profile/AnalyticsVersionInfo.ts
  src/Uno.UWP/System/Profile/AnalyticsInfo.skia.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.wasm.cs
  src/Uno.UWP/System/Profile/Internal/UnoDeviceForm.cs
Labels: ready-to-merge
