Repository unoplatform/uno, pull requests merged in 2020-03, with the labels that each got.

#2713 Added CornerRadius support to more default styles to match UWP
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: ready-to-merge

#2728 Fix TwoWay x:Bind on named elements
  build/ci/.azure-devops-screenshot-compare.yml
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Alignment.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_NamespaceCollision.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_NamespaceCollision.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Primitive_DataTemplate.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Primitive_DataTemplate.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_InheritedProperty.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_InheritedProperty.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_NamedElement.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_NamedElement.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
Labels: area/automation, area/code-generation

#2727 Adjust versioning for beta
  gitversion.yml
Labels: area/build

#2729 Fix ContentDialog overlay bugfixes
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialog.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialog.md
  src/Uno.UI/UI/Xaml/Style/Generic/SystemResources.xaml
Labels: area/android, area/automation, area/ios, kind/documentation

#2738 [iOS] Fix for margin on TextBox
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Margin.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Margin.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.iOS.cs
Labels: area/ios, kind/bug, kind/regression

#2601 Support of Windows.Storage.FileProperties.BasicProperties.DateModified
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFile2.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.FileProperties/BasicProperties.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage/StorageFile.cs
  src/Uno.UWP/Storage/FileProperties/BasicProperties.cs
  src/Uno.UWP/Storage/StorageFile.cs
Labels: kind/enhancement, ready-to-merge

#2741 Try Xamarin.UITests v3.0.7-dev2
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
Labels: area/automation

#2735 [iOS] Fix bug with padding on ScrollViewer
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Options.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Padding.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Padding.xaml.cs
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.iOS.cs
Labels: area/automation, area/ios

#2740 Temporarily disable When_InListViewWithItemClick
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/DoubleTappedTapped_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/RightTapped_Tests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
Labels: ready-to-merge

#2745 [Wasm] Fix ComboBox should not stretch to the full window width
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/UnoSamples_Tests.ComboBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Stretch.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Stretch.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.wasm.cs
Labels: area/automation, area/wasm, kind/documentation

#2736 Fix android ScrollViewer invalid clipping on update
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ScrollViewerTests/UnoSamples_Tests.ScrolViewer.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Clipping.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Clipping.xaml.cs
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoTwoDScrollView.java
  src/Uno.UI/Mixins/Android/FrameworkElementMixins.tt
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
Labels: area/android, area/automation, ready-to-merge

#2725 Fix erratic animations on Android and iOS
  src/Uno.UI/Media/NativeRenderTransformAdapter.Android.cs
  src/Uno.UI/Media/NativeRenderTransformAdapter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Transform.Android.cs
  src/Uno.UI/UI/Xaml/Media/Transform.iOSmacOS.cs
Labels: area/android, area/ios, ready-to-merge

#2750 [iOS] Fix border thickness with corner radius set
  build/ios-uitest-run.sh
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_LinearGradientBrush.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_LinearGradientBrush.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
Labels: area/automation, area/build, kind/documentation

#2755 Make sure to not crash if receiving a pointer event for a disposed UIElement
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.macOS.cs
Labels: area/android, area/ios, area/macos, ready-to-merge

#2765 [Android] Fix toolbar height with custom content
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.NativeCommandBar.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Native_With_Content.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Native_With_Content.xaml.cs
  src/Uno.UI/Controls/CommandBarRenderer.Android.cs
Labels: area/android, area/automation, ready-to-merge

#2764 [Android] Fix ProgressRing fails to display
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ProgressRing.cs
  src/Uno.UI/Mixins/Android/FrameworkElementMixins.tt
  src/Uno.UI/Mixins/iOS/FrameworkElementMixins.tt
  src/Uno.UI/Mixins/macOS/FrameworkElementMixins.tt
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.iOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementInternal.cs
Labels: area/android, area/ios, area/wasm, kind/documentation

#2704 Added new ElevatedView control
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedViewTests.xaml
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedViewTests.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/SubButtonsControl.xaml.cs
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI.Toolkit/Themes/Generic.xaml
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI/UI/Xaml/Controls/Border/Border.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Brush.Android.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/Brush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Brush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/BrushConverter.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.iOS.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.macOS.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.wasm.cs
  src/Uno.UWP/UI/Color.cs
  src/Uno.UWP/UI/Color.iOS.cs
Labels: area/android, area/automation, area/build, area/ios, area/wasm, kind/documentation, kind/enhancement, ready-to-merge

#2770 [Android] Fix elements may not be arranged properly
  src/Uno.UI.Tests/Windows_UI_Xaml/FrameworkElementTests/Given_FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanel.Layout.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
Labels: area/automation

#2753 Fix TransformToVisual with ListView
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.Uwa.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Behaviors/SplitViewBehavior.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Helper/DependencyObjectExtensions.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/SamplesApp.UnitTests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/Buttons.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/ListViewItem.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/TextBox_VisualStates.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/DoubleAnimationClipping.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ComboBoxItem_Selection.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewChangeViewArbitrary.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewFirstVisibleIndex.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ChangeView.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_FirstLastCacheIndex.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_VirtualizePanelAdaptaterIdCache.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_With_ListViews_Count_Measure.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ParallaxListView/ParallaxListView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Formatting_Flicker.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_VisualStates.xaml.cs
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoRecyclerView.java
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Extensions/Given_DependencyObjectExtensions.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.TransformToVisual.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TransformToVisual.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Toolkit/AssemblyInfo.cs
  src/Uno.UI.Toolkit/DependencyObjectExtensions.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI/Behaviors/VisibleBoundsPadding.cs
  src/Uno.UI/Extensions/DependencyObjectExtensions.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/Extensions/ViewExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
Labels: area/android, area/automation, area/ios, kind/documentation, ready-to-merge

#2798 Added new ElevatedView control (bp #2704)
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedViewTests.xaml
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedViewTests.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/SubButtonsControl.xaml.cs
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI.Toolkit/Themes/Generic.xaml
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI/UI/Xaml/Controls/Border/Border.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Brush.Android.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/Brush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Brush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/BrushConverter.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.iOS.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.macOS.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.wasm.cs
  src/Uno.UWP/UI/Color.cs
  src/Uno.UWP/UI/Color.iOS.cs
Labels: area/android, area/automation, area/build, area/ios, area/wasm, kind/documentation

#2799 ListView - fix stack overflow when changing SelectedItem
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
Labels: kind/documentation

#2800 [Android] Include Margin when measuring from LayoutManager
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI/Services/LayoutManager.Android.cs
Labels: area/android, kind/documentation

#2803 [iOS] Image wrongly layouted when a transform is applied
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Assets/rect.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Transforms.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Transforms.xaml.cs
  src/Uno.UI/Extensions/CGSizeExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.iOS.cs
Labels: area/automation, area/ios, kind/documentation, kind/regression

#2802 Fix pointers working erratically
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
Labels: area/wasm, ready-to-merge

#2811 [iOS] Image wrongly layouted when a transform is applied (bp #2803)
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/Assets/rect.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Transforms.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Transforms.xaml.cs
  src/Uno.UI/Extensions/CGSizeExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.iOS.cs
Labels: area/automation, area/ios, kind/documentation

#2814 fix: [Android/iOS] Layouter - Clipping were not properly applied.
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
Labels: area/android, area/ios, kind/bug, ready-to-merge

#2804 added more context to ImageAssert failure
  src/SamplesApp/SamplesApp.UITests/Extensions/FileInfoExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/FluentExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/QueryExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/RectExtensions.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
Labels: area/automation, area/ui-tests

#2812 ci: Add conventional commits validation
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/workflows/conventional-commits.yml
  doc/ReleaseNotes/LegacyReleaseNotes.md
Labels: kind/documentation

#2810 fix: [iOS] Restore original ComboBox.IsPopupFullscreen behavior
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/ComboxBox_DropDownPlacement.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/UnoSamples_Tests.ComboBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_FullScreen_Popup.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_FullScreen_Popup.xaml.cs
  src/Uno.UI-iOS-only.slnf
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
Labels: area/automation, area/build

#2692 Misc Fixes
  doc/ReleaseNotes/LegacyReleaseNotes.md
  doc/articles/features/routed-events.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/SliderTests/UnoSamples_Tests.Slider_Vertical_Tap.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ThumbTests/UnoSamples_Tests.Thumb.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/HitTest_Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/HitTest_Shapes.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/HitTest_Shapes.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ThumbTests/Thumb_DragEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ThumbTests/Thumb_DragEvents.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/UIElementCollectionTests/UIElementCollection_Insert.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/UIElementCollectionTests/UIElementCollection_Insert.xaml.cs
  src/Uno.UI.Wasm/WasmCSS/Uno.UI.css
  src/Uno.UI/UI/Xaml/BatchCollectionWrapper.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/DragCompletedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/DragDeltaEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Thumb.cs
  src/Uno.UI/UI/Xaml/Controls/Slider/Slider.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/SvgElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/documentation, ready-to-merge

#2817 build: Run PR labeler on a schedule
  .github/workflows/conventional-commits.yml
  .github/workflows/labeler.yml
Labels: ready-to-merge

#2826 chore: adjust dependabot commit message structure
  .dependabot/config.yml
Labels: ready-to-merge

#2831 fix: release/beta branches must not update minor version
  gitversion.yml
Labels: area/build

#2828 [Android/iOS] Images with margins were returning wrong measure size.
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Margins.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margins.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margins.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.iOS.cs
Labels: area/android, kind/regression, ready-to-merge

#2819 fix(codegen): BindableMetadata properly globalizing generic types
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Xaml_CodeGen/BindableMetadataGlobalizationTest.xaml
  src/SamplesApp/UITests.Shared/Xaml_CodeGen/BindableMetadataGlobalizationTest.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation

#2847 Fix ListView selection mode changed
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
Labels: area/android, area/ios, area/wasm

#1497 feat(wasm): Add CoreDispatcher support for Threading
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/Uno.UWP/UI/Core/CoreDispatcher.wasm.cs
Labels: area/automation, area/wasm, kind/dependency

#2824 Support ListView virtualization on MacOS
  src/SamplesApp/SamplesApp.Shared/MainPage.xaml.cs
  src/Uno.UI-macOS-only.slnf
  src/Uno.UI/Extensions/ViewExtensions.cs
  src/Uno.UI/Extensions/ViewExtensions.wasmnet.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ItemsStackPanel.cs
  src/Uno.UI/Mock/Color.wasm.cs
  src/Uno.UI/Mock/ListView.wasm.cs
  src/Uno.UI/Mock/ListViewBase.wasm.cs
  src/Uno.UI/Mock/UserControl.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanel.NotImplemented.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanel.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanel.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanelLayout.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ManagedItemsStackPanel.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ManagedVirtualizingPanelLayout.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelGenerator.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Stub.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/UserControl/UserControl.Android.cs
  src/Uno.UI/UI/Xaml/Controls/UserControl/UserControl.cs
  src/Uno.UI/UI/Xaml/Controls/UserControl/UserControl.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.macOS.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: area/automation, area/ios, area/wasm

#2861 fix: VisibleBoundsPadding causing text alignment problem on iOS.
  src/Uno.UI/Behaviors/VisibleBoundsPadding.cs
Labels: area/ios, kind/bug, ready-to-merge

#2878 fix(elevatedview): Patch a TemplateBinding problem.
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI.Toolkit/Themes/Generic.xaml
Labels: area/android, area/ios, area/macos, area/wasm, kind/regression, ready-to-merge

#2678 fixed flyout cannot be light dismissed by clicking outside of its content
  src/SamplesApp/SamplesApp.Droid/MainActivity.cs
  src/SamplesApp/SamplesApp.UITests/PopupUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Simple.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPresenter.cs
Labels: area/automation, kind/documentation

#2892 fix(android): Fix for bug #2879
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/ButtonClipping652.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Layout_Bug2879.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Layout_Bug2879.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_with_MinWidthColumns.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageAlignment2541.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipseAlignment2542_2547.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.macOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.Android.cs
Labels: area/android, kind/bug, ready-to-merge
