Repository unoplatform/uno, pull requests merged in 2020-08, with the labels that each got.

#3685 fix: Race condition in CoreDispatcher.RunAsync
  src/Uno.UWP/UI/Core/CoreDispatcher.cs
Labels: ready-to-merge

#3684 ci: Set nuspec min version to 5.0
  build/Uno.WinUI.Lottie.nuspec
  build/Uno.WinUI.RemoteControl.nuspec
  build/Uno.WinUI.Skia.Gtk.nuspec
  build/Uno.WinUI.Skia.Wpf.nuspec
  build/Uno.WinUI.WebAssembly.nuspec
  build/Uno.WinUI.nuspec
Labels: ready-to-merge

#3691 Fix invalid templated parent for wrapped internal native views
  src/SamplesApp/SamplesApp.Skia.Gtk/Properties/launchSettings.json
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Native_View.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/NativeViewPage/NativeViewIFrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/NativeViewPage/NativeView_Page.xaml
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: ready-to-merge

#3717 fix(perf): Disable SourceLink untracked sources
  src/Directory.Build.props
Labels: ready-to-merge

#3716 [Wasm] Fixed ElevatedView with constrained size
  src/SamplesApp/SamplesApp.UITests/Toolkit/UnoSamples_Tests.ElevatedView.cs
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_Dimensions.xaml
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_Dimensions.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Toolkit/ElevatedView.cs
Labels: area/wasm, kind/bug

#3719 [Wasm] Slightly improved ImageBrush image positionning on Wasm.
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_WriteableBitmap.xaml.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
Labels: area/wasm

#3688 Dev/xygu/20200731/datetime pickers
  src/Uno.UI/UI/Xaml/Controls/Flyout/DatePickerFlyoutPresenter.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.Native.xaml
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: ready-to-merge

#3726 Theme update fixes
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_Themed_Color_Page.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Data/ResourceBinding.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
Labels: ready-to-merge

#3734 fix(wasm): Fix invalid path for Lottie assets
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.wasm.cs
Labels: ready-to-merge

#3681 feat(scrollViewer): Add support for managed scroll bars
  build/PackageDiffIgnore.xml
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ScrollBar/UnoSamples_Tests.ScrollBar.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ThumbTests/UnoSamples_Tests.Thumb.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/DoubleTappedTapped_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/TappedTapped_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/DoubleTappedTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TappedTest.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollBar/ScrollBar_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollBar/ScrollBar_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_ScrollBars.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_ScrollBars.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ThumbTests/Thumb_DragEvents.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/MeasurePage.xaml
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkUIElementPointersSupport.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfUIElementPointersSupport.cs
  src/Uno.UI.RuntimeTests/Tests/System/Given_DispatcherQueueTimer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/IScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Skia.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.netstd.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.netstdref.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Skia.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.xaml
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.netstd.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/Data/PropertyPath.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.skia.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Properties.cs
  src/Uno.UI/UI/Xaml/UIElement.Skia.cs
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UI/WasmCSS/Uno.UI.css
  src/Uno.UWP/System/DispatcherQueueTimer.cs
  src/Uno.UWP/System/DispatcherQueueTimer.iOSmacOS.cs
  src/Uno.UWP/System/DispatcherQueueTimer.skia.cs
  src/Uno.UWP/UI/Core/PointerEventArgs.cs
  src/Uno.UWP/UI/Input/PointerPointProperties.cs
Labels: area/wasm

#3746 fix(wasm): Correctly resolve assets when app is in a subdirectory
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.wasm.cs
Labels: ready-to-merge

#3745 Fix WinUI template, add build automation
  build/run-template-tests.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
Labels: ready-to-merge

#3757 Documentation fixes for Wasm-JS w/Uno 3.0
  doc/articles/interop/wasm-javascript-1.md
  doc/articles/interop/wasm-javascript-2.md
  doc/articles/interop/wasm-javascript-3.md
  src/Uno.UI.Runtime.WebAssembly/Xaml/UIElementWasmExtensions.cs
Labels: area/wasm, kind/documentation, ready-to-merge

#3759 fix(transform): [MacOS] Fix transform not applied
  src/Uno.UI/Media/NativeRenderTransformAdapter.iOSmacOS.cs
Labels: area/macos, ready-to-merge

#3668 WASM SpeechRecognizer
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Media/SpeechRecognizerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Media/SpeechRecognizerTests.xaml.cs
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UI/WasmScripts/Uno.UI.d.ts
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Windows/Media/SpeechRecognizer.ts
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.SpeechRecognition/SpeechRecognitionResult.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.SpeechRecognition/SpeechRecognizer.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognitionResult.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.wasm.cs
Labels: area/wasm

#3763 fix(reg): [iOS] Fix possible cyclic visual tree
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
Labels: area/ios, ready-to-merge

#3775 fix(navView): Back button visiblity not updated properly
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.cs
Labels: ready-to-merge

#3761 docs: adjust indentation
  doc/articles/interop/wasm-javascript-3.md
  doc/articles/toc.yml
Labels: kind/documentation

#3779 fix(reg): Adjust XamlControlsResources for registered dictionaries
  src/Uno.UI.FluentTheme/XamlControlsResources.cs
Labels: ready-to-merge

#3790 fix(reg): [Wasm] Fix default styles not referenced
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/PlatformHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/Uno.UI.FluentTheme/Uno.UI.FluentTheme.csproj
Labels: ready-to-merge

#3803 fix: [Wasm] Don't use Assemly.Load in ApiInformation
  src/Uno.Foundation/Metadata/ApiInformation.cs
  src/Uno.UI/UI/Xaml/Application.cs
Labels: ready-to-merge

#3807 fix(transforms): [MacOS] Fix support of RenderTransformOrigin
  src/Uno.UI/Media/NativeRenderTransformAdapter.iOSmacOS.cs
Labels: area/macos, ready-to-merge

#3800 Prism template update
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Droid/BlankApp.Droid.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Droid/Properties/AndroidManifest.xml
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Shared/App.xaml
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.UWP/BlankApp.Uwp.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Wasm/BlankApp.Wasm.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.iOS/BlankApp.iOS.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.macOS/BlankApp.macOS.csproj
Labels: ready-to-merge

#3815 fix: Reduce the use of `Assembly.Load` during startup
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs
Labels: ready-to-merge

#3820 fix(reg): Adjust assembly loading for Wasm AOT issue
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Resources/en-US/Resources.resw
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs
Labels: ready-to-merge

#3840 BindingExpression.UpdateSource() won't update unless binding is TwoWay
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Bindings.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Bindings.xaml.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfUIElementPointersSupport.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/UI/Xaml/Data/UpdateSourceTrigger.cs
Labels: kind/bug

#3842 On WASM, the CornerRadius is not applied on the TextBox's border element
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_CornerRadius.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_CornerRadius.xaml.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: kind/bug

#3847 fix: [macOS] Allow setting title before window becomes key
  src/Uno.UI/Controls/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Window.macOS.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.macOS.cs
Labels: area/macos, ready-to-merge

#3849 fix(ToggleMenuFlyoutItem): added DefaultStyleKey so that the correct …
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_ToggleMenu.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_ToggleMenu.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/ToggleMenuFlyoutItem.cs
Labels: ready-to-merge

#3844 [macOS] FolderPicker
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Storage/FilePickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/FilePickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/FolderPickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/FolderPickerTests.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FolderPicker.cs
  src/Uno.UWP/Storage/Pickers/FolderPicker.macOS.cs
Labels: ready-to-merge

#3548 fix(NavigationView): toggle pane button width when light-dismissed
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Tests.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.cs
Labels: ready-to-merge

#3881 docs: Add Skia to the issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/samples-request.md
Labels: ready-to-merge

#3903 chore: Avoid false-positive warnings for LaunchActivatedEventArgs
  src/Uno.UWP/ApplicationModel/Activation/LaunchActivatedEventArgs.cs
Labels: ready-to-merge
