Repository unoplatform/uno, pull requests merged in 2020-11, with the labels that each got.

#4419 New UI Tests for CornerRadius
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/ClippingTests/ClippingTests_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/CornerRadiusControls.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/CornerRadiusControls.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Skia.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Uno.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewerExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTip.xaml
Labels: project/layout, ready-to-merge

#4399 Howto webservice tutorial
  doc/articles/Assets/how-to-webservice/TheCatApiClient-UWP.png
  doc/articles/Assets/how-to-webservice/app-running-simulators.png
  doc/articles/Assets/how-to-webservice/client-with-favorite.png
  doc/articles/Assets/how-to-webservice/crosplat-start.png
  doc/articles/Assets/how-to-webservice/favorites-on-phone.png
  doc/articles/Assets/how-to-webservice/json-install.png
  doc/articles/Assets/how-to-webservice/model-folders.png
  doc/articles/Assets/how-to-webservice/newproject1.PNG
  doc/articles/Assets/how-to-webservice/newproject2.PNG
  doc/articles/Assets/how-to-webservice/newproject3.PNG
  doc/articles/Assets/how-to-webservice/uwp-ui-busy.png
  doc/articles/Assets/how-to-webservice/uwp-ui-preview.png
  doc/articles/Assets/how-to-webservice/wasm-ui-preview.png
  doc/articles/howto-consume-webservices.md
  doc/articles/toc.yml
Labels: ready-to-merge

#4438 feat: UISettings
  doc/articles/features/windows-ui-viewmanagement.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/UISettingsTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/UISettingsTests.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/Extensions/Helpers/Theming/GtkSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkApplicationExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenApplicationExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/Extensions/Helper/Theming/WpfSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfApplicationExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfHost.cs
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Application.Skia.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Application.net.cs
  src/Uno.UI/UI/Xaml/Application.netstdref.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/UIColorType.cs
  src/Uno.UWP/Helpers/Theming/ISystemThemeHelperExtension.cs
  src/Uno.UWP/Helpers/Theming/SystemTheme.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.Android.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.iOS.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.macOS.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.skia.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.wasm.cs
  src/Uno.UWP/UI/ViewManagement/UIColorType.cs
  src/Uno.UWP/UI/ViewManagement/UISettings.Android.cs
  src/Uno.UWP/UI/ViewManagement/UISettings.cs
Labels: ready-to-merge

#3311 StartStopEventWrapper
  src/Uno.UI.RuntimeTests/Tests/Uno_Helpers/Given_StartStopEventWrapper.cs
  src/Uno.UWP/Helpers/StartStopEventWrapper.cs
Labels: ready-to-merge

#4268 Handle const fields in XAML code generation
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Functions_Control.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Functions_Control.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Functions.cs
Labels: ready-to-merge

#4406 fix(resourcedictionary): Fix Source path not registered correctly
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlGlobalStaticResourcesMap.cs
Labels: ready-to-merge

#4427 WinUI InfoBar
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/InfoBarTests/Given_InfoBar.cs
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/MSTestInterop.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/InfoBarTests/InfoBarPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/InfoBarTests/InfoBarPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.ResourceKeys.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBar.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBar.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBar.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarCloseReason.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarClosedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarClosingEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarPanel.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarPanel.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarSeverity.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBarTemplateSettings.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/InfoBar_themeresources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBar/Strings/en-us/Resources.resw
Labels: ready-to-merge

#4448 Fix for Android .Measure() bug on TextBlock
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/AppExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/AppRect.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/AppRectExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/FluentExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Extensions/QueryExtensions.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.ExpectedPixels.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageUniformWithinScrollViewer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageUniformWithinScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_Two.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_Two_With_Wrap.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_Two_With_Wrap.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/Simple_Contrained_Horizontal_Center_Wrap.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/Simple_Contrained_Horizontal_Center_Wrap.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_ConstrainedByContainer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_LineHeight_TextTrimming.xaml
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
Labels: area/textblock, project/layout, project/text, ready-to-merge

#4503 feat(skia): [GTK][WPF][Tizen] Add `CoreWindow.[KeyUp|KeyDown]` and `UIElement.[KeyUP|KeyDown]`
  build/PackageDiffIgnore.xml
  doc/articles/features/pointers-keyboard-and-other-user-inputs.md
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenDisplayInformationExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfDragDropExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfHost.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/KeyRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Input/Input/KeyRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/UIElement.Keyboard.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Skia.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/CorePhysicalKeyStatus.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/CoreWindow.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/KeyEventArgs.cs
  src/Uno.UWP/System/KeyEventArgs.cs
  src/Uno.UWP/UI/Core/CorePhysicalKeyStatus.cs
  src/Uno.UWP/UI/Core/CoreVirtualKeyStates.cs
  src/Uno.UWP/UI/Core/CoreWindow.skia.cs
Labels: ready-to-merge

#4512 Add support for "Auto" for control size
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/FrameworkElement_Sizes.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/FrameworkElement_Sizes.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.FastConvert.cs
Labels: ready-to-merge

#4526 Items - ItemsSource sync tests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.Items.cs
Labels: ready-to-merge

#4543 fix(generation): Fixes invalid Tuples expansion using Roslyn 3.5 and later
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Given_SymbolExtension.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/SymbolExtensions.cs
Labels: ready-to-merge

#4547 feat: Add template support for WinUI Desktop
  build/run-template-tests.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/.template.config/vs-2017.3.host.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Desktop/Properties/PublishProfiles/win10-arm64.pubxml
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Desktop/Properties/PublishProfiles/win10-x64.pubxml
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Desktop/Properties/PublishProfiles/win10-x86.pubxml
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Desktop/UnoWinUIQuickStart.Windows.Desktop.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Desktop/app.manifest
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Images/LockScreenLogo.scale-200.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Images/SplashScreen.scale-200.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Images/Square150x150Logo.scale-200.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Images/Square44x44Logo.scale-200.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Images/StoreLogo.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Images/Wide310x150Logo.scale-200.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/Package.appxmanifest
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/UnoWinUIQuickStart.Windows.Package.wapproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.Windows.Package/build/Microsoft.WinUI.AppX.targets
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-winui/UnoWinUIQuickStart.sln
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/PointerRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.netstdref.cs
  src/Uno.UWP/UI/Composition/RectangleClip.cs
  src/Uno.UWPSyncGenerator.Reference/Uno.UWPSyncGenerator.Reference.csproj
Labels: ready-to-merge

#4549 fix(wizard): UWP project is not set as startup by default
  src/SolutionTemplate/UnoSolutionTemplate.Wizard/UnoSolutionWizard.cs
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.wasm.cs
Labels: ready-to-merge

#4559 fix: Add missing slash character in namespaces declarations referring to Uno URIs
  doc/articles/platform-specific-xaml.md
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/InfoBarTests/InfoBarPage.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/Midi/MidiDeviceOutput.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/GradientsPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/RadialGradientBrushPage.xaml
Labels: ready-to-merge

#4556 ci: Adjust UI Tests pipeline retries to only failed tests
  .vsts-ci.yml
  build/android-uitest-run.sh
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/.azure-devops-macos.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-samplesapp-uitests-build.yml
  build/ci/.azure-devops-screenshot-compare.yml
  build/ci/.azure-devops-skia-tests.yml
  build/ci/.azure-devops-uap.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/.azure-devops-wasm-cs9-preview-validation.yml
  build/ci/.azure-devops-wasm-uitests.yml
  build/ci/.azure-devops-windows.yml
  build/ios-uitest-run.sh
  build/run-automated-uitests.sh
Labels: ready-to-merge

#4600 docs: Update working-with-accessibility.md
  doc/articles/features/working-with-accessibility.md
Labels: ready-to-merge

#4551 docs: Tweak wizard page title
  doc/articles/get-started-wizard.md
Labels: ready-to-merge

#4215 feat: Implemented FileSavePicker on MacOS
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FileSavePicker.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/PickerLocationId.cs
  src/Uno.UWP/Storage/Pickers/FileSavePicker.cs
  src/Uno.UWP/Storage/Pickers/FileSavePicker.macOS.cs
  src/Uno.UWP/Storage/Pickers/PickerLocationId.cs
Labels: ready-to-merge
