Repository unoplatform/uno, pull requests merged in 2020-02, with the labels that each got.

#2567 .Tap() -> .FastTap()
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/NumberBoxTests/Given_NumberBox.cs
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/TwoPaneViewTests/Given_TwoPaneView.cs
  src/SamplesApp/SamplesApp.UITests/QueryExtensions.cs
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/Toolkit/UnoSamples_Tests.Elevation.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.ContentControl.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Popup.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.RadioButton.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Touch.cs
  src/SamplesApp/SamplesApp.UITests/Windows_Devices/GyrometerTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/ContentControlTests/ContentControlBehaviorTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerTests/UnoSamples_Tests.FocusManager.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/VisualStateManagerTests/VisualStateManagerTest.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Automation/AutomationId_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/BitmapIconTests/UnoSamples_Tests.BitmapIcon.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/BorderTests/Border_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Test_NativeButtons.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_IsEnabled_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_Opacity_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CheckBoxTests/UnoSamples_CheckBox.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/UnoSamples_Tests.ComboBoxTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.XamlCommandBar.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ControlTests/Control_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.BitmapSource.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/MenuFlyoutItemTests/UnoSamples_Test_Click.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PopupTests/UnoSamples_Popup_Simple_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ScrollViewerTests/UnoSamples_Tests.ScrolViewer.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TimePickerTests/UnoSamples_Tests.TimePicker.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ToggleSwitchTests/UnoSamples_Tests.ToggleSwitch.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ToolTipTests/ToolTip_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/WebViewTests/UnoSamples_Test_NavigateToString.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Data/UnoSamples_Tests.XBind.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Capture_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/EventSequence_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Opacity.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Transforms.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.cs
Labels: area/automation, ready-to-merge

#2565 Adjust build pipelines
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-windows.yml
  build/ci/templates/gitversion.yml
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/NumberBoxTests/Given_NumberBox.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
Labels: area/automation, area/build, area/code-generation, ready-to-merge

#2560 MacOS - ScrollViewer, ItemsControl, LinearGradientBrush support, misc fixes
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/uno-development/building-uno-macos.md
  doc/articles/uno-development/debugging-uno-ui.md
  src/Uno.UI-macOS-only.slnf
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/IFrameworkElement.cs
  src/Uno.UI/UI/Xaml/IHasSizeThatFits.macOS.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.macOS.cs
Labels: area/build, area/ios, area/macos, kind/documentation

#2561 T4generator line endings independence
  src/T4Generator/LineEndHelper.cs
  src/T4Generator/Program.cs
Labels: ready-to-merge

#2583 Adjust Gitter target audience
  README.md
Labels: kind/documentation

#2592 [Android] Restore native popups by default
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/FeatureConfiguration.cs
Labels: kind/documentation, ready-to-merge

#2584 Misc Binding updates
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingHelperTests/Given_XamlBindingHelper.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_StateTrigger.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_StateTrigger.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_StaticResource_SystemTypes.xamltest
  src/Uno.UI/DataBinding/BindingPropertyHelper.FastConvert.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlTypeResolver.cs
  src/Uno.UI/UI/Xaml/Style/Generic/SystemResources.xaml
Labels: area/automation, area/code-generation, kind/documentation, ready-to-merge

#2581 [macOS] MessageDialog
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Popups/MessageDialog.cs
  src/Uno.UWP/UI/Popups/MessageDialog.macOS.cs
Labels: area/macos, ready-to-merge

#2528 [Wasm] Implemented TryEnterFullScreenMode and ExitFullScreenMode
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/FullScreenModeTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/FullScreenModeTests.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Windows/UI/ViewManagement/ApplicationView.ts
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/ApplicationView.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.wasm.cs
Labels: area/wasm, kind/enhancement, ready-to-merge

#2574 [macOS] AnalyticsInfo
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.Profile/AnalyticsInfo.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.Profile/AnalyticsVersionInfo.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.macOS.cs
  src/Uno.UWP/System/Profile/AnalyticsVersionInfo.macOS.cs
Labels: area/macos, ready-to-merge

#2597 [Android][macOS] Support for ApplicationView.Title
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/ApplicationView.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.Android.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.macOS.cs
Labels: area/android, area/macos, ready-to-merge

#2577 [macOS] Clipboard get/set text
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.macOS.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackage.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackageView.macOS.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/StandardDataFormats.macOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/Clipboard.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackage.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackageView.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/StandardDataFormats.cs
Labels: area/macos, kind/enhancement, ready-to-merge

#2608 Fixes for Issue 2603 - Some remaining layout problems
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/ButtonClipping652.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/ButtonClipping652.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/ButtonClippingTestsControl.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_CenteredShapes.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_CenteredShapes.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_with_MinWidthColumns.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageAlignment2541.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageAlignment2541.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/RadioButtonTests/RadioButton2450.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/RadioButtonTests/RadioButton2450.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipseAlignment2542_2547.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipseAlignment2542_2547.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipsePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/LinePage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/LineStretchModes.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/LineStretchModes.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PathStretchModes.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PathStretchModes.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/StretchPage.xaml.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Line.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Line.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
Labels: area/android, area/automation, area/build, area/ios, kind/regression

#2419 UI Tests for radio buttons and pop up
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PopupTests/UnoSamples_Popup_LightDismiss_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/RadioButtonTests/UnoSamples_RadioButton_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Popup/Popup_LightDismiss.xaml
Labels: area/automation, ready-to-merge

#2456 UI Tests List View
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Expandable_Item_Large.xaml
Labels: area/automation

#2636 [macOS] Support for Flyout
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.macOS.cs
  src/Uno.UI/UI/Xaml/Style/Generic/GenericStyles.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Window.macOS.cs
Labels: ready-to-merge

#2440 UI Tests Focus Manager Direction
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerDirectionTests/UnoSamples_Tests.FocusManagerDirection.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/FocusManager_FocusDirection.xaml
Labels: area/automation, area/build, ready-to-merge

#2458 UI Tests ListView Item click, text change and height change
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewChangeHeight.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Changing_Text.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ItemClick.xaml
Labels: area/automation

#2614 UI Tests Nested Buttons and Radio button pressed
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_IsEnabled_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Nested_Buttons.xaml
Labels: area/automation

#2643 Added support for ApplicationViewMode.Spanning
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/ApplicationViewMode.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/ApplicationViewMode.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/ApplicationViewSpanningRectsPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/ApplicationViewSpanningRectsPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/FullScreenModeTests.xaml.cs
  src/Uno.Foundation/Extensibility/ApiExtensibility.cs
  src/Uno.Foundation/Extensibility/ApiExtensionAttribute.cs
  src/Uno.Foundation/Rect.cs
  src/Uno.UI.DualScreen/AssemblyInfo.cs
  src/Uno.UI.DualScreen/DuoApplicationViewSpanningRect.cs
  src/Uno.UI.DualScreen/Uno.UI.DualScreen.csproj
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UWP/Devices/Sensors/Helpers/INativeDualScreenProvider.cs
  src/Uno.UWP/Devices/Sensors/Helpers/NativeHingeAngleReading.cs
  src/Uno.UWP/Devices/Sensors/HingeAngleSensor.Android.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/ApplicationView.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/ApplicationViewMode.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationViewMode.cs
Labels: area/android, area/automation, kind/enhancement, ready-to-merge

#2652 Adding to the documentation for changing the color of LightDismissOverlayBackground
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Flyout/Flyout.md
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.md
Labels: kind/documentation

#2511 UI Tests Pivot and Text Box
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PivotTests/UnoSamples_Pivot_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Pivot/PivotSimpleTest.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Pivot/Pivot_CustomContent_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_TextAlignment.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_TextProperty.xaml
Labels: area/automation, area/build, area/wasm

#2647 [macOS] Full screen mode
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/ApplicationView.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.macOS.cs
Labels: area/macos, kind/enhancement, ready-to-merge

#2611 Ensuring source generator generates valid code for empty DataTemplate
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/EmptyDataTemplate.xaml
Labels: ready-to-merge

#2648 [macOS] Implemented ShowPhoneCallUI
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-applicationmodel-calls.md
  src/Uno.UWP/ApplicationModel/Calls/PhoneCallManager.cs
  src/Uno.UWP/ApplicationModel/Calls/PhoneCallManager.macOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Calls/PhoneCallManager.cs
Labels: ready-to-merge

#2667 [macOS] Fixes for Samples app compilation
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Models/ImageFilePathModel.cs
  src/Uno.UI-vs4mac.sln
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout.macOS.cs
  src/Uno.UWP/Security.Credentials/PasswordVault.iOSmacOS.cs
Labels: ready-to-merge

#1964 Fix spelling/grammar in docs intro.md
  doc/articles/intro.md
Labels: kind/documentation, ready-to-merge

#2673 Remove UWP-Specific Assets from the shared project
  src/SolutionTemplate/UnoSolutionTemplate/Shared/Assets/SharedAssets.md
  src/SolutionTemplate/UnoSolutionTemplate/Shared/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  src/SolutionTemplate/UnoSolutionTemplate/Shared/Shared.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/Shared/UnoQuickStart.Shared.projitems
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Assets/LockScreenLogo.scale-200.png
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Assets/SplashScreen.scale-200.png
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Assets/Square150x150Logo.scale-200.png
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Assets/Square44x44Logo.scale-200.png
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Assets/StoreLogo.png
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Assets/Wide310x150Logo.scale-200.png
  src/SolutionTemplate/UnoSolutionTemplate/UWP/UnoQuickStart.Uwp.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Uwp.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/UnoSolutionTemplate.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/Assets/SplashScreen.png
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/Wasm.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/WasmScripts/AppManifest.js
Labels: area/solution-templates, kind/documentation

#2564 Enable animation of TransformGroup
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media/Transform_Tests/Basics_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.TransformGroup.cs
  src/SamplesApp/SamplesApp.UITests/_Utils/ColorCodeParser.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState_Opacity.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState_Transforms.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_TransformGroup.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_TransformGroup.xaml.cs
  src/Uno.UI/DataBinding/BindingPath.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DiscreteFloatValueAnimator.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/GPUFloatValueAnimator.iOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/NativeValueAnimatorAdapter.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimation.Android.cs
  src/Uno.UI/UI/Xaml/Media/Transform.Android.cs
  src/Uno.UI/UI/Xaml/Media/Transform.cs
  src/Uno.UI/UI/Xaml/Media/Transform.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/TransformGroup.cs
Labels: area/android, area/automation, area/ios

#2675 Documentation is not up to date, UI Tests can be run on iOS.
  doc/articles/uno-development/working-with-the-samples-apps.md
Labels: kind/documentation

#2671 [Wasm] Fix double arrange margin
  .vsts-ci.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/.azure-devops-windows.yml
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Tests/BinderTests/Given_Binder.DynamicObject.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.Expando.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.TargetNullValue.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.Propagation.cs
  src/Uno.UI.Tests/Global.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/BorderTests/Given_Border.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid_And_Min_Max.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/FrameworkElementTests/Given_FrameworkElement.cs
  src/Uno.UI/Mock/Layouter.net.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
Labels: area/automation, area/build, area/wasm

#2595 [macOS] Support for FontIcon
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.macOS/Info.plist
  src/SamplesApp/SamplesApp.macOS/Resources/Fonts/winjs-symbols.ttf
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/Uno.UI/UI/Xaml/Controls/Icon/IconElement.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/IconElement.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/IconElement.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.macOS.cs
Labels: area/macos

#2691 Adjust DispatcherQueueTimer runtime test
  src/Uno.UI.RuntimeTests/Tests/System/Given_DispatcherQueueTimer.cs
  src/Uno.UWP/System/DispatcherQueueTimer.cs
Labels: ready-to-merge

#2684 Misc fixes
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.TransformGroup.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/UI/Xaml/Controls/Primitives/Thumb.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
Labels: area/android, area/automation, area/wasm

#2571 fixed ObjectDisposedException in BindingPath
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/DataBinding/BindingPath.cs
Labels: kind/documentation

#2679 Fixed layout bug with margins
  build/ci/.azure-devops-screenshot-compare.yml
  src/SamplesApp/SamplesApp.Shared/Samples/UnitTests/UnitTestsPage.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/NumberBoxTests/Given_NumberBox.cs
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/NumberBoxTests/NumberBox_ExpressionTest.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/NumberBoxTests/NumberBox_ExpressionTest.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/RectArranged100x100.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/RectArranged100x100.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Alignments.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Alignments.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_ArrangeOverride_Alignment.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_ArrangeOverride_Alignment.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Empty.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Empty.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/CenteredGridinGridwithfixedsizechild.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Special_Character.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Special_Character.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_RoundedCorners.xaml
  src/Uno.Foundation/Rect.cs
  src/Uno.Foundation/Size.cs
  src/Uno.UI.RuntimeTests/Helpers/SizeAssertion.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.cs
  src/Uno.UI.RuntimeTests/Tests/System/Given_DispatcherQueueTimer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TransformToVisual.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Tests/Extensions/Given_LayoutHelper.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/BorderTests/Given_Border.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ImageTests/Given_ImageSizeHelper.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/StackPanelTest/Given_StackPanel.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/FrameworkElementTests/Given_FrameworkElement.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/GridLength.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/android, area/automation, area/ios, area/wasm, ready-to-merge

#2674 Update maps control docs
  doc/articles/controls/map-control-support.md
Labels: ready-to-merge

#2701 [Android] Fix Image bugs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageWithLateSourceFixedDimensions.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageWithLateSourceFixedDimensions.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageWithLateSourceUniformToFill.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageWithLateSourceUniformToFill.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margin_Large.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Margin_Large.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_UseTargetSize.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_UseTargetSizeLate.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_UseTargetSizeLate.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Models/ImageWithLateSourceViewModel.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
Labels: area/android, area/automation

#2702 Multiple x:Bind Updates (TwoWay, x:DefaultBindMode, path less bindings)
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-ui-xaml-xbind.md
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Given_XBindParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Given_XBindRewriter.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI-UnitTests-only.slnf
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Converter _DataTemplate.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Converter _DataTemplate.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Converter.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Converter.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_DataTemplate_TwoWay.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_DataTemplate_TwoWay.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_DefaultBindMode.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_DefaultBindMode.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_BindBack.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_BindBack.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_BindBack_DataTemplate.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_BindBack_DataTemplate.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_Object.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_Object.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_Object_DataTemplate.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_Object_DataTemplate.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_Simple.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_TwoWay_Simple.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/UI/Xaml/Data/Binding.cs
  src/Uno.UI/UI/Xaml/Data/BindingHelper.cs
Labels: area/automation, area/code-generation, kind/documentation
