Repository unoplatform/uno, pull requests merged in 2020-05, with the labels that each got.

#3064 fix(android-geolocator): Request and validate permissions
  src/SamplesApp/SamplesApp.Droid/Properties/AndroidManifest.xml
  src/SamplesApp/SamplesApp.Droid/Properties/AssemblyInfo.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.Android.cs
Labels: ready-to-merge

#3079 feat(lottie): Misc improvements for Lottie
  build/PackageDiffIgnore.xml
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.Android.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.iOSmacOS.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.wasm.cs
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/AddIns/Uno.UI.Lottie/ts/Uno.UI.Lottie.ts
  src/SamplesApp/SamplesApp.Droid/Assets/Lottie/LightBulb.json
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/UITests.Shared/Lottie/LightBulb.json
  src/SamplesApp/UITests.Shared/Lottie/LottieProgressPage.xaml
  src/SamplesApp/UITests.Shared/Lottie/LottieProgressPage.xaml.cs
  src/SamplesApp/UITests.Shared/Lottie/SampleLottieAnimation.xaml
  src/SamplesApp/UITests.Shared/Lottie/SampleLottieAnimation.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/AnimatedVisualPlayer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/AnimatedVisualPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/IAnimatedVisualSource.cs
Labels: area/android, area/ios, area/wasm

#3106 [macOS] PointerCursor
  src/SamplesApp/UITests.Shared/Windows_UI_Core/SetCursor.xaml.cs
  src/Uno.UWP/UI/Core/CoreWindow.cs
  src/Uno.UWP/UI/Core/CoreWindow.macOS.cs
Labels: area/macos

#3113 feat(progressring): WinUI 2.4 ProgressRing
  doc/articles/features/Lottie.md
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.Android.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.iOSmacOS.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.wasm.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceProvider.cs
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/AddIns/Uno.UI.Lottie/WasmScripts/lottie.js
  src/AddIns/Uno.UI.Lottie/ts/Uno.UI.Lottie.ts
  src/AddIns/Uno.UI.Lottie/ts/lottie-web.d.ts
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/UITests.Shared/Lottie/LottieEmbeddedJson.xaml
  src/SamplesApp/UITests.Shared/Lottie/LottieEmbeddedJson.xaml.cs
  src/SamplesApp/UITests.Shared/Lottie/loading.json
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRingPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRingPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Progress/ProgressRing.xaml
  src/Uno.UI/Controls/BindableImageView.Android.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedVisualPlayer/ILottieVisualSourceProvider.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRingAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRingIntdeterminate.json
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UWP/Globalization/ApplicationLanguages.Android.cs
  src/Uno.UWP/Services/Maps/MapLocationFinder.Android.cs
Labels: area/android, area/ios, area/macos, area/wasm, kind/enhancement, ready-to-merge

#3044 feat(gradient): RadialGradientBrush for iOS, Android & WASM
  build/PackageDiffIgnore.xml
  doc/articles/features/shapes-and-brushes.md
  doc/articles/uno-development/building-uno-macos.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/GradientsPage.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/GradientsPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/RadialGradientBrushPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/RadialGradientBrushPage.xaml.cs
  src/Uno.UI.Wasm/WasmCSS/Uno.UI.css
  src/Uno.UI/Controls/AppBarButtonRenderer.iOS.cs
  src/Uno.UI/Controls/CommandBarRenderer.iOS.cs
  src/Uno.UI/Controls/PaintPool.Android.cs
  src/Uno.UI/Controls/UIStringAttributesHelper.iOS.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/BrushMappingMode.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/GradientBrush.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/LinearGradientBrush.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ProgressRing/ProgressRing.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.macOS.cs
  src/Uno.UI/UI/Xaml/Documents/Hyperlink.cs
  src/Uno.UI/UI/Xaml/Documents/InlineExtensions.Android.cs
  src/Uno.UI/UI/Xaml/Documents/UIElementTextHelper.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Media/Brush.Android.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/Brush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Brush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/BrushMappingMode.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/RadialGradientBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/RadialGradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/RadialGradientBrush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/RadialGradientBrush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs
  src/Uno.UWP/UI/Color.cs
  src/Uno.UWP/UI/ColorOffset.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement, ready-to-merge

#3127 fix(bindableswithcompat, shapes): [android,wasm] Color brushes added …
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToggleSwitchControl/ToggleSwitch_Default_Style.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/EllipsePage.xaml
  src/Uno.UI/Controls/BindableSwitchCompat.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs
Labels: area/android, area/wasm

#3094 feat: FindFirst/LastFocusableElement
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/FocusManager.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.Android.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.iOS.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.macOS.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.net.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.wasm.cs
Labels: area/android, area/ios, area/macos, area/wasm, ready-to-merge

#3070 feat: Support for Windows.Data.Xml.Dom APIs
  build/PackageDiffIgnore.xml
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_Data_Xml/DomTests/Given_XmlDocument.cs
  src/Uno.UI.Tests/Windows_Data_Xml/DomTests/basictest.xml
  src/Uno.UWP/Data/Xml/Dom/DtdEntity.cs
  src/Uno.UWP/Data/Xml/Dom/DtdNotation.cs
  src/Uno.UWP/Data/Xml/Dom/IXmlCharacterData.cs
  src/Uno.UWP/Data/Xml/Dom/IXmlNode.cs
  src/Uno.UWP/Data/Xml/Dom/IXmlNodeSelector.cs
  src/Uno.UWP/Data/Xml/Dom/IXmlNodeSerializer.cs
  src/Uno.UWP/Data/Xml/Dom/IXmlText.cs
  src/Uno.UWP/Data/Xml/Dom/NodeType.cs
  src/Uno.UWP/Data/Xml/Dom/XmlAttribute.cs
  src/Uno.UWP/Data/Xml/Dom/XmlCDataSection.cs
  src/Uno.UWP/Data/Xml/Dom/XmlComment.cs
  src/Uno.UWP/Data/Xml/Dom/XmlDocument.cs
  src/Uno.UWP/Data/Xml/Dom/XmlDocumentFragment.cs
  src/Uno.UWP/Data/Xml/Dom/XmlDocumentType.cs
  src/Uno.UWP/Data/Xml/Dom/XmlDomImplementation.cs
  src/Uno.UWP/Data/Xml/Dom/XmlElement.cs
  src/Uno.UWP/Data/Xml/Dom/XmlEntityReference.cs
  src/Uno.UWP/Data/Xml/Dom/XmlNamedNodeMap.cs
  src/Uno.UWP/Data/Xml/Dom/XmlNodeList.cs
  src/Uno.UWP/Data/Xml/Dom/XmlProcessingInstruction.cs
  src/Uno.UWP/Data/Xml/Dom/XmlText.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/DtdEntity.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/DtdNotation.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/IXmlCharacterData.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/IXmlNode.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/IXmlNodeSelector.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/IXmlNodeSerializer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/IXmlText.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/NodeType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlAttribute.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlCDataSection.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlComment.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlDocument.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlDocumentFragment.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlDocumentType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlDomImplementation.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlElement.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlEntityReference.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlNamedNodeMap.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlNodeList.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlProcessingInstruction.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Xml.Dom/XmlText.cs
Labels: ready-to-merge

#3190 feat(wasm): Added ability to call async javascript `Promise<string>` and await it.
  src/Uno.Foundation/LinkerDefinition.Wasm.xml
  src/Uno.Foundation/Runtime.wasm.cs
  src/Uno.Foundation/Uno.Foundation.csproj
  src/Uno.UI.RuntimeTests/Tests/Uno_Foundation/Given_WebAssemblyRuntime.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/ts/Interop/AsyncInteropHelper.ts
Labels: area/wasm

#3188 feat: [MacOS] Add keyboard events support
  .github/pull_request_template.md
  doc/articles/features/routed-events.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Events.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Events.xaml.cs
  src/Uno.UI/Controls/BindableNSView.macOS.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
  src/Uno.UWP/System/VirtualKeyHelper.macOS.cs
  src/Uno.UWP/System/VirtualKeyHelper.wasm.cs
Labels: area/macos

#3015 feat: Protocol activation
  build/PackageDiffIgnore.xml
  doc/articles/features/protocol-activation.md
  doc/articles/toc.yml
  src/SamplesApp/SamplesApp.Droid/MainActivity.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/SamplesApp/SamplesApp.iOS/Info.plist
  src/SamplesApp/SamplesApp.macOS/Info.plist
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UWP/ApplicationModel/Activation/IProtocolActivatedEventArgs.cs
  src/Uno.UWP/ApplicationModel/Activation/ProtocolActivatedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Activation/IProtocolActivatedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Activation/ProtocolActivatedEventArgs.cs
  src/Uno.UWP/Helpers/ProtocolActivation.wasm.cs
Labels: area/android, area/ios, area/macos, area/wasm, ready-to-merge

#3200 fix(winui3): Removed Microsoft.System namespace for non-WinUI3 output.
  src/Uno.UI/System/DispatcherQueue.cs
  src/Uno.UI/System/DispatcherQueueTimer.Android.cs
  src/Uno.UI/System/DispatcherQueueTimer.cs
  src/Uno.UI/System/DispatcherQueueTimer.iOSmacOS.cs
  src/Uno.UI/System/DispatcherQueueTimer.net.cs
  src/Uno.UI/System/DispatcherQueueTimer.wasm.cs
Labels: kind/regression

#3179 feat(Clipboard): Flush, Clear, ContentChanged, GetContent
  doc/articles/features/windows-applicationmodel-datatransfer.md
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/ClipboardTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/ClipboardTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/CopyToClipboard/CopyToClipboard.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/CopyToClipboard/CopyToClipboard.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel/DataTransfer/Given_Clipboard.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Clipboard.ts
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.Android.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.iOS.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.macOS.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackage.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackage.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackageView.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackageView.macOS.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/StandardDataFormats.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/StandardDataFormats.macOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/Clipboard.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackage.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackageView.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/StandardDataFormats.cs
Labels: area/android, area/ios, area/macos, area/wasm

#3175 fix(SplitView): Clipping of right pane
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/SplitViewTests/SplitViewTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/SplitView/SplitViewClip.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/SplitView/SplitViewClip.xaml.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/android, area/ios, area/macos, area/wasm

#3245 fix(pointers): [WASM] Fix negative pointer id on safari for iOS prevents pointers events
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
Labels: area/wasm, ready-to-merge

#3257 fix(lottie): On Wasm, using the PlaybackRate on a system using a comma instead of a dot (mostly european languages) could lead to non-working Lottie animation.
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.wasm.cs
Labels: kind/bug

#3247 feat: ElevatedView implementation for Uwp
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI.Toolkit/Themes/Generic.xaml
  src/Uno.UI.Toolkit/UIElementExtensions.cs
Labels: area/uwp, kind/enhancement

#3259 fix(lottie): On Wasm, when a Lottie animation were started (`.Play()`) before being loaded, a concurrency issue was preventing the animation from starting once loaded.
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.wasm.cs
  src/AddIns/Uno.UI.Lottie/WasmScripts/uno-lottie.js
  src/AddIns/Uno.UI.Lottie/ts/Uno.UI.Lottie.ts
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRingPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRingPage.xaml.cs
Labels: kind/bug
