Repository unoplatform/uno, pull requests merged in 2020-01, with the labels that each got.

#2401 ApplicationViewTitleBar.BackgroundColor on WASM
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/Assets/features/applicationviewtitlebar/blue.png
  doc/articles/Assets/features/applicationviewtitlebar/red.png
  doc/articles/features/windows-ui-viewmanagement.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/TitleBarColorTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/TitleBarColorTests.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/Windows/UI/ViewManagement/ApplicationViewTitleBar.ts
  src/Uno.UWP/UI/Color.wasm.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationViewTitleBar.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationViewTitleBar.wasm.cs
Labels: area/wasm, kind/enhancement, ready-to-merge

#2369 Fix problem with Measure size in DrawerLayout's Pane
  src/Uno.UI/Controls/BindableDrawerLayout.Android.cs
Labels: area/android

#2420 Update getting-started-tutorial.md to add some correct branding and clarified what is being created
  doc/articles/getting-started-tutorial-1.md
Labels: kind/documentation, ready-to-merge

#2170 EmailManager
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-applicationmodel-email.md
  doc/articles/toc.yml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Email/EmailManagerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Email/EmailManagerTests.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel/Email/Given_EmailManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel/Email/Given_EmailMessage.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel/Email/Given_EmailRecipient.cs
  src/Uno.UWP/ApplicationModel/Email/EmailManager.Android.cs
  src/Uno.UWP/ApplicationModel/Email/EmailManager.cs
  src/Uno.UWP/ApplicationModel/Email/EmailManager.iOS.cs
  src/Uno.UWP/ApplicationModel/Email/EmailMessage.cs
  src/Uno.UWP/ApplicationModel/Email/EmailMessageBodyKind.cs
  src/Uno.UWP/ApplicationModel/Email/EmailRecipient.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Email/EmailManager.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Email/EmailMessage.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Email/EmailMessageBodyKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Email/EmailRecipient.cs
  src/Uno.UWP/Helpers/Activities/ActivityResult.cs
  src/Uno.UWP/Helpers/Activities/AwaitableResultActivity.cs
Labels: area/android, area/ios, area/wasm, kind/enhancement, ready-to-merge

#2392 Improve ViewBox and support of pointers for transformed views
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/controls/ComboBox.md
  src/SamplesApp/UITests.Shared/Helpers/RectCloseComparer.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TransformationsHoverSibling.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TransformationsHoverSibling.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TransformationsTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TransformationsTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_ScrollViewer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_ScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_Transform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/TransformToVisual_Transform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ViewBoxTests/ViewBox_Alignment.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ViewBoxTests/ViewBox_Alignment.xaml.cs
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoMotionHelper.java
  src/Uno.UI/Controls/HorizontalListView.Android.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/StretchDirection.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/StretchDirection.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
  src/Uno.UI/UI/Xaml/UIElement.net.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: area/android, area/automation, area/build, area/ios, area/wasm, kind/documentation, ready-to-merge

#2425 Fixed ApplicationData on macOS
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UWP/Storage/ApplicationData.macOS.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.iOSmacOS.cs
Labels: area/macos

#2258 Fix xbf files generation
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI.Wasm/Uno.UI.Wasm.csproj
  src/Uno.UI.WpfHost/Uno.UI.WpfHost.csproj
Labels: area/automation, area/code-generation, area/wasm, ready-to-merge

#2424 Remove legacy dependency to fix VS2017 support
  src/SolutionTemplate/UnoSolutionTemplate.VISX/source.extension.vsixmanifest
Labels: area/solution-templates, kind/bug, ready-to-merge

#2442 [Android] Fix Image margin calculation on fixed size
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
Labels: area/android, kind/documentation, ready-to-merge

#2447 Update documentation path
  doc/articles/features/windows-ui-xaml-xbind.md
Labels: kind/documentation, ready-to-merge

#2363 [iOS] Fix ListView children measured with infinite breadth
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ProportionalPanel.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ProportionalPanel.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ProportionalPanel.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanelLayout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsWrapGrid/ItemsWrapGridLayout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: area/automation, area/build, area/ios, kind/documentation, ready-to-merge

#2443 [iOS] ScrollViewer was uselessly applying its content's margin
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Layout.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Layout.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.iOS.cs
Labels: area/automation, area/ios, kind/bug, priority/important-soon, ready-to-merge

#2445 Add support for multi touches
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Manipulation_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_Basics.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_Basics.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_WhenInScrollViewer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_WhenInScrollViewer.xaml.cs
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoMotionHelper.java
  src/Uno.UI/Extensions/UIEventExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/NativePagedView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.iOS.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Manipulation.cs
Labels: area/android, area/automation, area/ios, kind/documentation

#2455 Adjust DiffIgnore for 2.0.530 release
  build/PackageDiffIgnore.xml
Labels: area/build, ready-to-merge

#2373 [Android] Adjust image decoding when using indirect decoding size
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/Uno-UI-Performance.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_None.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_UseTargetSize.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_UseTargetSize.xaml.cs
  src/Uno.UI-Android-only.slnf
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
Labels: area/android, area/automation, kind/documentation, ready-to-merge

#2459 Install explicit android-sdk version
  build/android-uitest-run.sh
Labels: area/build

#2375 [WASM] Fix bug where clipping could be disabled
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/BorderTests/Border_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_Clipped_Change_Property.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_Clipped_Change_Property.xaml.cs
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
Labels: area/automation, area/wasm, kind/documentation, ready-to-merge

#2446 CreateFromString - Fully qualify the MethodName value
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/CreateFromString.xaml
  src/SourceGenerators/XamlGenerationTests/CreateFromString.xaml.cs
  src/Uno.UI.Tests/App/Xaml/Test_CreateFromString.xaml
  src/Uno.UI.Tests/App/Xaml/Test_Dictionary.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/CreateFromStringTests/Given_CreateFromString.cs
Labels: area/automation, area/code-generation, kind/documentation, ready-to-merge

#2452 [WASM] IsReadOnly was not working when set directly in XAML
  src/SamplesApp/SamplesApp.UITests/FileInfoExtensions.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_IsReadOnly.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_IsReadOnly.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
Labels: area/automation, area/wasm, kind/bug, kind/documentation, ready-to-merge

#2461 [Android] Always clip non-UIElements
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/UIElementTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/NativeView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Native_Child.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Native_Child.xaml.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: area/android, area/automation, kind/documentation, ready-to-merge

#2474 Update working-with-xaml-hot-reload.md
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation, ready-to-merge

#2433 Font-family in WASM
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/custom-fonts.md
  doc/articles/toc.yml
  doc/articles/using-uno-ui.md
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/FontIcon/FontIconControlTest.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_FontFamily.cs
  src/Uno.UI/UI/Xaml/Documents/UIElementTextHelper.wasm.cs
  src/Uno.UI/UI/Xaml/FontFamily.cs
  src/Uno.UI/UI/Xaml/FontFamily.wasm.cs
Labels: area/wasm, ready-to-merge

#2290 Add support for NumberBox
  build/ios-uitest-run.sh
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/supported-features.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/NumberBoxTests/Given_NumberBox.cs
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/NumberBoxTests/MUX_Test.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/NumberBoxTests/MUX_Test.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TransformationsTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/TransformationsTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/RepeatButton/RepeatButton_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/RepeatButton/RepeatButton_Automated.xaml.cs
  src/Uno.Foundation/Metadata/ApiInformation.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Nullable.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Nullable.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Functions.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/tsBindings/WindowManagerSetStylesParams.ts
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/ButtonBase.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/RepeatButton.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/KeyRoutedEventArgs.cs
  src/Uno.UI/Helpers/WinUI/SharedHelpers.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/MathToken.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/MathTokenType.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBoxAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBoxParser.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBoxSpinButtonPlacementMode.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBoxValidationMode.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBoxValueChangedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox_themeresources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/Strings/en-US/Resources.resw
  src/Uno.UI/Mixins/Android/VisualStatesMixins.tt
  src/Uno.UI/Mixins/Wasm/VisualStatesMixins.tt
  src/Uno.UI/Mixins/iOS/VisualStatesMixins.tt
  src/Uno.UI/Mixins/macOS/VisualStatesMixins.tt
  src/Uno.UI/Mixins/net461/VisualStatesMixins.tt
  src/Uno.UI/UI/Xaml/Controls/Button/Button.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/RepeatButton/RepeatButton.cs
  src/Uno.UI/UI/Xaml/Input/Input/KeyRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/UI/Xaml/Style/Generic/SystemResources.xaml
  src/Uno.UWP/Generated/3.0.0.0/Windows.Globalization.NumberFormatting/SignificantDigitsNumberRounder.cs
  src/Uno.UWP/Globalization/NumberFormatting/SignificantDigitsNumberRounder.cs
Labels: area/automation, area/build, area/wasm, kind/documentation

#2482 [iOS] Fix Picker crash
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Controls/Picker/Picker.iOS.cs
Labels: area/ios, kind/documentation

#2488 Add fallback condition if IDBFS is not available
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.Wasm/ts/Windows/Storage/StorageFolder.ts
Labels: area/wasm, kind/documentation

#2478 Add workaround for NavigationView ItemSource and template
  build/ci/.azure-devops-wasm-uitests.yml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Pane_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Pane_Automated.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Pane_ViewModel.cs
  src/Uno.UI.sln
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItemBase.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewList.Uno.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewList.cs
  src/Uno.UI/Uno.UI.csproj
Labels: area/automation, kind/documentation, ready-to-merge

#2497 Update the getting started template
  doc/articles/get-started.md
Labels: kind/documentation

#2507 Support DesignMode2Enabled
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UWP/ApplicationModel/DesignMode.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel/DesignMode.cs
Labels: ready-to-merge

#2500 Support for Windows.System.Launcher on macOS
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/windows-system.md
  src/Uno.UWP/Generated/3.0.0.0/Windows.System/Launcher.cs
  src/Uno.UWP/System/Launcher.cs
  src/Uno.UWP/System/Launcher.iOSmacOS.cs
  src/Uno.UWP/System/Launcher.macOS.SpecialUris.cs
Labels: area/macos, ready-to-merge

#2466 [macOS] Button.Click support, PointerEntered, PointerExited, PointerMoved
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI/UI/Xaml/Input/Pointer.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.macOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.macOS.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Input/PointerPointProperties.cs
  src/Uno.UWP/UI/Input/PointerPointProperties.cs
Labels: area/macos, kind/enhancement, ready-to-merge

#2393 Update working-with-the-samples-apps.md
  doc/articles/uno-development/working-with-the-samples-apps.md
Labels: kind/documentation, ready-to-merge

#2515 Telemetry updates
  build/Uno.UI.nuspec
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/TelemetryCommonProperties.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
Labels: area/build, area/code-generation

#2496 Add support of the Holding event
  build/PackageDiffIgnore.xml
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/routed-events.md
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/GestureResult.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Holding_Tests.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/HoldingTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/HoldingTests.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/System/Given_DispatcherQueue.cs
  src/Uno.UI.RuntimeTests/Tests/System/Given_DispatcherQueueTimer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/Control.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Input/HoldingRoutedEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Input/HoldingRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/RoutedEventFlag.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System/DispatcherQueue.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System/DispatcherQueueTimer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Input/GestureRecognizer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Input/HoldingEventArgs.cs
  src/Uno.UWP/System/DispatcherQueue.cs
  src/Uno.UWP/System/DispatcherQueueTimer.Android.cs
  src/Uno.UWP/System/DispatcherQueueTimer.cs
  src/Uno.UWP/System/DispatcherQueueTimer.iOSmacOS.cs
  src/Uno.UWP/System/DispatcherQueueTimer.net.cs
  src/Uno.UWP/System/DispatcherQueueTimer.wasm.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Gesture.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.cs
  src/Uno.UWP/UI/Input/GestureSettings.cs
  src/Uno.UWP/UI/Input/HoldingEventArgs.cs
Labels: area/android, area/automation, area/build, area/wasm, kind/documentation, ready-to-merge

#2517 Adjust package override detection condition
  build/uno.ui.targets
Labels: ready-to-merge

#2520 Fix TransformGroup
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media/Transform_Tests/Basics_Automated.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Basics_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Basics_Automated.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/TransformGroup.cs
  src/Uno.UI/UI/Xaml/Media/Transform.cs
  src/Uno.UI/UI/Xaml/Media/TransformGroup.cs
Labels: area/android, area/automation, area/ios, area/wasm, kind/documentation

#2495 [Android] BorderLayerRenderer - restore BorderThickness adjustment
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/BorderTests/Border_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_Toggle.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_Toggle.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/BorderLayerRenderer.Android.cs
Labels: area/android, area/automation, kind/documentation

#2407 File.delete async
  doc/ReleaseNotes/_ReleaseNotes.md
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFile.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage/StorageFile.cs
  src/Uno.UWP/Storage/StorageFile.cs
Labels: area/android, area/ios, kind/enhancement, ready-to-merge

#2527 Update PackageDiffIgnore.xml
  build/PackageDiffIgnore.xml
Labels: area/build, ready-to-merge

#2365 fixed missing Xaml IntelliSense on newly created project
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SolutionTemplate/UnoSolutionTemplate/Droid/Android.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/UWP/Uwp.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/Wasm.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/iOS/iOS.vstemplate
Labels: area/solution-templates, kind/documentation, ready-to-merge

#2529 Apply workaround for CI VSTest out of memory
  build/ci/.azure-devops-windows.yml
Labels: ready-to-merge

#2530 Update get-started.md
  doc/articles/get-started.md
Labels: kind/documentation, ready-to-merge

#2525 [Android] Added support for IsScreenCaptureEnabled
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/IsScreenCaptureEnabledTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/IsScreenCaptureEnabledTests.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/ApplicationView.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.Android.cs
Labels: ready-to-merge

#2454 fixed TextBox.Text flickering when using custom IInputFilter with MaxLength set
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Formatting_Flicker.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Formatting_Flicker.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Overrides.Android.cs
Labels: area/android, area/automation, kind/documentation

#2534 [Android] Add support for non-native popup
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentDialogTests/ContentDialog_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentDialogTests/ContentDialog_Simple.xaml.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Mock/Panel.net.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialog.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: area/android, area/automation, area/wasm, kind/documentation

#2462 Fix Selector support for IsSelected
  build/ci/.azure-devops-windows.yml
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/ComboBox_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewSelectedItems.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewSelectedItems.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_SelectedItem.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_VirtualizePanelAdaptaterIdCache.xaml.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/SelectorTests/Given_Selector.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/NotSupportedAnimator.cs
Labels: area/automation, kind/documentation, ready-to-merge

#2532 [iOS] Fix final state of canceled animations
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/uno-development/working-with-the-samples-apps.md
  src/SamplesApp/SamplesApp.UITests.Generator/SnapShotTestGenerator.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/SequentialAnimations_Tests.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Commands.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserCategory.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserContent.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleControlInfoAttribute.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Animated_View_With_Transformed_Ancestor.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/SequentialAnimationsPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/SequentialAnimationsPage.xaml.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/GPUFloatValueAnimator.iOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.cs
  src/Uno.UWP/UI/Composition/CoreAnimation.iOS.cs
Labels: area/automation, area/ios, kind/documentation, ready-to-merge

#2523 fix incorrect instructions in docs: How to use Uno Platform Controls in Xamarin.Forms
  doc/articles/howto-use-uno-in-xamarin-forms.md
Labels: ready-to-merge

#2492 TextBox - only update binding after edits, fix iOS UI tests whitelist
  build/ios-uitest-run.sh
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/QueryExtensions.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Binding_Null.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Binding_Null.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: area/automation, area/build, kind/documentation, ready-to-merge

#2548 Include build ID in PR tag
  build/ci/.azure-devops-windows.yml
  build/ci/templates/gitversion.yml
  gitversion.yml
Labels: area/build

#2546 Fix animations are not reaching their final state on iOS
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests.Generator/SnapShotTestGenerator.cs
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PopupTests/UnoSamples_Popup_Simple_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Opacity.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Transforms.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState_Opacity.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState_Opacity.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState_Transforms.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/DoubleAnimation_FinalState_Transforms.xaml.cs
  src/Uno.UWP/UI/Composition/CoreAnimation.iOS.cs
Labels: area/automation, area/build, area/ios, ready-to-merge

#2554 Prevent flicker of animation on iOS
  src/Uno.UWP/UI/Composition/CoreAnimation.iOS.cs
Labels: area/ios, ready-to-merge

#2558 fixed sample for TextBox InputScope=Number
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_InputScope_Number.xaml
Labels: area/automation

#2535 [Android] Adjust TextBlock.TextDecorations is not updating properly
  doc/ReleaseNotes/_ReleaseNotes.md
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Decorations.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_Decorations.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
Labels: area/android, area/automation, area/wasm, kind/documentation, ready-to-merge

#2559 Prevent the context menu on wasm while not in a TextBox
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/features/routed-events.md
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
Labels: area/wasm, kind/documentation

#2552 Add support for TwoPaneView and Surface Duo
  doc/ReleaseNotes/_ReleaseNotes.md
  doc/articles/supported-features.md
  doc/articles/uno-development/api-extensions.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/TwoPaneViewTests/Given_TwoPaneView.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TwoPaneViewTests/TwoPaneViewPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TwoPaneViewTests/TwoPaneViewPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.Foundation/Extensibility/ApiExtensibility.cs
  src/Uno.Foundation/Extensibility/ApiExtensionAttribute.cs
  src/Uno.Foundation/IndexPath.iOS.cs
  src/Uno.UI-Android-only.slnf
  src/Uno.UI.DualScreen/AssemblyInfo.cs
  src/Uno.UI.DualScreen/DuoApplicationViewSpanningRect.cs
  src/Uno.UI.DualScreen/Uno.UI.DualScreen.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.csproj
  src/Uno.UI.Tests/BinderTests/Given_Binder.FastConvert.cs
  src/Uno.UI.Toolkit/CommandBarExtensions.cs
  src/Uno.UI.Toolkit/MenuFlyoutItemExtensions.cs
  src/Uno.UI.Toolkit/SplitViewExtensions.cs
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UI.sln
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.FastConvert.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/LifetimeHandler.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/DisplayRegionHelper.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/DisplayRegionHelperInfo.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/DisplayRegionHelperTestApi.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneView.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneView.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneView.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneViewMode.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneViewPriority.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneViewTallModeConfiguration.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneViewWideModeConfiguration.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneView_rs1.xaml
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UWP/UI/ViewManagement/ApplicationView.cs
  src/Uno.UWP/UI/ViewManagement/IApplicationViewSpanningRects.cs
Labels: area/automation, area/code-generation, area/ios, area/wasm, kind/documentation, ready-to-merge
