Repository unoplatform/uno, pull requests merged in 2020-09, with the labels that each got.

#3921 fix(analyzers): Analyzers may not show the proper status using the reference API
  src/Uno.Analyzers.Tests/UnoNotImplementedTests.cs
  src/Uno.Analyzers/UnoNotImplementedAnalyzer.cs
  src/Uno.Foundation/NotImplementedAttribute.cs
Labels: ready-to-merge

#3703 docs: adding splash screen docs
  doc/articles/Assets/can-be-launch.png
  doc/articles/Assets/ios-constraints.png
  doc/articles/Assets/ios-content-fit.png
  doc/articles/Assets/uwp-splash-screen.JPG
  doc/articles/Assets/viewcontroller-imageview.png
  doc/articles/splash-screen.md
  doc/articles/toc.yml
Labels: ready-to-merge

#3933 feat: AutomationPeer methods
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Automation/Given_AutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation.Peers/AutomationPeer.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/AutomationPeer.cs
Labels: ready-to-merge

#3860 fix(combobox): PlaceholderText not displaying
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ComboBoxTests/UnoSamples_Tests.ComboBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_PlaceholderText.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_PlaceholderText.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
Labels: ready-to-merge

#3937 fix(dotnetnew): Add default root namespace for cross-runtime libraries
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unolib-crossruntime/UnoCrossRuntimeLib/UnoCrossRuntimeLib.Skia.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unolib-crossruntime/UnoCrossRuntimeLib/UnoCrossRuntimeLib.Wasm.csproj
Labels: ready-to-merge

#3951 fix(slnf): Fix missing project in solution filters
  src/Uno.UI-Android-only.slnf
  src/Uno.UI-Skia-only.slnf
Labels: ready-to-merge

#3975 fix(reg): Fix invalid lifetime for generated delegates on x:Bind
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Given_XBindRewriter.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/Uno.UI/UI/Xaml/Data/Binding.cs
Labels: ready-to-merge

#3989 docs: Ensure gif files are included in docfx output
  doc/docfx.json
Labels: ready-to-merge

#3994 docs: Update philosophy page with branding and supported platforms
  doc/articles/concepts/overview/philosophy-of-uno.md
Labels: ready-to-merge

#3966 fix(macOS): Templated control not attaching events properly
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.macOS.cs
Labels: ready-to-merge

#3945 feat: Add Support for WebView.InvokeScriptAsync
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.iOSmacOS.cs
Labels: ready-to-merge

#4013 fix(xaml): Make ResourceDictionary.Source lookups case-insensitive
  src/Uno.UI.Tests/App/Xaml/Test_Page_Other.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
Labels: ready-to-merge

#3965 feat: TimeTrigger (struct)
  src/Uno.UWP/ApplicationModel/Background/IBackgroundTrigger.cs
  src/Uno.UWP/ApplicationModel/Background/TimeTrigger.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Background/IBackgroundTrigger.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Background/TimeTrigger.cs
Labels: ready-to-merge

#4022 fix: Fix incorrect implemented list for `CoreWindow.PointerCursor`
  src/Uno.UWP/UI/Core/CoreWindow.cs
Labels: ready-to-merge

#3132 BadgeNotification
  build/PackageDiffIgnore.xml
  doc/articles/features/windows-ui-notifications.md
  doc/articles/toc.yml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Notifications/BadgeNotificationTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Notifications/BadgeNotificationTests.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Notifications/BadgeNotification.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Notifications/BadgeTemplateType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Notifications/BadgeUpdateManager.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Notifications/BadgeUpdater.cs
  src/Uno.UWP/UI/Notifications/BadgeNotification.cs
  src/Uno.UWP/UI/Notifications/BadgeTemplateType.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdateManager.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdater.iOS.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdater.macOS.cs
Labels: ready-to-merge

#3805 UserProfilePersonalizationSettings on Android
  build/PackageDiffIgnore.xml
  doc/articles/features/windows-system-userprofile.md
  doc/articles/toc.yml
  src/SamplesApp/SamplesApp.Droid/Properties/AssemblyInfo.cs
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/UITests.Shared/EmbeddedResources/LockScreen.png
  src/SamplesApp/UITests.Shared/EmbeddedResources/Wallpaper.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_System/UserProfile/UserProfilePersonalizationSettingsTests.xaml
  src/SamplesApp/UITests.Shared/Windows_System/UserProfile/UserProfilePersonalizationSettingsTests.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.UserProfile/UserProfilePersonalizationSettings.cs
  src/Uno.UWP/System/UserProfile/UserProfilePersonalizationSettings.Android.cs
  src/Uno.UWP/System/UserProfile/UserProfilePersonalizationSettings.cs
Labels: ready-to-merge

#4035 feat(xbind): Add support for x:Bind to POCO, performance improvements
  doc/articles/features/windows-ui-xaml-xbind.md
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/NameScope.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.ManualPropagation.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_OneTime_PocoObject_Static.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_OneTime_PocoObject_Static.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_OneWay_PocoObject.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_OneWay_PocoObject.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_StateTrigger.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding_Poco.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/Extensions/ViewExtensions.netstd.cs
  src/Uno.UI/UI/Xaml/AttachedDependencyObject.cs
  src/Uno.UI/UI/Xaml/Data/BindingHelper.cs
  src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
Labels: ready-to-merge

#3728 fix: View not removed and Unloaded event not raised
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollBar/ScrollBar.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.Skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.netstdref.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.netstd.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.netstdref.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.netstd.cs
  src/Uno.UI/UI/Xaml/UIElement.netstdref.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.Skia.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.netstd.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.netstdref.cs
  src/Uno.UI/UI/Xaml/Window.Skia.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
Labels: ready-to-merge

#4057 chore: Add all defined WinUI resource string keys
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.ResourceKeys.cs
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBar.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBarTemplateSettings.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/SplitButton.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneView.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Media/RadialGradientBrush.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItem.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/PersonPicture/PersonPicture.cs
Labels: ready-to-merge

#4069 docs: Update getting started tutorials
  doc/articles/getting-started-tutorial-1.md
  doc/articles/getting-started-tutorial-2.md
Labels: ready-to-merge

#4081 feat: Contact support struct/enums
  build/PackageDiffIgnore.xml
  src/Uno.UWP/ApplicationModel/Contacts/ContactAddressKind.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactEmail.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactEmailKind.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPhone.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPhoneKind.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactQueryDesiredFields.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactQuerySearchFields.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactStoreAccessType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactAddressKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactEmail.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactEmailKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactPhone.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactPhoneKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactQueryDesiredFields.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactQuerySearchFields.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactStoreAccessType.cs
Labels: ready-to-merge

#4093 Added support for `Canvas.ZIndex` to Wasm platform
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CanvasTests/Canvas_Measurement_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Canvas/Canvas_ZIndex.xaml
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.wasm.cs
Labels: platform/wasm, ready-to-merge

#4095 feat(pointers): Complete support of pointers for skia
  src/Uno.Foundation/Point.cs
  src/Uno.Foundation/Rect.cs
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UI/Extensions/UIElementExtensions.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.xaml
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.iOS.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.macOS.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.skia.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.netstd.cs
  src/Uno.UI/UI/Xaml/UIElement.netstdref.cs
  src/Uno.UI/UI/Xaml/Window.Skia.cs
Labels: area/skia, platform/linux, ready-to-merge

#4085 fix: Perform app initialization only for ApplicationActivity
  src/Uno.UI/UI/Xaml/NativeApplication.cs
Labels: platform/android, project/navigation-lifecycle

#4092 Add support for StorageFile.GetFileFromApplicationUriAsync
  .vsts-ci.yml
  build/run-automated-uitests.sh
  doc/articles/features/windows-storage.md
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ThumbTests/UnoSamples_Tests.Thumb.cs
  src/SamplesApp/UITests.Shared/Asset_GetFileFromApplicationUriAsync.xml
  src/SamplesApp/UITests.Shared/Assets/Asset_GetFileFromApplicationUriAsync_Nested.xml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SourceGenerators/Uno.UI.Tasks/Assets/RetargetAssets.cs
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/T4Generator/T4Generator.csproj
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.csproj
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_ApplicationStorage.cs
  src/Uno.UI.Tests/Resources/Given_AndroidResourceConverter.cs
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UI/WasmScripts/Uno.UI.d.ts
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Windows/Storage/AssetManager.ts
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage/StorageFile.cs
  src/Uno.UWP/Helpers/AndroidResourceNameEncoder.cs
  src/Uno.UWP/Storage/Helpers/AssetsManager.wasm.cs
  src/Uno.UWP/Storage/Helpers/ConcurrentEntryManager.cs
  src/Uno.UWP/Storage/NameCollisionOption.cs
  src/Uno.UWP/Storage/StorageFile.android.cs
  src/Uno.UWP/Storage/StorageFile.cs
  src/Uno.UWP/Storage/StorageFile.iOSmacOS.cs
  src/Uno.UWP/Storage/StorageFile.wasm.cs
  src/Uno.UWP/Storage/ThumbnailMode.cs
Labels: ready-to-merge

#4130 chore: Adjust telemetry for reference targets
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
Labels: ready-to-merge

#4129 fix(skia): Remove inner visual from panel on element removal
  build/ci/.azure-devops-skia-tests.yml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Skia.cs
Labels: ready-to-merge

#4074 feat: ToastNotification and NotificationMirroring definitions
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Notifications/NotificationMirroring.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Notifications/ToastNotification.cs
  src/Uno.UWP/UI/Notifications/NotificationMirroring.cs
  src/Uno.UWP/UI/Notifications/ToastNotification.cs
Labels: ready-to-merge

#4144 fix(net5): Fix for net5 source generation nullable references support
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: ready-to-merge

#4141 fix(reg): Fix lazy-initialized ElementName bindings
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Controls/Binding_ElementName_In_Template.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Controls/Binding_ElementName_In_Template.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Given_Binding.cs
  src/Uno.UI/UI/Xaml/Data/BindingHelper.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.Bindings.cs
Labels: ready-to-merge

#4136 fix(tooltip): Fix tooltip popup panel created too early
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTip.cs
  src/Uno.UI/WasmScripts/Uno.UI.js
Labels: ready-to-merge

#4149 Move ListViewItem.cs to Controls
  src/Uno.UI/UI/Xaml/Controls/ListView/ListViewItem.cs
Labels: ready-to-merge

#4146 docs: Update getting started for linux
  doc/articles/get-started-with-linux.md
Labels: ready-to-merge

#4079 feat(PointerCursor): Support for WPF & GTK
  src/Uno.UI.Runtime.Skia.Gtk/GTK/Extensions/CursorExtensions.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkUIElementPointersSupport.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenUIElementPointersSupport.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/Extensions/CursorExtensions.cs
  src/Uno.UI.Runtime.Skia.Wpf/WPF/WpfUIElementPointersSupport.cs
  src/Uno.UWP/UI/Core/CoreWindow.cs
  src/Uno.UWP/UI/Core/CoreWindow.skia.cs
Labels: ready-to-merge

#4164 fix(unix): Adjust `ApplicationData.Local` path to use proper locations under unix
  src/Uno.UWP/Storage/ApplicationData.skia.cs
Labels: ready-to-merge

#4158 fix(fips): Use SHA256 for sourcegenerator path hashing
  src/SourceGenerators/Uno.UI.SourceGenerators/Helpers/HashBuilder.cs
Labels: ready-to-merge

#4163 fix(skia): Fix content file deployment from VS
  build/Uno.WinUI.Skia.Gtk.targets
  build/Uno.WinUI.Skia.Tizen.targets
  build/Uno.WinUI.Skia.Wpf.targets
Labels: ready-to-merge

#4175 Misc BindableMetadataGenerator improvements
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/Uno.UI/DataBinding/BindableProperty.cs
  src/Uno.UI/DataBinding/BindableType.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
  src/Uno.UI/DataBinding/IBindableProperty.cs
  src/Uno.UI/DataBinding/IBindableType.cs
Labels: ready-to-merge

#4171 fix(NativeApplication): don't call OnLaunched again if app is already…
  src/Uno.UI/UI/Xaml/NativeApplication.cs
Labels: ready-to-merge

#4179 Misc memory leaks fixes
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialog.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialogPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: ready-to-merge

#4166 Repair ListView container indices on item insert
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
Labels: ready-to-merge
