Repository unoplatform/uno, pull requests merged in 2020-04, with the labels that each got.

#2903 fix(elevatedview): Make sure the `ElevatedView` propagates its `TemplatedParent`.
  src/Uno.UI.Toolkit/ElevatedView.cs
Labels: area/android, area/ios, area/wasm, kind/bug

#2070 feat: Windows.Devices.Sensors.Pedometer
  build/PackageDiffIgnore.xml
  doc/articles/features/windows-devices-sensors.md
  src/SamplesApp/SamplesApp.Droid/Properties/AndroidManifest.xml
  src/SamplesApp/SamplesApp.iOS/Info.plist
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/PedometerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/PedometerTests.xaml.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Barometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Helpers/SensorHelpers.Android.cs
  src/Uno.UWP/Devices/Sensors/Helpers/SensorHelpers.iOS.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/PedometerReading.cs
  src/Uno.UWP/Devices/Sensors/PedometerReadingChangedEventArgs.cs
  src/Uno.UWP/Devices/Sensors/PedometerStepKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Pedometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/PedometerReading.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/PedometerReadingChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/PedometerStepKind.cs
Labels: area/android, area/ios, kind/enhancement, ready-to-merge

#2920 fix: [Wasm] Adjust linker settings for FocusManager.ReceiveFocusNative
  src/Uno.UI/LinkerDefinition.Wasm.xml
Labels: area/wasm, ready-to-merge

#2917 [macOS] Update measure/arrange passes
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/NativeCtor/NativeCtorsGenerator.cs
  src/Uno.UI/DataBinding/BinderCollector.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/MenuBar/NativeMenuBarPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.macOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.macOS.cs
  src/Uno.UI/UI/Xaml/IFrameworkElement.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Shapes/Path.iOSmacOS.cs
  src/Uno.UI/Uno.UI.csproj
Labels: area/macos

#2951 fix: Transform to visual ignores render origin
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.TransformToVisual.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/android, area/ios, area/wasm

#2952 fix: [uap10] Fix ElevateView Generic.xaml packaging (bp #2949)
  build/Uno.UI.nuspec
  src/Uno.CrossTargetting.props
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
Labels: area/build

#2957 fix: MessageDialog buttons callbacks not being invoked on MacOS.
  src/Uno.UWP/UI/Popups/MessageDialog.macOS.cs
Labels: ready-to-merge

#2929 fix: Frame.Navigating cancellation, feat: Frame.IsNavigationStackEnabled
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/Frame/Given_Frame.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/Frame.cs
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.cs
Labels: ready-to-merge

#2969 feat: Support for WebView.DocumentTitle
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Title.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Title.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/UnoWKWebView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.cs
Labels: ready-to-merge

#2622 Support for DoubleAnimation, DoubleAnimationUsingKeyFrames on macOS
  src/Uno.UI/Extensions/TimelineExtensions.iOSmacOS.cs
  src/Uno.UI/Media/NativeRenderTransformAdapter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.macOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/FloatValueAnimator.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/GPUFloatValueAnimator.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimation.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimation.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimation.macOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimationUsingKeyFrames.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimationUsingKeyFrames.iOSmacOS.cs
  src/Uno.UWP/UI/Composition/CoreAnimation.iOSmacOS.cs
Labels: area/macos, ready-to-merge

#2874 [WASM] Fix pointers for elt nested in manip aware content
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Manipulation_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_WithNestedElement.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_WithNestedElement.xaml.cs
  src/Uno.UI/UI/Xaml/UIElement.PointerCapture.cs
Labels: area/android, area/ios, area/macos, area/wasm

#2979 fix: [WASM] Fix clearing the Data of a Path
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.ClearData.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Shapes/Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_ClearData.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_ClearData.xaml.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs
Labels: area/wasm, ready-to-merge

#2988 feat(DisplayRequest): macOS support
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.Display/DisplayRequest.cs
  src/Uno.UWP/Helpers/IOKit.macOS.cs
  src/Uno.UWP/System/Display/DisplayRequest.cs
  src/Uno.UWP/System/Display/DisplayRequest.macOS.cs
Labels: area/macos

#2992 Fix dotnet new templates not registered properly
  doc/articles/get-started-vscode-wasm.md
  src/SolutionTemplate/.gitignore
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/dotnetcli.host.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/uno-logo.png
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/vs-2017.3.host.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.vscode/launch.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.vscode/tasks.json
Labels: ready-to-merge

#2990 fix(Slider): macOS vertical thumb movement is flipped
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.macOS.cs
Labels: area/macos

#3003 feat(pointers): [WASM] Add support for the PointerWheelChanged event
  build/PackageDiffIgnore.xml
  doc/articles/features/routed-events.md
  src/SamplesApp/SamplesApp.Wasm/Properties/launchSettings.json
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI.Wasm/tsBindings/WindowManagerRegisterEventOnViewParams.ts
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/Control.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/RoutedEventFlag.cs
  src/Uno.UI/UI/Xaml/UIElement.EventRegistration.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.cs
  src/Uno.UWP/UI/Input/PointerPointProperties.cs
Labels: area/wasm, kind/enhancement, ready-to-merge

#3013 fix(pointers): [WASM] Misc PointerWheelChanged fixes
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
Labels: area/wasm, ready-to-merge

#2708 [Android] TextBox.IsReadOnly bugfixes
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_IsReadOnly_AcceptsReturn.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_IsReadOnly_AcceptsReturn.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
Labels: area/android, ready-to-merge

#3050 docs: Add workaround for ConverterParameter issue
  doc/articles/getting-started-tutorial-1.md
Labels: ready-to-merge

#2973 feat: [macOS] ComboBox
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.macOS.cs
Labels: area/macos

#3052 feat: [macOS] Support for Package and PackageId
  src/SamplesApp/SamplesApp.macOS/Info.plist
  src/Uno.UWP/ApplicationModel/Package.Other.cs
  src/Uno.UWP/ApplicationModel/Package.cs
  src/Uno.UWP/ApplicationModel/Package.iOSmacOS.cs
  src/Uno.UWP/ApplicationModel/PackageId.cs
  src/Uno.UWP/ApplicationModel/PackageId.iOSmacOS.cs
Labels: ready-to-merge
