Repository unoplatform/uno, pull requests merged in 2020-07, with the labels that each got.

#3472 TextBlock: Added support for HorizontalTextAlignment
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_HorizontalTextAlignment.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_HorizontalTextAlignment.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
Labels: kind/enhancement

#3467 [WASM] Fixed path with geometries
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_BrushColorChanging.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_Geometries.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_Geometries.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/GridViewHeaderItem.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ProgressRing.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ScrollViewer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBlock.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/WebView.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/CircleEase.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/ColorAnimationUsingKeyFrames.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/ColorKeyFrame.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/ColorKeyFrameCollection.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/DiscreteColorKeyFrame.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/EasingColorKeyFrame.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/FadeInThemeAnimation.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/FadeOutThemeAnimation.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/LinearColorKeyFrame.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/PointKeyFrame.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/SplineColorKeyFrame.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Resources/CustomXamlResourceLoader.cs
  src/Uno.UI/UI/Xaml/Media/Animation/CircleEase.cs
  src/Uno.UI/UI/Xaml/Media/Animation/EasingFunctionBase.cs
  src/Uno.UI/UI/Xaml/Media/Animation/SineEase.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Input/KeyboardCapabilities.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Networking/HostNameType.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Input/RightTappedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Input/TappedEventArgs.cs
Labels: area/wasm, kind/bug, ready-to-merge

#3474 fix(pointers): [WASM] Fix the original source of the pointer events on shapes
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/HitTest_Shapes_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/HitTest_Shapes.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/HitTest_Shapes.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
Labels: area/wasm, ready-to-merge

#3506 fix: NavigationView AlwaysShowHeader property default as true
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.Properties.cs
Labels: area/wasm, kind/bug

#3456 feat: Update Microsoft.NETCore.UniversalWindowsPlatform to 6.2.9
  src/SolutionTemplate/UnoSolutionTemplate/UWP/UnoQuickStart.Uwp.csproj
Labels: ready-to-merge

#3021 feat: [macOS] Support media player
  build/PackageDiffIgnore.xml
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/MediaPlayerElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/MediaPlayerPresenter.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/MediaTransportControls.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/MediaTransportControlsHelper.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerElement.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.Others.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.MediaPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControlsHelper.cs
  src/Uno.UI/UI/Xaml/Window.macOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Core/MediaSource.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/IMediaPlaybackSource.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlaybackItem.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlaybackList.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlaybackSession.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlayer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlayerError.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlayerFailedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlayerState.cs
  src/Uno.UWP/Media/Core/MediaSource.cs
  src/Uno.UWP/Media/Playback/IMediaPlaybackList.cs
  src/Uno.UWP/Media/Playback/IMediaPlaybackSource.cs
  src/Uno.UWP/Media/Playback/Internal/VideoSurface.iOSmacOS.cs
  src/Uno.UWP/Media/Playback/MediaPlaybackItem.cs
  src/Uno.UWP/Media/Playback/MediaPlaybackList.cs
  src/Uno.UWP/Media/Playback/MediaPlaybackSession.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
  src/Uno.UWP/Media/Playback/MediaPlayerError.cs
  src/Uno.UWP/Media/Playback/MediaPlayerFailedEventArgs.cs
  src/Uno.UWP/Media/Playback/MediaPlayerState.cs
Labels: ready-to-merge

#3517 [WASM] Support for TextBlock.IsTextSelectionEnabled
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_IsTextSelectionEnabled.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_IsTextSelectionEnabled.xaml.cs
  src/Uno.UI.Wasm/WasmCSS/Uno.UI.css
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.d.ts
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
  src/Uno.UI.Wasm/tsBindings/WindowManagerSetUnsetClassesParams.ts
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
Labels: area/wasm, ready-to-merge

#3557 Misc fixes around ElevatedView
  doc/articles/Assets/features/elevatedview/elevatedview-sample.png
  doc/articles/features/ElevatedView.md
  doc/articles/toc.yml
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
Labels: area/android, area/ios, area/macos, area/uwp, area/wasm

#3584 [Wasm] Fixed rendering of Ellipses when the Stroke is used
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Ellipse_StrokeThickness.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Ellipse_StrokeThickness.xaml.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.wasm.cs
Labels: area/wasm

#3477 fix(pointers): [WASM] Fix the OriginalSource of pointer events for Image
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/HitTest_Image_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/HitTest_Image.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/HitTest_Image.xaml.cs
  src/Uno.UI.Wasm/WasmScripts/Uno.UI.js
  src/Uno.UI.Wasm/ts/WindowManager.ts
Labels: area/wasm, ready-to-merge

#3587 fix(shapes): [WASM] Fix to properly support null Points in Poly[gon|line]
  src/Uno.UI/UI/Xaml/Media/PointCollection.cs
  src/Uno.UI/UI/Xaml/Media/PointCollection.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.wasm.cs
Labels: area/wasm

#3599 feat(wasm): Added JavaScript helpers for Wasm
  doc/articles/interop/wasm-javascript-1.md
  doc/articles/interop/wasm-javascript-2.md
  doc/articles/interop/wasm-javascript-3.md
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Wasm/BlankApp.Wasm.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoXFQuickStart.Wasm/UnoXFQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/Uno.UI.Runtime.WebAssembly/Xaml/UIElementWasmExtensions.cs
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElementExtensions.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
Labels: area/wasm

#3608 Style resources now auto-convert Color to SolidColorBrush
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/BrushesTests/Brushes_ImplicitConvert.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/BrushesTests/Brushes_ImplicitConvert.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/BrushesTests/ColorPresenter.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI/DataBinding/BindingPropertyHelper.FastConvert.cs
Labels: kind/enhancement

#3627 feat(macos): [MacOS] Add clipping support
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
Labels: area/macos

#3488 fix: ThicknessHelper crash in UWP runtime tests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Helper/ThicknessHelper2.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/SamplesApp.UnitTests.Shared.projitems
Labels: ready-to-merge

#3573 fix: Foreground type check on TextBlock
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
Labels: ready-to-merge

#3643 fix: macOS ApplicationTheme observing
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UWP/Helpers/DeviceHelper.macOS.cs
Labels: area/macos, ready-to-merge

#3427 feat(Launcher): Launch file/folder on macOS
  src/SamplesApp/UITests.Shared/Windows_System/LauncherTests.xaml
  src/SamplesApp/UITests.Shared/Windows_System/LauncherTests.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System/Launcher.cs
  src/Uno.UWP/Storage/IStorageFolder.cs
  src/Uno.UWP/System/Launcher.macOS.cs
Labels: area/macos, ready-to-merge

#3305 feat: Support CloseRequested, Suspending and Exit on macOS
  build/PackageDiffIgnore.xml
  doc/articles/features/windows-ui-core-preview.md
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Core/CloseRequestedTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Core/CloseRequestedTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/MeasureDetectorControl/MeasureDetectorControl.xaml
  src/Uno.Foundation/Deferral.cs
  src/Uno.UI/Controls/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialogClosingDeferral.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialogClosingEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/IDeferral.cs
  src/Uno.UWP/ApplicationModel/ISuspendingDeferral.cs
  src/Uno.UWP/ApplicationModel/ISuspendingEventArgs.cs
  src/Uno.UWP/ApplicationModel/ISuspendingOperation.cs
  src/Uno.UWP/ApplicationModel/SuspendingDeferral.cs
  src/Uno.UWP/ApplicationModel/SuspendingEventArgs.cs
  src/Uno.UWP/ApplicationModel/SuspendingOperation.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel/ISuspendingDeferral.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel/ISuspendingEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel/ISuspendingOperation.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core.Preview/SystemNavigationCloseRequestedPreviewEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core.Preview/SystemNavigationManagerPreview.cs
  src/Uno.UWP/Helpers/DeferralManager.cs
  src/Uno.UWP/UI/Core/CoreWindow.macOS.cs
  src/Uno.UWP/UI/Core/Preview/SystemNavigationCloseRequestedPreviewEventArgs.cs
  src/Uno.UWP/UI/Core/Preview/SystemNavigationManagerPreview.cs
Labels: area/macos, ready-to-merge

#3136 Basic iPadOS mouse support
  doc/articles/features/routed-events.md
  src/SamplesApp/SamplesApp.iOS/Info.plist
  src/SolutionTemplate/UnoSolutionTemplate/iOS/Info.plist
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.iOS.cs
Labels: ready-to-merge

#3628 FileIO API
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_FileIO.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage/FileIO.cs
  src/Uno.UWP/Storage/FileIO.cs
Labels: ready-to-merge

#3436 feat(macOS): Window sizing
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/ApplicationViewSizing.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/ApplicationViewSizing.xaml.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TwoPaneView/TwoPaneView.cs
  src/Uno.UI/UI/Xaml/AdaptiveTrigger.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PlacementPopupPanel.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UI/UI/Xaml/Window.Desktop.cs
  src/Uno.UI/UI/Xaml/Window.Skia.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/Window.iOS.cs
  src/Uno.UI/UI/Xaml/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
  src/Uno.UI/UI/Xaml/WindowSizeChangedEventHandler.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/CoreWindow.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.ViewManagement/ApplicationView.cs
  src/Uno.UWP/UI/Core/CoreWindow.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.macOS.cs
Labels: ready-to-merge

#3646 fix(macOS): textblock not showing text
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.macOS.cs
Labels: ready-to-merge
