Repository unoplatform/uno, pull requests merged in 2021-04, with the labels that each got.

#5629 Support for AutoSuggestBox.QueryIcon
  src/SamplesApp/UITests.Shared/Assets/BlueSquare.png
  src/SamplesApp/UITests.Shared/Assets/RedSquare.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_BitmapIcon.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_BitmapIcon.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Icons.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Icons.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/MeasuredBitmapIcon.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Generic.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Sizing.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Sizing.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/FontIcon/FontIconControlTest.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/SymbolIconTests/SymbolIcon_Generic.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PathTestsControl/PathIcon.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
Labels: ready-to-merge

#5577 feat: ContactQueryOptions and ContactBatch (Android)
  build/PackageDiffIgnore.xml
  src/Uno.UWP/ApplicationModel/Contacts/ContactBatch.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactQueryOptions.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactBatch.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactQueryOptions.cs
Labels: ready-to-merge

#5612 chore: addressing suggestions from PR #5544
  src/Uno.UI.RuntimeTests/Extensions/FrameExtensions.Android.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_NativeFrame.cs
  src/Uno.UI/NativeFramePresenter.Android.cs
Labels: ready-to-merge

#5627 fix: WriteableBitmap.Invalidate on Skia
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/SamplesApp.Skia.WPF/SamplesApp.Skia.WPF.csproj
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageSourceWriteableBitmapInvalidate.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/WriteableBitmap_MultiInvalidate.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/WriteableBitmap_MultiInvalidate.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
Labels: ready-to-merge

#5669 docs: Add instructions to uninstall the dotnet new template
  doc/articles/get-started-dotnet-new.md
Labels: ready-to-merge

#5681 ci: force add nuget.org as upstream source
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/templates/gitversion.yml
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: ready-to-merge

#5587 feat(animations): Add compositor thread on Android
  doc/articles/composition.md
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UWP/UI/Composition/Uno/CompositionConfiguration.cs
  src/Uno.UWP/UI/Composition/Uno/CompositorThread.android.cs
  src/Uno.UWP/UI/Composition/Uno/ICompositionRoot.android.cs
Labels: ready-to-merge

#5699 perf: Add DependencyObject benchmarks
  src/SamplesApp/Benchmarks.Shared/Benchmarks.Shared.projitems
  src/SamplesApp/Benchmarks.Shared/Suite/Windows_UI_Xaml_Controls/BorderBench/BorderBenchmark.cs
  src/SamplesApp/Benchmarks.Shared/Suite/Windows_UI_Xaml_Controls/DependencyPropertyBench/PropagationDPBenchmark.cs
  src/SamplesApp/Benchmarks.Shared/Suite/Windows_UI_Xaml_Controls/DependencyPropertyBench/SpecializedDPBenchmark.cs
  src/SamplesApp/Benchmarks.Shared/Suite/Windows_UI_Xaml_Controls/FrameworkElementBench/FrameworkElementBenchmark.cs
Labels: ready-to-merge

#5725 fix: x:Bind typeof expression for nullable reference
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/XBindNullable.xaml
  src/SourceGenerators/XamlGenerationTests/XBindNullable.xaml.cs
Labels: ready-to-merge

#5679 Fix TextTrimming="CharacterEllipsis" were not working on Wasm
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.ExpectedPixels.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/SimpleText_MaxLines_One.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_TextTrimming.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_TextTrimming.xaml.cs
  src/Uno.UI/WasmCSS/Uno.UI.css
Labels: platform/wasm

#5740 docs: [Wasm] Add documentation to migrate to .NET5
  doc/articles/migrating-from-previous-releases.md
Labels: ready-to-merge

#5698 fix: Fix NRE from x:Bind two-way through converter
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Converter_TwoWay.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Converter_TwoWay.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/BoolToIntegerConverter.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/InverseBoolConverter.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI/DataBinding/BindingPath.cs
Labels: ready-to-merge

#5742 fix: TheadPoolTimer.CreatePeriodicTimer raises events properly
  src/Uno.UI.RuntimeTests/Tests/Windows_System_Threading/Given_ThreadPoolTimer.cs
  src/Uno.UWP/System.Threading/ThreadPoolTimer.cs
Labels: ready-to-merge

#5689 fix(FileSavePicker.wasm): FileSavePicker dialog now shows all file type extensions.
  src/Uno.UWP/Storage/Pickers/FileSavePicker.wasm.cs
Labels: ready-to-merge

#5738 React to TextBox.Foreground.Color changes
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Foreground_Changing.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Foreground_Changing.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/MultilineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.debugging.cs
Labels: ready-to-merge

#5706 [Skia] Initial support for TextBox on GTK and WPF
  src/Uno.Foundation/Extensibility/ApiExtensibility.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkDisplayInformationExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/CssProviderExtensions.cs
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/Theming/GtkSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Theming/UnoGtk.css
  src/Uno.UI.Runtime.Skia.Gtk/UI/Core/CursorExtensions.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Text/FontWeightExtensions.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Xaml/Controls/TextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Gtk/UnoDrawingArea.cs
  src/Uno.UI.Runtime.Skia.Tizen/ApplicationModel/Contacts/TizenContactPickerExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/ApplicationModel/DataTransfer/TizenDataTransferManagerExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/ApplicationModel/TizenPackageIdExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Devices/Haptics/TizenSimpleHapticsControllerExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Devices/Haptics/TizenVibrationDeviceExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Helpers/PrivilegeHelper.cs
  src/Uno.UI.Runtime.Skia.Tizen/Helpers/Privileges.cs
  src/Uno.UI.Runtime.Skia.Tizen/Helpers/PrivilegesHelper.cs
  src/Uno.UI.Runtime.Skia.Tizen/System/Profile/TizenAnalyticsInfoExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/System/TizenLauncherExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenApplication.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenDisplayInformationExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenHost.cs
  src/Uno.UI.Runtime.Skia.Tizen/UnoCanvas.cs
  src/Uno.UI.Runtime.Skia.Wpf/Controls/WpfTextViewTextBox.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/CursorExtensions.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Helper/Theming/WpfSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FileOpenPickerExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FileSavePickerExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/PickerHelpers.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/TextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Properties/AssemblyInfo.cs
  src/Uno.UI.Runtime.Skia.Wpf/Themes/Generic.xaml
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.Wpf/WpfApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfDisplayInformationExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfDragDropExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextVisual.Skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/ITextBoxExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.stub.cs
Labels: ready-to-merge

#5739 feat: Add Uno.WinUI compatibility for net5-windows
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.nuspec
  src/Uno.UI.Toolkit/CommandBarExtensions.cs
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI.Toolkit/MapResources.cs
  src/Uno.UI.Toolkit/MenuFlyoutExtensions.cs
  src/Uno.UI.Toolkit/MenuFlyoutItemExtensions.cs
  src/Uno.UI.Toolkit/SplitViewExtensions.cs
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
Labels: ready-to-merge

#5768 Read-only streams should not throw on Flush, adjust NotImplemented on Pickers
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFile_Native.base.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Streams/Given_RandomAccessStreamReference.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FileOpenPicker.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FileSavePicker.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FolderPicker.cs
  src/Uno.UWP/Storage/Streams/Internal/NativeReadStream.wasm.cs
  src/Uno.UWP/Storage/Streams/StreamOverInputStream.cs
Labels: ready-to-merge

#5779 fix: Renew UWP samples app certificate
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP_TemporaryKey.pfx
Labels: ready-to-merge

#5781 fix: Do not close JS stream reader if closed
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Windows/Storage/Streams/NativeFileReadStream.ts
Labels: ready-to-merge

#5765 fix(Pointers): Ignore GTK ungrab mode for window leave notification
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.cs
Labels: ready-to-merge

#5780 [Wasm] Removed hard-coded exception in handler for Html Custom Event
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/UIElementTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/WasmTests.cs
  src/SamplesApp/UITests.Shared/Wasm/Wasm_CustomEvent.xaml
  src/SamplesApp/UITests.Shared/Wasm/Wasm_CustomEvent.xaml.cs
  src/Uno.UI.Runtime.WebAssembly/Xaml/UIElementWasmExtensions.cs
Labels: kind/bug, platform/wasm, ready-to-merge

#5746 Initial Focus Visuals support
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/Focus_FocusVisual.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/Focus_FocusVisual.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/Focus_FocusVisual_Properties.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/Focus_FocusVisual_Properties.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_FocusVisuals.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/FocusVisual/SystemFocusVisual.cs
  src/Uno.UI/UI/Xaml/Controls/FocusVisual/SystemFocusVisual.xaml
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
  src/Uno.UI/UI/Xaml/Setter.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UI/UI/Xaml/Window.Skia.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/Window.iOS.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
Labels: ready-to-merge

#5787 docs: Various minor tweaks
  doc/articles/composition.md
  doc/articles/features/routed-events.md
  doc/articles/features/working-with-animations.md
  doc/articles/get-started-next-steps.md
  doc/articles/get-started-wizard.md
  doc/articles/interop/wasm-javascript-1.md
  doc/articles/intro.md
  doc/articles/migrating-before-you-start.md
  doc/articles/toc.yml
  doc/articles/using-uno-ui.md
  doc/articles/wasm-appmanifest.md
  doc/articles/wasm-custom-events.md
Labels: ready-to-merge

#5632 docs: updated doc on splash screen
  doc/articles/splash-screen.md
Labels: ready-to-merge

#5559 docs: added uno.material docs
  doc/articles/features/uno-material-controls-extra-setup.md
  doc/articles/features/uno-material.md
  doc/articles/guides/uno-material-walkthrough.md
  doc/articles/toc.yml
Labels: ready-to-merge

#5799 Revert "perf: Cache Marshal.SizeOf values"
  src/Uno.Foundation.Runtime.WebAssembly/Interop/MarshalSizeOfHelper.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/TSInteropMarshaller.wasm.cs
Labels: ready-to-merge

#5803 feat: Support for iOS universal links
  src/Uno.UI/UI/Xaml/Application.iOS.cs
Labels: ready-to-merge

#5804 perf(grid): Added more cases to Grid benchmark
  src/SamplesApp/Benchmarks.Shared/Controls/BenchmarkDotNetControl.xaml.cs
  src/SamplesApp/Benchmarks.Shared/Suite/Windows_UI_Xaml_Controls/GridBench/SimpleGridBenchmark.cs
Labels: ready-to-merge

#5814 fix(reg): Fix possible null ref in SwipeControl
  src/Uno.UI/UI/Xaml/Controls/SwipeControl/SwipeControl.Uno.cs
Labels: ready-to-merge

#5806 fix(GTK): pointer events in wrong locations using Wayland
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Xaml/Controls/TextBoxViewExtension.cs
Labels: ready-to-merge

#5824 fix: Avoid StackOverflow for multiline TextBox, fail on remove
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_In_ContentDialog.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_In_ContentDialog.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Xaml/Controls/TextBoxViewExtension.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Skia.cs
Labels: ready-to-merge

#5820 fix: ElevatedView should not be tab stop
  src/Uno.UI.Toolkit/Themes/Generic.xaml
Labels: ready-to-merge

#5811 New <Grid> implementation
  build/PackageDiffIgnore.xml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_DynamicRowColumn.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_DynamicRowColumn.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_Margin_And_Padding.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_Margin_And_Padding.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_ScrollViewer.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_ScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_def_MinMaxValues.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_def_MinMaxValues.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_in_Canvas.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridTestsControl/Grid_in_Canvas.xaml.cs
  src/Uno.Foundation/Collections/StackVector.cs
  src/Uno.UI-UnitTests-only.slnf
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.Tests/Foundation/Given_StackVector.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Alignment.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_AutoSized.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Margin.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_StaticResource.cs
  src/Uno.UI/Extensions/UIElementExtensions.cs
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/Extensions/ViewExtensions.cs
  src/Uno.UI/Extensions/ViewExtensions.netstd.cs
  src/Uno.UI/FrameworkElementOutlineProvider.Android.cs
  src/Uno.UI/Helpers/RootScale.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Helpers.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/ColumnDefinition.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/ColumnDefinitionCollection.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/DefinitionBase.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/DefinitionCollectionBase.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Debug.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Definitions.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Layout.FastPaths.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Panel.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.h.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/GridCells.h.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/GridExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/RowDefinition.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/RowDefinitionCollection.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.cs
  src/Uno.UI/UI/Xaml/DependencyObjectCollection.cs
  src/Uno.UI/UI/Xaml/GridLength.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.netstd.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: ready-to-merge

#5791 docs: Expand WinUI 3 guidance
  doc/articles/Assets/preview-feature-winui-3-tooling.png
  doc/articles/get-started-dotnet-new.md
  doc/articles/get-started-winui3.md
  doc/articles/toc.yml
  doc/articles/updating-to-winui3.md
  doc/articles/uwp-vs-winui3.md
Labels: ready-to-merge

#5833 fix(Wpf): PointerId changed to 1 to match UWP
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfCoreWindowExtension.cs
  src/Uno.UI/Controls/Window.macOS.cs
Labels: ready-to-merge

#5830 fix(Border): Fix EvenOdd winding paths when drawing corner radii
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/BorderTests/Border_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_BorderThickness.xaml
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
Labels: ready-to-merge

#5841 docs: Add azure static web apps guide
  doc/articles/Assets/aswa-create.png
  doc/articles/Assets/aswa-settings.png
  doc/articles/guides/azure-static-webapps.md
  doc/articles/how-to-host-a-webassembly-app.md
  doc/articles/toc.yml
Labels: ready-to-merge
