Repository unoplatform/uno, pull requests merged in 2021-02, with the labels that each got.

#5055 feat(doc): Update to include ways to download Uno fonts
  doc/articles/uno-fluent-assets.md
Labels: ready-to-merge

#5085 [Android] Fix text layout problem
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_LayoutAlignment.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_LayoutAlignment.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
Labels: ready-to-merge

#5077 feat(xLoad): Add xLoad binding capabilities
  doc/articles/features/windows-ui-xaml-xbind.md
  doc/articles/supported-features.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_FindName.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_FindName.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_Literal.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_Literal.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_Test_For_Leak.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_Test_For_Leak.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_xBind.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/xLoadTests/xLoad_xBind.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/NameScope.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/xLoad_Literal.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/xLoad_Literal.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/xLoad_xBind.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/xLoad_xBind.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_xBind.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_xLoad_xBind.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_xLoad_DataTemplate.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_xLoad_DataTemplate.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI/Mock/ElementStub.net.cs
  src/Uno.UI/UI/Xaml/ElementStub.Android.cs
  src/Uno.UI/UI/Xaml/ElementStub.cs
  src/Uno.UI/UI/Xaml/ElementStub.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/ElementStub.netstd.cs
Labels: ready-to-merge

#5008 fix: ContainerFromIndex and IndexFromContainer return wrong results
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
Labels: ready-to-merge

#5094 fix: Ensure protocol activation is handled
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
Labels: ready-to-merge

#4802 feat: DataTransferManager, DataPackagePropertySet
  build/PackageDiffIgnore.xml
  doc/articles/features/windows-applicationmodel-datatransfer.md
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/DataTransfer/DataTransferManagerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/DataTransfer/DataTransferManagerTests.xaml.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/ApplicationModel/DataTransfer/TizenDataTransferManagerExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/Devices/Haptics/TizenVibrationDeviceExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/Helpers/PrivilegeHelper.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenHost.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialogClosingDeferral.cs
  src/Uno.UI/WasmScripts/Uno.UI.d.ts
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Windows/ApplicationModel/DataTransfer/DataTransferManager.ts
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackage.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackagePropertySet.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackagePropertySetView.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackageView.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataRequest.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataRequestDeferral.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataRequestedEventArgs.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.Android.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.iOS.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.macOS.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.other.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.skia.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/IDataTransferManagerExtension.skia.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/ShareCompletedEventArgs.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/ShareTargetInfo.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/ShareUIOptions.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/ShareUITheme.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackage.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackagePropertySet.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackagePropertySetView.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataPackageView.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataRequest.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataRequestDeferral.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataRequestedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/DataTransferManager.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/ShareCompletedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/ShareTargetInfo.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/ShareUIOptions.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.DataTransfer/ShareUITheme.cs
Labels: ready-to-merge

#5042 fix(iOS): CommandBar Back Button Icon with custom Image
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.Shared/Assets/BackArrow.scale-300.png
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.NativeCommandBar.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/BackButtonImage/CommandBar_Frame.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/BackButtonImage/CommandBar_Frame.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/BackButtonImage/CommandBar_Page1.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/BackButtonImage/CommandBar_Page1.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/BackButtonImage/CommandBar_Page2.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/BackButtonImage/CommandBar_Page2.xaml.cs
  src/Uno.UI/Controls/CommandBarRenderer.iOS.cs
Labels: ready-to-merge

#5105 fix(Animations): Fix issue with multiple animators holding the same handle to their JS counterparts
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimator.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimatorMetadataIdProvider.cs
Labels: ready-to-merge

#5001 [iOS] Fixed a clipping bug with RenderTransform, mostly affecting <ViewBox>
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.NativeCommandBar.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Transform_And_Clipping.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Transform_And_Clipping.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ViewBoxTests/ViewBox_Alignment.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ViewBoxTests/ViewBox_Dynamic.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ViewBoxTests/Viewbox_Behavior.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ViewBoxTests/Viewbox_Behavior.xaml.cs
  src/Uno.Foundation/Rect.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOS.cs
Labels: ready-to-merge

#5110 [MacOS] Margin directly on the child element of a <ScrollViewer /> were ignored
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ScrollViewerTests/UnoSamples_Tests.ScrolViewer.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Margin.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Margin.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOSmacOS.cs
Labels: platform/macos, project/layout, ready-to-merge

#4702 fix(macos): ManipulationDelta translateY being inverted
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Manipulation_Tests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/ManipulationEvents.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/ManipulationEvents.xaml.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Manipulation.cs
Labels: platform/macos, project/pointers

#5044 [WASM] Improve ComboBox dropdown open time
  src/Uno.UI.RuntimeTests/Helpers/FeatureConfigurationHelper.cs
  src/Uno.UI.RuntimeTests/Helpers/NumberAssert.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/MeasureCountCarouselPanel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/CarouselPanel.netstd.cs
Labels: ready-to-merge

#5072 TabView: Fix ScrollViewer-related glitches
  src/Uno.UI.FluentTheme/Resources/PriorityDefault/TabView.xaml
  src/Uno.UI.FluentTheme/themeresources.xaml
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView.xaml
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Uno.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
Labels: ready-to-merge

#4453 feat(Expander): Add WinUI Expander
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ColorPickerTests/WinUIColorPickerPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ExpanderTests/WinUIExpanderPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ExpanderTests/WinUIExpanderPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation.Provider/IExpandCollapseProvider.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation/ExpandCollapseState.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpandDirection.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderCollapsedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderExpandingEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander_themeresources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/WinUIVersionLog.txt
  src/Uno.UI/UI/Xaml/Automation/ExpandCollapseState.cs
  src/Uno.UI/UI/Xaml/Automation/Provider/IExpandCollapseProvider.cs
  src/Uno.UI/UI/Xaml/Automation/Provider/IInvokeProvider.cs
  src/Uno.UI/UI/Xaml/Automation/Provider/IToggleProvider.cs
Labels: ready-to-merge

#5049 docs: Update faq
  doc/articles/faq.md
Labels: ready-to-merge

#5103 Fixes the HtmlElementAttribute inheritance for non-uno.ui types
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_Custom.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_Custom.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: ready-to-merge

#5106 fix: Misc issues with items repeater
  src/Uno.CrossTargetting.props
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/PagerControl/PagerControlTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ViewportManagerWithPlatformFeatures.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
Labels: ready-to-merge

#5130 fix(scrollviewer): Show ScrollBar when Fluent styles are used
  src/Uno.UI.FluentTheme/Resources/PriorityDefault/ScrollBar_themeresources.xaml
  src/Uno.UI.FluentTheme/themeresources.xaml
Labels: ready-to-merge

#5134 docs: Rider get started update
  doc/articles/get-started-rider.md
Labels: ready-to-merge

#4031 WinUI RatingControl
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RatingControlTests/RatingControlBasic.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RatingControlTests/RatingControlBasic.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RatingControlTests/RatingControlPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RatingControlTests/RatingControlPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.Foundation/Generated/2.0.0.0/Windows.Foundation/PropertyValue.cs
  src/Uno.Foundation/PropertyValue.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/RatingControl/RatingControlTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/SplitButtonTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/TreeView/TreeViewItemSource.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/TreeView/TreeViewNode2.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/TreeView/TreeViewTests.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation/RangeValuePatternIdentifiers.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation/ValuePatternIdentifiers.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingControl.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingControl.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingControlAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingControlStates.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingControl_themeresources_v2.5.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingControl_v2.5.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingInfoType.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingItemFontInfo.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingItemImageInfo.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingItemInfo.cs
  src/Uno.UI/UI/Xaml/Automation/RangeValuePatternIdentifiers.cs
  src/Uno.UI/UI/Xaml/Automation/ValuePatternIdentifiers.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Composition/CompositionPropertySet.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Composition/Compositor.cs
  src/Uno.UWP/UI/Composition/CompositionPropertySet.cs
  src/Uno.UWP/UI/Composition/Compositor.cs
Labels: ready-to-merge

#4337 feat: ContactPicker
  doc/articles/features/windows-applicationmodel-contacts.md
  doc/articles/toc.yml
  src/SamplesApp/SamplesApp.Droid/Properties/AssemblyInfo.cs
  src/SamplesApp/SamplesApp.Skia.Tizen/tizen-manifest.xml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Contacts/PickContact.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Contacts/PickContact.xaml.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/ApplicationModel/Contacts/TizenContactPickerExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/Helpers/Privileges.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/Helpers/PrivilegesHelper.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenHost.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/PagerControl/PagerControlTests.cs
  src/Uno.UI.RuntimeTests/MUX/Windows_UI_Xaml_Controls/PersonPictureTests.cs
  src/Uno.UI/WasmScripts/Uno.UI.d.ts
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Windows/ApplicationModel/Contacts/ContactPicker.ts
  src/Uno.UWP/ApplicationModel/Contacts/Contact.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactAddress.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactAddressKind.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactEmail.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactEmailKind.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPhone.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPhoneKind.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.Android.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.iOS.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.skia.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.unsupported.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.wasm.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactQueryDesiredFields.cs
  src/Uno.UWP/ApplicationModel/Contacts/Internal/WasmContact.wasm.cs
  src/Uno.UWP/ApplicationModel/Contacts/Internal/WasmContactAddress.wasm.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/Contact.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactAddress.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactEmail.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactPhone.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Contacts/ContactPicker.cs
Labels: ready-to-merge

#5164 fix(uielement): [iOS] Fix TransformToVisual output inside ScrollViewer
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/UIElementTests.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
Labels: ready-to-merge

#5161 fix(msix): Adjust project creation ordering
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UWP/UnoQuickStart.Uwp.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UnoApp.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/iOS/UnoQuickStart.iOS.csproj
  src/SolutionTemplate/UnoSolutionTemplate/macOS/UnoQuickStart.macOS.csproj
Labels: ready-to-merge

#5169 fix: Fix bounce ease producing invalid final value
  build/PackageDiffIgnore.xml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Media_Animation/Given_BounceEase.cs
  src/Uno.UI/UI/Xaml/Media/Animation/BounceEase.cs
Labels: ready-to-merge

#5184 fix(BindableNSView): Set MasksToBounds to false on init
  src/Uno.UI/Controls/BindableNSView.macOS.cs
Labels: ready-to-merge

#5187 fix(reg): Avoid common namespace name conflict
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: ready-to-merge

#5194 [Android] [WASM] Fixes for SolidColorBrush.Color changes not respected
  src/Uno.UI/Mock/Brush.net.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/Brush.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: ready-to-merge

#5196 fix: ElevatedView does not show up on Skia
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Skia.csproj
Labels: ready-to-merge

#5195 fix: Perf of NavView/ItemsRepeater
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ViewportManagerWithPlatformFeatures.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
Labels: ready-to-merge

#5139 Add test for Fluent style scroll bar bug
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ScrollViewerTests/UnoSamples_Tests.ScrolViewer.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Fluent.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Fluent.xaml.cs
  src/Uno.UI/UI/Xaml/VisualStateManager.cs
  src/Uno.UI/UI/Xaml/VisualStateManager.wasm.cs
Labels: ready-to-merge

#4185 IsEnabled fixes, Routed Events fixes
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Enability_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/RoutedEventIsEnabled_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/Enability.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/Enability.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewItem_IsEnabled.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewItem_IsEnabled.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/RoutedEvents/RoutedEvent_IsEnabled.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/RoutedEvents/RoutedEvent_IsEnabled.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Skia.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: ready-to-merge

#5201 fix(macOS): Textbox Focus
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.macOS.cs
Labels: ready-to-merge

#5197 [MacOS] Multiline TextBox were displayed as single line when not focused.
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_Multiline.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_Multiline.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/PasswordBox_Simple.xaml
  src/Uno.UI/UI/Xaml/Controls/PasswordBox/SecureTextBoxView.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxViewDelegate.macOS.cs
Labels: ready-to-merge

#5209 fix: Improve performance of pointers on macOS
  src/Uno.UI/UI/Xaml/UIElement.Pointers.macOS.cs
Labels: ready-to-merge

#5165 [Wasm] Incorrect TextBox measurement when Wrap mode were used
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_Multiline_AutoHeight.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_Multiline_AutoHeight.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/PasswordBox_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Wrapping.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Wrapping.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/Documents/UIElementTextHelper.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: ready-to-merge

#5216 WinUI3 preview update
  src/SamplesApp/UITests.Shared/Windows_Media/MediaPlayerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_3gp_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Avi_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Flv_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Full.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Minimal.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mkv_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mov_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Ogg_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Sources.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Sources.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Stretch_Fill.xaml
  src/Uno.UI.FluentTheme/Resources/PriorityDefault/MediaTransportControls_themeresources.xaml
  src/Uno.UI.FluentTheme/themeresources.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_Implicit_Style.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderCollapsedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderExpandingEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerElement.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerElement.net.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.Others.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.MediaPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControlsHelper.cs
  src/Uno.UWPSyncGenerator.Reference/Uno.UWPSyncGenerator.Reference.csproj
Labels: ready-to-merge

#5224 File pickers samples
  src/SamplesApp/UITests.Shared/Helpers/ViewModelBase.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Storage/FilePickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/FilePickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/FilePickers/FileSavePickerTest.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/FolderPickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/FolderPickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/DownloadFileSavePickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/DownloadFileSavePickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileSavePickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileSavePickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FolderPickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FolderPickerTests.xaml.cs
Labels: ready-to-merge

#4588 feat: Add native filesystem folder picker
  src/AddIns/Uno.UI.Lottie/WasmScripts/uno-lottie.js
  src/Uno.UI-Wasm-only.slnf
  src/Uno.UI/WasmScripts/Uno.UI.d.ts
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Guid.ts
  src/Uno.UI/ts/Windows/Storage/Pickers/FolderPicker.ts
  src/Uno.UI/ts/Windows/Storage/StorageFolder.Native.ts
  src/Uno.UI/ts/types/wicg-file-system-access/index.d.ts
  src/Uno.UI/tsconfig.json
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FolderPicker.cs
  src/Uno.UWP/Storage/Pickers/FolderPicker.wasm.cs
  src/Uno.UWP/Storage/StorageFolder.Base.cs
  src/Uno.UWP/Storage/StorageFolder.Local.cs
  src/Uno.UWP/Storage/StorageFolder.cs
  src/Uno.UWP/Storage/StorageFolder.native.wasm.cs
Labels: ready-to-merge

#5255 fix(iOS): Time and DatePicker Flyout Selector
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TimePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerSelector.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerSelector.iOS.cs
Labels: ready-to-merge

#5210 chore: Update Controls Default FontSize
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DateTimePicker/DateTimePicker_Styles.xaml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.Native.xaml
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: ready-to-merge

#5261 fix: Disable anoying log for pointer capture not supported on GTK and Tizen
  src/Uno.UI.Runtime.Skia.Gtk/GTK/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/Tizen/TizenCoreWindowExtension.cs
Labels: ready-to-merge

#5213 fix(wasm): Pivot content when using bindings
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Pivot.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/UI/Xaml/Controls/Pivot/Pivot.cs
Labels: ready-to-merge

#5221 ci: Update to latest gitversion, adjust mainline mode for stable
  build/ci/.azure-devops-wasm-uitests.yml
  build/ci/templates/dotnet-sdks.yml
  build/ci/templates/gitversion.yml
  gitversion.yml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/Uno.NUnitTransformTool/Uno.NUnitTransformTool.csproj
  src/Uno.ReferenceImplComparer/Uno.ReferenceImplComparer.csproj
  src/Uno.WinUIRevert/Uno.WinUIRevert.csproj
Labels: ready-to-merge

#5269 docs: fix broken internal link
  CONTRIBUTING.md
Labels: ready-to-merge

#5281 Manual testing additions
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/samples-issue.md
  .github/ISSUE_TEMPLATE/samples-request.md
  doc/articles/uno-development/working-with-the-samples-apps.md
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserContent.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleControlInfoAttribute.cs
Labels: ready-to-merge

#5305 docs: Update the WSL debugger installation procedure
  doc/articles/get-started-with-linux.md
Labels: ready-to-merge

#5287 fix(iOS): CommandBar TitleView Content Display
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.NativeCommandBar.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CustomContent/CommandBar_Frame.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CustomContent/CommandBar_Frame.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CustomContent/CommandBar_Page1.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CustomContent/CommandBar_Page1.xaml.cs
  src/Uno.UI/Controls/CommandBarNavigationItemRenderer.iOS.cs
Labels: ready-to-merge

#5316 ci: Apply xamarin.mac build fixes
  build/ci/.azure-devops-macos.yml
Labels: ready-to-merge

#5311 fix(iOS): CommandBar.Title overlapping AppBarButtons
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/CommandBarTests/UnoSamples_Tests.NativeCommandBar.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Frame.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Frame.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Page1.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Page1.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Page2.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Page2.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Page3.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/LongTitle/CommandBar_Page3.xaml.cs
  src/Uno.UI/Controls/CommandBarNavigationItemRenderer.iOS.cs
Labels: ready-to-merge

#5254 WASM Native FileOpenPicker
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.Lottie/tsconfig.json
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.csproj
  src/AddIns/Uno.UI.MSAL/tsconfig.json
  src/Directory.Build.targets
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/DownloadFileSavePickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileSavePickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FolderPickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/StorageFolderTests/Persistence.xaml.cs
  src/Uno.UI.Wasm.Tests/Uno.UI.Wasm.Tests.csproj
  src/Uno.UI.Wasm.Tests/tsconfig.json
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UI/WasmScripts/Uno.UI.d.ts
  src/Uno.UI/WasmScripts/Uno.UI.js
  src/Uno.UI/ts/Windows/Storage/NativeStorageFile.ts
  src/Uno.UI/ts/Windows/Storage/NativeStorageFolder.ts
  src/Uno.UI/ts/Windows/Storage/NativeStorageItem.ts
  src/Uno.UI/ts/Windows/Storage/Pickers/FileOpenPicker.Native.ts
  src/Uno.UI/ts/Windows/Storage/Pickers/FileSavePicker.ts
  src/Uno.UI/ts/Windows/Storage/Pickers/FolderPicker.Native.ts
  src/Uno.UI/ts/Windows/Storage/Pickers/FolderPicker.ts
  src/Uno.UI/ts/types/wicg-file-system-access/index.d.ts
  src/Uno.UI/tsconfig.json
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FileOpenPicker.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage.Pickers/FolderPicker.cs
  src/Uno.UWP/Storage/MimeTypeService.cs
  src/Uno.UWP/Storage/NativeStorageItem.wasm.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.wasm.cs
  src/Uno.UWP/Storage/Pickers/FolderPicker.wasm.cs
  src/Uno.UWP/Storage/StorageFile.Base.cs
  src/Uno.UWP/Storage/StorageFile.native.wasm.cs
  src/Uno.UWP/Storage/StorageFolder.native.wasm.cs
  src/Uno.UWP/WinRTFeatureConfiguration.cs
Labels: ready-to-merge

#5328 fix: NullReferenceException when setting UnoPlatformTelemetryOptOut to true
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/TelemetryClient.cs
Labels: ready-to-merge
