Repository unoplatform/uno, pull requests merged in 2022-10, with the labels that each got.

#10089 fix: Ensure Xamarin.iOS target is deployable when Mac Host is connected
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2019/UnoSolutionWizard.cs
Labels: ready-to-merge

#10220 build: Enable CA1810 (Specify StringComparison)
  .editorconfig
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.iOSmacOS.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.Android.cs
  src/Directory.Build.props
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2019/UnoSolutionWizard.cs
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/UnoSolutionWizard.cs
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/DependenciesInitializer.cs
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/PathHelper.cs
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/RoslynMetadataHelper.cs
  src/SourceGenerators/System.Xaml/System.Xaml/ParsedMarkupExtensionInfo.cs
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/TSBindings/TSBindingsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/ColorCodeParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/SourceGenerators/Uno.UI.Tasks/BatchMergeXaml/MergedDictionary.cs
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerHintGeneratorTask.cs
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/JSObjectMetadataProvider.wasm.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/MetadataUpdates/CompilationWorkspaceProvider.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/CssProviderExtensions.cs
  src/Uno.UI.Runtime.Skia.Gtk/OpenGLESRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/System/LauncherHelpers/DesktopFile.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedIcon.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/UnoWKWebView.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UI/UI/Xaml/FontFamily.wasm.cs
  src/Uno.UI/UI/Xaml/FontFamilyHelper.cs
  src/Uno.UI/UI/Xaml/GridLength.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlTypeResolver.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/GPUFloatValueAnimator.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataPackageView.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
  src/Uno.UWP/Helpers/AndroidResourceNameEncoder.cs
  src/Uno.UWP/Helpers/AppDataUriEvaluator.cs
  src/Uno.UWP/Security/Authentication/Web/WebAuthenticationBrokerProvider.iOSmacOS.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.Android.cs
  src/Uno.UWP/Storage/StorageFolder.Local.cs
  src/Uno.UWP/UI/Colors.cs
  src/Uno.UWPSyncGenerator/DocGenerator.cs
  src/Uno.UWPSyncGenerator/Generator.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/solution-templates, area/code-generation, platform/skia

#10227 Platform suffix consistency
  src/Uno.UI.Composition/Composition/Uno/CompositorThread.Android.cs
  src/Uno.UI.Composition/Composition/Uno/ICompositionRoot.Android.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_FileIO_Native.Android.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFile_Native.Android.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFolder_Native.Android.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/HtmlElementAttributeTests/Given_HtmlElementAttribute.wasm.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/NativeContainer.Xamarin.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.Android.cs
  src/Uno.UI/UI/Xaml/Media/FillRuleExtensions.skia.cs
  src/Uno.UWP/Graphics/Imaging/BitmapEncoder.Android.cs
  src/Uno.UWP/Graphics/Imaging/BitmapEncoder.iOS.cs
  src/Uno.UWP/Graphics/Imaging/SoftwareBitmap.Android.cs
  src/Uno.UWP/Graphics/Imaging/SoftwareBitmap.iOS.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.wasm.cs
  src/Uno.UWP/Security/ExchangeActiveSyncProvisioning/EasClientDeviceInformation.skia.cs
  src/Uno.UWP/Storage/StorageFile.Android.cs
  src/Uno.UWP/System/MemoryManager.wasm.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, platform/skia

#10252 docs: update gtk linux docs
  doc/articles/features/using-skia-gtk.md
  doc/articles/get-started-with-linux.md
Labels: kind/documentation

#10242 Misc hot reload adjustments
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.Android.cs
Labels: platform/android

#10134 feat(assets): Adds support for content assets in NuGet and transive project refs
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.nuspec
  build/cSpell.json
  build/test-scripts/run-net6-mobile-template-tests.ps1
  build/test-scripts/run-template-tests.ps1
  doc/articles/features/file-management.md
  doc/articles/get-started-vs-2022.md
  doc/articles/guides/how-to-create-control-libraries.md
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/UnoLibraryTemplate.net6/CrossTargetedLibrary.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/UnoSolutionTemplate.Wizard.2022.csproj
  src/SourceGenerators/Uno.UI.Tasks/Assets/ExpandPackageAssets.cs
  src/SourceGenerators/Uno.UI.Tasks/Assets/RetargetAssets.cs
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
  src/Uno.UI.RuntimeTests/Assets/TransientAsset01.txt
  src/Uno.UI.RuntimeTests/Assets/Transitive-ingredient01.png
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFile.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.net6.csproj
  src/Uno.UI.Wasm.Tests/Uno.UI.Wasm.Tests.csproj
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UWP/Storage/StorageFile.Android.cs
  src/Uno.UWP/Storage/StorageFile.iOSmacOS.cs
  src/Uno.UWP/Storage/StorageFile.skia.cs
  src/Uno.UWP/Storage/StorageFile.wasm.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/solution-templates, area/skia, area/code-generation, area/build, area/automation, kind/documentation

#10261 chore: Bump to skiasharp 2.88.3
  build/Uno.WinUI.Lottie.nuspec
  build/Uno.WinUI.Svg.nuspec
  doc/articles/features/Lottie.md
  src/AddIns/Uno.UI.Lottie/buildTransitive/Uno.UI.Lottie.targets
  src/AddIns/Uno.UI.Svg/buildTransitive/Uno.UI.Svg.targets
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia.WPF/SamplesApp.Skia.WPF.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.net6/Skia.Gtk/UnoQuickStart.Skia.Gtk.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.net6/Skia.Linux.FrameBuffer/UnoQuickStart.Skia.Linux.FrameBuffer.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.net6/Skia.WPF/UnoQuickStart.Skia.WPF.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Skia.Tizen/UnoQuickStart.Skia.Tizen.csproj
Labels: area/solution-templates, area/build, area/automation, kind/documentation

#10262 fix: Don't fail when Uno.UI is included in an WinAppSDK app
  build/Uno.WinUI.MSAL.nuspec
  build/Uno.WinUI.nuspec
  build/uno.winui.targets
  build/uno.winui.winappsdk.targets
  doc/articles/get-started-wizard.md
Labels: area/build, kind/documentation

#10274 fix(reg): Typo in WinAppSDK validation target
  build/uno.winui.winappsdk.targets
Labels: area/build

#10268 ci: Use packagereference for t4 runner
  build/Uno.UI.Build.csproj
  src/Uno.UI/MixinGeneration.targets
  src/Uno.UI/Uno.UI.Skia.csproj
Labels: area/build

#10270 Misc template updates
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.vscode/settings.json
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.net6/Skia.Gtk/UnoQuickStart.Skia.Gtk.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.net6/Skia.Linux.FrameBuffer/UnoQuickStart.Skia.Linux.FrameBuffer.csproj
  src/Uno.CrossTargetting.props
Labels: area/solution-templates

#10260 fix: Adjust corner-radius border rendering on Skia
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_BorderThickness.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_BorderThickness.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/CornerRadius.skia.cs
Labels: area/skia, area/automation

#10284 docs: Update Themes and Toolkit docs ref
  doc/import_external_docs.ps1
Labels: kind/documentation

#10282 Misc nuget upgrades, template fixes
  build/Uno.WinUI.XamlHost.nuspec
  build/Uno.WinUI.nuspec
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia.WPF/SamplesApp.Skia.WPF.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Wasm/BlankApp.Wasm.csproj
  src/SolutionTemplate/UnoLibraryTemplate.netcore/CrossTargetedLibrary.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Shared/Shared.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2019/NuGet-netcore.config
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/NuGet-netcore.config
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Shared/Shared.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
Labels: area/solution-templates, area/skia, area/code-generation, area/build, area/automation

#10291 ci: Split net6mobile and net7mobile
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-package-net6-win.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-winui-convert.yml
  build/ci/templates/dotnet6-mobile-install-mac.yml
  build/ci/templates/dotnet6-mobile-install-windows.yml
  build/ci/templates/dotnet7-mobile-install-mac.yml
  build/ci/templates/dotnet7-mobile-install-windows.yml
  src/Uno.CrossTargetting.props
  src/netcore-build.props
  src/uno.mobile-cross-targeting-disable.props
Labels: area/build

#9957 fix(iOS): Text Selection on ReadOnly TextBox
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Selection.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Selection.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/MultilineTextBoxDelegate.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxDelegate.iOS.cs
Labels: platform/ios, area/automation

#10300 fix(reg): Adjust winappsdk references cleanup
  build/uno.winui.winappsdk.targets
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
Labels: area/code-generation, area/build
