Repository unoplatform/uno, pull requests merged in 2022-12, with the labels that each got.

#10618 fix(xamltrim): Trim trop-level ControlTemplate as resource key
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#10566 Misc trimming, conditionally exclude ExpandoObject binding
  doc/articles/uno-development/Uno-UI-XAML-ResourceTrimming.md
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/DependencyObjectAvailabilityGenerator.cs
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerHintGeneratorTask.cs
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/Uno.Foundation/Diagnostics/CodeAnalysis/AdditionalLinkerHintAttribute.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.MemberBinder.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
  src/Uno.UI/UI/Xaml/Controls/RichEditBox/RichEditBox.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.mux.cs
  src/Uno.UI/Uno.UI.Wasm.csproj
Labels: area/code-generation, area/automation, kind/documentation

#10624 perf: Reduce allocations in `RegisterCustomScheme`
  src/Uno.UWP/Helpers/ProtocolActivation.wasm.cs
Labels: platform/wasm

#10195 docs: Created blog post for Uno beginners
  build/cSpell.json
  doc/articles/guides/community-tutorials.md
Labels: area/build, kind/documentation

#10289 docs: Adding Second blog article for Uno applications
  doc/articles/guides/community-tutorials.md
Labels: kind/documentation

#10290 docs: Adding blog article about fluent app design
  doc/articles/guides/community-tutorials.md
Labels: kind/documentation

#10657 fix: Add partial keyword to CustomControl.cs at TemplateControl
  src/UnoItemTemplate/TemplatedControl.UWP/CustomControl.cs
  src/UnoItemTemplate/TemplatedControl.WinUI/CustomControl.cs
Labels: area/solution-templates

#10571 fix(Android): `NetworkInformation` under VPN
  src/Uno.UWP/Networking/Connectivity/ConnectionProfile.Android.cs
Labels: platform/android

#10357 chore: misc update templates for net6+ mobile
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/Mobile.winui.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/UnoQuickStart.Mobile.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/iOS/Main.iOS.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/macOS/Main.macOS.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Shared/App.xaml.cs
Labels: platform/macos, platform/ios, area/solution-templates

#10666 chore: Temporarily disable `When_Opacity_Paused_With_FillBehaviorHold`
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Opacity.cs
Labels: area/automation

#10658 fix(Skia): Initialize `DisplayBlock` text in `TextBoxView`
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia

#10664 fix(reg): Don't use shadow parameters for C# 7.3
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#10669 fix: Attempt to fix possible crash when using CGColor
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.iOSmacOS.cs
Labels: platform/macos, platform/ios

#10672 fix: Ensure clipping when corner radius is set
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
Labels: area/skia

#10680 perf: Remove dependency to DataContractSerializers
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UWP/ApplicationModel/Contacts/Internal/WasmContact.wasm.cs
  src/Uno.UWP/ApplicationModel/Contacts/Internal/WasmContactAddress.wasm.cs
  src/Uno.UWP/Helpers/Serialization/JsonHelper.wasm.cs
  src/Uno.UWP/Storage/Internal/NativeStorageItemInfo.wasm.cs
  src/Uno.UWP/Storage/Pickers/Internal/NativeFilePickerAcceptType.wasm.cs
  src/Uno.UWP/Storage/Pickers/Internal/NativeFilePickerAcceptTypeItem.wasm.cs
  src/Uno.UWP/Uno.Wasm.csproj
Labels: platform/wasm

#10678 [Wasm][Threading] Use proper `CheckThreadAccess`/`HasThreadAccess` behavior, raise DispatcherQueueTimer on proper thread
  src/SourceGenerators/System.Xaml/Uno.Xaml.csproj
  src/Uno.UI.Dispatching/Core/CoreDispatcher.wasm.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/IdleSynchronizer.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/RunOnUIThread.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropManager.cs
  src/Uno.UWP/System/DispatcherQueue.cs
  src/Uno.UWP/System/DispatcherQueueTimer.wasm.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.wasm.cs
Labels: platform/wasm, area/code-generation

#10671 perf: Geolocator JSImport bindings
  src/Uno.UI/ts/ExportManager.ts
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UI/ts/Windows/Devices/Geolocation/Geolocator.ts
  src/Uno.UWP/Devices/Geolocation/Geolocator.Interop.wasm.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.wasm.cs
Labels: platform/wasm

#9895 Clipboard methods for `TextBox` and `PasswordBox`
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_ClipboardMethods.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_ClipboardMethods.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/PasswordBox.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/PasswordBox/PasswordBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: area/automation

#10690 feat: Branded Item Templates
  src/UnoItemTemplate/BlankPage.UWP/BlankPage.png
  src/UnoItemTemplate/BlankPage.WinUI/BlankPage.png
  src/UnoItemTemplate/BlankPage.WinUI/BlankPage.svg
  src/UnoItemTemplate/ContentDialog.UWP/ContentDialog.png
  src/UnoItemTemplate/ContentDialog.WinUI/ContentDialog.png
  src/UnoItemTemplate/ContentDialog.WinUI/ContentDialog.svg
  src/UnoItemTemplate/ResourceDictionary.Neutral/ResourceDictionary.png
  src/UnoItemTemplate/ResourceDictionary.Neutral/ResourceDictionary.svg
  src/UnoItemTemplate/ResourceDictionaryWithCodeBehind.UWP/ResourceDictionary.png
  src/UnoItemTemplate/ResourceDictionaryWithCodeBehind.WinUI/ResourceDictionary.png
  src/UnoItemTemplate/Resw.Neutral/Resw.png
  src/UnoItemTemplate/Resw.Neutral/Resw.svg
  src/UnoItemTemplate/TemplatedControl.UWP/TemplatedControl.png
  src/UnoItemTemplate/TemplatedControl.WinUI/TemplatedControl.png
  src/UnoItemTemplate/TemplatedControl.WinUI/TemplatedControl.svg
  src/UnoItemTemplate/UserControl.UWP/UserControl.png
  src/UnoItemTemplate/UserControl.WinUI/UserControl.png
  src/UnoItemTemplate/UserControl.WinUI/UserControl.svg
Labels: area/solution-templates

#10703 docs: Update samples app wasm uri
  doc/articles/uno-development/contributing-intro.md
Labels: kind/documentation

#10707 fix(reg): restore xaml trimming for net5 or below
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#10656 docs: Adjust Wasm-specific runtime features
  doc/articles/cross-targeted-libraries.md
  doc/articles/interop/wasm-javascript-1.md
Labels: kind/documentation

#10720 docs: Update get started
  doc/articles/get-started.md
Labels: kind/documentation

#10706 perf: Accelerometer JSImport bindings
  src/Uno.UI/ts/Windows/Devices/Sensors/Accelerometer.ts
  src/Uno.UWP/Devices/Sensors/Accelerometer.Interop.wasm.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.wasm.cs
Labels: platform/wasm

#10711 Fixed the #10710 LightSensor documentation bug
  doc/articles/features/lightsensor.md
Labels: ready-to-merge, kind/documentation

#10533 `Popup` placement and positioning
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/Popup.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls.Primitives/PopupPlacementMode.cs
  src/Uno.UI/Mixins/DependencyPropertyMixins.tt
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.Pickers.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.net.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.netstd.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPlacementMode.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/PickerFlyoutPopupPanel.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popover/Popover.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/IPopup.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/NativePopup.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/NativePopupAdapter.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PlacementPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Base.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Legacy.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.Placement.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.Placement.iOSAndroid.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPlacementMode.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTipPopupPanel.cs
Labels: platform/android, platform/macos, platform/ios

#10719 fix(reg): Adjust for XAML Trimming cross-runtime libraries built before Uno 4.6
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerHintGeneratorTask.cs
Labels: area/code-generation

#10733 refactor: Adjust sample categories
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DeferLoadStrategy/DeferLoadStrategyWithTemplateBinding.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/StyleTests/Style_Inline.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CalendarView/CalendarView_Theming.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DateTimePicker/DateTimePicker.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_Content_ThemeResource.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/FontTests/DynamicFont.xaml.cs
Labels: area/automation

#10736 test: Disable all flaky DoubleAnimation_Tests for android
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Opacity.cs
Labels: area/automation

#10728 fix(dotnetnew): Adjust Server template compilation conditionals
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/UnoQuickStart.Wasm.csproj
Labels: area/solution-templates, area/build

#10743 perf: WindowManager bindings
  src/Uno.Foundation.Runtime.WebAssembly/Interop/TSInteropMarshaller.AutoPtr.wasm.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/TSInteropMarshaller.StructPtr.wasm.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/TSInteropMarshaller.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#10744 fix(framebuffer): Restore 32 bits color format
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferDevice.cs
Labels: area/skia

#10753 docs: Remove Preview mentions for Azure deployment
  doc/articles/guides/azure-static-webapps.md
Labels: kind/documentation

#10751 docs: Adjust 2019 VSIX description for 2022 availability
  src/SolutionTemplate/UnoSolutionTemplate.VSIX.2019/source.extension.vsixmanifest
Labels: area/solution-templates

#10732 fix(ios): animation stopped when app resumes from background
  src/Uno.UI.Composition/Composition/CoreAnimation.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/GPUFloatValueAnimator.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UWP/UI/Core/VisibilityChangedEventArgs.cs
Labels: platform/macos, platform/ios

#10769 perf(WindowManager): Add SetStyleString bindings
  src/Uno.UI.Runtime.WebAssembly/Xaml/UIElementWasmExtensions.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UI/tsBindings/WindowManagerSetStyleStringParams.ts
Labels: platform/wasm

#10776 doc: Fix link from performance to profiling
  doc/articles/Uno-UI-Performance.md
Labels: kind/documentation

#10699 chore(deps): Update `NetAnalyzers` version
  src/Directory.Build.props
  src/Uno.UI/AssetsHelper.Android.cs
  src/Uno.UI/BindingAdapters/ButtonTextHtmlFormattedBindingAdapter.Android.cs
  src/Uno.UI/BindingAdapters/TextViewHtmlTextBindingAdapter.Android.cs
  src/Uno.UI/BindingAdapters/TextViewTextColorBindingAdapter.Android.cs
  src/Uno.UI/Controls/BindableDatePicker.Android.cs
  src/Uno.UI/Extensions/TimePickerExtensions.Android.cs
  src/Uno.UI/FrameworkElementOutlineProvider.Android.cs
  src/Uno.UI/LayoutProvider.Android.cs
  src/Uno.UI/UI/OnSystemUiVisibilityChangeListener.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Page/NativePage.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.Android.cs
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/Android/AndroidStockBlur.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UWP/ApplicationModel/Calls/PhoneCallManager.Android.cs
  src/Uno.UWP/ApplicationModel/Email/EmailManager.Android.cs
  src/Uno.UWP/ApplicationModel/Package.Android.cs
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/Midi/MidiDeviceClassProviderBase.Android.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.Android.cs
  src/Uno.UWP/Devices/Lights/Lamp.Android.cs
  src/Uno.UWP/Devices/Radios/Radio.Android.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Networking/Connectivity/ConnectionProfile.Android.cs
  src/Uno.UWP/Networking/Connectivity/NetworkInformation.Android.cs
  src/Uno.UWP/Phone/Devices/Notification/VibrationDevice.Android.cs
  src/Uno.UWP/Security/Authentication/Web/WebAuthenticationBrokerRedirectActivity.Android.cs
  src/Uno.UWP/Services/Maps/MapLocationFinder.Android.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.Android.cs
  src/Uno.UWP/System/Launcher.Android.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.Android.cs
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.Android.cs
Labels: platform/android

#10770 fix(perf): Disable generated source embedded for xamarin targets to avoid linker performance issue
  build/Uno.WinUI.nuspec
Labels: area/build

#10752 perf(trimming): Remove duplicate resource files
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/UWP/UnoQuickStart.Uwp.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UWP/UnoQuickStart.Uwp.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
Labels: area/solution-templates, area/code-generation, area/automation

#10771 fix(uap): Fix generators should not run under uap library builds
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/PlatformHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/ImplementedRoutedEventsGeneratorTests/Given_ImplementedRoutedEventsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/ImplementedRoutedEvents/ImplementedRoutedEventsGenerator.cs
Labels: area/code-generation

#10784 Misc template updates
  build/test-scripts/run-net7-template-linux.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/UnoWinUIQuickStart-vsmac.slnf
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/UnoWinUIQuickStart.sln
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/Android/Assets/Fonts/uno-fluentui-assets.ttf
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/Mobile.winui.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/UnoSolutionTemplate.WinUI.netcore.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/solution-templates, area/code-generation, area/build

#10807 fix(xamlreader): Process members on top-level resource dictionaries
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_ResourceDictionary_With_Theme_And_No_Static.xamltest
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_ResourceDictionary_With_Theme_And_Static.xamltest
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_ThemeResource_With_StaticResource.xamltest
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
Labels: area/automation

#10782 fix(dependencyobject): Clear binding on ClearValue
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_StaticResource_And_VisualState_Setter_ClearValue.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_StaticResource_And_VisualState_Setter_ClearValue.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_TemplateBinding_And_VisualState_Setter_ClearValue.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/When_TemplateBinding_And_VisualState_Setter_ClearValue.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
Labels: area/automation

#10802 perf: WindowManager bindings II
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#10837 fix: Remove unsupported TFMs from WinUI package
  build/Uno.WinUI.nuspec
Labels: area/build

#10845 chore(deps): Let dependabot handle Com.Airbnb.Android.Lottie
  .github/dependabot.yml
  doc/articles/contributing/guidelines/updating-dependencies.md
Labels: kind/documentation

#10727 fix: `ToolTip` not styled correctly
  doc/articles/feature-flags.md
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/ToolTip_rs1_themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/ToolTip_rs5_themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/ToolTip_themeresources.xaml
  src/Uno.UI.FluentTheme.v1/themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/ToolTip_rs1_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/ToolTip_rs5_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ToolTip.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTip.xaml
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
Labels: kind/documentation

#10848 build: Remove few `NoWarn`s
  src/SamplesApp/SamplesApp.UWP.Design/SamplesApp.UWP.Design.csproj
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.UWP/BlankApp.Uwp.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/UWP/UnoQuickStart.Uwp.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UWP/UnoQuickStart.Uwp.csproj
  src/SourceGenerators/System.Xaml/System.Xaml-net_4_x.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Tests.Performance/Uno.UI.Tests.Performance.csproj
  src/Uno.UI.Tests.ViewLibrary/Uno.UI.Tests.ViewLibrary.csproj
  src/Uno.UI.Tests.ViewLibraryProps/Uno.UI.Tests.ViewLibraryProps.csproj
  src/Uno.UI.Tests/BinderTests/Given_Binder.TargetNullValue.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.Propagation.cs
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Binding_Converter_DataTemplate.xaml.cs
  src/Uno.UWPSyncGenerator.Reference/Uno.UWPSyncGenerator.Reference.csproj
Labels: area/solution-templates, area/code-generation, area/automation

#10754 build: Simplify platforms MSBuild properties
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.csproj
  src/Directory.Build.props
  src/Directory.Build.targets
  src/PlatformItemGroups.props
  src/SourceGenerators/XamlGenerationTests.Core/XamlGenerationTests.Core.csproj
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/Uno.CrossTargetting.props
  src/Uno.Foundation/Uno.Foundation.csproj
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.csproj
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.csproj
  src/Uno.UI.FluentTheme/Uno.UI.FluentTheme.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.csproj
  src/Uno.UI/MixinGeneration.targets
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWP/Uno.csproj
  src/Uno.UWP/Uno.netcoremobile.csproj
Labels: platform/android, area/code-generation
