Repository unoplatform/uno, pull requests merged in 2022-11, with the labels that each got.

#10304 ci(android): disable flaky When_Transforms_Paused_With_FillBehaviorStop_Then_Hold
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Transforms.cs
Labels: area/automation

#10303 docs: Added OxyPlot to supported libraries.
  doc/articles/supported-libraries.md
Labels: kind/documentation

#10308 ci: Adjust disable When_Transforms_Paused_With_FillBehaviorStop_Then_Hold
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Transforms.cs
Labels: area/automation

#10307 perf: Specialized bindings
  src/Uno.UI.BindingHelper.Android/Uno/UI/BorderLayerRendererNative.java
  src/Uno.UI.BindingHelper.Android/Uno/UI/BrushNative.java
  src/Uno.UI.BindingHelper.Android/Uno/UI/UIElementNative.java
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/CornerRadius.Android.cs
  src/Uno.UI/UI/Xaml/Media/Brush.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: platform/android

#10325 docs: Update .NET installed version in azure static apps
  doc/articles/guides/azure-static-webapps.md
Labels: kind/documentation

#10310 fix(reg): Remove invalid removal of uno.ui files when building with WinAppSDK
  build/uno.winui.winappsdk.targets
Labels: area/build

#10317 build: Enable all perf analyzers
  .editorconfig
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Wasm/Program.cs
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/xamarinforms-wasm/UnoXFQuickStart.Wasm/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Server/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Gtk/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Linux.FrameBuffer/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Skia.Gtk/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Skia.Linux.FrameBuffer/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Wasm/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate/Skia.Gtk/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate/Skia.Linux.FrameBuffer/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate/Skia.Tizen/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/Program.cs
Labels: area/solution-templates

#10311 docs: Update migrating-from-previous-releases.md
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#10318 build: Enable CA1304 (Specify CultureInfo)
  .editorconfig
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/StringExtensions.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.KeyboardHelper.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
  src/Uno.UI/UI/Xaml/Controls/PersonPicture/InitialsGenerator.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/UnoWKWebView.iOSmacOS.cs
  src/Uno.UWPSyncGenerator/SyncGenerator.cs
Labels: platform/macos, platform/ios, area/build

#10292 docs: Adaptive Triggers
  doc/articles/features/AdaptiveTrigger.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#10336 Misc docs updates
  doc/articles/contributing/guidelines/creating-tests.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-wizard.md
  doc/articles/get-started.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/uno-development/creating-ui-tests.md
  doc/articles/use-uno-check-inline-linux-noheader .md
  doc/articles/use-uno-check-inline-macos-noheader.md
  doc/articles/use-uno-check-inline-windows-noheader.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#10321 fix: `SelectorItem` focus
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewItem_Click_Focus.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewItem_Click_Focus.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
Labels: area/automation, project/items

#10319 build: fix warning MSB4011 (props cannot be imported again. It was already imported)
  src/Directory.Build.props
  src/SourceGenerators/System.Xaml/Uno.Xaml.netcoremobile.csproj
  src/Uno.CrossTargetting.props
  src/netcore-build.props
  src/uno.mobile-cross-targeting-disable.props
Labels: area/code-generation

#10338 fix: `ContentDialog` does not receive focus
  src/Uno.UI.Runtime.Skia.Gtk/UI/Xaml/Controls/TextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/TextBoxViewExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/TextBox_Focus_Leak.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/TextBox_Focus_Leak.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentDialog.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialog.cs
Labels: area/skia

#10350 chore: Ensure TestLocalBuild using English
  build/TestLocalBuild.CMD
Labels: area/build

#10365 docs; Update hot reload for WinUI limitation
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#10363 build: Enable more CA rules
  .editorconfig
  build/nVentive-generic.ruleset
  build/uno-generic.ruleset
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Native.cs
Labels: area/build

#10376 fix(reg): don't dispose AssemblyDefinition on mono
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#10322 fix: `AutoSuggestBox` behavior improvements
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBoxChosenSuggestion.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBoxTestData.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Keyboard.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Keyboard.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/RepeaterTests.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
Labels: area/automation

#9614 fix: Adjust border and shape position and clipping
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Ellipse_StrokeThickness.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Rectangle_StrokeThickness.xaml
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
Labels: area/automation

#7231 Load Samples app Pages within Frame
  src/SamplesApp/SamplesApp.Shared/Samples/UnitTests/UnitTestsPage.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserContent.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleControlInfoAttribute.cs
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_Dimensions.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_DropDownPlacement.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Native_With_AppBarButton_With_Foreground.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/ClosedFigurePage.xaml.cs
Labels: area/automation

#10393 fix: don't reset runinfos on full builds as generations are no longer ignored
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfoManager.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
Labels: area/code-generation

#10379 fix: `Image.Source` nullify
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Source_Nullify.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Source_Nullify.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
Labels: area/skia, area/automation

#10392 test: Restore DependencyObjectGenerator tests
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
Labels: area/code-generation

#10423 chore: Use stable SourceGenerationTasks in nuspec
  build/Uno.WinUI.nuspec
Labels: area/build

#10383 feat: Add platform tags for Linux and Cloud on Uno templates
  src/SolutionTemplate/UnoLibraryTemplate.netcore/CrossTargetedLibrary.Netcore.vstemplate
  src/SolutionTemplate/UnoLibraryTemplate/CrossTargetedLibrary.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/UnoApp.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.netcore/UnoApp.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate/UnoApp.vstemplate
Labels: area/solution-templates

#10388 fix(reg): Adjust hot reload generation for C# 7.3
  build/test-scripts/run-template-tests.ps1
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation, area/build

#10427 perf: Cache textblock static native properties
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
Labels: platform/android

#10443 fix(metadata): restore metadata updates for net6 or greater
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/Uno.UI.SourceGenerators.Internal.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.netcoremobile.csproj
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.Foundation/Uno.Foundation.Skia.csproj
  src/Uno.Foundation/Uno.Foundation.Wasm.csproj
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Uno.UI.Adapter.Microsoft.Extensions.Logging.netcoremobile.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.Skia.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.Wasm.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.Skia.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.Wasm.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.Skia.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.Wasm.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.Skia.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.Wasm.csproj
  src/Uno.UI.FluentTheme/Uno.UI.FluentTheme.Skia.csproj
  src/Uno.UI.FluentTheme/Uno.UI.FluentTheme.Wasm.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Skia.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Wasm.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Skia.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Wasm.csproj
  src/Uno.UWP/System/MemoryManager.netcore.cs
  src/Uno.UWP/Uno.Skia.csproj
  src/Uno.UWP/Uno.Wasm.csproj
  src/global.json
Labels: platform/wasm, area/skia, area/code-generation

#10426 perf: Adjust IsLayoutRequested interop on arrange
  build/PackageDiffIgnore.xml
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoViewGroup.java
  src/Uno.UI/Controls/BindableView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
Labels: platform/android, area/build

#10455 feat: Support for `RectangleClip`, border perf on Skia
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/BorderTests/Border_Tests.cs
  src/Uno.UI.Composition/Composition/Compositor.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/RectangleClip.cs
  src/Uno.UI.Composition/Composition/RectangleClip.skia.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Windows.UI.Composition/Compositor.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Windows.UI.Composition/RectangleClip.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/CornerRadius.cs
  src/Uno.UI/UI/Xaml/CornerRadius.skia.cs
  src/Uno.UI/UI/Xaml/FullCornerRadius.cs
  src/Uno.UI/UI/Xaml/NonUniformCornerRadius.Android.cs
  src/Uno.UI/UI/Xaml/NonUniformCornerRadius.cs
  src/Uno.UI/UI/Xaml/NonUniformCornerRadius.skia.cs
Labels: platform/android, area/skia, area/automation

#10351 feat(gtk): Add support for .NET Native AOT
  doc/articles/features/using-skia-gtk.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
Labels: area/automation, kind/documentation

#10444 ci: Move nuget package and skia generation to linux containers
  .vsts-ci.yml
  build/ci/.azure-devops-package-reference.yml
  build/ci/.azure-devops-package-skia.yml
  build/ci/.azure-devops-package-wasm.yml
  build/ci/.azure-devops-package.yml
  build/ci/templates/copy-package-assets.yml
  build/ci/templates/linux-install-zip.yml
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
Labels: area/build, area/automation

#10465 fix(winappsdk): Ensure that only the ui.toolkit assemby is referenced
  build/Uno.WinUI.nuspec
  build/uno.winui.winappsdk.targets
Labels: area/build

#10428 perf: Reuse android java String instances in TextBlock
  src/Uno.Foundation/Metadata/ApiInformation.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_Launcher.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_MemoryManager.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/JavaStringCache.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UWP/System/MemoryManager.Android.cs
Labels: platform/android

#10450 ci: Adjust gitversion config
  build/ci/templates/gitversion.yml
  gitversion.yml
Labels: area/build

#10442 chore: Cleanup and simplify few csproj files
  build/Uno.UI.Build.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/Uno.Analyzers.Tests/Uno.Analyzers.Tests.csproj
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.Tests.Performance/Uno.UI.Tests.Performance.csproj
  src/Uno.UI.Tests.ViewLibrary/Uno.UI.Tests.ViewLibrary.csproj
  src/Uno.UI.Tests.ViewLibraryProps/Uno.UI.Tests.ViewLibraryProps.csproj
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
Labels: area/code-generation, area/build, area/automation

#10476 docs(dotnetnew): Adjust framework flags
  doc/articles/get-started-dotnet-new.md
Labels: kind/documentation

#10437 chore: Update winui template to use WinAppSDK 1.2.221109.1
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/WinUI/UnoQuickStart.Windows.csproj
Labels: area/solution-templates

#10480 Misc metadata updates changes
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Simple_Property_Update/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Simple_Property_Update/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Simple_Property_Update/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Simple_Property_Update/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_xName_Change/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_xName_Change/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_xName_Change/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_xName_Change/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_ThemeResource_Add/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_ThemeResource_Add/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_ThemeResource_Add/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_ThemeResource_Add/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdates/HotReloadWorkspaceProvider.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Uno.UI.SourceGenerators.netcore.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl/buildTransitive/Uno.UI.RemoteControl.targets
Labels: area/code-generation

#10490 Misc metadata updater support
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Empty/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Add/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Add/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Add/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Add/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update_Two_Params/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update_Two_Params/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update_Two_Params/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update_Two_Params/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Update_Two_Params/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Simple_Property/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Simple_Property_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xLoad/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ElementName_Add/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ElementName_Add/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ElementName_Add/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ElementName_Add/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ElementName_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Event_Add/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Event_Add/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Event_Add/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Event_Add/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Event_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_No_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Add/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Add/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Add/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Add/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Change_One/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Change_One/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Change_One/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Change_One/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Change_One/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Remove/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Remove/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Remove/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Remove/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_ResourceDictionary_Remove/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_Text_Change/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_xName_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_xName_Add_Twice/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Single_xName_Change/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_ThemeResource_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_xBind_Event_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Single_Code_File_With_Code_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Single_Code_File_With_No_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdates/HotReloadWorkspaceProvider.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Uno.UI.SourceGenerators.netcore.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI/UI/Xaml/Markup/ApplyExtensions.cs
Labels: area/code-generation

#10500 Misc remote control updates
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/Nullable.cs
  src/Uno.UI.RemoteControl.Host/RemoteControlExtensions.cs
  src/Uno.UI.RemoteControl.Host/RemoteControlServer.cs
  src/Uno.UI.RemoteControl.Host/ServiceLocatorAdapter.cs
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/MetadataUpdates/CompilationWorkspaceProvider.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.cs
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl.Server/Uno.UI.RemoteControl.Server.csproj
  src/Uno.UI.RemoteControl/Helpers/WebSocketHelper.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/HotReload/Messages/AssemblyDeltaReload.cs
  src/Uno.UI.RemoteControl/HotReload/Messages/FileReload.cs
  src/Uno.UI.RemoteControl/HotReload/Messages/XamlLoadError.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Skia.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Wasm.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
Labels: area/code-generation

#10499 fix(skia): support inline rendering for constrained measure size
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia

#10431 chore: fix TestLocalBuild error: MSB4044
  build/TestLocalBuild.CMD
  build/Uno.UI.Build.csproj
Labels: area/build

#6937 perf: ImplementedRoutedEvents evaluated at compile-time via a source generator
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/ImplementedRoutedEventsGeneratorTests/Given_ImplementedRoutedEventsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/ImplementedRoutedEvents/ImplementedRoutedEventsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
  src/Uno.UI.RuntimeTests/Tests/ImplementedRoutedEventArgsGeneratorTest/ImplementedRoutedEventArgsGeneratorTests.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElementGeneratedProxy.cs
Labels: area/code-generation

#10522 fix: Adjust name of web app manifest, include app icons as Content
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uwp-net6/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/template.json
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/UnoSolutionTemplate.WinUI.netcore.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/Wasm.winui.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/manifest.webmanifest
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/wwwroot/web.config
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/UnoSolutionWizard.cs
  src/SolutionTemplate/UnoSolutionTemplate.netcore/UnoSolutionTemplate.netcore.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Wasm/Wasm.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Wasm/manifest.webmanifest
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Wasm/wwwroot/web.config
Labels: area/solution-templates

#10527 fix(lottie): Lottie animation using ms-appx source fails to manually start
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.iOSmacOS.cs
Labels: platform/macos, platform/ios

#10526 fix(templates): Have MacCatalyst apps logs just like macOS apps do
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Shared/App.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Shared/App.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml.cs
Labels: area/solution-templates

#10481 feat(droid): Enable Text Selection on ReadOnly TextBox
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Overrides.Android.cs
Labels: platform/android, area/automation

#10538 fix: SDK linker fixes
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#10432 chore: Ensure that Uno.Samples.UITest.Generator build before all SamplesApp projects
  src/SamplesApp/Directory.Build.props
  src/SamplesApp/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests.Generator/Uno.Samples.UITest.Generator.csproj
  src/SamplesApp/SamplesApp.UnitTests.Shared/SamplesApp.UnitTests.targets
Labels: area/automation

#10523 feat: Warn when Window constructor is used in Uno Platform targets
  build/PackageDiffIgnore.xml
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/calendarview/CalendarViewIntegrationTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/NavigationView/NavigationViewTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Window.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_Window.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UI/UI/Xaml/Window.Desktop.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/Window.iOS.cs
  src/Uno.UI/UI/Xaml/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Window.skia.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/solution-templates, area/skia, area/build, area/automation

#10539 perf: Misc linker hints updates
  src/AddIns/Uno.UI.Lottie/AssemblyInfo.cs
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/DependencyObjectAvailabilityGenerator.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.FastConvert.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Automation/AutomationProperties.cs
  src/Uno.UI/UI/Xaml/FrameworkElementExtensions.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
  src/Uno.WinUIRevert/Program.cs
Labels: area/code-generation

#10546 fix: Uno Item Template improvements
  src/UnoItemTemplate/BlankPage.UWP/BlankPage.png
  src/UnoItemTemplate/BlankPage.UWP/BlankPage.uwp.vstemplate
  src/UnoItemTemplate/BlankPage.WinUI/BlankPage.png
  src/UnoItemTemplate/BlankPage.WinUI/BlankPage.svg
  src/UnoItemTemplate/BlankPage.WinUI/BlankPage.winui.vstemplate
  src/UnoItemTemplate/ContentDialog.UWP/ContentDialog.png
  src/UnoItemTemplate/ContentDialog.UWP/ContentDialog.uwp.vstemplate
  src/UnoItemTemplate/ContentDialog.WinUI/ContentDialog.png
  src/UnoItemTemplate/ContentDialog.WinUI/ContentDialog.svg
  src/UnoItemTemplate/ContentDialog.WinUI/ContentDialog.winui.vstemplate
  src/UnoItemTemplate/ResourceDictionary.Neutral/ResourceDictionary.neutral.vstemplate
  src/UnoItemTemplate/ResourceDictionary.Neutral/ResourceDictionary.png
  src/UnoItemTemplate/ResourceDictionary.Neutral/ResourceDictionary.svg
  src/UnoItemTemplate/ResourceDictionary.Neutral/ResourceDictionary.xaml
  src/UnoItemTemplate/ResourceDictionaryWithCodeBehind.UWP/ResourceDictionary.png
  src/UnoItemTemplate/ResourceDictionaryWithCodeBehind.UWP/ResourceDictionaryWithCodeBehind.uwp.vstemplate
  src/UnoItemTemplate/ResourceDictionaryWithCodeBehind.WinUI/ResourceDictionary.png
  src/UnoItemTemplate/ResourceDictionaryWithCodeBehind.WinUI/ResourceDictionaryWithCodeBehind.winui.vstemplate
  src/UnoItemTemplate/Resw.Neutral/Resources.resw
  src/UnoItemTemplate/Resw.Neutral/Resw.png
  src/UnoItemTemplate/Resw.Neutral/Resw.svg
  src/UnoItemTemplate/Resw.Neutral/Resw.vstemplate
  src/UnoItemTemplate/TemplatedControl.UWP/CustomControl.cs
  src/UnoItemTemplate/TemplatedControl.UWP/TemplatedControl.png
  src/UnoItemTemplate/TemplatedControl.UWP/TemplatedControl.uwp.vstemplate
  src/UnoItemTemplate/TemplatedControl.WinUI/CustomControl.cs
  src/UnoItemTemplate/TemplatedControl.WinUI/TemplatedControl.png
  src/UnoItemTemplate/TemplatedControl.WinUI/TemplatedControl.svg
  src/UnoItemTemplate/TemplatedControl.WinUI/TemplatedControl.winui.vstemplate
  src/UnoItemTemplate/UnoItemTemplate.csproj
  src/UnoItemTemplate/UserControl.UWP/UserControl.png
  src/UnoItemTemplate/UserControl.UWP/UserControl.uwp.vstemplate
  src/UnoItemTemplate/UserControl.WinUI/UserControl.png
  src/UnoItemTemplate/UserControl.WinUI/UserControl.svg
  src/UnoItemTemplate/UserControl.WinUI/UserControl.winui.vstemplate
Labels: area/solution-templates

#10548 fix(reg): Don't use C# 8.0 lambda parameter shadowing for xamarin projects
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#3087 feat: Android Calendar (AppointmentStore)
  src/SamplesApp/SamplesApp.Droid/Properties/AndroidManifest.xml
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Appointments/AppointmentStoreTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/Appointments/AppointmentStoreTests.xaml.cs
  src/Uno.UWP/ApplicationModel/Appointments/Appointment.cs
  src/Uno.UWP/ApplicationModel/Appointments/AppointmentManager.Android.cs
  src/Uno.UWP/ApplicationModel/Appointments/AppointmentOrganizer.cs
  src/Uno.UWP/ApplicationModel/Appointments/AppointmentProperties.cs
  src/Uno.UWP/ApplicationModel/Appointments/AppointmentStore.Android.cs
  src/Uno.UWP/ApplicationModel/Appointments/AppointmentStoreAccessType.cs
  src/Uno.UWP/ApplicationModel/Appointments/FindAppointmentsOptions.cs
  src/Uno.UWP/ApplicationModel/Appointments/IAppointmentParticipant.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Appointments/Appointment.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Appointments/AppointmentManager.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Appointments/AppointmentProperties.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Appointments/AppointmentStore.cs
  src/Uno.UWP/Uno.csproj
Labels: platform/android, area/automation

#10390 fix(droid): LV oscillating snapping
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.SnapPoints.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.SnapPoints.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
Labels: platform/android

#10466 docs: Adjust common issues for android aot failure
  doc/articles/get-started-wizard.md
Labels: kind/documentation

#10559 fix(reg): Adjust generation for missing x:Class
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#10567 refactor: Remove unneeded parameter
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
Labels: area/code-generation

#10569 feat: Annotate sensors
  src/Uno.Foundation/Extensions/LinkerAttributes.cs
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UWP/Devices/Sensors/Accelerometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/LightSensor.cs
  src/Uno.UWP/Devices/Sensors/LightSensor.wasm.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.wasm.cs
Labels: platform/wasm

#10570 fix(reg): adjust for C# preview support
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#10575 ci: Delete workaround for a fixed bug
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/templates/update-vs-components.yml
Labels: area/build

#10578 docs: Explain WASM-specific namespace usage
  doc/articles/features/working-with-cookies.md
Labels: kind/documentation

#10584 test: Remove `UIElementGeneratedProxy` stub from test
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/ImplementedRoutedEventsGeneratorTests/Given_ImplementedRoutedEventsGenerator.cs
Labels: area/code-generation

#10586 chore: Avoid using UWP naming while retargeting assets
  src/SourceGenerators/Uno.UI.Tasks/Assets/RetargetAssets.cs
Labels: area/code-generation

#10561 perf(wasm): Enable trimming for external drag and drop
  build/cSpell.json
  build/uno.winui.common.targets
  doc/articles/features/using-il-linker-webassembly.md
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/Uno.Foundation/Extensions/LinkerAttributes.cs
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UI/LinkerSubstitution.Wasm.xml
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UI/ts/Windows/ApplicationModel/DataTransfer/DragAndDropExtension.ts
Labels: platform/wasm, area/code-generation, area/build, kind/documentation

#10391 build: Delete dead build scripts
  build/TestLocalBuild.CMD
  build/TestLocalNugetPackage.cmd
Labels: area/build

#10585 test: Simplify generator tests
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Verifiers/CSGenerator.cs
Labels: area/code-generation

#10583 perf: Use records instead of record structs for large SG models
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/DependencyObject/DependencyPropertyGenerator.cs
Labels: area/code-generation

#10568 fix(resources): Use visual parent search for style setters and visual states
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/RepeaterTests.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_When_Setter_Override_From_Visual_Parent.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_When_Setter_Override_From_Visual_Parent.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_When_Setter_Override_State_From_Visual_Parent.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_When_Setter_Override_State_From_Visual_Parent.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_Setter_Override_From_Visual_Parent.xamltest
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_Setter_Override_State_From_Visual_Parent.xamltest
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/When_ThemeResource_Inherited_multiple.xamltest
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.net.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
Labels: area/automation

#10579 fix: Delayed `MenuFlyout` item with icon
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_Icons.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_Icons.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.cs
Labels: area/automation

#10593 fix(xamlreader): Support for geometry parsing
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
Labels: area/automation

#10608 feat: Preserve types conditionally
  doc/articles/uno-development/uno-internals-wasm.md
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/FocusVisual/SystemFocusVisual.wasm.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/Midi/MidiDeviceConnectionWatcher.wasm.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.wasm.cs
  src/Uno.UWP/Devices/Midi/MidiInPort.wasm.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/LightSensor.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.wasm.cs
  src/Uno.UWP/Gaming/Input/Gamepad.wasm.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.wasm.cs
  src/Uno.UWP/Networking/Connectivity/NetworkInformation.wasm.cs
  src/Uno.UWP/Storage/NativeStorageItem.wasm.cs
Labels: kind/enhancement, platform/wasm, area/performance, kind/documentation

#10589 build: Cleanup Common.targets
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Reference.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Skia.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.netcoremobile.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Reference.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Skia.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.netcoremobile.csproj
  src/Common.targets
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/DateTimePicker/DateTimePicker_Styles.xaml
  src/SolutionTemplate/UnoSolutionTemplate.VSIX.2019/UnoSolutionTemplate.VSIX.2019.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/UnoSolutionTemplate.WinUI.netcore.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2019/UnoSolutionTemplate.Wizard.2019.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/UnoSolutionTemplate.Wizard.2022.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/UnoSolutionTemplate.netcore.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UnoSolutionTemplate.csproj
  src/SourceGenerators/System.Xaml.Tests.MS/System.Xaml.Tests.MS.csproj
  src/SourceGenerators/System.Xaml.Tests/Uno.Xaml.Tests.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/SourceGenerators/XamlGenerationTests.Core/XamlGenerationTests.Core.csproj
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/Uno.Analyzers.Tests/Uno.Analyzers.Tests.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.Reference.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.Skia.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.Wasm.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.netcoremobile.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.Reference.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.Skia.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.Wasm.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.netcoremobile.csproj
  src/Uno.UI.Tests.Performance/Uno.UI.Tests.Performance.csproj
  src/Uno.UI.Tests.ViewLibrary/Uno.UI.Tests.ViewLibrary.csproj
  src/Uno.UI.Tests.ViewLibraryProps/Uno.UI.Tests.ViewLibraryProps.csproj
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Reference.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Skia.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Wasm.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.netcoremobile.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWPSyncGenerator.Reference/Uno.UWPSyncGenerator.Reference.csproj
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
Labels: area/solution-templates, area/code-generation, area/automation

#10619 fix(dp): Don't keep a strong reference to the last local value
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
Labels: area/automation
