Repository unoplatform/uno, pull requests merged in 2023-10, with the labels that each got.

#13874 fix(ListView): droid lv crash when scrolled
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.Android.cs
Labels: platform/android 🤖

#13866 fix: Improve ResourceKey lazy resolution
  build/cSpell.json
  doc/articles/migrating-from-previous-releases.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_TCO_MyAlias.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_TCO_MyBrush.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_TCO_MyButton.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_TCO_MyColorGreen.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_TCO_MyColorRed.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_Theme_Changing_Override.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_Theme_Changing_Override.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Data/ResourceUpdateReason.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/ResourceBindingCollection.cs
  src/Uno.UI/UI/Xaml/ResourceDictionary.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
  src/Uno.UI/UI/Xaml/ResourceResolverSingleton.cs
  src/Uno.UI/UI/Xaml/XamlScope.cs
Labels: area/build, area/automation, kind/documentation

#13864 perf: Implement NativeDispatcher
  build/PackageDiffIgnore.xml
  src/Uno.UI.Dispatching/Core/CoreDispatcher.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcher.macOS.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcher.reference.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcher.skia.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcher.unittests.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcher.wasm.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcherPriority.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcherSynchronizationContext.cs
  src/Uno.UI.Dispatching/Core/IdleDispatchedHandlerArgs.cs
  src/Uno.UI.Dispatching/LinkerDefinition.Wasm.xml
  src/Uno.UI.Dispatching/Native/NativeDispatcher.Android.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.iOSmacOS.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.reference.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.skia.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.unittests.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.wasm.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcherPriority.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcherSynchronizationContext.cs
  src/Uno.UI.Dispatching/Native/UIAsyncOperation.cs
  src/Uno.UI.RuntimeTests/Helpers/StyleHelper.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.KeyboardHelper.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/IdleSynchronizer.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/RunOnUIThread.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_FrameworkTemplate.cs
  src/Uno.UI/Controls/BindableImageView.Android.cs
  src/Uno.UI/Services/LayoutManager.Android.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/DispatcherConditionalDisposable.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropManager.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePool.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePoolDefaultPlatformProvider.cs
  src/Uno.UI/UI/Xaml/IFrameworkTemplatePoolPlatformProvider.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DiscreteFloatValueAnimator.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTarget.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.crossruntime.cs
  src/Uno.UI/UI/Xaml/XamlRoot.crossruntime.cs
  src/Uno.UI/ts/CoreDispatcher.ts
  src/Uno.UI/ts/MonoSupport.ts
  src/Uno.UI/ts/NativeDispatcher.ts
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.wasm.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
  src/Uno.UWP/Helpers/DeferralManager.cs
  src/Uno.UWP/System/DispatcherQueue.cs
  src/Uno.UWP/System/DispatcherQueueTimer.others.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.skia.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.unittests.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.wasm.cs
  src/Uno.UWP/UI/Core/CoreDispatcherSynchronizationContext.cs
  src/Uno.UWP/UI/Core/IdleDispatchedHandlerArgs.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/build, area/automation

#13769 feat: Add support for Compass on Wasm
  doc/articles/features/compass.md
  src/Uno.UWP/Devices/Sensors/Compass.cs
  src/Uno.UWP/Devices/Sensors/Compass.unsupported.cs
  src/Uno.UWP/Devices/Sensors/Compass.wasm.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Compass.cs
Labels: platform/wasm 🌐, kind/documentation

#13917 feat: Provide ability to disable type providers generation
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#13923 fix: Adjust generator for disabled metadata provider
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#13935 fix: Avoid using nested `View` class in `Given_Border`
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/BorderTests/Given_Border.cs
Labels: area/automation

#13928 chore: Delete `src/SamplesApp/SamplesApp.Droid` directory
  src/SamplesApp/SamplesApp.Droid/Resources/drawable-xhdpi/banner.png
  src/SamplesApp/SamplesApp.Droid/Resources/drawable/Icon.png
Labels: area/automation

#13914 fix: Implement `IUnoKeyboardInputSource` on `FrameBuffer`
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferInputProvider.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferKeyboardInputSource.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
Labels: area/skia ✏️

#13913 docs: Migrating `WpfHost` to 5.x
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#13910 Fix `DoubleTapped` not fired properly when a child subscribes to `Tapped`
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.InputHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.Tests/Windows_UI_Input/Given_GestureRecognizer.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Input/DoubleTappedRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Input/RightTappedRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Input/TappedRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Gesture.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.cs
  src/Uno.UWP/UI/Input/RightTappedEventArgs.cs
  src/Uno.UWP/UI/Input/TappedEventArgs.cs
Labels: area/automation

#13938 fix(pointers): Fix multi-press on Gtk
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
Labels: area/skia ✏️

#13897 refactor: Cleanup TSBindingsGenerator
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/TSBindings/TSBindingsGenerator.cs
Labels: area/code-generation

#13919 fix: Fix elevated view double border on Wasm
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_BorderThickness.xaml
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_BorderThickness.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Toolkit/ElevatedView.cs
Labels: area/automation

#13956 docs: Update solution-building-single-targetframework.md
  doc/articles/guides/solution-building-single-targetframework.md
Labels: kind/documentation

#13838 refactor: Remove ICustomClippingElement from Skia/Wasm
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI/Mock/Border.reference.cs
  src/Uno.UI/Mock/Border.unittests.cs
  src/Uno.UI/Mock/Panel.reference.cs
  src/Uno.UI/Mock/Panel.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/ContentControl/ContentControl.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.reference.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.skia.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/ICustomClippingElement.cs
Labels: platform/wasm 🌐, area/skia ✏️

#13953 docs: Update native-frame-nav-tutorial.md
  doc/articles/guides/native-frame-nav-tutorial.md
Labels: kind/documentation

#13839 fix: Match FrameworkElement.[Measure|Arrange]Override with Windows
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GtkMediaPlayer.cs
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/Controls/NativeFramePresenter.iOS.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/NativeMenuBarPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/AnimatedVisualPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/ElementStub.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
Labels: platform/wasm 🌐, platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#13931 fix: Fix shapes clipping on Android
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.legacy.cs
Labels: ready-to-merge

#13349 fix: `GridView` multiple selection checkboxes
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridView/GridViewMultipleSelectionMode.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/GridView/GridViewMultipleSelectionMode.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/GridView/GridViewItem.cs
  src/Uno.UI/UI/Xaml/Controls/ListView/ListViewItem.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: ready-to-merge, area/automation, project/styling 👔, area/listview 📃, project/items 🧾, difficulty/medium 🤔

#13970 fix: Adjust `x:Load` insertion on iOS/Catalyst considering manual CALayers
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xLoad_Order.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xLoad_Order.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI/UI/Xaml/ElementStub.iOSmacOS.cs
Labels: platform/macos 🍏, platform/ios 🍎

#13976 ci: Disable flaky tests
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/EventSequence_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/calendarview/CalendarViewIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
Labels: area/automation

#13979 fix(MessageDialog): Apply current application theming on Android
  src/Uno.UWP/UI/Popups/MessageDialog.Android.cs
  src/Uno.UWP/UI/Popups/MessageDialog.iOS.cs
Labels: platform/android 🤖, platform/ios 🍎

#13489 refactor: Cleanup easing functions on Android
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_DoubleAnimation.cs
  src/Uno.UI/UI/Xaml/Media/Animation/BackEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/BounceEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/CubicEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/EasingFunctionBase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/EasingFunctionHelpers.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ElasticEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/PowerEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/QuadraticEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/QuarticEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/QuinticEase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/SineEase.Android.cs
Labels: platform/android 🤖

#13959 fix(wpf): Fix CoreWindow.PointerCursor not working on WPF
  src/SamplesApp/UITests.Shared/Windows_UI_Core/SetCursor.xaml.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
  src/Uno.UWP/UI/Core/CoreWindow.Pointers.Managed.cs
Labels: area/skia ✏️, area/automation

#13960 fix: FilePickerSelectedFilesArray.Count shouldn't have a throwing setter #6885
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Storage/Pickers/FilePickerSelectedFilesArray.cs
Labels: area/build

#13958 fix: Enable FrameworkTemplatePool for Skia targets
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkTemplatePool.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePool.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#13993 fix: Avoid DPI scaling issues on GTK
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkDisplayInformationExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/Dpi/DpiHelper.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GLRenderSurfaceBase.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/SoftwareRenderSurface.cs
Labels: area/skia ✏️

#14000 Adjust DataTemplate reload
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_DataTemplate.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_DataTemplate.xaml
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_DataTemplate.xaml.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
Labels: area/code-generation

#13998 Dev/dr/dev server host version
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Host/Config/global-net7.0.json
  src/Uno.UI.RemoteControl.Host/Config/global-net8.0.json
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RemoteControl/buildTransitive/Uno.UI.DevServer.targets
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/MainPage.xaml.cs
Labels: area/code-generation

#13737 chore(CodeGenerated): Add access modifiers to field in XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_UserControl1_81d855d5b3bba02f594dcda3b149beb2.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTW/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TVBP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_Grid_Uses_Both_Syntaxes_794c1760299b374d12fe38ba3b633206.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_Grid_Uses_Common_Syntax_8659265dc2cabf0b5a684f0f4b26f8b7.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_Grid_Uses_New_Assigned_ContentProperty_Syntax_9f853e56098ff21d39f15479035509ef.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_Grid_Uses_New_Succinct_Syntax_cc38332c9fd4c0da9c1fa0270bbd3609.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#14018 fix(gtk): Adjust window bounds computation
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GLRenderSurfaceBase.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
Labels: area/skia ✏️

#13990 feat: Add a Uno-specific to access the native Window
  doc/articles/features/windows-ui-xaml-window.md
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindow.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/Window.skia.cs
  src/Uno.UI/UI/Xaml/WindowHelper.cs
Labels: platform/android 🤖, area/skia ✏️, kind/documentation

#13004 docs: Update migrating-from-previous-releases.md
  doc/articles/migrating-before-you-start.md
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#14038 fix: Adjust GTK to handle Windows fractional scaling in all cases
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GLRenderSurfaceBase.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.skia.cs
Labels: area/skia ✏️

#14014 feat: Adjust app-level updates
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/AppResources.xaml
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_AppDictionary.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_AppResources.xaml
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_AppResources.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_AppResources_Color.xaml
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_AppResources_Color.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_AppResources_DataTemplate.xaml
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_AppResources_DataTemplate.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/RemoteControlExtensions.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Given_HotReloadWorkspace.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/ProcessHelpers.cs
  src/Uno.UI/Helpers/TypeMappings.cs
  src/Uno.UI/UI/Xaml/ResourceDictionary.cs
Labels: area/code-generation

#14035 fix: Fix iOS CameraCapture crash when cancelling
  src/Uno.UWP/Media/Capture/CameraCaptureUI.iOS.cs
Labels: platform/ios 🍎

#14029 perf(XamlFileParser): extract static array for split characters
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation

#14046 fix: Adjust HR for wasm
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.PartialReload.cs
Labels: area/code-generation

#14042 fix: Adjust mobile hotreload
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.PartialReload.cs
Labels: area/code-generation

#14045 chore!: Disable fuzzy matching by default
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
Labels: area/code-generation

#14077 ♻️Fix FilePicker docs
  doc/articles/features/windows-storage-pickers.md
Labels: kind/documentation

#14076 fix(hr): Don't propagate RuntimeIdentifier so libraries can build using their natural targets
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/MetadataUpdates/CompilationWorkspaceProvider.cs
Labels: area/code-generation

#14078 fix(hr): Use type mapping for x:Bind inner bindings class
  build/nuget/uno.winui.runtime-replace.targets
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI/Helpers/TypeMappings.cs
Labels: area/code-generation, area/build

#14083 fix: Ensure the Uno WindowHost is always focused to capture keyboard events
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Skia.Wpf/App.xaml.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
Labels: area/skia ✏️, area/automation

#14011 feat: Add basic support for `TextBox.Paste` and `PasswordBox.Paste`
  doc/articles/controls/TextBox.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_PasteEvent.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_PasteEvent.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/MultilineTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/SinglelineTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkEntry.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkTextView.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/WpfTextBoxView.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/PasswordBox.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBox.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextControlPasteEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextControlPasteEventHandler.cs
  src/Uno.UI/UI/Xaml/Controls/PasswordBox/PasswordBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/MultilineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/IOverlayTextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/OverlayTextBoxViewExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextControlPasteEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextControlPasteEventHandler.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/automation, kind/documentation

#14105 fix: Restore XamlReader HR for mobile targets
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Agent.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Common.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.PartialReload.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/HotReload/HotReloadMode.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Windows.csproj
Labels: area/code-generation

#14107 fix(documentation): summary tag now default to display as list item
  doc/.gitignore
  doc/gulpfile.js
  doc/package-lock.json
  doc/package.json
  doc/templates/uno/main.scss
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/docfx.js.map
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.css.map
  doc/templates/uno/styles/main.js
  doc/templates/uno/styles/main.js.map
Labels: kind/documentation

#14130 fix: Fix hot-reload of nested resource dictionnaries
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWSRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWTRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI/UI/Xaml/XamlParseContext.cs
Labels: area/code-generation

#14122 fix: Use most recent available uno-runtime from packages
  build/Uno.UI.Build.csproj
  build/nuget/uno.winui.runtime-replace.targets
  src/SamplesApp/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/SamplesApp.Skia.Linux.FrameBuffer.csproj
  src/SamplesApp/SamplesApp.Skia.Wpf/SamplesApp.Skia.Wpf.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/RuntimeAssetsSelector/RuntimeAssetsSelectorTask.cs
Labels: area/code-generation, area/build, area/automation

#14139 fix!: Remove Windows.UI.Xaml.Controls.NavigationView from Uno.WinUI
  build/PackageDiffIgnore.xml
  doc/articles/migrating-from-previous-releases.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_NavigationView.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.Events.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.Members.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewHelper.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItem.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItem.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItemAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItemBase.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItemHeader.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItemInvokedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewItemPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewList.Uno.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewList.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewPaneClosingEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewSelectionChangedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationViewTemplateSettings.cs
  src/Uno.WinUIRevert/Program.cs
Labels: area/build, kind/documentation

#14146 Misc docs updates
  build/cSpell.json
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/migrating-from-previous-releases.md
Labels: area/build, kind/documentation

#14168 docs: update getting started with vscode
  doc/articles/Assets/quick-start/vs-code-explore-other-features.png
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#14173 fix: Take non-top-level xmlns into account when resolving `System.Type` properties
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Parser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNIONE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNIONE/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNIONE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlObjectDefinition.cs
Labels: area/code-generation

#14040 fix(xamlgen): Set attached property setter when its type is ResourceDictionary
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_ResourceDictionary.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TRDAAPSSTP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TRDAAPSSTP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TRDAAPSSTP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_ResourceDictionary_DP.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_ResourceDictionary_DP.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
Labels: area/code-generation

#14184 fix(hr): Avoid ENC0011 when modifying a const field during HR
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#14117 docs: Add help message for users migrating WpfHost from previous versions
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
Labels: area/skia ✏️

#14181 docs: Misc updates for HR
  doc/articles/features/using-skia-gtk.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-wizard.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/migrating-to-uno-5.md
  doc/articles/toc.yml
  doc/articles/uno-development/uno-internals-hotreload.md
  doc/articles/use-uno-check-inline-windows-noheader.md
Labels: area/build, kind/documentation

#14197 docs(figma): Update public docs for Preview 7
  doc/import_external_docs.ps1
Labels: kind/documentation

#14198 Misc docs updates
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#14207 docs: update themes and toolkit docs
  doc/import_external_docs.ps1
Labels: kind/documentation
