Repository unoplatform/uno, pull requests merged in 2023-09, with the labels that each got.

#13448 fix(iOS): SimpleOrientationSensor activation
  doc/articles/features/orientation-sensor.md
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.iOS.cs
Labels: platform/ios 🍎, kind/documentation

#13220 refactor: Cleanup shapes on Wasm
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/Rectangle.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/RectangleStretchFill.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/RectanglemaskingRectangleGrid.xaml
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Shapes/Ellipse.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Shapes/Line.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Shapes/Path.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Shapes/Polygon.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Shapes/Polyline.cs
  src/Uno.UI/Mock/ArbitraryShapeBase.reference.cs
  src/Uno.UI/Mock/ArbitraryShapeBase.unittests.cs
  src/Uno.UI/Mock/Shape.reference.cs
  src/Uno.UI/Mock/Shape.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Line.cs
  src/Uno.UI/UI/Xaml/Shapes/Line.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs
  src/Uno.UI/WasmCSS/Uno.UI.css
  src/Uno.UWPSyncGenerator/Generator.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/build, area/automation

#13485 fix: update Uno.Fonts.Fluent for informational icon
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
Labels: area/build

#13405 feat: Use `PopupRoot` everywhere
  build/PackageDiffIgnore.xml
  src/Uno.UI/Mock/Popup.reference.cs
  src/Uno.UI/Mock/Popup.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Legacy.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.Placement.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.Placement.iOSAndroid.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/build

#13493 docs: Adjust localization for default language
  doc/articles/guides/localization.md
Labels: kind/documentation

#13358 feat: Add `Compass` sensor support on Android and iOS
  doc/articles/features/compass.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/CompassTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/CompassTests.xaml.cs
  src/Uno.UWP/Devices/Sensors/Compass.Android.cs
  src/Uno.UWP/Devices/Sensors/Compass.cs
  src/Uno.UWP/Devices/Sensors/Compass.iOS.cs
  src/Uno.UWP/Devices/Sensors/Compass.unsupported.cs
  src/Uno.UWP/Devices/Sensors/CompassReading.cs
  src/Uno.UWP/Devices/Sensors/CompassReadingChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Compass.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/CompassReading.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/CompassReadingChangedEventArgs.cs
Labels: platform/android 🤖, platform/ios 🍎, area/automation, kind/documentation

#13140 feat: Add support for Package `Description` and `PublisherDisplayName` on Gtk
  src/SamplesApp/SamplesApp.Shared/App.Assertions.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Shared/Strings/en-US/Resources.resw
  src/SamplesApp/SamplesApp.Shared/Strings/en/Resources.resw
  src/SamplesApp/SamplesApp.Shared/Strings/es-ES/Resources.resw
  src/SamplesApp/SamplesApp.Shared/Strings/es-MX/Resources.resw
  src/SamplesApp/SamplesApp.Shared/Strings/fr-CA/Resources.resw
  src/SamplesApp/SamplesApp.Shared/Strings/fr/Resources.resw
  src/SamplesApp/SamplesApp.Shared/Strings/sr/Resources.resw
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/Uno.UWP/ApplicationModel/Package.Other.cs
  src/Uno.UWP/ApplicationModel/Package.cs
  src/Uno.UWP/ApplicationModel/Package.skia.cs
Labels: area/skia ✏️, area/automation

#13515 docs: Update docs heads
  doc/import_external_docs.ps1
Labels: kind/documentation

#13516 docs: iOS keychain deploy tip
  build/cSpell.json
  doc/articles/get-started-vscode.md
Labels: area/build, kind/documentation

#13536 docs: Revert #12816 and #12867
  doc/templates/uno/component/navbar.js
  doc/templates/uno/component/navbar.scss
  doc/templates/uno/main.js
  doc/templates/uno/render.js
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.js
Labels: kind/documentation

#13521 fix(winappsdk): Adjust 1.4 detection
  build/PackageDiffIgnore.xml
  build/nuget/uno.winui.props
  build/nuget/uno.winui.single-project.targets
  build/nuget/uno.winui.targets
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation, area/build

#13481 fix: Fix binding property path for expressions with parentheses and casts
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xBind_With_Cast.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xBind_With_Cast.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xBind.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
Labels: area/code-generation

#13529 fix: Keyboard events should not throw on Uno islands
  src/Uno.UI/UI/Xaml/Internal/InputManager.Keyboard.skia.cs
Labels: area/skia ✏️

#13528 docs: Adjust vscode debugging steps
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#13391 fix: Align the core measure logic more with Windows
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Nested_Sequence_Tests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Control.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Margin.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.legacy.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/automation

#13573 docs: Updated extensions docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#13577 Revert "fix: Align the core measure logic more with Windows"
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Nested_Sequence_Tests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Control.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Margin.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.legacy.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/automation

#13563 fix: ListViewItem style glyph similar as in CheckBox
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/RotatedListView_WithRotatedItems.xaml
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout_rs5_themeresources.xaml
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/automation

#13527 fix(TextBox): Avoid NRE on Android on virtual keyboard enter
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
Labels: platform/android 🤖

#13524 feat(skia): Support RTL FlowDirection
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml.cs
  src/Uno.CrossTargetting.targets
  src/Uno.UI.FluentTheme.v1/themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI.RuntimeTests/Helpers/ImageAssert.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FlowDirection.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/FrameworkElement.cs
  src/Uno.UI/Media/NativeRenderTransformAdapter.cs
  src/Uno.UI/Media/NativeRenderTransformAdapter.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/OverlayTextBoxViewExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/IBlock.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️, area/automation

#13593 Revert "Revert "fix: Align the core measure logic more with Windows""
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Nested_Sequence_Tests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_CompositionClip.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Control.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Margin.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.xaml
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.legacy.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
  src/Uno.UI/UI/Xaml/UIElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/automation

#13606 fix: Mark generated files for incremental build support
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#13328 fix(panel)!: <Measure|Arrange>Override shouldn't measure/arrange children
  doc/articles/migrating-from-previous-releases.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/BaseLayoutOverrideCallingPanel.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/BaseLayoutOverrideCallingPanel.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Panel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/VirtualizingPanel.cs
Labels: kind/documentation

#13607 fix(resw): Log invalid resw language as warnings
  doc/articles/uno-build-error-codes.md
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
Labels: area/code-generation, kind/documentation

#13597 feat(GTK Window): Extend into Title Bar
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindow.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplicationViewTitleBar.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplicationViewTitleBar.skia.cs
Labels: area/skia ✏️

#13614 docs: Adjusting layout to group migration topics
  doc/articles/guides/xf-migration/third-party-controls.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#13624 docs: Update Uno.Extensions docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#13581 fix(assets): Adjust upri handling
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
Labels: area/code-generation

#13637 docs: Update Uno.Themes and Uno.Toolkit docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#13609 fix: Rename RC to DevServer
  build/Uno.UI.Build.csproj
  build/nuget/Uno.WinUI.DevServer.Messaging.nuspec
  build/nuget/Uno.WinUI.DevServer.nuspec
  build/nuget/Uno.WinUI.RemoteControl.nuspec
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/UnoQuickStart.Mobile.csproj
  src/Uno.UI.RemoteControl/buildTransitive/Uno.UI.DevServer.targets
Labels: area/solution-templates, area/build

#13259 perf: Avoid re-creating Android Paint instances
  build/PackageDiffIgnore.xml
  src/Uno.UI.BindingHelper.Android/Uno/UI/BorderLayerRendererNative.java
  src/Uno.UI.BindingHelper.Android/Uno/UI/BrushNative.java
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_RevealBrush.cs
  src/Uno.UI/Microsoft/UI/Xaml/Media/RadialGradientBrush.Android.cs
  src/Uno.UI/Microsoft/UI/Xaml/Media/RevealBrush.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/Android/AcrylicBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/Brush.Android.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/RevealBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/XamlCompositionBrushBase.Android.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.Android.cs
Labels: platform/android 🤖, area/build

#13649 fix: load XamlRoot RootElement in UnoIslands
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.Layout.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UI/UI/Xaml/Hosting/DesktopWindowXamlSource.cs
  src/Uno.UI/UI/Xaml/Internal/Islands/XamlIsland.cs
Labels: area/skia ✏️

#13654 Misc fixes for DevServer and HR tests
  .github/ISSUE_TEMPLATE/bug-report.yml
  build/Uno.UI.Build.csproj
  doc/articles/features/working-with-codespaces.md
  doc/articles/get-started-wizard.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
  doc/articles/guides/uno-islands.md
  doc/articles/howto-consume-webservices.md
  doc/articles/updating-to-winui3.md
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/UnoQuickStart.Mobile.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Gtk/UnoQuickStart.Skia.Gtk.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Linux.FrameBuffer/UnoQuickStart.Skia.Linux.FrameBuffer.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.WPF/UnoQuickStart.Skia.WPF.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/UnoQuickStart.Wasm.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Messaging/Uno.UI.RemoteControl.Messaging.csproj
  src/Uno.UI.RemoteControl.Server/Uno.UI.RemoteControl.Server.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Skia.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Wasm.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.RemoteControl/buildTransitive/Uno.UI.DevServer.targets
  src/Uno.UI.RuntimeTests/Directory.Build.props
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Uno.UI.RuntimeTests.HRApp.Skia.Gtk.csproj
Labels: area/solution-templates, area/code-generation, area/build, kind/documentation

#13658 ci: Enable ios test flight build, android
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-ios-tests.yml
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.netcoremobile/Android/AndroidManifest.xml
  src/SamplesApp/SamplesApp.netcoremobile/MacCatalyst/Entitlements.plist
  src/SamplesApp/SamplesApp.netcoremobile/MacCatalyst/Info.plist
  src/SamplesApp/SamplesApp.netcoremobile/MacOS/Entitlements.plist
  src/SamplesApp/SamplesApp.netcoremobile/MacOS/Info.plist
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Entitlements.plist
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Info.plist
Labels: area/automation

#13668 ci: Adjust samplesapp deploy
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Shared/Icons/appconfig.svg
  src/SamplesApp/SamplesApp.Shared/Icons/iconapp.svg
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/SamplesApp.Shared/Splash/splash_screen.svg
  src/SamplesApp/SamplesApp.netcoremobile/MacCatalyst/Media.xcassets/LaunchImages.launchimage/Contents.json
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Info.plist
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Media.xcassets/LaunchImages.launchimage/Contents.json
Labels: area/automation

#13507 feat(itemspresenter): add support for footer and header, as well as irregular snap points
  build/PackageDiffIgnore.xml
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/Uno.UI.RuntimeTests/Helpers/NumberAssert.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ItemsPresenter.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.Measure.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ItemsPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.iOSAndroid.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBaseAdapter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanel.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanel.SnapPoints.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/build, area/automation

#13655 feat: [iOS] Add mp4 video capture in CameraCaptureUI
  src/SamplesApp/UITests.Shared/Windows_Media/CameraCaptureUISample.xaml
  src/SamplesApp/UITests.Shared/Windows_Media/CameraCaptureUISample.xaml.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Capture/CameraCaptureUIVideoCaptureSettings.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUI.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUI.iOS.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUIVideoCaptureSettings.cs
Labels: platform/ios 🍎, area/automation

#13663 chore: Cleanup unneeded IsNetCore on Wasm
  src/Uno.Foundation.Runtime.WebAssembly/Interop/PlatformHelper.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/WebAssembly.Runtime.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDescriptor.cs
  src/Uno.UI/UI/Xaml/HtmlElementHelper.wasm.cs
Labels: platform/wasm 🌐

#13278 Use MSBuild props to set app title, version & id
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/Android/AndroidManifest.xml
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/MacCatalyst/Info.plist
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/UnoQuickStart.Mobile.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/iOS/Info.plist
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/macOS/Info.plist
Labels: area/solution-templates

#13679 fix: Adjust descriptions for Catalyst/iOS apps
  src/SamplesApp/SamplesApp.netcoremobile/MacCatalyst/Info.plist
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Info.plist
Labels: area/automation

#13681 feat: remove unyson in docs navbar
  doc/templates/uno/component/navbar.scss
  doc/templates/uno/main.js
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.js
Labels: kind/documentation

#13656 feat: Support for `SetVirtualHostNameToFolderMapping`
  doc/articles/controls/WebView.md
  src/SamplesApp/LinkedFiles/WebContent/css/site.css
  src/SamplesApp/LinkedFiles/WebContent/index.html
  src/SamplesApp/LinkedFiles/WebContent/js/site.js
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_Folder.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_Folder.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Web.WebView2.Core/CoreWebView2.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Web.WebView2.Core/CoreWebView2HostResourceAccessKind.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2HostResourceAccessKind.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/NativeWebViewWrapper.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/automation, kind/documentation

#13664 fix(android): Invalidate measure when removing a managed view
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI/Controls/BindableView.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: platform/android 🤖

#13644 Fix example quote escaping in wasm-javascript-1.md
  doc/articles/interop/wasm-javascript-1.md
Labels: kind/documentation

#13693 docs: Remove missing doc
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#13700 fix(net8): Adjust WinUI property detection
  build/nuget/uno.winui.props
  build/nuget/uno.winui.targets
Labels: area/build

#13592 fix(iOS): Window null pointer exception
  src/Uno.UI/Controls/Window.iOS.cs
Labels: platform/ios 🍎

#13702 ci: Adjust for testflight compliance
  src/SamplesApp/SamplesApp.netcoremobile/MacCatalyst/Info.plist
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Info.plist
Labels: area/automation

#13718 fix(AppData): [Android] Don't reuse ISharedPreferences instance
  src/Uno.UWP/Storage/ApplicationDataContainer.Android.cs
Labels: platform/android 🤖

#13723 fix: add GrantWriteUriPermission to file save picker
  src/Uno.UWP/Storage/Pickers/FileSavePicker.Android.cs
Labels: platform/android 🤖

#13721 chore: add NativeWindowWrapper for wasm
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Window.wasm.cs
Labels: platform/wasm 🌐

#13735 refactor: Adjust iOS windowing for new infrastructure
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/WindowTests/Window_SetBackground.xaml.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/Controls/Window.iOS.cs
  src/Uno.UI/Extensions/ViewHelper.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Internal/ContentManager/ContentManager.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.macOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.others.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.others.cs
  src/Uno.UI/UI/Xaml/Window/Window.iOS.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.iOS.cs
Labels: platform/macos 🍏, platform/ios 🍎, area/automation

#13746 chore: Remove unused `_thicknessCache`
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
Labels: area/skia ✏️

#13747 perf: Remove unused InvalidateMeasureCallCount (saves 4 bytes per FrameworkElement instance)
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
Labels: area/skia ✏️

#13690 fix!: Change FramebufferHost namespace
  build/PackageDiffIgnore.xml
  doc/articles/migrating-from-previous-releases.md
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Linux.FrameBuffer/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Skia.Linux.FrameBuffer/Program.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
Labels: area/solution-templates, area/skia ✏️, area/build, area/automation, kind/documentation

#13687 fix(listview): Adjust scrollbar height to avoid duplicating the header size
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewScrollBar.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListViewScrollbar.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
Labels: platform/android 🤖, area/automation

#13634 fix(flyout): focus flyout child on open
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ContentDialog/UnoSamples_Tests.ContentDialog.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Base.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
Labels: area/automation

#13588 perf: Dispose native sensors
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Devices/Sensors/Accelerometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.others.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerReading.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerReadingChangedEvenArgs.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerReadingType.cs
  src/Uno.UWP/Devices/Sensors/AccelerometerShakenEventArgs.cs
  src/Uno.UWP/Devices/Sensors/Barometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Barometer.cs
  src/Uno.UWP/Devices/Sensors/Barometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Barometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/BarometerReading.cs
  src/Uno.UWP/Devices/Sensors/BarometerReadingChangedEventArgs.cs
  src/Uno.UWP/Devices/Sensors/Compass.Android.cs
  src/Uno.UWP/Devices/Sensors/Compass.cs
  src/Uno.UWP/Devices/Sensors/Compass.iOS.cs
  src/Uno.UWP/Devices/Sensors/Compass.unsupported.cs
  src/Uno.UWP/Devices/Sensors/CompassReading.cs
  src/Uno.UWP/Devices/Sensors/CompassReadingChangedEventArgs.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.skia.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/GyrometerReading.cs
  src/Uno.UWP/Devices/Sensors/GyrometerReadingChangedEventArgs.cs
  src/Uno.UWP/Devices/Sensors/HingeAngleReading.cs
  src/Uno.UWP/Devices/Sensors/HingeAngleSensor.Android.cs
  src/Uno.UWP/Devices/Sensors/HingeAngleSensor.unsupported.cs
  src/Uno.UWP/Devices/Sensors/HingeAngleSensorReadingChangedEventArgs.cs
  src/Uno.UWP/Devices/Sensors/LightSensor.Android.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.skia.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/MagnetometerAccuracy.cs
  src/Uno.UWP/Devices/Sensors/MagnetometerReading.cs
  src/Uno.UWP/Devices/Sensors/MagnetometerReadingChangedEventArgs.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/PedometerReading.cs
  src/Uno.UWP/Devices/Sensors/PedometerReadingChangedEventArgs.cs
  src/Uno.UWP/Devices/Sensors/PedometerStepKind.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Accelerometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Barometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Compass.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Gyrometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/HingeAngleSensor.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Magnetometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Pedometer.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/build

#13739 feat: add feat flag to disable droid measure cache
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Grid.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.Android.cs
Labels: platform/android 🤖

#13662 Misc cleanup
  src/AddIns/Uno.UI.Lottie/PropertyBindingsParser.cs
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Tests.csproj
  src/Directory.Build.props
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/Uno.CrossTargetting.targets
  src/Uno.Foundation.Runtime.WebAssembly/Helpers/StringExtensions.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions.Compatibility/Reflection/AssemblyExtensions.cs
  src/Uno.UI.FluentTheme/Uno.UI.FluentTheme.Tests.csproj
  src/Uno.UI/Helpers/WinUI/StringUtil.cs
  src/Uno.UI/Helpers/XamlHelper.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBoxParser.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.wasm.cs
  src/Uno.UWP/Globalization/ApplicationLanguages.cs
  src/Uno.UWP/Storage/Helpers/AssetsManager.wasm.cs
Labels: platform/wasm 🌐, area/code-generation, ready-to-merge

#13682 fix: Fix corner radius handling on Wasm
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_BorderThickness.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm 🌐, area/automation

#13785 build: Fix TFMs in Uno.WinUI.XamlHost.Skia.Wpf.nuspec
  build/nuget/Uno.WinUI.XamlHost.Skia.Wpf.nuspec
Labels: area/build

#13790 build: Avoid building some unit test projects in reference build
  build/filters/Uno.UI-packages-reference.slnf
Labels: area/build

#13456 fix(scrollviewer): fix scrollability and offset calculations
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Content_Smaller_Than_Viewport.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_Content_Smaller_Than_Viewport.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
Labels: area/automation

#13781 chore: Misc build cleanup
  build/gitpod/build-wasm.sh
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Reference.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Skia.csproj
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Skia.Wpf/SamplesApp.Skia.Wpf.csproj
  src/SamplesApp/UnoIslands.Skia.Wpf/UnoIslands.Skia.Wpf.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.csproj
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.csproj
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Uno.UI.Adapter.Microsoft.Extensions.Logging.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.netcoremobile.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.XamlHost.Skia.Wpf/Uno.UI.XamlHost.Skia.Wpf.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.Skia.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.Wasm.csproj
Labels: area/skia ✏️, area/code-generation, area/build, area/automation

#13745 feat: Filters are passed from sample app to hot reload test app
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestMethodInfo.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/Helpers/FiltersAttribute.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/MainPage.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_Frame.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Given_HotReloadWorkspace.cs
Labels: area/automation

#13643 fix(iOS): ListViewItem detaching from its Parent
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DataContext_Reference.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DataContext_Reference.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
Labels: platform/ios 🍎, area/automation

#13817 ci: Avoid building unnecessary projects for generating packages
  build/Uno.UI.Build.csproj
  build/filters/Uno.UI-packages-netcoremobile.slnf
  build/filters/Uno.UI-packages-skia.slnf
  build/filters/Uno.UI-packages-wasm.slnf
Labels: area/build

#13797 ci: Adjust ios uitests artifacts for faster CI
  build/ci/.azure-devops-ios-tests-run.yml
  build/test-scripts/ios-uitest-run.sh
Labels: area/build

#13695 fix: Adjust clipping logic to be closer to Windows
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/BorderVersusPanelClipping.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/BorderVersusPanelClipping.xaml.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Canvas_Measurement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Grid.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: area/skia ✏️, area/automation

#13814 fix(resources): Incorrect resource resolution for multiple identical source dictionaries
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_Named_ResourceDictionary_Override.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_Named_ResourceDictionary_Override.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_Named_ResourceDictionary_Override_Green.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_Named_ResourceDictionary_Override_MyBrush.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Controls/ThemeResource_Named_ResourceDictionary_Override_Red.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
  src/Uno.UI/UI/Xaml/ResourceDictionary.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
Labels: area/automation

#13788 fix: Correctly generate nested merged dictionaries
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Grid.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_MvvmGeneratedMembers.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_ResourceDictionary.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_UserControl1_81d855d5b3bba02f594dcda3b149beb2.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMD/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWSRD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWSRD/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWSRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWTRD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWTRD/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWTRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTW/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TVBP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_Grid_Uses_Both_Syntaxes_794c1760299b374d12fe38ba3b633206.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_Grid_Uses_Common_Syntax_8659265dc2cabf0b5a684f0f4b26f8b7.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_Grid_Uses_New_Assigned_ContentProperty_Syntax_9f853e56098ff21d39f15479035509ef.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_Grid_Uses_New_Succinct_Syntax_cc38332c9fd4c0da9c1fa0270bbd3609.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI/Helpers/MarkupHelper.cs
Labels: area/code-generation

#13692 fix: Fix SwipeContentStackPanel orientation not set properly on Wasm/Skia
  build/PackageDiffIgnore.xml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SwipeControl/SwipeControl.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanelExtensions.cs
Labels: area/build

#13843 chore: Cleanup Uno.SourceGenerator-specific properties that are no longer relevant
  build/nuget/uno.winui.common.targets
  src/SamplesApp/Directory.Build.props
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/Uno.UI.Composition/Uno.UI.Composition.netcoremobile.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.netcoremobile.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.netcoremobile.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UWP/Uno.netcoremobile.csproj
Labels: area/code-generation, area/build, area/automation

#13854 fix: Adjust compatibility for RemoteControl package
  build/nuget/Uno.WinUI.RemoteControl.nuspec
Labels: area/build

#13803 feat: Add ability to pause and resume hot reload
  doc/articles/uno-development/uno-internals-hotreload.md
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/MetadataUpdater/ElementUpdaterAgent.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/BaseTestClass.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_Frame.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/RemoteControlExtensions.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/TestingUpdateHandler.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/UIElementExtensions.cs
  src/Uno.UI/Helpers/ElementMetadataUpdateHandlerAttribute.cs
  src/Uno.UI/Helpers/TypeMappingHelper.cs
  src/Uno.UI/Helpers/TypeMappings.cs
Labels: kind/documentation

#13809 docs: adjust Q&A discussion template, repro sample docs
  .github/DISCUSSION_TEMPLATE/q-a.yml
  build/cSpell.json
  doc/articles/toc.yml
  doc/articles/uno-howto-create-a-repro.md
Labels: area/build, kind/documentation

#13630 fix(flyout): dismiss all flyouts on window focus lost and SizeChanged
  src/SamplesApp/SamplesApp.Shared/App.Assertions.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI/UI/Xaml/Controls/Button/Button.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
Labels: platform/wasm 🌐, area/automation

#13869 fix(wasm): Don't convert content to uno assets for hosted server projects
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
Labels: area/code-generation

#13861 Support for partial hot reload on mobile targets
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/NativeCtor/NativeCtorsGenerator.cs
  src/Uno.CrossTargetting.targets
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.Messaging/Uno.UI.RemoteControl.Messaging.csproj
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.cs
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.PartialReload.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/HotReload/MetadataUpdater/HotReloadAgent.cs
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
Labels: area/code-generation, area/automation
