Repository unoplatform/uno, pull requests merged in 2023-08, with the labels that each got.

#13073 fix: Ensure Android apps can launch for debugging
  doc/articles/features/android-tv.md
  src/SamplesApp/SamplesApp.netcoremobile/Android/MainActivity.Android.cs
Labels: platform/android, area/automation, kind/documentation

#13080 chore: Trace information was being logged as an error
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
Labels: ready-to-merge

#13070 fix: Fix rendering of RenderTargetBitmap
  src/Uno.UI.Composition/Composition/SkiaCompositionSurface.skia.cs
  src/Uno.UI.Composition/Composition/SkiaExtensions.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.Android.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
Labels: platform/android, area/skia, ready-to-merge

#13060 chore: enable When_RepeatDuration on skia
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_ObjectAnimationUsingKeyFrames.cs
Labels: ready-to-merge

#13082 test: Enable DoubleAnimation_Tests
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Opacity.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/DoubleAnimation_Tests.FinalState_Transforms.cs
Labels: area/automation

#13091 fix: Align Duration behavior with WinUI
  src/Uno.UI.Tests/Animations/Given_Duration.cs
  src/Uno.UI/UI/Xaml/Duration.cs
Labels: area/automation

#12910 feat(MediaTransportConstrols): import Dropout and Expand
  src/SamplesApp/UITests.Shared/Windows_Media/MediaPlayerTests.xaml
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/MediaTransportControlsHelper.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControlsHelper.cs
Labels: area/automation

#13002 fix: Fix TemplateBinding not working with attached DPs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/TabView_v1.xaml
  src/Uno.UI.FluentTheme.v1/themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/TabView.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FlipView.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Controls/Binding_TemplateBinding_AttachedDP.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Controls/Binding_TemplateBinding_AttachedDP.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Given_Binding.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabViewListView.Uno.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView_v1.xaml
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
Labels: area/code-generation, area/automation

#13093 chore: enable When_Reorder_To_Last_2 on WASM
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/DragAndDropTests/DragDrop_ListViewReorder_Automated.cs
Labels: area/automation

#13107 perf: Save 59,638 bytes of strings (550 string) on SamplesApp startup
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia

#13102 perf: Faster ImmutableList.Add
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions.Compatibility/Collections/ImmutableList.cs
Labels: ready-to-merge

#13104 perf(skia): Reduce UIElement size and avoid unused property changed registration
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia

#12990 Fix Tapped being called twice when an element with a GestureRecognizer is nested inside another
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Button_Inside_Border.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Button_Inside_Border.xaml.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Gesture.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.cs
Labels: area/automation

#12936 feat: Add support for localized Title
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/Uno.UWP/ApplicationModel/Package.Other.cs
Labels: area/automation

#13098 fix: Fix memory manager not being used properly on Skia
  src/Uno.UWP/System/MemoryManager.Android.cs
  src/Uno.UWP/System/MemoryManager.cs
  src/Uno.UWP/System/MemoryManager.skia.cs
  src/Uno.UWP/System/MemoryManager.wasm.cs
Labels: platform/wasm, platform/android, area/skia

#13119 fix: Ensure `Window` size is initialized for Android
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm, platform/android, area/automation

#13154 fix: Ensure common transitions do not cause startup errors
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/Uno.Foundation/Metadata/ApiInformation.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/AddDeleteThemeTransition.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/ContentThemeTransition.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/ReorderThemeTransition.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/VisualTransition.cs
  src/Uno.UI/Mock/ScrollViewer.reference.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/AddDeleteThemeTransition.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ContentThemeTransition.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ReorderThemeTransition.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/VisualTransition.cs
Labels: platform/wasm, area/automation

#13126 fix: Fix x:Bind not considering inherited methods for events
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Given_Binding.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#13155 fix(ios): an instance of ListView crash during layout
  src/Uno.UI/Extensions/EnumerableExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: platform/ios

#12724 [Gallery][Wasm/Skia] MediaPlayerElement sample using a playlist not working
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GtkMediaPlayer.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GtkMediaPlayer.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.events.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/HtmlMediaPlayer.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/WasmScripts/uno.ui.media.js
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/ts/MediaElement.ts
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Playlist.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Playlist.xaml.cs
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlaybackItem.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlaybackList.cs
  src/Uno.UWP/Media/Playback/IMediaPlaybackList.cs
  src/Uno.UWP/Media/Playback/IMediaPlayerExtension.cs
  src/Uno.UWP/Media/Playback/MediaPlaybackItem.cs
  src/Uno.UWP/Media/Playback/MediaPlaybackList.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.others.cs
Labels: area/automation

#13092 fix(iOS): add iOS16 new APIs for screen roration
  src/Uno.UWP/Graphics/Display/DisplayInformation.iOS.cs
Labels: platform/ios

#13089 Revert "chore: enable When_RepeatDuration on skia"
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_ObjectAnimationUsingKeyFrames.cs
Labels: ready-to-merge

#13191 fix: Assert DisplayName value instead of Title
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#13222 build: Remove erroneous xaml file included as content
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
Labels: area/automation

#13242 feat: Include key modifiers in WPF pointer events
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
Labels: area/skia

#13240 fix: padding should affect measure
  src/Uno.UI/Microsoft/UI/Xaml/Controls/LayoutPanel/LayoutPanel.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/Legacy/GridView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/RelativePanel/RelativePanel.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanel.cs
Labels: platform/android

#12031 chore(deps): Update Microsoft.CodeAnalysis.NetAnalyzers
  .editorconfig
  src/Directory.Build.props
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel/IAppInfoStatics.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Gaming.UI/GameMonitor.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Gaming.UI/GameMonitoringPermission.cs
Labels: platform/android

#13134 fix(xamlreader): res-dict parsing
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_XamlReader.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/Helpers/XamlHelper.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlTypeResolver.cs
Labels: area/automation

#13252 chore: Remove old `_ValidateTopLevelPackageWasmUpgrade` target
  build/nuget/uno.winui.common.targets
Labels: area/build

#13270 chore: update MacCatalyst plist file for sampleapp
  src/SamplesApp/SamplesApp.netcoremobile/MacCatalyst/Info.plist
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
Labels: area/automation

#13260 build: Run `_CompileUnoJava` in design-time builds
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
Labels: platform/android 🤖

#13148 refactor: Refactor listening to brush changes in a way that avoids finalizers
  src/Uno.UI/Helpers/WeakEvents/README.md
  src/Uno.UI/Helpers/WeakEvents/WeakBrushChangedProxy.cs
  src/Uno.UI/Helpers/WeakEvents/WeakEventManager.cs
  src/Uno.UI/Helpers/WeakEvents/WeakEventProxy.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/MultilineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/UIElement.TextHelper.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, kind/documentation

#13206 build: Correct some MSBuild conditions
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.netcoremobile.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
Labels: area/automation

#13223 build: Cleanup build
  build/nuget/uno.winui.common.targets
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia.Wpf/SamplesApp.Skia.Wpf.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/UnoIslands.Skia/UnoIslands.Skia.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.Foundation/Uno.Foundation.Skia.csproj
  src/Uno.Foundation/Uno.Foundation.Wasm.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.Skia.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.Wasm.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.Wasm.csproj
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.WebAssembly/Uno.UI.Runtime.WebAssembly.csproj
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
  src/Uno.UI.Tests.Performance/Uno.UI.Tests.Performance.csproj
  src/Uno.UI.Tests.ViewLibrary/Uno.UI.Tests.ViewLibrary.csproj
  src/Uno.UI.Tests.ViewLibraryProps/Uno.UI.Tests.ViewLibraryProps.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.Wasm.csproj
  src/Uno.UI/Uno.UI.Reference.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWP/Uno.Skia.csproj
  src/Uno.UWP/Uno.Wasm.csproj
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
Labels: platform/wasm 🌐, area/skia ✏️, area/build, area/automation

#13229 perf: Improve `XamlFileGenerator.FindMember` performance
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#13230 perf: Improve `XamlFileGenerator.IsImplementingInterface` performance
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
Labels: area/code-generation

#13246 fix(android): Propagate theme change to all list view items properly
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Theming.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Theming.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Application.cs
Labels: area/automation

#13316 refactor: Cleanup foundation
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions.Equality/EqualityComparerExtensions.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions.Equality/KeyEqualityComparer.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions.Equality/WeakReferenceEqualityComparer.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/ActionAsync.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/ActionExtensions.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/Actions.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/FuncExtensions.ApplyMemoized.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/Funcs.Async.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/Funcs.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
Labels: area/automation

#13184 feat: Upgrade to .NET 8 Preview 7
  global-net8.json
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.netcoremobile/Android/AndroidManifest.xml
  src/Uno.UI.Toolkit/ElevatedView.Android.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.iOS.cs
  src/Uno.UWP/Storage/Pickers/FileSavePicker.macOS.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/automation

#13301 fix: Fix MenuFlyoutSubItem placement on Android on first open
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MenuFlyoutTests/MenuFlyoutSubItem_Placement.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MenuFlyoutTests/MenuFlyoutSubItem_Placement.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyoutSubItem.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.cs
  src/Uno.UWPSyncGenerator.Reference/references.txt
Labels: area/automation, kind/documentation

#13135 perf: Avoid pooling for long-living `HashtableEx`es
  src/SamplesApp/Benchmarks.Shared/Benchmarks.Shared.projitems
  src/SamplesApp/Benchmarks.Shared/Suite/Collections/HashtableBench.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.Dictionary.FrameworkPropertiesForType.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.Dictionary.NameToProperty.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.Dictionary.PropertiesRegistry.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.Dictionary.TypeNullableDictionary.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.Dictionary.TypeToProperties.cs
  src/Uno.UI/UI/Xaml/PropertyMetadataDictionary.cs
  src/Uno.UWP/Collections/HashtableEx.cs
Labels: area/automation

#13346 fix(skia): Fix app staying blank if no background on the main page
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#13364 docs: Remove invalid performance tip
  doc/articles/Uno-UI-Performance.md
Labels: kind/documentation

#13254 fix(TreeView): fix dragging and dropping of treeview item
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/DragAndDropTests/DragDrop_TreeView_Reorder_Automated.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_TreeView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_TreeView.xaml.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TreeView/TreeViewItem.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TreeView/TreeViewList.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsStackPanel/ItemsStackPanel.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.DragDrop.cs
Labels: area/automation

#13329 fix: `Resuming` should run only after `Suspend`
  src/SamplesApp/SamplesApp.Shared/App.Assertions.cs
  src/SamplesApp/SamplesApp.Shared/App.Tests.cs
  src/SamplesApp/SamplesApp.Shared/App.UnoIslands.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/SamplesApp.Skia.Gtk/Program.cs
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/Program.cs
  src/SamplesApp/SamplesApp.Skia.Wpf/App.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Core/WindowActivationTests.xaml.cs
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/MainWindow.xaml.cs
  src/Uno.UI/Controls/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/automation

#13337 ci: Adjust nuget cache folder creation
  build/ci/templates/nuget-cache.yml
Labels: area/build

#13053 docs: Update creating-ui-tests doc
  doc/articles/uno-development/creating-ui-tests.md
Labels: kind/documentation

#13382 refactor: Move `KeyboardManager` in `InputManager`
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkKeyboardInputSource.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfKeyboardInputSource.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Keyboard.skia.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.cs
  src/Uno.UI/UI/Xaml/UIElement.Keyboard.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UWP/UI/Core/CoreWindow.Keyboard.skia.cs
  src/Uno.UWP/UI/Core/ICorePointerInputSource.cs
  src/Uno.UWP/UI/Core/Internal/IUnoKeyboardInputSource.cs
Labels: area/skia ✏️

#13309 perf: Misc performance improvements
  build/PackageDiffIgnore.xml
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UWP/Collections/MaterializableList.cs
Labels: area/skia ✏️, area/build

#13059 fix!: Remove empty class ImageEx on Android
  build/PackageDiffIgnore.xml
  src/Uno.UI/Controls/ImageEx.Android.cs
Labels: platform/android 🤖, area/build

#13390 fix(skia): Adjust framebuffer initialization, symbols fallback rendering
  src/SamplesApp/SamplesApp.Shared/App.Assertions.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
Labels: area/skia ✏️, area/automation

#13185 feat: Use `OpenFolderDialog` in .NET 8 WPF
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FolderPickerExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FolderPickerExtension.net7.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FolderPickerExtension.net8.cs
Labels: area/skia ✏️, area/automation

#13393 refactor: Move `DragDropManager` in `InputManager`
  src/Uno.UI/UI/Xaml/DragDrop/DragDropManager.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragOperation.cs
  src/Uno.UI/UI/Xaml/DragDrop/DropUITarget.cs
  src/Uno.UI/UI/Xaml/Internal/ContentRoot.uno.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.DragDrop.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Keyboard.skia.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/Window.cs
Labels: area/skia ✏️

#13359 fix: Few shapes fixes
  src/Uno.UI.Composition/Composition/CompositionShape.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI/Media/PathStreamGeometryContext.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
Labels: area/skia ✏️

#13394 Fixed clipping was applied on Android when opacity were used
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/ClippingWithOpacity.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/ClippingWithOpacity.xaml.cs
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoViewGroup.java
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
Labels: platform/android 🤖, area/automation

#13437 docs: Upgrade steps
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#13445 Backport #12247 and b709f73
  build/uno.winui.runtime-replace.targets
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation, area/build

#13460 ci: Bump uno-check for auto-update issue
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/ci/templates/dotnet7-mobile-install-mac.yml
Labels: area/build

#13378 fix: Calculate shape bounding box properly on Android excluding control points
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Path.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.Android.cs
Labels: platform/android 🤖

#13474 docs: Adjust getting started content
  doc/articles/getting-started-tutorial-1.md
  doc/articles/getting-started-tutorial-2.md
Labels: kind/documentation

#13458 [Skia.GTK]: Improve system dark theme detection on Linux
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/Theming/GtkSystemThemeHelperExtension.cs
Labels: area/skia ✏️
