Repository unoplatform/uno, pull requests merged in 2023-06, with the labels that each got.

#12504 Misc Skia MPE updates
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GTKMediaPlayer.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GTKMediaPlayer.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/VideoView.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerElement.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerPresenter.Others.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.MediaPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.others.cs
Labels: platform/android

#12359 feat: Support for `SingleSelectionFollowsFocus`
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_SingleSelection_Focus.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_SingleSelection_Focus.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
Labels: area/automation

#12489 perf: Misc bindings V
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/FocusVisual/SystemFocusVisual.wasm.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UI/UI/Xaml/FontFamilyLoader.wasm.cs
  src/Uno.UI/ts/Clipboard.ts
  src/Uno.UI/ts/Windows/ApplicationModel/DataTransfer/DragAndDropExtension.ts
  src/Uno.UI/ts/Windows/Devices/Sensors/Gyrometer.ts
  src/Uno.UI/ts/Windows/Graphics/Display/DisplayInformation.ts
  src/Uno.UI/ts/Windows/Helpers/Theming/SystemThemeHelper.ts
  src/Uno.UI/ts/Windows/Networking/Connectivity/NetworkInformation.ts
  src/Uno.UI/ts/Windows/Storage/NativeStorageItem.ts
  src/Uno.UI/ts/Windows/Storage/StorageFolder.ts
  src/Uno.UI/ts/Windows/UI/Core/SystemNavigationManager.ts
  src/Uno.UI/ts/Windows/UI/Xaml/Application.ts
  src/Uno.UI/ts/Windows/UI/Xaml/Input/FocusVisual.ts
  src/Uno.UI/ts/Windows/UI/Xaml/Media/FontFamily.ts
  src/Uno.UWP/ApplicationModel/Calls/PhoneCallManager.Interop.wasm.cs
  src/Uno.UWP/ApplicationModel/Calls/PhoneCallManager.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.wasm.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.Interop.wasm.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/LightSensor.Interop.wasm.cs
  src/Uno.UWP/Devices/Sensors/LightSensor.wasm.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.Interop.wasm.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.wasm.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
  src/Uno.UWP/Helpers/ProtocolActivation.wasm.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.wasm.cs
  src/Uno.UWP/Networking/Connectivity/NetworkInformation.Interop.wasm.cs
  src/Uno.UWP/Networking/Connectivity/NetworkInformation.wasm.cs
  src/Uno.UWP/Phone/Devices/Notification/VibrationDevice.Interop.wasm.cs
  src/Uno.UWP/Phone/Devices/Notification/VibrationDevice.wasm.cs
  src/Uno.UWP/Security/ExchangeActiveSyncProvisioning/EasClientDeviceInformation.Interop.wasm.cs
  src/Uno.UWP/Security/ExchangeActiveSyncProvisioning/EasClientDeviceInformation.wasm.cs
  src/Uno.UWP/Storage/NativeStorageItem.wasm.cs
  src/Uno.UWP/Storage/StorageFolder.wasm.cs
  src/Uno.UWP/System/Launcher.Interop.wasm.cs
  src/Uno.UWP/System/Launcher.wasm.cs
  src/Uno.UWP/UI/Core/SystemNavigationManager.Interop.wasm.cs
  src/Uno.UWP/UI/Core/SystemNavigationManager.wasm.cs
  src/Uno.UWP/UI/Popups/MessageDialog.Interop.wasm.cs
  src/Uno.UWP/UI/Popups/MessageDialog.wasm.cs
Labels: platform/wasm

#12536 docs: Update external docs commits
  doc/import_external_docs.ps1
Labels: kind/documentation

#12551 ci: Adjust diff ignore for 4.9 update
  build/PackageDiffIgnore.xml
Labels: area/build

#12295 docs(themes): Update working-with-themes.md
  doc/articles/features/working-with-themes.md
Labels: kind/documentation

#12553 docs(ngnix): added cache control and compression examples
  doc/articles/how-to-host-a-webassembly-app.md
Labels: kind/documentation

#12567 docs: Adjust packages for mediaplayer for winui/uwp
  doc/articles/controls/MediaPlayerElement.md
Labels: kind/documentation

#12570 docs: Add workaround for C# Dev Kit compatibility
  doc/articles/Assets/quick-start/vs-code-useOmniSharp.png
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#12548 docs: adjust wording in releases upgrade steps
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#12305 feat: Support for `ProximitySensor` on Android
  build/PackageDiffIgnore.xml
  doc/articles/features/proximity-sensor.md
  doc/articles/toc.yml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/ProximitySensorTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/ProximitySensorTests.xaml.cs
  src/Uno.UWP/Devices/Enumeration/DeviceInformation.providers.Android.cs
  src/Uno.UWP/Devices/Enumeration/Internal/DeviceClassGuids.cs
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/ProximitySensor/ProximitySensorDeviceClassProvider.Android.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensor.Android.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensor.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensorReading.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensorReadingChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/ProximitySensor.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/ProximitySensorReading.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/ProximitySensorReadingChangedEventArgs.cs
Labels: platform/android, area/build, area/automation, kind/documentation

#11338 fix!: Remove ApplyCompiledBindings from code generated by `DependencyObjectGenerator`
  build/PackageDiffIgnore.xml
  build/Uno.UI.Build.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.netstd.cs
Labels: area/code-generation, area/build

#12575 Merge master into breaking changes
  .github/pull_request_template.md
  .vsts-ci.yml
  build/PackageDiffIgnore.xml
  build/Uno.WinUI.MediaPlayer.Skia.Gtk.nuspec
  build/ci/.azure-devops-package.yml
  doc/articles/Assets/quick-start/vs-code-useOmniSharp.png
  doc/articles/controls/MediaPlayerElement.md
  doc/articles/features/proximity-sensor.md
  doc/articles/get-started-vscode.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/toc.yml
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/ProximitySensorTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/ProximitySensorTests.xaml.cs
  src/Uno.UI.RuntimeTests/Helpers/TestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UWP/Devices/Enumeration/DeviceInformation.providers.Android.cs
  src/Uno.UWP/Devices/Enumeration/Internal/DeviceClassGuids.cs
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/ProximitySensor/ProximitySensorDeviceClassProvider.Android.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensor.Android.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensor.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensorReading.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensorReadingChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/ProximitySensor.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/ProximitySensorReading.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/ProximitySensorReadingChangedEventArgs.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/solution-templates, area/skia, area/code-generation, area/build, area/automation, kind/documentation

#12419 fix(ToolTip): add the missing part of fixing the issue #10979
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ToolTipTests/ToolTip_Tests.cs
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTipService.cs
Labels: area/automation

#12579 Breaking changes branch test adjustments
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/SwipeControlTests/SwipeControl_ListView.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_DoubleAnimation.cs
Labels: area/automation

#12587 chore(docsearch): Implement DocSearch by Algolia
  doc/docfx.json
  doc/gulpfile.js
  doc/package.json
  doc/templates/uno/partials/scripts.tmpl.partial
  doc/templates/uno/service/search.scss
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.js
  doc/templates/uno/toc.html.tmpl
Labels: kind/documentation

#12590 Misc breaking changes updates
  License.md
  build/Uno.UI.Adapter.Microsoft.Extensions.Logging.nuspec
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.Lottie.nuspec
  build/Uno.WinUI.MSAL.nuspec
  build/Uno.WinUI.RemoteControl.nuspec
  build/Uno.WinUI.XamlHost.nuspec
  build/Uno.WinUI.nuspec
  build/assets/xfapp-uwp-4.8.0.1451.zip
  build/ci/.azure-devops-package-net6-win.yml
  build/ci/.azure-devops-package-reference.yml
  build/ci/.azure-devops-package-skia.yml
  build/ci/.azure-devops-package-wasm.yml
  build/ci/.azure-devops-package.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-screenshot-compare.yml
  build/ci/.azure-devops-spell-check.yml
  build/ci/.azure-devops-stages.yml
  build/ci/.azure-devops-winui-convert.yml
  build/ci/templates/globaljson-downgrade.yml
  doc/.howto-template.md
  doc/articles/features/working-with-assets.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-vs.md
  doc/articles/guides/hotswap-app-language.md
  doc/articles/platform-specific-xaml.md
  doc/articles/splash-screen.md
  doc/blog/201708-Importing-SL-Toolkit-part-1.md
  doc/blog/201808-UnoUnderTheHoodButton.md
  doc/blog/201901-WebAssembly-Projects-and-debugging.md
  doc/blog/201903-using-wsl-to-build-aot.md
  global-net7.0.102.json
  global-net8.json
  global.json
  src/Common/GlobalAssemblyInfo.cs
  src/Directory.Build.targets
Labels: area/build, kind/documentation

#12589 chore: Remove non-working caching unmodified xaml files
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12581 fix(mpe): AutoPlay=false stuck in Opening state
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerExtension.cs
  src/Uno.Foundation/Extensibility/ApiExtensibility.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MediaPlayerElement.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
Labels: platform/android, platform/macos, platform/ios

#12607 ci: Scaled set update
  .vsts-ci.yml
  build/ci/.azure-devops-package-net6-win.yml
  build/ci/.azure-devops-package.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-winui-convert.yml
  build/ci/templates/globaljson-downgrade.yml
Labels: area/build

#12610 ci: Bump scaled agents to 17.6
  .vsts-ci.yml
  src/Uno.UI.Composition/Composition/CoreAnimation.iOSmacOS.cs
  src/Uno.UI/Controls/NSFontHelper.macOS.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DisplayLinkValueAnimator.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTarget.iOS.cs
Labels: platform/macos, platform/ios

#12560 fix(Image): SvgImageLoader crash on binding
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageViewViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_Binding.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_Binding.xaml.cs
  src/Uno.UI.RuntimeTests/Assets/couch.svg
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.iOSmacOS.cs
Labels: platform/macos, platform/ios, area/automation

#12584 perf: Misc bindings VI
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.wasm.cs
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.Lottie/WasmScripts/uno-lottie.d.ts
  src/AddIns/Uno.UI.Lottie/WasmScripts/uno-lottie.js
  src/AddIns/Uno.UI.Lottie/ts/Uno.UI.Lottie.ts
  src/Uno.UI/Helpers/Automation.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UI/ts/Windows/Devices/Enumeration/Internal/Providers/Midi/MidiDeviceConnectionWatcher.ts
  src/Uno.UI/ts/Windows/Devices/Midi/MidiInPort.ts
  src/Uno.UI/ts/Windows/Devices/Midi/MidiOutPort.ts
  src/Uno.UI/ts/Windows/Devices/Sensors/LightSensor.ts
  src/Uno.UI/ts/Windows/Devices/Sensors/Magnetometer.ts
  src/Uno.UI/ts/Windows/Gaming/Input/Gamepad.ts
  src/Uno.UI/ts/Windows/Media/SpeechRecognizer.ts
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/Midi/MidiDeviceClassProviderBase.wasm.cs
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/Midi/MidiDeviceConnectionWatcher.wasm.cs
  src/Uno.UWP/Devices/Midi/Internal/WasmMidiAccess.wasm.cs
  src/Uno.UWP/Devices/Midi/MidiInPort.Interop.wasm.cs
  src/Uno.UWP/Devices/Midi/MidiInPort.wasm.cs
  src/Uno.UWP/Devices/Midi/MidiOutPort.Interop.wasm.cs
  src/Uno.UWP/Devices/Midi/MidiOutPort.wasm.cs
  src/Uno.UWP/Devices/Sensors/LightSensor.wasm.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.wasm.cs
  src/Uno.UWP/Gaming/Input/Gamepad.Interop.wasm.cs
  src/Uno.UWP/Gaming/Input/Gamepad.wasm.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.Interop.wasm.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.wasm.cs
Labels: platform/wasm

#12559 feat(scp): Add native support for reversed mouse wheel
  .editorconfig
  src/Uno.UI.Runtime.Skia.Gtk/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.Mouse.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.netcoremobile.csproj
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.uno.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/HtmlEventDispatchResult.wasm.cs
  src/Uno.UI/UI/Xaml/HtmlEventDispatchResultHelper.wasm.cs
  src/Uno.UI/UI/Xaml/Input/Internal/IHtmlHandleableRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/Input/Internal/IPreventDefaultHandling.wasm.cs
  src/Uno.UI/UI/Xaml/Input/KeyRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.EventRegistration.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
Labels: platform/wasm, area/skia

#12626 Dev/dp/documentation
  doc/articles/get-started-vsmac.md
Labels: kind/documentation

#12625 Update MediaPlayerElement.md
  doc/articles/controls/MediaPlayerElement.md
Labels: kind/documentation

#9190 `DispatcherTimer` improvements
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_DispatcherQueueTimer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_DispatcherTimer.cs
  src/Uno.UI/Mock/DispatcherTimer.net.cs
  src/Uno.UI/Mock/DispatcherTimer.netstdref.cs
  src/Uno.UI/UI/Xaml/DispatcherTimer.Android.cs
  src/Uno.UI/UI/Xaml/DispatcherTimer.cs
  src/Uno.UI/UI/Xaml/DispatcherTimer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/DispatcherTimer.skia.cs
  src/Uno.UI/UI/Xaml/DispatcherTimer.wasm.cs
  src/Uno.UWP/Helpers/DispatcherTimerProxy.cs
  src/Uno.UWP/System/DispatcherQueueTimer.Android.cs
  src/Uno.UWP/System/DispatcherQueueTimer.cs
  src/Uno.UWP/System/DispatcherQueueTimer.iOSmacOS.cs
  src/Uno.UWP/System/DispatcherQueueTimer.net.cs
  src/Uno.UWP/System/DispatcherQueueTimer.netstdref.cs
  src/Uno.UWP/System/DispatcherQueueTimer.others.cs
  src/Uno.UWP/System/DispatcherQueueTimer.skia.cs
  src/Uno.UWP/System/DispatcherQueueTimer.wasm.cs
  src/Uno.UWP/Uno/IDispatcherTimer.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia

#12634 chore: Add --force option and reset
  doc/import_external_docs.ps1
Labels: kind/documentation

#12562 chore(ImageSource): enable nullable
  src/Uno.UI/UI/Xaml/Media/ImageBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOS.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.provider.cs
Labels: platform/android, platform/macos, platform/ios

#12487 fix(droid): CommandBar AppBarIcon binding issues
  src/SamplesApp/UITests.Shared/Assets/closeIcon.png
  src/SamplesApp/UITests.Shared/Assets/filter.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBarViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Native_With_AppBarButton_Binding.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Native_With_AppBarButton_Binding.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/FramePages/Page_With_AppBarButton_Visibility_Bound.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AppBarButton.cs
  src/Uno.UI/Controls/CommandBar/AppBarButtonRenderer.Android.cs
  src/Uno.UI/DrawableHelper.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UWP/Helpers/DrawableHelper.Android.cs
Labels: platform/android, area/automation

#12594 fix!: Remove `OnWindowCreated` from WinUI tree
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Application.Uwp.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Window.Uwp.cs
  src/Uno.UI/UI/Xaml/Window.WinAppSdk.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/WindowCreatedEventArgs.cs
Labels: area/build

#12647 feat: Add support for `VariableSizedWrapGrid`
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/VariableSizedWrapGrid/VariableSizedWrapGridTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/VariableSizedWrapGrid/VariableSizedWrapGridTests.xaml.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/inc/PanelsHelper.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/variablesizedwrapgrid/VariableSizedWrapGridIntegrationTests.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/Helpers/Given_OrientedSize.cs
  src/Uno.UI/DirectUI/IOrientedPanel.cs
  src/Uno.UI/DirectUI/OrientedSize.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/VariableSizedWrapGrid.cs
  src/Uno.UI/UI/Xaml/Controls/Orientation.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid/VariableSizedWrapGrid.OccupancyMap.mux.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid/VariableSizedWrapGrid.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid/VariableSizedWrapGrid.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid/VariableSizedWrapGrid.partial.h.mux.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid/VariableSizedWrapGrid.partial.mux.cs
  src/Uno.UI/UI/Xaml/Controls/WrapGrid/WrapGrid.partial.mux.cs
  src/Uno.UI/UI/Xaml/Controls/WrapPanel/OrientedSize.cs
  src/Uno.UI/UI/Xaml/HorizontalAlignment.cs
Labels: area/automation

#12656 fix: Properly generate code for items in custom dictionary
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/SamplesApp.Shared/StringToStyleDictionary.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation, area/automation

#12655 perf: Proper cancellation for XamlFileParser
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation

#12670 Breaking change: Bump to net7.0-windows and 19041 SDK
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.MSAL.nuspec
  build/Uno.WinUI.RemoteControl.nuspec
  build/Uno.WinUI.XamlHost.nuspec
  build/Uno.WinUI.nuspec
  build/ci/.azure-devops-package-net6-win.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-uap.yml
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  build/uno.winui.winappsdk.targets
  doc/ReleaseNotes/LegacyReleaseNotes.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
  doc/articles/guides/solution-building-single-targetframework.md
  doc/articles/uno-build-error-codes.md
  doc/articles/uno-community-toolkit.md
  doc/articles/uno-development/building-uno-ui.md
  src/.vsconfig
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Windows.csproj
  src/SamplesApp/SamplesApp.UWP.Design/SamplesApp.UWP.Design.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unolib-crossruntime/UnoCrossRuntimeLib/UnoCrossRuntimeLib.csproj
  src/SolutionTemplate/UnoLibraryTemplate.netcore/CrossTargetedLibrary.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/UnoQuickStart.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Windows/Package.appxmanifest
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Windows/UnoQuickStart.Windows.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/UWP/UnoQuickStart.Uwp.csproj
  src/SourceGenerators/System.Xaml/Assembly/AssemblyInfo.cs
  src/Uno.CrossTargetting.targets
  src/Uno.UI.RuntimeTests/Helpers/StyleHelper.cs
  src/Uno.UI.RuntimeTests/UnitTestsImport.props
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Windows.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Reference.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Tests.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Windows.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.netcoremobile.csproj
  src/Uno.UWP/System/VirtualKeyHelper.macOS.cs
  src/Uno.UWPSyncGenerator.Reference/Uno.UWPSyncGenerator.Reference.csproj
  src/Uno.UWPSyncGenerator/DocGenerator.cs
  src/crosstargeting_override.props.sample
Labels: platform/macos, area/solution-templates, area/code-generation, area/build, area/automation, kind/documentation

#12674 docs: Update migration steps
  doc/articles/migrating-from-previous-releases.md
  doc/articles/migrating-from-xamarin-to-net6.md
Labels: kind/documentation

#12421 fix: Properly display PosterSource for MediaPlayerElement
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GTKMediaPlayer.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GTKMediaPlayer.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.events.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerExtension.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mp3_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mp3_Extension.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerElement.cs
  src/Uno.UWP/Media/Playback/IMediaPlayerExtension.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.others.cs
Labels: do-not-merge/work-in-progress, platform/android, platform/macos, platform/ios, area/automation

#12683 fix: Avoid throwing if result of `ExecuteScriptAsync` is `null`
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
Labels: platform/macos, platform/ios

#12694 fix: Raise `ImageFailed` on Skia, correctly arrange empty `Image`
  src/SamplesApp/UnoIslands.Skia.WPF/UnoIslands.Skia.Wpf.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.WPF/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
Labels: platform/android, area/skia, area/automation

#12680 Adjustments for XAML generation info
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Two_Projects_Simple_Xaml_Single_xName_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdates/HotReloadWorkspaceProvider.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Given_Grid.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Given_MvvmGeneratedMembers.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_UserControl1_81d855d5b3bba02f594dcda3b149beb2.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_Grid_Uses_Both_Syntaxes_794c1760299b374d12fe38ba3b633206.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_Grid_Uses_Common_Syntax_8659265dc2cabf0b5a684f0f4b26f8b7.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_Grid_Uses_New_Assigned_ContentProperty_Syntax_9f853e56098ff21d39f15479035509ef.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_Grid_Uses_New_Succinct_Syntax_cc38332c9fd4c0da9c1fa0270bbd3609.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfoManager.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationRunFileInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
Labels: area/code-generation

#12701 perf: Reduce array allocations when setting a single property on Wasm
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#12708 fix(TextBlock): fix the textblock inline whitespace missing issue
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/Given_TextBlock.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/WhiteSpace_In_TextBlock_Inlines.xaml
Labels: area/code-generation, area/automation

#12685 fix: Adjust runtime replace to avoid self-reference
  build/uno.winui.runtime-replace.targets
Labels: area/build

#12606 fix: MediaPlayerElement does not play local source
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GTKMediaPlayer.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerPresenterExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerExtension.cs
  src/SamplesApp/UITests.Shared/Assets/Thumbnails/Getting_Started_with_Uno_Platform_for_Figma.png
  src/SamplesApp/UITests.Shared/Assets/Videos/Getting_Started_with_Uno_Platform_for_Figma.mp4
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original_MsAppdataSource.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original_MsAppdataSource.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original_MsAppxSource.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original_MsAppxSource.xaml.cs
  src/Uno.Foundation/Extensions/UriExtensions.cs
  src/Uno.UWP/AssemblyInfo.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
Labels: platform/android, platform/macos, platform/ios, area/automation

#12691 feat: Support icon elements for NativeCommandBarPresenter
  src/Uno.UI/Controls/CommandBar/AppBarButtonRenderer.Android.cs
  src/Uno.UI/Controls/CommandBar/AppBarButtonRenderer.iOS.cs
Labels: platform/android, platform/ios

#12731 Dev/rofa/docs search
  doc/docfx.json
  doc/templates/uno/partials/scripts.tmpl.partial
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.js
Labels: kind/documentation

#12704 fix(TextBox): Propagate FontFamily to DisplayBlock on Skia
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia

#12746 fix(rc): Restore Uno.WinUI.RemoteControl.Messaging dependency
  build/Uno.WinUI.RemoteControl.nuspec
Labels: area/build

#12747 fix(skia): restore proper visibility for FrameworkElement.NameProperty
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
Labels: area/skia

#12721 docs: Update VSCode Getting Started Guide
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#12739 fix: Fix Main window is not set yet exception on Skia
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindow.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
Labels: area/skia

#12703 fix: Fix `Binding ''` not working
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Controls/Binding_Empty_Quotes.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Controls/Binding_Empty_Quotes.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/BindingTests/Given_Binding.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
Labels: area/automation
