Repository unoplatform/uno, pull requests merged in 2023-05, with the labels that each got.

#12091 fix(geolocator): Stop using location when unsubscribing from events.
  src/Uno.UWP/Devices/Geolocation/Geolocator.Android.cs
Labels: platform/android

#11987 perf: Reduce string allocations in XamlFileParser
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/Windows_Media/CameraCaptureUISample.xaml
  src/SourceGenerators/System.Xaml.Tests/Test/System.Xaml/XamlBackgroundReaderTest.cs
  src/SourceGenerators/System.Xaml.Tests/Test/System.Xaml/XamlObjectWriterSettingsTest.cs
  src/SourceGenerators/System.Xaml.Tests/Test/System.Xaml/XamlObjectWriterTest.cs
  src/SourceGenerators/System.Xaml.Tests/Test/System.Xaml/XamlXmlReaderTest.cs
  src/SourceGenerators/System.Xaml/System.Xaml/XamlServices.cs
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlRedirection/XamlXmlReader.cs
  src/Uno.UI.Tests/App/Xaml/Test_Page.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_Conditional_Xaml.cs
  src/Uno.UI.sln
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlStringParser.cs
Labels: area/code-generation, area/build, area/automation

#12127 fix: Fix CalendarView selecting next day due to not respecting current time zone
  src/Uno.UI.Tests/Windows_Globalization/When_Calendar.cs
  src/Uno.UI/DirectUI/DateComparer.cs
  src/Uno.UWP/Globalization/Calendar.cs
Labels: area/automation

#12119 fix: Adding package metadata
  src/Uno.UI.Runtime.WebAssembly/Uno.UI.Runtime.WebAssembly.csproj
Labels: platform/wasm

#12131 VSCode docs update
  build/cSpell.json
  doc/articles/Assets/quick-start/vs-code-debug-device-android.png
  doc/articles/Assets/quick-start/vs-code-debug-device-ios.png
  doc/articles/Assets/quick-start/vs-code-debug-project.png
  doc/articles/Assets/quick-start/vs-code-debug-tf-android.png
  doc/articles/Assets/quick-start/vs-code-debug-tf-catalyst.png
  doc/articles/Assets/quick-start/vs-code-debug-tf-ios.png
  doc/articles/features/vscode-advanced-mobile-debugging.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#12108 chore: Reduce file name length to avoid risk of too long filename on checkout
  .gitignore
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Uno.UI.SourceGenerators.netcore.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Given_MvvmGeneratedMembers.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_UserControl1_81d855d5b3bba02f594dcda3b149beb2.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_Grid_Uses_Both_Syntaxes_794c1760299b374d12fe38ba3b633206.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_Grid_Uses_Common_Syntax_8659265dc2cabf0b5a684f0f4b26f8b7.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_Grid_Uses_New_Assigned_ContentProperty_Syntax_9f853e56098ff21d39f15479035509ef.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_Grid_Uses_New_Succinct_Syntax_cc38332c9fd4c0da9c1fa0270bbd3609.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WIEP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
Labels: area/code-generation

#12130 [Breaking] fix!: Change WebErrorStatus namespace
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebViewExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebViewNavigationCompletedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebViewNavigationFailedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Web/WebErrorStatus.cs
  src/Uno.UWP/Web/WebErrorStatus.cs
Labels: ready-to-merge, area/build

#12100 perf: Add StorageFolder bindings
  src/Uno.UWP/Storage/StorageFolder.native.Interop.wasm.cs
  src/Uno.UWP/Storage/StorageFolder.native.wasm.cs
Labels: platform/wasm

#12140 docs: Adjust vscode directions
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#12146 fix: Do not throw for already disposed callbacks
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
Labels: area/automation

#12129 [Breaking] fix!: IconElement constructor should be internal only
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/IconElement.cs
Labels: ready-to-merge, area/build

#12115 build: Fix feature/breaking-changes build
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-docs.yml
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/SamplesApp.Skia.Linux.FrameBuffer.csproj
  src/SamplesApp/SamplesApp.Skia.WPF/SamplesApp.Skia.WPF.csproj
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/UnoIslands.Skia.WPF/UnoIslands.Skia.Wpf.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.WPF/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.csproj
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Uno.UI.Adapter.Microsoft.Extensions.Logging.csproj
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.csproj
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Windows.csproj
  src/Uno.UI.XamlHost.Skia.Wpf/Uno.UI.XamlHost.Skia.Wpf.csproj
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
  src/targetframework-override-windows.props
Labels: platform/android, area/skia, area/code-generation, area/build, area/automation

#12135 fix!: Always use strict search
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12103 fix: Fix arrange when setting BorderThickness with null brush
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/BorderWithNullBrushAndNonZeroThickness.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/BorderWithNullBrushAndNonZeroThickness.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/PanelWithNullBrushAndNonZeroThickness.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/PanelWithNullBrushAndNonZeroThickness.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.uno.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/RelativePanel/RelativePanel.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanel.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElementExtensions.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: platform/wasm, area/automation

#12126 chore: import_external_docs.ps1 improvements
  doc/import_external_docs.ps1
  doc/import_external_docs_test.ps1
Labels: kind/documentation

#12076 Fix image-related property changes not being detected
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Brush.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.cs
Labels: platform/android, platform/macos, platform/ios, area/build

#12148 perf: NativeStreamAdapter bindings
  src/Uno.UWP/Storage/Streams/Internal/NativeReadStreamAdapter.wasm.cs
  src/Uno.UWP/Storage/Streams/Internal/NativeWriteStreamAdapter.wasm.cs
Labels: platform/wasm

#12139 refactor: Cleanup uno generation
  build/ci/.azure-devops-unit-tests.yml
  build/test-scripts/android-uitest-build.sh
  doc/articles/uno-development/troubleshooting-source-generation.md
  src/Directory.Build.props
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/DesignTimeHelper.cs
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/GeneratorExecutionContextExtensions.cs
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/PlatformHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/DependencyObjectAvailabilityGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.Diagnostics.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/ImplementedRoutedEvents/ImplementedRoutedEventsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/NativeCtor/NativeCtorsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfoManager.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.Tracing.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/Uno.UI.Tests.Performance/Uno.UI.Tests.Performance.csproj
  src/Uno.UI.Tests.ViewLibrary/Uno.UI.Tests.ViewLibrary.csproj
  src/Uno.UI.Tests.ViewLibraryProps/Uno.UI.Tests.ViewLibraryProps.csproj
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
  src/Uno.UI.Wasm.Tests/Uno.UI.Wasm.Tests.csproj
  src/Uno.UI/MixinGeneration.targets
  src/Uno.UI/Uno.UI.Skia.csproj
Labels: area/code-generation, area/build, area/automation, kind/documentation

#9440 feat(Run): [Skia] Add Unicode Symbol and Emoji support
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Documents/Given_Run.cs
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetails.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetailsCache.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/RenderSegmentSpan.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/Segment.skia.cs
Labels: area/skia, area/automation

#12102 docs: QueryUriSupportAsync add platform-specific info
  doc/articles/features/windows-system.md
Labels: kind/documentation

#12134 fix!: Remove `SetContentOffset` and `SetZoomScale` from `IUIScrollView`
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/IUIScrollView.iOSmacOS.cs
Labels: platform/macos, platform/ios, area/build

#12136 ﻿fix(ProgressRing): add intermediate property to fix breaking change
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.cs
  src/SourceGenerators/SourceGeneratorHelpers/SourceGeneratorHelpers.projitems
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedAcceptVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/IAnimatedVisualSource.cs
Labels: area/code-generation

#12105 fix: event ordering of KeyUp/KeyDown on Skia
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Events.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfCoreWindowExtension.Keyboard.cs
  src/Uno.UI/UI/Xaml/UIElement.Keyboard.skia.cs
  src/Uno.UWP/UI/Core/CoreWindow.skia.cs
  src/Uno.UWP/UI/Core/ICoreWindowEvents.cs
Labels: area/skia, area/automation

#12164 fix: Fix StorageFile.GetFileFromApplicationUriAsync crash when given appdata uri
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFile.cs
  src/Uno.UWP/Storage/StorageFile.Android.cs
  src/Uno.UWP/Storage/StorageFile.cs
  src/Uno.UWP/Storage/StorageFile.iOSmacOS.cs
  src/Uno.UWP/Storage/StorageFile.skia.cs
  src/Uno.UWP/Storage/StorageFile.wasm.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia

#12175 fix!: Move ControlsResourcesVersion to Uno.UI assembly
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/ControlsResourcesVersion.cs
  src/Uno.UWPSyncGenerator/Generator.cs
Labels: area/build

#12173 docs: Fix URL to the new templates repo
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#12037 perf: Reduce dictionary lookups of repeated FindType call on the same XamlType
  src/SourceGenerators/Uno.UI.SourceGenerators/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12177 fix!: `Window.Visible` setter should not be public
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Window.cs
Labels: ready-to-merge, area/build

#12152 feat: Move OS theming logic to `SystemThemeHelper`
  build/PackageDiffIgnore.xml
  src/Uno.UI.Runtime.Skia.Gtk/GtkApplicationExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/Theming/GtkSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/ApplicationExtension.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Helper/Theming/WpfSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Helpers/Theming/WpfSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI/Controls/RootViewController.iOS.cs
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UI/UI/Xaml/Application.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Application.net.cs
  src/Uno.UI/UI/Xaml/Application.netstdref.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/IApplicationExtension.cs
  src/Uno.UI/UI/Xaml/ISkiaHost.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/WindowCreatedEventArgs.cs
  src/Uno.UI/ts/Windows/Helpers/Theming/SystemTheme.ts
  src/Uno.UI/ts/Windows/Helpers/Theming/SystemThemeHelper.ts
  src/Uno.UI/ts/Windows/UI/Xaml/Application.ts
  src/Uno.UI/ts/Windows/UI/Xaml/ApplicationTheme.ts
  src/Uno.UWP/Helpers/Theming/ISystemThemeHelperExtension.cs
  src/Uno.UWP/Helpers/Theming/ISystemThemeHelperExtension.skia.cs
  src/Uno.UWP/Helpers/Theming/SystemTheme.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.Android.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.Interop.wasm.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.iOS.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.macOS.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.others.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.skia.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.wasm.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeObserver.macOS.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/build

#11864 Dismiss splash screen after initial `Window.Activate`, themed `RootVisual` background
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Core/Given_RootVisual.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationTheme.cs
  src/Uno.UI/UI/Xaml/Internal/CoreServices.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UI/UI/Xaml/ThemingHelper.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UI/UI/Xaml/Window.Desktop.cs
  src/Uno.UI/UI/Xaml/Window.cs
  src/Uno.UI/UI/Xaml/Window.iOS.cs
  src/Uno.UI/UI/Xaml/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
  src/Uno.UI/WasmCSS/Uno.UI.css
  src/Uno.UI/ts/Interop/IAppManifest.ts
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm, platform/android, platform/macos, platform/ios

#11962 fix(droid): bringintoview for not visible items
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_BringIntoView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_BringIntoView.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Models/ListViewViewModel.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
Labels: platform/android, area/automation

#12174 fix!: Make GridExtensions internal
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Basic_Shapes.xaml.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Alignment.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_AutoSized.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Margin.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/GridExtensions.cs
Labels: area/build, area/automation

#12202 docs: Fix example being shown for iOS only
  doc/articles/features/step-counter.md
Labels: kind/documentation

#11983 Support for `DefaultTextForegroundThemeBrush`
  src/Uno.UI.RuntimeTests/Helpers/StyleHelper.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/ProgressRing/ProgressRingTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/ToggleSplitButton/ToggleSplitButtonTests.cs
  src/Uno.UI.RuntimeTests/MUX/Windows_UI_Xaml_Controls/DropDownButtonTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/BitmapIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/FontIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/IconElement.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/PathIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/SymbolIcon.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Media/DefaultBrushes.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm, area/skia

#12205 chore(droid): remove duplicate using
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: platform/android

#12203 fix!: `SimpleOrientationSensor` should not schedule on `Dispatcher`
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.cs
Labels: platform/android

#12195 fix: Raise OnWindowCreated after Application.Current is set
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Window.cs
Labels: area/automation

#12190 fix: Avoid raising events when recycling TextBox, ToggleSwitch, and ToggleButton
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI.RuntimeTests/Helpers/FeatureConfigurationHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkTemplatePool.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ToggleButton.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ToggleButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch/ToggleSwitch.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch/ToggleSwitch.mux.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePoolDefaultPlatformProvider.cs
Labels: area/automation

#12219 perf: Use memoized FindType instead of SourceFindType
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12223 feat(maps): Restore iOS/Android maps control
  build/Uno.UI.Build.csproj
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.Maps/MapPresenter.Android.cs
  src/Uno.UI.Maps/MapPresenter.iOS.cs
  src/Uno.UI.Maps/Uno.UI.Maps.netcoremobile.csproj
  src/Uno.UI.sln
Labels: platform/android, platform/ios, area/build

#12224 fix!: Avoid directly implementing `ISensorEventListener` on `SimpleOrientationSensor` on Android
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.Android.cs
Labels: platform/android, area/build

#12201 fix!: Timeline shouldn't implement `IDisposable`
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Media/Animation/ColorAnimation.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ColorAnimationUsingKeyFrames.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimation.cs
  src/Uno.UI/UI/Xaml/Media/Animation/DoubleAnimationUsingKeyFrames.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ITimeline.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ObjectAnimationUsingKeyFrames.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Storyboard.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.cs
Labels: area/build

#12241 Updated uno.resizetizer commit
  doc/import_external_docs.ps1
Labels: kind/documentation

#12247 fix(android): Add support for resource resolution for net8+
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12249 fix!: Remove WasmHttpHandler
  src/AddIns/Uno.UI.MSAL/WasmHttpFactory.wasm.cs
  src/SamplesApp/SamplesApp.Shared/Samples/UnitTests/HttpUnitTests.xaml.cs
  src/Uno.Analyzers.Tests/WasmHttpHandlerDeprecatedTests.cs
  src/Uno.Analyzers/WasmHttpHandlerDeprecatedAnalyzer.cs
  src/Uno.UI.Runtime.WebAssembly/WasmHttpHandler.cs
  src/Uno.UI/LinkerDefinition.Wasm.xml
  src/Uno.UI/ts/HttpClient.ts
Labels: platform/wasm, area/automation

#12227 Misc breaking changes
  build/PackageDiffIgnore.xml
  src/Uno.UI.Composition/Composition/KeyFrameAnimation.cs
  src/Uno.UI/Extensions/ViewExtensions.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/NavigationView.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NavigationView/NavigationView.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RadioButtons/ColumnMajorUniformToLargestGridLayout.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RadioMenuFlyoutItem/RadioMenuFlyoutItem.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/GeneratorPosition.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollBarVisibility.cs
  src/Uno.UI/UI/Xaml/Controls/TextWrapping.cs
  src/Uno.UI/UI/Xaml/CornerRadius.cs
  src/Uno.UI/UI/Xaml/Data/BindingMode.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyChangedEventArgs.cs
  src/Uno.UI/UI/Xaml/Duration.cs
  src/Uno.UI/UI/Xaml/GridLength.cs
  src/Uno.UI/UI/Xaml/Media/Animation/EasingFunctionBase.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/EntranceThemeTransition.cs
  src/Uno.UI/UI/Xaml/Media/Animation/KeyTime.cs
  src/Uno.UI/UI/Xaml/Media/Animation/RepeatBehavior.cs
  src/Uno.UI/UI/Xaml/Media/Matrix.cs
  src/Uno.UI/UI/Xaml/Media/MatrixTransform.cs
  src/Uno.UI/UI/Xaml/Media/Media3D/Matrix3D.cs
  src/Uno.UI/UI/Xaml/TemplatePartAttribute.cs
  src/Uno.UI/UI/Xaml/Thickness.cs
  src/Uno.UWP/ApplicationModel/Appointments/Appointment.cs
  src/Uno.UWP/ApplicationModel/Appointments/AppointmentStore.Android.cs
  src/Uno.UWP/ApplicationModel/PackageId.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/System/VirtualKey.cs
Labels: platform/android, platform/ios, area/build

#12256 fix: Ensure theme is initialized before UI
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Application.net.cs
  src/Uno.UI/UI/Xaml/Application.netstdref.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia

#11792 fix(iOS): ComboBox Popup location when displayed on a Modal
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
Labels: platform/android, platform/macos, platform/ios

#12243 fix: Fix a case where fuzzy matching was missing
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
Labels: area/code-generation

#12111 fix!: Lottie breaking changes
  build/PackageDiffIgnore.xml
  src/AddIns/Uno.UI.Lottie/LottieVisualOptions.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.Skottie.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.iOSmacOS.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.Android.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.wasm.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceProvider.cs
  src/AddIns/Uno.UI.Lottie/ThemableLottieVisualSource.Android.cs
  src/AddIns/Uno.UI.Lottie/ThemableLottieVisualSource.Properties.cs
  src/AddIns/Uno.UI.Lottie/ThemableLottieVisualSource.cs
  src/SamplesApp/UITests.Shared/Lottie/LottieProgressPage.xaml
  src/Uno.UI.Tests/Lottie/Given_DynamicReloadedLottieAnimatedVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedVisualPlayer/ILottieVisualSourceProvider.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.xaml
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/AnimatedVisualPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/AnimatedVisualPlayer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/IAnimatedVisualSource.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/IThemableAnimatedVisualSource.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
  src/Uno.WinUIRevert/Program.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/build, area/automation

#12270 chore: Adjust assets location to stable hostname
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/WebViewTests/UnoSamples_Test_NavigateToString.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_AnchorNavigation.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/BitmapImage_vs_SvgImageSource.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_AnchorNavigation.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/Ellipse.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_StreamSource.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Streams/Given_RandomAccessStreamReference.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
Labels: area/automation

#12263 chore: update toolkit doc commit hash reference
  doc/import_external_docs.ps1
Labels: kind/documentation

#12228 feat(svg): [Wasm] Add support for ms-appdata
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_FromMsAppData.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_FromMsAppData.xaml.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.wasm.cs
Labels: platform/wasm, area/automation

#12268 fix!: Remove focus-related properties from `Control` on WinUI-flavored builds
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/Control/Control.FocusMixins.cs
Labels: area/build

#12267 fix!: Delete BackButton on iOS
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/Button/BackButton.iOS.cs
Labels: platform/ios, area/build

#12172 fix(pointers): [Skia] fix pointer dispatch
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/Uno.Foundation/Rect.cs
  src/Uno.UI.RuntimeTests/Extensions/RectExtensions.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Core/Given_InputManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_VisualTreeHelper.cs
  src/Uno.UI.Toolkit/AssemblyInfo.cs
  src/Uno.UI.Toolkit/RectExtensions.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/Media/MatrixTransform.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
  src/Uno.UWP/Extensions/Matrix3x2Extensions.cs
  src/Uno.UWP/Extensions/RectExtensions.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InputInjector.cs
Labels: platform/android, platform/macos, platform/ios, area/automation

#12266 fix!: Remove `ToggleButton.OnIsCheckedChanged`
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/Primitives/ToggleButton.cs
Labels: area/build

#12197 fix!: Remove `ResourcesService` and `ResourceHelper`
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Services/Given_ResourceService.cs
  src/Uno.UI/Services/ResourceService.iOSmacOS.cs
  src/Uno.UI/Services/ResourcesService.Android.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.iOS7.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyout.iOS8.iOS.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UI/UI/Xaml/ResourceHelper.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs
Labels: platform/android, platform/macos, platform/ios, area/build

#12248 fix!: Move `Name` and `NameProperty` from `UIElement` to `FrameworkElement`
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.netstdref.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.netstdref.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: platform/wasm, area/skia, area/build

#12070 fix: Remove implicit conversion from string to Point
  build/PackageDiffIgnore.xml
  src/Uno.Foundation/Point.cs
  src/Uno.UI.Tests/Foundation/Given_Point.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarLayoutStrategy_Partial.cs
Labels: area/build, area/automation

#12303 fix(skia): UIElement.KeyDown firing twice per input
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.Keyboard.cs
Labels: area/skia

#12276 fix!: LoadContent should be on DataTemplate rather than FrameworkTemplate
  build/PackageDiffIgnore.xml
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsPanelTemplate.cs
  src/Uno.UI/UI/Xaml/DataTemplate.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplate.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePool.cs
  src/Uno.UI/UI/Xaml/IFrameworkTemplateInternal.cs
Labels: area/build, area/automation

#12294 fix!: Change `Measure`/`Arrange` to not be virtual
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.net.cs
Labels: area/build

#12113 fix!: Move MenuBar to MUX namespace
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MenuBarTests/SimpleMenuBar.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_Implicit_Style.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/MenuBarAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/MenuBarItemAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/MenuBar.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/MenuBarItem.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/MenuBarItemFlyout.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation.Peers/MenuBarAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation.Peers/MenuBarItemAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/MenuBar.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/MenuBarItem.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/FlyoutLocation.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBar.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBar.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBarItem.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBarItem.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBarItem.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBarItemAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBarItemFlyout.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/MenuBar_themeresources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/MenuBar/NativeMenuBarPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/MenuBar/FlyoutLocation.cs
  src/Uno.UI/UI/Xaml/Controls/Unsupported/MenuBar.cs
  src/Uno.UI/UI/Xaml/Controls/Unsupported/MenuBarAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/Unsupported/MenuBarItem.cs
  src/Uno.UI/UI/Xaml/Controls/Unsupported/MenuBarItemAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/Unsupported/MenuBarItemFlyout.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
  src/Uno.UWPSyncGenerator/Generator.cs
Labels: platform/macos, area/build, area/automation

#12058 fix(android)!: Fix AnalyticsInfo.DeviceForm returning mobile instead of tablet
  src/Uno.UWP/System/Profile/AnalyticsInfo.Android.cs
Labels: platform/android

#12309 fix: [Android] fix android transformtovisual
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.TransformToVisual.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: platform/android

#12328 docs: Update figma documentation
  doc/import_external_docs.ps1
Labels: kind/documentation

#12340 docs: update tfm flag usage
  doc/articles/get-started-dotnet-new.md
Labels: kind/documentation

#12317 ci: Adjust nuget authors and owners
  build/Uno.Foundation.Logging.nuspec
  build/Uno.WinUI.Lottie.nuspec
  build/Uno.WinUI.MSAL.nuspec
  build/Uno.WinUI.MediaPlayer.WebAssembly.nuspec
  build/Uno.WinUI.RemoteControl.Messaging.nuspec
  build/Uno.WinUI.RemoteControl.nuspec
  build/Uno.WinUI.Skia.Gtk.nuspec
  build/Uno.WinUI.Skia.Linux.FrameBuffer.nuspec
  build/Uno.WinUI.Skia.Wpf.nuspec
  build/Uno.WinUI.Svg.nuspec
  build/Uno.WinUI.WebAssembly.nuspec
  build/Uno.WinUI.nuspec
  build/ci/.azure-devops-unit-tests.yml
  doc/articles/faq.md
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Windows.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/Common/GlobalAssemblyInfo.cs
  src/Directory.Build.props
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.netcoremobile.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.WebAssembly/Uno.UI.Runtime.WebAssembly.csproj
Labels: platform/wasm, area/solution-templates, area/skia, area/build, kind/documentation

#12353 fix: avoid calls to CGColorCreateSRGB before iOS13
  src/Uno.UWP/UI/Color.iOS.cs
  src/Uno.UWP/UI/Color.macOS.cs
Labels: platform/macos, platform/ios

#12264 fix(reg): Fix pointer capture broken on Firefox
  src/Uno.UI/UI/Xaml/Input/Pointer.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.wasm.cs
  src/Uno.UI/UI/Xaml/Internal/RootVisual.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UWP/Devices/Input/PointerIdentifier.cs
  src/Uno.UWP/Devices/Input/PointerIdentifierPool.cs
Labels: platform/wasm

#12246 fix: dispatch setting of visibleboundspadding insets
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Toolkit/Given_VisibleBoundsPadding.cs
  src/Uno.UI/Behaviors/VisibleBoundsPadding.cs
  src/Uno.UI/Extensions/InsetsExtensions.Android.cs
  src/Uno.UI/Extensions/ViewHelper.Android.cs
  src/Uno.UI/LayoutProvider.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: platform/android, area/automation

#12406 fix: Update Uno.Fonts.Fluent to get latest glyph fixes
  build/Uno.WinUI.nuspec
Labels: area/build

#12412 chore: Disable linker in debug for the Wasm Samples App to have a faster build
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
Labels: area/automation

#12411 docs(ngnix): added fallback routes nginx example
  doc/articles/how-to-host-a-webassembly-app.md
Labels: kind/documentation

#12391 feat(wasm): Support ms-appdata for Image
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.wasm.cs
Labels: platform/wasm

#12372 Multiple MediaPlayerElement controls on the same page
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/HtmlMediaPlayer.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/HtmlVideo.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerExtension.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Multiple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Multiple.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
Labels: area/automation

#12417 Revert "fix: dispatch setting of visibleboundspadding insets"
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Toolkit/Given_VisibleBoundsPadding.cs
  src/Uno.UI/Behaviors/VisibleBoundsPadding.cs
  src/Uno.UI/Extensions/InsetsExtensions.Android.cs
  src/Uno.UI/Extensions/ViewHelper.Android.cs
  src/Uno.UI/LayoutProvider.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: platform/android, area/automation

#12420 docs: Update uwp-vs-winui3.md
  doc/articles/uwp-vs-winui3.md
Labels: kind/documentation

#12198 Support for MediaPlayerElement/MediaPlayer - SKIA
  global.json
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GTKMediaPlayer.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GTKMediaPlayer.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerPresenterExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/VideoView.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerExtension.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Skia.Gtk/Program.cs
  src/SamplesApp/SamplesApp.Skia.Gtk/Properties/launchSettings.json
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Multiple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Multiple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original.xaml.cs
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.cs
  src/Uno.UI.sln
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerElement.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.MediaPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
  src/Uno.UWP/Media/Playback/IMediaPlayerExtension.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.others.cs
Labels: area/skia, area/automation

#12418 fix(ContentControl): set Content null when using ComboBox
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentControlTestsControl/ContentControlTestViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentControlTestsControl/ContentControl_ComboBoxSetNull.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentControlTestsControl/ContentControl_ComboBoxSetNull.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
Labels: area/automation

#12390 perf: Misc bindings IV
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/WasmWebUi.wasm.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.Interop.wasm.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.Interop.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/Clipboard.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.Interop.wasm.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.wasm.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.Interop.wasm.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
  src/Uno.UWP/Networking/Connectivity/ConnectionProfile.Interop.wasm.cs
  src/Uno.UWP/Networking/Connectivity/ConnectionProfile.wasm.cs
  src/Uno.UWP/Security/Authentication/Web/WebAuthenticationBrokerProvider.wasm.cs
  src/Uno.UWP/Storage/CachedFileManager.Interop.wasm.cs
  src/Uno.UWP/Storage/CachedFileManager.wasm.cs
  src/Uno.UWP/Storage/Helpers/AssetsManager.Interop.wasm.cs
  src/Uno.UWP/Storage/Helpers/AssetsManager.wasm.cs
  src/Uno.UWP/Storage/Pickers/FileSavePicker.Interop.wasm.cs
  src/Uno.UWP/System/Display/DisplayRequest.Interop.wasm.cs
  src/Uno.UWP/System/Display/DisplayRequest.wasm.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.Interop.wasm.cs
  src/Uno.UWP/System/Profile/AnalyticsInfo.wasm.cs
  src/Uno.UWP/UI/Core/CoreWindow.Interop.wasm.cs
  src/Uno.UWP/UI/Core/CoreWindow.wasm.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdater.Interop.wasm.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdater.wasm.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.Interop.wasm.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.wasm.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationViewTitleBar.Interop.wasm.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationViewTitleBar.wasm.cs
Labels: platform/wasm

#12216 feat(xamlIsland): Unify initialization of pointer for skia and skia XAML island
  build/PackageDiffIgnore.xml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestMethodInfo.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Gtk/Hosting/XamlRootMap.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.Mouse.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.Touch.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.Mouse.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.Touch.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Tizen/TizenHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Input/PointerExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Hosting/XamlRootMap.cs
  src/Uno.UI.Runtime.Skia.Wpf/IWpfHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/HostPointerHandler.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfCoreWindowExtension.Keyboard.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Core/Given_InputManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.host.cs
  src/Uno.UI/Controls/Window.macOS.cs
  src/Uno.UI/Runtime/PointerInputSource.macOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Hosting/DesktopWindowXamlSource.cs
  src/Uno.UI/UI/Xaml/Input/Internal/IPointerExtension.cs
  src/Uno.UI/UI/Xaml/Internal/ContentRoot.cs
  src/Uno.UI/UI/Xaml/Internal/ContentRoot.uno.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.cs
  src/Uno.UI/UI/Xaml/Internal/Islands/XamlIslandRoot.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.Managed.cs
  src/Uno.UI/UI/Xaml/Window.macOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/CoreWindow.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/ICorePointerInputSource.cs
  src/Uno.UWP/System/ICorePointerInputSource.cs
  src/Uno.UWP/UI/Core/CoreWindow.Pointers.Managed.cs
  src/Uno.UWP/UI/Core/CoreWindow.cs
  src/Uno.UWP/UI/Core/CoreWindow.macOS.cs
  src/Uno.UWP/UI/Core/CoreWindow.skia.cs
  src/Uno.UWP/UI/Core/ICoreWindowEvents.cs
  src/Uno.UWP/UI/Core/ICoreWindowExtension.cs
  src/Uno.UWP/UI/Input/Preview.Injection/IInputInjectorTarget.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InputInjector.cs
Labels: platform/macos, area/skia, area/build, area/automation

#12439 MediaPlayerElement - Update Documentation
  doc/articles/controls/MediaPlayerElement.md
Labels: kind/documentation

#12442 fix!: Cleanup ResourceResolverSingleton
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.cs
  src/Uno.UI/UI/Xaml/Documents/Hyperlink.wasm.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
  src/Uno.UI/UI/Xaml/ResourceResolverSingleton.cs
Labels: platform/wasm, area/build

#12436 fix!: Make OnImageOpened `private` instead of `protected virtual`
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
Labels: area/build

#12447 fix(media): adjust packaging for Skia.Gtk
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.MediaPlayer.Skia.Gtk.nuspec
  src/Directory.Build.props
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/MediaTransportControls_themeresources.xaml
Labels: area/build

#12427 fix: Set BitmapSource's PixelWidth/PixelHeight properly
  src/Uno.UI.Composition/Composition/SkiaCompositionSurface.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI/Extensions/UIImageExtensions.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapSource.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUI.iOS.cs
  src/Uno.UWPSyncGenerator.Reference/references.txt
Labels: platform/android, platform/macos, platform/ios, area/skia, kind/documentation

#12407 fix: Respect Exif orientation when displaying images on Android
  src/SamplesApp/UITests.Shared/Assets/testimage_exif_rotated.jpg
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Imaging/PickImageFromFile.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Imaging/PickImageFromFile.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UWP/Storage/StorageFile.Base.cs
Labels: platform/android, area/automation

#12444 fix: Android Window/VisibleBounds calc
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Toolkit/Given_VisibleBoundsPadding.cs
  src/Uno.UI/Behaviors/VisibleBoundsPadding.cs
  src/Uno.UI/Extensions/InsetsExtensions.Android.cs
  src/Uno.UI/Extensions/ViewHelper.Android.cs
  src/Uno.UI/LayoutProvider.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: platform/android

#12481 Update docs playlist
  doc/articles/controls/MediaPlayerElement.md
Labels: kind/documentation
