Repository unoplatform/uno, pull requests merged in 2023-12, with the labels that each got.

#14622 docs: add cli instructions for creating repro sample
  doc/articles/uno-howto-create-a-repro.md
Labels: kind/documentation

#14630 fix: avoid creating disconnected native commandbars on load
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarFirstPage.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarFirstPage.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarSecondPage.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarSecondPage.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CommandBar.cs
  src/Uno.UI/Controls/CommandBar/CommandBarNavigationItemRenderer.iOS.cs
  src/Uno.UI/Controls/CommandBar/CommandBarRenderer.iOS.cs
  src/Uno.UI/Controls/CommandBar/NativeCommandBarPresenter.iOS.cs
  src/Uno.UI/Controls/Renderer.cs
Labels: platform/ios 🍎

#14648 fix: avoid creating disconnected native commandbars on load
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarFirstPage.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarFirstPage.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarSecondPage.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarPages/CommandBarSecondPage.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CommandBar.cs
  src/Uno.UI/Controls/CommandBar/CommandBarNavigationItemRenderer.iOS.cs
  src/Uno.UI/Controls/CommandBar/CommandBarRenderer.iOS.cs
  src/Uno.UI/Controls/CommandBar/NativeCommandBarPresenter.iOS.cs
  src/Uno.UI/Controls/Renderer.cs
Labels: platform/ios 🍎

#14638 docs: Fix localization link
  doc/articles/getting-started/wizard/extensions.md
Labels: kind/documentation

#14636 docs: add paid support as an option in FAQs
  doc/articles/faq.md
Labels: kind/documentation

#14595 fix(pipspager): fix pipspager to show pips correctly when MaxVisiblePips < NumberOfPages
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_PipsPager.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PipsPager/PipsPager.cs
Labels: ready-to-merge

#14643 chore: Disable flaky `TestTextBoxTap` on WASM
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
Labels: area/automation

#14657 feat: Add support for quicky opening searched Sample in SamplesApp
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml.cs
Labels: area/automation

#14685 docs: Update C# DevKit section of VSCode getting started
  doc/articles/Assets/quick-start/vs-code-useOmniSharp.png
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#14681 docs: Update gtk setup
  doc/articles/features/using-skia-gtk.md
  doc/articles/get-started-vs-2022.md
Labels: kind/documentation

#14677 docs: Fix broken links
  doc/articles/get-started-next-steps.md
Labels: kind/documentation

#14686 docs: update toolkit docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#14667 fix(Selector): ItemsSource after SelectedItem
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
Labels: ready-to-merge

#14698 docs: Update wizard net8 as default
  doc/articles/getting-started/wizard/assets/framework.jpg
  doc/articles/getting-started/wizard/assets/intro.jpg
  doc/articles/getting-started/wizard/framework.md
Labels: kind/documentation

#14696 fix(commandbar): Avoid NSObject_Disposer:Drain with custom AppBar content (bp #14695)
  src/Uno.UI/Controls/CommandBar/CommandBarNavigationItemRenderer.iOS.cs
Labels: platform/ios 🍎

#14618 New docs styling
  doc/gulpfile.js
  doc/package-lock.json
  doc/package.json
  doc/templates/uno/component/affix.scss
  doc/templates/uno/component/breakpoints.scss
  doc/templates/uno/component/navbar.js
  doc/templates/uno/component/navbar.scss
  doc/templates/uno/component/sidebar.js
  doc/templates/uno/main.js
  doc/templates/uno/main.scss
  doc/templates/uno/service/search.scss
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/docfx.js.map
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.css.map
  doc/templates/uno/styles/main.js
  doc/templates/uno/styles/main.js.map
  doc/templates/uno/variables.scss
Labels: kind/documentation

#14580 docs: Updating Wizard/Template information
  doc/articles/Assets/solution-structure.png
  doc/articles/getting-started/wizard/application.md
  doc/articles/getting-started/wizard/authentication.md
  doc/articles/getting-started/wizard/cipipeline.md
  doc/articles/getting-started/wizard/extensions.md
  doc/articles/getting-started/wizard/features.md
  doc/articles/getting-started/wizard/framework.md
  doc/articles/getting-started/wizard/markup.md
  doc/articles/getting-started/wizard/platforms.md
  doc/articles/getting-started/wizard/presentation.md
  doc/articles/getting-started/wizard/startup.md
  doc/articles/getting-started/wizard/testing.md
  doc/articles/getting-started/wizard/themes.md
  doc/articles/getting-started/wizard/using-wizard.md
  doc/articles/toc.yml
  doc/articles/uno-app-solution-structure.md
Labels: area/build, kind/documentation

#14675 fix: Ensure LoadCompleted is fired on UI thread
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_CompositionNineGridBrush.cs
  src/Uno.UI/UI/Xaml/Media/LoadedImageSurface.skia.cs
Labels: area/skia ✏️

#14695 fix(commandbar): Avoid NSObject_Disposer:Drain with custom AppBar content
  src/Uno.UI/Controls/CommandBar/CommandBarNavigationItemRenderer.iOS.cs
Labels: platform/ios 🍎

#14687 Dev/xygu/20231204/docs-misc-fixes
  doc/articles/contributing/guidelines/creating-tests.md
  doc/articles/controls/Flyout.md
  doc/articles/controls/Popup.md
  doc/articles/controls/ToggleSwitch.md
  doc/articles/controls/map-control-support.md
  doc/articles/cross-targeted-libraries.md
  doc/articles/features/fluent-styles.md
  doc/articles/features/vscode-advanced-mobile-debugging.md
  doc/articles/guides/silverlight-migration/98-timeentry-samples.md
  doc/articles/howto-use-uno-in-xamarin-forms.md
  doc/articles/native-views.md
  doc/articles/uno-development/creating-runtime-tests.md
  doc/articles/uno-development/creating-ui-tests.md
Labels: kind/documentation

#14715 docs: Update supported-features.md
  doc/articles/supported-features.md
Labels: kind/documentation

#14711 docs: Update working-with-strings.md
  doc/articles/features/working-with-strings.md
Labels: kind/documentation

#14723 docs: Improve feature docs and TOC
  doc/articles/features/windows-applicationmodel.md
  doc/articles/features/windows-phone-devices-notification-vibrationdevice.md
  doc/articles/features/windows-system-display.md
  doc/articles/features/windows-system-power.md
  doc/articles/features/windows-system-profile.md
  doc/articles/features/windows-system-userprofile.md
  doc/articles/features/windows-system.md
  doc/articles/features/windows-ui-markup-extensions.md
  doc/articles/features/windows-ui-notifications.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14727 chore: Update to updated Figma docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#14728 Update old school Splash screen docs
  doc/articles/splash-screen.md
Labels: kind/documentation

#14743 docs: Update pull-requests.md
  doc/articles/contributing/guidelines/pull-requests.md
Labels: kind/documentation

#14742 docs: Update NuGet link to Uno.WinUI
  doc/articles/contributing/build-artifacts.md
Labels: kind/documentation

#14733 chore: Move to docfx dotnet tool
  build/Uno.UI.Build.csproj
  build/convert-sourcetree-to-winui.cmd
  build/run-doc-generation.cmd
Labels: area/build

#14737 x:Bind to event in `ResourceDictionary`
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentControl.cs
  src/Uno.UI.Tests/App/App.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/XBind_ResourceDictionary.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/XBind_ResourceDictionary.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/XBind_ResourceDictionary_Control.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI/UI/Xaml/IFrameworkElement.cs
Labels: area/code-generation, area/automation

#14624 feat: InstanceTracker for FrameworkTemplatePool
  src/Uno.UI/UI/Xaml/FrameworkTemplatePool.InstanceTracker.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePool.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: platform/wasm 🌐, area/skia ✏️

#14676 Add XAML source location information to more elements - this is to aid debugging
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/IXamlLocation.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/NameScope.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Subclass.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlMemberDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlObjectDefinition.cs
Labels: area/code-generation

#14762 docs: adv visual-tree debugging tech
  doc/articles/uno-development/assets/debugging-inspect-visual-tree/tree-graph.png
  doc/articles/uno-development/debugging-inspect-visual-tree.md
Labels: kind/documentation

#14776 docs: Update get-started-dotnet-new
  doc/articles/get-started-dotnet-new.md
Labels: kind/documentation

#14780 docs: Update working-with-animations
  doc/articles/features/working-with-animations.md
Labels: kind/documentation

#14778 docs: Update feature-flags
  doc/articles/feature-flags.md
Labels: kind/documentation

#14779 docs: Update signalr.md
  doc/articles/signalr.md
Labels: kind/documentation

#14758 docs: Update how-uno-works
  doc/articles/how-uno-works.md
Labels: kind/documentation

#14793 feat: update docs website menu style
  doc/templates/uno/component/navbar.scss
  doc/templates/uno/styles/docfx.js.map
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.css.map
  doc/templates/uno/styles/main.js.map
Labels: kind/documentation

#14132 fix(wasm): Prevent browser from stealing pointer events for None ManipulationModes
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
Labels: platform/wasm 🌐

#14803 docs: Update wording, toc
  doc/articles/get-started-explore.md
  doc/articles/get-started-rider.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-vscode.md
  doc/articles/native-views.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14787 docs: Adjust passwordvault catalyst
  doc/articles/features/PasswordVault.md
Labels: kind/documentation

#14814 docs: sync vscode debug with new templates
  doc/articles/create-an-app-vscode.md
Labels: kind/documentation

#14521 fix(xbind): Fix x:Bind not working properly for private properties
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Functions_Control.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Functions_Control.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Functions.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
Labels: area/automation

#14812 docs: Improve `NetworkInformation` page
  doc/articles/features/windows-networking.md
Labels: kind/documentation

#14821 docs: Update platform-specific-csharp.md
  doc/articles/platform-specific-csharp.md
Labels: kind/documentation

#14287 feat: Add font fallback support on Skia
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_FontFallback.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/TextBlock_FontFallback.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Documents/Given_Run.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
Labels: area/skia ✏️, area/automation

#14828 chore: Adjust overview for root expansion issue
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14834 chore: Bump Xamarin.UITests
  build/test-scripts/ios-uitest-run.sh
  src/Directory.Build.targets
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MediaPlayerElement.cs
Labels: area/build

#14501 fix: Consider Canvas.Left/Top as independent animation
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/Canvas_DependentAnimation.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/Canvas_DependentAnimation.xaml.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.cs
Labels: area/automation

#14838 fix(iOS): CameraCaptureUI cancel action
  src/Uno.UWP/Media/Capture/CameraCaptureUI.iOS.cs
Labels: platform/ios 🍎

#14813 docs: Update `Compass` to include more Android specifics
  doc/articles/features/compass.md
Labels: kind/documentation

#14817 feat: Adding reloadcompleted callback
  doc/articles/uno-development/uno-internals-hotreload.md
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/MetadataUpdater/ElementUpdaterAgent.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_Frame.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/TestingUpdateHandler.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Uno.UI.RuntimeTests.HRApp.Skia.Gtk.csproj
Labels: kind/documentation, area/hot-reload

#14404 fix: gtk pointer event coordinates
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/Pointer_Coordinates.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/Pointer_Coordinates.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
Labels: area/skia ✏️, area/automation

#14492 fix: Fix measuring MPE
  build/PackageDiffIgnore.xml
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GtkMediaPlayer.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GtkMediaPlayer.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerExtension.events.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/MediaPlayerPresenterExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/MediaPlayerPresenterExtension.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/IMediaPlayerPresenterExtension.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerElement.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerPresenter.Others.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaPlayerPresenter.iOSmacOS.cs
  src/Uno.UWP/Media/Playback/IMediaPlayerEventsExtension.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Events.others.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/build

#14750 fix(xamlgen): MarkupExtensions parser context
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/MarkupExtension_ParserContext.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/MarkupExtensionTests/Controls/Attachable.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/MarkupExtensionTests/Controls/DebugMarkupExtension.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/MarkupExtensionTests/Controls/When_AttachedDP_Markup_Setup.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/MarkupExtensionTests/Controls/When_AttachedDP_Markup_Setup.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/MarkupExtensionTests/Controls/When_DP_Markup_Setup.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/MarkupExtensionTests/Controls/When_DP_Markup_Setup.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/MarkupExtensionTests/Given_MarkupExtension.cs
Labels: do-not-merge/work-in-progress, area/code-generation, area/automation

#14831 fix(droid): FileOpenPicker ignoring suggested PicturesLibrary
  doc/articles/features/windows-storage-pickers.md
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.Android.cs
Labels: platform/android 🤖, kind/documentation

#14861 docs: update mac catalyst naming
  doc/articles/common-issues-ioscatalyst.md
  doc/articles/features/vscode-advanced-mobile-debugging.md
  doc/articles/getting-started/wizard/platforms.md
  doc/articles/getting-started/wizard/startup.md
  doc/articles/uno-app-solution-structure.md
Labels: kind/documentation

#14868 docs: Align existing splash screen info, minor docs updates
  build/cSpell.json
  doc/articles/features/file-management.md
  doc/articles/features/working-with-assets.md
  doc/articles/splash-screen.md
  doc/articles/toc.yml
  doc/articles/uno-samples.md
Labels: area/build, kind/documentation

#14837 docs: update uno.extension docs
  doc/articles/common-issues-vs2022.md
  doc/articles/features/using-linux-framebuffer.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/wizard/presentation.md
  doc/articles/guides/hotswap-app-language.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#14862 chore: Adjust wasm tests container shared memory
  .vsts-ci.yml
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-wasm-uitests.yml
  build/test-scripts/wasm-run-automated-uitests.sh
  src/SamplesApp/SamplesApp.UITests/RuntimeTests.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.Wasm/WasmScripts/TestRunner.js
  src/Uno.NUnitTransformTool/Program.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.cs
  src/Uno.UI.RuntimeTests/MUX/Helpers/EventTester.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
Labels: area/build, area/automation

#14875 docs: Reorder the community toolkit docs
  doc/articles/uno-community-toolkit.md
Labels: kind/documentation

#14880 docs: Update the Workshops documentation to fix the SimpleCalc modules links
  doc/import_external_docs.ps1
Labels: kind/documentation

#14815 docs: update vscode docs for devkit compatibility
  doc/articles/Assets/quick-start/vs-code-preferCSharpExtension.png
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-vscode-devkit.md
  doc/articles/get-started-vscode-omnisharp.md
  doc/articles/get-started-vscode.md
  doc/articles/toc.yml
Labels: do-not-merge/work-in-progress, area/build, kind/documentation

#14866 docs: Update Fluent styles docs
  doc/articles/features/using-winui2.md
  doc/articles/toc.yml
  doc/articles/using-uno-ui.md
  doc/articles/uwp-vs-winui3.md
Labels: area/build, kind/documentation

#14617 fix: Android/iOS ComboBox selection not reflecting
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_ItemsSource.xaml
  src/Uno.UI.RuntimeTests/MUX/Utilities/TestHelpers.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
Labels: area/automation

#14678 feat(textblock): IsTextTrimmed & IsTextTrimmedChanged
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, ready-to-merge

#14888 chore: fix typo (missing space between words)
  doc/articles/features/working-with-codespaces.md
Labels: kind/documentation

#14882 docs: Update linux ubuntu setup directives
  doc/articles/use-uno-check-inline-linux-noheader.md
Labels: kind/documentation

#14371 feat(textbox + textblock): TextBox Undo/Redo, TextBlock selection, rendering fixes and major cleanup
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkKeyboardInputSource.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.Mouse.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.Touch.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfKeyboardInputSource.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Button.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBlock.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/TextBox.cs
  src/Uno.UI/Helpers/InputHelper.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/IBlock.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/RenderSegmentSpan.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/Segment.skia.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InjectedInputPointerInfo.cs
Labels: area/skia ✏️

#14891 docs: fix migration document typos
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#14896 docs: .NET 8 upgrade
  build/cSpell.json
  doc/articles/features/resources-trimming.md
  doc/articles/migrating-from-net7-to-net8.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/migrating-to-uno-5.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14897 ci: Fail signing step on signing failure
  build/sign-package.ps1
Labels: area/build

#14616 fix(TreeView): raise DragItemsCompleted when dragging items is completed
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/DragAndDropTests/DragDrop_TreeView_Reorder_Automated.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_TreeView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_TreeView.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.DragDrop.cs
Labels: area/automation

#14909 test: Get source gen tests to run in WinUI tree
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyPropertyGeneratorTests/Given_DependencyPropertyGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/ImplementedRoutedEventsGeneratorTests/Given_ImplementedRoutedEventsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_AttachedPropertyWithNoFuzzyMatching.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
Labels: area/code-generation

#14885 docs: Update localization to include WinUI 3 specifics
  build/cSpell.json
  doc/articles/guides/localization.md
Labels: area/build, kind/documentation

#14910 Gitpod update
  .gitpod.yml
  build/gitpod/.gitpod.Dockerfile
  build/gitpod/build-skia.sh
  build/gitpod/build-wasm.sh
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/SamplesApp.Skia.Linux.FrameBuffer.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/UnoIslands.Skia.Wpf/UnoIslands.Skia.Wpf.csproj
  src/Uno.UI.FluentTheme.v1/FluentMerge.targets
  src/Uno.UI.FluentTheme.v2/FluentMerge.targets
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
Labels: area/build, area/automation

#14917 docs: Update Extensions to include MAUI embedding Documentation fixes
  doc/import_external_docs.ps1
Labels: kind/documentation

#14915 chore: Bump updated uno-check docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#14870 perf: StatusBar fixes
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.Android.cs
Labels: platform/android 🤖

#14867 docs(figma): New Get Started section in Figma docs
  doc/articles/toc.yml
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#14941 chore: Update cSpell.json to fix CI failure
  build/cSpell.json
Labels: ready-to-merge, area/build
