Repository unoplatform/uno, pull requests merged in 2023-02, with the labels that each got.

#11121 fix: Restore ElevatedView support for WinAppSDK
  build/uno.winui.winappsdk.targets
Labels: area/build

#11085 fix(template): Move app.xaml.cs to shared "AppBase"
  doc/articles/Assets/solution-structure.png
  doc/articles/Assets/tutorial01/create-models-folder.png
  doc/articles/Uno-UI-Performance.md
  doc/articles/controls/ComboBox.md
  doc/articles/controls/TimePicker.md
  doc/articles/controls/map-control-support.md
  doc/articles/features/fluent-styles.md
  doc/articles/features/native-frame-nav.md
  doc/articles/features/protocol-activation.md
  doc/articles/features/resources-trimming.md
  doc/articles/features/uno-material.md
  doc/articles/features/using-linux-framebuffer.md
  doc/articles/features/windows-storage-pickers.md
  doc/articles/features/working-with-accessibility.md
  doc/articles/features/working-with-assets.md
  doc/articles/features/working-with-themes.md
  doc/articles/guides/localization.md
  doc/articles/guides/native-frame-nav-tutorial.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
  doc/articles/guides/silverlight-migration/03-review-app-startup.md
  doc/articles/guides/silverlight-migration/04-migrate-home-page-xaml-and-styles.md
  doc/articles/guides/silverlight-migration/05-string-resources.md
  doc/articles/guides/silverlight-migration/10-implementing-singleton-token-service.md
  doc/articles/guides/status-bar-theme-color.md
  doc/articles/guides/uno-cupertino-walkthrough.md
  doc/articles/guides/uno-material-walkthrough.md
  doc/articles/migrating-apps.md
  doc/articles/native-styles.md
  doc/articles/uno-app-solution-structure.md
  doc/articles/uno-development/debugging-inspect-visual-tree.md
  doc/articles/uno-development/troubleshooting-memory-issues.md
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Base/App.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Base/AppHead.xaml
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Base/AppHead.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Base/Base.winui.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Base/base.props
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/Android/Main.Android.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/MacCatalyst/Main.maccatalyst.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/iOS/Main.iOS.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/macOS/Main.macOS.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Gtk/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Linux.FrameBuffer/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.WPF/Wpf/MainWindow.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/UnoSolutionTemplate.WinUI.netcore.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/App.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/AppResources.xaml
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/Views.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/Program.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: platform/android, platform/macos, platform/ios, area/solution-templates, area/code-generation, kind/documentation

#11101 chore(NumberBox): Update from latest MUX sources
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/NumberBoxTests/Given_NumberBox.Uno.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/NumberBoxTests/NumberBoxPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/NumberBoxTests/NumberBoxPage.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/NumberBox/NumberBoxTests.cs
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.ResourceKeys.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.cs
Labels: area/automation

#11145 chore: Bump to latest stable for Uno.Fonts.Fluent
  build/Uno.WinUI.nuspec
  src/Directory.Build.targets
Labels: kind/dependency, area/build

#11175 docs: Adjust toc for single target solution
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#11162 fix!: `ElevatedView` shouldn't have CornerRadius as it exists in the base Control class.
  build/PackageDiffIgnore.xml
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
Labels: area/build

#11167 fix!: Remove `Windows.Foundation.HResult`
  build/PackageDiffIgnore.xml
  src/Uno.Foundation/HResult.cs
Labels: area/build

#11165 fix!: Remove `Control.GetImplementedRoutedEvents`
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
Labels: area/build

#11170 fix!: Remove `Windows.Storage.Streams.InMemoryBuffer`
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Storage/Streams/InMemoryBuffer.cs
Labels: area/build

#11163 fix!: Remove `Windows.Foundation.IClosable` and `Deferral.Close`
  build/PackageDiffIgnore.xml
  src/Uno.Foundation/Deferral.cs
  src/Uno.Foundation/IClosable.cs
Labels: area/build

#10960 build: Refactor how pages are included
  src/Common_ViewLibraryProps/Globbing.props
  src/Directory.Build.props
  src/Directory.Build.targets
  src/PlatformItemGroups.props
  src/SamplesApp/Benchmarks.Shared/Benchmarks.Shared.projitems
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/SamplesApp.UnitTests.Shared/SamplesApp.UnitTests.Shared.projitems
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UnoIslands.Shared/UnoIslands.Shared.projitems
  src/SolutionTemplate/UnoLibraryTemplate.netcore/UnoLibraryTemplate.netcore.csproj
  src/SolutionTemplate/UnoLibraryTemplate/UnoLibraryTemplate.csproj
  src/SolutionTemplate/UnoSolutionTemplate.VSIX.2019/UnoSolutionTemplate.VSIX.2019.csproj
  src/SolutionTemplate/UnoSolutionTemplate.VSIX.2022/UnoSolutionTemplate.VSIX.2022.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/UnoSolutionTemplate.WinUI.netcore.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/UnoSolutionTemplate.netcore.csproj
  src/SolutionTemplate/UnoSolutionTemplate/UnoSolutionTemplate.csproj
  src/SolutionTemplate/UnoUITestTemplate/UnoUITestTemplate.csproj
  src/SourceGenerators/System.Xaml.Tests.MS/System.Xaml.Tests.MS.csproj
  src/SourceGenerators/System.Xaml.Tests/Uno.Xaml.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Uno.UI.SourceGenerators.netcore.Tests.csproj
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/Uno.CrossTargetting.props
  src/Uno.UI.FluentTheme.v1/FluentMerge.targets
  src/Uno.UI.FluentTheme.v2/FluentMerge.targets
  src/Uno.UI.FluentTheme/FluentMerge.targets
  src/Uno.UI.Maps/Uno.UI.Maps.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.netcoremobile.csproj
  src/Uno.UI.Tests.ViewLibrary/Uno.UI.Tests.ViewLibrary.csproj
  src/Uno.UI.Tests/Uno.UI.Tests.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Reference.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Skia.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Wasm.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.netcoremobile.csproj
  src/Uno.UI/Uno.UI.Reference.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UI/XamlMerge.targets
  src/UnoItemTemplate/UnoItemTemplate.csproj
Labels: area/solution-templates, area/code-generation, area/automation

#6362 Initial support for `ThemeShadow`
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ThemeShadowTests/ThemeShadow_Basic.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ThemeShadowTests/ThemeShadow_Basic.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ThemeShadowTests/ThemeShadow_CornerRadius.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ThemeShadowTests/ThemeShadow_CornerRadius.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ThemeShadowTests/ThemeShadow_Overlap.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ThemeShadowTests/ThemeShadow_Overlap.xaml.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/ShadowState.skia.cs
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/Shadow.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/ThemeShadow.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElementWeakCollection.cs
  src/Uno.UI/UI/Xaml/Media/Shadow.cs
  src/Uno.UI/UI/Xaml/Media/ThemeShadow.cs
  src/Uno.UI/UI/Xaml/UIElement.ThemeShadow.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.ThemeShadow.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/UIElement.ThemeShadow.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.ThemeShadow.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElementWeakCollection.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/automation

#11190 chore(macOS): simplify `DeviceHelper` for net6+
  src/Uno.UWP/Helpers/DeviceHelper.macOS.cs
Labels: platform/macos

#11193 fix!: `Uno.Extensions.UriExtensions` shouldn't be public
  build/PackageDiffIgnore.xml
  src/Uno.Foundation/UriExtensions.cs
Labels: area/build

#11207 chore: Remove unneeded import
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
Labels: area/skia

#11196 fix!: Make `JavaObjectExtensions` internal
  build/PackageDiffIgnore.xml
  src/Uno.Foundation/JavaObjectExtensions.Android.cs
Labels: platform/android, area/build

#11197 fix!: Remove `SetNeedsKeyboard` from macOS
  build/PackageDiffIgnore.xml
  src/Uno.UI/Controls/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.macOS.cs
Labels: platform/macos, area/build

#11192 fix!: Remove CalendarDatePicker._dateChanged
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarDatePicker.Events.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/calendardatepicker_partial.cs
Labels: area/build

#11198 fix!: Remove wrong `GetGeopositionHistoryAsync` overloads from `Geolocator`
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Devices/Geolocation/Geolocator.iOSmacOS.cs
Labels: platform/macos, platform/ios, area/build

#11206 fix: Disallow `ComboBox` popup under translucent status bar
  doc/articles/feature-flags.md
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Base.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.cs
Labels: kind/documentation

#11231 Avoid changing native view in `TextChanged`, trigger `TextChanging` more reliably
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia

#11158 fix(templates): Fix Server project
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uwp-net6/.vsconfig
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.vsconfig
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Server/Program.cs
Labels: area/solution-templates, area/build

#11182 feat(Lamp): Support setting Brightness on Android 13 and later
  src/Uno.UWP/Devices/Lights/Lamp.Android.cs
Labels: platform/android

#11191 fix: bump minimum macOS version for SampleApp
  src/SamplesApp/SamplesApp.netcoremobile/MacOS/Info.plist
Labels: area/automation

#10358 macOS doesn't accept dotnet install but --install, and Broken Link
  doc/articles/get-started-dotnet-new.md
Labels: kind/documentation

#11238 docs: Adjust naming for new page wizard
  doc/articles/guides/native-frame-nav-tutorial.md
  doc/articles/uno-development/working-with-the-samples-apps.md
Labels: kind/documentation

#11233 fix(deque): Fix memory leak on clear
  src/Uno.UI.Tests/Extensions/Given_Deque.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/Deque.cs
Labels: area/automation

#11234 perf(memory): Fix datacontext propagation on precedence level change
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.Propagation.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.cs
Labels: area/automation

#11149 fix(resources): Adjust resources from separate assemblies
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/ResourceCollection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.ResourceCacheKey.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel_Resources/Given_ResourceLoader.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xUid.xaml
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.Tests/ResourceLoader/Given_ResourceLoader.cs
  src/Uno.UI/DirectUI/DXamlCore.cs
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/UnoWKWebView.iOSmacOS.cs
  src/Uno.UWP/Storage/StorageProvider.cs
Labels: platform/macos, platform/ios, area/code-generation, area/automation

#11250 fix: Avoid processing GTK events before dispatching
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
Labels: area/skia

#11255 docs: Update Uno.Themes documentation
  doc/import_external_docs.ps1
Labels: kind/documentation

#11268 Include System.Memory workaround for all Xamarin.iOS projects
  build/uno.winui.common.targets
  src/AddIns/Uno.UI.Svg/SvgProvider.cs
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
Labels: area/build, area/automation

#11219 build: Enable shared compilation
  src/Directory.Build.targets
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/DependenciesInitializer.cs
  src/SourceGenerators/SourceGeneratorHelpers/SourceGeneratorHelpers.projitems
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/DependencyObjectAvailabilityGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/NativeCtor/NativeCtorsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/Uno.UI-UnitTests-only.slnf
Labels: area/code-generation

#11269 duplicated text at docs
  doc/articles/features/custom-fonts.md
Labels: kind/documentation

#11247 fix(ItemsControl): Ensure containers are properly cleaned up in ItemsControl
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelGenerator.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.managed.cs
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/Midi/MidiDeviceClassProviderBase.Android.cs
Labels: platform/android, platform/ios

#11293 ci: Remove MidiDeviceEnumerationTests from snapshot tests
  src/SamplesApp/UITests.Shared/Windows_Devices/Midi/MidiDeviceEnumeration.xaml.cs
Labels: area/automation

#11291 fix: Mark `LocalizationResources` as auto-generated
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
Labels: area/code-generation

#11296 fix: restore midi enumeration sample
  src/SamplesApp/UITests.Shared/Windows_Devices/Midi/MidiDeviceEnumeration.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/Midi/MidiDeviceEnumeration.xaml.cs
  src/Uno.UWP/Devices/Enumeration/Internal/Providers/Midi/MidiDeviceClassProviderBase.Android.cs
Labels: platform/android, area/automation

#11304 docs: fix navigation breaking on .xref
  doc/templates/uno/render.js
  doc/templates/uno/service/utility.js
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/main.js
Labels: kind/documentation

#11108 fix(ios): LVI layouting
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_GridView_Items.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
Labels: platform/ios

#11289 docs: Replace Visual Studio for Mac 2022 with Visual Studio 2022 for Mac
  doc/articles/get-started-vsmac.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#11324 chore: Remove unused variable
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
Labels: area/code-generation

#11314 doc: fix broken link
  doc/articles/uno-development/contributing-intro.md
Labels: kind/documentation

#10122 Use .NET 7 SDK
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/.azure-devops-macos.yml
  build/ci/.azure-devops-package-generic.yml
  build/ci/.azure-devops-package-net6-win.yml
  build/ci/.azure-devops-package.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-uap.yml
  build/ci/.azure-devops-vs2022-vsix.yml
  build/ci/.azure-devops-wasm-uitests.yml
  build/ci/.azure-devops-winui-convert.yml
  build/ci/templates/dotnet-install.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/ci/templates/dotnet6-mobile-install-mac.yml
  build/ci/templates/dotnet6-mobile-install-windows.yml
  build/ci/templates/dotnet7-mobile-install-mac.yml
  build/ci/templates/dotnet7-mobile-install-windows.yml
  build/ci/templates/gitversion.yml
  build/ci/templates/gtk-install.yml
  build/ci/templates/optimize-roslyn-mono.yml
  build/global-net6.json
  build/optimize-csc.targets
  global-net6.json
  global.json
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2019/UnoSolutionTemplate.Wizard.2019.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2019/UnoSolutionWizard.cs
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2019/global-netcore.json
  src/Uno.ReferenceImplComparer/Uno.ReferenceImplComparer.csproj
  src/global-netcoremobile.json
  src/global-nosdk.json
  src/global.json
Labels: area/solution-templates, area/build

#11259 fix(xaml): Ensure generator idempotence
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_Three_Changes_And_Same_Hash/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_Three_Changes_And_Same_Hash/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_Three_Changes_And_Same_Hash/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_Three_Changes_And_Same_Hash/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_Three_Changes_And_Same_Hash/2/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_Three_Changes_And_Same_Hash/2/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_With_Three_Changes_And_Same_Hash/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Verifiers/XamlGenerator/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfoManager.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11309 fix: Ignore surrounding whitespace for `LineBreak` in `XamlReader` and Xaml generator
  src/SourceGenerators/System.Xaml/System.Xaml/XamlType.cs
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Windows_UI_Xaml_Data/BindingTests/Given_Binding.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlRedirection/XamlType.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlRedirection/XamlXmlReader.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/Given_TextBlock.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/LineBreak_Surrounding_WhiteSpace.xaml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/LineBreak_Surrounding_WhiteSpace.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlStringParser.cs
Labels: area/code-generation, area/automation

#11232 fix: RecordAllTestsCommand
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Commands.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
Labels: area/automation

#11286 chore: Avoid calling Contains+Add inside BindableTypeProvidersGenerationTask
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation

#11326 fix(skia): Correctly handle SolidColorBrush opacity in inlines
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia

#11341 fix!: Remove always-null-returning FindResource from Xaml generated code
  build/PackageDiffIgnore.xml
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
Labels: area/code-generation, area/build

#11345 fix!: Remove unneeded `Style.RegisterDefaultStyleForType`
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Style/Style.cs
Labels: area/build

#11351 fix!: Remove constructor overloads that takes an unused `args` parameter
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/Program.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
Labels: area/skia, area/automation

#11325 chore: Avoid generating unnecessary using statements
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
Labels: area/code-generation

#11339 fix!: `ICoreWindowEvents` is made internal.
  build/PackageDiffIgnore.xml
  src/Uno.UWP/UI/Core/ICoreWindowEvents.cs
  src/Uno.UWP/UI/Core/ICoreWindowsEvents.iOS.cs
Labels: platform/ios, area/build

#11359 [feature/breaking-changes] chore: Fix error
  build/PackageDiffIgnore.xml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PersonPicture/PersonPicture.cs
  src/Uno.UI/UI/Xaml/Controls/Unsupported/PersonPictureAutomationPeer.cs
Labels: area/build

#11342 fix!: Remove PanelExtensions
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/Panel/PanelExtensions.cs
Labels: area/build

#11344 fix!: Align WebView.NavigateWithHttpRequestMessage signature with UWP
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_WithHeaders.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.iOSmacOS.cs
Labels: platform/android, platform/macos, platform/ios, area/automation

#11367 docs: Adjust community toolkit references
  doc/articles/uno-community-toolkit.md
Labels: kind/documentation

#11352 fix!: Remove `ViewHelper.MainScreenScale` and `ViewHelper.IsRetinaDisplay`
  src/Uno.UI/Extensions/ViewHelper.iOSmacOS.cs
Labels: platform/macos, platform/ios

#11388 [feature/breaking-changes] chore: Update PackageDiffIgnore
  build/PackageDiffIgnore.xml
Labels: area/build

#11354 fix!: Make `FrameworkElement` constructors protected.
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/BorderTests/Given_Border.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/CanvasTests/Given_Canvas.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Alignment.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_AutoSized.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Margin.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/StackPanelTest/Given_StackPanel.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Input/Focus/Given_FocusSelection.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ItemContainerHolderAdapter.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.net.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.netstdref.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.skia.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/automation

#11353 fix!: Make `ViewHelper.GetScreenSize` internal
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI/Extensions/ViewHelper.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Window.iOS.cs
Labels: platform/macos, platform/ios, area/build

#11397 fix(localization): avoid using deprecated property
  doc/articles/guides/localization.md
Labels: kind/documentation

#11380 fix(templates): Use UTF8 for template files
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
Labels: area/solution-templates

#11393 fix(CameraCaptureUI): Fix crash on net6.0+
  src/SamplesApp/SamplesApp.Droid/Properties/AndroidManifest.xml
  src/SamplesApp/SamplesApp.Droid/Properties/AssemblyInfo.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Media/CameraCaptureUISample.xaml
  src/SamplesApp/UITests.Shared/Windows_Media/CameraCaptureUISample.xaml.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUI.Android.cs
Labels: platform/android, area/automation

#11381 fix(templates): Update `Microsoft.WindowsAppSDK` in templates
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Gtk/UnoQuickStart.Skia.Gtk.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.Linux.FrameBuffer/UnoQuickStart.Skia.Linux.FrameBuffer.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Skia.WPF/UnoQuickStart.Skia.WPF.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/UnoQuickStart.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Windows/UnoQuickStart.Windows.csproj
Labels: area/solution-templates

#11404 docs: Update bootstrapper docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#11402 docs: Add more info on displaying SVG image
  doc/articles/features/svg.md
Labels: kind/documentation

#11401 fix!: Remove unneeded BaseFragment class on Android
  build/PackageDiffIgnore.xml
  src/Uno.UI/BaseFragment.Android.cs
  src/Uno.UI/Extensions/FragmentManagerExtensions.Android.cs
Labels: platform/android

#11395 fix(gtk): Ensure that harfbuzz is eagerly loaded to avoid system versions interference
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.HarfbuzzPreload.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
Labels: area/skia

#11398 chore: Update package diff ignore
  build/PackageDiffIgnore.xml
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation.Peers/PersonPictureAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/PersonPicture.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/WebView.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/Shadow.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media/ThemeShadow.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElementWeakCollection.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/CoreIndependentInputSourceController.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Web.Http.Headers/HttpRequestHeaderCollection.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Web.Http/HttpMethod.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Web.Http/HttpRequestMessage.cs
Labels: area/build

#11370 fix: Show an error message when incompatible winappsdk to net7.0 with uno is found
  build/Uno.UI.Build.csproj
  build/uno.winui.common.targets
  build/uno.winui.winappsdk.targets
  doc/articles/get-started-dotnet-new.md
  doc/articles/guides/how-to-create-control-libraries.md
  doc/articles/toc.yml
  doc/articles/uno-build-error-codes.md
  src/SourceGenerators/Uno.UI.Tasks/WinAppSDKValidations/ValidateWinAppSDKReferences.cs
Labels: area/code-generation, area/build, kind/documentation

#11411 feat: Add support for WPF OpenGL acceleration
  doc/articles/features/using-skia-wpf.md
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Skia.WPF/App.xaml.cs
  src/Uno.UI.Runtime.Skia.Wpf/RenderSurfaceType.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/IWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.NativeMethods.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.host.cs
Labels: area/skia, area/automation, kind/documentation

#11284 perf: remove reflection usage when parsing color names
  src/Uno.UI.Tests/Windows_UI/Given_Color.cs
  src/Uno.UWP/UI/Colors.cs
Labels: area/automation

#11425 Add support for `ContentDialog` in Uno Islands
  src/SamplesApp/UnoIslands.Shared/MainPage.xaml
  src/SamplesApp/UnoIslands.Shared/MainPage.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialog.Visuals.cs
  src/Uno.UI/UI/Xaml/Controls/ContentDialog/ContentDialogPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
Labels: area/automation

#11438 fix: Fallback to fuzzy matching properly
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/XamlGenerationTests/NonExistingNamespace.xaml
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
Labels: area/code-generation

#11440 chore: Remove GenerateAdditionalTypesMap
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/RoslynMetadataHelper.cs
Labels: area/code-generation

#11420 fix(ListView): ios lv snap rubber-banding
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Snap_Rubberband.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Snap_Rubberband.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
Labels: area/automation

#11449 docs: Adjust control library creation
  doc/articles/guides/how-to-create-control-libraries.md
Labels: kind/documentation

#11433 fix(xamlhost): Ensure proper render surface initialization
  src/SamplesApp/UnoIslands.WPF/MainWindow.xaml
  src/SamplesApp/UnoIslands.WPF/MainWindow.xaml.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.host.cs
Labels: area/skia, area/automation

#11447 fix(Binding): Adjust binding to indexer based on expression parameter
  src/Uno.UI.Tests/BinderTests/Given_Binder.Indexer.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
Labels: area/automation

#11432 fix!: Remove obsolete members
  build/PackageDiffIgnore.xml
  src/Uno.UI.Foldable/FoldableApplicationViewSpanningRects.Android.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/VisibilityExtensions.cs
  src/Uno.UWP/Devices/Sensors/Helpers/INativeDualScreenProvider.cs
Labels: platform/android, platform/macos, platform/ios, area/skia, area/build

#10878 feat: Enable Rule CA2211
  .editorconfig
  build/PackageDiffIgnore.xml
  build/nVentive-generic.ruleset
  src/Uno.Foundation.Runtime.WebAssembly/Interop/Runtime.wasm.cs
  src/Uno.UI/Controls/BindableDrawerLayout.Android.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/StackLayout.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/Legacy/GridView.Android.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
  src/Uno.UI/UI/Xaml/UIElement.ThemeShadow.skia.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.iOS.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/build

#11473 refactor: Improve __WASM__ not propagating generated check
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
Labels: area/code-generation

#11463 chore: Minor generator cleanup
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/RoslynMetadataHelper.cs
Labels: area/code-generation

#11468 Misc xaml generator fixes
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11467 perf: Avoid calling `ToString` twice on the same `StringBuilder`
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11472 refactor: Remove unneeded `_fullNamesMaping`
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
Labels: area/code-generation

#11471 perf: Faster symbol lookup
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11469 Cleanup always false parameter
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11340 fix!: Remove `[Get|Set][Left|Top|ZIndex]` methods that take DependencyObject from `Canvas`
  build/PackageDiffIgnore.xml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/CanvasTests/Given_Canvas.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.cs
Labels: platform/android, area/build, area/automation

#11503 `XamlReader` should apply `StaticResources` before `ElementName` gets evaluated
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
Labels: area/automation

#11504 Uno Islands adjustments for .NET Framework
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs
Labels: area/skia

#11509 feat: Add support for `ToolTip` in Uno Islands
  src/SamplesApp/UnoIslands.Shared/App.xaml.cs
  src/SamplesApp/UnoIslands.Shared/MainPage.xaml
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTip.cs
Labels: area/automation

#11511 fix: Add missing PRIResource in default template
  src/SolutionTemplate/UnoLibraryTemplate.netcore/CrossTargetedLibrary.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/UnoQuickStart.csproj
Labels: area/solution-templates

#11516 fix(AdaptiveTrigger): AdaptiveTriggers precedence
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_AdaptiveTrigger.cs
  src/Uno.UI/UI/Xaml/AdaptiveTrigger.cs
  src/Uno.UI/UI/Xaml/StateTriggerPrecedence.cs
  src/Uno.UI/UI/Xaml/VisualStateGroup.cs
Labels: area/automation
