Repository unoplatform/uno, pull requests merged in 2023-04, with the labels that each got.

#11843 feat: Move linked/shared messaging files into a new package
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.RemoteControl.Messaging.nuspec
  build/Uno.WinUI.RemoteControl.nuspec
  src/Uno.UI-Android-only.slnf
  src/Uno.UI-RemoteControl-Only.slnf
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI-Wasm-only.slnf
  src/Uno.UI-iOS-only.slnf
  src/Uno.UI-macOS-only.slnf
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.RemoteControl.Host/RemoteControlServer.cs
  src/Uno.UI.RemoteControl.Messaging/IRemoteControlServer.cs
  src/Uno.UI.RemoteControl.Messaging/IServerProcessor.cs
  src/Uno.UI.RemoteControl.Messaging/Messages/Frame.cs
  src/Uno.UI.RemoteControl.Messaging/Messages/IMessage.cs
  src/Uno.UI.RemoteControl.Messaging/Uno.UI.RemoteControl.Messaging.csproj
  src/Uno.UI.RemoteControl.Server/Uno.UI.RemoteControl.Server.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Skia.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Wasm.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.sln
Labels: area/build

#11820 fix: make the SpeechRecognizer ask before recognition
  src/SamplesApp/SamplesApp.Droid/Properties/AssemblyInfo.cs
  src/SamplesApp/SamplesApp.netcoremobile/Android/AssemblyInfo.Android.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.Android.cs
Labels: platform/android, area/automation

#11112 feat(CurrencyFormatter): Implement FormatDouble and ParseDouble
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/StringBuilderCache.cs
  src/Uno.UI.RuntimeTests/UnitTestsImport.props
  src/Uno.UI.Tests/Windows_Globalization/Given_CurrencyFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_DecimalFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_IncrementNumberRounder.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_NumeralSystemTranslator.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_PercentFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_PermilleFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_Rounder.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_SignificantDigitsNumberRounder.cs
  src/Uno.UI.Tests/Windows_Globalization/When_Calendar.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Globalization.NumberFormatting/CurrencyFormatter.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Globalization.NumberFormatting/CurrencyFormatterMode.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Globalization/CurrencyIdentifiers.cs
  src/Uno.UWP/Globalization/CurrencyIdentifiers.cs
  src/Uno.UWP/Globalization/NumberFormatting/CurrencyData.cs
  src/Uno.UWP/Globalization/NumberFormatting/CurrencyFormatter.cs
  src/Uno.UWP/Globalization/NumberFormatting/CurrencyFormatterMode.cs
  src/Uno.UWP/Globalization/NumberFormatting/DecimalFormatter.cs
  src/Uno.UWP/Globalization/NumberFormatting/ExceptionHelper.cs
  src/Uno.UWP/Globalization/NumberFormatting/Extensions.cs
  src/Uno.UWP/Globalization/NumberFormatting/FormatterHelper.cs
  src/Uno.UWP/Globalization/NumberFormatting/INumberFormatter.cs
  src/Uno.UWP/Globalization/NumberFormatting/INumberFormatter2.cs
  src/Uno.UWP/Globalization/NumberFormatting/INumberFormatterOptions.cs
  src/Uno.UWP/Globalization/NumberFormatting/INumberParser.cs
  src/Uno.UWP/Globalization/NumberFormatting/INumberRounder.cs
  src/Uno.UWP/Globalization/NumberFormatting/INumberRounderOption.cs
  src/Uno.UWP/Globalization/NumberFormatting/ISignedZeroOption.cs
  src/Uno.UWP/Globalization/NumberFormatting/ISignificantDigitsOption.cs
  src/Uno.UWP/Globalization/NumberFormatting/IncrementNumberRounder.cs
  src/Uno.UWP/Globalization/NumberFormatting/MathExtensions.cs
  src/Uno.UWP/Globalization/NumberFormatting/NumeralSystemTranslator.cs
  src/Uno.UWP/Globalization/NumberFormatting/NumeralSystemTranslatorHelper.cs
  src/Uno.UWP/Globalization/NumberFormatting/PercentFormatter.cs
  src/Uno.UWP/Globalization/NumberFormatting/PermilleFormatter.cs
  src/Uno.UWP/Globalization/NumberFormatting/Rounder.cs
  src/Uno.UWP/Globalization/NumberFormatting/RoundingAlgorithm.cs
  src/Uno.UWP/Globalization/NumberFormatting/SignificantDigitsNumberRounder.cs
Labels: area/automation

#11885 fix: Ensure imagebrush's source is updated when set
  src/Uno.UI.RuntimeTests/Helpers/ImageAssert.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI/UI/Xaml/Media/Brush.iOSmacOS.cs
Labels: platform/macos, platform/ios

#11897 Fixed ApplicationLanguages initialization on iOS
  src/Uno.UWP/Globalization/ApplicationLanguages.iOS.cs
Labels: platform/ios

#11912 fix: XAML Hot reload mishandling empty paths
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
Labels: area/code-generation

#11929 fix(TextBlock): [WASM] TextBlock.Inlines are not formatted correctly: spaces/blanks are removed #11418
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/Given_TextBlock.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/WhiteSpace_In_TextBlock_Inlines.xaml
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/WhiteSpace_In_TextBlock_Inlines.xaml.cs
Labels: area/code-generation, area/automation

#11889 fix: Adjust vscode support
  build/Uno.UI.Build.csproj
  build/uno.winui.common.props
  build/uno.winui.common.targets
  build/uno.winui.props
Labels: area/build

#11945 Undo `WebErrorStatus` breaking change
  build/PackageDiffIgnore.xml
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Web.WebView2.Core/CoreWebView2ContentLoadingEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Web.WebView2.Core/CoreWebView2DOMContentLoadedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebViewExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebViewNavigationCompletedEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebViewNavigationFailedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Web/WebErrorStatus.cs
  src/Uno.UWP/Web/WebErrorStatus.cs
Labels: area/build

#11946 docs: Update doc for Figma plugin 2.5.x
  doc/import_external_docs.ps1
Labels: kind/documentation

#11898 perf: Misc bindings II
  src/Uno.Foundation.Runtime.WebAssembly/Interop/JSObject.wasm.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UI/UI/Xaml/FontFamilyLoader.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/FontFamilyLoader.wasm.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimator.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimator.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/Interop/ManagedObject.ts
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UI/ts/Windows/UI/Xaml/Animation/RenderingLoopAnimator.ts
Labels: platform/wasm

#11859 fix(animation): not defaulting starting value from animated value
  src/Uno.UI.RuntimeTests/Extensions/StoryboardExtensions.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_DoubleAnimation.cs
  src/Uno.UI/DataBinding/BindingPath.cs
  src/Uno.UI/Extensions/TimelineExtensions.iOSmacOS.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.animation.cs
Labels: platform/android, platform/macos, platform/ios, ready-to-merge, platform/all

#11973 fix: Adjust for missing props file
  build/Uno.WinUI.nuspec
  build/uno.winui.common.props
Labels: area/build

#11970 fix(android_scaling): Fixed the calculation of the pixel density on Android
  src/Uno.UWP/Graphics/Display/DisplayInformation.Android.cs
Labels: platform/android

#11883 fix(ProgressRing): IsIndeterminate property and (In)DeterminateSource behave now as expected.
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.Skottie.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.Android.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.wasm.cs
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/ProgressRingTests/Given_DeterminateProgressRings.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRingPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRing_CustomSources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedAcceptVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/IAnimatedVisualSource.cs
Labels: platform/wasm, platform/android, area/automation

#11999 feat: Delaying paint until Activation
  src/Uno.UI/UI/Xaml/Window.Android.cs
Labels: platform/android

#12011 fix(JSObject): Marshal pointers instead of strings
  src/Uno.Foundation.Runtime.WebAssembly/Interop/JSObjectMetadataProvider.wasm.cs
Labels: platform/wasm

#11894 `Expander` fixes
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ExpanderTests/Expander_ScrollView.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ExpanderTests/Expander_ScrollView.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/Expander_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Automation.Peers/AutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpandDirection.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderCollapsedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderExpandingEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderTemplateSettings.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/ExpanderTemplateSettings.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander_themeresources.xaml
  src/Uno.UI/UI/Xaml/Automation/Peers/AutomationPeer.cs
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
Labels: area/build, area/automation

#12014 test: Add missing line in globalconfig in tests
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
Labels: area/code-generation

#12025 docs: update Linux/Rider templates package name
  doc/articles/get-started-dotnet-new.md
  doc/articles/get-started-rider.md
  doc/articles/get-started-with-linux.md
  doc/articles/guides/azure-static-webapps.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
Labels: kind/documentation

#12005 perf: Add DisplayInformation bindings
  src/Uno.UI/ts/Windows/Graphics/Display/DisplayInformation.ts
  src/Uno.UWP/Graphics/Display/DisplayInformation.Interop.wasm.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
Labels: platform/wasm

#12051 ci: Update uwp certificate
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP_TemporaryKey.pfx
Labels: area/automation

#12043 chore: Fix warning NETSDK1189 Prefer32Bit has no effect
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
Labels: area/automation

#11989 perf: Avoid rooting compilations in XamlFileGenerator
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/RoslynMetadataHelper.cs
  src/SourceGenerators/SourceGeneratorHelpers/SourceGeneratorHelpers.projitems
  src/SourceGenerators/Uno.UI.SourceGenerators/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12035 perf: Use `StringBuilderBasedSourceText` in `DependencyObjectAvailabilityGenerator` (and cleanup)
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/DependencyObjectAvailabilityGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/StringBuilderBasedSourceText.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12010 docs: update native styles docs
  doc/articles/native-styles.md
Labels: kind/documentation

#12049 bugfix(XAML): Fix the TextBlock.Inline space/blank missing issue
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/Given_TextBlock.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBlockTests/WhiteSpace_In_TextBlock_Inlines.xaml
Labels: area/code-generation, area/automation

#12033 fix: `RefreshContainer` indicator is not centered
  src/Uno.UI.RuntimeTests/Helpers/ImageAssert.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_RefreshContainer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PullToRefresh/Native/NativeRefreshControl.Android.cs
Labels: platform/android

#12056 Ensure callbacks added in callback handlers are not processed in the same run
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/Mock/Border.net.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
Labels: area/automation

#12012 fix(ListViewItem): multi-select check missing
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/DragAndDropTests/DragDrop_ListViewReorder_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Nested_Sequence_Tests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
Labels: area/automation

#11845 ci: Detect breaking changes in packages other than Uno.[UI|WinUI]
  build/PackageDiffIgnore.xml
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-package.yml
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
Labels: area/skia, area/build

#11947 feat: `IconSourceElement`, refactor all icons
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/IconSourceTests/IconSourceElementTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/IconSourceTests/IconSourceElementTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/Foreground_Brushes.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Icons/Given_BitmapIcon.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Icons/Given_FontIcon.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Icons/Given_IconSourceElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Icons/Given_PathIcon.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Icons/Given_SymbolIcon.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/FontIcon.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/IconSourceElement.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/PathIcon.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/SymbolIcon.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedIcon.Uno.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/BitmapIconSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/FontIconSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/IconSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/ImageIconSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/PathIconSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/SymbolIconSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ImageIcon/ImageIcon.Uno.cs
  src/Uno.UI/UI/Xaml/Controls/BitmapIcon.cs
  src/Uno.UI/UI/Xaml/Controls/FontIcon/FontIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/BitmapIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/FontIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/IconElement.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/IconElement.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/IconElement.netstd.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/IconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/PathIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icon/SymbolIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/IconElement.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/BitmapIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/BitmapIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/FontIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/FontIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/IconElement.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/IconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/IconSourceElement.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/PathIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/PathIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/SymbolIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/SymbolIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/PathIcon.cs
  src/Uno.UI/UI/Xaml/Controls/SymbolIcon/SymbolIcon.cs
  src/Uno.UI/UI/Xaml/Icon/IconElement.Android.cs
  src/Uno.WinUIRevert/Program.cs
Labels: platform/android, platform/macos, platform/ios, area/build, area/automation

#12069 [Skia] fix: Prevent icons from moving randomly
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia

#11948 fix(image): Don't update the image asynchronously to avoid showing intermediate visuals
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageSourceWriteableBitmapInvalidate_Stretch.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageSourceWriteableBitmapInvalidate_Stretch.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
Labels: area/skia, area/automation

#12075 fix(hr): Adjust Page reload for custom frame presenter
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI/UI/Xaml/Application.Components.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.iOSmacOS.cs
Labels: platform/macos, platform/ios

#11854 feat: Support CommunityToolkit.Mvvm in two way x:Bind
  .gitignore
  src/Directory.Build.targets
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Uno.UI.SourceGenerators.netcore.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Given_MvvmGeneratedMembers.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/TestBaseTypeNotSpecifiedInCodeBehind/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/TestBaseTypeNotSpecifiedInCodeBehind/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/TestBaseTypeNotSpecifiedInCodeBehind/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/TestBaseTypeNotSpecifiedInCodeBehind/XamlCodeGenerator_UserControl1_81d855d5b3bba02f594dcda3b149beb2.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Binding_ElementName_In_Template/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Binding_ElementName_In_Template/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Binding_ElementName_In_Template/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_Both_Syntaxes/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_Both_Syntaxes/XamlCodeGenerator_Grid_Uses_Both_Syntaxes_794c1760299b374d12fe38ba3b633206.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_Both_Syntaxes/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_Common_Syntax/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_Common_Syntax/XamlCodeGenerator_Grid_Uses_Common_Syntax_8659265dc2cabf0b5a684f0f4b26f8b7.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_Common_Syntax/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_New_Assigned_ContentProperty_Syntax/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_New_Assigned_ContentProperty_Syntax/XamlCodeGenerator_Grid_Uses_New_Assigned_ContentProperty_Syntax_9f853e56098ff21d39f15479035509ef.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_New_Assigned_ContentProperty_Syntax/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_New_Succinct_Syntax/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_New_Succinct_Syntax/XamlCodeGenerator_Grid_Uses_New_Succinct_Syntax_cc38332c9fd4c0da9c1fa0270bbd3609.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Grid_Uses_New_Succinct_Syntax/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Invalid_Element_Property/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeDoesNotExists/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeDoesNotExists/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeDoesNotExists/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists__name/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists__name/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists__name/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists__name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists__name/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_m_name/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_m_name/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_m_name/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_m_name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_m_name/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_name/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_name/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_name/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_name/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_ObservableProperty_AttributeExists_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Xaml_Object_With_Common_Properties/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Xaml_Object_With_Common_Properties/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Xaml_Object_With_Common_Properties/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Xaml_Object_With_Xaml_Object_Properties/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Xaml_Object_With_Xaml_Object_Properties/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/TestOutput/When_Xaml_Object_With_Xaml_Object_Properties/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/ThirdPartyGenerators/CommunityToolkitMvvm/MvvmTypeProvider.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/ThirdPartyGenerators/ITypeProvider.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.sln
Labels: area/code-generation

#11868 Update UI Test project to net7
  src/SolutionTemplate/UnoUITestTemplate/TestBase.cs
  src/SolutionTemplate/UnoUITestTemplate/UnoUITestsLibrary.csproj
Labels: area/solution-templates

#11824 docs: Update web API doc
  doc/articles/Assets/tutorial01/vsix-new-project-options.png
  doc/articles/howto-consume-webservices.md
Labels: kind/documentation

#11931 Correcting configuration element
  doc/articles/guides/profiling-applications.md
Labels: kind/documentation

#11986 Restore When_xLoad_StaticResource test
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
Labels: area/code-generation, area/automation

#12087 chore: Reset dir and trace on error, and open browser when served
  doc/import_external_docs.ps1
  doc/import_external_docs_test.ps1
Labels: kind/documentation

#12060 perf(Animations): RenderingLoopAnimator bindings
  src/Uno.Foundation.Runtime.WebAssembly/Interop/JSObject.wasm.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/JSObjectHandle.wasm.cs
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimator.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimator.wasm.cs
  src/Uno.UI/ts/ExportManager.ts
  src/Uno.UI/ts/Interop/ManagedObject.ts
  src/Uno.UI/ts/Windows/UI/Xaml/Animation/RenderingLoopAnimator.ts
Labels: platform/wasm

#11966 fix(pointers): Fix invalid pointer state is visual tree altered during dispatch
  src/Uno.Foundation/Extensibility/ApiExtensibility.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Core/Given_InputManager.cs
  src/Uno.UI/Extensions/UIElementExtensions.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelGenerator.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
  src/Uno.UI/UI/Xaml/Controls/SwipeControl/SwipeControl.Uno.cs
  src/Uno.UI/UI/Xaml/DragDrop/DropUITarget.cs
  src/Uno.UI/UI/Xaml/HitTestability.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.wasm.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCaptureKind.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCaptureResult.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCaptureTarget.cs
  src/Uno.UI/UI/Xaml/Internal/RootVisual.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.PointerCapture.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.skia.cs
  src/Uno.UWP/Devices/Haptics/SimpleHapticsController.skia.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.others.cs
  src/Uno.UWP/Networking/Connectivity/ConnectionProfile.skia.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.skia.cs
Labels: platform/wasm, platform/android, platform/ios, area/skia

#12083 fix: Dancing Skia `ScrollViewers`
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia
