Repository unoplatform/uno, pull requests merged in 2023-03, with the labels that each got.

#11505 fix(android): Rely on actual string comparison and not string reference
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoViewGroup.java
Labels: platform/android

#11527 refactor: Cleanup of Samples app categories
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_Snap_Rubberband.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/PasswordBoxTests/PasswordBoxPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/PasswordBoxTests/PasswordBox_AutoFill.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/PasswordBoxTests/PasswordBox_iOS_DuplicatingText.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Imaging/RenderTargetBitmaps.xaml.cs
Labels: area/automation

#11535 perf: Avoid unnecessary `TrimEnd` call
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation

#11519 perf: Optimize LOH string allocations in Xaml generator
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/StringBuilderBasedSourceText.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.Tracing.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.Foundation.Runtime.WebAssembly/Helpers/IndentedStringBuilderExtensions.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions.Compatibility/Extensions/IndentedStringBuilder.cs
Labels: platform/wasm, area/code-generation

#11528 fix: Fix XamlType lookup to correctly consider PreferredXamlNamespace
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
Labels: area/code-generation

#11523 chore: Adjust XAML code generation
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfoManager.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11533 perf(DependencyObjectAvailabilityGenerator): Avoid calculating property names twice
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/DependencyObjectAvailabilityGenerator.cs
Labels: area/code-generation

#11479 fix: Fix ObjectDisposedException crash in Geolocator on Android
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Devices/Geolocation/Geolocator.Android.cs
Labels: platform/android, area/build

#11556 ci: Unify Microsoft.NETFramework.ReferenceAssemblies to latest to fix CI failure
  build/ci/.azure-devops-screenshot-compare.yml
  src/Directory.Build.props
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SourceGenerators/System.Xaml.Tests/Uno.Xaml.Tests.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.netcoremobile.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.netcoremobile.csproj
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
Labels: area/code-generation, area/build, area/automation

#11558 chore: Remove unused setter in Xaml generated code
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11522 fix(ItemsControl): Ensure Content property is cleared when is not own container
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ItemsControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/VirtualizationInformation.cs
Labels: platform/ios

#11466 perf: Avoid holding into symbols
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationRunFileInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11439 perf: Avoid using `GetAllTypesAttributedWith`
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/RoslynMetadataHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11470 refactor: More Xaml generator cleanup
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11561 refactor: Simplify ResourceOwner
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/ResourceOwner.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11562 refactor: Adopt lazy symbols more and simplify
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11568 chore: Delete dead UseUnoXamlParser
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlRedirection/XamlConfig.cs
Labels: area/code-generation

#11413 perf(TextBox): Avoid unnecessary allocations
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Extensions/TransformExtensions.Android.cs
  src/Uno.UI/Extensions/TransformExtensions.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/build

#11560 fix: Properly check Lamp support
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Devices/Lights/Lamp.unsupported.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Lights/Lamp.cs
Labels: area/build

#11593 [feature/breaking-changes] chore: Fix build
  build/PackageDiffIgnore.xml
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
Labels: area/code-generation, area/build

#11564 build: Cleanup unused UnoSingleLocationProject
  build/Uno.WinUI.nuspec
  build/uno.winui.single-location-project.targets
  build/uno.winui.targets
Labels: area/build

#11582 feat: Support CameraCaptureUIMode.Video on Android
  src/SamplesApp/UITests.Shared/Windows_Media/CameraCaptureUISample.xaml
  src/SamplesApp/UITests.Shared/Windows_Media/CameraCaptureUISample.xaml.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUI.Android.cs
Labels: platform/android, area/automation

#11588 fix: Correctly default to "all files" in WPF FileOpenPicker
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FileOpenPickerExtension.cs
Labels: area/skia

#11540 fix(XamlReader): parsing of Rect type property
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.FastConvert.cs
Labels: area/automation

#11529 fix(dragdrop): Fix reordering issue on iOS
  src/Directory.Build.props
  src/Uno.UI.Composition/Composition/SkiaCompositionSurface.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.DragDrop.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.iOS.cs
  src/Uno.UI/UI/Xaml/Media/ImageDataKind.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOS.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.net.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.netstd.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.Android.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.iOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.macOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.iOSmacOS.cs
Labels: platform/android, platform/macos, platform/ios, area/skia

#11631 fix(xamlreader): Ensure adding properties on an explicit property reports an error
  src/SourceGenerators/System.Xaml/System.Xaml/XamlXmlReader.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Windows_UI_Xaml_Controls/ParserTests/Controls/When_Invalid_Element_Property.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Windows_UI_Xaml_Controls/ParserTests/Controls/When_Invalid_Element_Property.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Windows_UI_Xaml_Controls/ParserTests/Given_Parser.cs
Labels: area/code-generation

#11616 docs: Adjust readme
  README.md
Labels: kind/documentation

#11594 fix: adding WinUI dependencies for windows target
  build/Uno.WinUI.nuspec
  src/Uno.WinUIRevert/Program.cs
Labels: area/build

#11607 refactor: Move `Popup` registration to `PopupRoot`
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.WindowHelper.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Breadcrumb/BreadcrumbTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Button.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ToolTip.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TreeView.cs
  src/Uno.UI/Controls/RootViewController.iOS.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/NativePopupAdapter.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Base.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.mux.cs
  src/Uno.UI/UI/Xaml/Internal/VisualTree.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/Window.Android.cs
  src/Uno.UI/UI/Xaml/Window.Desktop.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
  src/Uno.UI/UI/Xaml/XamlRoot.cs
  src/Uno.UI/UI/Xaml/XamlRoot.skia.cs
Labels: platform/wasm, platform/android, platform/ios, area/skia, area/automation

#11636 Revert "fix: Remove GuardBand on GTK HW renderers to avoid visual glitches around clipping"
  src/Uno.UI.Runtime.Skia.Gtk/GLRenderSurfaceBase.cs
Labels: area/skia

#11646 fix: Overlay input on GTK regressions
  src/Uno.UI.Runtime.Skia.Gtk/UI/Xaml/Controls/GtkTextBoxView.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/OverlayTextBoxViewExtension.skia.cs
Labels: area/skia

#11640 docs: Update Toolkit and Themes docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#11664 fix: Remove unintentional "UnoQuickStart" from templates
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/Android/Resources/values/Strings.xml
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Server/Controllers/WeatherForecastController.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Server/Program.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Server/WeatherForecast.cs
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Windows/app.manifest
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/Android/AndroidManifest.xml
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Mobile/Android/Resources/values/Strings.xml
Labels: area/solution-templates

#11605 fix(droid): BringIntoView blocked behind keyboard
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.mux.cs
Labels: platform/android

#11661 fix: Retrieve existing `ResourceLoader` via constructor
  src/Uno.UI.Tests/ResourceLoader/Given_ResourceLoader.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs
Labels: area/automation

#11687 fix(mediaplayer): restore control and transport styles
  src/SamplesApp/UITests.Shared/Windows_Media/MediaPlayerTests.xaml
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/MediaTransportControls_themeresources.xaml
  src/Uno.UI.FluentTheme.v1/themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/MediaTransportControls_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.Others.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
Labels: area/automation

#11670 docs: Update getting started
  doc/articles/Assets/quick-start/vsix-new-project-options.png
  doc/articles/Assets/tutorial01/newproject4.png
  doc/articles/get-started-dotnet-new.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started.md
  doc/articles/getting-started-tutorial-1.md
  doc/articles/getting-started-tutorial-2.md
  doc/articles/uno-build-error-codes.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#11688 fix(templates): Specify `AndroidManifest` correctly so that design-time builds don't fail
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/UnoQuickStart.Mobile.csproj
Labels: area/solution-templates

#11684 fix: Fix geometry code generation on Wasm
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11666 docs(extensions): Update linked content
  doc/articles/get-started-dotnet-new.md
  doc/articles/get-started-next-steps.md
  doc/articles/toc.yml
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#11551 docs: remove old material/cupertino content
  doc/articles/features/uno-cupertino.md
  doc/articles/features/uno-material-controls-extra-setup.md
  doc/articles/features/uno-material.md
  doc/articles/guides/uno-cupertino-walkthrough.md
  doc/articles/guides/uno-material-walkthrough.md
  doc/articles/inlineTOCs/how-tos-and-tutorials-inline-toc.include
  doc/articles/supported-libraries.md
  doc/articles/toc.yml
  doc/articles/uno-samples.md
  doc/articles/using-uno-ui.md
Labels: area/build, kind/documentation

#11679 perf: TextBlock performance improvements
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/DependencyObjectCollection.cs
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/RenderLine.skia.cs
Labels: area/skia

#11692 IDE Host
  build/uno.winui.winappsdk.targets
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unolib/.template.config/ide.host.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unolib/.template.config/template.json
  src/SolutionTemplate/UnoLibraryTemplate.netcore/CrossTargetedLibrary.csproj
Labels: area/solution-templates, area/build

#11700 docs: Update getting started
  doc/articles/Assets/tutorial01/uno-extensions.PNG
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-vscode.md
  doc/articles/guides/how-to-add-platforms-existing-project.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#11714 fix(templates): Don't include `SupportedOSPlatformVersion` for non-selected platforms
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/UnoQuickStart.csproj
Labels: area/solution-templates

#11726 docs: include resizetizer documentation
  build/cSpell.json
  doc/articles/features/working-with-assets.md
  doc/articles/toc.yml
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#11725 chore: Adjust telemetry temp storage path
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/TelemetryClient.cs
Labels: area/code-generation

#11728 UWP / UI test template
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uitest/.template.config/ide.host.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uitest/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uwp-net6/.template.config/ide.host.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uwp-net6/.template.config/template.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uwp/.template.config/ide.host.json
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uwp/.template.config/template.json
  src/SolutionTemplate/UnoUITestTemplate/UnoUITestsLibrary.csproj
Labels: area/solution-templates

#11733 docs(AdaptiveTrigger): Fixing AdaptiveTrigger menu option in Docs
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#11734 docs: Adjust naming of unolib name
  doc/articles/cross-targeted-libraries.md
  doc/articles/guides/how-to-create-control-libraries.md
  doc/articles/uno-development/uno-internals-overview.md
Labels: kind/documentation

#11632 fix(iOS): Monochromatic Image
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Monochromatic.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Monochromatic.xaml.cs
  src/Uno.UI.RuntimeTests/Assets/linux.png
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/Extensions/UIImageExtensions.iOSmacOS.cs
Labels: platform/macos, platform/ios, area/automation

#11739 docs: Add uno.uitest
  doc/articles/toc.yml
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#11723 fix: App deactivation should close only light dismiss popups
  src/Uno.UI/Controls/RootViewController.iOS.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: platform/android, platform/ios

#11689 fix: Selectability of Android `TextBoxView`
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/RadioButtons/RadioButtonTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Overrides.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
Labels: platform/android

#11749 fix(hr): Ensure that project reference paths are properly discovered
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
Labels: area/code-generation

#11690 fix(ProgressRing): Fix `ProgressRing` being vertically stretched
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/ProgressRingHeightTest.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/ProgressRingHeightTest.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/ProgressRing/ProgressRingTests.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.xaml
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
Labels: area/automation

#11727 [feature/breaking-changes] chore: Fix Z-index type
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.wasm.cs
Labels: platform/wasm, area/skia

#11639 fix(ios): ListView not resizing as items change
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.Measure.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: platform/ios

#11566 build: Simplify Uno.Xaml build
  build/filters/Uno.UI-packages-reference.slnf
  src/Directory.Build.props
  src/SourceGenerators/System.Xaml/Uno.Xaml.Reference.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.netcoremobile.csproj
  src/Uno.CrossTargetting.props
  src/Uno.UI-Reference-Only.slnf
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.sln
  src/Uno.UI/Uno.UI.Reference.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/netcore-build.props
  src/uno.mobile-cross-targeting-disable.props
Labels: area/code-generation, area/build

#11444 chore: Remove dead code in XAML generator
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlGlobalStaticResourcesMap.cs
Labels: area/code-generation

#11775 docs: update toolkit docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#11563 build: Adjust unnecessary TFMs
  build/Uno.Foundation.Logging.nuspec
  build/Uno.UI.Adapter.Microsoft.Extensions.Logging.nuspec
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.csproj
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.netcoremobile.csproj
  src/Uno.Foundation/Uno.Foundation.netcoremobile.csproj
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Common.props
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Uno.UI.Adapter.Microsoft.Extensions.Logging.csproj
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Uno.UI.Adapter.Microsoft.Extensions.Logging.netcoremobile.csproj
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.csproj
  src/Uno.UI.sln
  src/Uno.UI/Uno.UI.Reference.csproj
Labels: platform/android, area/build, area/automation

#11781 docs: Update to extensions and reactive docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#11782 chore: Remove WPF hosting mode
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/CoreDispatcher.ts
  src/Uno.UI/ts/Interop/IUnoDispatch.ts
  src/Uno.UI/ts/Interop/_global.ts
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UI/ts/Windows/Storage/StorageFolder.ts
  src/Uno.UI/tsBindings/WindowManagerInitParams.ts
Labels: platform/wasm

#11793 fix: Fix CameraCaptureUI on Android 11 and later
  src/SamplesApp/SamplesApp.netcoremobile/Android/AssemblyInfo.Android.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUI.Android.cs
  src/Uno.UWP/Media/Capture/CameraCaptureUI.cs
Labels: platform/android, area/automation

#11813 perf: WindowManager bindings VI
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/Window.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#11823 fix(ios): LVI is sometimes clipped
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.Measure.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
Labels: platform/ios

#11826 feat: Enabling net6 support for msal on ios/android
  build/Uno.WinUI.MSAL.nuspec
  src/AddIns/Uno.UI.MSAL/AbstractApplicationBuilderExtensions.cs
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.UWP.Design/SamplesApp.UWP.Design.csproj
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UnoIslands.Skia/UnoIslands.Skia.csproj
Labels: area/build, area/automation

#11409 fix: Fix NRE in x:Bind
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests.Shared/Given_XBindRewriter.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests.Shared/Uno.UI.SourceGenerators.Tests.Shared.projitems
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/NameScope.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Functions_Control.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/Functions_Control.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/xBind_AttachedProperty.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/xBind_AttachedProperty.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/xBind_PathLessCasting.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/xBind_PathLessCasting.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Functions.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/UI/Xaml/Data/Binding.cs
  src/Uno.UI/UI/Xaml/Data/BindingHelper.cs
Labels: area/code-generation, area/automation

#11842 fix(lottie): Ensure that opaque state is adjusted on any Loaded event
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.Skottie.cs
  src/SamplesApp/UITests.Shared/Lottie/LottieProgressPage.xaml
  src/SamplesApp/UITests.Shared/Lottie/LottieProgressPage.xaml.cs
Labels: area/automation

#11840 perf: Fix few more occurrences of ToDisplayString
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11860 fix: Make sure we add `AndroidResouce`s before `_ComputeAndroidResourcePaths` is run
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#11856 fix(ContentPresenter): Avoid DataContext temporary reset
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_Content_DataContext.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_Content_DataContext.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentPresenter.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ComboBoxTests/Given_ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
Labels: area/automation

#11832 perf: Misc bindings
  src/Uno.UI/UI/Xaml/Application.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/FocusVisual/SystemFocusVisual.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#11852 fix: `VisualCollection` changes should influence `IsChildrenRenderOrderDirty`
  src/Uno.UI.Composition/Composition/ContainerVisual.cs
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/VisualCollection.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_ContainerVisual.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia

#11816 feat: Add extensibility support for Windows.Media.Playback.MediaPlayer
  build/PackageDiffIgnore.xml
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlaybackSession.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlayer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlayerFailedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/MediaPlayerRateChangedEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Media.Playback/PlaybackMediaMarkerReachedEventArgs.cs
  src/Uno.UWP/Media/Playback/IMediaPlayerEventsExtension.cs
  src/Uno.UWP/Media/Playback/IMediaPlayerExtension.cs
  src/Uno.UWP/Media/Playback/MediaPlaybackSession.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Android.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.Events.others.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.iOSmacOS.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.net.cs
  src/Uno.UWP/Media/Playback/MediaPlayer.others.cs
  src/Uno.UWP/Media/Playback/MediaPlayerFailedEventArgs.cs
  src/Uno.UWP/Media/Playback/MediaPlayerRateChangedEventArgs.cs
  src/Uno.UWP/Media/Playback/PlaybackMediaMarkerReachedEventArgs.cs
  src/Uno.UWP/Uno.netcoremobile.csproj
Labels: platform/android, platform/macos, platform/ios, area/build
