Repository unoplatform/uno, pull requests merged in 2023-11, with the labels that each got.

#14213 docs: misc updates
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-vs-2022.md
  doc/articles/guides/solution-building-single-targetframework.md
Labels: kind/documentation

#12095 docs: Using wizard
  build/cSpell.json
  doc/articles/get-started-vs-2022.md
  doc/articles/getting-started/wizard/application.md
  doc/articles/getting-started/wizard/assets/application.jpg
  doc/articles/getting-started/wizard/assets/authentication.jpg
  doc/articles/getting-started/wizard/assets/blank-project-structure.jpg
  doc/articles/getting-started/wizard/assets/cipipeline.jpg
  doc/articles/getting-started/wizard/assets/create-new-project.jpg
  doc/articles/getting-started/wizard/assets/default-project-structure.jpg
  doc/articles/getting-started/wizard/assets/extensions.jpg
  doc/articles/getting-started/wizard/assets/extensions2.jpg
  doc/articles/getting-started/wizard/assets/extensions3.jpg
  doc/articles/getting-started/wizard/assets/features.jpg
  doc/articles/getting-started/wizard/assets/framework.jpg
  doc/articles/getting-started/wizard/assets/intro.jpg
  doc/articles/getting-started/wizard/assets/localization.jpg
  doc/articles/getting-started/wizard/assets/markup.jpg
  doc/articles/getting-started/wizard/assets/material.jpg
  doc/articles/getting-started/wizard/assets/platforms.jpg
  doc/articles/getting-started/wizard/assets/presentation.jpg
  doc/articles/getting-started/wizard/assets/reload-projects.jpg
  doc/articles/getting-started/wizard/assets/testing.jpg
  doc/articles/getting-started/wizard/assets/themes.jpg
  doc/articles/getting-started/wizard/authentication.md
  doc/articles/getting-started/wizard/cipipeline.md
  doc/articles/getting-started/wizard/extensions.md
  doc/articles/getting-started/wizard/features.md
  doc/articles/getting-started/wizard/framework.md
  doc/articles/getting-started/wizard/markup.md
  doc/articles/getting-started/wizard/platforms.md
  doc/articles/getting-started/wizard/presentation.md
  doc/articles/getting-started/wizard/startup.md
  doc/articles/getting-started/wizard/testing.md
  doc/articles/getting-started/wizard/themes.md
  doc/articles/getting-started/wizard/using-wizard.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14145 fix: Empty `Storyboard` behaviors
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_Storyboard.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/VisualStateManagerTests/Given_VisualStateManager.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Storyboard.cs
Labels: area/automation

#14205 perf: TextBlock performance improvements on Skia
  src/Uno.UI/Helpers/UnoSkiaApi.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
  src/Uno.UI/UI/Xaml/Documents/SKTextBlobBuilderExtensions.skia.cs
  src/Uno.UI/UI/Xaml/Documents/UnoSKRunBufferInternal.skia.cs
Labels: area/skia ✏️

#14225 docs: Misc updates
  doc/articles/Uno-UI-Performance.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-wizard.md
Labels: kind/documentation

#14217 feat: Adding workshops to docs
  doc/articles/toc.yml
  doc/import_external_docs.ps1
  doc/import_external_docs_test.ps1
Labels: area/build, kind/documentation

#14228 docs: Update toc.yml for the workshops
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14229 docs: Include wizard in toc
  doc/articles/get-started-vs-2022.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14199 fix: Empty `TextBlock` should have non-zero height
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/FromEmptyStringToValueConverter.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_AnimateHeader.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_AnimateHeader.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetails.skia.cs
Labels: area/skia ✏️, area/automation

#14238 docs: reorder workshops in toc
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14235 docs: Update readme
  README.md
Labels: kind/documentation

#14179 chore: Remove unused property on UIElement for Skia
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#14249 chore: Update import_external_docs.ps1 for latest workshops doc
  doc/import_external_docs.ps1
Labels: kind/documentation

#14119 feat: Support CompositionStretch and [Horizontal|Vertical]AlignmentRatio and use that for ImageBrush
  src/Uno.Foundation/SizeExtensions.cs
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_Opacity.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_ImageBrushStretch.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Media/Brush.skia.cs
Labels: area/skia ✏️

#14079 fix: Add missing CompilerVisibleProperty for `UnoForceHotReloadCodeGen`
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#14261 chore: Update diffignore after 5.0 release
  build/PackageDiffIgnore.xml
Labels: area/build

#14072 Autosuggest keyboard nav
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/TextTextBoxView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AutoSuggestBox.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
Labels: area/skia ✏️

#14248 fix: Fix AppResources hot reload stop working after 10 updates
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/AppResources.xaml
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/SubResourceDictionary.xaml
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_AppDictionary.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Pages/HR_Frame_Pages_AppResources.xaml
Labels: area/automation

#14270 chore: Update import_external_docs.ps1 for latest workshops doc
  doc/import_external_docs.ps1
Labels: kind/documentation

#14271 docs: Add missing `Gamepad` and `Compass` docs to toc.yml
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14252 ci: Adjust screenshot comparison logging to log with time
  src/Uno.UI.TestComparer/AppCenterTestsDownloader.cs
  src/Uno.UI.TestComparer/AzureDevopsDownloader.cs
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
  src/Uno.UI.TestComparer/Helpers.cs
  src/Uno.UI.TestComparer/Program.cs
Labels: area/build

#14282 fix: Correct UNO_REFERENCE_API condition
  build/nuget/uno.winui.common.targets
Labels: area/build

#14241 perf: Reduce allocations when updating resource bindings and when calling `FindName`
  doc/articles/uno-development/themeresource-internals.md
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/Extensions/ViewExtensions.crossruntime.cs
  src/Uno.UI/Extensions/ViewExtensions.iOSmacOS.cs
  src/Uno.UI/Mock/ViewExtensions.reference.cs
  src/Uno.UI/Mock/ViewExtensions.unittests.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.reference.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.unittests.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.reference.cs
  src/Uno.UI/UI/Xaml/IFrameworkElement.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, kind/documentation

#14247 fix!: Remove Xamarin.AndroidX.Legacy.Support.v4 on net8.0
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.netcoremobile.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.netcoremobile.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.netcoremobile.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.netcoremobile.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWP/Uno.netcoremobile.csproj
Labels: platform/android 🤖, area/build

#14086 chore: Simplify runtime replace targets and fix up to date check
  build/nuget/uno.winui.runtime-replace.targets
Labels: area/build

#14301 docs: Bump uno.check and extensions docs
  doc/articles/migrating-to-uno-5.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#14315 chore: Update import_external_docs.ps1 for latest workshops doc
  doc/import_external_docs.ps1
Labels: kind/documentation

#14320 docs: Update uno-internals-hotreload.md
  doc/articles/uno-development/uno-internals-hotreload.md
Labels: kind/documentation

#14297 fix: Adjust TextBox ScrollViewer workaround for Material TextBox to wrap properly
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TextBox_Wrapping.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TextBox_Wrapping.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: platform/android 🤖

#14325 chore: Update import_external_docs.ps1 for latest workshops doc
  doc/import_external_docs.ps1
Labels: kind/documentation

#14326 fix(gtk): Fix software rendering after scaling adjustments
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/SoftwareRenderSurface.cs
Labels: area/skia ✏️

#14099 feat: WinUI `StandardUICommand`
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/XamlUICommandTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/XamlUICommandTests.xaml.cs
  src/Uno.Foundation/DelegateCommand.T.cs
  src/Uno.Foundation/DelegateCommand.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Input/Given_StandardUICommand.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Input/Given_XamlUICommand.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_XamlReader.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/CommandBarFlyout/Strings/en-GB/Resources.resw
  src/Uno.UI/Microsoft/UI/Xaml/Controls/CommandBarFlyout/Strings/en-US/Resources.resw
  src/Uno.UI/UI/Xaml/Input/StandardUICommand.Constants.cs
  src/Uno.UI/UI/Xaml/Input/StandardUICommand.cs
  src/Uno.UI/UI/Xaml/Input/StandardUICommand.mux.cs
  src/Uno.UI/UI/Xaml/Input/StandardUICommand.mux.h.cs
  src/Uno.UI/UI/Xaml/Input/StandardUICommandKind.cs
  src/Uno.UI/UI/Xaml/Input/XamlUICommand.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlConstants.cs
Labels: area/automation

#14329 fix: Adjust HR documentation and error message for uno 5 upgrade
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/migrating-to-uno-5.md
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
Labels: kind/documentation

#14334 docs: Update `Launcher` API docs
  doc/articles/features/windows-system.md
Labels: kind/documentation

#14180 feat: Port LayoutRound code from WinUI
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FlowDirection.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_EffectiveViewport.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Helpers.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/skia ✏️

#14302 Alter Android ResourcesGenerationTask to use `LibraryResourceDirectories`
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
Labels: area/code-generation

#14339 feat: Add LinearArrayPool
  src/Uno.UI.Tests/Buffers/Given_LinearArrayPool.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.cs
  src/Uno.UWP/Buffers/ArrayPool.cs
  src/Uno.UWP/Buffers/DefaultArrayPool.cs
  src/Uno.UWP/Buffers/DefaultArrayPoolBucket.cs
  src/Uno.UWP/Buffers/DefaultArrayPoolPlatformProvider.cs
  src/Uno.UWP/Buffers/IArrayPoolPlatformProvider.cs
  src/Uno.UWP/Buffers/LinearArrayPool.cs
  src/Uno.UWP/Buffers/Utilities.cs
Labels: area/automation, area/performance 📈

#14296 test: Run leak tests for both fluent and non-fluent style
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
Labels: area/automation

#14369 feat: Use `StandardUICommand` for `TextBox` context menu
  src/Uno.UI/UI/Xaml/Controls/TextBox/Strings/en-US/Resources.resw
  src/Uno.UI/UI/Xaml/Controls/TextBox/Strings/en/Resources.resw
  src/Uno.UI/UI/Xaml/Controls/TextBox/Strings/es-ES/Resources.resw
  src/Uno.UI/UI/Xaml/Controls/TextBox/Strings/es-MX/Resources.resw
  src/Uno.UI/UI/Xaml/Controls/TextBox/Strings/fr-CA/Resources.resw
  src/Uno.UI/UI/Xaml/Controls/TextBox/Strings/fr/Resources.resw
  src/Uno.UI/UI/Xaml/Controls/TextBox/Strings/sr/Resources.resw
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#14363 fix(xamlgen): Use XamlBindingHelper.ConvertValue for markup extensions
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_MarkupExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/MarkupExtension_ParserContext.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/MarkupExtension_ParserContext.xaml.cs
Labels: area/code-generation

#14374 fix: Hot-reload testing
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/MetadataUpdates/CompilationWorkspaceProvider.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RemoteControl/buildTransitive/Uno.UI.DevServer.targets
Labels: area/code-generation

#14388 chore: Update vs wasm doc
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#14400 docs: Update net-version-support.md
  doc/articles/net-version-support.md
Labels: kind/documentation

#14391 docs: Fix image not showing in applicationdata article
  doc/articles/Assets/features/applicationdata/appdata.jpg
  doc/articles/features/applicationdata.md
Labels: kind/documentation

#14403 fix: Ensure fractional DPI is avoided in HW GTK renderer
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkDisplayInformationExtension.cs
Labels: area/skia ✏️

#14328 chore: add simple command line feature flag parsing for SamplesApp
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#14101 Documentation comments and `TemplateSettings` adjustment to `InfoBadge`
  build/PackageDiffIgnore.xml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBadge/InfoBadge.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBadge/InfoBadge.properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBadge/InfoBadge.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBadge/InfoBadgeTemplateSettings.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/InfoBadge/InfoBadge_themeresources.xaml
Labels: area/build

#14417 docs: update file name for setting the GTK render target
  doc/articles/features/using-skia-gtk.md
Labels: kind/documentation

#14436 docs: Update for 8.0.100 and 17.8 stable
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-wizard.md
  doc/articles/use-uno-check-inline-windows-noheader.md
Labels: kind/documentation

#13491 fix!: update SimpleOrientationSensor to match Windows API
  src/SamplesApp/UITests.Shared/Windows_Devices/OrientationTests.xaml.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.Android.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.iOS.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.unsupported.cs
Labels: platform/android 🤖, platform/ios 🍎, area/automation

#14433 chore: update to 8.0.100
  build/ci/templates/dotnet-mobile-install-windows.yml
  global-net8.json
  src/Directory.Build.props
  src/Uno.UI.RemoteControl.Host/Config/global-net8.0.json
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI/Controls/Window.iOS.cs
  src/Uno.UWP/Storage/MimeTypeService.cs
  src/Uno.UWP/Storage/Pickers/Internal/UTTypeMapper.iOSmacOS.cs
Labels: platform/macos 🍏, platform/ios 🍎, area/build

#14428 docs: Adjust Non-UI APIs docs for better searchability
  build/cSpell.json
  doc/articles/features/Lottie.md
  doc/articles/features/SpeechRecognition.md
  doc/articles/features/applicationdata.md
  doc/articles/features/barometer.md
  doc/articles/features/bluetoothdevice.md
  doc/articles/features/clipboard.md
  doc/articles/features/compass.md
  doc/articles/features/file-management.md
  doc/articles/features/progressring.md
  doc/articles/features/windows-applicationmodel-chat.md
  doc/articles/features/windows-applicationmodel-contacts.md
  doc/articles/features/windows-applicationmodel-datatransfer.md
  doc/articles/features/windows-applicationmodel-email.md
  doc/articles/features/windows-applicationmodel.md
  doc/articles/features/windows-devices-geolocation.md
  doc/articles/features/windows-devices-haptics.md
  doc/articles/features/windows-networking.md
  doc/articles/features/windows-phone-devices-notification-vibrationdevice.md
  doc/articles/features/windows-storage-pickers.md
  doc/articles/features/windows-system-display.md
  doc/articles/features/windows-system-power.md
  doc/articles/features/windows-system-profile.md
  doc/articles/features/windows-system-userprofile.md
  doc/articles/features/windows-system.md
  doc/articles/features/windows-ui-notifications.md
  doc/articles/features/windows-ui-startscreen.md
  doc/articles/features/windows-ui-viewmanagement.md
  doc/articles/features/windows-ui-xaml-application.md
  doc/articles/features/windows-ui-xaml-window.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14483 fix(bitmapicon): fix BitmapIcon respecting ForegroundProperty on skia
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Foreground.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BitmapIconTests/BitmapIcon_Foreground.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
  src/Uno.UI.Composition/Composition/SpriteVisual.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
Labels: area/skia ✏️, area/automation

#14482 chore: Remove unneeded UnoSkipUserControlsInVisualTree
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#14480 test: Disable flaky `FlyoutTest_Unloaded` on iOS
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout.cs
Labels: area/automation

#14444 fix: Adjustments to Android `FileSavePicker` behavior
  doc/articles/features/windows-storage-pickers.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileSavePicker_DuplicateFile.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileSavePicker_DuplicateFile.xaml.cs
  src/Uno.UWP/Storage/Pickers/FileSavePicker.Android.cs
Labels: platform/android 🤖, area/automation, kind/documentation

#14497 test: Additional tests for DP `DefaultValue`
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.DefaultValueProvider.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
Labels: area/automation

#14520 chore: fix SamplesApp sample selection when opening runtime tests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
Labels: area/automation

#14523 docs: Adjust getting started flow
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  doc/articles/additional-linux-setup-inline.md
  doc/articles/additional-macos-setup-inline.md
  doc/articles/additional-vscode-topics.md
  doc/articles/additional-windows-setup-inline.md
  doc/articles/common-issues-all-ides.md
  doc/articles/common-issues-ioscatalyst.md
  doc/articles/common-issues-skia.md
  doc/articles/common-issues-vs2022.md
  doc/articles/common-issues-vscode.md
  doc/articles/common-issues-wasm.md
  doc/articles/common-issues.md
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/create-an-app-vscode.md
  doc/articles/features/using-skia-gtk.md
  doc/articles/features/using-skia-wpf.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-next-steps.md
  doc/articles/get-started-rider.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-vs.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started-vsmac.md
  doc/articles/get-started-with-linux.md
  doc/articles/get-started-wizard.md
  doc/articles/get-started.md
  doc/articles/getting-help.md
  doc/articles/guides/hotswap-app-language.md
  doc/articles/how-uno-works.md
  doc/articles/intro.md
  doc/articles/migrating-apps.md
  doc/articles/native-views.md
  doc/articles/splash-screen.md
  doc/articles/toc.yml
  doc/articles/uno-development/creating-ui-tests.md
  doc/articles/uno-development/working-with-the-samples-apps.md
  doc/articles/use-uno-check-inline-linux-noheader.md
  doc/articles/use-uno-check-inline-macos-noheader.md
  doc/articles/use-uno-check-inline-noheader.md
  doc/articles/use-uno-check-inline-windows-noheader.md
  doc/articles/use-uno-check-inline.md
  doc/articles/what-is-uno.md
Labels: area/build, kind/documentation

#14539 docs: Fix toc for get started
  doc/articles/get-started-rider.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started-wizard.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14479 docs: Updating hot reload docs to mention new hot reload commands
  doc/articles/migrating-to-uno-5.md
Labels: kind/documentation

#14446 fix: Adjust msbuild tasks and nuget package for actual SHA commit
  build/Uno.UI.Build.csproj
Labels: area/build

#14542 docs: Update vs android troubleshooting
  build/cSpell.json
  doc/articles/common-issues-vs2022.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/toc.yml
  doc/articles/uno-development/uno-internals-hotreload.md
Labels: area/build, kind/documentation

#14556 docs: Update getting-started-tutorial-1.md
  doc/articles/getting-started-tutorial-1.md
Labels: kind/documentation

#14537 fix: add net7.0 mobile target for net8.0-windows compatibility
  build/Uno.UI.Build.csproj
  build/Uno.WinUI.nuspec
  build/ci/.azure-devops-spell-check.yml
Labels: area/build

#14558 docs: Misc getting started updates, markup wording
  README.md
  build/cSpell.json
  doc/articles/Assets/quick-start/rider-folder-structure.JPG
  doc/articles/Assets/quick-start/rider-folder-structure.png
  doc/articles/Assets/quick-start/run-android-rider.JPG
  doc/articles/Assets/quick-start/run-android-rider.png
  doc/articles/Assets/quick-start/run-catalyst-rider.png
  doc/articles/Assets/quick-start/run-uwp-rider.JPG
  doc/articles/Assets/quick-start/run-wasm-rider.JPG
  doc/articles/Assets/quick-start/run-wasm-rider.png
  doc/articles/Assets/quick-start/run-winappsdk-rider.png
  doc/articles/common-issues.md
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/create-an-app-vscode.md
  doc/articles/faq.md
  doc/articles/get-started-next-steps.md
  doc/articles/get-started-rider.md
  doc/articles/get-started.md
  doc/articles/getting-started/requirements.md
  doc/articles/guides/silverlight-migration/00-overview.md
  doc/articles/how-uno-works.md
  doc/articles/intro.md
  doc/articles/toc.yml
  doc/articles/using-uno-ui.md
  doc/articles/what-is-uno.md
Labels: area/build, kind/documentation

#14565 fix(HR): Include path to C# files to ensure partial HR picks up CSM changes
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
Labels: area/code-generation

#14585 build: Adjust UnoIslands.Skia.Wpf to properly have Uno.UI.Tasks
  src/SamplesApp/UnoIslands.Skia.Wpf/UnoIslands.Skia.Wpf.csproj
Labels: area/automation

#14602 docs: Update get-started-next-steps.md
  doc/articles/get-started-next-steps.md
Labels: kind/documentation

#14534 perf(xamlgen): Reduce allocations in RewriteNamespaces
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/StringExtensions.cs
Labels: area/code-generation

#14584 docs: Update performance tips
  build/cSpell.json
  doc/articles/Uno-UI-Performance.md
  doc/articles/Uno.UI.Toolkit.md
  doc/articles/additional-vscode-topics.md
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/create-an-app-vscode.md
  doc/articles/features/VisibleBoundsPadding.md
  doc/articles/features/using-il-linker-webassembly.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-explore.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started.md
  doc/articles/guides/profiling-applications.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14601 fix: Only set children parents to null on UIElement cleanup
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#14615 docs: misc updates (bp #14584)
  build/cSpell.json
  doc/articles/Uno-UI-Performance.md
  doc/articles/Uno.UI.Toolkit.md
  doc/articles/additional-vscode-topics.md
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/create-an-app-vscode.md
  doc/articles/features/VisibleBoundsPadding.md
  doc/articles/features/using-il-linker-webassembly.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-explore.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started.md
  doc/articles/guides/profiling-applications.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14607 fix(listview): header losing datacontext on ios between frame navigation
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.iOS.cs
Labels: platform/ios 🍎
