Repository unoplatform/uno, pull requests merged in 2023-01, with the labels that each got.

#10862 chore: Remove unused properties
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.iOSmacOS.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.Android.cs
Labels: platform/android, platform/macos, platform/ios

#10860 build: Remove references from `Uno.UI.TestComparer` that cause build warnings
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
Labels: area/build

#10867 chore: Cleanup Uno.Xaml csprojs
  src/SourceGenerators/System.Xaml/Uno.Xaml.Reference.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.netcoremobile.csproj
Labels: area/code-generation

#10863 build: Cleanup some MSBuild imports
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Skia.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Skia.csproj
  src/SourceGenerators/System.Xaml/Uno.Xaml.Reference.csproj
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.Foundation/Uno.Foundation.Skia.csproj
  src/Uno.Foundation/Uno.Foundation.Wasm.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.Skia.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.Wasm.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.Skia.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.Wasm.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.Skia.csproj
  src/Uno.UI.FluentTheme.v1/Uno.UI.FluentTheme.v1.Wasm.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.Skia.csproj
  src/Uno.UI.FluentTheme.v2/Uno.UI.FluentTheme.v2.Wasm.csproj
  src/Uno.UI.FluentTheme/Uno.UI.FluentTheme.Skia.csproj
  src/Uno.UI.FluentTheme/Uno.UI.FluentTheme.Wasm.csproj
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.WebAssembly/Uno.UI.Runtime.WebAssembly.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Skia.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Wasm.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.Skia.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.Wasm.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UWP/Uno.Skia.csproj
  src/Uno.UWP/Uno.Wasm.csproj
Labels: platform/wasm, area/skia, area/code-generation

#10689 feat: StorageFileHelper
  doc/articles/features/file-management.md
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_ApplicationStorage.cs
  src/Uno.UI.Toolkit/Storage/StorageFileHelper.Android.cs
  src/Uno.UI.Toolkit/Storage/StorageFileHelper.cs
  src/Uno.UI.Toolkit/Storage/StorageFileHelper.iOSmacOS.cs
  src/Uno.UI.Toolkit/Storage/StorageFileHelper.wasm.cs
  src/Uno.UWP/Storage/Helpers/AssetsManager.wasm.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, kind/documentation

#10777 feat: Add WinRT interop methods
  doc/articles/features/app-close-handler.md
  doc/articles/features/windows-applicationmodel-datatransfer.md
  doc/articles/features/windows-storage-pickers.md
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Base/App.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Shared/App.xaml.cs
  src/SolutionTemplate/UnoSolutionTemplate/Shared/App.xaml.cs
  src/Uno.UI/WinRT/Interop/InitializeWithWindow.cs
  src/Uno.UI/WinRT/Interop/WindowNative.cs
Labels: area/solution-templates, kind/documentation

#10856 chore: Cleanup unused `_forceGeneration` field
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
Labels: area/code-generation

#10894 chore: Remove workaround for a fixed issue
  src/SolutionTemplate/UnoSolutionTemplate/Droid/UnoQuickStart.Droid.csproj
Labels: area/solution-templates

#10889 fix(templates): Only build net6.0-windows10.0.18362 on Windows
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/UnoQuickStart.csproj
Labels: area/solution-templates

#10847 build: Set TreatWarningsAsErrors unconditionally
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Nested_Sequence_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/TappedTapped_Tests.cs
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/UITests.Shared/Toolkit/ElevatedView_Tester.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Devices/Midi/MidiDeviceOutput.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/XamlEvent_Leak.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/ThemeResources/ReloadedControlTheme.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_OwnContainer_Virtualized.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MenuFlyoutTests/MenuFlyout_DroidAltTab.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/WASM_Multiline.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_iOS_Theme.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/SequentialAnimationsPage.xaml.cs
  src/SourceGenerators/System.Xaml.Tests/Uno.Xaml.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Windows_UI_Xaml_Controls/GridTests/Given_Grid.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/appbar/AppBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/calendarview/CalendarViewIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/Button_Command_Leak.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/NativeViewPage/NativeViewIFrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/NativeViewPage/NativeView_Page.xaml.cs
Labels: area/code-generation, area/automation

#10877 `InstalledLocation` and `InstalledPath` improvements
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/PackageTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/PackageTests.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
  src/Uno.UWP/ApplicationModel/Package.Android.cs
  src/Uno.UWP/ApplicationModel/Package.Other.cs
  src/Uno.UWP/ApplicationModel/Package.cs
  src/Uno.UWP/ApplicationModel/Package.iOSmacOS.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel/Package.cs
  src/Uno.UWP/Storage/StorageFile.skia.cs
Labels: platform/android, platform/macos, platform/ios, area/skia, area/automation

#10909 chore: Delete workaround for fixed issue
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#10865 build: Cleanup MSBuildVersion usages
  src/SolutionTemplate/UnoSolutionTemplate.VSIX/UnoSolutionTemplate.VSIX.projitems
  src/SourceGenerators/SourceGeneratorHelpers/SourceGeneratorHelpers.projitems
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests.Shared/Uno.UI.SourceGenerators.Tests.Shared.projitems
  src/TargetFrameworkSelection.targets
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.csproj
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.csproj
  src/Uno.UI/Uno.UI.Reference.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWP/Uno.csproj
  src/Uno.UWP/Uno.netcoremobile.csproj
  src/netcore-build-windows.props
Labels: platform/android, area/solution-templates, area/code-generation

#10881 Avoid deflating layout slot by border thickness twice
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_LayoutSlot.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.cs
  src/Uno.UI/UI/Xaml/Controls/ContentControl/ContentControl.Layout.cs
  src/Uno.UI/UI/Xaml/FrameworkElementExtensions.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: platform/wasm, area/skia

#10899 fix(CI): TakeScreenshot on Android
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
Labels: area/automation

#10930 docs: Update to latest uno.check
  doc/import_external_docs.ps1
Labels: kind/documentation

#10918 build: Reduce source generator dependencies
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
Labels: area/code-generation

#10934 fix: Pack analyzers in `analyzers/dotnet/cs`
  build/Uno.WinUI.nuspec
Labels: area/build

#10851 fix(gen): generate less fields BindableMetadataProvider
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation

#10945 docs: Adjust SVG for WebAssembly
  doc/articles/features/svg.md
Labels: kind/documentation

#10941 perf: WindowManager bindings III
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#10952 docs: Improve performance wasm tips
  doc/articles/Uno-UI-Performance.md
Labels: kind/documentation

#10932 fix(uap): Fix generators should not run under uap builds
  build/uno.winui.win.targets
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/PlatformHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation, area/build

#10749 fix(embeddedresources): Restore proper AssignTargetPaths/AssignLinkMetadata for EmbeddedResource LogicalName metadata
  src/SamplesApp/SamplesApp.Shared/Embedded/SubFolder1/SubFolder2/SharedProjectEmbeddedFile.txt
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel_Resources/Given_EmbeddedResources.cs
Labels: area/code-generation, area/automation, kind/documentation

#10964 fix(trimming): Disable XAML trimming on mono+OSX/Linux
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#10969 fix(nuspec): Remove Mono.Cecil
  build/Uno.WinUI.nuspec
Labels: area/build

#10968 perf: WindowManager bindings IV
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#10976 chore: Update Android Lottie dependency in nuspec
  build/Uno.WinUI.Lottie.nuspec
Labels: area/build

#10978 Misc remote control fixes
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/MetadataUpdates/CompilationWorkspaceProvider.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl.Server/Uno.UI.RemoteControl.Server.csproj
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
Labels: area/code-generation

#10982 fix: Remove unused generated code
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation

#10984 chore: Remove duplicate usings
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.Validations.cs
  src/Uno.UI.RuntimeTests/Helpers/RawBitmap.cs
  src/Uno.UI.RuntimeTests/Helpers/RelativeCoords.cs
Labels: area/automation

#10963 Support for custom markup extensions in `Setter`
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/App/Xaml/Test_MarkupExtension.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml/MarkupExtensionTests/Given_MarkupExtension.cs
Labels: area/code-generation, area/automation

#10949 docs: Fix closing tag in code example
  doc/articles/guides/uno-material-walkthrough.md
Labels: kind/documentation

#10819 test: Remove test-specific property IsUnitTest from generators
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/ImplementedRoutedEventsGeneratorTests/Given_ImplementedRoutedEventsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/ImplementedRoutedEvents/ImplementedRoutedEventsGenerator.cs
Labels: area/code-generation

#10797 fix(fonts): Adjust font loading for ms-appx resources from assemblies
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/Nullable.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/StringExtensions.cs
  src/Uno.Foundation/Uno.Foundation.Reference.csproj
  src/Uno.Foundation/Uno.Foundation.Skia.csproj
  src/Uno.Foundation/Uno.Foundation.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Skia.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.RuntimeTests/Assets/Fonts/uno-fluentui-assets-runtimetest01.ttf
  src/Uno.UI.RuntimeTests/MUX/Windows_UI_Xaml_Controls/PersonPictureTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI/Controls/NSFontHelper.macOS.cs
  src/Uno.UI/Controls/UIFontHelper.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureEntry.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureKey.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureSizeEntry.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.wasm.cs
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
  src/Uno.UI/UI/Xaml/Extensions/FontHelper.Android.cs
  src/Uno.UI/UI/Xaml/FontFamily.wasm.cs
  src/Uno.UI/UI/Xaml/XamlFilePathHelper.shared.cs
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWP/Uno.netcoremobile.csproj
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/code-generation, area/automation

#10993 ci: Always retry publishing artifacts
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/.azure-devops-macos.yml
  build/ci/.azure-devops-package-generic.yml
  build/ci/.azure-devops-package-net6-win.yml
  build/ci/.azure-devops-package-reference.yml
  build/ci/.azure-devops-package-skia.yml
  build/ci/.azure-devops-package-wasm.yml
  build/ci/.azure-devops-package.yml
  build/ci/.azure-devops-samplesapp-uitests-build.yml
  build/ci/.azure-devops-screenshot-compare.yml
  build/ci/.azure-devops-skia-tests.yml
  build/ci/.azure-devops-uap.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/.azure-devops-vs2022-vsix.yml
  build/ci/.azure-devops-wasm-uitests.yml
  build/ci/.azure-devops-winui-convert.yml
  build/ci/templates/generate-changelog.yml
Labels: area/build

#10994 fix(reg): Adjust UnoHasLocalizationResources metadata
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#11004 Misc template fixes
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/UnoQuickStart.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Windows/UnoQuickStart.Windows.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/UnoSolutionWizard.cs
Labels: area/solution-templates

#10996 fix: Invisible invalid char
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
Labels: area/skia

#11005 feat(notimplemented): Update error messages to include a link for not implemented APIs
  build/uno.winui.common.targets
  doc/articles/get-started-wizard.md
  doc/articles/toc.yml
  doc/articles/uno-notimplemented-types.md
  src/Uno.Foundation/Metadata/ApiInformation.cs
  src/Uno.UWPSyncGenerator/Generator.cs
Labels: area/build, kind/documentation

#11014 fix(gtk): Add more descriptive message on initialization failure
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
Labels: area/skia

#11013 fix(reg): Include explicitly specified fonts in info.plist for backward compatibilty
  src/SourceGenerators/Uno.UI.Tasks/Assets/RetargetAssets.Fonts.cs
  src/SourceGenerators/Uno.UI.Tasks/Assets/RetargetAssets.cs
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/Uno.UI/Controls/UIFontHelper.iOS.cs
Labels: platform/ios, area/code-generation

#11018 docs: Include uno-check in welcome page
  doc/articles/get-started-wizard.md
  doc/articles/use-uno-check-inline-windows-noheader.md
  doc/articles/use-uno-check-inline.md
Labels: kind/documentation

#10997 feat(fonts): Add support for symbols font uri override
  doc/articles/uno-fluent-assets.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UITests.Shared/Assets/Fonts/uno-fluentui-assets.ttf
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/MUX/Windows_UI_Xaml_Controls/PersonPictureTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_ApplicationStorage.cs
  src/Uno.UI/FeatureConfiguration.cs
Labels: area/code-generation, area/automation, kind/documentation

#11009 Adjust support for relative uri for image source
  build/Uno.WinUI.nuspec
  doc/articles/guides/how-to-create-control-libraries.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/PlatformHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/Windows_UI_Xaml_Controls/GridTests/Given_Grid.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Windows_UI_Xaml_Controls/PersonPictureTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_StorageFile.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/FrameworkElement_Opacity.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ImageControls/When_Image.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ImageControls/When_Image.xaml.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.net.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.netstdref.cs
  src/Uno.UI/UI/Xaml/FrameworkElementHelper.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
  src/Uno.UI/UI/Xaml/XamlFilePathHelper.shared.cs
  src/Uno.UWP/Storage/StorageFile.Android.cs
  src/Uno.UWP/Storage/StorageFile.iOSmacOS.cs
  src/Uno.UWP/Storage/StorageFile.skia.cs
  src/Uno.UWP/Storage/StorageFile.wasm.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/code-generation, area/build, area/automation, kind/documentation

#11024 chore: Adjust metadata updates
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Empty/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Add_xBind_Function_Property_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdateTests/Scenarios/When_Two_Projects_Single_Code_File_With_Code_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/MetadataUpdates/HotReloadWorkspaceProvider.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/GenerationRunFileInfo.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Debugging.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
Labels: area/code-generation

#11030 Misc docs updates
  doc/articles/Assets/quick-start/net6-ios-debug.png
  doc/articles/Assets/quick-start/net7-ios-debug.png
  doc/articles/Assets/quick-start/vs2022-project-reload.png
  doc/articles/Assets/quick-start/vsix-new-project-options.png
  doc/articles/Assets/solution-structure.png
  doc/articles/Assets/tutorial01/create-models-folder.png
  doc/articles/Assets/tutorial01/newproject4.png
  doc/articles/Assets/tutorial01/uno-extensions.PNG
  doc/articles/best-practices-uno.md
  doc/articles/features/Lottie.md
  doc/articles/features/custom-fonts.md
  doc/articles/features/file-management.md
  doc/articles/features/using-skia-wpf.md
  doc/articles/features/using-winui2.md
  doc/articles/features/working-with-assets.md
  doc/articles/features/working-with-strings.md
  doc/articles/get-started-dotnet-new.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started-vsmac.md
  doc/articles/get-started-wizard.md
  doc/articles/get-started.md
  doc/articles/getting-started-tutorial-1.md
  doc/articles/getting-started-tutorial-2.md
  doc/articles/guides/how-to-create-control-libraries.md
  doc/articles/guides/native-frame-nav-tutorial.md
  doc/articles/guides/open-id-connect.md
  doc/articles/guides/raspberry-pi/raspberry-pi-intro.md
  doc/articles/guides/silverlight-migration/02-considering-navigation.md
  doc/articles/guides/silverlight-migration/03-review-app-startup.md
  doc/articles/guides/uno-cupertino-walkthrough.md
  doc/articles/guides/uno-material-walkthrough.md
  doc/articles/how-uno-works.md
  doc/articles/howto-migrate-existing-code.md
  doc/articles/interop/wasm-javascript-2.md
  doc/articles/interop/wasm-javascript-3.md
  doc/articles/logging.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/platform-specific-csharp.md
  doc/articles/platform-specific-xaml.md
  doc/articles/splash-screen.md
  doc/articles/uno-app-solution-structure.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/use-uno-check-inline-linux-noheader .md
  doc/articles/use-uno-check-inline-macos-noheader.md
  doc/articles/use-uno-check-inline-windows-noheader.md
Labels: kind/documentation

#11032 Misc templates updates
  build/ci/templates/dotnet7-mobile-install-mac.yml
  build/ci/templates/dotnet7-mobile-install-windows.yml
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/Uno.ProjectTemplates.Dotnet.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/template.json
  src/SolutionTemplate/UnoLibraryTemplate.netcore/CrossTargetedLibrary.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/UnoQuickStart.Mobile.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/Assets/Fonts/uno-fluentui-assets.ttf
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/Views.netcore.vstemplate
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/.vsconfig.vs17
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/Forms/UnoOptions.cs
  src/Uno.Analyzers/UnoNotImplementedAnalyzer.cs
Labels: area/solution-templates, area/build

#11039 fix(reg): Adjust lookup for symbol resources
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
Labels: area/code-generation

#11049 chore: Avoid NuGet restore error by updating `AppCompatResources`
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
Labels: area/automation

#11033 perf: WindowManager bindings V
  src/Uno.UI/UI/Xaml/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm

#11029 chore: Minor cleanup in `ImplementedRoutedEventsGenerator`
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/ImplementedRoutedEventsGeneratorTests/Given_ImplementedRoutedEventsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/ImplementedRoutedEvents/ImplementedRoutedEventsGenerator.cs
Labels: area/code-generation

#11001 fix(templates): Remove dead import conditions
  src/SamplesApp/SamplesApp.Droid/SamplesApp.Droid.csproj
  src/SamplesApp/SamplesApp.UWP/SamplesApp.UWP.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/SamplesApp.iOS/SamplesApp.iOS.csproj
  src/SamplesApp/SamplesApp.macOS/SamplesApp.macOS.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Droid/BlankApp.Droid.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.UWP/BlankApp.Uwp.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.Wasm/BlankApp.Wasm.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.iOS/BlankApp.iOS.csproj
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-prism/BlankApp.macOS/BlankApp.macOS.csproj
  src/SolutionTemplate/UnoSolutionTemplate.netcore/Wasm/UnoQuickStart.Wasm.csproj
  src/SolutionTemplate/UnoSolutionTemplate/Wasm/UnoQuickStart.Wasm.csproj
Labels: area/solution-templates, area/automation

#10987 fix: [iOS] Possible layout cycle when a sub-child invalidate its layout while being arranged
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOS.cs
Labels: platform/ios

#11012 ci: Add hints to `OptimizeImplicitlyTriggeredBuild` in cross targeting override
  doc/articles/uno-development/building-uno-ui.md
  src/crosstargeting_override.props.sample
Labels: kind/documentation

#11057 fix(assets): Include transitive and nuget assets in publish output
  build/ci/.azure-devops-skia-tests.yml
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/SamplesApp.Skia.Linux.FrameBuffer.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
Labels: area/code-generation, area/automation

#11077 docs: Adjust migration steps for 4.6 and 4.7
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#11071 feat(mediaplayer): Enable for WinUI, update to WinAppSDK 1.2
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_3gp_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Avi_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Flv_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Full.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Minimal.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mkv_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mov_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Ogg_Extension.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Sources.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Stretch_Fill.xaml
  src/Uno.UI/Microsoft/UI/Input/IPointerPointTransform.cs
  src/Uno.UI/Microsoft/UI/Input/InputCursor.cs
  src/Uno.UI/Microsoft/UI/Input/InputDesktopResourceCursor.cs
  src/Uno.UI/Microsoft/UI/Input/InputKeyboardSource.cs
  src/Uno.UI/Microsoft/UI/Input/InputLightDismissAction.cs
  src/Uno.UI/Microsoft/UI/Input/InputLightDismissEventArgs.cs
  src/Uno.UI/Microsoft/UI/Input/InputObject.cs
  src/Uno.UI/Microsoft/UI/Input/InputPointerSource.cs
  src/Uno.UI/Microsoft/UI/Input/InputSystemCursor.cs
  src/Uno.UI/Microsoft/UI/Input/PointerEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedAcceptVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/AnimatedIconSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/IconSource/ImageIconSource.cs
  src/Uno.UI/UI/Xaml/Controls/AnimatedVisualPlayer/IAnimatedVisualSource2.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerElement.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaPlayerPresenter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.MediaPlayer.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControls.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayer/MediaTransportControlsHelper.cs
  src/Uno.UWPSyncGenerator.Reference/Uno.UWPSyncGenerator.Reference.csproj
Labels: platform/android, platform/macos, platform/ios, area/automation

#11067 fix(iOS): Multiline TextBox with external keyboard
  src/Uno.UI/Controls/Window.iOS.cs
Labels: platform/ios

#11078 Misc templates adjustments
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Views/UnoQuickStart.csproj
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/LinkerConfig.xml
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Wasm/WasmCSS/Fonts.css
Labels: area/solution-templates

#11090 build: Unify Newtonsoft.Json dependency version
  build/Uno.WinUI.Lottie.nuspec
  build/Uno.WinUI.RemoteControl.nuspec
  src/AddIns/Uno.UI.Lottie/ThemableLottieVisualSource.Android.cs
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Reference.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.netcoremobile.csproj
  src/Directory.Build.targets
  src/SamplesApp/Directory.Build.props
  src/SolutionTemplate/UnoSolutionTemplate.VSIX.2019/UnoSolutionTemplate.VSIX.2019.csproj
  src/SolutionTemplate/UnoSolutionTemplate.VSIX.2022/UnoSolutionTemplate.VSIX.2022.csproj
  src/SolutionTemplate/UnoUITestTemplate/UnoUITestsLibrary.csproj
  src/Uno.UI.RemoteControl.Host/RemoteControlServer.cs
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.cs
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl.Server/Uno.UI.RemoteControl.Server.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Skia.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Wasm.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
Labels: platform/android, area/solution-templates, area/build, area/automation

#11086 fix: System.IO.DirectoryNotFoundException looking for /dev/input
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.cs
Labels: area/skia

#11105 docs: fix using-uno-check file name
  doc/articles/use-uno-check-inline-linux-noheader.md
Labels: kind/documentation

#11098 fix(winappsdk): Run package diff on winui build
  build/PackageDiffIgnore.xml
  build/Uno.UI.Build.csproj
Labels: area/build

#11116 fix: Disable appkit template creation until fixed in .NET
  src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/template.json
  src/SolutionTemplate/UnoSolutionTemplate.WinUI.netcore/Mobile/UnoQuickStart.Mobile.csproj
  src/SolutionTemplate/UnoSolutionTemplate.Wizard.2022/Forms/UnoOptions.Designer.cs
Labels: area/solution-templates

#11126 docs: Add an article to enable faster single-targetframework builds in VS 2022
  doc/articles/guides/solution-building-single-targetframework.md
  doc/articles/toc.yml
  doc/articles/uno-app-solution-structure.md
Labels: area/build, kind/documentation
