Repository unoplatform/uno, pull requests merged in 2023-07, with the labels that each got.

#12772 docs: Fix Search results show scrollbars on Microsoft Edge
  doc/templates/uno/main.scss
  doc/templates/uno/styles/main.css
Labels: kind/documentation

#12757 docs: Update for 19041 sdk bump
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#12756 fix(droid): FlipView Background Color
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/FlipView/FlipView_Background.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/FlipView/FlipView_Background.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FlipView.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/UI/Xaml/Style/mergedstyles.xaml
Labels: area/automation

#12226 feat: Redesign docs header
  doc/templates/uno/component/navbar.js
  doc/templates/uno/component/navbar.scss
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/main.css
  doc/templates/uno/variables.scss
Labels: kind/documentation

#10369 build: Enable CA1823 (Avoid unused private fields)
  .globalconfig
  src/SourceGenerators/System.Xaml/.editorconfig
  src/Uno.Foundation/Metadata/ApiInformation.cs
  src/Uno.UI.Composition/Composition/Compositor.cs
  src/Uno.UI.Dispatching/Core/CoreDispatcher.Android.cs
  src/Uno.UI/Controls/BindableSearchBar.iOS.cs
  src/Uno.UI/Controls/GridViewAdapter.Android.cs
  src/Uno.UI/DirectUI/BudgetManager.h.cs
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PullToRefresh/Native/RefreshContainer.Android.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PullToRefresh/ScrollViewerIRefreshInfoProviderAdapter/ScrollViewerIRefreshInfoProviderAdapter.Header.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PullToRefresh/ScrollViewerIRefreshInfoProviderAdapter/ScrollViewerIRefreshInfoProviderDefaultAnimationHandler.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/RatingControl/RatingControl.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabViewItem.Header.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.skia.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.DragDrop.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.cs
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTip.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.netstd.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.cs
  src/Uno.UI/UI/Xaml/Media/Shapes/ArbitraryShapeBase.net.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.netstdref.cs
  src/Uno.UI/UI/Xaml/Shapes/ArbitraryShapeBase.wasm.cs
  src/Uno.UWP/UI/Popups/MessageDialog.wasm.cs
Labels: platform/wasm, platform/android, platform/ios, area/skia

#12816 docs: fix menu layout
  doc/templates/uno/component/navbar.js
  doc/templates/uno/component/navbar.scss
  doc/templates/uno/main.js
  doc/templates/uno/styles/docfx.js
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.js
Labels: kind/documentation

#12789 fix: Properly update `WebView` history properties
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/InternalWebClient.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/NativeWebViewWrapper.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
Labels: platform/android, platform/macos, platform/ios

#12717 fix(xamlgen): Fix InvalidCastException when accessing array in x:Bind
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Given_Binding.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.netcore.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
Labels: area/code-generation

#12762 Fix sample error on Windows builds
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_NavigateToString2.xaml
Labels: area/automation

#12792 fix: Fix ListView selection when items are duplicated
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DuplicateItem.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DuplicateItem.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
Labels: area/automation

#12847 docs: Reordering tutorials
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#12749 fix: Adjust visibility of missed reference members
  build/PackageDiffIgnore.xml
  src/Uno.ReferenceImplComparer/Program.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.netstdref.cs
  src/Uno.UWP/Devices/Haptics/VibrationDevice.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.others.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.skia.cs
  src/Uno.UWP/Devices/Sensors/Barometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/HingeAngleSensor.unsupported.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.unsupported.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.unsupported.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Barometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Gyrometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/HingeAngleSensor.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Magnetometer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Devices.Sensors/Pedometer.cs
  src/Uno.UWP/Phone/Devices/Notification/VibrationDevice.netstdref.cs
  src/Uno.UWP/Security/Authentication/Web/WebAuthenticationBrokerProvider.netstdref.cs
Labels: area/skia, area/build

#12720 docs: Update the shared uno-check inline for Windows
  doc/articles/use-uno-check-inline-windows-noheader.md
Labels: kind/documentation

#12766 chore: Updates to docs toc test automation - ensure latest tools and auto open browser to correct address
  doc/import_external_docs_test.ps1
Labels: kind/documentation

#12763 fix(textbox): Fix TextBox keyboard navigation only working vertically
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Keyboard_Navigation.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Keyboard_Navigation.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/PasswordTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/TextTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/WpfTextBoxView.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/IOverlayTextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/IOverlayTextBoxViewExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/OverlayTextBoxViewExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia, area/automation

#12654 [iOS] Image Picker hang out issue
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
Labels: platform/ios, area/automation

#12709 fix: Fix setting source on WriteableBitmap for Android and Skia
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.Android.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.skia.cs
Labels: platform/android, area/skia

#12742 Update platform-specific-csharp.md to use the new template structure
  doc/articles/platform-specific-csharp.md
Labels: kind/documentation

#12867 fix: docs markdown tab
  doc/templates/uno/render.js
  doc/templates/uno/styles/docfx.js
Labels: kind/documentation

#12760 Add Source location information to non-FrameworkElements
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12876 docs: Update Figma doc for release 2.6 "Preview 6"
  doc/import_external_docs.ps1
Labels: kind/documentation

#12880 fix(net8): Ensure that roslyn generators can be used when `LangVersion` is empty
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#12821 fix(button): fix button ignoring ButtonForeground/PointerOver values
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Buttons.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_AppLevel_Resource_CheckBox_Override.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_AppLevel_Resource_CheckBox_Override.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_AppLevel_Resource_SplitButton_Override.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_AppLevel_Resource_SplitButton_Override.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI/UI/Xaml/VisualState.cs
Labels: area/automation

#12888 perf: Reduce string allocations in `GetMarkupExtensionType`
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#12349 fix(iOS): AutoSuggestBox Selection
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_SoftKeboard.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_SoftKeboard.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/MultilineTextBoxDelegate.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxDelegate.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.iOS.cs
Labels: platform/ios, area/automation

#12894 feat(hotrestart): [iOS] Add support for VS 2022 hot restart
  doc/articles/get-started-vs-2022.md
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/PlatformHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/HotRestart/HotRestartGenerator.Diagnostics.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/HotRestart/HotRestartGenerator.cs
Labels: area/code-generation, kind/documentation

#12755 feat(WASM): implement the PreviewKeyDown/Up event and handler in WASM
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/UIElementTests/KeyboardTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Events.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/ImplementedRoutedEvents/ImplementedRoutedEventsGenerator.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/Control.cs
  src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/RoutedEvent.cs
  src/Uno.UI/UI/Xaml/RoutedEventFlag.cs
  src/Uno.UI/UI/Xaml/UIElement.EventRegistration.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm, area/code-generation, area/automation

#12908 docs: Add Gamepad page
  build/cSpell.json
  doc/articles/features/gamepad.md
Labels: area/build, kind/documentation

#12907 fix: Update `WebView` history properties on JS-based navigation
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_NavigationProperties.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_NavigationProperties.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/IWebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/InternalWebClient.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView2/WebView2.cs
Labels: platform/android, platform/macos, platform/ios, area/automation

#12658 [MPE] UI test Manual
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_ManualTest.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_ManualTest.xaml.cs
Labels: area/automation

#12923 docs: Fix .net7 URL and incorrectly merged tabs
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#12941 perf: adjust when_disabled test because sometimes it fails
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/DragAndDropTests/DragDrop_ListViewReorder_Automated.cs
Labels: area/automation

#12943 docs: Adjust getting started for VSmac, VScode and Rider
  doc/articles/get-started-rider.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started-vsmac.md
Labels: kind/documentation

#12947 docs: Clarify that fuzzy matching searches default namespaces for xaml-included namespaces
  doc/articles/uno-development/troubleshooting-source-generation.md
Labels: kind/documentation

#12935 fix: Ensure that clipping changes are applied
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia

#11951 Support for Android TV (and its remote)
  build/PackageDiffIgnore.xml
  doc/articles/Assets/features/androidtv/androidtvapps.png
  doc/articles/features/android-tv.md
  doc/articles/features/focus-management.md
  src/SamplesApp/SamplesApp.Droid/Resources/drawable-xhdpi/banner.png
  src/SamplesApp/SamplesApp.Droid/Resources/drawable/Icon.png
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.netcoremobile/Android/Main.Android.cs
  src/SamplesApp/SamplesApp.netcoremobile/Android/MainActivity.Android.cs
  src/SamplesApp/SamplesApp.netcoremobile/Android/Resources/drawable-xhdpi/banner.png
  src/Uno.UI/Extensions/KeycodeExtensions.Android.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/Input/Internal/FocusSelection.cs
  src/Uno.UI/UI/Xaml/Input/Internal/UnoFocusInputHandler.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core/CoreWindow.cs
  src/Uno.UWP/System/VirtualKey.cs
  src/Uno.UWP/System/VirtualKeyHelper.Android.cs
  src/Uno.UWP/System/VirtualKeyHelper.iOS.cs
  src/Uno.UWP/System/VirtualKeyHelper.macOS.cs
  src/Uno.UWP/UI/Core/CoreWindow.Android.cs
  src/Uno.UWP/UI/Core/ICoreWindowsEvents.cs
  src/Uno.UWP/WinRTFeatureConfiguration.Focus.cs
Labels: platform/android, platform/macos, platform/ios, area/build, area/automation, kind/documentation

#12913 fix(ListView): Delete item with bindings
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DeleteItem.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DeleteItem.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/TestsResources.xaml
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBase.iOS.cs
Labels: platform/ios, area/automation

#12967 fix: Ensure initial measure occurs only after Window size is initialized
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindow.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Renderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI/UI/Xaml/Hosting/DesktopWindowXamlSource.crossruntime.cs
  src/Uno.UI/UI/Xaml/Window.skia.cs
  src/Uno.UI/UI/Xaml/XamlRoot.crossruntime.cs
Labels: area/skia, area/automation

#12972 fix(CameraCaptureUI): [iOS] Adjust camera capture for recent iOS builds
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UWP/Media/Capture/CameraCaptureUI.iOS.cs
Labels: platform/ios

#12896 refactor: Refactor brushes
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_GradientBrush.cs
  src/Uno.UI/Helpers/WeakEvents/README.md
  src/Uno.UI/Helpers/WeakEvents/WeakBrushChangedProxy.cs
  src/Uno.UI/Helpers/WeakEvents/WeakEventProxy.cs
  src/Uno.UI/Mock/Brush.reference.cs
  src/Uno.UI/Mock/Brush.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.uno.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/MultilineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/AcrylicBrush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Brush.Android.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/Brush.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Brush.skia.cs
  src/Uno.UI/UI/Xaml/Media/Brush.wasm.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/GradientStop.cs
  src/Uno.UI/UI/Xaml/Media/GradientStopCollection.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/UIElement.TextHelper.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/tsBindings/WindowManagerSetSinglePropertyParams.ts
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/build, kind/documentation

#12884 fix: property inheritance for Control.IsEnabledProperty
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ControlTests/Button_Enabled_Control_Disabled.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ControlTests/Button_Enabled_Control_Disabled.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/DependencyObject/DependencyPropertyGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Button.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/RecyclePoolFactory.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/RangeBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/FrameworkPropertyMetadata.cs
  src/Uno.UI/UI/Xaml/FrameworkPropertyMetadataOptions.cs
  src/Uno.UI/UI/Xaml/PropertyMetadata.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
Labels: platform/android, platform/ios, area/code-generation, area/automation

#12831 docs: Update platform-specific-csharp.md
  doc/articles/platform-specific-csharp.md
Labels: kind/documentation

#12975 fix: Detach native element on host unload
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkCoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/CoreWindowExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfCoreWindowExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentControl.NativeElement.cs
  src/Uno.UWP/UI/Core/CoreWindow.skia.cs
  src/Uno.UWP/UI/Core/ICoreWindowExtension.cs
Labels: area/skia

#12939 fix(listview): Adjust datacontext for header/footer for ListView
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/NativeListViewBaseAdapter.Android.cs
Labels: platform/android, platform/ios

#12989 fix(ItemsRepeater): Fix ItemWrapGrid not sizing dynamic items properly
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/UniformGridLayout/Given_UniformGridLayout.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/UniformGridLayout/UniformGridLayoutState.cs
Labels: area/automation

#12984 fix: Fix ScrollBarVisibility regression on Wasm
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FlipView.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
Labels: platform/wasm, ready-to-merge

#12945 fix(assets): Adjust assets caching by including assembly and package versions
  src/Uno.UI.RuntimeTests/Assets/help.svg
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UWP/Storage/StorageFile.Android.cs
Labels: platform/android

#13010 fix(clipping): Change the way the clipping is activated on Android
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: platform/android

#12367 fix: Write a custom x:Bind parser instead of relying on Roslyn's SyntaxFactory
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests.Shared/Given_XBindParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.CoreParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.PathRewrite.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindNodes.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/xBind_AttachedProperty.xaml
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Controls/xBind_AttachedProperty.xaml.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UWPSyncGenerator.Reference/references.txt
Labels: area/code-generation, area/automation, kind/documentation

#12596 feat: App-specific `ApplicationData` on Skia
  doc/articles/Assets/features/applicationdata/appdata.jpeg
  doc/articles/feature-flags.md
  doc/articles/features/applicationdata.md
  doc/articles/features/file-management.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/toc.yml
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UWP/Package.appxmanifest
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Application.macOS.cs
  src/Uno.UI/UI/Xaml/Application.reference.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
  src/Uno.UI/UI/Xaml/Application.unittests.cs
  src/Uno.UI/UI/Xaml/Application.wasm.cs
  src/Uno.UWP/ApplicationModel/IPackageIdExtension.skia.cs
  src/Uno.UWP/ApplicationModel/Package.Other.cs
  src/Uno.UWP/ApplicationModel/Package.cs
  src/Uno.UWP/ApplicationModel/PackageId.crossruntime.cs
  src/Uno.UWP/ApplicationModel/PackageId.cs
  src/Uno.UWP/ApplicationModel/PackageId.defaults.cs
  src/Uno.UWP/ApplicationModel/PackageId.iOSmacOS.cs
  src/Uno.UWP/ApplicationModel/PackageId.skia.cs
  src/Uno.UWP/ApplicationModel/PackageVersion.cs
  src/Uno.UWP/Storage/ApplicationData.cs
  src/Uno.UWP/Storage/ApplicationData.reference.cs
  src/Uno.UWP/Storage/ApplicationData.skia.cs
  src/Uno.UWP/Storage/ApplicationData.wasm.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.skia.cs
  src/Uno.UWP/WinRTFeatureConfiguration.ApplicationData.cs
Labels: platform/wasm, platform/android, platform/macos, platform/ios, area/skia, area/build, area/automation, kind/documentation

#12991 build: Don't ignore CS0105 on Release builds
  src/AddIns/Uno.UI.Lottie/ThemableLottieVisualSource.Android.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_NavigationProperties.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/SetProtectedCursor.xaml.cs
  src/Uno.CrossTargetting.targets
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/appbar/AppBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Breadcrumb/BreadcrumbTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/CommonStyles/CommonStylesTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/IconSource/IconSourceApiTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/NumberBox/NumberBoxTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/PagerControl/PagerControlTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/PipsPager/PipsPagerTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/RadioButtons/RadioButtonTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/Common/Mocks/MockNonVirtualizingLayout.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/InspectingDataSourceTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/ItemTemplateTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/ViewManagerTests.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_LayoutSlot.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TreeView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/UniformGridLayout/Given_UniformGridLayout.cs
Labels: platform/android, area/automation

#13034 Adjust hotrestart generator
  src/SourceGenerators/Uno.UI.SourceGenerators/HotRestart/HotRestartGenerator.cs
Labels: area/code-generation

#13033 test(clipping): Added a UI test for clipping change on Android
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/ClippingTests/ClippingTests_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Clipping.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/UIElementTests/UIElement_Clipping.xaml
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.Android.cs
Labels: platform/android, area/automation

#13031 fix: Fix toggle switch knob translation
  src/Uno.UI/UI/Xaml/Duration.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.skia.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/ImmediateAnimator.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.animation.Android.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.animation.cs
Labels: platform/wasm, platform/android, area/skia

#9718 feat: Android implementation for Windows.Data.Pdf
  build/PackageDiffIgnore.xml
  src/SamplesApp/SamplesApp.netcoremobile/Android/AssemblyInfo.Android.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Data/Pdf/PdfDocumentRenderTest.xaml
  src/SamplesApp/UITests.Shared/Windows_Data/Pdf/PdfDocumentRenderTest.xaml.cs
  src/Uno.Foundation/Rect.Android.cs
  src/Uno.UI.RuntimeTests/Assets/UnoA4.pdf
  src/Uno.UI.RuntimeTests/Assets/UnoA4.png
  src/Uno.UI.RuntimeTests/Assets/UnoA4_100x141.png
  src/Uno.UI.RuntimeTests/Assets/UnoA4_Crop.png
  src/Uno.UI.RuntimeTests/Assets/UnoA4_Protected.pdf
  src/Uno.UI.RuntimeTests/Assets/UnoA4_Protected.png
  src/Uno.UI.RuntimeTests/Helpers/ImageAssert.cs
  src/Uno.UI.RuntimeTests/Helpers/RawBitmap.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Data/Pdf/Given_PdfDocument.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Windows.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.netcoremobile.csproj
  src/Uno.UWP/Data/Pdf/PdfDocument.Android.cs
  src/Uno.UWP/Data/Pdf/PdfPage.Android.cs
  src/Uno.UWP/Data/Pdf/PdfPageDimensions.Android.cs
  src/Uno.UWP/Data/Pdf/PdfPageRenderOptions.Android.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Pdf/PdfDocument.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Pdf/PdfPage.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Pdf/PdfPageDimensions.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Data.Pdf/PdfPageRenderOptions.cs
Labels: platform/android, area/build, area/automation

#13047 docs: Adjust migration
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#13043 chore(deps): Update Uno.Fonts.Fluent
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
Labels: area/build

#13049 refactor: Move BindingItem to separate file
  src/Uno.UI/DataBinding/BindingPath.BindingItem.cs
  src/Uno.UI/DataBinding/BindingPath.cs
Labels: ready-to-merge
