Repository unoplatform/uno, pull requests merged in 2024-02, with the labels that each got.

#15296 docs: Fix outdated Lottie docs
  doc/articles/features/Lottie.md
Labels: kind/documentation

#15301 fix(gtk): Align VirtualKey with WinUI
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkKeyboardInputSource.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfKeyboardInputSource.cs
Labels: area/skia ✏️

#15309 docs: Update `UnoEnableXamlFuzzyMatching` docs
  doc/articles/uno-development/troubleshooting-source-generation.md
Labels: kind/documentation

#14959 perf: Avoid LOH allocations in RenderTargetBitmap
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.iOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.macOS.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
Labels: platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#15304 fix: Include netstdref for net7.0 and net8.0 builds
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#15273 fix: TimePicker and DatePicker native flyouts closing and unload (5.0 backport)
  build/Uno.UI.Build.csproj
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_DatePicker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TimePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.Flyout.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerSelector.iOS.cs
Labels: platform/android 🤖, platform/ios 🍎, area/build

#15306 fix: Build Maps and Foldable with NetPrevious (net7.0) only
  build/Uno.UI.Build.csproj
  build/filters/Uno.UI-packages-netcoremobile-net8.slnf
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.netcoremobile.csproj
  src/targetframework-override-netprevious.props
Labels: area/build

#15302 fix(textbox): stop infinite invalidations in TextBox on WPF
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#15312 docs: Refresh progessring docs
  doc/articles/features/progressring.md
Labels: kind/documentation

#15313 perf(samplesapp): Make sure RefreshContainerPage timers are stopped
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RefreshContainerTests/RefreshContainerOnImagePage.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RefreshContainerTests/RefreshContainerPage.xaml.cs
Labels: area/automation

#15335 fix: [Catalyst] Ensure LottieVisualSource is transparent
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.Skottie.cs
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
Labels: area/automation

#15337 perf: leverage generic enum getvalues
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/RadioButtonsTests/Given_RadioButtons.cs
  src/SamplesApp/UITests.Shared/Lottie/SampleLottieAnimation.xaml.cs
  src/SamplesApp/UITests.Shared/Uno_Web/Http/CookieManagerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileSavePickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FolderPickerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/UISettingsTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/Focus_FocusVisual.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Stretch_Modes_Picker.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/NavigationView/NavigationViewTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/FlowLayoutTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/ViewportTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentPresenter.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs
  src/Uno.UI/UI/Xaml/UIElement.macOS.cs
  src/Uno.UWPSyncGenerator/AttributeGeneration/AttributeUsageAttributeDescription.cs
Labels: platform/macos 🍏, area/automation

#15348 chore: fix manual Sample grouping
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Button_Click_Verify_SynchronizationContext.xaml.cs
Labels: area/automation

#15339 chore: make csproj indents match editor config
  build/Uno.UI.Build.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Reference.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Tests.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.netcoremobile.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/Uno.UI.MediaPlayer.WebAssembly.csproj
  src/SamplesApp/SamplesApp.Skia.Linux.FrameBuffer/SamplesApp.Skia.Linux.FrameBuffer.csproj
  src/SamplesApp/SamplesApp.Skia.Wpf/SamplesApp.Skia.Wpf.csproj
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UnoIslands.Skia.Wpf/UnoIslands.Skia.Wpf.csproj
  src/SamplesApp/UnoIslands.WinForms/UnoIslands.WinForms.csproj
  src/SourceGenerators/System.Xaml.Tests.MS/System.Xaml.Tests.MS.csproj
  src/SourceGenerators/System.Xaml.Tests/Uno.Xaml.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/Uno.UI.SourceGenerators.Internal.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/SourceGenerators/XamlGenerationTests/XamlGenerationTests.csproj
  src/Uno.Analyzers/Uno.Analyzers.csproj
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.Foundation/Uno.Foundation.Reference.csproj
  src/Uno.Foundation/Uno.Foundation.Tests.csproj
  src/Uno.Foundation/Uno.Foundation.Wasm.csproj
  src/Uno.Foundation/Uno.Foundation.netcoremobile.csproj
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UI.Composition/Uno.UI.Composition.Skia.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.Skia.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.Wasm.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.netcoremobile.csproj
  src/Uno.UI.Tests.Performance/Uno.UI.Tests.Performance.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Skia.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Wasm.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Windows.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.netcoremobile.csproj
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.Wasm.csproj
  src/Uno.UI/Uno.UI.Reference.csproj
  src/Uno.UI/Uno.UI.Tests.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWP/Uno.Skia.csproj
  src/Uno.UWPSyncGenerator.Reference/Uno.UWPSyncGenerator.Reference.csproj
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
  tools/ResourcesExtractor/ResourcesExtractor/ResourcesExtractor.csproj
Labels: platform/wasm 🌐, platform/android 🤖, area/skia ✏️, area/code-generation, area/build, area/automation

#15308 fix(textbox): caret color should follow theme
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#15345 docs: Update `VibrationDevice` to include platform specific requirements
  doc/articles/features/windows-devices-haptics.md
Labels: kind/documentation

#15192 feat: Add a simple XAML Playground sample
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Commands.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Converters/StringEmptyToVisibilityConverter.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Application/Converters.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/SampleControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/SamplesApp.UnitTests.Shared.projitems
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/UITests.Shared/Assets/Fonts/CascadiaCode-Regular.ttf
  src/SamplesApp/UITests.Shared/Playground/Playground.xaml
  src/SamplesApp/UITests.Shared/Playground/Playground.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
Labels: area/automation

#15357 perf: reduce layout invalidations when clearing children when there're none
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.cs
Labels: area/skia ✏️

#15361 fix: [iOS] Avoid crash when content size is negative
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/ios 🍎

#15373 docs: Adujust PasswordVault
  doc/articles/features/PasswordVault.md
Labels: kind/documentation

#15379 docs: `RefreshContainer`
  doc/articles/controls/RefreshContainer.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#15294 fix: Thumb does not prevent scroll
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ThumbTests/Tumb_CapturePreventScroll_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ThumbTests/Thumb_CapturePreventScroll.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ThumbTests/Thumb_CapturePreventScroll.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ThumbTests/Thumb_DragEvents.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Thumb.mux.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.Android.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.iOS.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCaptureOptions.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: platform/android 🤖, platform/ios 🍎, area/automation

#14693 perf: use CompositionTarget to only render a specific target
  src/Uno.UI.Composition/Composition/Compositor.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/Internal/ContentRoot.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTarget.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.skia.cs
Labels: area/skia ✏️

#15234 fix: Fix CalendarView infinite loop
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarView.cs
  src/Uno.UI.Tests/Windows_Globalization/When_Calendar.cs
  src/Uno.UI/DirectUI/DateComparer.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorHost.cs
Labels: area/automation

#15375 fix: Playground is not always loading correctly
  src/SamplesApp/UITests.Shared/Playground/Playground.xaml
  src/SamplesApp/UITests.Shared/Playground/Playground.xaml.cs
Labels: area/automation

#15376 fix: Make it possible to retrieve instance of `ApplicationView` earlier
  src/Uno.UI/BaseActivity.Android.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.cs
Labels: platform/android 🤖

#15332 refactor: Simplify `BorderLayerRenderer` on Skia
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkTextBoxView.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.reference.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerState.cs
  src/Uno.UI/UI/Xaml/Controls/Border/IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.uno.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#15412 fix(reg): Fix VirtualKey regression on Linux
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkKeyboardInputSource.cs
Labels: area/skia ✏️

#15410 chore: Remove wrong comment
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#15407 Misc perf updates
  src/Uno.UI/DataBinding/BindingPropertyHelper.CacheKeys.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.EffectiveViewport.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.crossruntime.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.unittests.cs
  src/Uno.UI/UI/Xaml/Window/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎

#15417 fix: Properly handle `{x:Null}` in an attached DP
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_MarkupExtension.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIAP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIAP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIAP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIRP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIRP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIRP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#15408 perf: Move Loaded/Unloaded to use OnLoaded/OnUnloaded to avoid delegate combine
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.reference.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎

#15426 refactor: Simplify OS checks
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/VideoView.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/Uno.UI.RemoteControl.Server.Processors/Helpers/ProcessHelper.cs
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.HarfbuzzPreload.cs
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/Dpi/DpiHelper.cs
  src/Uno.UI.Runtime.Skia.Gtk/Helpers/Theming/GtkSystemThemeHelperExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkKeyboardInputSource.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/OpenGLESRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/OpenGLRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/SoftwareRenderSurface.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/ProgressBar/ProgressBarTest.cs
  src/Uno.UI/Helpers/InputHelper.cs
  src/Uno.UWP/Storage/ApplicationData.skia.cs
  src/Uno.UWPSyncGenerator/Helpers/ProcessHelper.cs
Labels: area/skia ✏️, area/automation

#15432 build: Fix build incrementality
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerDefinitionMergerTask.cs
Labels: area/code-generation

#15420 fix: Fix TreeView not selecting items properly
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/Analyzers/ObservableVectorAnalyzer.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_TreeView.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TreeView/SelectedItemsVector.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TreeView/TreeViewViewModel.cs
Labels: area/code-generation

#15391 fix(droid): FileOpenPicker to display related applications
  doc/articles/features/windows-storage-pickers.md
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.Android.cs
Labels: platform/android 🤖, kind/documentation

#15402 refactor: Share border-rendering logic in crossruntime
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.reference.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.uno.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.reference.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.skia.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.reference.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.reference.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#15447 docs: Update nuget upgrade steps
  doc/articles/upgrading-nuget-packages.md
Labels: kind/documentation

#15479 docs: Update to latest uno.check
  doc/import_external_docs.ps1
Labels: kind/documentation

#15490 fix: Ensure license is recognized by GitHub
  License.md
Labels: kind/documentation

#15487 fix: Make Android `WebView2.NavigationStarting` more reliable
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/NativeWebViewWrapper.Android.cs
Labels: platform/android 🤖, area/automation

#15503 fix: Specify root mode for root assembly
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerHintGeneratorTask.cs
Labels: area/code-generation

#14440 chore: Splitbutton WinUI alignment
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/SplitButtonTests/Given_SplitButton.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SplitButtonTests/SplitButtonPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SplitButtonTests/SplitButtonTestsPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SplitButtonTests/SplitButtonTestsPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/SplitButton.xaml
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.KeyboardHelper.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/ControlStateViewer.xaml
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/ControlStateViewer.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/Given_SplitButton.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/SplitButtonPage.xaml
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/SplitButtonPage.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/SplitButtonTests_APITests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/SplitButtonTests_InteractionTests.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/SplitButton.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/SplitButton.properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/SplitButtonAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/SplitButtonTestApi.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/SplitButtonTestHelper.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/ToggleSplitButton.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/ToggleSplitButtonAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs
Labels: area/automation

#15453 fix: Handle interface in XamlFileGenerator.IsType
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Parser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WADPIT/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WADPIT/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WADPIT/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
Labels: area/code-generation

#15495 fix: Fix style application to consider only explicit style when applying default style
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TreeView/TreeViewAlignment.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TreeView/TreeViewAlignment.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Style.cs
  src/Uno.UI/UI/Xaml/Style/Style.cs
Labels: area/automation

#15458 perf: Use GeneratedDependencyProperty for commonly read properties
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/DependencyObject/DependencyPropertyGenerator.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.cs
Labels: area/code-generation

#15480 fix: Adjust LayoutRound behavior
  src/Uno.UI.RuntimeTests/Helpers/RawBitmap.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FlowDirection.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#15463 feat: implement UIElement.ProtectedCursor
  src/SamplesApp/UITests.Shared/Windows_UI_Input/SetProtectedCursor.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Core/Given_InputManager.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/InputCursor.cs
  src/Uno.UI/Microsoft/UI/Input/InputCursor.cs
  src/Uno.UI/Microsoft/UI/Input/InputSystemCursor.cs
  src/Uno.UI/Microsoft/UI/Input/InputSystemCursorShapeExtensions.cs
  src/Uno.UI/Microsoft/UI/Input/InputSystemCursorShapeExtensions.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Properties.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/Window/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UWP/UI/Core/ICorePointerInputSource.cs
Labels: platform/wasm 🌐, area/automation

#15482 chore: Misc cleanup
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions/DoubleExtensions.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ColorPicker/ColorSpectrum.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView.cs
  src/Uno.UI/UI/Xaml/BringIntoViewOptions.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.iOS.cs
  src/Uno.UWP/Extensions/MathEx.cs
  src/Uno.UWP/Graphics/Display/BrightnessOverride.Android.cs
  src/Uno.UWP/Graphics/Display/BrightnessOverride.iOS.cs
Labels: platform/android 🤖, platform/ios 🍎

#15543 feat: Support for touch/pen input in WPF
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
Labels: area/skia ✏️

#15546 fix(Catalyst): File and folder Picker UIThread issue
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
  src/Uno.UWP/Storage/Pickers/FolderPicker.iOS.cs
Labels: platform/ios 🍎

#15535 fix: building sample from macos
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: platform/ios 🍎

#14043 Misc XAML generator cleanup
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIAP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIRP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TRDAAPSSTP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWSRD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWTRD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTPWXS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTW/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TVBP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNIONE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#15534 fix(textblock): only open context menu on right tap when IsTextSelectionEnabled
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
Labels: area/skia ✏️

#15557 docs: Adjust wording in svg support
  doc/articles/features/svg.md
Labels: kind/documentation

#15559 chore: Update generated code for test
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WADPIT/XamlCodeGenerator_GlobalStaticResources.cs
Labels: area/code-generation

#15572 fix: Use `UIDocumentPickerViewController` if multiple files are picked
  doc/articles/features/windows-storage-pickers.md
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
Labels: platform/ios 🍎, area/automation, kind/documentation

#15561 docs: Update xaml trimming dependencies
  doc/articles/features/resources-trimming.md
Labels: kind/documentation

#15533 fix(textbox): fix numberpad inputs on WPF
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfKeyboardInputSource.cs
Labels: area/skia ✏️

#15549 feat: DisplayInformation per window
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_Graphics_Display/DisplayInformationTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Imaging/RenderTargetBitmaps.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Basic_Shapes.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkNativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GLRenderSurfaceBase.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/OpenGLESRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/OpenGLRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/SoftwareRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/MultilineTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/SinglelineTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Renderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/Common/OrientationBasedMeasures.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_RevealBrush.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_XamlCompositionBrushBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_RenderTargetBitmap.cs
  src/Uno.UI/Helpers/WinUI/SharedHelpers.cs
  src/Uno.UI/Hosting/XamlRootMap.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/XamlRoot.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.Android.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.iOS.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.macOS.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.skia.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.unsupported.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.wasm.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation

#15579 fix: Ensures that Uno projects enable intellisense even if no wasdk project is present
  build/nuget/uno.winui.single-project.targets
  src/Uno.CrossTargetting.targets
  src/Uno.Sdk/targets/Uno.ProjectCapabilities.targets
Labels: area/build

#15562 docs: Add video to Platform-specific C#
  build/cSpell.json
  doc/articles/platform-specific-csharp.md
Labels: area/build, kind/documentation

#15446 feat: Add manual tests only filter to Samples app
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_Test_InsideScrollerViewer_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_Test_NoScrollViewer_Automated.xaml
Labels: area/automation

#15556 refactor: Make description part of `SampleChooserControl`
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/SampleControl.xaml
Labels: area/automation

#15590 fix: Avoid using unsupported `PackageManger` API on Android 33 and newer
  src/SamplesApp/SamplesApp.netcoremobile/Android/AndroidManifest.xml
  src/Uno.UWP/System/Launcher.Android.cs
Labels: platform/android 🤖, area/automation

#15571 docs: Add Hardware back button and `NavigationView` docs
  doc/articles/controls/NavigationView.md
  doc/articles/features/hardware-back-button.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#15611 chore: Better error messages in Xaml gen
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#15583 chore: Reenable XAML trimming test
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerDefinitionMergerTask.cs
Labels: area/code-generation, area/build

#15614 chore: new binding updates
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
Labels: kind/documentation

#15615 feat(iOS): implement PHPicker for multi media selector
  src/Uno.UWP/Storage/Internal/StorageProviders.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
  src/Uno.UWP/Storage/StorageFile.iOS.cs
Labels: platform/ios 🍎

#15632 feat(skia): Support `ElementCompositionPreview.SetIsTranslationEnabled`
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/VisualTranslationSample.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/VisualTranslationSample.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionGetValueStatus.cs
  src/Uno.UI.Composition/Composition/CompositionObject.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/Uno/VisualExtensions.cs
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/CompositionGetValueStatus.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/CompositionObject.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Hosting/ElementCompositionPreview.cs
  src/Uno.UI/UI/Xaml/Hosting/ElementCompositionPreview.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/skia ✏️, area/automation

#15612 docs: Add catalyst entitlement requirement for pickers
  doc/articles/features/windows-storage-pickers.md
Labels: kind/documentation

#15641 docs: Direct links to our Discord server
  CONTRIBUTING.md
  doc/articles/contributing/guidelines/issue-triage.md
  doc/articles/faq.md
  doc/articles/features/working-with-gitpod.md
  doc/articles/get-started-next-steps.md
  doc/articles/includes/getting-help.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/uno-development/contributing-intro.md
  doc/articles/uno-development/ways-to-contribute.md
Labels: kind/documentation

#15581 fix: initialize visiblebounds earlier on android
  src/SamplesApp/SamplesApp.Shared/App.Assertions.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_ViewManagement_ApplicationView/Given_Control.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
Labels: platform/android 🤖, area/automation

#15648 docs: Update why-uno-platform.md
  doc/articles/concepts/overview/why-uno-platform.md
Labels: kind/documentation

#15642 docs: Add Tech Bites video to Xaml specific code
  doc/articles/platform-specific-xaml.md
Labels: kind/documentation

#15668 docs: Updated Figma docs for 3.0 launch
  doc/import_external_docs.ps1
Labels: kind/documentation

#15657 fix: Properly handle InsetClip
  src/Uno.UI.Composition/Composition/CompositionClip.skia.cs
  src/Uno.UI.Composition/Composition/InsetClip.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/CompositorScrollStrategy.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#15665 test: Explicitly mark manual `AutoSuggestBox` tests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/UITests.Shared/MessageDialogTests/MessageDialogTest.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBoxChosenSuggestion.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBoxChosenSuggestion.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_BitmapIcon.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Description.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Icons.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Keyboard.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_Reason.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/AutoSuggestBox_SoftKeboard.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/AutoSuggestBoxTests/BasicAutoSuggestBox.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Popups/Given_MessageDialog.cs
Labels: area/automation

#15680 docs: Update Workshop to latest version of docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#15675 perf: Update IsTextTrimmed lazily on WASM
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
Labels: platform/wasm 🌐
