Repository unoplatform/uno, pull requests merged in 2024-11, with the labels that each got.

#18654 docs: Remove non-printable characters
  doc/articles/debugging-wasm.md
  doc/articles/includes/getting-help.md
  doc/articles/uno-publishing-windows-packaged-unsigned.md
Labels: kind/documentation

#18658 fix: Fix regression in XAML Trimming
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation

#18645 DiagnosticView Ordering
  build/PackageDiffIgnore.xml
  src/Uno.Foundation/Diagnostics/DiagnosticViewRegistry.cs
  src/Uno.Foundation/Diagnostics/IDiagnosticView.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RemoteControl/RemoteControlStatus.cs
  src/Uno.UI.Toolkit/Diagnostics/DiagnosticsOverlay.cs
  src/Uno.UI/Diagnostics/DiagnosticView.Factories.cs
  src/Uno.UI/Diagnostics/DiagnosticView.TView.TState.cs
  src/Uno.UI/Diagnostics/DiagnosticView.TView.cs
  src/Uno.UI/Diagnostics/DiagnosticView.cs
  src/Uno.UI/Diagnostics/DiagnosticViewManager.TView.TState.cs
Labels: area/build

#18673 docs: clarify xaml-mvvm tutorial
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvvm.md
  doc/articles/getting-started/counterapp/includes/include-mainpage-xaml.md
  doc/articles/getting-started/counterapp/includes/include-mvvm.md
Labels: kind/documentation

#18652 fix: Don't include non-existing pwa manifest
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.SingleProject.Wasm.targets
Labels: area/sdk

#18676 fix(textblock): Use the correct Command+C|A for copy/select all on macOS/skia
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
Labels: area/skia ✏️

#18637 fix: Ensure WPF adheres to physical `Position` and `Size` on `AppWindow`
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
Labels: area/skia ✏️

#18666 docs(dialogs): Fixed Link in dialogs.md documenation: Link to HowTo-ShowDialog was broken
  doc/articles/features/dialogs.md
Labels: kind/documentation

#18651 fix: `AppWindow` on non-Skia targets should use physical units
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.unittests.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎

#18662 feat: Use SIMD to compage images in a test to accelerate builds.
  src/Uno.UI.TestComparer/Comparer/TestFilesComparer.cs
Labels: area/build

#18539 fix(android): PointerRoutedEventArgs.GestureEventsAlreadyRaised was reset while bubbling events up
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Tapped.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Tapped.xaml.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
Labels: platform/android 🤖, area/automation

#18698 docs: Adjust hot restart limitation for release builds
  doc/articles/create-an-app-vs2022.md
Labels: kind/documentation

#18704 fix: mofidying .ts files only should embed the newly generated .js files
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#18708 docs: adjust MVUX doc for proper class name
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
Labels: kind/documentation

#18709 Docs: remove invalid namespaces in code samples
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
  doc/articles/getting-started/counterapp/includes/include-mainpage-csharp.md
  doc/articles/getting-started/counterapp/includes/include-mvux.md
  doc/articles/getting-started/counterapp/includes/include-mvvm.md
Labels: kind/documentation

#17333 ci: Add macOS desktop runtime tests
  build/ci/.azure-devops-skia-tests.yml
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowWrapper.cs
  src/Uno.UI.RuntimeTests/Helpers/ImageAssert.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#18695 fix: Apply `x:Bind` expressions in control template
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingTests.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBindConstControl.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBindConstControl.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBindConstPage.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBindConstPage.xaml.cs
Labels: area/code-generation

#18719 fix: Always activate window on `Activate()`
  src/SamplesApp/SamplesApp.Shared/App.Tests.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Native/INativeWindowWrapper.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
  src/Uno.UWP/Generated/3.0.0.0/Microsoft.UI.Windowing/AppWindow.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
Labels: platform/wasm 🌐, platform/ios 🍎, area/skia ✏️, area/automation

#18632 fix: Deprecated iOS `Launcher` methods
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
  src/Uno.UWP/ApplicationModel/Calls/PhoneCallManager.iOS.cs
  src/Uno.UWP/System/Launcher.iOS.SpecialUris.cs
  src/Uno.UWP/System/Launcher.iOSmacOS.cs
Labels: platform/macos 🍏, platform/ios 🍎

#18604 docs: Add in Store Context page
  build/cSpell.json
  doc/articles/features/windows-ui-storecontext.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#18527 docs: Correct closing tag
  doc/articles/features/unhandled-exceptions.md
Labels: kind/documentation

#18766 docs: proper class name
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
Labels: kind/documentation

#18741 docs: Add Sign in with Uno page
  doc/articles/Assets/uno-settings-main.png
  doc/articles/Assets/uno-settings-menu.png
  doc/articles/Assets/uno-settings-notification.png
  doc/articles/Assets/uno-settings-rider-notification.png
  doc/articles/Assets/uno-settings-rider.png
  doc/articles/Assets/uno-settings-vs.png
  doc/articles/Assets/uno-settings-vsc-notification.png
  doc/articles/Assets/uno-settings-vsc.png
  doc/articles/Assets/uno-settings-welcome.png
  doc/articles/common-issues.md
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/create-an-app-vscode.md
  doc/articles/get-started-licensing.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#18784 docs: Add migration guide details to the licensing related documentation
  doc/articles/get-started-licensing.md
Labels: kind/documentation

#18738 test: Image inside scroll manual test
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_ScrollView_ChangeView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_ScrollView_ChangeView.xaml.cs
Labels: area/automation

#18782 docs: Update bootstrapper
  doc/import_external_docs.ps1
Labels: kind/documentation

#18806 fix(wasm): workaround for invalid net9-browserwasm library detection
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.3/uno53net9Lib/Class1.cs
  src/SolutionTemplate/5.3/uno53net9Lib/global.json
  src/SolutionTemplate/5.3/uno53net9Lib/uno53net9Lib.csproj
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
Labels: area/solution-templates, area/build

#18773 chore: Update to net9 rtm
  .github/workflows/uwp-autoconvert.yml
  .vsts-ci-docs.yml
  .vsts-ci.yml
  build/ci/net9/global.json
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/Uno.Analyzers.Tests/Uno.Analyzers.Tests.csproj
  src/Uno.UI.RemoteControl.Host/Config/global-net9.0.json
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Windows.csproj
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
Labels: area/code-generation, area/build, area/automation

#18805 Forward port 5.5
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/templates/uno-dev-feed.yml
  build/nuget/uno.winui.targets
  build/test-scripts/run-net7-template-linux.ps1
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/migrating-to-uno-5.md
  doc/articles/uno-build-error-codes.md
  src/Directory.Build.props
  src/SolutionTemplate/5.1/uno51blank/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51blank/uno51blank/App.cs
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended/App.cs
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/App.xaml.cs
  src/SolutionTemplate/5.2/uno52blank/uno52blank/App.xaml.cs
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/App.xaml.cs
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/WindowExtensions.cs
Labels: area/solution-templates, area/build, kind/documentation, area/sdk

#18816 Update why-uno-platform.md
  doc/articles/concepts/overview/why-uno-platform.md
Labels: kind/documentation

#18829 docs: Update .NET Versions support
  doc/articles/net-version-support.md
Labels: kind/documentation

#18831 build: Update PackageDiff
  build/PackageDiffIgnore.xml
  build/Uno.UI.Build.csproj
Labels: area/build

#18826 Adjust sample validations
  build/ci/.azure-devops-publish-nuget-prod.yml
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/Uno.Sdk/packages.json
Labels: area/solution-templates, area/sdk

#18762 doc: Add info how to get libSkiaSharp.dylib
  src/Uno.UI.Runtime.Skia.MacOS/README.md
Labels: kind/documentation

#18841 test: Remove test-related workaround
  build/test-scripts/wasm-run-automated-uitests.sh
Labels: area/build

#18702 fix(wasm): key tracking when no one is subscribing to Key<Down|Up>
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Modifiers.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Keyboard/Keyboard_Modifiers.xaml.cs
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UWP/UI/Core/Internal/KeyboardStateTracker.cs
Labels: area/automation

#18853 fix(net9): Allow for builds to happen even if a RID is explicitly set
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.Sdk/Sdk/Sdk.targets
  src/Uno.Sdk/targets/Uno.Wasm.UnsupportedRid.targets
Labels: area/build

#18851 feat: Add XAML resources UPRI trimming
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/UpriSubstitutionsGeneratorTask.cs
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
Labels: area/code-generation

#18870 docs: Adjust MarkupExtension sample
  doc/articles/features/windows-ui-markup-extensions.md
Labels: kind/documentation

#18725 fix(Path): add support for Path.Data being a PathGeometry with some Figures having IsFilled = false
  src/Uno.UI.Composition/Composition/CompositionGeometricClip.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI.Composition/Composition/SkiaGeometrySource2D.skia.cs
  src/Uno.UI.RuntimeTests/Helpers/ImageAssert.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Path.cs
  src/Uno.UI/UI/Xaml/Media/Geometry.skia.cs
  src/Uno.UI/UI/Xaml/Media/PathGeometry.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
Labels: area/skia ✏️

#18845 docs: Bump bootstrap commit
  doc/import_external_docs.ps1
Labels: kind/documentation

#18587 fix(ios): PersonPicture late binding
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/PersonPictureTests/PersonPictureLateBindingPage.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/PersonPictureTests/PersonPictureLateBindingPage.xaml.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PersonPicture/PersonPicture.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOS.cs
Labels: platform/ios 🍎, area/automation

#18808 fix(dragdrop): don't fire Drop if AcceptedOperation is None
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfDragDropExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11DragDropExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.macOS.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropManager.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragOperation.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DragDrop/Core/CoreDragDropManager.cs
Labels: platform/macos 🍏, area/skia ✏️

#18883 fix(scrollviewer): fix scrollArgs.IsIntermediate on WASm
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_IsIntermediate.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ScrollViewerTests/ScrollViewer_IsIntermediate.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
Labels: platform/wasm 🌐, area/automation

#18659 Make skia runtime tests green locally on Debug
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/CalendarHelper.h.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/Event.cs
  src/Uno.UI.RuntimeTests/MUX/Helpers/EventTester.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/TestHelpers.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Given_UnitTest.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.Partial.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UWP/Buffers/DefaultArrayPoolBucket.cs
  src/Uno.UWP/UI/Core/Internal/KeyboardStateTracker.cs
Labels: area/automation

#18892 fix: Adjust for outdated rc2 references
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/Uno.Sdk/packages.json
Labels: area/automation, area/sdk

#18844 fix: Downgrade BuildTools
  src/Uno.Sdk/packages.json
Labels: area/sdk

#18900 fix: Move to jsimport for bbox
  src/Uno.UI/UI/Xaml/Window/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm 🌐

#18909 chore: Revert "Make skia runtime tests green locally on Debug"
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/CalendarHelper.h.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/Event.cs
  src/Uno.UI.RuntimeTests/MUX/Helpers/EventTester.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/TestHelpers.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Given_UnitTest.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.Partial.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UWP/Buffers/DefaultArrayPoolBucket.cs
  src/Uno.UWP/UI/Core/Internal/KeyboardStateTracker.cs
Labels: area/automation

#18850 chore: add GLCanvasElement checks for minimum available OpenGL version
  doc/articles/controls/GLCanvasElement.md
  src/AddIns/Uno.WinUI.Graphics3DGL/Assets/error.png
  src/AddIns/Uno.WinUI.Graphics3DGL/GLCanvasElement.cs
Labels: kind/documentation

#18812 fix(dragdrop): fire DragEnter and DragOver when firing DragStarting
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: platform/android 🤖

#18460 Don't allow mixing WinUI Frame behavior with native frame presenter
  doc/articles/controls/Frame.md
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.cs
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.partial.mux.cs
Labels: kind/documentation

#18899 perf(brush): Don't use reflection to invoke brush updates
  build/ci/.azure-devops-wasm-uitests.yml
  doc/articles/uno-development/Internal-WeakEventHelper.md
  src/SamplesApp/SamplesApp.Wasm/Program.cs
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/Uno.UI.RuntimeTests/Tests/Windows_UI/Given_WeakEventHelper.cs
  src/Uno.UI/Helpers/WeakEvents/WeakEventManager.cs
  src/Uno.UI/Microsoft/UI/Input/InputCursor.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/MultilineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxView.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.Android.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/Window/Window.cs
  src/Uno.UWP/UI/Core/WeakEventHelper.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation, kind/documentation

#17528 feat: Listen to trait changes on iOS 17+
  src/Uno.UI/Controls/RootViewController.iOS.cs
Labels: platform/ios 🍎

#18921 fix(wasm): unwanted preview shown when dragging over existing selection
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Wasm_Selection.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Wasm_Selection.xaml.cs
  src/Uno.UI/ts/Windows/ApplicationModel/DataTransfer/DragAndDropExtension.ts
Labels: area/automation

#18934 fix: Adjust support for InvariantCulture mode support
  src/Uno.UI/UI/Xaml/Application.skia.cs
  src/Uno.UWP/Globalization/ApplicationLanguages.cs
Labels: area/skia ✏️

#18887 fix(textbox): losing focus on PointerUp when inside a Popup on WASM
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.MuxInternal.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Uno.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: platform/wasm 🌐

#18957 docs: add instructions for gcdumps
  doc/articles/guides/profiling-applications.md
Labels: kind/documentation

#18963 docs: Add tip for excluding pages with Uno.Sdk
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#18949 docs: Hide await HotReload UI updates example
  doc/articles/uno-development/uno-internals-hotreload.md
Labels: kind/documentation

#18956 perf: limit JavaStringCache entries to deal with excessive GREF counts
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/JavaStringCache.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
Labels: platform/android 🤖

#18952 Revert "chore: Revert "Make skia runtime tests green locally on Debug""
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/CalendarHelper.h.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/Event.cs
  src/Uno.UI.RuntimeTests/MUX/Helpers/EventTester.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/TestHelpers.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Given_UnitTest.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.Partial.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UWP/Buffers/DefaultArrayPoolBucket.cs
  src/Uno.UWP/UI/Core/Internal/KeyboardStateTracker.cs
Labels: area/automation
