Repository unoplatform/uno, pull requests merged in 2024-07, with the labels that each got.

#17367 fix: Fix InlineCollection measure
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/Segment.skia.cs
Labels: area/skia ✏️

#17369 fix: HasThreadAccess should be true on Wasm when threading not supported
  src/Uno.UI.Dispatching/Dispatching/DispatcherQueue.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.unittests.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.wasm.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.KeyboardHelper.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.cs
  src/Uno.UI.RuntimeTests/MUX/Utilities/RunOnUIThread.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_DispatcherQueueTimer.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DispatcherConditionalDisposable.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropManager.cs
  src/Uno.UWP/System/DispatcherQueue.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.unittests.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.wasm.cs
Labels: platform/wasm 🌐

#17309 feat(android): Proper variable font support
  src/Uno.UI/Controls/PaintPool.Android.cs
  src/Uno.UI/TypefaceStyleHelper.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Extensions/FontHelper.Android.cs
  src/Uno.UI/UI/Xaml/Extensions/FontHelper.Lookup.Android.cs
Labels: platform/android 🤖

#17362 fix: Introduce layout storage and align DesiredSize with WinUI
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TabViewTests/TabViewSelectionAndScrolling.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/ApplicationViewSpanningRectsPage.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Windows_UI_Xaml_Controls/RelativePanelUnitTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_GridView_Items.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.Measure.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/FlyoutTests/Given_Flyout.cs
  src/Uno.UI/Extensions/UIViewExtensions.iOSmacOS.cs
  src/Uno.UI/Extensions/ViewExtensions.crossruntime.cs
  src/Uno.UI/Extensions/ViewExtensions.unittests.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml/UIElement.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ScrollPresenter/ScrollPresenter.cs
  src/Uno.UI/Services/LayoutManager.Android.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.managed.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/Grid.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/IconElement.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/LayoutInformation.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/LayoutInformation.mobile.cs
  src/Uno.UI/UI/Xaml/Controls/RelativePanel/RPNode.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/StackPanel/StackPanel.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.macOS.tt
  src/Uno.UI/UI/Xaml/ILayouterElement.cs
  src/Uno.UI/UI/Xaml/IUIElement.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.cs
  src/Uno.UI/UI/Xaml/Internal/RootVisual.cs
  src/Uno.UI/UI/Xaml/LayoutStorage.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.XamlRoot.cs
  src/Uno.UI/UI/Xaml/UIElement.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.iOS.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.macOS.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation

#17391 perf: Misc performance improvements
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.mux.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: area/skia ✏️

#17260 feat(markup): IRootObjectProvider
  build/PackageDiffIgnore.xml
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.WindowHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_MarkupExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/MarkupExtension_ParserContext.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/MarkupExtension_ParserContext_RD.xaml
  src/Uno.UI/Helpers/MarkupHelper.cs
  src/Uno.UI/UI/Xaml/Markup/XamlServiceProviderContext.cs
Labels: area/code-generation, area/build

#17401 refactor: Refactor Skia brushes
  src/Uno.UI.Composition/Composition/CompositionBrushWrapper.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ScrollPresenter/ScrollPresenter.Uno.cs
  src/Uno.UI/Microsoft/UI/Xaml/Media/RadialGradientBrush.skia.cs
  src/Uno.UI/UI/Xaml/BorderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/AcrylicBrush.skia.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/Brush.skia.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.skia.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.skia.cs
  src/Uno.UI/UI/Xaml/Media/SolidColorBrush.skia.cs
  src/Uno.UI/UI/Xaml/Media/XamlCompositionBrushBase.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
Labels: area/skia ✏️

#17400 perf: Reduce DependencyPropertyChangedEventArgs allocations (and reduce its size)
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarButton.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarSeparator.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarToggleButton.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/Button/HyperlinkButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Button/RadioButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItem.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/Primitives/CalendarPanel_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/calendardatepicker_partial.cs
  src/Uno.UI/UI/Xaml/Controls/CommandBar/CommandBar.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DropDownButton/DropDownButton.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.managed.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/ColumnDefinition.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/RowDefinition.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyoutItem.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Base.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/RangeBase.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/RepeatButton/RepeatButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Thumb.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/TickBar.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ToggleButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Slider/Slider.mux.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.partial.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch/ToggleSwitch.mux.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid/VariableSizedWrapGrid.partial.mux.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyChangedEventArgs.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
  src/Uno.UI/UI/Xaml/IDependencyObjectInternal.cs
  src/Uno.UI/UI/Xaml/Input/StandardUICommand.mux.cs
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/AcrylicBrush.skia.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.cs
  src/Uno.UI/UI/Xaml/PropertyChangedParams.cs
  src/Uno.UI/UI/Xaml/PropertyMetadata.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs
Labels: platform/wasm 🌐, area/skia ✏️, area/code-generation

#17408 build: Fix master build
  src/Uno.UI/UI/Xaml/Media/XamlCompositionBrushBase.skia.cs
Labels: area/skia ✏️

#17405 fix: Pass Compositor to CompositionStrokeDashArray
  src/Uno.UI.Composition/Composition/CompositionStrokeDashArray.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
Labels: area/skia ✏️

#17412 feat: Implement font matching spec
  src/Uno.UI.Tests/Windows_UI_Xaml_Media/Given_FontMatching.cs
  src/Uno.UI/UI/Xaml/FontManifestHelpers.cs
Labels: area/automation

#17374 docs(WCT): Add additional details for non-Windows platform compatibility and troubleshooting for Windows Community Toolkit
  doc/articles/uno-community-toolkit-v7.md
  doc/articles/uno-community-toolkit-v8.md
  doc/articles/uno-community-toolkit.md
Labels: kind/documentation

#17197 chore: expose the NativeWindow as a X11NativeWindow instead of the internal X11Window
  doc/articles/features/windows-ui-xaml-window.md
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
Labels: kind/documentation

#17414 fix: Revert PropertyChangedParams change
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBar.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarButton.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarSeparator.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/AppBar/AppBarToggleButton.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/Button/HyperlinkButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Button/RadioButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItem.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/Primitives/CalendarPanel_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/calendardatepicker_partial.cs
  src/Uno.UI/UI/Xaml/Controls/CommandBar/CommandBar.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DropDownButton/DropDownButton.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.managed.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/ColumnDefinition.cs
  src/Uno.UI/UI/Xaml/Controls/Grid/RowDefinition.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyoutItem.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Base.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/RangeBase.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/RepeatButton/RepeatButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Thumb.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/TickBar.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/ToggleButton.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Slider/Slider.mux.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.partial.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ToggleSwitch/ToggleSwitch.mux.cs
  src/Uno.UI/UI/Xaml/Controls/VariableSizedWrapGrid/VariableSizedWrapGrid.partial.mux.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/IDependencyObjectInternal.cs
  src/Uno.UI/UI/Xaml/Input/StandardUICommand.mux.cs
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/AcrylicBrush.skia.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.cs
  src/Uno.UI/UI/Xaml/Media/XamlCompositionBrushBase.skia.cs
  src/Uno.UI/UI/Xaml/PropertyChangedParams.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs
Labels: platform/wasm 🌐, area/skia ✏️, area/code-generation

#17424 fix: Replace deprecated DOMNodeInserted with MutationObserver for Algolia DocSearch initialization
  doc/templates/uno/partials/scripts.tmpl.partial
Labels: kind/documentation

#17386 fix(iOS): MediaPlayerElement controls visibility
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/MediaTransportControls_themeresources.xaml
  src/Uno.UI.FluentTheme.v1/themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/MediaTransportControls_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI/Controls/CommandBar/CommandBarHelper.iOS.cs
Labels: platform/ios 🍎

#17435 docs: update HR with indicator
  build/cSpell.json
  doc/articles/Assets/features/hotreload/indicator-flyout.png
  doc/articles/Assets/features/hotreload/indicator.png
  doc/articles/Assets/features/hotreload/status-connection-failed.png
  doc/articles/Assets/features/hotreload/status-connection-success.png
  doc/articles/Assets/features/hotreload/status-connection-warning.png
  doc/articles/Assets/features/hotreload/status-failed.png
  doc/articles/Assets/features/hotreload/status-processing.png
  doc/articles/Assets/features/hotreload/status-success.png
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: area/build, kind/documentation

#15958 feat: Switch to OpenSans
  doc/articles/features/custom-fonts.md
  src/SamplesApp/Directory.Build.targets
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/VisualState_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Media_Animation/SetTarget_After_Start.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/VisualStatesTests/Buttons.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/NativeCtor/NativeCtorsGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/UseOpenSansGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Diagnostics.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Features.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.MeasureKey.cs
  src/Uno.UI/UI/Xaml/FontFamily.cs
Labels: area/code-generation, area/automation, kind/documentation, area/sdk

#17452 docs: fix hotreload tabs
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#17437 Misc docs updates
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  doc/articles/Assets/ide-rider-plugin-search.png
  doc/articles/Assets/quick-start/rider-folder-structure.png
  doc/articles/Assets/quick-start/run-android-rider.png
  doc/articles/Assets/quick-start/run-catalyst-rider.png
  doc/articles/Assets/quick-start/run-desktop-rider.png
  doc/articles/Assets/quick-start/run-ios-rider.JPG
  doc/articles/Assets/quick-start/run-ios-rider.png
  doc/articles/Assets/quick-start/run-wasm-rider.png
  doc/articles/Assets/quick-start/run-winappsdk-rider.png
  doc/articles/create-an-app-rider.md
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-rider.md
  doc/articles/get-started.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/uno-publishing-desktop.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#17456 docs: Update framework.md to fix description
  doc/articles/getting-started/wizard/includes/framework.md
Labels: kind/documentation

#17453 chore: Follow-up on OpenSans
  doc/articles/features/custom-fonts.md
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/UseOpenSansGenerator.cs
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Features.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
Labels: area/code-generation, kind/documentation, area/sdk

#17472 fix(skia): Fix FontFamily support when ms-appx file contains "#"
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetailsCache.skia.cs
Labels: area/skia ✏️

#17138 docs: ios retrive device error message
  build/cSpell.json
  doc/articles/common-issues-ioscatalyst.md
Labels: area/build, kind/documentation

#17413 test: Move GivenGrid_And_Margin to runtime tests
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_GridLayouting.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Margin.cs
Labels: area/automation

#17499 Misc TFM synchronization issues
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
  src/Uno.UI.RemoteControl.VS/DebuggerHelper/ProfilesObserver.cs
  src/Uno.UI.RemoteControl.VS/EntryPoint.ActiveProfileSync.cs
  src/Uno.UI.RemoteControl.VS/EntryPoint.cs
Labels: kind/documentation

#17497 docs: Fix missing image on Debugging WASM
  doc/articles/debugging-wasm.md
Labels: kind/documentation

#17496 Misc docs updates
  doc/articles/common-issues-vs2022.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-vs-2022.md
Labels: kind/documentation

#17469 feat: Support BackgroundTransition
  src/Uno.UI.Composition/Composition/BorderVisual.skia.cs
  src/Uno.UI.Composition/Composition/ColorBrushTransitionState.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI.Composition/Composition/Compositor.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/KeyFrameEvaluator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_BackgroundTransition.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/Border.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ContentPresenter.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/Panel.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml/BrushTransition.cs
  src/Uno.UI/UI/Xaml/BorderHelper.skia.cs
  src/Uno.UI/UI/Xaml/BrushTransition.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
Labels: area/skia ✏️

#17515 docs: Fix build error codes
  doc/articles/uno-build-error-codes.md
Labels: kind/documentation

#17532 chore: remove warning if Window.Background is null
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoCompositeWindowHost.cs
Labels: area/skia ✏️

#17547 fix: Ensure compatibility with SkiaSharp 3 targeting net7.0
  build/test-scripts/run-net7-template-linux.ps1
  src/SolutionTemplate/5.2/uno52blank/uno52blank/uno52blank.csproj
  src/SourceGenerators/Uno.UI.Tasks/RuntimeAssetsSelector/RuntimeAssetsSelectorTask.cs
Labels: area/solution-templates, area/code-generation, area/build

#17533 fix: Fail build on Rider IDE using unsupported targets
  doc/articles/create-an-app-rider.md
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/targets/Uno.Build.targets
Labels: kind/documentation

#17572 fix(fb): Force an initial refresh
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
Labels: area/skia ✏️

#17573 Misc docs updates
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started.md
  doc/articles/toc.yml
  doc/docfx.json
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#17601 refactor: Refactor the way we generate suppressions
  doc/articles/uno-development/troubleshooting-source-generation.md
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/AnalyzerSuppressions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation, kind/documentation

#17611 docs: Fix Uno.Samples linking issue
  doc/articles/includes/how-tos-and-tutorials-inline-toc.md
Labels: kind/documentation

#17531 fix: Fix text shaping when using font fallback on Skia
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
Labels: area/skia ✏️

#17629 docs: Adjust plugin eula
  build/cSpell.json
  doc/articles/other/rider-eula.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#17643 docs: Adjust layout cycle debugging
  doc/articles/common-issues-all-ides.md
Labels: kind/documentation

#17594 docs: Fix the document of Animation output log filter.
  doc/articles/Uno-UI-Performance.md
Labels: kind/documentation

#17649 build: Update PackageDiffIgnore
  build/PackageDiffIgnore.xml
Labels: area/build

#17655 docs: Update uno.sdk steps
  README.md
  doc/articles/upgrading-nuget-packages.md
Labels: kind/documentation

#17659 docs: Adjust rider migration guide link
  doc/articles/get-started-rider.md
Labels: kind/documentation

#17669 docs: Document VS extension update for 5.3
  doc/articles/common-issues-all-ides.md
Labels: kind/documentation

#17693 fix(xamlgen): Fix numeric FontWeight not working
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI/Given_FontWeight.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI/PageContainingNumericFontWeight.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI/PageContainingNumericFontWeight.xaml.cs
Labels: area/code-generation

#17690 docs(Migrating): Document VS extension update for 5.3
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#17718 docs: Adjust the quickstart
  doc/articles/get-started.md
Labels: kind/documentation

#17717 chore: Bump to latest puppeteer
  build/test-scripts/wasm-run-automated-uitests.sh
Labels: area/build

#17702 fix: Improve font caching logic
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetailsCache.skia.cs
Labels: area/skia ✏️

#17723 docs: Adjust uno.check link
  doc/articles/get-started.md
Labels: kind/documentation

#17704 fix: Refresh theme resources on `Loading`
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_Refresh_On_Loading.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ThemeResource_Refresh_On_Loading.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
Labels: area/automation

#17731 refactor: Cleanup dead code
  src/AddIns/Uno.UI.Lottie/LottieVisualSource.iOSmacOS.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.Android.cs
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.cs
  src/AddIns/Uno.UI.MSAL/AcquireTokenInteractiveParameterBuilderExtensions.cs
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/Nullable.cs
  src/Uno.UI.Toolkit/CommandBarExtensions.cs
  src/Uno.UI.Toolkit/MenuFlyoutExtensions.cs
  src/Uno.UI.Toolkit/MenuFlyoutItemExtensions.cs
  src/Uno.UI.Toolkit/SplitViewExtensions.cs
  src/Uno.UI.Toolkit/UIElementExtensions.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeObserver.macOS.cs
  src/Uno.UWP/UI/Color.iOS.cs
  src/Uno.UWP/UI/Color.macOS.cs
  src/Uno.UWP/UI/ViewManagement/UISettings.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/code-generation

#17697 build: Cleanup Uno.Foundation.Logging binaries from Uno.WinUI package
  build/PackageDiffIgnore.xml
  build/nuget/Uno.WinUI.nuspec
Labels: area/build

#17668 fix: Fix invalid code gen if project has System namespace
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation

#17741 fix: Improve ide detection
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
Labels: area/code-generation

#17581 docs: Add Raygun documentation
  build/cSpell.json
  doc/articles/guides/raygun-monitoring.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#17712 refactor: Refactor GetSegments
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Documents/Given_Run.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/Segment.skia.cs
Labels: area/skia ✏️

#17748 docs: Adjust vscode troubleshooting
  doc/articles/common-issues-vscode.md
Labels: kind/documentation

#17768 fix: Fix missing `x:Uid` generation for the root of XAML
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Resources/en-US/Resources.resw
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xUid_On_Root.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xUid_On_Root.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xUid.cs
Labels: area/code-generation

#17665 fix(wasm): Fix TextBox default alignment
  src/SamplesApp/SamplesApp.UITests/TestFramework/ImageAssert.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_VerticalAlignment.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_VerticalAlignment.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
  src/Uno.UI/UI/Xaml/Window/WindowManagerInterop.wasm.cs
  src/Uno.UI/WasmCSS/Uno.UI.css
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm 🌐, area/automation

#17234 feat(imagebrush): add support for RelativeTransform on skia
  src/Uno.UI.Composition/Composition/BorderVisual.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.cs
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
  src/Uno.UI.Composition/Composition/SpriteVisual.cs
  src/Uno.UI.RuntimeTests/Assets/rotate_transform.png
  src/Uno.UI.RuntimeTests/Assets/scale_transform.png
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_RelativeTransform.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.skia.cs
Labels: area/skia ✏️

#17558 Workaround: (iOS) animation crash when navigating
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/GPUFloatValueAnimator.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/Transform.cs
Labels: platform/macos 🍏, platform/ios 🍎
