Repository unoplatform/uno, pull requests merged in 2024-08, with the labels that each got.

#17762 docs: Add unpackaged winappsdk publishing
  doc/articles/toc.yml
  doc/articles/uno-publishing-windows-unpackaged.md
Labels: area/build, kind/documentation

#17776 chore: Delete net7-specific code
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FolderPickerExtension.net7.cs
Labels: area/skia ✏️

#17716 build: Move some "simple" packages away from nuspec
  build/Uno.UI.Build.csproj
  build/nuget/Uno.Foundation.Logging.nuspec
  build/nuget/Uno.WinUI.MediaPlayer.Skia.Gtk.nuspec
  build/nuget/Uno.WinUI.MediaPlayer.WebAssembly.nuspec
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Windows.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/Uno.UI.MediaPlayer.WebAssembly.csproj
  src/Directory.Build.props
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.csproj
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.Sdk/Uno.Sdk.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.netcoremobile.csproj
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.Skia.MacOS/Uno.UI.Runtime.Skia.MacOS.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.X11/Uno.UI.Runtime.Skia.X11.csproj
  src/Uno.UI.Runtime.Skia/Uno.UI.Runtime.Skia.csproj
  src/Uno.UI.Runtime.WebAssembly/Uno.UI.Runtime.WebAssembly.csproj
Labels: platform/wasm 🌐, area/skia ✏️, area/build, area/sdk

#17790 chore: Cleanup NET8_0_OR_GREATER
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FolderPickerExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/Storage/Pickers/FolderPickerExtension.net8.cs
  src/Uno.UI.Toolkit/ElevatedView.Android.cs
  src/Uno.UI/UI/Xaml/Window/Native/Window.iOS.cs
  src/Uno.UWP/Media/SpeechRecognition/SpeechRecognizer.iOS.cs
Labels: platform/android 🤖, platform/ios 🍎, area/skia ✏️

#17772 chore: Cleanup SkiaCompat
  src/Uno.UI.Composition/SkiaCompat.skia.cs
Labels: area/skia ✏️

#17786 docs: Enhance rider docs
  doc/articles/common-issues-vs2022.md
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vscode.md
Labels: kind/documentation

#17815 docs: Adjust catalyst publication steps
  doc/articles/uno-publishing-maccatalyst.md
Labels: kind/documentation

#17799 fix: Place Uno.WinUI.XamlHost.props buildTransitive
  build/nuget/Uno.WinUI.XamlHost.nuspec
Labels: area/build

#17798 build: Move DevServer.Messaging away from nuspec
  build/Uno.UI.Build.csproj
  build/nuget/Uno.WinUI.DevServer.Messaging.nuspec
  src/Uno.UI.RemoteControl.Messaging/Uno.UI.RemoteControl.Messaging.csproj
Labels: area/build

#17713 fix(android): inset calculations in landscape mode when the device has a notch
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/AndroidWindowInsets.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/AndroidWindowInsets.xaml.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
Labels: platform/android 🤖, area/automation

#17823 perf: Avoid double dictionary lookup in SkiaSharp
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
Labels: area/skia ✏️

#17821 test: Run When_Add_Remove on WinAppSDK
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/AppBar_KeyBoard.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ContentDialog_Leak.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/ItemsControl_ItemsSource_Leak.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
Labels: area/automation

#16535 feat: `AppWindow` positioning and sizing
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/AppWindowPositionAndSize.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/AppWindowPositionAndSize.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/AppWindowPresenters.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/OverlappedPresenterTests.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/UI/Xaml/Controls/NativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/UI/FrameBufferWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSNativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/NativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.x11events.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Windowing/Given_AppWindow.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.singlewindow.cs
  src/Uno.UI/UI/Xaml/Window/Native/INativeWindowWrapper.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.macOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.unittests.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UWP/Generated/3.0.0.0/Microsoft.UI.Windowing/AppWindow.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Graphics/DisplayAdapterId.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Graphics/DisplayId.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Graphics/PointInt32.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Graphics/RectInt32.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Graphics/SizeInt32.cs
  src/Uno.UWP/Graphics/DisplayAdapterId.cs
  src/Uno.UWP/Graphics/DisplayId.cs
  src/Uno.UWP/Graphics/PointExtensions.cs
  src/Uno.UWP/Graphics/PointInt32.cs
  src/Uno.UWP/Graphics/RectInt32.cs
  src/Uno.UWP/Graphics/SizeExtensions.cs
  src/Uno.UWP/Graphics/SizeInt32.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindowTitleBar.cs
  src/Uno.UWP/Microsoft/UI/Windowing/Native/INativeAppWindow.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation

#17824 docs: Move Why use Uno in toc
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#17715 chore: Bump manifest versions
  src/Uno.Sdk/packages.json
Labels: area/sdk

#17844 feat: Add WPF SelfContained support
  src/Uno.UI.Runtime.Skia.Wpf/Builder/WpfHostBuilder.cs
Labels: area/skia ✏️

#17615 [Skia] `Frame` improvements
  doc/articles/controls/Frame.md
  doc/articles/toc.yml
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/Event.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/frame/FirstTestPage.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/frame/FrameIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/frame/SecondTestPage.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/frame/ThirdTestPage.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_Frame_DataContext.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Frame.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/Frame/Given_Frame.cs
  src/Uno.UI/DirectUI/JoltCollections.h.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/Frame.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Navigation/FrameNavigationOptions.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Navigation/NavigationCacheMode.cs
  src/Uno.UI/Helpers/FrameNavigationHelper.cs
  src/Uno.UI/Helpers/WinUI/ValueConversionHelpers.cs
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.cs
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.legacy.cs
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.partial.h.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Frame/Frame.partial.mux.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.mux.cs
  src/Uno.UI/UI/Xaml/Media/Animation/NavigationTransitionInfo.cs
  src/Uno.UI/UI/Xaml/Navigation/FrameNavigationOptions.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigatedEventHandler.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigatingCancelEventArgs.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigatingCancelEventHandler.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationCache.h.mux.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationCache.mux.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationCacheMode.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationEventArgs.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationFailedEventArgs.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationFailedEventHandler.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationHelpers.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationHistory.h.mux.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationHistory.mux.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationMode.cs
  src/Uno.UI/UI/Xaml/Navigation/NavigationStoppedEventHandler.cs
  src/Uno.UI/UI/Xaml/Navigation/PageStackEntry.Properties.cs
  src/Uno.UI/UI/Xaml/Navigation/PageStackEntry.Uno.cs
  src/Uno.UI/UI/Xaml/Navigation/PageStackEntry.cs
  src/Uno.UI/UI/Xaml/Navigation/PageStackEntryTrackerCollection.cs
  src/Uno.UI/UI/Xaml/PagePool.cs
Labels: area/build, area/automation, kind/documentation

#17781 fix(devSrv): Improve dev-server reliability
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/Uno.Foundation/Diagnostics/DiagnosticViewRegistry.cs
  src/Uno.UI.RemoteControl.VS/EntryPoint.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Agent.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Common.Status.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/HotReload/HotReloadStatusView.Entries.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.Status.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RemoteControl/buildTransitive/Uno.UI.DevServer.targets
  src/Uno.UI/Diagnostics/DiagnosticView.Factories.cs
Labels: area/code-generation

#17843 docs: Fix the format in code-style.md
  doc/articles/contributing/guidelines/code-style.md
Labels: kind/documentation

#17849 fix: Ensure tabs are their own segment
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
Labels: area/skia ✏️

#17851 feat: Support dark theme in Samples app list, update iconography
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/Button.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/Path.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/RadioButton.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/TextBlock.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/TextBox.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/ToggleButton.xaml
Labels: area/automation

#17738 fix: Make `IsTextPredictionEnabled` warnings less frequent
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.iOS.cs
Labels: platform/ios 🍎

#17854 docs: Update get-started.md to adjust the Quick Start section
  doc/articles/get-started.md
Labels: kind/documentation

#17829 fix(sample): Fix CalendarView_Theming sample on Wasm
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CalendarView/CalendarView_Theming.xaml.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.Android.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.iOS.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.macOS.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.others.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.skia.cs
  src/Uno.UWP/Helpers/Theming/SystemThemeHelper.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation

#17880 chore: Update README.md badges for visual consistency
  README.md
Labels: kind/documentation

#17848 fix: Fix shapes arrange when stroke thickness is >= width or height
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Rectangle.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/When_Rectangle.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.layout.crossruntime.cs
Labels: platform/wasm 🌐, area/skia ✏️

#17889 docs: Add info to refresh dev-server port
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#17088 build: Copy WinAppSDK fix
  build/nuget/uno.winui.winappsdk.targets
Labels: area/build

#17870 feat: WPF WebView support
  doc/articles/concepts/overview/why-uno-platform.md
  doc/articles/controls/WebView.md
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia.Generic/SamplesApp.Skia.Generic.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeWebView.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeWebViewProvider.cs
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.RuntimeTests/Helpers/ConditionalTestAttribute.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Windows.csproj
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.skia.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.unsupported.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/INativeWebViewProvider.skia.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/ISupportsVirtualHostMapping.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/skia ✏️, area/automation, kind/documentation

#17900 refactor: Refactor Application.Start
  src/Uno.UI.Runtime.Skia.Gtk/GtkHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacSkiaHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
Labels: area/skia ✏️

#17920 fix: Fix XAML generator not generating events for non-DO top-level elements
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Parser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WEOTLNDO/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WEOTLNDO/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WEOTLNDO/XamlCodeGenerator_MainWindow_c93db19a7202d9eb84ddc41d72fcb89b.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#17898 build: Move Uno.UI.Adapter.Microsoft.Extensions.Logging away from nuspec
  Directory.Build.props
  build/Uno.UI.Build.csproj
  build/nuget/Uno.UI.Adapter.Microsoft.Extensions.Logging.nuspec
  src/Directory.Build.props
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Uno.UI.Adapter.Microsoft.Extensions.Logging.csproj
  src/Uno.WinUIRevert/Program.cs
Labels: area/build

#17902 fix: OnLaunched should be called synchronously with app initialization
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
Labels: area/skia ✏️, area/automation

#17874 docs: Update the documentation for the new project template for Rider 2024.2 with the new Uno Platform preview plugin
  doc/articles/Assets/quick-start/rider-configure-new-unoplatform-app.png
  doc/articles/Assets/quick-start/rider-preview-channel-version.png
  doc/articles/Assets/quick-start/rider-preview-version-installation-instructions.png
  doc/articles/Assets/quick-start/rider-welcome-screen-new-solution.png
  doc/articles/create-an-app-rider.md
  doc/articles/get-started-rider.md
Labels: kind/documentation

#17928 docs: Update create-an-app-rider.md for Rider issue link
  doc/articles/create-an-app-rider.md
Labels: kind/documentation

#17931 fix: Bring Point/Size/Rect types closer to WinUI
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Given_PathMarkupParser.cs
  src/Uno.Foundation/Point.cs
  src/Uno.Foundation/Rect.cs
  src/Uno.Foundation/Size.cs
Labels: area/code-generation

#16201 Skia shapes hittesting
  src/Uno.UI.Composition/Composition/BorderVisual.skia.cs
  src/Uno.UI.Composition/Composition/CompositionObject.cs
  src/Uno.UI.Composition/Composition/CompositionPath.skia.cs
  src/Uno.UI.Composition/Composition/CompositionShape.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/SkiaGeometrySource2D.skia.cs
  src/Uno.UI.Composition/Composition/Uno/TransformableObjectExtensions.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FlowDirection.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/When_Shape.cs
  src/Uno.UI/Media/PathStreamGeometryContext.cs
  src/Uno.UI/Media/StreamGeometry.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Media/Geometry.skia.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.skia.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#17857 BackgroundTransition fixes
  src/Uno.UI.Composition/Composition/ColorBrushTransitionState.skia.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_BackgroundTransition.cs
  src/Uno.UI/UI/Xaml/BorderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
Labels: area/skia ✏️

#17947 fix: Workaround `Microsoft.Graph` for local iOS build
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UITests.Shared/Msal/MsalLoginAndGraph.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Original_MsAppdataSource.xaml.cs
Labels: area/automation

#17705 docs: Fix links resulting in 404
  doc/articles/Uno-UI-Performance.md
  doc/articles/common-issues-all-ides.md
  doc/articles/concepts/overview/why-uno-platform.md
  doc/articles/contributing/guidelines/issue-triage.md
  doc/articles/contributing/guidelines/updating-dependencies.md
  doc/articles/features/pointers-keyboard-and-other-user-inputs.md
  doc/articles/features/using-linux-framebuffer.md
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/features/working-with-accessibility.md
  doc/articles/get-started-next-steps.md
  doc/articles/getting-started/wizard/includes/authentication.md
  doc/articles/getting-started/wizard/includes/extensions.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
  doc/articles/guides/silverlight-migration/08-data-access-overview.md
  doc/articles/guides/silverlight-migration/09-client-auth-service.md
  doc/articles/guides/silverlight-migration/11-implementing-identity-service-client.md
  doc/articles/guides/silverlight-migration/98-timeentry-samples.md
  doc/articles/guides/silverlight-migration/99-useful-resources.md
  doc/articles/howto-consume-webservices.md
  doc/articles/interop/wasm-javascript-2.md
  doc/articles/interop/wasm-javascript-3.md
  doc/articles/migrating-from-xamarin-to-net6.md
  doc/articles/uno-community-toolkit-v7.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/uno-development/contributing-intro.md
  doc/articles/uno-development/debugging-uno-ui.md
  doc/articles/uno-development/docfx.md
  doc/articles/uno-development/ways-to-contribute.md
  doc/articles/uno-howto-create-a-repro.md
  doc/articles/wpf-migration.md
  doc/blog/201809-uno-wasm-intro-part-01.md
Labels: kind/documentation

#17941 Setting `BitmapImage.UriSource` to `null`
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
Labels: area/skia ✏️

#17955 docs: Fix links resulting in 404 (Backport #17705)
  doc/articles/Uno-UI-Performance.md
  doc/articles/common-issues-all-ides.md
  doc/articles/concepts/overview/why-uno-platform.md
  doc/articles/contributing/guidelines/issue-triage.md
  doc/articles/contributing/guidelines/updating-dependencies.md
  doc/articles/features/pointers-keyboard-and-other-user-inputs.md
  doc/articles/features/using-linux-framebuffer.md
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/features/working-with-accessibility.md
  doc/articles/get-started-next-steps.md
  doc/articles/getting-started/wizard/includes/authentication.md
  doc/articles/getting-started/wizard/includes/extensions.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
  doc/articles/guides/silverlight-migration/08-data-access-overview.md
  doc/articles/guides/silverlight-migration/09-client-auth-service.md
  doc/articles/guides/silverlight-migration/11-implementing-identity-service-client.md
  doc/articles/guides/silverlight-migration/98-timeentry-samples.md
  doc/articles/guides/silverlight-migration/99-useful-resources.md
  doc/articles/howto-consume-webservices.md
  doc/articles/interop/wasm-javascript-2.md
  doc/articles/interop/wasm-javascript-3.md
  doc/articles/migrating-from-xamarin-to-net6.md
  doc/articles/uno-community-toolkit-v7.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/uno-development/contributing-intro.md
  doc/articles/uno-development/debugging-uno-ui.md
  doc/articles/uno-development/docfx.md
  doc/articles/uno-development/ways-to-contribute.md
  doc/articles/uno-howto-create-a-repro.md
  doc/articles/wpf-migration.md
  doc/blog/201809-uno-wasm-intro-part-01.md
Labels: kind/documentation

#17956 docs: Update external documentation to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#17905 test: Move grid layout tests to runtime tests
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_GridLayouting.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_Alignment.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/GivenGrid_And_AutoSized.cs
Labels: area/automation

#17946 test: Adjust Given_DependencyObjectGenerator
  build/ci/.azure-devops-unit-tests.yml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
Labels: area/code-generation

#17964 fix(samplesapp): Adjust assert relevant only to Skia
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#17958 test: Disable flaky test
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
Labels: area/automation

#17959 fix: Skip _ForceUnoUIRuntimeWasm when it will result in an error
  src/Uno.UI.Runtime.WebAssembly/buildTransitive/Uno.UI.Runtime.WebAssembly.targets
Labels: platform/wasm 🌐

#17919 fix: Align window closing with WinUI
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/AppWindowClosing.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/AppWindowClosing.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/UI/Xaml/Controls/NativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/UI/FrameBufferWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/UI/NativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSNativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/NativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11NativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/Multiwindow/WindowClosed.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/Multiwindow/WindowClosed.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Window.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/IWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/INativeWindowFactoryExtension.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.others.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.skia.cs
  src/Uno.UI/UI/Xaml/Window/Native/INativeWindowWrapper.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.macOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.unittests.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
  src/Uno.UI/UI/Xaml/Window/Native/Window.macOS.cs
  src/Uno.UI/UI/Xaml/Window/Window.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation

#17966 fix: Fix inherited attached DP propagation and refactor few RegisterPropertyChangedCallback callsites
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.AttachedPropagation.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/LayoutPanel/LayoutPanel.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/LayoutPanel/LayoutPanel.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/UniformGridLayout/UniformGridLayout.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/UniformGridLayout/UniformGridLayout.properties.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/LoopingSelector/LoopingSelector.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/LoopingSelector/LoopingSelector_Partial.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
Labels: area/automation

#17967 fix: Ensure deferred loaded elements are nulled out when unloaded
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI/UI/Xaml/Data/ElementNameSubject.cs
Labels: area/code-generation

#17971 refactor: DP system simplifications
  src/Uno.UI.Tests/BinderTests/Given_Binder.LocalCache.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/UI/Xaml/Controls/Button/Button.cs
  src/Uno.UI/UI/Xaml/Controls/ProgressBar/ProgressBar.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
  src/Uno.UI/UI/Xaml/FrameworkPropertyMetadata.cs
  src/Uno.UI/UI/Xaml/PropertyMetadata.cs
  src/Uno.UI/UI/Xaml/PropertyMetadataDictionary.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.cs
Labels: area/automation

#17954 fix(wpf): queue pointer Exited when it happens during ReleaseMouseCapture
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
Labels: area/skia ✏️

#17989 docs: Fix typo
  doc/articles/guides/localization.md
  doc/articles/splash-screen.md
Labels: kind/documentation

#17978 feat: Prevent light-dismiss on window deactivation flag
  doc/articles/feature-flags.md
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.cs
Labels: area/automation, kind/documentation

#17995 docs: Update Uno.Extensions to latest to fix typo
  doc/import_external_docs.ps1
Labels: kind/documentation

#17807 fix: `MinWidth` and `MinHeight` should not be applied by default on `TextBox`
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
Labels: area/skia ✏️

#18005 docs: Update Rider doc for plugin v1.1
  doc/articles/Assets/quick-start/rider-preview-channel-version.png
  doc/articles/Assets/quick-start/rider-preview-version-installation-instructions.png
  doc/articles/get-started-rider.md
Labels: kind/documentation

#18008 docs: Adjust Networking information
  doc/articles/features/windows-networking.md
Labels: kind/documentation

#18006 fix: Fix Xaml generator regression for x:Load trying to unload elements in different scope
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Binding.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#17999 fix: Ensure Renderer is initialized when HWND is already available
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoCompositeWindowHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
Labels: area/skia ✏️

#17899 build: Cleanup some NuGet packages
  build/Uno.UI.Build.csproj
  build/nuget/Uno.WinUI.Skia.Gtk.nuspec
  build/nuget/Uno.WinUI.Skia.Gtk.props
  build/nuget/Uno.WinUI.Skia.Gtk.targets
  build/nuget/Uno.WinUI.Skia.Linux.FrameBuffer.nuspec
  build/nuget/Uno.WinUI.Skia.Linux.FrameBuffer.props
  build/nuget/Uno.WinUI.Skia.Linux.FrameBuffer.targets
  build/nuget/Uno.WinUI.Skia.MacOS.nuspec
  build/nuget/Uno.WinUI.Skia.MacOS.props
  build/nuget/Uno.WinUI.Skia.MacOS.targets
  build/nuget/Uno.WinUI.Skia.Wpf.nuspec
  build/nuget/Uno.WinUI.Skia.Wpf.props
  build/nuget/Uno.WinUI.Skia.Wpf.targets
  build/nuget/Uno.WinUI.Skia.X11.nuspec
  build/nuget/Uno.WinUI.Skia.X11.props
  build/nuget/Uno.WinUI.Skia.X11.targets
  build/nuget/Uno.WinUI.WebAssembly.nuspec
  build/nuget/Uno.WinUI.WebAssembly.props
  build/nuget/Uno.WinUI.WebAssembly.targets
  src/SamplesApp/SamplesApp.Skia.Generic/SamplesApp.Skia.Generic.csproj
  src/SamplesApp/SamplesApp.Skia.Gtk/SamplesApp.Skia.Gtk.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/UnoIslands.Skia.Wpf/UnoIslands.Skia.Wpf.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Gtk/buildTransitive/Uno.UI.Runtime.Skia.Gtk.props
  src/Uno.UI.Runtime.Skia.Gtk/buildTransitive/Uno.UI.Runtime.Skia.Gtk.targets
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/buildTransitive/Uno.UI.Runtime.Skia.Linux.FrameBuffer.props
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/buildTransitive/Uno.UI.Runtime.Skia.Linux.FrameBuffer.targets
  src/Uno.UI.Runtime.Skia.MacOS/Uno.UI.Runtime.Skia.MacOS.csproj
  src/Uno.UI.Runtime.Skia.MacOS/buildTransitive/Uno.UI.Runtime.Skia.MacOS.props
  src/Uno.UI.Runtime.Skia.MacOS/buildTransitive/Uno.UI.Runtime.Skia.MacOS.targets
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.Wpf/buildTransitive/Uno.UI.Runtime.Skia.Wpf.props
  src/Uno.UI.Runtime.Skia.Wpf/buildTransitive/Uno.UI.Runtime.Skia.Wpf.targets
  src/Uno.UI.Runtime.Skia.X11/Uno.UI.Runtime.Skia.X11.csproj
  src/Uno.UI.Runtime.Skia.X11/buildTransitive/Uno.UI.Runtime.Skia.X11.props
  src/Uno.UI.Runtime.Skia.X11/buildTransitive/Uno.UI.Runtime.Skia.X11.targets
  src/Uno.UI.Runtime.WebAssembly/buildTransitive/Uno.UI.Runtime.WebAssembly.props
  src/Uno.UI.Runtime.WebAssembly/buildTransitive/Uno.UI.Runtime.WebAssembly.targets
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Uno.UI.RuntimeTests.HRApp.Skia.Gtk.csproj
Labels: platform/wasm 🌐, area/skia ✏️, area/build, area/automation

#18022 chore: Add Discord badge
  README.md
Labels: kind/documentation

#17868 feat: Add a generic `Application.UnhandledException` handler
  build/PackageDiffIgnore.xml
  doc/articles/features/unhandled-exceptions.md
  doc/articles/toc.yml
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml/UnhandledExceptionEventHandler.cs
  src/Uno.UI/UI/Xaml/UnhandledExceptionEventArgs.cs
  src/Uno.UI/UI/Xaml/UnhandledExceptionEventHandler.cs
Labels: area/code-generation, area/build, kind/documentation

#17963 docs: Add "delete Uno.Sdk` from NuGet global-packages store as action for "Could not resolve Uno.Sdk"
  doc/articles/common-issues-all-ides.md
Labels: kind/documentation

#18039 docs: update docs for MVUX generated class
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
Labels: kind/documentation

#18044 Docs: Update Rider plugin documentation to prioritize version 2024.2 now that it is the current stable release of Rider IDE
  doc/articles/create-an-app-rider.md
  doc/articles/get-started-rider.md
Labels: kind/documentation

#18035 fix: Use ios17.5 and maccatalyst17.5 for SamplesApp
  build/ci/.azure-devops-ios-tests.yml
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/targetframework-override-netprevious.props
  src/targetframework-override.props
Labels: area/automation

#18049 docs: Add ScottPlot to the 3rd-party libraries list
  doc/articles/supported-libraries.md
Labels: kind/documentation

#18046 fix(pointers): WASM Fix possible unrelated pointer entered
  src/Uno.CrossTargetting.targets
  src/Uno.UI/Runtime/BrowserPointerInputSource.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: platform/wasm 🌐

#18050 fix: Properly resolve interface members in x:Bind
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Binding.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIDFA/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIDFA/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIDFA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#18057 docs: Adjust Supported platforms page
  doc/articles/getting-started/requirements.md
Labels: kind/documentation

#18001 perf: Avoid storing DefaultValue in DPDetails
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleControl.cs
  src/Uno.UI.RuntimeTests/Helpers/StyleHelper.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.DefaultValueProvider.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.Propagation.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/Helpers/Boxes.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.cs
  src/Uno.UI/UI/Xaml/Controls/FocusVisual/SystemFocusVisual.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/BitmapIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/FontIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/IconElement.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/PathIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Icons/SymbolIcon.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.Bindings.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Android.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Media/Animation/FadeInThemeAnimation.cs
  src/Uno.UI/UI/Xaml/Media/Animation/FadeOutThemeAnimation.cs
  src/Uno.UI/UI/Xaml/Media/RectangleGeometry.cs
  src/Uno.UI/UI/Xaml/ResourceResolver.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm 🌐, platform/android 🤖, area/skia ✏️, area/automation

#18059 docs: Specify macOS support for WebView2
  doc/articles/controls/WebView.md
Labels: kind/documentation

#18055 docs: Add Tip for Toolkit StatusBar Extensions
  doc/articles/guides/status-bar-theme-color.md
Labels: kind/documentation

#18056 fix: Adjust error message for global.json sdk version change
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/targets/Uno.Build.targets
Labels: kind/documentation

#17817 Docs: Update README.md change "here" link text
  doc/README.md
Labels: kind/documentation

#18073 docs: Update migrating-from-previous-releases.md for 4.1 migration notes by removing a non-working link
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#18070 build: Default props and targets file to uno.winui names
  build/Uno.UI.Build.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Reference.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Tests.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.netcoremobile.csproj
  src/AddIns/Uno.UI.Lottie/buildTransitive/Uno.WinUI.Lottie.targets
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Windows.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/AddIns/Uno.UI.MSAL/buildTransitive/Uno.WinUI.MSAL.targets
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.netcoremobile.csproj
  src/AddIns/Uno.UI.Svg/buildTransitive/Uno.WinUI.Svg.targets
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.RemoteControl/buildTransitive/Uno.WinUI.DevServer.targets
  src/Uno.UI.Runtime.Skia.Gtk/buildTransitive/Uno.WinUI.Runtime.Skia.Gtk.props
  src/Uno.UI.Runtime.Skia.Gtk/buildTransitive/Uno.WinUI.Runtime.Skia.Gtk.targets
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/buildTransitive/Uno.WinUI.Runtime.Skia.Linux.FrameBuffer.props
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/buildTransitive/Uno.WinUI.Runtime.Skia.Linux.FrameBuffer.targets
  src/Uno.UI.Runtime.Skia.MacOS/buildTransitive/Uno.WinUI.Runtime.Skia.MacOS.props
  src/Uno.UI.Runtime.Skia.MacOS/buildTransitive/Uno.WinUI.Runtime.Skia.MacOS.targets
  src/Uno.UI.Runtime.Skia.Wpf/buildTransitive/Uno.WinUI.Runtime.Skia.Wpf.props
  src/Uno.UI.Runtime.Skia.Wpf/buildTransitive/Uno.WinUI.Runtime.Skia.Wpf.targets
  src/Uno.UI.Runtime.Skia.X11/buildTransitive/Uno.WinUI.Runtime.Skia.X11.props
  src/Uno.UI.Runtime.Skia.X11/buildTransitive/Uno.WinUI.Runtime.Skia.X11.targets
  src/Uno.UI.Runtime.WebAssembly/buildTransitive/Uno.WinUI.Runtime.WebAssembly.props
  src/Uno.UI.Runtime.WebAssembly/buildTransitive/Uno.WinUI.Runtime.WebAssembly.targets
  src/Uno.UI.XamlHost/buildTransitive/Uno.WinUI.XamlHost.props
Labels: platform/wasm 🌐, area/skia ✏️, area/build

#18085 fix: Consider init-only properties as not settable in bindable type generator
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/BindableNullableValueTypeTestPage.xaml.cs
Labels: area/code-generation
