Repository unoplatform/uno, pull requests merged in 2024-01, with the labels that each got.

#14942 fix: Call `NameScope.RegisterName` only for `x:Name`
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#14902 fix: Adjust arrangeSize for non-Stretch alignments
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_GridLayouting.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/GridTests/Given_Grid.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
Labels: area/automation

#14953 fix: Correcting links
  doc/articles/getting-started/counterapp/get-started-counter.md
Labels: kind/documentation

#14952 Improve samples app info dialog
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Commands.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserContent.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleInfoControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleInfoControl.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/SamplesApp.UnitTests.Shared.projitems
Labels: area/automation

#14964 fix: Use InvariantCulture for int.TryParse calls
  src/SourceGenerators/Uno.UI.Tasks/Assets/RetargetAssets.cs
  src/Uno.UI/Controls/BindableImageView.Android.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ColorPicker/ColorPicker.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.Android.cs
  src/Uno.UWP/Helpers/AndroidResourceNameEncoder.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.wasm.cs
  src/Uno.UWP/System/Profile/AnalyticsVersionInfo.Android.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdater.iOS.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdater.skia.cs
  src/Uno.UWP/UI/Notifications/BadgeUpdater.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/code-generation

#14367 fix: Ensure WPF doesn't override our own synchronization context when calling pointer events
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Button_Click_Verify_SynchronizationContext.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/Button_Click_Verify_SynchronizationContext.xaml.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
Labels: area/skia ✏️, area/automation

#14976 perf: Use ArrayPool for very temporarily arrays in InlineCollection.Draw
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#14977 perf: Access Color DP once in InlineCollection.Draw
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#14970 chore(xamlgen): Add missing `EditorBrowsableAttribute`
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#14943 perf(SamplesApp): Avoid unnecessary expensive GC.Collect
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
Labels: area/automation

#14929 docs: fix markup external links
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvvm.md
  doc/articles/getting-started/counterapp/get-started-counter.md
Labels: kind/documentation

#14931 fix(droid): Geolocator listener crash
  src/SamplesApp/UITests.Shared/Windows_Devices/GeolocatorTests.xaml.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.Android.cs
Labels: platform/android 🤖, area/automation

#14926 chore: fix GetWindowCoordinates on Linux
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
Labels: area/skia ✏️, ready-to-merge

#14940 docs: fix broken external links
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/what-is-uno.md
Labels: kind/documentation

#14922 docs: update combobox reference
  doc/articles/controls/ComboBox.md
Labels: kind/documentation

#14937 chore: Cleanup Uno.WinUI.Skia.Gtk.props
  build/nuget/Uno.WinUI.Skia.Gtk.props
Labels: area/build

#14995 docs: Update faq.md
  doc/articles/faq.md
Labels: kind/documentation

#14901 fix(droid): Flipview Native View clipping
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/FlipView/FlipView_Images.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FlipView.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
Labels: platform/android 🤖, area/automation

#14972 Miscellaneous scrolling fixes
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.wasm.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.wasm.cs
Labels: platform/wasm 🌐

#15011 docs: Validate tocs
  build/cSpell.json
  build/ci/.azure-devops-spell-check.yml
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#14985 feat: Re-add `VectorExtensions`
  src/Uno.Foundation/Extensions/VectorExtensions.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SwipeControl/SwipeControl.Uno.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UI/UI/Xaml/Media/Brush.skia.cs
  src/Uno.UI/UI/Xaml/Media/EllipseGeometry.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.Android.cs
  src/Uno.UI/UI/Xaml/Media/LineGeometry.skia.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Manipulation.cs
Labels: platform/android 🤖, area/skia ✏️

#15012 docs: Update intro.md
  doc/articles/intro.md
Labels: kind/documentation

#13984 docs(xf): initial migration overview content
  build/cSpell.json
  doc/articles/guides/xf-migration/intro.md
  doc/articles/guides/xf-migration/overview.md
  doc/articles/guides/xf-migration/third-party-controls.md
  doc/articles/guides/xf-migration/toc.yml
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#15039 refactor: Improve samples app search
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
Labels: area/automation

#15057 perf(samplesapp): Fix SamplesApp leaks
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Enability/BasicEnability.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/FocusManager_GetFocus_Automated.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_ObservableCollection_CreationCount.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ListViewPages/ListView_ObservableCollection_CreationCount.xaml.cs
Labels: area/automation

#15053 fix: SamplesApp error when FilteredSamples null
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
Labels: area/automation

#15061 perf: Fix RatingControlPage memory leak
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserContent.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RatingControlTests/RatingControlPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RatingControlTests/RatingControlPage.xaml.cs
Labels: area/automation

#15063 perf(samplesapp): Fix RadioButtonsPage memory leak
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/RadioButtonsTests/RadioButtonsPage.xaml.cs
Labels: area/automation

#14816 Uno Sdk
  build/ci/templates/copy-package-assets.yml
  build/filters/Uno.UI-packages-reference.slnf
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/Sdk/Sdk.targets
  src/Uno.Sdk/Uno.Sdk.csproj
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.sln
Labels: area/build

#15070 docs: fix implemented views link
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#15081 refactor: Simplify the Samples app header
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Commands.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml.cs
Labels: area/automation

#14983 fix(textbox): fix textbox losing focus on WASM if alt-tabbed out then back in
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/Focus_WASM_Tab.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/Focus_WASM_Tab.xaml.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.wasm.cs
Labels: platform/wasm 🌐, ready-to-merge, area/automation

#15083 fix: [wasm] Don't fail on uninitialized GC handle
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
Labels: platform/wasm 🌐

#15086 fix: pointer coordinates shift on WSL
  src/Uno.UI.Runtime.Skia.Gtk/Extensions/GtkExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
Labels: area/skia ✏️, ready-to-merge

#15096 fix: Fix type resolution from x xmlns namespace
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_NoFuzzyMatching.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTPWXS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTPWXS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTPWXS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
Labels: area/code-generation

#15050 fix: Port GetMinMax from WinUI
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/HitTest_LightDismiss.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI.Tests/Extensions/Given_LayoutHelper.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/FrameworkElementTests/Given_FrameworkElement.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/Xaml/DependencyProperty.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
Labels: area/automation

#15102 docs: Delete unused includes and doc pages
  build/cSpell.json
  doc/articles/guides/raspberry-pi/raspberry-pi-azure.md
  doc/articles/guides/raspberry-pi/raspberry-pi-gpio.md
  doc/articles/guides/silverlight-migration/silverlight-migration-landing.md
  doc/articles/roadmap.md
  doc/articles/toc.yml
  doc/articles/use-uno-check-inline-linux.md
  doc/articles/use-uno-check-inline-macos.md
  doc/articles/use-uno-check-inline-windows.md
Labels: area/build, kind/documentation

#15112 docs: Update Gtk setup on Windows
  doc/articles/additional-windows-setup-inline.md
Labels: kind/documentation

#15087 chore: Remove `AnimatorFactory.Create` on Skia in favor of the generic overload
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.skia.cs
Labels: area/skia ✏️

#15095 chore: enable skia-rendered TextBox instead of the native Gtk/Wpf overlays
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#15109 docs: Update dotnet new docs
  doc/articles/get-started-dotnet-new.md
Labels: kind/documentation

#15104 fix: scrollviewer grabbing focus on pointer up
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.MuxInternal.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
Labels: ready-to-merge

#15117 Minor Skia TextBox improvements + Tab rendering Support for TextBlock
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
Labels: area/skia ✏️

#15098 ci: Split Skia snapshot tests into groups and run on Windows
  build/ci/.azure-devops-skia-tests.yml
  build/ci/templates/gtk-install-windows.yml
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Shared/App.Tests.cs
  src/SamplesApp/SamplesApp.Skia.Gtk/Program.cs
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
  src/Uno.CrossTargetting.targets
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Program.cs
Labels: area/build, area/automation

#15110 fix(textbox): raise paste on PasteFromClipboard
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: ready-to-merge

#15127 docs: Update interop documentation
  doc/articles/interop/MSAL.md
  doc/articles/interop/wasm-javascript-1.md
  doc/articles/interop/wasm-javascript-2.md
Labels: kind/documentation

#15126 docs: Update guides documentation
  build/cSpell.json
  doc/articles/guides/azure-static-webapps.md
  doc/articles/guides/community-tutorials.md
  doc/articles/guides/hotswap-app-language.md
  doc/articles/guides/how-to-add-platforms-existing-project.md
  doc/articles/guides/how-to-create-control-libraries.md
  doc/articles/guides/localization.md
  doc/articles/guides/native-frame-nav-tutorial.md
  doc/articles/guides/open-id-connect.md
  doc/articles/guides/profiling-applications.md
  doc/articles/guides/raspberry-pi/raspberry-pi-intro.md
  doc/articles/guides/silverlight-migration/00-overview.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
  doc/articles/guides/status-bar-theme-color.md
  doc/articles/guides/uno-islands.md
  doc/articles/guides/xf-migration/intro.md
  doc/articles/guides/xf-migration/overview.md
Labels: area/build, kind/documentation

#15128 docs: Misc articles updates
  doc/.feature-template-uno-only.md
  doc/.feature-template.md
  doc/.howto-template.md
  doc/articles/additional-linux-setup-inline.md
  doc/articles/additional-macos-setup-inline.md
  doc/articles/additional-vscode-topics.md
  doc/articles/additional-windows-setup-inline.md
  doc/articles/android-activities.md
  doc/articles/common-issues.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/faq.md
  doc/articles/get-started-next-steps.md
  doc/articles/get-started-vscode.md
  doc/articles/migrating-from-net7-to-net8.md
  doc/articles/migrating-to-uno-5.md
  doc/articles/uno-app-solution-structure.md
  doc/articles/uno-community-toolkit.md
  doc/articles/uno-fluent-assets.md
  doc/articles/use-uno-check-inline-linux-noheader.md
  doc/articles/use-uno-check-inline-noheader.md
  doc/articles/use-uno-check-inline.md
Labels: kind/documentation

#15121 docs: Update controls documentation
  doc/articles/controls/ComboBox.md
  doc/articles/controls/CommandBar.md
  doc/articles/controls/ContentDialog.md
  doc/articles/controls/ListViewBase.md
  doc/articles/controls/MediaPlayerElement.md
  doc/articles/controls/MenuFlyout.md
  doc/articles/controls/Pivot.md
  doc/articles/controls/Popup.md
  doc/articles/controls/ScrollViewer.md
  doc/articles/controls/TextBox.md
  doc/articles/controls/ToggleSwitch.md
  doc/articles/controls/WebView.md
  doc/articles/controls/map-control-support.md
Labels: kind/documentation

#15120 docs: Update contributing guide
  doc/articles/concepts/overview/philosophy-of-uno.md
  doc/articles/contributing/guidelines/breaking-changes.md
  doc/articles/contributing/guidelines/code-style.md
  doc/articles/contributing/guidelines/creating-tests.md
  doc/articles/contributing/guidelines/implementing-a-new-winui-winrt-feature.md
  doc/articles/contributing/guidelines/issue-triage.md
  doc/articles/contributing/guidelines/pull-requests.md
  doc/articles/contributing/guidelines/updating-dependencies.md
Labels: kind/documentation

#15155 fix: Fix x:Bind cast when type is in default namespace
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xBind_With_Cast_Default_Namespace.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_xBind_With_Cast_Default_Namespace.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xBind.cs
Labels: area/code-generation

#15141 docs: Update Microsoft links
  README.md
  doc/articles/features/windows-ui-xaml-xbind.md
  doc/articles/getting-started/counterapp/include-mvvm.md
  doc/articles/getting-started/requirements.md
  doc/articles/getting-started/wizard/framework.md
  doc/articles/guides/profiling-applications.md
  doc/articles/guides/silverlight-migration/00-overview.md
  doc/articles/guides/silverlight-migration/01-create-uno-solution.md
  doc/articles/guides/silverlight-migration/02-considering-navigation.md
  doc/articles/guides/silverlight-migration/03-review-app-startup.md
  doc/articles/guides/silverlight-migration/04-migrate-home-page-xaml-and-styles.md
  doc/articles/guides/silverlight-migration/05-string-resources.md
  doc/articles/guides/silverlight-migration/07-dialogs.md
  doc/articles/guides/silverlight-migration/08-data-access-overview.md
  doc/articles/guides/silverlight-migration/09-client-auth-service.md
  doc/articles/guides/silverlight-migration/12-migrate-auth-ui.md
  doc/articles/guides/silverlight-migration/99-useful-resources.md
  doc/articles/howto-consume-webservices.md
  doc/articles/interop/MSAL.md
  doc/articles/logging.md
  doc/articles/uno-development/creating-ui-tests.md
  doc/articles/uno-development/listviewbase-internals.md
  doc/articles/uno-development/themeresource-internals.md
  doc/articles/uwp-vs-winui3.md
  doc/articles/wpf-migration.md
  src/Uno.UI/UI/Xaml/Controls/WebView/README.md
Labels: kind/documentation

#15152 docs: Few more improvements in dotnet new article
  doc/articles/get-started-dotnet-new.md
Labels: kind/documentation

#15125 docs: Update counterapp and wizard documentation [articles/getting-started]
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvvm.md
  doc/articles/getting-started/counterapp/include-create.md
  doc/articles/getting-started/counterapp/include-elements-csharp.md
  doc/articles/getting-started/counterapp/include-elements-xaml.md
  doc/articles/getting-started/counterapp/include-image-csharp.md
  doc/articles/getting-started/counterapp/include-image-xaml.md
  doc/articles/getting-started/counterapp/include-mainpage-change-layout.md
  doc/articles/getting-started/counterapp/include-mainpage-csharp.md
  doc/articles/getting-started/counterapp/include-mainpage-layout.md
  doc/articles/getting-started/counterapp/include-mainpage-xaml.md
  doc/articles/getting-started/counterapp/include-mainwindow.md
  doc/articles/getting-started/counterapp/include-mvux.md
  doc/articles/getting-started/counterapp/include-mvvm.md
  doc/articles/getting-started/counterapp/include-solution.md
  doc/articles/getting-started/wizard/application.md
  doc/articles/getting-started/wizard/authentication.md
  doc/articles/getting-started/wizard/cipipeline.md
  doc/articles/getting-started/wizard/extensions.md
  doc/articles/getting-started/wizard/features.md
  doc/articles/getting-started/wizard/framework.md
  doc/articles/getting-started/wizard/markup.md
  doc/articles/getting-started/wizard/platforms.md
  doc/articles/getting-started/wizard/presentation.md
  doc/articles/getting-started/wizard/startup.md
  doc/articles/getting-started/wizard/testing.md
  doc/articles/getting-started/wizard/themes.md
Labels: kind/documentation

#15144 docs: Few more followup improvements
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/guides/how-to-create-control-libraries.md
  doc/articles/guides/silverlight-migration/12-migrate-auth-ui.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/uno-development/docfx.md
Labels: kind/documentation

#15111 fix(autosuggestbox): fix AutoSuggestBox not opening/closing using the managed skia TextBox
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AutoSuggestBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️, ready-to-merge

#15153 docs: More improvements to building-uno-ui docs
  doc/articles/uno-development/building-uno-ui.md
Labels: kind/documentation

#15147 chore: Minor cleanups in FrameworkElement and UIElement
  src/Uno.UI/UI/Xaml/FrameworkElement.reference.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.unittests.cs
  src/Uno.UI/UI/Xaml/UIElement.reference.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.unittests.cs
Labels: area/skia ✏️

#13898 ci: Avoid restoring the whole solution unnecessarily when running sync generator
  build/Uno.UI.Build.csproj
Labels: area/build

#15073 docs: Fix WPF/GTK links
  doc/articles/getting-started/requirements.md
Labels: kind/documentation

#15092 fix: skia textbox overlay not disappearing on unfocus when FeatureConfiguration changes
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia ✏️, ready-to-merge

#15176 Set Resource Metadata
  doc/articles/toc.yml
  doc/articles/uno-build-error-codes.md
  doc/articles/upgrading-nuget-packages.md
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/Sdk/Sdk.targets
Labels: area/build, kind/documentation

#15165 ci: Bump to 7.0.405
  .github/workflows/uwp-autoconvert.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
Labels: area/build

#15197 fix: Don't include uno binaries in netx.y-windows and uap builds
  build/nuget/Uno.WinUI.Lottie.nuspec
Labels: area/build

#15185 fix: Restore hot reload tests
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Given_HotReloadService.cs
Labels: area/code-generation

#15007 fix(textblock): clear selection on focus lost, copy/paste support and a simple context menu for skia
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/ContentMenuItem.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#15170 fix(passwordbox): use a larger bullet glyph to match WinUI
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia ✏️, ready-to-merge

#15188 fix: Fix CalendarDatePicker day item corner
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarView.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItem.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItem.cs
Labels: platform/wasm 🌐

#15211 refactor: Drop SamplesApp.UWP.Design
  src/SamplesApp/SamplesApp.UWP.Design/Properties/AssemblyInfo.cs
  src/SamplesApp/SamplesApp.UWP.Design/Properties/SamplesApp.UWP.Design.rd.xml
  src/SamplesApp/SamplesApp.UWP.Design/SamplesApp.UWP.Design.csproj
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI-Wasm-only.slnf
  src/Uno.UI.sln
  src/Uno.WinUIRevert/Program.cs
Labels: area/automation

#15218 Align Project Capabilities
  build/nuget/uno.winui.single-project.targets
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/targets/Uno.ProjectCapabilities.targets
Labels: area/build

#15213 test: Add UnoWorkItem attribute
  src/SamplesApp/SamplesApp.UITests/Extensions/UnoWorkItemAttribute.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Path.cs
Labels: area/automation

#15200 docs: Adjust docs for the wizard
  doc/articles/Assets/quick-start/live-wizard-01-choose-name.png
  doc/articles/Assets/quick-start/live-wizard-02-select-preset.png
  doc/articles/Assets/quick-start/live-wizard-03-create-app.png
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vscode.md
  doc/articles/get-started-dotnet-new.md
  doc/articles/guides/community-tutorials.md
Labels: kind/documentation

#15201 Adding migration docs
  build/cSpell.json
  doc/articles/migrating-to-uno-sdk.md
  doc/articles/toc.yml
  doc/articles/upgrading-nuget-packages.md
Labels: area/build, kind/documentation

#15231 fix: Force disable template pooling for all platforms
  src/Uno.UI.RuntimeTests/Helpers/FeatureConfigurationHelper.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ItemsControlTests/Given_ItemsControl.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ListViewBaseTests/Given_ListViewBase_CustomContainer.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_FrameworkTemplate.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplatePool.cs
Labels: area/automation

#15230 fix: Configure devserver log level, reduce verbosity
  doc/articles/features/working-with-xaml-hot-reload.md
  src/Uno.UI.RemoteControl.VS/EntryPoint.cs
  src/Uno.UI.RemoteControl.VS/Helpers/DTEHelper.cs
  src/Uno.UI.RemoteControl.VS/IDEChannel/IDEChannelClient.cs
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
Labels: kind/documentation

#15187 refactor: Ditch the `Mock` folder
  src/Uno.UI/Extensions/ViewExtensions.reference.cs
  src/Uno.UI/Extensions/ViewExtensions.skia.cs
  src/Uno.UI/Extensions/ViewExtensions.unittests.cs
  src/Uno.UI/Extensions/ViewExtensions.wasm.cs
  src/Uno.UI/Mock/Border.unittests.cs
  src/Uno.UI/Mock/Color.reference.cs
  src/Uno.UI/Mock/Color.unittests.cs
  src/Uno.UI/Mock/ContentControl.unittests.cs
  src/Uno.UI/Mock/Control.reference.cs
  src/Uno.UI/Mock/Control.unittests.cs
  src/Uno.UI/Mock/Font.unittests.cs
  src/Uno.UI/Mock/Font.wasm.cs
  src/Uno.UI/Mock/Grid.reference.cs
  src/Uno.UI/Mock/Grid.unittests.cs
  src/Uno.UI/Mock/Image.reference.cs
  src/Uno.UI/Mock/Image.unittests.cs
  src/Uno.UI/Mock/ImageSource.unittests.cs
  src/Uno.UI/Mock/ImageSource.wasm.cs
  src/Uno.UI/Mock/ListView.reference.cs
  src/Uno.UI/Mock/ListView.unittests.cs
  src/Uno.UI/Mock/ListViewBase.reference.cs
  src/Uno.UI/Mock/ListViewBase.unittests.cs
  src/Uno.UI/Mock/ScrollContentPresenter.reference.cs
  src/Uno.UI/Mock/ScrollContentPresenter.unittests.cs
  src/Uno.UI/Mock/StackPanel.reference.cs
  src/Uno.UI/Mock/StackPanel.unittests.cs
  src/Uno.UI/Mock/StarStackPanel.unittests.cs
  src/Uno.UI/Mock/UserControl.reference.cs
  src/Uno.UI/Mock/UserControl.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/ContentControl/ContentControl.reference.cs
  src/Uno.UI/UI/Xaml/Controls/ContentControl/ContentControl.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.reference.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.reference.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.reference.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.reference.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.unittests.cs
  src/Uno.UI/UI/Xaml/ElementStub.unittests.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.reference.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.unittests.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.reference.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.unittests.cs
Labels: platform/wasm 🌐, area/skia ✏️

#15238 docs: Added info on using LaunchUriAsync on WASM
  doc/articles/features/windows-system.md
Labels: kind/documentation

#15241 docs: update themes and toolkit docs
  doc/import_external_docs.ps1
Labels: ready-to-merge, kind/documentation

#15253 docs: Update README.md with the new discord link
  README.md
Labels: kind/documentation

#15249 docs: Adjust rider known issues
  doc/articles/common-issues-rider.md
  doc/articles/common-issues.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#15261 fix: `TimePicker` and `DatePicker` native flyouts closing and unload
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_DatePicker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TimePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.Flyout.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/NativeTimePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/NativeTimePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.partial.mux.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerSelector.iOS.cs
Labels: platform/android 🤖, platform/ios 🍎

#15275 Misc docs fixes
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vscode.md
  doc/articles/get-started-dotnet-new.md
Labels: kind/documentation

#15276 fix: Invalid TIMEPICKER_MINUTEINCREMENT_MAX
  build/PackageDiffIgnore.xml
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.partial.mux.cs
Labels: area/build

#15285 docs: Update `Vibration` to include Android specific requirements
  doc/articles/features/windows-phone-devices-notification-vibrationdevice.md
Labels: kind/documentation

#15268 docs: Update Lamp to include Android specific requirements
  doc/articles/features/flashlight.md
Labels: kind/documentation

#15248 fix: Fix TextBlock.Foreground LinearGradientBrush not taking exact text width
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBlockTests/TextBlockTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/LinearGradientBrush_Width.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/LinearGradientBrush_Width.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.TextHelper.wasm.cs
Labels: platform/wasm 🌐, area/automation

#15244 docs: Add wasm manifest content to splash screen feature docs
  doc/articles/splash-screen.md
  doc/articles/wasm-appmanifest.md
Labels: kind/documentation
