Repository unoplatform/uno, pull requests merged in 2024-12, with the labels that each got.

#18968 fix(skia): support color animations
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/ColorAnimationUsingKeyFrames_Fill.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/ColorAnimationUsingKeyFrames_Fill.xaml.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/AnimatorFactory.skia.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DispatcherAnimator.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DispatcherColorAnimator.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DispatcherDoubleAnimator.cs
  src/Uno.UI/UI/Xaml/Media/Animation/ColorAnimation.cs
Labels: area/skia ✏️, area/automation

#18948 chore: Add missing DateTimeFormatter formats
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CalendarView/CalendarDatePicker_Features.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_Globalization/Given_DateTimeFormatter.cs
  src/Uno.UWP/Globalization/DateTimeFormatting/DateTimeFormatter.cs
Labels: area/automation

#19016 test: Fix stretch_none on ios/android
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
Labels: area/automation

#15672 fix: DeferLoadStrategy should work even if no visibility is set
  doc/articles/migrating-from-previous-releases.md
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_LazyLoading.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIDFA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TMEWSFEL/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TMEWSWA/XamlCodeGenerator_MainWindow_c93db19a7202d9eb84ddc41d72fcb89b.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TRDAAPSSTP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTW/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WDLSNVS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WDLSNVS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WDLSNVS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WLCHB/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WLCHB/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WLCHB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/xLoad_Visibility.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/xLoad_Visibility.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_VisualTreeHelper.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_Binding.cs
  src/Uno.UI/UI/Xaml/ElementStub.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: area/code-generation, area/automation, kind/documentation

#19018 docs: Update creating-custom-controls.md
  doc/articles/guides/creating-custom-controls.md
Labels: kind/documentation

#19002 feat: Allow simulating touch input in Samples app
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/Uno.UWP/Devices/Input/PointerDevice.cs
  src/Uno.UWP/FeatureConfiguration/WinRTFeatureConfiguration.cs
Labels: area/automation

#19025 fix: Make `ImageStretch_None` wait for images to actually load
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
Labels: area/automation

#18984 feat(macOS): override ms-appx location when app is bundled
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowNative.cs
  src/Uno.UI.Runtime.Skia.MacOS/NativeUno.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOApplication.h
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOApplication.m
  src/Uno.UWP/Storage/StorageFile.skia.cs
Labels: area/skia ✏️

#19014 docs: Add Uno Platform Studio Documentation
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/studio/Assets/Introducing-Uno-Platform-Studio.png
  doc/articles/studio/Hot Design/Assets/canvas-select-multiple-items.png
  doc/articles/studio/Hot Design/Assets/canvas-select-single-item.png
  doc/articles/studio/Hot Design/Assets/counter-app.png
  doc/articles/studio/Hot Design/Assets/delete-elements.png
  doc/articles/studio/Hot Design/Assets/enter-hot-design-mode.png
  doc/articles/studio/Hot Design/Assets/form-factor-and-zoom-flyout.png
  doc/articles/studio/Hot Design/Assets/gifs/1-remove-stackpanel.gif
  doc/articles/studio/Hot Design/Assets/gifs/2-add-stackpanel.gif
  doc/articles/studio/Hot Design/Assets/gifs/2.1-add-stackpanel.gif
  doc/articles/studio/Hot Design/Assets/gifs/2.2-add-stackpanel.gif
  doc/articles/studio/Hot Design/Assets/gifs/3-stackpanel-alignment.gif
  doc/articles/studio/Hot Design/Assets/gifs/3.1-textbox-clear-text.gif
  doc/articles/studio/Hot Design/Assets/gifs/4-add-image-source.gif
  doc/articles/studio/Hot Design/Assets/gifs/4.1-search-properties.gif
  doc/articles/studio/Hot Design/Assets/gifs/4.2-resize-property-view.gif
  doc/articles/studio/Hot Design/Assets/gifs/5-multi-selection.gif
  doc/articles/studio/Hot Design/Assets/gifs/6-button-style.gif
  doc/articles/studio/Hot Design/Assets/gifs/7-textbox-binding.gif
  doc/articles/studio/Hot Design/Assets/gifs/8-button-command.gif
  doc/articles/studio/Hot Design/Assets/gifs/9-wrapup.gif
  doc/articles/studio/Hot Design/Assets/gifs/toolbox-drag.gif
  doc/articles/studio/Hot Design/Assets/hot-design-dark-theme.png
  doc/articles/studio/Hot Design/Assets/hot-design-light-theme.png
  doc/articles/studio/Hot Design/Assets/hot-design-views-highlighted.png
  doc/articles/studio/Hot Design/Assets/properties-view-advcd-button-binding.png
  doc/articles/studio/Hot Design/Assets/properties-view-advcd-button-mixed-responsive.png
  doc/articles/studio/Hot Design/Assets/properties-view-advcd-button-none.png
  doc/articles/studio/Hot Design/Assets/properties-view-advcd-button-resource.png
  doc/articles/studio/Hot Design/Assets/properties-view-advcd-button-xaml.png
  doc/articles/studio/Hot Design/Assets/properties-view-alignment-property.png
  doc/articles/studio/Hot Design/Assets/properties-view-autosuggest-property.png
  doc/articles/studio/Hot Design/Assets/properties-view-button-flyout.png
  doc/articles/studio/Hot Design/Assets/properties-view-text-empty.png
  doc/articles/studio/Hot Design/Assets/properties-view-text-property.png
  doc/articles/studio/Hot Design/Assets/studio-toolbar.png
  doc/articles/studio/Hot Design/Assets/toolbar-connection-status.png
  doc/articles/studio/Hot Design/Assets/toolbar-dark-theme.png
  doc/articles/studio/Hot Design/Assets/toolbar-form-factor.png
  doc/articles/studio/Hot Design/Assets/toolbar-hot-design-enter-icon.png
  doc/articles/studio/Hot Design/Assets/toolbar-hot-design-icon.png
  doc/articles/studio/Hot Design/Assets/toolbar-light-theme.png
  doc/articles/studio/Hot Design/Assets/toolbar-more-options.png
  doc/articles/studio/Hot Design/Assets/toolbar-pause.png
  doc/articles/studio/Hot Design/Assets/toolbar-play.png
  doc/articles/studio/Hot Design/Assets/toolbar-redo.png
  doc/articles/studio/Hot Design/Assets/toolbar-undo.png
  doc/articles/studio/Hot Design/Assets/toolbox-drag.gif
  doc/articles/studio/Hot Design/Assets/vs-hot-reload-icon.png
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
  doc/articles/studio/Hot Design/hot-design-overview.md
  doc/articles/studio/Hot Reload/hot-reload-overview.md
  doc/articles/studio/studio-overview.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#19021 refactor: Use telemetry package
  build/nuget/Uno.WinUI.nuspec
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/BaseStorageService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/FixedSizeQueue.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/FlushManager.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/PersistenceChannel.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/PersistenceChannelDebugLog.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/PersistenceTransmitter.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/Sender.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/SnapshottingCollection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/SnapshottingDictionary.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/StorageService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/PersistenceChannel/StorageTransmission.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/TelemetryClient.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/TelemetryCommonProperties.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGenerator.cs
Labels: area/code-generation, area/build

#18997 fix: Adjust `[NotImplemented]` on `PasswordVault`
  src/Uno.UWP/Security/Credentials/PasswordCredential.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.Android.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.iOSmacOS.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.others.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.reference.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.skia.cs
  src/Uno.UWP/Security/Credentials/PasswordVault.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#18795 fix(drag&drop): when a child and a parent subscribe to dragging, only fire on the child
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.Tests/Windows_UI_Input/Given_GestureRecognizer.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Gesture.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UI/UI/Input/GestureRecognizer.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.pointers.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: area/skia ✏️, area/automation

#19041 ci: Fail before listing failed tests
  build/test-scripts/android-uitest-run.sh
  build/test-scripts/ios-uitest-run.sh
  build/test-scripts/wasm-run-automated-uitests.sh
Labels: area/build

#19047 chore: Remove duplicate attribute
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
Labels: area/code-generation

#19052 fix: Observe specific trait on RootViewController
  src/Uno.UI/Controls/RootViewController.iOS.cs
Labels: platform/ios 🍎

#19023 refactor: shape perf
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Line.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs
  src/Uno.UWP/Collections/LruCache.cs
Labels: platform/wasm 🌐

#19061 docs: Update get-started.md
  doc/articles/get-started.md
Labels: kind/documentation

#18991 chore: native timepicker- set -initial time
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TimePicker.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/NativeTimePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/NativeTimePickerFlyout.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/NativeTimePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePicker.native.cs
Labels: platform/android 🤖, platform/ios 🍎

#19055 docs: Add `CameraCaptureUI` page
  doc/articles/features/windows-media-capture.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#19093 chore: Update to latest devtools
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
Labels: area/code-generation

#19092 feat(hr): Remove deprecated XAML and partial reload HR modes
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Agent.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.PartialReload.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Xaml.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.cs
  src/Uno.UI.RemoteControl/HotReload/HotReloadMode.cs
  src/Uno.UI.RemoteControl/HotReload/Messages/ConfigureServer.cs
  src/Uno.UI.RemoteControl/HotReload/Messages/FileReload.cs
  src/Uno.UI.RemoteControl/ProjectConfigurationAttribute.cs
Labels: area/code-generation

#19114 docs: Update hot-design-getstarted-guide.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
Labels: kind/documentation
