Repository unoplatform/uno, pull requests merged in 2024-05, with the labels that each got.

#16472 fix(itemsRepeater): Fix an issue where IR might re-position first items if items below are significantly taller
  src/SamplesApp/UITests.Shared/ItemExclusions.props
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ItemsViewTests/ItemsViewSummaryPage.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/FlowLayout_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/StackLayout_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/UniformGridLayout_Simple.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/TestUI/Samples/AnimationSamples/DefaultElementAnimator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/StackLayout.cs
Labels: area/automation

#16533 fix: Fix WinUI SamplesApp not setting main window correctly
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#16536 feat: Support for SkiaSharp 3
  src/Uno.UI.Composition/Composition/CompositionEffectBrush.skia.cs
  src/Uno.UI.Composition/Composition/ShadowState.skia.cs
  src/Uno.UI.Composition/SkiaCompat.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
Labels: area/skia ✏️

#16541 perf: Avoid boxing in ContainerVisual.SetMatrixDirty
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
Labels: area/skia ✏️

#16534 fix: Don't fail build on an empty library
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/uno52AppWithLib.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52emptylib/uno52emptylib.csproj
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
Labels: area/solution-templates

#16558 fix: Fix images being pixelated in some cases
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_ImageBrushStretch.cs
Labels: area/skia ✏️

#16548 fix: Fix SkiaCompat crashing with SkiaSharp 3
  src/Directory.Build.targets
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/Uno.UI.Composition/SkiaCompat.skia.cs
Labels: area/skia ✏️, area/automation

#16502 fix: Improve Skia clipping
  src/Uno.UI.Composition/Composition/CompositionViewBox.skia.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_CompositionNineGridBrush.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#16549 fix: Respect CenterPoint when applying rotation
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/VisualRotationSample.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/VisualRotationSample.xaml.cs
  src/Uno.UI.Composition/Composition/Uno/TransformableObjectExtensions.cs
Labels: area/automation

#16552 fix: GestureRecognizer should be aborted when InteractionTracker takes over
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/InteractionTrackerAndExpressionAnimationSample.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/InteractionTrackerAndExpressionAnimationSample.xaml.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Composition.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: area/automation

#16557 fix: Fix RectangleClip ignoring TransformMatrix
  src/Uno.UI.Composition/Composition/RectangleClip.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
Labels: area/skia ✏️

#16474 Roll back storyboarded animations in a visual state when moving to another
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/VisualStateTests/VisualState_ReturnPreviousValue2.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/VisualStateTests/VisualState_ReturnPreviousValue2.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CommandBar.cs
  src/Uno.UI/DataBinding/BindingPath.cs
  src/Uno.UI/UI/Xaml/Setter.cs
  src/Uno.UI/UI/Xaml/VisualStateGroup.cs
Labels: area/automation

#16584 fix(WPF): Repetitive dispatching on Idle shouldn't block rendering
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Dispatching/AssemblyInfo.skia.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.Android.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.iOSmacOS.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.skia.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.wasm.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GtkRendererProvider.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/GtkDispatch.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSDispatcher.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UWP/Helpers/EventLoop.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.skia.cs
  src/Uno.UWP/UI/Core/CoreDispatcher.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#16567 fix: Fix sender argument in Window events and x:Bind in Window when it's root of XAML
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TRDAAPSSTP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTW/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Directory.Build.targets
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingTests.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBindInWindow.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBindInWindow.xaml.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
Labels: area/code-generation

#16522 fix: Breakpoints don't hit in SamplesApp
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/Uno.UI.MediaPlayer.WebAssembly.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/EmbeddedResourceInjector/EmbeddedResourceInjectorTask.cs
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/UpriSubstitutionsGeneratorTask.cs
  src/Uno.UI.Wasm.Tests/Uno.UI.Wasm.Tests.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
Labels: area/code-generation, area/build, area/automation

#16597 docs(HotReload): Remove RemoteControl.g.cs details as it is not visible anymore
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#16593 Include Svg/**/*.svg as Content
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/uno52AppWithLib.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52lib/Assets/Svg/myimage.svg
  src/Uno.Sdk/targets/Uno.DefaultItems.Resizetizer.targets
  src/Uno.Sdk/targets/Uno.DefaultItems.targets
Labels: area/solution-templates

#16590 docs: Update winui troubleshooting
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#16603 fix: Bypass keyboard closing behavior on iOS
  src/Uno.UI/UI/Xaml/Window/Native/Window.iOS.cs
Labels: platform/ios 🍎

#16585 feat: Support ThemeResource in TargetNullValue and FallbackValue
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingTests.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/FallbackValueThemeResource.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/FallbackValueThemeResource.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/TargetNullValueThemeResource.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/TargetNullValueThemeResource.xaml.cs
  src/Uno.UI/Helpers/BindingExtensions.cs
  src/Uno.UI/UI/Xaml/Data/Binding.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.Bindings.cs
Labels: area/code-generation

#16610 chore: Mark `SelctionTest` as flaky on iOS
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/RadioButtonsTests/Given_RadioButtons.cs
Labels: area/automation

#16620 docs: Adjust win10 hotreload troubleshooting
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#16624 Pack missing schema file
  src/Uno.Sdk/Uno.Sdk.csproj
Labels: area/sdk

#16622 fix: Adjust lottie error code for missing package
  build/cSpell.json
  doc/articles/uno-build-error-codes.md
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs
Labels: area/build, kind/documentation

#16629 [Uno.Sdk] Update for new Material Theme Builder format and Uno.Dsp 1.3
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/getting-started/wizard/includes/themes.md
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Common.targets
Labels: area/solution-templates, kind/documentation, area/sdk

#16636 docs: Update Uno.Extensions documentation to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#16634 fix(iOS): multiple files selection
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
Labels: platform/ios 🍎

#16403 Skia Composition refactoring
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/BrushesTests/CompositionNineGridBrush_Source_Changes.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionMaskBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionNineGridBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionObject.Context.cs
  src/Uno.UI.Composition/Composition/CompositionObject.cs
  src/Uno.UI.Composition/Composition/CompositionShape.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionVisualSurface.skia.cs
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/RedirectVisual.skia.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/SpriteVisual.skia.cs
  src/Uno.UI.Composition/Composition/Uno/DrawingSession.skia.cs
  src/Uno.UI.Composition/Composition/Uno/IOnlineBrush.skia.cs
  src/Uno.UI.Composition/Composition/Uno/ISkiaSurface.skia.cs
  src/Uno.UI.Composition/Composition/Uno/Visual.PaintingSession.skia.cs
  src/Uno.UI.Composition/Composition/Uno/VisualExtensions.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_CompositionNineGridBrush.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_ContainerVisual.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextVisual.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/skia ✏️, area/automation

#16650 test: Fix TestCleanup to properly be awaited when it returns a Task
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
Labels: area/automation

#16649 feat: Enable `ToolTips` on Skia by default
  doc/articles/feature-flags.md
  src/Uno.UI/FeatureConfiguration.cs
Labels: kind/documentation

#16659 docs: Update Uno.Samples documentation to the latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#16482 feat: `FauxGradientBorderPresenter`
  doc/articles/features/shapes-and-brushes.md
  src/Uno.UI.FluentTheme.v2/Resources/Version2/Priority01/Uno_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/Priority02/PasswordBox_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/Priority02/TextBox_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/AppBarToggleButton_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/AutoSuggestBox_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/Button_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/CalendarDatePicker_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/ComboBox_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/DatePicker_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/NumberBox.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/RadioButton_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/RepeatButton_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/Slider_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/SplitButton.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/SplitButton_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/TimePicker_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/ToggleButton_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/ToggleSwitch_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_NumberBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_LinearGradientBrush_Faux.cs
  src/Uno.UI/Controls/FauxGradientBorderPresenter.cs
  src/Uno.UI/Microsoft/UI/Xaml/Styles/Common_themeresources_any.xaml
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
  src/Uno.UI/UI/Xaml/Media/GradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.faux.cs
  src/Uno.UI/UI/Xaml/Media/LinearGradientBrush.wasm.cs
Labels: platform/wasm 🌐, platform/macos 🍏, platform/ios 🍎, kind/documentation

#16670 perf(wpf): Replace Reflection with PInovke win32 in WpfKeyboardInputSource
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfKeyboardInputSource.cs
Labels: area/skia ✏️

#16666 fix: Fix FlipView SelectedIndex not changing with touch swipes on Wasm
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/FlipView/FlipView_Buttons.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/FlipView/FlipView.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.wasm.cs
Labels: platform/wasm 🌐, area/automation

#16053 chore: Port `FrameworkElementAutomationPeer`
  src/Uno.UI/DirectUI/AccessKeyStringBuilder.cs
  src/Uno.UI/DirectUI/ScrollItemAdapter.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/AutomationPeer.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/FrameworkElementAutomationPeer.Android.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/FrameworkElementAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/FrameworkElementAutomationPeer.iOS.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.cs
  src/Uno.UI/UI/Xaml/UIElement.mux.cs
Labels: platform/android 🤖, platform/ios 🍎

#16671 fix(gtk): Fix get scan code in GtkKeyboardInputSource
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkKeyboardInputSource.cs
  src/Uno.UI/Helpers/InputHelper.cs
Labels: area/skia ✏️

#16682 docs: Update ways-to-contribute.md
  build/cSpell.json
  doc/articles/uno-development/ways-to-contribute.md
Labels: area/build, kind/documentation

#16683 fix: Fix space and enter keys in TB while in ListView
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_KeyboardInterception.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_KeyboardInterception.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
Labels: area/automation

#16673 docs: bootstrapper update
  doc/import_external_docs.ps1
Labels: kind/documentation

#16656 ci: Bump to latest scaled agent
  .vsts-ci.yml
  build/test-scripts/run-netcore-mobile-template-tests.ps1
Labels: area/build

#16693 test: Stabilize snapshot comparison more
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/XamlRoot/XamlRoot_Properties.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImagesInlineInFlipView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImagesInlineInFlipView.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/StretchNoneBoundingBoxInDoubleStackPanel.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/StretchNoneBoundingBoxInDoubleStackPanel.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_NoSize.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_NoSize.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Avi_Extension.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Flv_Extension.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mkv_Extension.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mov_Extension.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Stretch_Fill.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/Ellipse.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/Ellipse.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrushAlignmentXY2.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrushAlignmentXY2.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_StreamSource.xaml.cs
Labels: area/automation

#16689 chore: Drop PureAttribute
  src/Uno.Foundation.Runtime.WebAssembly/Interop/Runtime.wasm.cs
  src/Uno.Foundation/Uno.Core.Extensions/Uno.Core.Extensions.Compatibility/Collections/ImmutableList.cs
  src/Uno.UI/Extensions/CGSizeExtensions.iOSmacOS.cs
  src/Uno.UI/Extensions/DoubleExtensions.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UI/UI/Input/ManipulationDelta.cs
  src/Uno.UI/UI/Input/ManipulationVelocities.cs
  src/Uno.UI/UI/LayoutHelper.Android.cs
  src/Uno.UI/UI/LayoutHelper.cs
  src/Uno.UI/UI/LayoutHelper.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Image/ImageSizeHelper.cs
  src/Uno.UI/UI/Xaml/Controls/Layouter/Layouter.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/UI/Xaml/RoutedEvent.cs
  src/Uno.UI/UI/Xaml/RoutedEventFlag.cs
  src/Uno.UWP/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UWP/UI/Input/ManipulationDelta.cs
  src/Uno.UWP/UI/Input/ManipulationVelocities.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎

#16699 chore: Cleanup unused project
  .github/labeler.yml
  src/Uno.Foundation/AssemblyInfo.cs
  src/Uno.UI-vs4mac.sln
  src/Uno.UI.Tests.Performance/Main.cs
  src/Uno.UI.Tests.Performance/Uno.UI.Tests.Performance.csproj
  src/Uno.UI.Tests/Properties/AssemblyInfo.cs
  src/Uno.UI.sln
  src/Uno.UI/AssemblyInfo.cs
Labels: area/automation

#16702 feat(skia): Support Shape.StrokeDashArray and CompositionStrokeDashArray
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/PathTestsControl/Path_With_DashStrokeArray.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI.Composition/Composition/CompositionStrokeDashArray.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/CompositionStrokeDashArray.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.skia.cs
Labels: area/skia ✏️, area/automation

#16114 fix: don't call binding converter with null values unless only the final segment of the path is null
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.ContentControl.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ImageTests/UnoSamples_Tests.Image.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/BitmapImage_vs_SvgImageSource.xaml
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.KeyboardHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AutoSuggestBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/BindingExpression_With_Converter.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/BindingExpression_With_Converter.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/Given_BindingExpression.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/DataBinding/BindingPath.BindingItem.cs
  src/Uno.UI/DataBinding/BindingPath.cs
  src/Uno.UI/DataBinding/IValueChangedListener.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextChangedEventArgs.cs
  src/Uno.UI/UI/Xaml/Data/Binding.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
Labels: area/automation

#16679 fix: Validate disable implicit using
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
Labels: area/build

#16594 test: Update MSTest and use meta package (which includes analyzers)
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/TestCase.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestMethodInfo.cs
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UnoIslands.Skia.Wpf/UnoIslands.Skia.Wpf.csproj
  src/SamplesApp/UnoIslands.Skia/UnoIslands.Skia.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/Uno.Analyzers.Tests/Uno.Analyzers.Tests.csproj
  src/Uno.UI.RuntimeTests/Directory.Build.targets
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/appbar/AppBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/calendardatepicker/CalendarDatePickerIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/calendarview/CalendarViewAutomationPeerIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/calendarview/CalendarViewIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Uno.UI.RuntimeTests.HRApp.Skia.Gtk.csproj
  src/Uno.UI.RuntimeTests/Tests/HotReload/Given_HotReloadWorkspace.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_NumberBox.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Given_UnitTest.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Foundation/Collections/Given_PropertySet.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Foundation/Collections/Given_StringMap.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Foundation/Collections/Given_ValueSet.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_MemoryManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_ExpressionAnimation.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_InteractionTracker.TrackerAssertHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_InteractionTracker.TrackerLogsConstructingHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_InteractionTracker.TrackerOwner.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_InteractionTracker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Input_Preview_Injection/Given_InputInjector.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Window.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Automation/Given_AutomationPeer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/DatePickerIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FlipView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkTemplatePool.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ProgressRing.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/HtmlElementAttributeTests/Given_HtmlElementAttribute.wasm.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_MatrixTranform.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_TemplateBindingAfterAnimation.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/When_Rectangle.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/When_Shape.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Wasm.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Windows.csproj
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.netcoremobile.csproj
  src/Uno.UI.Tests/BinderTests/Given_Binder.TwoWay.cs
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
  src/Uno.UI.Tests/Windows_Globalization/Given_NumeralSystemTranslator.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
  src/Uno.UI.Wasm.Tests/Uno.UI.Wasm.Tests.csproj
  src/Uno.UWP/Globalization/ApplicationLanguages.cs
Labels: platform/wasm 🌐, area/code-generation, area/automation

#16556 perf: Update X11 bindings to LibraryImport
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/X11Helper.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/x11bindings_Glx.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/x11bindings_XLib.cs
Labels: do-not-merge/work-in-progress

#16729 docs: don't reference wasm full aot
  doc/articles/migrating-before-you-start.md
Labels: kind/documentation

#16728 chore: Bump to latest resizetizer
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16631 fix(droid): workaround for ItemsControl's ObjectDisposedException
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_XBind_TargetDisposed.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Controls/When_XBind_TargetDisposed.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xBind.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
Labels: do-not-merge/work-in-progress

#16651 SDK ignores GeneratePackageOnBuild
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.1/uno51blank/Directory.Build.targets
  src/SolutionTemplate/5.1/uno51recommended/Directory.Build.targets
  src/SolutionTemplate/5.2/uno52AppWithLib/Directory.Build.targets
  src/SolutionTemplate/5.2/uno52Lib/uno52Lib.csproj
  src/SolutionTemplate/5.2/uno52NuGetLib/Class1.cs
  src/SolutionTemplate/5.2/uno52NuGetLib/global.json
  src/SolutionTemplate/5.2/uno52NuGetLib/uno52NuGetLib.csproj
  src/SolutionTemplate/5.2/uno52SingleProjectLib/uno52SingleProjectLib.csproj
  src/SolutionTemplate/5.2/uno52blank/Directory.Build.targets
  src/Uno.Sdk/Models/PackageReference.cs
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
Labels: area/solution-templates, area/build

#16727 fix: Adjust json files handling
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/Assets/json_file_asset.json
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/test_root_asset.json
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/test_root_asset_not_included.json
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/uno52AppWithLib.csproj
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
Labels: area/solution-templates

#16731 fix(tooltip): prevent multiple nested tooltips from displaying all at once
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToolTip/ToolTip_Nested.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToolTip/ToolTip_Nested.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTip.cs
  src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTipService.cs
Labels: area/automation

#16734 fix: Fix illinkerpath
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#16562 feat: introduce a new BorderVisual to handle rendering the border and the background
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/BorderVisualClipping.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_Clipping2.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/BorderTests/Border_CornerRadius_Clipping2.xaml.cs
  src/Uno.CrossTargetting.targets
  src/Uno.UI.Composition/Composition/BorderVisual.skia.cs
  src/Uno.UI.Composition/Composition/Compositor.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/SkiaGeometrySource2D.skia.cs
  src/Uno.UI.Composition/Composition/Uno/UnoSKRunBufferInternal.skia.cs
  src/Uno.UI.Composition/Composition/Uno/UnoSkiaApi.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Composition/Uno.UI.Composition.Skia.csproj
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkTextBoxView.cs
  src/Uno.UI/Helpers/UnoSkiaApi.skia.cs
  src/Uno.UI/Helpers/WeakEvents/WeakEventManager.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ScrollPresenter/ScrollPresenter.Uno.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ScrollPresenter/ScrollPresenter.cs
  src/Uno.UI/UI/Xaml/BorderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.uno.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.IBorderInfoProvider.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.cs
  src/Uno.UI/UI/Xaml/CornerRadius.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/FullCornerRadius.cs
  src/Uno.UI/UI/Xaml/Input/Internal/XYFocus.AlgorithmHelper.cs
  src/Uno.UI/UI/Xaml/Input/Internal/XYFocus.cs
  src/Uno.UI/UI/Xaml/Input/Internal/XYFocusAlgorithms.cs
  src/Uno.UI/UI/Xaml/NonUniformCornerRadius.cs
  src/Uno.UI/UI/Xaml/NonUniformCornerRadius.skia.cs
  src/Uno.UI/UI/Xaml/Thickness.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UWP/Helpers/MathHelpers.cs
Labels: area/skia ✏️, area/automation

#16759 chore: Update Uno.Fonts.Fluent to latest stable
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
Labels: area/build

#16763 docs: Update localization.md
  doc/articles/guides/localization.md
Labels: kind/documentation

#16760 fix: Add `ApplicationId` to allow for VS Automatic Provisioning of Samples app
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
Labels: area/automation

#16756 fix(wpf): move wpf themes to code-behind
  src/Uno.UI.Runtime.Skia.Wpf/Themes/Generic.xaml
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindowHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfTextViewTextBox.cs
  src/Uno.UI.XamlHost.Skia.Wpf/Themes/Generic.xaml
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHost.cs
Labels: area/skia ✏️

#16089 feat: implement the X Drag and Drop (XDnD) extension to accept dragging from other windows
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/ClipboardTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDropTestHelper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfDragDropExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11ClipboardExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11DragDropExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.x11events.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/X11Helper.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.macOS.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragDropManager.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragOperation.cs
  src/Uno.UI/UI/Xaml/DragDrop/DragView.cs
  src/Uno.UI/UI/Xaml/DragDrop/DropUITarget.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.DragDrop.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/Window/Window.cs
  src/Uno.UI/UI/Xaml/XamlRoot.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DragDrop/Core/CoreDragDropManager.cs
  src/Uno.UWP/UI/ViewManagement/ApplicationView.cs
Labels: platform/wasm 🌐, platform/macos 🍏, area/skia ✏️, area/automation

#16750 fix(framebuffer): Don't read console input if redirected
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
Labels: area/skia ✏️

#16752 fix: Publish native macos assets for the samplesapp
  build/ci/.azure-devops-package-native-assets.yml
  build/ci/.azure-devops-package-skia-native-assets.yml
  build/ci/.azure-devops-package-skia.yml
  build/ci/.azure-devops-skia-tests.yml
  src/SamplesApp/SamplesApp.Skia.Generic/SamplesApp.Skia.Generic.csproj
Labels: area/automation

#16794 docs: update reference to Uno CrossTargetting file
  doc/articles/uno-development/building-uno-ui.md
Labels: kind/documentation

#16784 chore: Fix typo in Uno.WinUI nuspec
  build/nuget/Uno.WinUI.nuspec
Labels: area/build

#16796 Textbox paste history
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#16797 fix(textbox): textbox vertical scrolling not following the caret
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#16787 ci: Build packages with .NET 9 SDK
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/templates/dotnet9-mobile-install-windows.yml
Labels: area/build

#16819 chore: Update to lastest DSP
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16818 Bump uno.resizetizer
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16817 fix: Fix Image arrange on Skia to better match WinUI
  src/SamplesApp/UITests.Shared/Assets/my500x200.jpg
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Image/ImageSizeHelper.cs
Labels: area/skia ✏️, area/automation

#16810 refactor: Cleanup PlatformHelper to remove no longer relevant checks
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/PlatformHelper.cs
Labels: area/code-generation

#16779 build: Cleanup uno.winui.common.targets
  build/nuget/uno.winui.common.targets
Labels: area/build

#16765 docs: update MVUX counter
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/counterapp/includes/include-mvux.md
Labels: kind/documentation

#16827 Make UnoFeatures ignore casing
  doc/articles/features/using-the-uno-sdk.md
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Extensions.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Features.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Uno.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Wasm.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.WinAppSdk.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
Labels: kind/documentation

#16479 refactor: Remove unnecessary `OnChildChangedPartial`
  src/Uno.UI.Toolkit/ElevatedView.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Layout.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/StretchDirection.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/ViewBox/Viewbox.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.ThemeShadow.iOSmacOS.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#16764 fix(sp): Rewrite `TargetFrameworks` using exact TF matching
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
Labels: area/build

#16835 fix: adjust local ios solution build
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
Labels: area/automation

#16811 chore: Cleanup Uno.WinUI dependencies for net8.0/net9.0
  build/nuget/Uno.WinUI.nuspec
Labels: area/build

#16854 perf: Enable UPRI trimming everywhere ILLink runs
  doc/articles/features/upri-trimming.md
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation, kind/documentation

#16480 feat: WinUI `SelectorBar` and `SelectorBarItem`
  src/SamplesApp/UITests.Shared/ItemExclusions.props
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SelectorBarTests/SelectorBarPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SelectorBarTests/SelectorBarPage.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SelectorBarTests/SelectorBarSamplePage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SelectorBarTests/SelectorBarSamplePage.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SelectorBarTests/SelectorBarSummaryPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/SelectorBarTests/SelectorBarSummaryPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.RuntimeTests/Directory.Build.targets
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SelectorBar/SelectorBarTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI/Directory.Build.targets
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/SelectorBarItemAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/SelectorBar.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/SelectorBarItem.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/SelectorBarSelectionChangedEventArgs.cs
  src/Uno.UI/Helpers/WinUI/CppWinRTHelpers.cs
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.ResourceKeys.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ItemsSourceView.Impl.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBar.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBar.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBar.h.mux.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBar.mux.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBar.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBarItem.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBarItem.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBarItem.h.mux.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBarItem.mux.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBarItemAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBarSelectionChangedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBarTestHooks.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SelectorBar/SelectorBar_themeresources.xaml
Labels: area/automation

#16852 docs: Update documentation with the latest updates
  doc/import_external_docs.ps1
Labels: kind/documentation

#16847 docs: Adjust microsoft feed directions for linux
  doc/articles/includes/use-uno-check-inline-linux-noheader.md
Labels: kind/documentation

#16874 docs: Update the figma documentation with the latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#16517 fix(wpf): Fix IsLeftButtonPressed status on WPF platform
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Pointers/PointerEventArgsTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Pointers/PointerEventArgsTests.xaml.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
Labels: area/skia ✏️, area/automation

#16885 docs: Adjust the ordering of the sections
  doc/articles/common-issues-all-ides.md
  doc/articles/common-issues-vs2022.md
  doc/articles/create-an-app-vs2022.md
Labels: kind/documentation

#16678 docs: Add windows publishing steps
  build/cSpell.json
  doc/articles/toc.yml
  doc/articles/uno-publishing-overview.md
  doc/articles/uno-publishing-windows-packaged-signed.md
  doc/articles/uno-publishing-windows-packaged-unsigned.md
  doc/articles/uno-publishing-windows.md
Labels: area/build, kind/documentation

#16917 fix(textbox): add ctrl+ins and shift+ins to copy/paste
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#16916 Textbox caret column retention
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#16915 feat(textbox): variable Tab widths i.e. Tab stops
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/Segment.skia.cs
Labels: area/skia ✏️

#16921 chore: bump dependencies
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16939 build: Fix Android BindingHelper failing to build in the context of sync generator
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/BooleanKeyFrameAnimation.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/CompositionStrokeDashArray.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Compositor.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Vector2KeyFrameAnimation.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Vector3KeyFrameAnimation.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Vector4KeyFrameAnimation.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Content/ContentIsland.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Content/ContentIslandAutomationProviderRequestedEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Content/ContentIslandStateChangedEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Content/ContentSite.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Content/ContentSiteView.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusChangedEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationReason.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationRequest.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationRequestEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationResult.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/InputFocusController.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/ItemContainerAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/ItemsControlAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/SelectorAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/SelectorBarItemAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/TeachingTipAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ListViewBase.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/SelectorBar.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/SelectorBarItem.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/SelectorBarSelectionChangedEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTip.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTipCloseReason.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTipClosedEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTipClosingEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTipHeroContentPlacementMode.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTipPlacementMode.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTipTailVisibility.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TeachingTipTemplateSettings.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Media/CompositionTarget.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml/FrameworkElement.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml/Window.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Windows.ApplicationModel.Resources/IResourceContext.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Windows.ApplicationModel.Resources/IResourceManager.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Windows.ApplicationModel.Resources/MrtCoreContract.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Windows.ApplicationModel.Resources/ResourceCandidateKind.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.Windows.ApplicationModel.Resources/ResourceLoader.cs
  src/Uno.UWP/Generated/3.0.0.0/Microsoft.UI.Windowing/AppWindow.cs
  src/Uno.UWP/Generated/3.0.0.0/Microsoft.UI.Windowing/AppWindowTitleBar.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Activation/IProtocolActivatedEventArgs.cs
Labels: platform/android 🤖

#16857 docs: Update Android profiling documentation
  doc/articles/guides/profiling-applications.md
Labels: kind/documentation

#16911 fix(textbox): textbox selection with ligatures
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
Labels: area/skia ✏️

#16901 docs: Update performance tips for Android
  doc/articles/Uno-UI-Performance.md
Labels: kind/documentation

#16848 chore: Move Uno.SDK to private package
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.1/uno51blank/global.json
  src/SolutionTemplate/5.1/uno51blank/uno51blank.Mobile/uno51blank.Mobile.csproj
  src/SolutionTemplate/5.1/uno51blank/uno51blank.Skia.Gtk/uno51blank.Skia.Gtk.csproj
  src/SolutionTemplate/5.1/uno51blank/uno51blank.Skia.Linux.FrameBuffer/uno51blank.Skia.Linux.FrameBuffer.csproj
  src/SolutionTemplate/5.1/uno51blank/uno51blank.Skia.WPF/uno51blank.Skia.WPF.csproj
  src/SolutionTemplate/5.1/uno51blank/uno51blank.Wasm/uno51blank.Wasm.csproj
  src/SolutionTemplate/5.1/uno51blank/uno51blank.Windows/uno51blank.Windows.csproj
  src/SolutionTemplate/5.1/uno51blank/uno51blank/uno51blank.csproj
  src/SolutionTemplate/5.1/uno51recommended/global.json
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended.Mobile/uno51recommended.Mobile.csproj
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended.Skia.Gtk/uno51recommended.Skia.Gtk.csproj
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended.Skia.Linux.FrameBuffer/uno51recommended.Skia.Linux.FrameBuffer.csproj
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended.Skia.WPF/uno51recommended.Skia.WPF.csproj
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended.Wasm/uno51recommended.Wasm.csproj
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended.Windows/uno51recommended.Windows.csproj
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended/uno51recommended.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/global.json
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/uno52AppWithLib.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52emptylib/uno52emptylib.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52lib/uno52lib.csproj
  src/SolutionTemplate/5.2/uno52Lib/global.json
  src/SolutionTemplate/5.2/uno52Lib/uno52Lib.csproj
  src/SolutionTemplate/5.2/uno52NuGetLib/global.json
  src/SolutionTemplate/5.2/uno52NuGetLib/uno52NuGetLib.csproj
  src/SolutionTemplate/5.2/uno52SingleProjectLib/global.json
  src/SolutionTemplate/5.2/uno52SingleProjectLib/uno52SingleProjectLib.csproj
  src/SolutionTemplate/5.2/uno52blank/global.json
  src/SolutionTemplate/5.2/uno52blank/uno52blank/uno52blank.csproj
  src/Uno.Sdk/Uno.Sdk.csproj
Labels: area/solution-templates, area/build, area/sdk

#16903 More publishing docs
  build/cSpell.json
  doc/articles/toc.yml
  doc/articles/uno-publishing-android.md
  doc/articles/uno-publishing-desktop.md
  doc/articles/uno-publishing-ios.md
  doc/articles/uno-publishing-maccatalyst.md
  doc/articles/uno-publishing-overview.md
  doc/articles/uno-publishing-webassembly.md
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#16958 chore: Backport #16903
  build/cSpell.json
  doc/articles/toc.yml
  doc/articles/uno-publishing-android.md
  doc/articles/uno-publishing-desktop.md
  doc/articles/uno-publishing-ios.md
  doc/articles/uno-publishing-maccatalyst.md
  doc/articles/uno-publishing-overview.md
  doc/articles/uno-publishing-webassembly.md
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#16882 fix: macOS Tap to click on touchpad
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.RadioButton.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/RadioButtonTests/UnoSamples_RadioButton_Tests.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserCategory.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/ToggleButton_TapToClick.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/ToggleButton_TapToClick.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/RadioButtonTests/RadioButton_IsEnabled_Automated.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/RadioButtonTests/RadioButton_IsEnabled_Automated.xaml.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
Labels: platform/wasm 🌐, area/automation

#16950 docs: Update documentation with latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#16964 docs: Fix miscellaneous issues for the documentation
  doc/articles/create-an-app-vs2022.md
  doc/articles/uno-publishing-desktop.md
  doc/articles/uno-publishing-webassembly.md
Labels: kind/documentation

#16965 docs: Adjust adb directives for android publish
  doc/articles/uno-publishing-android.md
Labels: kind/documentation

#16957 ci: build docfx intermediary assets
  build/ci/.azure-devops-docs.yml
  build/ci/templates/docfx-intermediary-assets.yml
Labels: area/build
