Repository unoplatform/uno, pull requests merged in 2024-10, with the labels that each got.

#18344 ci: Fix iOS tests build
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
Labels: area/automation

#18352 docs: Misc updates
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/toc.yml
  doc/articles/uno-development/debugging-uno-ui.md
  doc/articles/uno-development/troubleshooting-memory-issues.md
Labels: area/build, kind/documentation

#18366 test: remove sampleapp more button's transition
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
Labels: area/automation

#18369 fix: Do not destroy the singleton Window for single-window targets
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/SingleWindowClose.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/SingleWindowClose.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
Labels: area/automation

#18381 Backport #18193 and #18377
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/UI/Xaml/ILayouterElement.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/android 🤖, area/build

#18377 chore: Adjust Android's layouting workaround
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/android 🤖

#18373 docs: Add Troubleshooting Debugging
  doc/articles/features/debugging-troubleshooting.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#18387 Misc test updates
  build/ci/.azure-devops-android-tests.yml
  build/test-scripts/android-uitest-run.sh
  build/test-scripts/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.Shared/App.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_ShowAt_Window_Content.xaml.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/calendardatepicker/CalendarDatePickerIntegrationTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_ImageBrush.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
Labels: platform/android 🤖, area/build, area/automation

#18351 fix: Use generated serializers for net9 wasm
  src/Uno.UI/UI/Xaml/DragDrop/DragDropExtension.wasm.cs
  src/Uno.UWP/ApplicationModel/Contacts/ContactPicker.wasm.cs
  src/Uno.UWP/Helpers/Serialization/JsonHelper.wasm.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.wasm.cs
  src/Uno.UWP/Storage/Pickers/FileSavePicker.wasm.cs
  src/Uno.UWP/Storage/Pickers/FolderPicker.wasm.cs
  src/Uno.UWP/Storage/Pickers/StorageSerializationContext.wasm.cs
  src/Uno.UWP/Storage/StorageFolder.native.wasm.cs
Labels: platform/wasm 🌐

#18393 build: Adjust SamplesApp.UITests
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
Labels: area/automation

#18354 fix: Adjust the target SDK version of Samples app on Android
  src/SamplesApp/SamplesApp.netcoremobile/Android/AndroidManifest.xml
Labels: area/automation

#18397 chore: Use Uno.WinUI.Runtime.* packages in Uno.Sdk
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Legacy.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Wasm.targets
Labels: area/sdk

#18403 docs: Remove non-existing uno feature
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#18385 Glcanvaselement skia macos
  doc/articles/controls/GLCanvasElement.md
  src/AddIns/Uno.WinUI.Graphics3DGL/.gitignore
  src/AddIns/Uno.WinUI.Graphics3DGL/Assets/error.png
  src/AddIns/Uno.WinUI.Graphics3DGL/GLCanvasElement.cs
  src/AddIns/Uno.WinUI.Graphics3DGL/Uno.WinUI.Graphics3DGL.csproj
  src/SamplesApp/SamplesApp.Skia.Generic/SamplesApp.Skia.Generic.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/RotatingCubeGlCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SimpleTriangleGlCanvasElement.cs
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
  src/Uno.Foundation/AssemblyInfo.cs
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI.Runtime.Skia.MacOS/MacOSNativeOpenGLWrapper.Egl.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSNativeOpenGLWrapper.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacSkiaHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/Uno.UI.Runtime.Skia.MacOS.csproj
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/.gitignore
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/getSkiaSharpDylib.sh
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeOpenGLWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.X11/Uno.UI.Runtime.Skia.X11.csproj
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11NativeOpenGLWrapper.cs
  src/Uno.UI/Graphics/INativeOpenGLWrapper.cs
Labels: area/skia ✏️, area/automation, kind/documentation

#18409 chore: glsl comments use //, not #
  doc/articles/controls/GLCanvasElement.md
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/RotatingCubeGlCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SimpleTriangleGlCanvasElement.cs
Labels: area/automation, kind/documentation

#18407 fix(textbox): BeforeTextChanging crashing ing in specific cases
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#18421 chore(deps): Update STJ to 8.0.5 due to 8.0.4 vulnerability
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/AddIns/Uno.WinUI.Graphics3DGL/Uno.WinUI.Graphics3DGL.csproj
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/Uno.Sdk/Uno.Sdk.csproj
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
Labels: area/skia ✏️, area/build, area/automation, area/sdk

#18411 chore: Bump to net9 rc2
  .github/workflows/uwp-autoconvert.yml
  .vsts-ci.yml
  Directory.Build.props
  build/ci/.azure-devops-ios-tests.yml
  build/ci/net9/global.json
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/nuget/Uno.WinUI.DevServer.nuspec
  build/nuget/Uno.WinUI.Lottie.nuspec
  build/nuget/Uno.WinUI.MSAL.nuspec
  build/nuget/Uno.WinUI.RemoteControl.nuspec
  build/nuget/Uno.WinUI.Svg.nuspec
  build/nuget/Uno.WinUI.XamlHost.nuspec
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/SolutionTemplate/5.2/uno52NuGetLib/uno52NuGetLib.csproj
  src/Uno.Sdk/packages.json
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.RemoteControl.Host/Config/global-net9.0.json
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Windows.csproj
  src/Uno.UI.Toolkit/Diagnostics/DiagnosticsOverlay.cs
  src/targetframework-override.props
Labels: area/solution-templates, area/build, area/automation, area/sdk

#18412 Revert #18381 for layout android issues
  src/Directory.Build.props
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/ILayouterElement.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/android 🤖

#18429 Additional net9 RC2 updates
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Common.WinAppSdk.targets
Labels: area/sdk

#18422 build: Fix Graphics3DGL packaging
  build/ci/.azure-devops-package-netcoremobile.yml
  build/filters/Uno.UI-packages-skia.slnf
  src/AddIns/Uno.WinUI.Graphics3DGL/Uno.WinUI.Graphics3DGL.csproj
Labels: area/build

#18424 fix(GLCanvasElement): GLCanvasElement not working on Uno Islands + automatic framebuffer resizing
  build/test-scripts/run-net7-template-linux.ps1
  doc/articles/controls/GLCanvasElement.md
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/toc.yml
  src/AddIns/Uno.WinUI.Graphics3DGL/.gitignore
  src/AddIns/Uno.WinUI.Graphics3DGL/GLCanvasElement.FrameBufferDetails.cs
  src/AddIns/Uno.WinUI.Graphics3DGL/GLCanvasElement.cs
  src/AddIns/Uno.WinUI.Graphics3DGL/Uno.WinUI.Graphics3DGL.csproj
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/RotatingCubeGlCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SimpleTriangleGlCanvasElement.cs
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.WinAppSdk.targets
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeOpenGLWrapper.cs
Labels: area/skia ✏️, area/build, area/automation, kind/documentation, area/sdk

#18441 ci: Use variables to set gitversion from a single task run
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/.azure-devops-pipeline-validations.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-screenshot-compare.yml
  build/ci/.azure-devops-skia-tests.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/templates/gitversion-run.yml
  build/ci/templates/gitversion.yml
Labels: area/build

#18436 Removed the waiting for TypeMappings to be resumed during HR
  build/PackageDiffIgnore.xml
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/HotReloadStatusView.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_Frame.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Tests/Given_TextBlock.cs
  src/Uno.UI/Helpers/TypeMappings.cs
Labels: area/build

#18405 docs: Update desktop publishing article
  build/cSpell.json
  doc/articles/uno-publishing-desktop.md
Labels: area/build, kind/documentation

#18443 chore: ITemplatedParentProvider removal
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/Uno.UI.Maps/MapPresenter.cs
  src/Uno.UI.RuntimeTests/Tests/TemplatedParent/Setup/BehaviorSetup.xaml
  src/Uno.UI.RuntimeTests/Tests/TemplatedParent/Setup/BehaviorSetup.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/TemplatedParent/TemplatedParentTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_VisualStateManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Pivot.cs
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/Controls/NativeFramePresenter.iOS.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/DataBinding/ITemplatedParentProvider.cs
  src/Uno.UI/NativeFramePresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.cs
  src/Uno.UI/UI/Xaml/TemplatedParentScope.cs
  src/Uno.UI/UI/Xaml/VisualState.cs
  src/Uno.UI/UI/Xaml/VisualTransition.cs
Labels: platform/android 🤖, platform/ios 🍎, area/code-generation, ready-to-merge

#15799 feat: implement the X Input extension to support touch input, smooth scrolling, etc.
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.CoreProtocol.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.Mouse.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.XInput.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.XInput.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.x11events.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/X11Helper.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/x11Bindings_XInput.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/x11bindings_XLib.cs
  src/Uno.UWP/UI/Input/PointerPointProperties.cs
Labels: area/skia ✏️

#18463 fix: Reset last input type before test execution
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
Labels: area/automation

#18478 docs: Update extensions docs with latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#18450 feat: Enhance Linux, Windows and macOS packaging support
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/uno53net9blank.csproj
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
Labels: area/solution-templates, area/build, area/sdk

#18475 fix: Dismiss the photo picker view controller earlier
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
Labels: platform/ios 🍎

#18359 fix: Adjust AssetsPathBuilder
  src/Uno.UWP/Storage/Helpers/AssetsPathBuilder.wasm.cs
Labels: platform/wasm 🌐

#18408 fix(WriteableBitmap): Invalidation should cause a redrawing
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/WriteableBitmap_MultiInvalidate.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_WriteableBitmap.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/automation

#18503 docs: simple typo fix
  doc/articles/controls/CommandBar.md
  doc/articles/features/native-frame-nav.md
Labels: kind/documentation

#18505 chore: remove SkiaSharp.HarfBuzz and SkiaSharp.Views dependencies when unnecessary
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.Skia.MacOS/Uno.UI.Runtime.Skia.MacOS.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.X11/Uno.UI.Runtime.Skia.X11.csproj
Labels: area/skia ✏️

#18511 docs: minor adjustments to GLCanvasElement and SKCanvasElement docs
  doc/articles/controls/GLCanvasElement.md
  doc/articles/controls/SKCanvasElement.md
  src/AddIns/Uno.WinUI.Graphics2DSK/SKCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SKCanvasElement_Simple.xaml
Labels: area/automation, kind/documentation

#18508 docs: Misc publishing updates
  doc/articles/toc.yml
  doc/articles/uno-publishing-android.md
  doc/articles/uno-publishing-desktop.md
  doc/articles/uno-publishing-ios.md
  doc/articles/uno-publishing-maccatalyst.md
  doc/articles/uno-publishing-overview.md
  doc/articles/uno-publishing-webassembly.md
  doc/articles/uno-publishing-windows-packaged-signed.md
  doc/articles/uno-publishing-windows-packaged-unsigned.md
  doc/articles/uno-publishing-windows-unpackaged.md
  doc/articles/uno-publishing-windows.md
Labels: area/build, kind/documentation

#18513 chore: Add support for uno settings
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
Labels: area/sdk

#18517 fix: Adjust tf reordering for VS 17.12 or later
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
Labels: kind/documentation

#18476 perf: reduce SKPaint and SKPath allocations
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_Clipping.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Shapes/Path_Clipping.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionMaskBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/SkiaHelper.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: area/skia ✏️, area/automation

#18523 chore: fix skia only solution
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
Labels: area/build

#18536 docs: Update support matrix for file and folder pickers
  doc/articles/features/windows-storage-pickers.md
Labels: kind/documentation

#18530 fix: Align trimming with net9 options
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerHintGeneratorTask.cs
Labels: area/code-generation

#18504 Composition misc perf
  src/Uno.UI.Composition/Composition/BorderVisual.skia.cs
  src/Uno.UI.Composition/Composition/Uno/DrawingFilter.skia.cs
  src/Uno.UI.Composition/Composition/Uno/UnoSkiaApi.skia.cs
Labels: area/skia ✏️

#18547 test: add manual tests descriptions
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CommandBar/CommandBar_Native_With_AppBarButton_Binding.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentControlTestsControl/ContentControl_ComboBoxSetNull.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/FlipView/FlipView_Background.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_DataContext_Reference.xaml.cs
Labels: area/automation

#18554 Grouped `CollectionView` enumeration
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/Given_CollectionView.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ItemsControlTests/Given_ItemsControl.cs
  src/Uno.UI/UI/Xaml/Data/CollectionView.cs
  src/Uno.UI/UI/Xaml/Data/CollectionViewSource.cs
Labels: area/automation

#18560 docs: fix path for single proj
  doc/articles/features/svg.md
Labels: kind/documentation

#18244 feat: In-app rating on Android (Google Play)
  Directory.Build.props
  build/Uno.UI.Build.csproj
  build/filters/Uno.UI-packages-netcoremobile.slnf
  src/AddIns/Uno.UI.GooglePlay/Properties/AssemblyInfo.cs
  src/AddIns/Uno.UI.GooglePlay/StoreContextExtension.cs
  src/AddIns/Uno.UI.GooglePlay/Uno.UI.GooglePlay.netcoremobile.csproj
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Services_Store/StoreContextTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Services_Store/StoreContextTests.xaml.cs
  src/Uno.Foundation.Logging/AssemblyInfo.cs
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/packages.json
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.BindingHelper.Android/Uno.UI.BindingHelper.Android.netcoremobile.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.sln
  src/Uno.UWP/AssemblyInfo.cs
  src/Uno.UWP/FeatureConfiguration/WinRTFeatureConfiguration.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Services.Store/StoreContext.cs
  src/Uno.UWP/Services/Store/Internal/IStoreContextExtension.cs
  src/Uno.UWP/Services/Store/StoreContext.Android.cs
  src/Uno.UWP/Services/Store/StoreContext.cs
Labels: do-not-merge/work-in-progress, platform/android 🤖, area/build, area/automation, area/sdk

#18572 Misc doc updates
  doc/articles/migrating-from-net8-to-net9.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/toc.yml
  doc/articles/uno-publishing-desktop.md
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#18581 chore: Update SkiaSharp manifest default value
  src/Uno.Sdk/packages.json
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
Labels: area/skia ✏️, area/sdk

#18553 fix: Avoid type conflicts in `SamplesApp.Windows`
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
Labels: area/automation

#18594 fix(wasm): Adjust for missing type info for file pickers
  src/Uno.UWP/Storage/Pickers/StorageSerializationContext.wasm.cs
Labels: platform/wasm 🌐

#18588 Misc docs updates
  README.md
  doc/articles/uno-build-error-codes.md
  doc/articles/uno-publishing-desktop.md
Labels: kind/documentation

#18600 docs: update working with assets
  doc/articles/features/working-with-assets.md
Labels: kind/documentation

#18602 docs: Adjust vs getting started
  doc/articles/create-an-app-vs2022.md
  doc/articles/get-started-vs-2022.md
  doc/articles/getting-started/wizard/assets/vs2022-ready-statusbar.png
  doc/import_external_docs.ps1
Labels: kind/documentation

#18410 docs: Add Sign-in with Apple how-to
  doc/articles/interop/apple-login.md
  doc/articles/interop/assets/signin-with-apple.png
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#18612 chore: Bump WCT versions
  doc/articles/uno-community-toolkit-v8.md
Labels: kind/documentation

#18624 chore: Consistent indentation in packages.json
  src/Uno.Sdk/packages.json
Labels: area/sdk

#18633 docs: `WebView` on WebAssembly
  doc/articles/controls/WebView.md
Labels: kind/documentation

#18529 chore: Update WebView[2]_WithHeaders tests to use httpbin.org
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_WithHeaders.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_WithHeaders.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_WithHeaders.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_WithHeaders.xaml.cs
Labels: area/automation

#18639 ci: Adjust publis publish for packages
  build/ci/templates/nuget-publish-public.yml
Labels: area/build

#18548 fix(uno.sdk): ignore xaml files in Platforms folders
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/ControlWithXamlEverywhereExceptDesktop.xaml.cs
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/Platforms/Android/ControlWithXamlEverywhereExceptDesktop.xaml
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/Platforms/MacCatalyst/ControlWithXamlEverywhereExceptDesktop.xaml
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/Platforms/WebAssembly/ControlWithXamlEverywhereExceptDesktop.xaml
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/Platforms/iOS/ControlWithXamlEverywhereExceptDesktop.xaml
  src/Uno.Sdk/targets/Uno.Build.targets
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
  src/Uno.Sdk/targets/Uno.SingleProject.Desktop.targets
Labels: area/solution-templates
