Repository unoplatform/uno, pull requests merged in 2024-03, with the labels that each got.

#15700 fix: Correct `OriginalSourceLocation` for templates
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/NameScope.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Subclass.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#15694 fix: Fix Julian CalendarView not working
  src/Uno.Foundation/PropertyValue.Internal.cs
  src/Uno.Foundation/PropertyValue.cs
  src/Uno.Foundation/WindowsFoundationDateTime.cs
  src/Uno.UI.RuntimeTests/Helpers/DateTimeOffsetExtensions.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Globalization/Given_Calendar.cs
  src/Uno.UI.Tests/Windows_Globalization/When_Calendar.cs
  src/Uno.UI/DirectUI/DateComparer.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarDatePicker.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarLayoutStrategy_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItem.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItem.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItemAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewDayItemChangingEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorDecadeViewHost.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorHost.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorHost.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorHost_DataVirtualization.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorMonthViewHost.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorMonthViewHost_ContainerPhase.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewGeneratorYearViewHost.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewHeaderAutomationPeer.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewItemAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView_Partial_Interaction.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView_Partial_Selection.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView_Partial_TimeZone.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/Primitives/CalendarPanel.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/Primitives/CalendarPanel_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/Primitives/CalendarViewTemplateSettings.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/calendardatepicker_partial.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/calendarviewitem.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyoutPresenter_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyoutPresenter_Partial.h.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerFlyout_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/IDatePickerFlyoutPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyoutPresenter.cs
  src/Uno.UWP/Globalization/Calendar.cs
Labels: area/automation

#15701 chore: Rename `UnoDisableNet7Mobile` to `UnoDisableNetPreviousMobile`
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/ci/templates/dotnet7-mobile-install-mac.yml
  src/uno.mobile-cross-targeting-disable.props
Labels: area/build

#15620 fix: Fix clipping changes not applying
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Transform_Update.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Transform_Update.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Update.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Update.xaml.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/Geometry.cs
  src/Uno.UI/UI/Xaml/Media/RectangleGeometry.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/automation

#15711 fix: Avoid XAOBS001 in BindableMetadataGenerator
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
Labels: area/code-generation

#15717 docs: Update README.md with the new discord server link
  README.md
Labels: kind/documentation

#15727 chore: ExpressionAnimation improvements
  src/Uno.UI.Composition/Composition/CompositionColorBrush.cs
  src/Uno.UI.Composition/Composition/CompositionObject.SubPropertyHelpers.cs
  src/Uno.UI.Composition/Composition/CompositionObject.cs
  src/Uno.UI.Composition/Composition/CompositionPropertySet.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/AnimationBinaryExpressionSyntax.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/AnimationMemberAccessExpressionSyntax.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/ExpressionAnimationLexer.cs
  src/Uno.UI.Composition/Composition/InsetClip.cs
  src/Uno.UI.Composition/Composition/InteractionTracker/InteractionTracker.cs
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI.Tests/CompositionTests/ExpressionAnimationParserTests.cs
Labels: area/automation

#15597 fix: Restore ui test buckets
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/.azure-devops-stages.yml
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/test-scripts/android-uitest-build.sh
  build/test-scripts/android-uitest-run.sh
  build/test-scripts/ios-uitest-run.sh
  build/test-scripts/local-android-uitest-run.sh
  build/test-scripts/local-ios-uitest-run.sh
  src/SamplesApp/SamplesApp.Shared/App.Tests.cs
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Microsoft_UI_Xaml_Controls/ProgressRingTests/Given_DeterminateProgressRings.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/NavigationViewTests/NavigationView_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/SwipeControlTests/SwipeControlTests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ThumbTests/Tumb_CapturePreventScroll_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/WebViewTests/UnoSamples_Test_NavigateToString.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/EventSequence_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Holding_Tests.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Manipulation_Tests.cs
  src/SamplesApp/UITests.Shared/ItemExclusions.props
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/EventsSequences.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/RevealBrushes/RevealBrush_Fallback.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/RevealBrushes/RevealBrush_Fallback.xaml.cs
  src/Uno.NUnitTransformTool/Program.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_GridLayouting.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Input/Given_FocusManager.cs
Labels: area/build, area/automation

#15715 docs: Update WinUI 3 related article with the new discord link
  doc/articles/uwp-vs-winui3.md
Labels: kind/documentation

#15729 fix: iOS muti FilePicker Image
  src/Uno.UWP/Storage/Internal/StorageProviders.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
  src/Uno.UWP/Storage/StorageFile.iOS.cs
Labels: platform/ios 🍎

#15526 refactor: Small cleanup to xaml generator
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/SymbolExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Utils/XBindExpressionParser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#15733 feat: Support ternary operator and relational operators in ExpressionAnimation
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/AnimationBinaryExpressionSyntax.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/AnimationIdentifierNameSyntax.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/AnimationTernaryExpressionSyntax.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/ExpressionAnimationLexer.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/ExpressionAnimationParser.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/ExpressionAnimationTokenKind.cs
  src/Uno.UI.Composition/Composition/InteractionTracker/InteractionTracker.cs
  src/Uno.UI.Tests/CompositionTests/ExpressionAnimationParserTests.cs
Labels: area/automation

#15264 [iOS] fix: `TimePicker` and `DatePicker` should follow application theme
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_DatePicker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TimePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePickerSelector.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/TimePickerSelector.iOS.cs
Labels: platform/ios 🍎

#15747 chore: ExpressionAnimation enhancements
  src/Uno.UI.Composition/Composition/CompositionAnimation.cs
  src/Uno.UI.Composition/Composition/CompositionColorBrush.cs
  src/Uno.UI.Composition/Composition/CompositionObject.cs
  src/Uno.UI.Composition/Composition/CompositionPropertySet.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/AnimationIdentifierNameSyntax.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/AnimationMemberAccessExpressionSyntax.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimationParser/ExpressionAnimationParser.cs
  src/Uno.UI.Composition/Composition/InsetClip.cs
  src/Uno.UI.Composition/Composition/InteractionTracker/InteractionTracker.cs
  src/Uno.UI.Composition/Composition/SubPropertyHelpers.cs
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/CompositionAnimation.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#15771 docs: Fix Counter app images
  doc/articles/getting-started/counterapp/includes/include-intro.md
  doc/articles/getting-started/counterapp/includes/include-mainpage-layout.md
Labels: kind/documentation

#15567 chore: Bump SkiaSharp to 2.88.7
  .github/workflows/uwp-autoconvert.yml
  .vsts-ci.yml
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/templates/dotnet7-mobile-install-mac.yml
  build/nuget/Uno.WinUI.Lottie.nuspec
  build/nuget/Uno.WinUI.Svg.nuspec
  build/test-scripts/ios-uitest-run.sh
  doc/articles/features/Lottie.md
  doc/articles/features/using-skia-gtk.md
  doc/articles/features/using-skia-wpf.md
  global.json
  src/AddIns/Uno.UI.Lottie/buildTransitive/Uno.UI.Lottie.targets
  src/AddIns/Uno.UI.Svg/buildTransitive/Uno.UI.Svg.targets
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/UnoIslandsSamplesApp.Skia.Wpf.csproj
  src/SolutionTemplate/UnoAppWinUI/UnoAppWinUI.Skia.Gtk/UnoAppWinUI.Skia.Gtk.csproj
  src/SolutionTemplate/UnoAppWinUI/UnoAppWinUI.Skia.Linux.FrameBuffer/UnoAppWinUI.Skia.Linux.FrameBuffer.csproj
  src/SolutionTemplate/UnoAppWinUI/UnoAppWinUI.Skia.WPF/UnoAppWinUI.Skia.WPF.csproj
  src/SolutionTemplate/UnoAppWinUILinuxValidation/UnoAppWinUILinuxValidation.Skia.Gtk/UnoAppWinUILinuxValidation.Skia.Gtk.csproj
  src/SolutionTemplate/UnoAppWinUILinuxValidation/UnoAppWinUILinuxValidation.Skia.Linux.FrameBuffer/UnoAppWinUILinuxValidation.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Uno.UI.RuntimeTests.HRApp.Skia.Gtk.csproj
Labels: area/solution-templates, area/build, area/automation, kind/documentation

#15785 chore: Include exception info when ListViewBaseSource.Frame crashes
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
Labels: platform/ios 🍎

#15758 fix: Workaround CalendarView crash on negative time zones
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CalendarView/CalendarView_Basics.xaml.cs
  src/Uno.UWP/Globalization/Calendar.cs
Labels: area/automation

#15787 fix: WPF should honor `IsAlwaysOnTop` flag
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/NativeOverlappedPresenter.cs
Labels: area/skia ✏️

#15433 fix: Fix missing pointer exit on FF when sibling overlaps an overflowing child
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ScrollBarTests/UnoSamples_Tests.ScrollBar.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/ts/Extensions/PointerEventExtensions.ts
  src/Uno.UI/ts/Windows/UI/Xaml/UIElement.Pointers.ts
Labels: platform/wasm 🌐, area/automation

#15772 fix: Avoid NRE on `WebView` navigation
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/WebViewTests/UnoSamples_Test_NavigateToString.cs
  src/SamplesApp/UITests.Shared/ItemExclusions.props
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebViewExtensions.cs
Labels: area/automation

#15779 fix: copy libUnoNativeMac.dylib into Sample.Skia.Generic app
  src/SamplesApp/SamplesApp.Skia.Generic/SamplesApp.Skia.Generic.csproj
  src/Uno.UI.Runtime.Skia.MacOS/Uno.UI.Runtime.Skia.MacOS.csproj
Labels: area/automation

#15756 docs: update toolkit backported docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#15793 fix: NRE on `PickImageFromFile `cancellation in SamplesApp
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Imaging/PickImageFromFile.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Imaging/PickImageFromFile.xaml.cs
Labels: area/automation

#15812 perf: Reduce TextBlock SelectionDetails allocations on Skia
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#15827 chore: Fix NRE in NavigationViewTopNavOnlyPage
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/NavigationViewTests/TopMode/NavigationViewTopNavOnlyPage.xaml.cs
Labels: area/automation

#15820 docs: docs: Minor adjustments to GS on VS Code
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#15776 docs: Fix image link
  doc/articles/getting-started/wizard/includes/testing.md
Labels: kind/documentation

#15659 perf: Reduce memory used by DependencyPropertyGenerator
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/DependencyObject/DependencyPropertyGenerator.cs
Labels: area/code-generation

#15830 test: Skip `Check_ListView_Swallows_Measure` on Android
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/UnoSamples_Tests.ListView.cs
Labels: area/automation

#15821 docs: Reference Tech Bites videos pt.2
  doc/articles/create-an-app-rider.md
  doc/articles/features/working-with-themes.md
  doc/articles/getting-started/wizard/using-wizard.md
  doc/articles/includes/additional-linux-setup-inline.md
Labels: kind/documentation

#15825 test: Fix snapshot tests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.Android.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.Uwa.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.iOS.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.macOS.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.skia.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation

#15801 perf: Misc Skia performance improvements
  src/AddIns/Uno.UI.Svg/SvgCanvas.cs
  src/Uno.UI.Composition/Composition/CompositionClip.skia.cs
  src/Uno.UI.Composition/Composition/CompositionMaskBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionNineGridBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionShape.skia.cs
  src/Uno.UI.Composition/Composition/CompositionSpriteShape.skia.cs
  src/Uno.UI.Composition/Composition/CompositionVisualSurface.skia.cs
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/SpriteVisual.skia.cs
  src/Uno.UI.Composition/Composition/Uno/CompositionConfiguration.cs
  src/Uno.UI.Composition/Composition/Uno/DrawingSession.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Composition/Composition/VisualCollection.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#15840 ci: iOS Wait 2 seconds if test results file isn't found
  build/test-scripts/ios-uitest-run.sh
Labels: area/build

#15844 perf: Improve Skia snapshot tests performance
  build/ci/.azure-devops-skia-tests.yml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
Labels: area/automation

#15649 fix(skia): Canvas.Zindex hit testing
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Grid.cs
  src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.skia.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UWP/Collections/MaterializableList.cs
Labels: area/skia ✏️

#15852 fix(textblock): on Skia, improve TextBlock selection on DoubleTap + account for surrogate pairs in TextBlock and TextBox
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/IBlock.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/RenderSegmentSpan.skia.cs
Labels: area/skia ✏️

#15865 feat: more complete file/folder pickers for macOS/skia
  src/Uno.UI.Runtime.Skia.MacOS/MacOSFileOpenPickerExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSFileSavePickerExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSFolderPickerExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/NativeUno.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOPickers.h
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOPickers.m
  src/Uno.UWP/Storage/Pickers/FileSavePicker.skiaiOS.cs
  src/Uno.UWP/Storage/Pickers/FolderPicker.skia.cs
  src/Uno.UWP/Storage/Pickers/IFileSavePickerExtension.skiaiOS.cs
  src/Uno.UWP/Storage/Pickers/Internal/IFolderPickerExtension.skia.cs
Labels: area/skia ✏️

#15769 x11 App close request + preferredminsize + extendviewintotitlebar + NativeOverlappedPresenter support
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/OverlappedPresenterTests.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Windowing/OverlappedPresenterTests.xaml.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11ClipboardExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11KeyboardInputSource.cs
  src/Uno.UI.Runtime.Skia.X11/X11NativeOverlappedPresenter.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.Mouse.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.x11events.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/X11Helper.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/x11bindings_XLib.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplicationViewTitleBar.skia.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
Labels: area/skia ✏️, area/automation

#15876 docs: Developing on older Mac hardware
  doc/articles/common-issues-ioscatalyst.md
  doc/articles/common-issues.md
  doc/articles/faq.md
  doc/articles/get-started.md
Labels: kind/documentation

#15488 refactor: Use shared `BorderLayerRenderer` initialization on iOS, macOS and Android
  src/Uno.UI/UI/Xaml/Controls/Border/Border.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/Border.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerState.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.h.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItemChrome.uno.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Page/Page.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.macOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.unittests.cs
  src/Uno.UI/UI/Xaml/Media/Brush.cs
  src/Uno.UI/Uno.UI.netcoremobile.csproj
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#15894 fix: Produce OriginalSourceLocation for top-level resource dictionaries
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_MyDictionary_b7707bcf1e73425b710b6a5d04177088.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#15868 docs: Added missing details about the Svg.Skia package needed for the Skia Head
  doc/articles/features/svg.md
Labels: kind/documentation

#15926 docs: Update documentation to latest commits
  doc/import_external_docs.ps1
Labels: kind/documentation

#15890 Sdk Updates
  .github/labeler.yml
  src/SolutionTemplate/5.1/uno51blank/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/Uno.Sdk/ImplicitPackagesResolver.cs
  src/Uno.Sdk/ImplicitPackagesResolverBase.cs
  src/Uno.Sdk/PackageReference.cs
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/Sdk/Sdk.targets
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Default.PackageVersions.targets
  src/Uno.Sdk/targets/Uno.DefaultItems.Resizetizer.targets
  src/Uno.Sdk/targets/Uno.DefaultItems.targets
  src/Uno.Sdk/targets/Uno.Features.props
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.Sdk/targets/Uno.SingleProject.Desktop.targets
  src/Uno.Sdk/targets/Uno.SingleProject.WinAppSdk.targets
Labels: area/solution-templates, area/sdk

#15909 refactor: Simplify `Panel` by moving shared logic to shared file
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.Android.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.crossruntime.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/Panel.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/Panel/PanelScrollingDirection.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎

#15944 refactor: Images refactor part 2
  src/Uno.UI.Composition/Composition/SkiaCompositionSurface.skia.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/ImageSourceHelpers.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.skia.cs
  src/Uno.UWP/Helpers/AssetResolver.wasm.cs
  src/Uno.UWP/Helpers/PlatformImageHelpers.cs
  src/Uno.UWP/Helpers/PlatformImageHelpers.reference.cs
  src/Uno.UWP/Helpers/PlatformImageHelpers.skia.cs
  src/Uno.UWP/Helpers/PlatformImageHelpers.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, area/skia ✏️

#15966 chore: Update README.md to include the entire list of Uno Platform Contributors
  README.md
Labels: kind/documentation

#15962 refactor: Cleanup ImageSource
  src/Uno.UI/UI/Xaml/Media/ImageSource.Android.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.unittests.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎

#15970 Fix and refactor clipping to work better with hittesting
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#15975 fix(textblock): fix selection when CRLF is present
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#15513 fix(mpe): hide video window on unload
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/GtkMediaPlayer.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_ManualTest.xaml.cs
Labels: area/automation

#15969 docs: Update next steps after the creation of a new Uno Platform app
  doc/articles/get-started-wizard.md
  doc/articles/includes/getting-help.md
Labels: kind/documentation

#15984 Adjustment to Implicit Packages
  src/Uno.Sdk/ImplicitPackagesResolver.cs
  src/Uno.Sdk/ImplicitPackagesResolverBase.cs
Labels: area/sdk

#15979 Fix the error messages for UnoFeatures
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/ImplicitPackagesResolver.cs
  src/Uno.Sdk/ImplicitPackagesResolverBase.cs
  src/Uno.Sdk/UnoArea.cs
  src/Uno.Sdk/UnoAreaAttribute.cs
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
Labels: kind/documentation, area/sdk

#15986 fix: Include net8.0-windows toolkit for net8 dependencies
  build/nuget/Uno.WinUI.nuspec
Labels: area/build

#15910 refactor: Make SkiaHost Task-based
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacSkiaHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI.Runtime.Skia/SkiaHost.cs
Labels: area/skia ✏️

#15867 fix(image): remove all image when image source changes
  src/SamplesApp/UITests.Shared/Assets/placeholder.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Placeholder.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_Placeholder.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.wasm.cs
Labels: platform/wasm 🌐, area/skia ✏️, area/automation

#16013 fix: Add transitive dependency to Xamarin.AndroidX.SwipeRefreshLayout
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs
  src/Uno.UI/Uno.UI.netcoremobile.csproj
Labels: platform/android 🤖, area/build

#16023 fix: Handle nullable value types correctly in BindableTypeProvidersSourceGenerator
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/BindableNullableValueTypeTestPage.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/BindableNullableValueTypeTestPage.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/Given_BindableNullableValueType.cs
Labels: area/code-generation

#15877 feat: Provide Intent access for Android pickers
  doc/articles/features/windows-storage-pickers.md
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.Android.cs
  src/Uno.UWP/Storage/Pickers/FilePickerHelper.Android.cs
  src/Uno.UWP/Storage/Pickers/FileSavePicker.Android.cs
  src/Uno.UWP/Storage/Pickers/FolderPicker.Android.cs
  src/Uno.UWP/Storage/Pickers/FolderPickerHelper.Android.cs
Labels: platform/android 🤖, kind/documentation

#16031 build: Downgrade Xamarin.AndroidX.SwipeRefreshLayout
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
Labels: area/build

#16025 fix(pointers): Fix pointer exit not raised on wasm
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Input/Nested_Exit_Tests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/Nested_Exit.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/PointersTests/Nested_Exit.xaml.cs
  src/Uno.UI.RuntimeTests/UITestsImport.props
  src/Uno.UI/ts/Windows/UI/Xaml/UIElement.Pointers.ts
Labels: area/automation

#15946 fix(itemsRepeater): Fix an issue where IR might re-position first items if items below are significantly higher
  src/SamplesApp/UITests.Shared/ItemExclusions.props
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/FlowLayout_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/StackLayout_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/UniformGridLayout_Simple.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/TestUI/Samples/AnimationSamples/DefaultElementAnimator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/StackLayout.cs
Labels: area/automation

#16048 feat: Ensure that uno.sdk winappsdk apps include all Assets by default
  src/SolutionTemplate/5.2/uno52blank/uno52blank/uno52blank.csproj
  src/Uno.Sdk/targets/Uno.Common.WinAppSdk.targets
Labels: area/solution-templates

#15778 fix(textbox): fix BeforeTextChanging cancelling on Wpf
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_BeforeTextChanging_NumbersOnly.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_BeforeTextChanging_NumbersOnly.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia ✏️, area/automation

#16057 docs: Reference Tech Bites videos in docs
  doc/articles/controls/ContentDialog.md
  doc/articles/features/clipboard.md
  doc/articles/features/windows-networking.md
Labels: kind/documentation

#16034 fix(combobox): Don't reset SelectedIndex when changing the itemsource
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ComboBoxTests/Given_ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
Labels: area/automation

#16056 test: Allow samples to declare when they are ready to be screenshotted during snapshot tests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/Helpers/IWaitableSample.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/PipsPagerTests/PipsPagerExamples.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRing_CustomSources.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRing_Features.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/MaskBrushTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/RedirectVisualTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/VisualSurfaceTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImagesInlineInFlipView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ProgressRing/WindowsProgressRing_GH1220.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/BorderImageBrush.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_SameWithDelay.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_SameWithDelay.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_StreamSource.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/ImageBrush_StreamSource.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/PanelImageBrush.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TransformToVisual_Translate2d.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TransformToVisual_Translate2d.xaml.cs
Labels: area/automation

#16043 test: Run snapshot tests in dark mode
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
Labels: area/automation

#16066 build: Downgrade SwipeRefreshLayout package once again
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
Labels: area/build

#16054 fix: Remove legacy singleproject when uno.sdk is present
  build/nuget/uno.winui.common.targets
  build/nuget/uno.winui.single-project.targets
  build/nuget/uno.winui.targets
  build/nuget/uno.winui.winappsdk.targets
  src/SolutionTemplate/5.2/uno52blank/uno52blank/uno52blank.csproj
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/targets/Uno.Build.targets
  src/Uno.Sdk/targets/Uno.Common.Android.targets
  src/Uno.Sdk/targets/Uno.Common.Desktop.targets
  src/Uno.Sdk/targets/Uno.Common.MacCatalyst.targets
  src/Uno.Sdk/targets/Uno.Common.MacOS.targets
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
  src/Uno.Sdk/targets/Uno.Common.WinAppSdk.targets
  src/Uno.Sdk/targets/Uno.Common.iOS.targets
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.DefaultItems.Resizetizer.targets
  src/Uno.Sdk/targets/Uno.DefaultItems.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.Sdk/targets/Uno.ProjectCapabilities.WinAppSdk.targets
  src/Uno.Sdk/targets/Uno.ProjectCapabilities.targets
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
  src/Uno.Sdk/targets/Uno.SingleProject.Android.targets
  src/Uno.Sdk/targets/Uno.SingleProject.MacCatalyst.targets
  src/Uno.Sdk/targets/Uno.SingleProject.MacOS.targets
  src/Uno.Sdk/targets/Uno.SingleProject.iOS.targets
Labels: area/solution-templates, area/build

#15996 Reduce default packages for library builds
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.1/uno51blank/Directory.Build.props
  src/SolutionTemplate/5.1/uno51blank/uno51blank/App.cs
  src/SolutionTemplate/5.1/uno51recommended/Directory.Build.props
  src/SolutionTemplate/5.2/uno52Lib/Class1.cs
  src/SolutionTemplate/5.2/uno52Lib/global.json
  src/SolutionTemplate/5.2/uno52Lib/uno52Lib.csproj
  src/SolutionTemplate/5.2/uno52SingleProjectLib/Class1.cs
  src/SolutionTemplate/5.2/uno52SingleProjectLib/Platforms/Android/AndroidClass1.cs
  src/SolutionTemplate/5.2/uno52SingleProjectLib/Platforms/Desktop/DesktopClass1.cs
  src/SolutionTemplate/5.2/uno52SingleProjectLib/Platforms/MacCatalyst/MacCatalystClass1.cs
  src/SolutionTemplate/5.2/uno52SingleProjectLib/Platforms/WebAssembly/WebAssemblyClass1.cs
  src/SolutionTemplate/5.2/uno52SingleProjectLib/Platforms/Windows/WindowsClass1.cs
  src/SolutionTemplate/5.2/uno52SingleProjectLib/Platforms/iOS/iOSClass1.cs
  src/SolutionTemplate/5.2/uno52SingleProjectLib/global.json
  src/SolutionTemplate/5.2/uno52SingleProjectLib/uno52SingleProjectLib.csproj
  src/SolutionTemplate/5.2/uno52blank/Directory.Build.props
  src/Uno.Sdk/Extensions/TaskItemExtensions.cs
  src/Uno.Sdk/ImplicitPackagesResolverBase.cs
  src/Uno.Sdk/Models/CachedReferences.cs
  src/Uno.Sdk/Models/ManifestGroup.cs
  src/Uno.Sdk/Models/NuGetVersion.cs
  src/Uno.Sdk/Models/PackageReference.cs
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/Services/NuGetApiClient.cs
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolverBase.cs
  src/Uno.Sdk/Uno.Sdk.csproj
  src/Uno.Sdk/UnoTarget.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Default.PackageVersions.targets
  src/Uno.Sdk/targets/Uno.Extensions.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Features.props
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Android.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Legacy.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.MacCatalyst.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.MacOS.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Uno.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Wasm.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.WinAppSdk.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.iOS.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.Sdk/targets/Uno.SingleProject.WinAppSdk.targets
Labels: area/solution-templates, area/build, area/sdk
