Repository unoplatform/uno, pull requests merged in 2024-06, with the labels that each got.

#16816 fix(imagebrush): downscaling images was very blurry
  src/SamplesApp/UITests.Shared/Assets/ResizedLargeWisteria.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_ImageBrush.cs
Labels: area/skia ✏️, area/automation

#16913 fix(textbox): pasting should scroll the textbox to the end of the pasted content
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#16912 fix(textbox): dancing textbox selection
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#16983 docs: changed counter app image
  doc/articles/getting-started/counterapp/Assets/counter-app.png
Labels: kind/documentation

#16712 fix(skia): incorrect localization culture
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel_Resources/Given_ResourceLoader.cs
  src/Uno.UI.Tests/ResourceLoader/Given_ResourceLoader.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.instanced.cs
  src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.static.cs
  src/Uno.UWP/FeatureConfiguration/WinRTFeatureConfiguration.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.System.UserProfile/GlobalizationPreferences.cs
  src/Uno.UWP/Globalization/ApplicationLanguages.cs
  src/Uno.UWP/Globalization/ApplicationLanguages.iOS.cs
  src/Uno.UWP/Storage/StorageProvider.cs
  src/Uno.UWP/System/UserProfile/GlobalizationPreferences.cs
  src/Uno.UWP/System/UserProfile/GlobalizationPreferences.iOS.cs
  src/Uno.UWP/WinRT/MarshalString.skia.cs
Labels: platform/ios 🍎, area/skia ✏️, area/automation

#16984 fix(droid): RenderTargetBitmap SIGSEGV
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.Android.cs
Labels: platform/android 🤖

#16993 chore: make SamplesApp feature flag cli-parsing work with nullable types
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#16975 docs: Add customizing details for ContentDialog
  doc/articles/Assets/features/contentdialog/withoutstyle.png
  doc/articles/Assets/features/contentdialog/withstyle.png
  doc/articles/features/dialogs.md
Labels: kind/documentation

#16997 fix: Don't use target platform version in nuspec
  build/nuget/Uno.WinUI.DevServer.nuspec
  build/nuget/Uno.WinUI.Lottie.nuspec
  build/nuget/Uno.WinUI.MSAL.nuspec
  build/nuget/Uno.WinUI.RemoteControl.nuspec
  build/nuget/Uno.WinUI.Svg.nuspec
  build/nuget/Uno.WinUI.XamlHost.nuspec
  build/nuget/Uno.WinUI.nuspec
Labels: area/build

#16998 docs: Fix table markdown formatting in Windowing docs
  doc/articles/features/windows-ui-xaml-window.md
Labels: kind/documentation

#16994 fix(wpf): going fullscreen then exiting doesn't go back to the previous window state
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
Labels: area/skia ✏️

#17013 fix: workaround for AcrylicBrush pink background on macOS/arm64
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/AcrylicBrush.skia.cs
Labels: area/skia ✏️

#17019 feat: UnoInitializeComponentAnalyzer
  doc/articles/uno-build-error-codes.md
  src/Uno.Analyzers.Tests/Uno.Analyzers.Tests.csproj
  src/Uno.Analyzers.Tests/UnoInitializeComponentAnalyzerTests.cs
  src/Uno.Analyzers/UnoInitializeComponentAnalyzer.cs
Labels: kind/documentation

#17030 docs: Update uno-publishing-windows-packaged-signed.md
  doc/articles/uno-publishing-windows-packaged-signed.md
Labels: kind/documentation

#17037 docs: Update bootstrap docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#17045 fix: Don't consider skia xmlns as conditional if it's referring to SkiaSharp
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Parser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WSXN/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WSXN/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WSXN/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation

#16962 Move to macOS14, Xcode 15.4, iOS tests net8.0-ios17.0
  .vsts-ci.yml
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/.azure-devops-macos.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-stages.yml
  build/ci/templates/ios-build-select-version.yml
  build/test-scripts/ios-uitest-build.sh
  build/test-scripts/ios-uitest-run.sh
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UITests/Constants.cs
  src/SamplesApp/SamplesApp.UITests/SampleControlUITestBase.cs
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Main.iOS.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentDialog.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
  src/Uno.UI/UI/Xaml/IFrameworkElementImplementation.iOS.tt
  src/Uno.UI/UI/Xaml/Window/Native/Window.iOS.cs
Labels: platform/ios 🍎, area/build, area/automation

#17061 build: Cleanup net7.0-ios
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/templates/dotnet7-mobile-install-mac.yml
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.csproj
  src/Uno.NUnitTransformTool/Uno.NUnitTransformTool.csproj
  src/targetframework-override-noplatform.props
Labels: area/build, area/automation

#17035 fix(surfacebrush): check that the final size isn't empty before resizing images.
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
Labels: area/skia ✏️

#17060 fix: Avoid using DependencyObjectStore after it has been disposed
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.skia.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.cs
  src/Uno.UI/UI/Xaml/Internal/EventManager.uno.cs
Labels: area/skia ✏️

#17059 fix: Updating SkiaCompositionSurface's image should invalidate render
  src/Uno.UI.Composition/Composition/SkiaCompositionSurface.skia.cs
Labels: area/skia ✏️

#17081 docs: Add videos on Windowing
  doc/articles/features/windows-ui-xaml-window.md
Labels: kind/documentation

#17092 Adjust support for 17.2 UI tests
  build/nuget/Uno.WinUI.MSAL.nuspec
  build/test-scripts/ios-uitest-run.sh
  doc/articles/uno-build-error-codes.md
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Windows.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UnoIslands.Skia/UnoIslands.Skia.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/Uno.Analyzers.Tests/UnoMissingAssemblyAnalyzerTests.cs
  src/Uno.Analyzers/SymbolExtensions.cs
  src/Uno.Analyzers/UnoMissingAssemblyAnalyzer.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/TreeView/TreeViewTests.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_TreeView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_ImageBrush.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBaseSource.iOS.cs
Labels: platform/ios 🍎, area/code-generation, area/build, area/automation, kind/documentation

#17106 Misc docs updates
  doc/articles/features/image.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/toc.yml
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#17078 fix nuget cache override on Linux
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Reference.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Skia.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.Wasm.csproj
  src/AddIns/Uno.UI.Lottie/Uno.UI.Lottie.netcoremobile.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Windows.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/AddIns/Uno.UI.MediaPlayer.WebAssembly/Uno.UI.MediaPlayer.WebAssembly.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Reference.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Skia.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.netcoremobile.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/Uno.UI.SourceGenerators.csproj
  src/SourceGenerators/Uno.UI.Tasks/Uno.UI.Tasks.csproj
  src/Uno.CrossTargetting.targets
  src/Uno.Foundation.Logging/Uno.Foundation.Logging.csproj
  src/Uno.Foundation.Runtime.WebAssembly/Uno.Foundation.Runtime.WebAssembly.csproj
  src/Uno.UI.Adapter.Microsoft.Extensions.Logging/Uno.UI.Adapter.Microsoft.Extensions.Logging.csproj
  src/Uno.UI.Foldable/Uno.UI.Foldable.netcoremobile.csproj
  src/Uno.UI.Maps/Uno.UI.Maps.netcoremobile.csproj
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl.Server/Uno.UI.RemoteControl.Server.csproj
  src/Uno.UI.RemoteControl.VS/Uno.UI.RemoteControl.VS.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Wasm.csproj
  src/Uno.UI.Runtime.WebAssembly/Uno.UI.Runtime.WebAssembly.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Reference.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Tests.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Wasm.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Windows.csproj
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.netcoremobile.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
  src/Uno.UI/Uno.UI.Wasm.csproj
Labels: platform/wasm 🌐, area/code-generation

#17077 docs: Add Extensions Logging link when using recommended
  doc/articles/logging.md
Labels: kind/documentation

#17115 fix: Adjust telemetry persistence
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/TelemetryClient.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Telemetry/TelemetryCommonProperties.cs
Labels: area/code-generation

#17076 fix(skia): not activating the window shouldn't prevent the application from loading
  src/Uno.UI.Runtime.Skia.MacOS/MacOSNativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowNative.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
Labels: area/skia ✏️

#17124 fix: builds fail with latest MSAL updates
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Common.Android.targets
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
  src/Uno.Sdk/targets/Uno.Common.WinAppSdk.targets
  src/Uno.Sdk/targets/Uno.Common.iOS.targets
  src/Uno.Sdk/targets/Uno.Extensions.Implicit.Packages.ProjectSystem.targets
Labels: area/sdk

#15951 feat(skia): Gif support
  src/SamplesApp/UITests.Shared/Assets/testimage_exif_rotated_different_dimensions.jpg
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Composition/Composition/FrameProviderFactory.skia.cs
  src/Uno.UI.Composition/Composition/GifFrameProvider.skia.cs
  src/Uno.UI.Composition/Composition/IFrameProvider.skia.cs
  src/Uno.UI.Composition/Composition/SingleFrameProvider.skia.cs
  src/Uno.UI.Composition/Composition/SkiaCompositionSurface.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
Labels: area/skia ✏️, area/automation

#16982 fix: Capturing the pointer for inputs on WASM prevents scrolling
  doc/articles/controls/TextBox.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_TextScroll.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/Input_TextScroll.xaml.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/IOverlayTextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/OverlayTextBoxView/OverlayTextBoxViewExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Uno.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: area/skia ✏️, area/automation, kind/documentation

#17142 fix(wasm): lottie animation event leak
  src/AddIns/Uno.UI.Lottie/LottieVisualSourceBase.wasm.cs
Labels: platform/wasm 🌐

#17143 docs: uno target fileopen picker path information
  doc/articles/features/windows-storage-pickers.md
Labels: kind/documentation

#17154 docs: Add explanation for XA4218
  doc/articles/common-issues-all-ides.md
Labels: kind/documentation

#17146 docs: Update WCT documentation with latest v7 & v8 details and single project setup
  .markdownlint.json
  build/cSpell.json
  doc/articles/Assets/settingscard-full-sample.gif
  doc/articles/toc.yml
  doc/articles/uno-community-toolkit-v7.md
  doc/articles/uno-community-toolkit-v8.md
  doc/articles/uno-community-toolkit.md
Labels: area/build, kind/documentation

#17148 Enable tooltips on all targets for samples and tests
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToolTip/TextOnlyToolTipSample.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToolTip/ToolTip_CollapsedHost.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ToolTip/ToolTip_DynamicContent.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Slider.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ToolTip.cs
Labels: area/automation

#17022 feat(iOS): Add FileOpenPicker limit for multiple selection
  doc/articles/features/windows-storage-pickers.md
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
Labels: platform/ios 🍎, area/automation, kind/documentation

#17153 docs: Doc `DebugSettings.LayoutCycleTracingLevel`
  doc/articles/common-issues-all-ides.md
Labels: kind/documentation

#17165 chore(css): Adjust bottom margin of videos followed by paragraphs in the documentation
  doc/templates/uno/main.scss
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.css.map
Labels: kind/documentation

#17172 fix(textblock): doubletap-to-select should select the entire chunk even if wrapped
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#17179 fix: Handle cases where `_entries` change while default value is retrieved
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.DefaultValueProvider.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.cs
Labels: area/automation

#17183 Handle non-Uno settings in `DataTypeSerializer` gracefully, add tests
  src/Uno.UI.Tests/Windows_Storage/Given_DataTypeSerializer.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.skia.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.wasm.cs
  src/Uno.UWP/Storage/DataTypeSerializer.cs
Labels: platform/wasm 🌐, area/skia ✏️, area/automation

#17193 docs: (fileopenpicker) refer how to get file information
  doc/articles/features/windows-storage-pickers.md
Labels: kind/documentation

#14692 fix(contentpresenter): inherit Content, ContentTemplate and ContentTemplateSelector when inside a ContentControl template
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_Inside_ContentControl_Template.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_Inside_ContentControl_Template.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentPresenter.cs
  src/Uno.UI/Controls/CommandBar/CommandBarRenderer.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.Binder.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetailsCollection.Bindings.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
Labels: platform/android 🤖

#17186 feat: Support for `ApplicationDataCompositeValue`
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_ApplicationDataCompositeValue.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Storage/Given_ApplicationDataContainer.cs
  src/Uno.UI.Tests/Windows_Storage/Given_DataTypeSerializer.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Storage/ApplicationDataCompositeValue.cs
  src/Uno.UWP/Storage/ApplicationData/ApplicationDataCompositeValue.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.Android.cs
  src/Uno.UWP/Storage/ApplicationDataContainer.iOSmacOS.cs
  src/Uno.UWP/Storage/DataTypeSerializer.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/automation

#17187 fix(imagebrush): prevent blurring when dpi scaling > 1
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgHighDPIBlur.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgHighDPIBlur.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
Labels: area/skia ✏️, area/automation

#16864 fix(droid): fileopenpicker ui thread
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.Android.cs
Labels: platform/android 🤖

#17229 docs: Adjust tfm restrictions for 5.2+ single project
  doc/articles/guides/solution-building-single-targetframework.md
Labels: kind/documentation

#17248 docs: Update Uno Extensions documentation to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#17062 ci: Always use .NET 9 SDK
  .github/workflows/uwp-autoconvert.yml
  NuGet.Config
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-skia-tests.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/net7/global.json
  build/ci/net8/global.json
  build/ci/net9/global.json
  build/ci/templates/dotnet-install.yml
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/ci/templates/dotnet9-mobile-install-windows.yml
  build/test-scripts/wasm-run-automated-uitests.sh
  src/Directory.Build.props
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
  src/SolutionTemplate/5.1/uno51blank/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51blank/global.json
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51recommended/global.json
  src/SolutionTemplate/5.2/uno52AppWithLib/global.json
  src/SolutionTemplate/5.2/uno52Lib/global.json
  src/SolutionTemplate/5.2/uno52NuGetLib/global.json
  src/SolutionTemplate/5.2/uno52SingleProjectLib/global.json
  src/SolutionTemplate/5.2/uno52blank/global.json
  src/SolutionTemplate/MyAppXamlTrim/MyAppXamlTrim.Wasm/MyAppXamlTrim.Wasm.csproj
  src/SolutionTemplate/UnoAppAll/UnoAppAll.Wasm/UnoAppAll.Wasm.csproj
  src/SolutionTemplate/UnoAppWinUI/UnoAppWinUI.Wasm/UnoAppWinUI.Wasm.csproj
  src/SolutionTemplate/UnoAppWinUILinuxValidation/UnoAppWinUILinuxValidation.Wasm/UnoAppWinUILinuxValidation.Wasm.csproj
  src/Uno.Sdk/packages.json
  src/Uno.UI.Runtime.Skia.Wpf/Builder/WpfHostBuilder.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/global.json
  src/Uno.UI.RuntimeTests/Tests/HotReload/Given_HotReloadWorkspace.cs
  src/Uno.UWPSyncGenerator/Uno.UWPSyncGenerator.csproj
Labels: area/solution-templates, area/skia ✏️, area/build, area/automation, area/sdk

#17286 fix: Set PixelWidth and PixelHeight after decoding the image
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
Labels: area/skia ✏️

#17278 ci: Combine net8/net9 mobile jobs
  .github/workflows/uwp-autoconvert.yml
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-android-tests.yml
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-ios-tests-run.yml
  build/ci/.azure-devops-ios-tests.yml
  build/ci/.azure-devops-macos.yml
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/.azure-devops-package-wasm.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-skia-tests.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/.azure-devops-uwp-convert.yml
  build/ci/.azure-devops-wasdk.yml
  build/ci/.azure-devops-wasm-uitests.yml
  build/convert-sourcetree-to-uwp.cmd
  build/filters/Uno.UI-packages-netcoremobile-net8.slnf
  build/run-api-sync-tool.cmd
  build/run-doc-generation.cmd
  build/test-scripts/local-android-uitest-run.sh
  build/test-scripts/local-ios-uitest-run.sh
  src/Directory.Build.targets
  src/SourceGenerators/sourcegenerators.local.props
  src/Uno.ResourceTrimmingValidator/Uno.ResourceTrimmingValidator.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/global.json
  src/Uno.UI.TestComparer/Uno.UI.TestComparer.csproj
  src/Uno.UI/Uno.UI.netcoremobile.csproj
  src/Uno.UWPSyncGenerator/Helpers/ProjectLoader.cs
  src/uno.mobile-cross-targeting-disable.props
Labels: area/skia ✏️, area/code-generation, area/build

#17288 fix: Fix NRE in FontDetailsCache
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetailsCache.skia.cs
Labels: area/skia ✏️

#17291 docs: UWP Common issues
  doc/articles/common-issues-uwp.md
  doc/articles/common-issues.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#17301 docs: Adjust custom font path for class libraries
  doc/articles/features/custom-fonts.md
Labels: kind/documentation

#17255 Adjust single project nuget packaging
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.2/uno52NuGetLib/Assets/Svg/myimage.svg
  src/SolutionTemplate/5.2/uno52NuGetLib/Assets/icon_lib.svg
  src/SolutionTemplate/5.2/uno52NuGetLib/Assets/test.xml
  src/SolutionTemplate/5.2/uno52NuGetLib/uno52NuGetLib.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
  src/Uno.Sdk/targets/Uno.Common.Desktop.targets
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
  src/Uno.Sdk/targets/Uno.DefaultItems.targets
Labels: area/solution-templates, area/code-generation, area/build

#17296 Revert #16816 and #17035
  src/SamplesApp/UITests.Shared/Assets/ResizedLargeWisteria.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Composition/Composition/CompositionSurfaceBrush.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_ImageBrushStretch.cs
Labels: area/skia ✏️, area/automation

#17289 fix(airspace): rework the airspace implementation to work accurately with transparency and effect brushes
  src/SamplesApp/UITests.Shared/Assets/wpfembedding.png
  src/SamplesApp/UITests.Shared/Assets/x11embedding.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_NativeEmbedding.xaml
  src/Uno.UI.Composition/Composition/CompositionVisualSurface.skia.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/Uno/Visual.PaintingSession.skia.cs
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GLRenderSurfaceBase.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GtkRendererProvider.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/OpenGLESRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/OpenGLRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/SoftwareRenderSurface.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Renderer.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.NativeMethods.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/WpfRendererProvider.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoCompositeWindowHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI.Runtime.Skia.X11/IX11Renderer.cs
  src/Uno.UI.Runtime.Skia.X11/X11AirspaceRenderHelper.cs
  src/Uno.UI.Runtime.Skia.X11/X11NativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11OpenGLRenderer.cs
  src/Uno.UI.Runtime.Skia.X11/X11SoftwareRenderer.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/X11Helper.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.host.cs
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.skia.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupRoot.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
Labels: area/skia ✏️, area/automation

#17315 docs: Improve `ContentDialog` page
  doc/articles/controls/ContentDialog.md
  doc/articles/features/dialogs.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#17328 Bump to net9 pre 5
  .github/workflows/uwp-autoconvert.yml
  build/ci/.azure-devops-uwp-convert.yml
  build/ci/net9/global.json
  src/AddIns/Uno.UI.MediaPlayer.Skia.Gtk/Uno.UI.MediaPlayer.Skia.Gtk.csproj
  src/Uno.Sdk/packages.json
  src/Uno.UI.RemoteControl.Host/Config/global-net9.0.json
  src/Uno.UI.Runtime.Skia.Gtk/Uno.UI.Runtime.Skia.Gtk.csproj
Labels: area/skia ✏️, area/build, area/sdk

#17321 fix(macOS): Let the Metal texture be used for sampling
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOMetalViewDelegate.m
  src/Uno.UI/UI/Xaml/Media/AcrylicBrush/AcrylicBrush.skia.cs
Labels: area/skia ✏️

#17349 fix: Update UniversalImageLoader to respect Exif on Android
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SolutionTemplate/5.1/uno51blank/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/SolutionTemplate/MyAppXamlTrim/MyAppXamlTrim.Mobile/MyAppXamlTrim.Mobile.csproj
  src/SolutionTemplate/UnoAppAll/UnoAppAll.Mobile/UnoAppAll.Mobile.csproj
  src/SolutionTemplate/UnoAppWinUI/UnoAppWinUI.Mobile/UnoAppWinUI.Mobile.csproj
  src/Uno.Sdk/packages.json
Labels: area/solution-templates, area/automation, area/sdk

#17346 docs: Extend layout cycle docs
  doc/articles/common-issues-all-ides.md
Labels: kind/documentation
