Repository unoplatform/uno, pull requests merged in 2024-04, with the labels that each got.

#16044 fix(passwordbox): reveal button not working
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Core/Given_InputManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/skia ✏️

#16059 fix(catalyst): FolderPicker not opening
  src/Uno.UWP/Storage/Pickers/FolderPicker.iOS.cs
Labels: platform/ios 🍎

#16080 docs: Add Uno.Extensions latest docs updates
  doc/import_external_docs.ps1
Labels: kind/documentation

#16084 fix: Warn if desktop tf is not first for WSL debugging
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
Labels: kind/documentation

#16037 fix: prevent Uno Islands from crashing
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/UITests.Shared/Helpers/ViewModelBase.cs
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/MainWindow.xaml
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfDisplayInformationExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.DispatchHelper.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.WindowHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FlowDirection.cs
  src/Uno.UI.Tests/App/App.xaml.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHost.cs
  src/Uno.UI/UI/Xaml/Internal/ContentManager/ContentManager.cs
  src/Uno.UWP/Graphics/Display/DisplayInformation.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
Labels: area/skia ✏️, area/automation

#16082 bump AndroidX versions used for MAUI Embedding
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16097 fix: Adjust profile synch and reload on desktop TF selection
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
  src/Uno.UI.RemoteControl.VS/EntryPoint.ActiveProfileSync.cs
  src/Uno.UI.RemoteControl.VS/EntryPoint.cs
Labels: kind/documentation

#16094 fix: read gtk window height correctly on WSL
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindowHost.cs
Labels: area/skia ✏️

#16087 docs: update VS Code getting started for Uno 5.2
  doc/articles/Assets/quick-start/vs-code-android-project.png
  doc/articles/Assets/quick-start/vs-code-browserwasm-project.png
  doc/articles/Assets/quick-start/vs-code-chrome-debug.png
  doc/articles/Assets/quick-start/vs-code-debug-device-android.png
  doc/articles/Assets/quick-start/vs-code-debug-device-ios.png
  doc/articles/Assets/quick-start/vs-code-debug-tf-android.png
  doc/articles/Assets/quick-start/vs-code-debug-tf-catalyst.png
  doc/articles/Assets/quick-start/vs-code-debug-tf-ios.png
  doc/articles/Assets/quick-start/vs-code-desktop-project.png
  doc/articles/Assets/quick-start/vs-code-ios-project.png
  doc/articles/Assets/quick-start/vs-code-maccatalyst-project.png
  doc/articles/Assets/quick-start/vs-code-mobile-debug.png
  doc/articles/Assets/quick-start/vs-code-windows-project.png
  doc/articles/create-an-app-vscode.md
  doc/articles/get-started-vscode.md
Labels: do-not-merge/work-in-progress, kind/documentation

#16095 fix: Adjust SamplesApp WinUI launch to avoid using `XamlRoot` too early
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
Labels: area/automation

#16110 perf: Avoid boxing StringRuneEnumerator
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#16111 fix: Fix System.Type handling with xmlns
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Parser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
Labels: area/code-generation

#16085 docs: add vscode error codes
  build/cSpell.json
  doc/articles/uno-build-error-codes.md
Labels: area/build, kind/documentation

#16113 chore: Bump to latest boostrap and resizetizer packages
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16104 [SDK] Maui Embedding fixes
  src/Uno.Sdk/Models/NuGetVersion.cs
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/Services/NuGetApiClient.cs
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolverBase.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Features.targets
Labels: area/sdk

#16010 fix: Fix style setter generation when Value has binding
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_FullScreen_Popup.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_Picker.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingTests.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingToSetterValuePage.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingToSetterValuePage.xaml.cs
  src/Uno.UI/Helpers/Xaml/SetterExtensions.cs
  src/Uno.UI/UI/Xaml/Setter.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.Native.xaml
Labels: area/code-generation, area/automation

#16060 build: Fix SamplesApp.Wasm not building with AOT
  src/SamplesApp/Directory.Build.targets
  src/SamplesApp/SamplesApp.UnitTests.Shared/SamplesApp.UnitTests.targets
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
Labels: area/automation

#16086 docs: more about outputs(logs) and reporting issues
  doc/articles/Assets/quick-start/vs-code-extension-outputs.png
  doc/articles/Assets/quick-start/vs-code-extension-status.png
  doc/articles/common-issues-vscode.md
Labels: kind/documentation

#16129 Adjust profile sync log level
  doc/articles/uno-build-error-codes.md
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.Telemetry.cs
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
  src/Uno.UI.RemoteControl.VS/EntryPoint.ActiveProfileSync.cs
Labels: area/code-generation, kind/documentation

#16132 docs: Adjust WSL and images
  doc/articles/Assets/quick-start/net8-desktop-debug-windows.png
  doc/articles/Assets/quick-start/net8-desktop-wsl2-debug-windows.png
  doc/articles/create-an-app-vs2022.md
  doc/articles/create-an-app-vscode.md
  doc/articles/uno-app-solution-structure.md
Labels: kind/documentation

#16078 feat: Support for `UIElementCollection.Move` on Skia
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_UIElementCollection.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UI/UI/Xaml/UIElementCollection.cs
Labels: area/skia ✏️

#16134 Misc XAML generator fixes
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ComboBox/ComboBox_FullScreen_Popup.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Parser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WI/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WI/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WI/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation, area/automation

#16142 docs: Removing unused toc file
  doc/docfx.json
  doc/toc.yml
Labels: area/build, kind/documentation

#16139 fix: Enable HW Accel over RDP for Skia Desktop
  doc/articles/features/using-skia-desktop.md
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
Labels: kind/documentation

#15811 fix: Ensure rendering happens when measure/arrange is not dirty
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/ItemsRepeaterManyItems.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/ItemsRepeaterManyItems.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GLRenderSurfaceBase.cs
Labels: area/skia ✏️, area/automation

#12741 test: Test for native command bar with icon
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarTests.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/CommandBarTests.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CommandBar.cs
  src/Uno.UI/Controls/CommandBar/AppBarButtonRenderer.iOS.cs
Labels: platform/ios 🍎

#16153 Enable warnings as errors
  src/SolutionTemplate/5.1/uno51blank/Directory.Build.props
  src/SolutionTemplate/5.1/uno51blank/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51blank/uno51blank/uno51blank.csproj
  src/SolutionTemplate/5.1/uno51recommended/Directory.Build.props
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended/uno51recommended.csproj
  src/SolutionTemplate/5.2/uno52Lib/uno52Lib.csproj
  src/SolutionTemplate/5.2/uno52SingleProjectLib/uno52SingleProjectLib.csproj
  src/SolutionTemplate/5.2/uno52blank/Directory.Build.props
Labels: area/solution-templates

#16173 refactor: Cleanup SKPaint used for text rendering
  src/Uno.UI/UI/Xaml/Documents/Inline.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/Segment.skia.cs
Labels: area/skia ✏️

#15621 chore: Simplify some generated file names
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/HashBuilder.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/DependencyObject/DependencyPropertyGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyObjectGeneratorTests/Given_DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyPropertyGeneratorTests/Given_DependencyPropertyGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/NativeCtor/NativeCtorsGenerator.cs
Labels: area/code-generation

#16155 docs: update README and add aka refered doc
  doc/articles/features/using-skia-desktop.md
  doc/articles/features/using-skia-macos.md
  doc/articles/toc.yml
  src/Uno.UI.Runtime.Skia.MacOS/README.md
Labels: area/build, kind/documentation

#15916 listview fixes
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TabViewTests/TabViewSelectionAndScrolling.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TabViewTests/TabViewSelectionAndScrolling.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/TabView.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_TabView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.Toolkit/Uno.UI.Toolkit.Windows.csproj
  src/Uno.UI/Extensions/PrettyPrint.cs
  src/Uno.UI/Extensions/ViewExtensions.visual-tree.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ListViewBase.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabViewItem.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/TabView/TabView_v1.xaml
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.Tests.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.managed.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.managed.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/Selector.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
Labels: platform/android 🤖, area/automation

#16189 ci: Enable UpdateTasksSHA on linux
  build/Uno.UI.Build.csproj
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
Labels: area/build

#16191 fix: Run UnoAssetsGeneration at design time
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#16196 fix: Revert "Ensure rendering happens when measure/arrange is not dirty"
  src/Uno.UI.Runtime.Skia.Gtk/Rendering/GLRenderSurfaceBase.cs
Labels: area/skia ✏️

#16147 docs: Remote debugging using VS Code requires exporting DISPLAY in launch.json
  doc/articles/features/using-skia-gtk.md
Labels: kind/documentation

#16199 fix: Handle nested styles correctly in XAML generator
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Parser.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNS/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNS/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#16166 perf: Avoid type checks against UnsetValue
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/DataBinding/BindingPath.BindingItem.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyDetails.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyFactory.cs
  src/Uno.UI/UI/Xaml/UIElement.TextHelper.wasm.cs
Labels: platform/wasm 🌐

#16212 Revert "refactor: simplify clipping specifically on skia"
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️, area/code-generation, area/build, kind/documentation, area/sdk

#16223 docs: `Windowing`
  doc/articles/features/windows-ui-xaml-window.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16227 fix(ios): Adjust for duplicate gcparams
  build/nuget/uno.winui.common.targets
  src/Uno.Sdk/targets/xamarin-ios-maccatalyst-workarounds.targets
Labels: area/build

#16036 feat: Upri resources trimming
  build/cSpell.json
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  doc/articles/features/upri-trimming.md
  doc/articles/toc.yml
  src/SolutionTemplate/MyAppXamlTrim/MyAppXamlTrim.Shared/Strings/fr/Resources.resw
  src/SolutionTemplate/MyAppXamlTrim/MyAppXamlTrim.Wasm/MyAppXamlTrim.Wasm.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/LinkerHintsGenerator/LinkerDefinitionMergerTask.cs
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/ResourcesGenerationTask.cs
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/UpriFeaturesGeneratorTask.cs
  src/SourceGenerators/Uno.UI.Tasks/ResourcesGenerator/UpriSubstitutionsGeneratorTask.cs
  src/Uno.ResourceTrimmingValidator/Program.cs
  src/Uno.ResourceTrimmingValidator/Properties/launchSettings.json
  src/Uno.ResourceTrimmingValidator/Uno.ResourceTrimmingValidator.csproj
  src/Uno.UI.Wasm.Tests/Uno.UI.Wasm.Tests.csproj
Labels: area/solution-templates, area/code-generation, area/build, area/automation, kind/documentation

#16221 docs: remove duplicate references to themes articles
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16220 docs: fixes for header page references
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16154 docs: explain how to override msbuild location for vscode/winui builds
  doc/articles/Assets/quick-start/vs-code-settings-msbuild.png
  doc/articles/uno-build-error-codes.md
Labels: kind/documentation

#16228 docs: Add `ContentDialog` and `MessageDialog` docs
  doc/articles/features/dialogs.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16236 chore: Bump default resizetizer
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16242 docs: Fix misc broken links
  doc/articles/get-started-vscode-devkit.md
  doc/articles/migrating-from-net7-to-net8.md
Labels: kind/documentation

#16240 Revert #15620
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Transform_Update.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Transform_Update.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Update.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Clipping/UIElement_Clip_Update.xaml.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/Geometry.cs
  src/Uno.UI/UI/Xaml/Media/RectangleGeometry.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/automation

#15875 Skia hittesting with visuals
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/MixTransformCliPropertyAndClippedByParentWithBorders_Then_RenderingIsValid.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/MixTransformCliPropertyAndClippedByParentWithBorders_Then_RenderingIsValid.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/TransformElementClippedByParentWithBorder_Then_ClippingAppliedPostRendering.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/TransformElementClippedByParentWithBorder_Then_ClippingAppliedPostRendering.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/TransformElementClippedByParent_Then_ClippingAppliedPostRendering.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/TransformElementClippedByParent_Then_ClippingAppliedPostRendering.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionVisualSurface.skia.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/SkiaExtensions.skia.cs
  src/Uno.UI.Composition/Composition/Uno/DrawingSession.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_RatingControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_CompositionClip.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_CompositionNineGridBrush.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_EffectiveViewport.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.TransformToVisual.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.EffectiveViewport.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.MuxInternal.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/skia ✏️, area/automation

#16258 docs: remove solo Linux tab, fix selected tab.
  doc/articles/get-started-vscode.md
Labels: kind/documentation

#16253 Revert "Merge pull request #15946 from unoplatform/dev/dr/irVirIssue"
  src/SamplesApp/UITests.Shared/ItemExclusions.props
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/FlowLayout_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/StackLayout_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/UniformGridLayout_Simple.xaml.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/TestUI/Samples/AnimationSamples/DefaultElementAnimator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/StackLayout.cs
Labels: area/automation

#16259 docs: remove duplicated text
  doc/articles/includes/use-uno-check-inline-windows-noheader.md
Labels: kind/documentation

#16205 ci: Enable macOS regression testing
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-stages.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/test-scripts/run-netcore-mobile-template-tests.ps1
Labels: area/build

#16272 chore: update implicit packages
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16273 build: Cleanup UnoForceHotReloadCodeGen value needed only for old C# versions
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
Labels: area/code-generation

#16202 feat: add support for ExtendIntoTitleBar on WPF
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/GtkWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindow.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml/Window.cs
  src/Uno.UI/UI/Xaml/Window/Native/INativeWindowWrapper.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
  src/Uno.UI/UI/Xaml/Window/Window.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplicationViewTitleBar.skia.cs
Labels: area/skia ✏️

#16288 docs: Update uno.sdk for csproj TFMs ordering
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16291 docs: update image.
  doc/articles/Assets/quick-start/wasm-debugging-iis-express.png
Labels: kind/documentation

#16295 docs: Updated docs with new single project structure and wizard
  doc/articles/getting-started/wizard/assets/testing.jpg
  doc/articles/getting-started/wizard/assets/testing.png
  doc/articles/getting-started/wizard/includes/platforms.md
  doc/articles/getting-started/wizard/includes/testing.md
Labels: kind/documentation

#16188 doc: Counter Workshop - update doc to fit uno 5.2 structure.
  doc/articles/getting-started/counterapp/Assets/counter-solution-csharp.png
  doc/articles/getting-started/counterapp/Assets/counter-solution-xaml.png
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvvm.md
  doc/articles/getting-started/counterapp/includes/include-elements-csharp.md
  doc/articles/getting-started/counterapp/includes/include-image-csharp.md
  doc/articles/getting-started/counterapp/includes/include-image-xaml.md
  doc/articles/getting-started/counterapp/includes/include-mainpage-change-layout.md
  doc/articles/getting-started/counterapp/includes/include-mainpage-layout.md
  doc/articles/getting-started/counterapp/includes/include-mainwindow.md
  doc/articles/getting-started/counterapp/includes/include-mvux.md
  doc/articles/getting-started/counterapp/includes/include-mvvm.md
  doc/articles/getting-started/counterapp/includes/include-solution.md
Labels: kind/documentation

#16256 docs: bring back missing doc. Reorder table for consistency.
  doc/articles/common-issues-skia.md
  doc/articles/get-started-rider.md
  doc/articles/get-started-vs-2022.md
  doc/articles/includes/additional-macos-setup-inline.md
  doc/articles/includes/additional-windows-setup-inline.md
Labels: kind/documentation

#16300 Fix Skia / SVG package references
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Uno.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.WinAppSdk.targets
Labels: area/sdk

#16307 docs: Update import_external_docs.ps1 to have the latest doc updates
  doc/import_external_docs.ps1
Labels: kind/documentation

#16302 Misc docs updates
  doc/articles/debugging-wasm.md
  doc/articles/features/Lottie.md
  doc/articles/features/svg.md
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#16317 ci: Clean artifacts after individual regression tests
  build/ci/.azure-devops-project-template-tests.yml
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
Labels: area/build

#16249 fix(iOS): multiple videos picker
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPickerTests.xaml.cs
  src/Uno.UWP/Storage/Pickers/FileOpenPicker.iOS.cs
Labels: platform/ios 🍎, area/automation

#16138 Tabbing out of WASM app
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Input/Given_UnoFocusInputHandler.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusChangedEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationReason.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationRequest.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationRequestEventArgs.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/FocusNavigationResult.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Input/InputFocusController.cs
  src/Uno.UI/Microsoft/UI/Input/FocusChangedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Input/FocusNavigationReason.cs
  src/Uno.UI/Microsoft/UI/Input/FocusNavigationRequest.cs
  src/Uno.UI/Microsoft/UI/Input/FocusNavigationRequestEventArgs.cs
  src/Uno.UI/Microsoft/UI/Input/FocusNavigationResult.cs
  src/Uno.UI/Microsoft/UI/Input/InputFocusController.cs
  src/Uno.UI/UI/Xaml/Hosting/FocusController.h.mux.cs
  src/Uno.UI/UI/Xaml/Hosting/FocusController.mux.cs
  src/Uno.UI/UI/Xaml/Hosting/NavigateFocusResult.mux.cs
  src/Uno.UI/UI/Xaml/Hosting/NavigationFocusEventArgs.h.mux.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.mux.cs
  src/Uno.UI/UI/Xaml/Input/Internal/CoreWindowFocusObserver.cs
  src/Uno.UI/UI/Xaml/Input/Internal/FocusObserver.cs
  src/Uno.UI/UI/Xaml/Input/Internal/UnoFocusInputHandler.cs
  src/Uno.UI/UI/Xaml/Internal/ContentRoot.cs
  src/Uno.UI/UI/Xaml/Internal/FocusAdapter.cs
  src/Uno.UI/UI/Xaml/Internal/FocusManagerCoreWindowAdapter.cs
  src/Uno.UI/UI/Xaml/Internal/FocusManagerXamlIslandAdapter.cs
  src/Uno.UI/UI/Xaml/Internal/Islands/XamlIsland.Root.cs
  src/Uno.UI/UI/Xaml/UIElement.wasm.cs
  src/Uno.UI/UI/Xaml/Window/WindowChrome.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm 🌐

#16323 docs: Update documentation for Uno.Themes, Figma, and Workshops with latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#16318 [SDK] Uno Theme transitive deps on Lottie
  doc/articles/features/Lottie.md
  doc/articles/features/using-the-uno-sdk.md
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/targets/Uno.Extensions.Implicit.Packages.ProjectSystem.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Uno.targets
Labels: kind/documentation, area/sdk

#16332 Windows SkiaSharp Views condition should match Uno condition
  doc/articles/features/using-the-uno-sdk.md
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/targets/Uno.Extensions.Implicit.Packages.ProjectSystem.targets
Labels: kind/documentation, area/sdk

#16209 fix(Geolocator): when requested in non-ui thread
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Devices/GeolocatorPositionChangedTest.xaml
  src/SamplesApp/UITests.Shared/Windows_Devices/GeolocatorPositionChangedTest.xaml.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.Android.cs
  src/Uno.UWP/Devices/Geolocation/Geolocator.iOSmacOS.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/automation

#16334 Bump MSAL version due to Security issue
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16193 docs: Remove current doc from Uno repo to use external doc from Uno.Samples to have the proper updated samples list
  doc/articles/toc.yml
  doc/articles/uno-samples.md
  doc/import_external_docs.ps1
  doc/import_external_docs_test.ps1
Labels: area/build, kind/documentation

#16336 Misc docs updates
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/upgrading-nuget-packages.md
Labels: kind/documentation

#16345 build: Cleanup unneeded package references
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
Labels: area/skia ✏️

#16316 fix: Always raise binding value changed when PropertyChanged event is raised
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingShouldBeAppliedOnPropertyChangedEvent.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingShouldBeAppliedOnPropertyChangedEvent.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingTests.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.inpc.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Data/xBindTests/Given_xBind_DataTemplate.cs
  src/Uno.UI/DataBinding/BindingPath.BindingItem.cs
Labels: area/automation

#16355 docs: Update uno solution app structure
  doc/articles/Assets/solution-structure.png
  doc/articles/toc.yml
  doc/articles/uno-app-solution-structure.md
Labels: area/build, kind/documentation

#16363 docs: Update doc with latest changes for Uno.Resizetizer and Uno.Extensions
  doc/import_external_docs.ps1
Labels: kind/documentation

#16361 Handle duplicate XAML files in codegen
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/GeneratorExecutionContextExtensions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/Uno.Sdk/targets/Uno.DefaultItems.targets
Labels: area/code-generation

#16373 Hot Restart fixes
  src/SolutionTemplate/5.2/uno52blank/uno52blank/uno52blank.csproj
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
Labels: area/solution-templates, area/code-generation

#16314 docs: Added the docs for GettingStartedWithTests
  doc/articles/getting-started/Assets/GeneratedTargets-min.png
  doc/articles/getting-started/Assets/ProjectStructure-Tests-min.png
  doc/articles/getting-started/Assets/TestExplorer-min.png
  doc/articles/getting-started/getting-started-tests.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16366 Fixes for Svg.Skia
  doc/articles/features/using-the-uno-sdk.md
  src/SolutionTemplate/5.2/uno52AppWithLib/Directory.Build.props
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/MainPage.xaml.cs
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/uno52AppWithLib.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52lib/Assets/icon_lib.svg
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52lib/Assets/test.xml
  src/Uno.Sdk/Models/CachedReferences.cs
  src/Uno.Sdk/Models/NuGetVersion.cs
  src/Uno.Sdk/Models/PackageReference.cs
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolverBase.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Uno.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Wasm.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.UI-Skia-only.slnf
Labels: area/solution-templates, kind/documentation, area/sdk

#16377 docs: Update to latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#16156 Clip improvements
  src/Uno.UI.Composition/Composition/CompositionClip.skia.cs
  src/Uno.UI.Composition/Composition/CompositionGeometricClip.skia.cs
  src/Uno.UI.Composition/Composition/CompositionViewBox.cs
  src/Uno.UI.Composition/Composition/CompositionViewBox.skia.cs
  src/Uno.UI.Composition/Composition/InsetClip.skia.cs
  src/Uno.UI.Composition/Composition/RectangleClip.skia.cs
  src/Uno.UI.Composition/Composition/ShapeVisual.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.EffectiveViewport.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
Labels: area/skia ✏️

#16391 docs: Update platform-specific-xaml.md
  doc/articles/platform-specific-xaml.md
Labels: kind/documentation

#13968 feat: Add support of Flyout.OverlayInputPassThroughElement
  build/PackageDiffIgnore.xml
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/FlyoutTests/UnoSamples_Tests.Flyout_OverlayInputPassThroughElement.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_OverlayInputPassThroughElement.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Flyout/Flyout_OverlayInputPassThroughElement.xaml.cs
  src/Uno.CrossTargetting.targets
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/NavigationView/NavigationViewTests.uno.cs
  src/Uno.UI.RuntimeTests/UITestsImport.props
  src/Uno.UI/Extensions/UIEventExtensions.iOSmacOS.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls.Primitives/FlyoutBase.cs
  src/Uno.UI/UI/Input/GestureRecognizer.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutPopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.cs
  src/Uno.UI/UI/Xaml/Controls/Primitives/SelectorItem.cs
  src/Uno.UI/UI/Xaml/HitTestability.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.mux.cs
  src/Uno.UI/UI/Xaml/Input/Internal/UnoFocusInputHandler.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Managed.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.iOS.cs
  src/Uno.UI/UI/Xaml/Internal/IRootElement.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.cs
  src/Uno.UI/UI/Xaml/Internal/Islands/XamlIsland.cs
  src/Uno.UI/UI/Xaml/Internal/Islands/XamlIsland.uno.cs
  src/Uno.UI/UI/Xaml/Internal/RootVisual.cs
  src/Uno.UI/UI/Xaml/Internal/UnoRootElementLogic.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.Android.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.iOS.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
  src/Uno.UWP/Collections/MaterializableList.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/build, area/automation

#16387 Fix invalid implicit packages read
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/targets/Uno.DefaultItems.Resizetizer.targets
Labels: area/build

#16394 chore: Bump android material to match android nav
  src/Uno.Sdk/packages.json
Labels: area/sdk

#16378 feat(wpf): Add Multi-Touch support on WPF platform
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
Labels: area/skia ✏️

#16416 docs: Update counter repo links
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvvm.md
Labels: kind/documentation

#16419 chore: update documentation
  doc/import_external_docs.ps1
Labels: kind/documentation

#16386 ci: Add CI.Assert helpers
  src/Uno.CrossTargetting.targets
  src/Uno.Foundation/CI.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#16389 ci: Stabilize snapshot tests more
  src/SamplesApp/UITests.Shared/Helpers/WaitableSampleImageHelpers.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/ProgressRingHeightTest.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ProgressRing/WinUIProgressRingPage.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Media/MediaPlayerTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageInStackPanel.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/ImageInStackPanel.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_Icons.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_Icons.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Uniform100x100.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Uniform100x100.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/UniformAlignmentCenterInDoubleStackPanelWebUri.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/UniformAlignmentCenterInDoubleStackPanelWebUri.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_3gp_Extension.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Mp3_Extension.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/MediaPlayerElement/MediaPlayerElement_Sources.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/BorderImageBrush.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/BorderImageBrush.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/BorderImageBrushRelativeTransform.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/BorderImageBrushRelativeTransform.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/EllipsemaskingEllipseSuperpositionPanel.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/EllipsemaskingEllipseSuperpositionPanel.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/Rectangle.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/ImageBrushTests/Rectangle.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/TransformToVisual_Translate2d.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/Image/Image.skia.cs
Labels: area/skia ✏️, area/automation

#16425 docs: Remove outdated xf doc
  doc/articles/howto-use-uno-in-xamarin-forms.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16398 ci: Adjust regression testing
  build/ci/.azure-devops-project-template-tests.yml
  build/test-scripts/run-netcore-mobile-template-tests.ps1
Labels: area/build

#16431 fix: Remove svg package from wasm head
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Uno.targets
Labels: area/build

#16438 fix: Fix `x:Bind` with empty path crashing when x:Load exists in the same page
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Binding.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#16445 feat(sdk): Add support for Apple Privacy Manifest
  build/cSpell.json
  doc/articles/features/using-the-uno-sdk.md
  src/SolutionTemplate/5.2/uno52blank/uno52blank/Platforms/iOS/PrivacyInfo.xcprivacy
  src/Uno.Sdk/targets/Uno.SingleProject.iOS.targets
Labels: area/solution-templates, area/build, kind/documentation

#16442 fix: use TaskHost in VS to force unloading of tasks binaries
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
Labels: area/code-generation

#16450 docs: Improve the "Using the Uno.Sdk" documentation
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#16245 Listview.ScrollIntoView for non-virtualizing panels
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_BringIntoView.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ListView/ListView_BringIntoView.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.managed.cs
Labels: area/automation

#15843 perf: Improve GeneratedDependencyProperty generated code
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/DependencyObject/DependencyPropertyGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/DependencyPropertyGeneratorTests/Given_DependencyPropertyGenerator.cs
Labels: area/code-generation

#16459 Adjust SVG docs
  doc/articles/features/svg.md
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#16446 fix: Don't include .json and .config files from the web sdk
  src/SolutionTemplate/5.2/uno52blank/uno52blank/TestStaticContent.json
  src/SolutionTemplate/5.2/uno52blank/uno52blank/uno52blank.csproj
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
Labels: area/solution-templates

#16452 fix: Flag image load failures as non-successful
  src/Uno.UI.Composition/Composition/SkiaCompositionSurface.skia.cs
Labels: area/skia ✏️

#16448 docs: Add Samples & Tutorials Overview Page
  doc/articles/samples-tutorials-overview.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#16464 docs: Additional adjustments to the "Using the Uno.Sdk" documentation
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#16384 build: Separate CI global.json files from local global.json
  .github/workflows/uwp-autoconvert.yml
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-macos.yml
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/.azure-devops-package-reference.yml
  build/ci/.azure-devops-package-skia.yml
  build/ci/.azure-devops-package-wasm.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/net7/global.json
  build/ci/net8/global.json
  build/ci/templates/dotnet-install.yml
  global.json
Labels: area/build

#16471 docs: adjust xrandr install command
  doc/articles/includes/additional-linux-setup-inline.md
Labels: kind/documentation

#16475 docs: Update documentation with latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#15856 feat: Port ItemsView
  src/SamplesApp/UITests.Shared/ItemExclusions.props
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ItemsViewTests/ItemsViewSummaryPage.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ItemsViewTests/ItemsViewSummaryPage.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ItemsViewTests/LoggingContentControl.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ItemsViewTests/Recipe.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Composition/Composition/InteractionTracker/InteractionTracker.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/ItemsView/ItemsViewTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Control_Visibility.cs
  src/Uno.UI.Tests/DependencyProperty/DependencyProperty_Owner.cs
  src/Uno.UI/Directory.Build.targets
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/ItemContainerAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/ItemsViewAutomationPeer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ItemContainer.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ItemsView.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ItemsViewItemInvokedEventArgs.cs
  src/Uno.UI/Helpers/WinUI/ResourceAccessor.ResourceKeys.cs
  src/Uno.UI/Helpers/WinUI/SharedHelpers.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainer.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainer.idl.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainer.properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainer.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainerAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainerInvokedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainerRevokers.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemContainer/ItemContainer_themeresources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ExtendedSelector.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsView.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsView.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsView.properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsView.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsViewAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsViewAutomationPeer.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsViewInteractions.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsViewItemInvokedEventArgs.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsViewItemInvokedEventArgs.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsViewTestHooks.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/ItemsView_themeresources.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/MultipleSelector.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/NullSelector.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/SelectorBase.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/SelectorBase.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/SingleSelector.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ItemsView/SingleSelector.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PointerInfo.h.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/SelectionModel.Header.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/SelectionModel.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ScrollPresenter/ScrollPresenter.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ScrollPresenter/ScrollPresenter.h.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/AutomationPeer.cs
Labels: area/automation

#16161 build: Don't include HAS_UNO_WINUI for Windows builds
  src/Directory.Build.props
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/InteractionTrackerAndExpressionAnimationSample.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Core/WindowActivationTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/ManipulationEvents.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_Basics.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_Inertia.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_WhenInScrollViewer.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/PointersEvents.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Input/SetProtectedCursor.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Basics.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Nested.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/XamlUICommandTests.xaml.cs
  src/Uno.CrossTargetting.targets
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_LayoutPanel.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_PipsPager.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_RatingControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_InteractionTracker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_LayoutSlot.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_NavigationView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TreeView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/UniformGridLayout/Given_UniformGridLayout.cs
  src/Uno.UI/Extensions/PrettyPrint.cs
Labels: area/automation

#16477 docs: Update why-uno-platform.md
  doc/articles/concepts/overview/why-uno-platform.md
Labels: kind/documentation

#16495 test: Ignore ItemsViewSummaryPage snapshot
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ItemsViewTests/ItemsViewSummaryPage.xaml.cs
Labels: area/automation

#16485 perf: Fix performance regression in FindName
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/Extensions/ViewExtensions.crossruntime.cs
  src/Uno.UI/Extensions/ViewExtensions.iOSmacOS.cs
  src/Uno.UI/Extensions/ViewExtensions.unittests.cs
  src/Uno.UI/UI/Xaml/IFrameworkElement.cs
Labels: platform/android 🤖, platform/macos 🍏, platform/ios 🍎

#16461 fix: Report `AppWindowTitleBar` customization as not supported, move `ExtendsContentIntoTitleBar`
  build/PackageDiffIgnore.xml
  src/Uno.UI.Runtime.Skia.Gtk/UI/Controls/UnoGtkWindow.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/UnoWpfWindow.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI/UI/Xaml/Window/Window.cs
  src/Uno.UWP/Generated/3.0.0.0/Microsoft.UI.Windowing/AppWindow.cs
  src/Uno.UWP/Generated/3.0.0.0/Microsoft.UI.Windowing/AppWindowTitleBar.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindow.cs
  src/Uno.UWP/Microsoft/UI/Windowing/AppWindowTitleBar.cs
  src/Uno.UWP/Microsoft/UI/Windowing/TitleBarHeightOption.cs
Labels: area/skia ✏️, area/build

#16498 test: Add ConditionalTestAttribute for more control on conditionally-ignored runtime tests
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestMethodInfo.cs
  src/Uno.UI.RuntimeTests/Helpers/ConditionalTestAttribute.cs
Labels: area/automation

#16465 feat: Support composition keyframe animations
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/Vector3KeyFrameAnimationSample.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/Vector3KeyFrameAnimationSample.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionAnimation.cs
  src/Uno.UI.Composition/Composition/CompositionObject.cs
  src/Uno.UI.Composition/Composition/Compositor.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimation.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimation.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/BooleanKeyFrameAnimation.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/IKeyFrameEvaluator.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/KeyFrameEvaluator.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/ScalarKeyFrameAnimation.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/ScalarKeyFrameAnimation.iOS.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/Vector2KeyFrameAnimation.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/Vector3KeyFrameAnimation.cs
  src/Uno.UI.Composition/Composition/KeyFrameAnimations/Vector4KeyFrameAnimation.cs
  src/Uno.UI.Composition/Composition/ScalarKeyFrameAnimation.cs
  src/Uno.UI.Composition/Composition/SpriteVisual.iOS.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/BooleanKeyFrameAnimation.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Compositor.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Vector2KeyFrameAnimation.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Vector3KeyFrameAnimation.cs
  src/Uno.UI.Composition/Generated/3.0.0.0/Microsoft.UI.Composition/Vector4KeyFrameAnimation.cs
Labels: platform/ios 🍎, area/skia ✏️, area/automation
