Repository unoplatform/uno, pull requests merged in 2024-09, with the labels that each got.

#18106 build: Fix TestFlight build
  build/ci/.azure-devops-ios-tests.yml
  build/test-scripts/ios-uitest-build.sh
Labels: area/build

#18091 perf: Avoid unnecessary boxing enumeration in ResetRenderOrder
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
Labels: area/skia ✏️

#18074 feat: ios inspectable on webview2
  doc/articles/controls/WebView.md
  doc/articles/feature-flags.md
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
Labels: platform/macos 🍏, platform/ios 🍎, kind/documentation

#18107 chore(deps): Update Uno.Resizetizer
  src/Uno.Sdk/packages.json
Labels: area/sdk

#18098 fix: ActionAppNotificationSettings `Launcher` missing package reference
  src/SamplesApp/UITests.Shared/Windows_System/LauncherTests.xaml
  src/SamplesApp/UITests.Shared/Windows_System/LauncherTests.xaml.cs
  src/Uno.UWP/System/Launcher.Android.SpecialUris.cs
Labels: area/automation

#18110 docs: Update documentation to latest including more fixes for broken links
  doc/import_external_docs.ps1
Labels: kind/documentation

#18116 ci: Remove version config
  gitversion.yml
Labels: area/build

#16621 feat: introduce GLCanvasElement to allow externally adding sophisticated graphics
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/.azure-devops-wasdk.yml
  build/filters/Uno.UI-packages-skia.slnf
  build/test-scripts/run-net7-template-linux.ps1
  doc/articles/controls/GLCanvasElement.md
  doc/articles/controls/SKCanvasElement.md
  doc/articles/toc.yml
  src/AddIns/Uno.WinUI.Graphics3DGL/GLCanvasElement.cs
  src/AddIns/Uno.WinUI.Graphics3DGL/Uno.WinUI.Graphics3DGL.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/GLCanvasElement_Cube.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/GLCanvasElement_Cube.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/GLCanvasElement_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/GLCanvasElement_Simple.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/RotatingCubeGlCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SimpleTriangleGlCanvasElement.cs
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.WinAppSdk.targets
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI-Windows-only.slnf
  src/Uno.UI.Dispatching/AssemblyInfo.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeOpenGLWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.NativeMethods.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/WindowsRenderingNativeMethods.cs
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.X11/Uno.UI.Runtime.Skia.X11.csproj
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11NativeOpenGLWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
  src/Uno.UI.sln
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/Graphics/INativeOpenGLWrapper.cs
  src/Uno.UWP/AssemblyInfo.cs
  src/Uno.UWP/Storage/Streams/Buffer.cs
Labels: area/skia ✏️, area/build, area/automation, kind/documentation, area/sdk

#18120 feat(wasm): Remove dependency on js invocation internal calls
  src/SourceGenerators/Uno.UI.SourceGenerators.Internal/TSBindings/TSBindingsGenerator.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/Runtime.wasm.cs
  src/Uno.Foundation.Runtime.WebAssembly/Interop/WebAssembly.Runtime.cs
  src/Uno.Foundation/FoundationFeatureConfiguration.cs
  src/Uno.UI.Wasm.Tests/Tests/TSBindingsTests.cs
  src/Uno.UI/UI/Xaml/Window/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/Interop/Runtime.ts
  src/Uno.UI/ts/MonoSupport.ts
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UI/ts/Windows/Storage/ApplicationDataContainer.ts
  src/Uno.UI/ts/Windows/Storage/StorageFolder.ts
  src/Uno.UI/tsBindings/Microsoft_UI_Xaml_NativePointerEventArgs.ts
  src/Uno.UI/tsBindings/Microsoft_UI_Xaml_NativePointerEventResult.ts
  src/Uno.UI/tsBindings/Microsoft_UI_Xaml_NativePointerSubscriptionParams.ts
  src/Uno.UI/tsBindings/WindowManagerArrangeElementParams.ts
  src/Uno.UI/tsBindings/WindowManagerCreateContentParams.ts
  src/Uno.UI/tsBindings/WindowManagerDestroyViewParams.ts
  src/Uno.UI/tsBindings/WindowManagerMeasureViewParams.ts
  src/Uno.UI/tsBindings/WindowManagerRegisterPointerEventsOnViewParams.ts
  src/Uno.UI/tsBindings/WindowManagerRegisterUIElementParams.ts
  src/Uno.UI/tsBindings/WindowManagerRegisterUIElementReturn.ts
  src/Uno.UI/tsBindings/WindowManagerResetStyleParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetAttributeParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetAttributesParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetClassesParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetElementTransformParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetPointerEventsParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetPropertyParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetSinglePropertyParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetStyleStringParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetStylesParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetUnsetClassesParams.ts
  src/Uno.UI/tsBindings/WindowManagerSetVisibilityParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_ClearParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_ContainsKeyParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_ContainsKeyReturn.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_GetCountParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_GetCountReturn.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_GetKeyByIndexParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_GetKeyByIndexReturn.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_GetValueByIndexParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_GetValueByIndexReturn.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_RemoveParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_RemoveReturn.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_SetValueParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_TryGetValueParams.ts
  src/Uno.UI/tsBindings/Windows_Storage_ApplicationDataContainer_TryGetValueReturn.ts
  src/Uno.UI/tsBindings/Windows_Storage_StorageFolderMakePersistentParams.ts
  src/Uno.UWP/Storage/ApplicationDataContainer.wasm.cs
  src/Uno.UWP/Storage/StorageFolder.native.Interop.wasm.cs
  src/Uno.UWP/Storage/StorageFolder.wasm.cs
Labels: platform/wasm 🌐, area/code-generation, area/automation

#18123 fix: Compare the right font in OnFontLoaded when FontFamily contains '#'
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetailsCache.skia.cs
Labels: area/skia ✏️

#18143 docs: Update Uno.Extensions to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#18156 docs: Update how-to-create-control-libraries
  doc/articles/guides/how-to-create-control-libraries.md
Labels: kind/documentation

#18155 docs: Add Android platform specific for `RequestAccessAsync`
  doc/articles/features/windows-devices-geolocation.md
Labels: kind/documentation

#18153 feat: Make breaking on unhandled exceptions opt-in
  doc/articles/features/unhandled-exceptions.md
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.Sdk/targets/Uno.Common.targets
Labels: area/code-generation, kind/documentation

#18149 chore(iOS): TextBox shouldReturn capture exception
  src/Uno.UI/UI/Xaml/Controls/TextBox/SinglelineTextBoxDelegate.iOS.cs
Labels: platform/ios 🍎

#18154 fix: Use `FallbackColor` for unsupported brushes on iOS
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Rectangle.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.iOSmacOS.cs
Labels: platform/macos 🍏, platform/ios 🍎

#18150 refactor: DP cleanup
  src/Uno.UI.Tests/BinderTests/Given_BindingPath.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/DataBinding/BindingPath.BindingItem.cs
  src/Uno.UI/DataBinding/BindingPath.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.CacheKeys.cs
  src/Uno.UI/DataBinding/BindingPropertyHelper.cs
  src/Uno.UI/UI/Xaml/Controls/AutoSuggestBox/AutoSuggestBox.cs
  src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Timeline.cs
  src/Uno.UI/UI/Xaml/Setter.cs
Labels: area/automation

#18175 docs: Add Creating Custom Controls page
  doc/articles/guides/creating-custom-controls.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#18196 build: Fix DevServer package
  build/nuget/Uno.WinUI.DevServer.nuspec
Labels: area/build

#17930 build: Update to .NET 9 SDK RC1
  .github/workflows/uwp-autoconvert.yml
  Directory.Build.props
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-docs.yml
  build/ci/net9/global.json
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/nuget/Uno.WinUI.DevServer.nuspec
  build/nuget/Uno.WinUI.Lottie.nuspec
  build/nuget/Uno.WinUI.MSAL.nuspec
  build/nuget/Uno.WinUI.RemoteControl.nuspec
  build/nuget/Uno.WinUI.Svg.nuspec
  build/nuget/Uno.WinUI.XamlHost.nuspec
  build/nuget/Uno.WinUI.nuspec
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Directory.Build.targets
  src/SolutionTemplate/5.2/uno52AppWithLib/Directory.Build.targets
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/uno52AppWithLib.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52emptylib/uno52emptylib.csproj
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52lib/uno52lib.csproj
  src/SolutionTemplate/5.2/uno52Lib/uno52Lib.csproj
  src/SolutionTemplate/5.2/uno52NuGetLib/uno52NuGetLib.csproj
  src/SolutionTemplate/5.2/uno52SingleProjectLib/uno52SingleProjectLib.csproj
  src/SolutionTemplate/5.2/uno52blank/Directory.Build.targets
  src/SolutionTemplate/5.2/uno52blank/uno52blank/uno52blank.csproj
  src/SolutionTemplate/Directory.Build.targets
  src/Uno.Sdk/packages.json
  src/Uno.UI.RemoteControl.Host/Config/global-net9.0.json
  src/Uno.UI.Runtime.Skia.Wpf/Builder/WpfHostBuilder.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Workaround-43339.targets
  src/targetframework-override.props
Labels: area/solution-templates, area/skia ✏️, area/build, area/sdk

#15773 feat: `WebView2` and `WebView` updates
  build/PackageDiffIgnore.xml
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeWebView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.Properties.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.unsupported.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/CoreWebView2.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/InternalWebClient.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/NativeWebViewWrapper.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/INativeWebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Wasm/NativeWebView.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Wasm/NativeWebView.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView1/WebView.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/WebView2/WebView2.cs
  src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml
  src/Uno.UI/WasmCSS/Uno.UI.css
  src/Uno.UI/ts/Windows/UI/Xaml/Controls/WebView.ts
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/build

#18199 chore: Inspectable WebView not applied correctly
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
Labels: platform/macos 🍏, platform/ios 🍎

#18193 fix(reg): Workaround Gallery measure issue on Android
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI/Extensions/ViewExtensions.Android.cs
  src/Uno.UI/UI/Xaml/ILayouterElement.cs
  src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/android 🤖

#18217 docs: Revert to previous commit hash as latest workshops doc changes are not ready for release
  doc/import_external_docs.ps1
Labels: kind/documentation

#18203 ci: Adjust publishing
  build/Uno.UI.Build.csproj
  build/ci/.azure-devops-package.yml
  build/ci/.azure-devops-project-template-tests.yml
  build/ci/.azure-devops-publish-nuget-dev.yml
  build/ci/.azure-devops-publish-nuget-prod-dev.yml
  build/ci/.azure-devops-publish-nuget-prod.yml
  build/ci/.azure-devops-stages.yml
  build/ci/templates/nuget-publish-dev.yml
  build/ci/templates/nuget-publish-public.yml
Labels: area/build

#18200 fix(iOS): null pointer exception when calculating panel offset
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: platform/ios 🍎

#18167 feat(skia): touch selection and navigation for TextBox
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.pointers.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
Labels: area/skia ✏️

#18247 chore: Adjust publish names
  build/ci/.azure-devops-stages.yml
  build/ci/templates/nuget-publish-dev.yml
  build/ci/templates/nuget-publish-public.yml
Labels: area/build

#10000 feat: In-app rating on iOS
  src/Uno.UWP/Generated/3.0.0.0/Windows.Services.Store/StoreContext.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Services.Store/StoreRateAndReviewResult.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.Services.Store/StoreRateAndReviewStatus.cs
  src/Uno.UWP/Services/Store/StoreContext.Android.cs
  src/Uno.UWP/Services/Store/StoreContext.cs
  src/Uno.UWP/Services/Store/StoreContext.iOS.cs
  src/Uno.UWP/Services/Store/StoreProduct.cs
  src/Uno.UWP/Services/Store/StoreProductResult.cs
  src/Uno.UWP/Services/Store/StoreRateAndReviewResult.cs
  src/Uno.UWP/Services/Store/StoreRateAndReviewStatus.cs
Labels: platform/android 🤖, platform/ios 🍎

#18255 docs: Update Uno Themes documentation to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#18181 feat(skia): SKCanvasElement
  build/filters/Uno.UI-packages-skia.slnf
  doc/articles/controls/SKCanvasElement.md
  src/AddIns/Uno.WinUI.Graphics2DSK/SKCanvasElement.cs
  src/AddIns/Uno.WinUI.Graphics2DSK/Uno.WinUI.Graphics2DSK.csproj
  src/AddIns/Uno.WinUI.Graphics3DGL/Uno.WinUI.Graphics3DGL.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SKCanvasElementImpl.skia.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SKCanvasElement_Simple.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SKCanvasElement_Simple.xaml.cs
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI.Composition/AssemblyInfo.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_SKCanvasElement.skia.cs
  src/Uno.UI.RuntimeTests/Uno.UI.RuntimeTests.Skia.csproj
  src/Uno.UI.sln
  src/Uno.UI/AssemblyInfo.cs
Labels: area/skia ✏️, area/build, area/automation, kind/documentation, area/sdk

#18264 feat: Bump Uno.Fonts to 2.4.5
  build/nuget/Uno.WinUI.nuspec
  src/SamplesApp/Directory.Build.targets
  src/Uno.Sdk/packages.json
Labels: area/build, area/automation, area/sdk

#18205 chore: iOS VirtualizingPanel enable nullable
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.iOS.cs
Labels: platform/ios 🍎

#18272 docs: Update Uno.Toolkit doc to fix Material Toolkit Upgrading doc to be at the correct level
  doc/import_external_docs.ps1
Labels: kind/documentation

#18276 fix(fb): Ensure that FB has a Window to render to
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Renderer.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/UI/FrameBufferWindowWrapper.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
Labels: area/skia ✏️

#18275 test: Update ios testing to 17.5
  build/test-scripts/ios-uitest-run.sh
Labels: area/build

#18286 chore: Bump to latest bootstrapper
  src/Directory.Build.targets
  src/Uno.Sdk/packages.json
Labels: area/sdk

#18295 ci: Don't push private sdk package
  build/ci/templates/nuget-publish-public.yml
Labels: area/build

#18301 chore: Adjust diff ignore after release
  build/PackageDiffIgnore.xml
Labels: area/build

#18300 fix: Ensure wwwroot assets are copied properly
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/uno52AppWithLib.csproj
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/uno53net9blank.csproj
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
Labels: area/solution-templates

#18291 fix: Adjust AddIn path
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
Labels: area/automation

#18288 docs: Update migration doc
  build/cSpell.json
  doc/articles/features/image.md
  doc/articles/features/windows-ui-markup-extensions.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/migrating-from-previous-releases.md
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation

#18316 docs: Miscellaneous documentation fixes
  doc/articles/create-an-app-rider.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#18312 fix: Prefix type in `x:Bind` codegen with `global::`
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#18318 fix(drag&drop): X11 file dropping support
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/ClipboardTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/ClipboardTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Files.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Files.xaml.cs
  src/Uno.UI.Runtime.Skia.X11/X11ClipboardExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11DragDropExtension.cs
Labels: area/automation

#18326 fix(codegen): Adjust mvvm toolkit properties discovery
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_MvvmGeneratedMembers.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/ObservablePropertyGenerator_TestRepro.MySubViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/ObservablePropertyGenerator_TestRepro.MyViewModel.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/ObservablePropertyGenerator___KnownINotifyPropertyChangedArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/ObservablePropertyGenerator___KnownINotifyPropertyChangingArgs.g.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.Propagation.cs
Labels: area/code-generation, area/automation

#18309 chore: Fail safe in SamplesApp `IWaitableSample` samples
  src/SamplesApp/UITests.Shared/Helpers/WaitableSampleImageHelpers.cs
Labels: area/automation

#18304 chore: Cleanup non-existing xmlns that shows as IDE-only error
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/Button.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/ListView.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/ListViewItem.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/Path.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/RadioButton.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/TextBlock.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/TextBox.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/ToggleButton.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/_Controls.xaml
Labels: area/automation

#18036 fix: Avoid TFM error on SamplesApp.UITests
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
Labels: area/automation

#18340 chore: Fix build
  src/SamplesApp/SamplesApp.UITests/SamplesApp.UITests.csproj
Labels: area/automation
