Repository unoplatform/uno, pull requests merged in 2025-08, with the labels that each got.

#20626 chore: Bump Uno.Sdk.Extras
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.Sdk/packages.json
Labels: area/build, area/sdk

#21175 fix: avoid race to call some API before NSApplication is running
  src/Uno.UI.Runtime.Skia.MacOS/Hosting/MacSkiaHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/Native/NativeUno.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOApplication.h
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOApplication.m
Labels: platform/macos 🍏

#21198 docs: update debugging-uno-ui.md
  doc/articles/uno-development/debugging-uno-ui.md
Labels: kind/documentation

#21219 ci: Adjust publish for release/stable/6.2 branch
  build/ci/templates/nuget-publish-dev.yml
Labels: area/build

#21221 ci: Adjust condition for the "Publish to Uno Dev Feed" step
  build/ci/templates/nuget-publish-dev.yml
Labels: area/build

#21181 feat: Update `RatingControl` to winui3/release/1.7.3
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/RatingControl.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/RatingControl_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/RatingControl/RatingControlTests.cs
  src/Uno.UI/UI/Xaml/Controls/RatingControl/RatingControl.h.mux.cs
  src/Uno.UI/UI/Xaml/Controls/RatingControl/RatingControl.mux.cs
Labels: ready-to-merge

#21189 feat: Shared `SKPicture` recording
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Runtime.Skia.Android/Rendering/UnoSKCanvasView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Rendering/UnoSKMetalView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Window/RootViewController.cs
  src/Uno.UI.Runtime.Skia.MacOS/UI/Xaml/Window/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Rendering/BrowserRenderer.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/UI/Xaml/Window/WebAssemblyWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/WebAssemblyWindowWrapper.ts
  src/Uno.UI.Runtime.Skia.Win32/Rendering/Win32WindowWrapper.Rendering.cs
  src/Uno.UI.Runtime.Skia.Win32/UI/Xaml/Window/Win32WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Hosting/IWpfXamlRootHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Xaml/Window/UnoWpfWindowHost.cs
  src/Uno.UI.Runtime.Skia.X11/Rendering/X11Renderer.cs
  src/Uno.UI.Runtime.Skia.X11/Rendering/X11XamlRootHost.Rendering.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.host.cs
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Internal/Scaling/XamlIslandRootScale.mux.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, platform/wpf 🪟, platform/x11 🐧

#21174 feat(macOS): Expose UseMetalOnMacOS feature
  src/Uno.UI.Runtime.Skia.MacOS/Hosting/MacSkiaHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOSoftView.m
  src/Uno.UI/FeatureConfiguration.cs
Labels: platform/macos 🍏

#21223 perf: reduce sk_canvas_set_matrix calls
  src/Uno.UI.Composition/Composition/Visual.skia.cs
Labels: area/skia ✏️

#21222 perf(visual): avoid SKPath creation for clipping when possible
  src/Uno.UI.Composition/Composition/BorderVisual.skia.cs
  src/Uno.UI.Composition/Composition/CompositionClip.skia.cs
  src/Uno.UI.Composition/Composition/InsetClip.skia.cs
  src/Uno.UI.Composition/Composition/RectangleClip.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
Labels: area/skia ✏️

#21248 perf: allow rendering to proceed even if the UI tree is not fully laid out
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
Labels: area/skia ✏️

#21199 chore!: Remove some use of [Export]
  src/Uno.UI.BindingHelper.Android/Uno/UI/UnoWebViewHandlerJavascriptInterface.java
  src/Uno.UI.Runtime.Skia.Android/ApplicationActivity.cs
  src/Uno.UI.Runtime.Skia.Android/Uno.UI.Runtime.Skia.Android.csproj
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Android/UnoWebViewHandler.Android.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
Labels: platform/android 🤖, area/skia ✏️

#21246 chore: Update README.md
  README.md
Labels: kind/documentation

#21259 Revert rendering changes
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Runtime.Skia.Android/Rendering/UnoSKCanvasView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Rendering/UnoSKMetalView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Window/RootViewController.cs
  src/Uno.UI.Runtime.Skia.MacOS/UI/Xaml/Window/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Rendering/BrowserRenderer.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/UI/Xaml/Window/WebAssemblyWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/WebAssemblyWindowWrapper.ts
  src/Uno.UI.Runtime.Skia.Win32/Rendering/Win32WindowWrapper.Rendering.cs
  src/Uno.UI.Runtime.Skia.Win32/UI/Xaml/Window/Win32WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Hosting/IWpfXamlRootHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Xaml/Window/UnoWpfWindowHost.cs
  src/Uno.UI.Runtime.Skia.X11/Rendering/X11Renderer.cs
  src/Uno.UI.Runtime.Skia.X11/Rendering/X11XamlRootHost.Rendering.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.host.cs
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Internal/Scaling/XamlIslandRootScale.mux.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, platform/wpf 🪟, platform/x11 🐧

#21257 fix(skia): TextBlock RenderTransform and FlowDirection issues
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/UIElement.cs
Labels: area/skia ✏️, ready-to-merge

#21298 fix: Avoid crash when iOS app is backgrounded
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.iOS.cs
Labels: platform/ios 🍎

#21290 chore: add emulator troubleshooting docs
  doc/articles/common-issues-mobile-debugging.md
  doc/articles/common-issues-vscode.md
  doc/articles/get-started-rider.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#21333 docs: Update migration documentation for 6.2 Release
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#21341 ci: Bump ios test to net9
  build/ci/tests/.azure-devops-tests-ios-native.yml
  build/ci/tests/.azure-devops-tests-ios-skia-build.yml
  build/test-scripts/ios-uitest-build.sh
  build/test-scripts/skia-ios-uitest-build.sh
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/TabViewTests/TabViewSelectionAndScrolling.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_TabView.cs
Labels: area/build, area/automation

#21354 docs(nativeelementhosting): add a note about alignment propagation from ControlControl to ContentPresenter
  doc/articles/features/using-skia-hosting-native-controls.md
Labels: kind/documentation

#21353 fix(visual): InvalidateParentChildrenPicture does not invalidate self even when includeSelf is true
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_ContainerVisual.cs
Labels: area/skia ✏️

#21358 chore: Update selected package versions in packages.json to match uno.templates 6.2
  src/Uno.Sdk/packages.json
Labels: area/sdk
