Repository unoplatform/uno, pull requests merged in 2025-02, with the labels that each got.

#19379 fix(textbox): accurately clear pending selections even when they're equal to the current selection
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#19418 fix(hr): Fix ENC1002 when dealing with event handlers
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1_xBind/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1_xBind/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1_xBind/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1_xBind/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_Delegates_Fuzzy_Matching_1_xBind/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WEOTLNDO/XamlCodeGenerator_MainWindow_c93db19a7202d9eb84ddc41d72fcb89b.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNWSRAE/XamlCodeGenerator_ResourceDictionary_When_Nested_With_Sibling_Ref_And_Event_6d62c5ee15120ed189e095faf6d37e20.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/BackingFieldDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/NameScope.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XBindEventInitializerDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XLoadScope.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlLazyApplyBlockIIndentedStringBuilder.cs
Labels: area/code-generation

#19416 docs: Miscellaneous docs updates and improvements
  doc/articles/create-an-app-vscode.md
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#19427 fix(textblock): use FallBackColor when the Foreground Brush is a GradientBrush
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/GradientBrushTests/GradientsPage.xaml
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️, area/automation

#19440 fix(vs): Use single TFM build feature from VS
  build/nuget/uno.winui.single-project.targets
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/targets/Uno.ProjectCapabilities.targets
  src/Uno.Sdk/targets/Uno.SingleProject.VS.Build.targets
Labels: area/build

#19436 fix(hr): Add dummy class at the end of the generated file
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#19444 docs: Adjust status health page
  doc/articles/includes/getting-help.md
Labels: kind/documentation

#19438 fix(hr): Don't import Microsoft.IO.RecyclableMemoryStream using nuget
  THIRD-PARTY-NOTICES.md
  build/nuget/Uno.WinUI.DevServer.nuspec
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Reference.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Skia.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.Wasm.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.RemoteControl/external/Microsoft.IO.RecyclableMemoryStream/EventArgs.cs
  src/Uno.UI.RemoteControl/external/Microsoft.IO.RecyclableMemoryStream/Events.cs
  src/Uno.UI.RemoteControl/external/Microsoft.IO.RecyclableMemoryStream/RecyclableMemoryStream.cs
  src/Uno.UI.RemoteControl/external/Microsoft.IO.RecyclableMemoryStream/RecyclableMemoryStreamManager.cs
Labels: area/build, kind/documentation

#19466 fix(trim): Adjust linker generator input and output paths for `UseArtifactsOutput`
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation, area/build

#19425 chore: fix ArcSegmentPage to correctly display on Skia
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Geometry/ArcSegmentPage.xaml
Labels: area/automation

#19474 fix: Android 15 window insets calculation
  src/SamplesApp/SamplesApp.netcoremobile/Android/AndroidManifest.xml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/WindowTests/Window_Metrics.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/WindowTests/Window_Metrics.xaml.cs
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.Android.cs
Labels: platform/android 🤖, area/automation

#19492 fix: Avoid `WRITE_EXPECTED` by default
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
Labels: area/code-generation

#19501 Android insets handling continued
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.Android.cs
Labels: platform/android 🤖

#18933 fix(pointers): Fix possible missing pointer exited event with touch using wasm on iOS/iPad
  src/Uno.UI/Runtime/BrowserPointerInputSource.wasm.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/ts/Runtime/BrowserPointerInputSource.ts
  src/Uno.UWP/UI/Core/PointerEventArgs.cs
Labels: platform/wasm 🌐

#19510 Android Insets Part 3 (+ `DiagnosticOverlay` positioning, AndroidX update)
  doc/articles/feature-flags.md
  src/Directory.Build.targets
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/WindowTests/Window_Metrics.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/WindowTests/Window_Metrics.xaml.cs
  src/Uno.UI.Composition/Uno.UI.Composition.netcoremobile.csproj
  src/Uno.UI.Dispatching/Uno.UI.Dispatching.netcoremobile.csproj
  src/Uno.UI.Toolkit/Diagnostics/DiagnosticsOverlay.Placement.cs
  src/Uno.UI.XamlHost/Uno.UI.XamlHost.netcoremobile.csproj
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Internal/VisualTree.cs
  src/Uno.UI/UI/Xaml/Internal/VisualTree.uno.cs
  src/Uno.UI/UI/Xaml/UIElement.Android.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UWP/Uno.netcoremobile.csproj
Labels: platform/android 🤖, area/automation, kind/documentation

#19363 chore: Bump sdk packages.json to 5.6
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/SolutionTemplate/5.3/uno53AppWithLib/uno53AppWithLib/uno53AppWithLib.csproj
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/uno53net9blank.csproj
  src/Uno.Sdk/packages.json
Labels: area/solution-templates, area/sdk

#19524 fix: Fix DataContext lost on second HR on Android
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Common.cs
  src/Uno.UI/Controls/NativeFramePresenter.Android.cs
Labels: platform/android 🤖

#19526 feat: Add UnoSdkVersion MSBuild property
  src/Uno.Sdk/Sdk/Sdk.props
  src/Uno.Sdk/Uno.Sdk.csproj
Labels: area/sdk

#19519 Default `Date`/`Calendar` picker dates
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarDatePicker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarView_Partial.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/DatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.iOS.cs
Labels: platform/android 🤖, platform/ios 🍎

#19515 feat: Recognize `.WinAppSDK.cs` in Uno.SDK
  doc/articles/features/using-the-uno-sdk.md
  src/Uno.Sdk/targets/Uno.CrossTargeting.targets
Labels: kind/documentation

#19513 docs: add missing uno.sdk feature
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#19447 docs: Adjust desktop publishing
  doc/articles/uno-publishing-desktop.md
Labels: kind/documentation

#18879 docs: Update xaml merge docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#19222 refactor: Unsingleton window factory on iOS
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI/UI/Xaml/Application.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.cs
  src/Uno.UI/UI/Xaml/Controls/Flyout/FlyoutBase.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/NativeTimePickerFlyout.iOS.cs
  src/Uno.UI/UI/Xaml/Internal/ContentManager/ContentManager.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/IWindowImplementation.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.others.cs
  src/Uno.UI/UI/Xaml/Window/Native/INativeWindowWrapper.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.iOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.macOS.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.reference.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.unittests.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.wasm.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
  src/Uno.UI/UI/Xaml/Window/Window.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎

#19528 fix(hr): Ignore bin and obj folders
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.Common.Status.cs
Labels: area/code-generation

#18613 chore: Misc GooglePlay package updates
  build/Uno.UI.Build.csproj
  doc/articles/features/using-the-uno-sdk.md
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.targets
Labels: area/build, kind/documentation

#19566 fix: Adjust explicit dependency to android appcompat
  build/nuget/Uno.WinUI.nuspec
Labels: area/build

#19429 feat(skia): support ImageBrushes with svg URIs
  build/PackageDiffIgnore.xml
  src/AddIns/Uno.UI.Svg/SvgProvider.cs
  src/Uno.UI/UI/Xaml/Media/ImageBrush.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/Svg/ISvgProvider.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.skia.cs
Labels: area/skia ✏️, area/build

#19569 docs: Update Hot Design documentation and clarify project selection for VS Code sign-in with Uno Platform account
  doc/articles/Assets/uno-settings-vsc-select-project.png
  doc/articles/get-started-licensing.md
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
  doc/articles/studio/Hot Design/hot-design-overview.md
Labels: kind/documentation

#19575 docs: Add details about VS Code's supported browsers
  doc/articles/Assets/quick-start/vs-code-chrome-debug.png
  doc/articles/create-an-app-vscode.md
Labels: kind/documentation

#19588 docs: Add Shiny .NET to supported 3rd-party libraries list
  doc/articles/supported-libraries.md
Labels: kind/documentation

#19581 fix: Ensure current date is applied in `CalendarDatePicker` on iOS
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarDatePicker.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/NativeScrollContentPresenter.iOS.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.iOS.cs
Labels: platform/ios 🍎

#19573 Ensuring items in the TOC are alphabetized for the reference section
  doc/articles/toc.yml
  src/Uno.UWPSyncGenerator/DocGenerator.cs
Labels: area/build, kind/documentation

#19595 docs(dotnet-new): Updated Framework tfm values
  doc/articles/getting-started/wizard/includes/framework.md
Labels: kind/documentation

#19584 HR: Changed the way code (XAML) is updated through Hot Reload
  src/Uno.UI.RemoteControl.Messaging/IDEChannel/ForceHotReloadIdeMessage.cs
  src/Uno.UI.RemoteControl.Messaging/IDEChannel/HotReloadRequestedIdeMessage.cs
  src/Uno.UI.RemoteControl.Messaging/IDEChannel/IdeMessageWithCorrelationId.cs
  src/Uno.UI.RemoteControl.Messaging/IDEChannel/IdeResultMessage.cs
  src/Uno.UI.RemoteControl.Messaging/IDEChannel/UpdateFileIdeMessage.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.cs
  src/Uno.UI.RemoteControl.VS/AbsolutePathComparer.cs
  src/Uno.UI.RemoteControl.VS/EntryPoint.cs
  src/Uno.UI.RemoteControl/HotReload/ClientHotReloadProcessor.ClientApi.cs
  src/Uno.UI.RemoteControl/HotReload/Messages/UpdateFile.cs
  src/Uno.UI.Tests/Helpers/Given_AbsolutePathComparer.cs
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
Labels: area/automation

#19597 fix: Avoid focusing `AutoSuggestBox` when switching tabs in Samples app
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
Labels: area/automation

#19607 docs: update toolkit docs
  doc/import_external_docs.ps1
Labels: kind/documentation

#19594 fix(wasm): Ensure proper dependents execution after 9.0.102
  src/SourceGenerators/Uno.UI.Tasks/Content/uno.ui.tasks.assets.targets
Labels: area/code-generation

#19544 fix(ContentPresenter): Content binding resolution
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_ContentBindingPath.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_ContentBindingPath.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentPresenter.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
Labels: do-not-merge/work-in-progress, area/code-generation

#19610 Implemented a new generator to embedded XAML sources into application for Hot Reload
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.XamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation
