Repository unoplatform/uno, pull requests merged in 2025-04, with the labels that each got.

#19784 fix: Adjust Harfbuzz dependencies
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.Skia.MacOS/Uno.UI.Runtime.Skia.MacOS.csproj
  src/Uno.UI.Runtime.Skia.Win32/Uno.UI.Runtime.Skia.Win32.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.X11/Uno.UI.Runtime.Skia.X11.csproj
Labels: platform/macos 🍏, area/skia ✏️, platform/wpf 🪟, platform/x11 🐧

#19796 fix(android): Don't recurse on unhandled key events
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/TextInputPlugin.cs
Labels: platform/android 🤖, area/skia ✏️

#19793 chore: add PreBuildUnoUITasks
  src/SamplesApp/SamplesApp.Skia.WebAssembly.Browser/SamplesApp.Skia.WebAssembly.Browser.csproj
  src/SamplesApp/SamplesApp.Skia.netcoremobile/SamplesApp.Skia.netcoremobile.csproj
Labels: area/automation

#19779 fix(Visual): update `GetTotalOffset` for Android compatibility
  src/Uno.UI.Composition/Composition/Visual.skia.cs
Labels: area/skia ✏️

#19782 Misc fixes for pointers on skia
  src/Uno.UI.Runtime.Skia.AppleUIKit/AppleUIKitPointerInputSource.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/AppleUIKitWindow.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
  src/Uno.UI.Tests/Windows_UI_Input/Given_GestureRecognizer.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.ManagedDirectManip.cs
Labels: platform/ios 🍎, area/skia ✏️, area/automation

#19804 fix: Wheel listener should not be passive
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserPointerInputSource.ts
Labels: platform/wasm 🌐

#19797 fix: Move Win32 methods to support assembly
  build/filters/Uno.UI-packages-skia.slnf
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Uno.UI.MediaPlayer.Skia.Win32.csproj
  src/SamplesApp/SamplesApp.Skia.Generic/SamplesApp.Skia.Generic.csproj
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI.Runtime.Skia.Win32.Support/AssemblyInfo.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/CLSID.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/ComHelpers.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/ComInterfaceTable.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/ComScope.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/GlobalInterfaceTable.UnknownStrategy.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/GlobalInterfaceTable.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/IComCallableWrapper.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/IID.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/IManagedWrapper.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/WinFormsComStrategy.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/Com/WinFormsComWrappers.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.json
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.txt
  src/Uno.UI.Runtime.Skia.Win32.Support/Uno.UI.Runtime.Skia.Win32.Support.csproj
  src/Uno.UI.Runtime.Skia.Win32/Uno.UI.Runtime.Skia.Win32.csproj
  src/Uno.UI.sln
Labels: area/build, area/automation, kind/documentation

#19766 fix(iOS): email compose
  src/Uno.UWP/ApplicationModel/Email/EmailManager.UIKit.cs
Labels: platform/ios 🍎

#19737 fix(ItemsRepeater): text selection on iOS
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/ItemsRepeater_NumberBox.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Repeater/ItemsRepeater_NumberBox.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ItemsRepeater.UIKit.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ItemsRepeater.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ViewportManagerWithPlatformFeatures.cs
Labels: platform/ios 🍎, area/automation

#19814 chore: Bump to latest public preview of SkiaSharp
  NuGet.Config
  build/nuget/Uno.WinUI.Lottie.nuspec
  build/nuget/Uno.WinUI.Svg.nuspec
  doc/articles/features/Lottie.md
  doc/articles/features/using-skia-desktop.md
  doc/articles/features/using-skia-gtk.md
  src/AddIns/Uno.UI.Lottie/buildTransitive/Uno.WinUI.Lottie.targets
  src/AddIns/Uno.UI.Svg/buildTransitive/Uno.WinUI.Svg.targets
  src/Directory.Build.targets
  src/SolutionTemplate/5.1/uno51blank/Directory.Packages.props
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/SolutionTemplate/UnoAppWinUI/UnoAppWinUI.Skia.Linux.FrameBuffer/UnoAppWinUI.Skia.Linux.FrameBuffer.csproj
  src/SolutionTemplate/UnoAppWinUI/UnoAppWinUI.Skia.WPF/UnoAppWinUI.Skia.WPF.csproj
  src/Uno.Sdk/packages.json
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/README.md
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/getSkiaSharpDylib.sh
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Uno.UI.RuntimeTests.HRApp.Skia.csproj
Labels: platform/macos 🍏, area/solution-templates, area/build, kind/documentation, area/sdk

#19822 fix(perf): Remove double Idle re-scheduling of composition animations
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
Labels: area/skia ✏️

#19753 fix(droid): TextBox default foreground not applied
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
Labels: platform/android 🤖

#19821 Improve CI
  build/ci/.azure-devops-package-netcoremobile.yml
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/convert-sourcetree-to-uwp.cmd
  src/Uno.UI-netcoremobile-only.slnf
  src/Uno.UI.sln
  src/Uno.WinUIRevert/Program.cs
  src/Uno.WinUIRevert/Uno.WinUIRevert.csproj
Labels: area/build

#19808 [Skia] image loading off UI thread
  src/Uno.UI/UI/Xaml/Media/ImageSource.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.skia.cs
Labels: area/skia ✏️

#19806 fix(wasm): fix selection with soft keyboards on Android
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserInvisibleTextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserInvisibleTextBoxViewExtension.ts
Labels: platform/wasm 🌐

#19775 feat: Input pane management
  build/PackageDiffIgnore.xml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/InputPaneTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/InputPaneTests.xaml.cs
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI.Runtime.Skia.Android/AndroidSkiaHost.cs
  src/Uno.UI.Runtime.Skia.Android/InputPaneExtension.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/ApplicationActivity.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Extensions/ExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Extensions/InputPaneExtension.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/AppleUIKitWindowWrapper.cs
  src/Uno.UI/UI/ViewManagement/InputPane/IInputPaneExtension.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.Android.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.Apple.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.others.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.skia.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPaneVisibilityEventArgs.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Android.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.OccludedPadding.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.mux.cs
  src/Uno.UWP/UI/Input/InputPaneInterop.Android.cs
  src/Uno.UWP/UI/Input/InputPaneInterop.Apple.cs
Labels: platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/build, area/automation

#19839 fix: Retrieve image path on UI thread
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
Labels: area/skia ✏️

#19832 feat(uno.sdk): include LibVLC binaries on Windows
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Uno.UI.MediaPlayer.Skia.Win32.csproj
  src/SamplesApp/SamplesApp.Skia.Generic/SamplesApp.Skia.Generic.csproj
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
  src/Uno.UI.Runtime.Skia.Win32/buildTransitive/Uno.WinUI.Runtime.Skia.Win32.targets
Labels: area/automation, area/sdk

#19849 docs: Update building-uno-ui.md
  doc/articles/uno-development/building-uno-ui.md
Labels: kind/documentation

#19850 docs: remove visual studio for mac references
  doc/.howto-template.md
  doc/articles/toc.yml
  doc/articles/uno-development/building-uno-macos.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/uno-development/contributing-intro.md
  doc/blog/201809-UnoUnderTheHoodXamlGeneration.md
Labels: area/build, kind/documentation

#19857 docs: improve CameraCaptureUI
  doc/articles/features/windows-media-capture.md
Labels: kind/documentation

#19817 fix: Adjust public APIs
  src/SamplesApp/SamplesApp.Skia.WebAssembly.Browser/Program.cs
  src/SamplesApp/SamplesApp.Skia.netcoremobile/MacCatalyst/Main.MacCatalyst.cs
  src/SamplesApp/SamplesApp.Skia.netcoremobile/iOS/Main.iOS.cs
  src/SamplesApp/SamplesApp.Skia.netcoremobile/tvOS/Main.tvOS.cs
  src/SolutionTemplate/5.6/uno56wasmskia/uno56wasmskia/Platforms/WebAssembly/Program.cs
  src/Uno.UI.Runtime.Skia.Android/AndroidHost.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/Controls/BaseActivity.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/Controls/CurrentActivityChangedEventArgs.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/Controls/OnSystemUiVisibilityChangeListener.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/TextEditState.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/TextEditingDelta.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/AppleUIKitHost.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Uno.UI.Runtime.Skia.AppleUIKit.csproj
  src/Uno.UI.Runtime.Skia.AppleUIKit/UnoSkiaAppDelegate.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WebAssemblyBrowserHost.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32NativeElementHostingExtension.cs
  src/Uno.UI/ActivityHelper.Android.cs
  src/Uno.UI/DelegateActivity.Android.cs
  src/Uno.UI/OnActivityResultArgs.Android.cs
  src/Uno.UI/UI/Xaml/Controls/DatePicker/NativeDatePickerFlyout.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TimePicker/UnoTimePickerDialog.Android.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/NativeWebView.unittests.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Wasm/HtmlWebViewElement.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Wasm/NativeWebView.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/NativeWebView.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/iOSmacOS/UnoWKWebView.iOSmacOS.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/solution-templates, area/skia ✏️, area/automation

#19820 chore: (iOS) enable mailapp as feature
  src/Uno.UWP/ApplicationModel/Email/EmailManager.UIKit.cs
  src/Uno.UWP/FeatureConfiguration/WinRTFeatureConfiguration.EmailManager.cs
Labels: platform/ios 🍎

#19865 docs: Update fixed Microsoft issues
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#19869 fix: Adjust compilation constants
  build/nuget/uno.winui.common.targets
  doc/articles/platform-specific-csharp.md
  src/Uno.UI.Runtime.Skia.Android/buildTransitive/Uno.WinUI.Runtime.Skia.Android.props
  src/Uno.UI.Runtime.Skia.AppleUIKit/buildTransitive/Uno.WinUI.Runtime.Skia.AppleUIKit.props
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/buildTransitive/Uno.WinUI.Runtime.Skia.Linux.FrameBuffer.targets
  src/Uno.UI.Runtime.Skia.MacOS/buildTransitive/Uno.WinUI.Runtime.Skia.MacOS.targets
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/buildTransitive/Uno.WinUI.Runtime.Skia.WebAssembly.Browser.targets
  src/Uno.UI.Runtime.Skia.Win32/buildTransitive/Uno.WinUI.Runtime.Skia.Win32.targets
  src/Uno.UI.Runtime.Skia.Wpf/buildTransitive/Uno.WinUI.Runtime.Skia.Wpf.targets
  src/Uno.UI.Runtime.Skia.X11/buildTransitive/Uno.WinUI.Runtime.Skia.X11.targets
  src/Uno.UI.Runtime.WebAssembly/buildTransitive/Uno.WinUI.Runtime.WebAssembly.targets
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/build, platform/wpf 🪟, kind/documentation, platform/x11 🐧

#19551 fix(styles): adjust `main.css` to fix 'SIGN IN' visibility on 13-inch screens
  doc/templates/uno/component/affix.scss
  doc/templates/uno/component/alerts.scss
  doc/templates/uno/component/breakpoints.scss
  doc/templates/uno/component/navbar.scss
  doc/templates/uno/main.scss
  doc/templates/uno/service/search.scss
  doc/templates/uno/styles/main.css
  doc/templates/uno/styles/main.css.map
Labels: kind/documentation

#19847 Uno islands ci fix
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_AcrylicBrush.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.cs
Labels: area/skia ✏️

#19879 Fix tests concurrency
  .vsts-ci-docs.yml
  .vsts-ci.yml
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.WindowHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_RelativeTransform.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Panel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Path.cs
Labels: area/skia ✏️

#19883 Fix Image_ImageSource_PixelSize
  src/Directory.Build.targets
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/Image_ImageSource_PixelSize.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Panel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Path.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.crossruntime.cs
Labels: area/automation

#19868 chore: update WebView_Alert to include script stopping
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2ViewModel.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_Alert.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_Alert.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Alert.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/WebView/WebView_Alert.xaml.cs
Labels: area/automation

#19846 feat(BitmapImage): image caching
  src/Uno.UI.Composition/Composition/FrameProviderFactory.skia.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/TestServices.WindowHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.Cache.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
Labels: area/skia ✏️

#19882 fix: Improve `When_Source_Changes` test reliability
  src/Uno.UI.Composition/Composition/RedirectVisual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_RedirectVisual.cs
Labels: area/skia ✏️

#19870 Adjust animations performance
  src/SamplesApp/UnoIslandsSamplesApp.Skia.Wpf/MainWindow.xaml
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/UnoSKMetalView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DispatcherAnimator.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/DispatcherAnimator.skia.cs
Labels: platform/ios 🍎, area/skia ✏️, area/automation

#19891 ci: Cache dotnet install and its workloads
  .vsts-ci-docs.yml
  .vsts-ci.yml
  build/ci/.azure-devops-stages-docs.yml
  build/ci/.azure-devops-stages.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/templates/dotnet-install.yml
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
Labels: area/build

#19873 fix: Adjust newline handling on iOS
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/InvisibleTextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/MultilineInvisibleTextBoxView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/SinglelineInvisibleTextBoxView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
Labels: platform/ios 🍎, area/skia ✏️

#19884 fix: `PasswordBox` should be filled on repeated focus
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/SinglelineInvisibleTextBoxView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
Labels: platform/ios 🍎, area/skia ✏️

#19885 fix: Do not crash on `CoreWindowContentRoot` on Skia
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
  src/Uno.UI/Controls/RootViewController.UIKit.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.UIKit.cs
Labels: platform/ios 🍎, area/skia ✏️

#19896 perf(Shadows): dramatically speed up the rendering of shadows on Skia
  src/Uno.UI.Composition/Composition/ShadowState.skia.cs
  src/Uno.UI.Toolkit/ElevatedView.cs
Labels: area/skia ✏️

#19872 refactor: Remove deprecated `SystemNavigationManagerPreview`
  doc/articles/features/app-close-handler.md
  doc/articles/toc.yml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Core/CloseRequestedTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Core/CloseRequestedTests.xaml.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSSystemNavigationManagerPreviewExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacSkiaHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.m
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Core/Preview/SystemNavigationManagerPreviewExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfExtensionsRegistrar.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Controls/WpfWindowWrapper.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation/AutomationProperties.cs
  src/Uno.UI/UI/Xaml/Window/Implementations/BaseWindowImplementation.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core.Preview/SystemNavigationCloseRequestedPreviewEventArgs.cs
  src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Core.Preview/SystemNavigationManagerPreview.cs
  src/Uno.UWP/UI/Core/Preview/Internal/ISystemNavigationManagerPreviewExtension.skia.cs
  src/Uno.UWP/UI/Core/Preview/SystemNavigationCloseRequestedPreviewEventArgs.cs
  src/Uno.UWP/UI/Core/Preview/SystemNavigationManagerPreview.cs
  src/Uno.UWP/UI/Core/Preview/SystemNavigationManagerPreview.skia.cs
Labels: platform/macos 🍏, area/skia ✏️, area/build, area/automation, platform/wpf 🪟, kind/documentation

#19903 chore: Update uno.check documentation to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#19831 fix(textblock): invalidate when the foreground changes
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_NavigationView.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Documents/TextElement.skia.cs
Labels: area/skia ✏️

#19861 fix: Re-enable activation assert
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#19898 refactor: Rename `CoreWindowContentRoot` for compatibility
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WebAssemblyBrowserHost.cs
  src/Uno.UI/DirectUI/DXamlCore.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.Base.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.mux.static.cs
  src/Uno.UI/UI/Xaml/Internal/ContentRoot.cs
  src/Uno.UI/UI/Xaml/Internal/ContentRootCoordinator.cs
  src/Uno.UI/UI/Xaml/Internal/CoreServices.cs
  src/Uno.UI/UI/Xaml/Internal/Scaling/RootScale.mux.cs
  src/Uno.UI/UI/Xaml/Internal/VisualTree.cs
Labels: platform/wasm 🌐

#19907 chore: Update uno.check documentation to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#19905 fix: Remove unused x64 dependency
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.txt
  src/Uno.UI.Runtime.Skia.Win32.Support/Uno.UI.Runtime.Skia.Win32.Support.csproj
  src/Uno.UI.Runtime.Skia.Win32/Uno.UI.Runtime.Skia.Win32.csproj
Labels: kind/documentation

#19900 ci: Adjust hosted agent usage
  build/ci/.azure-devops-docs.yml
  build/ci/.azure-devops-skia-tests-android.yml
  build/ci/.azure-devops-skia-tests-browser.yml
  build/ci/.azure-devops-skia-tests-build-android.yml
  build/ci/.azure-devops-skia-tests-build-browser.yml
  build/ci/.azure-devops-skia-tests-build.yml
  build/ci/.azure-devops-skia-tests.yml
  build/ci/.azure-devops-stages.yml
  build/ci/.azure-devops-unit-tests.yml
  build/ci/.azure-devops-wasdk.yml
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
Labels: area/skia ✏️, area/build

#19834 fix: avoid crashing on Windows when the MediaElement uno feature is present
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Win32MediaPlayerPresenterExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.X11/SharedMediaPlayerExtension.cs
  src/SamplesApp/SamplesApp.Skia.Generic/Program.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32Host.cs
Labels: area/automation

#19788 fix(TextBox): fix touch knob positioning when TextBox is scrolled
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#19925 Adjust package references
  build/nuget/uno.winui.runtime-replace.targets
  doc/articles/features/using-skia-desktop.md
  doc/articles/features/using-skia-gtk.md
  doc/articles/toc.yml
  src/Directory.Build.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Android.targets
  src/Uno.UI.Runtime.Skia.Android/Uno.UI.Runtime.Skia.Android.csproj
  src/Uno.UI.Runtime.Skia.AppleUIKit/Uno.UI.Runtime.Skia.AppleUIKit.csproj
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Uno.UI.Runtime.Skia.Linux.FrameBuffer.csproj
  src/Uno.UI.Runtime.Skia.MacOS/Uno.UI.Runtime.Skia.MacOS.csproj
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Uno.UI.Runtime.Skia.WebAssembly.Browser.csproj
  src/Uno.UI.Runtime.Skia.Win32/Uno.UI.Runtime.Skia.Win32.csproj
  src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj
  src/Uno.UI.Runtime.Skia.X11/Uno.UI.Runtime.Skia.X11.csproj
  src/Uno.UI.RuntimeTests/Tests/HotReload/Frame/HRApp/Uno.UI.RuntimeTests.HRApp.Skia.csproj
  src/Uno.UI/Uno.UI.Skia.csproj
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/build, platform/wpf 🪟, kind/documentation, platform/x11 🐧

#19916 fix(iOS): MediaPlayer resizing when video ends
  src/Uno.UWP/Media/Playback/MediaPlayer.Apple.cs
Labels: platform/ios 🍎

#19920 fix: Adjust native embedding support
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserMediaPlayerExtension.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserMediaPlayerPresenterExtension.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserNativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/UI/Xaml/Controls/WebView/BrowserWebViewProvider.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WebAssemblyBrowserHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserNativeElementHostingExtension.ts
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_BrowserHtmlElement.cs
  src/Uno.UI/NativeElementHosting/BrowserHtmlElement.cs
  src/Uno.UI/NativeElementHosting/BrowserHtmlElement.reference.cs
  src/Uno.UI/NativeElementHosting/BrowserHtmlElement.skia.cs
  src/Uno.UI/NativeElementHosting/BrowserHtmlElement.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
Labels: platform/wasm 🌐, area/skia ✏️

#19930 fix: Adjust for skiasharp 3 lottie reference
  build/nuget/Uno.WinUI.Lottie.nuspec
Labels: area/build

#19918 fix(TextBox): work around native text rendering bugs in SkiaSharp 3
  src/Uno.UI.Composition/Composition/Uno/UnoSkiaApi.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_Opacity.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
  src/Uno.UI/UI/Xaml/Documents/SKTextBlobBuilderExtensions.skia.cs
Labels: area/skia ✏️

#19939 feat: Throw error when `Window` factory was not registered
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.skia.cs
Labels: area/skia ✏️

#19935 perf(shadows): avoid SaveLayer calls in shadows
  src/Uno.UI.Composition/Composition/CompositionVisualSurface.skia.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/RedirectVisual.skia.cs
  src/Uno.UI.Composition/Composition/ShadowState.skia.cs
  src/Uno.UI.Composition/Composition/Uno/Visual.PaintingSession.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Renderer.cs
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
Labels: area/skia ✏️

#19942 perf: use GetMessage instead of busy waiting with PeekMessage
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.txt
  src/Uno.UI.Runtime.Skia.Win32/Win32EventLoop.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32Host.cs
Labels: kind/documentation

#19938 fix(macOS): Desktop MPE when player ends
  src/Uno.UI.Runtime.Skia.MacOS/MacOSMediaPlayerPresenterExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOMediaPlayer.m
Labels: platform/macos 🍏

#19937 fix(Droid): TextBox backspace
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/TextInputConnection.cs
Labels: platform/android 🤖, area/skia ✏️

#19931 feat: Add `AndroidX.Core.SplashScreen` to `Uno.Sdk`
  doc/articles/features/using-the-uno-sdk.md
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Android.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
Labels: kind/documentation, area/sdk

#19952 chore: check is path is not empty (instead of null)
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
Labels: platform/macos 🍏, platform/ios 🍎, area/skia ✏️

#19953 fix: avoid beeps for valid keystrokes on macOS
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
Labels: platform/macos 🍏

#19954 perf(macOS): remove some reflection for Skia/Metal
  src/Uno.UI.Runtime.Skia.MacOS/MacOSMetalRenderer.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/NativeSkia.cs
Labels: platform/macos 🍏

#19963 fix: Fix invalid sk3 svg decoding
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.skia.cs
Labels: area/skia ✏️

#19956 fix(text): revert text rendering changes on non-WASM
  src/Uno.UI.Composition/Composition/Uno/UnoSkiaApi.skia.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#19941 feat: Align `MainActivity` with Uno Templates
  src/SamplesApp/SamplesApp.Skia.netcoremobile/Android/MainActivity.Android.cs
  src/SamplesApp/SamplesApp.netcoremobile/Android/MainActivity.Android.cs
Labels: platform/android 🤖, area/automation

#19949 feat: Adjust full screen mode support
  src/Uno.Foundation/AssemblyInfo.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WebAssemblyWindowWrapper.Interop.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WebAssemblyWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/WebAssemblyWindowWrapper.ts
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.wasm.cs
Labels: platform/wasm 🌐

#19966 fix: Remove GTK references
  src/Uno.Sdk/UnoTarget.cs
  src/Uno.UI.RuntimeTests/Helpers/ConditionalTestHelper.cs
  src/Uno.UI.RuntimeTests/Helpers/RuntimeTestPlatforms.cs
  src/Uno.UI.RuntimeTests/Helpers/RuntimeTestsPlatformHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentControl.NativeElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
Labels: area/sdk

#19972 test: Temporarily disable Keyboard_Textbox_InsideScrollViewer_Validation
  src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs
Labels: area/automation

#19958 fix: Avoid `GetFocusedElement()` usages
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FocusManager/FocusManagerTest.xaml.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UnoKeyboardInputSource.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/common/CalendarHelper.h.cs
  src/Uno.UI/BannedSymbols.txt
  src/Uno.UI/Microsoft/UI/Xaml/Controls/BreadcrumbBar/BreadcrumbBar.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ViewManager.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.Android.cs
  src/Uno.UI/UI/ViewManagement/InputPane/InputPane.skia.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Controls/CalendarView/CalendarViewBaseItem.cs
  src/Uno.UI/UI/Xaml/Controls/CommandBar/CommandBar.Partial.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/ListViewBase.cs
  src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyoutPresenter.cs
  src/Uno.UI/UI/Xaml/Input/FocusManager.wasm.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindow.UIKit.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/automation, kind/documentation

#19974 fix: Add missing linker attributes for generated code
  src/SourceGenerators/SourceGeneratorHelpers/Helpers/AnalyzerSuppressions.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/UnoAssemblyHelper.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_Grid.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_MvvmGeneratedMembers.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ENQ/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ETQ/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_EmptyDataTemplatePage_0f836ad6c048ef5ac0e673406e3c3706.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_MyDictionary_b7707bcf1e73425b710b6a5d04177088.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TBTNSICB/XamlCodeGenerator_UserControl1_81d855d5b3bba02f594dcda3b149beb2.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIDFA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIM/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TMEWSFEL/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TMEWSWA/XamlCodeGenerator_MainWindow_c93db19a7202d9eb84ddc41d72fcb89b.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIAP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TNMEIRP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TRDAAPSSTP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWSRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTLNMDWTRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTPWXS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTW/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TVBP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WADPIT/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WDLSNVS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WEOTLNDO/XamlCodeGenerator_MainWindow_c93db19a7202d9eb84ddc41d72fcb89b.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUBS/XamlCodeGenerator_Grid_Uses_Both_Syntaxes_794c1760299b374d12fe38ba3b633206.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUCS/XamlCodeGenerator_Grid_Uses_Common_Syntax_8659265dc2cabf0b5a684f0f4b26f8b7.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNACPS/XamlCodeGenerator_Grid_Uses_New_Assigned_ContentProperty_Syntax_9f853e56098ff21d39f15479035509ef.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WGUNSS/XamlCodeGenerator_Grid_Uses_New_Succinct_Syntax_cc38332c9fd4c0da9c1fa0270bbd3609.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WI/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WLCHB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNIONE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNWSRAE/XamlCodeGenerator_ResourceDictionary_When_Nested_With_Sibling_Ref_And_Event_6d62c5ee15120ed189e095faf6d37e20.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WSXN/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXB/XamlCodeGenerator_ContentDialog1_4483f06b3f5899cc3b98f0345eeea8e5.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWCP/XamlCodeGenerator_Binding_Xaml_Object_With_Common_Properties_4891310bc693a433ba9a8e9f5113f94f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WXOWXOP/XamlCodeGenerator_Binding_Xaml_Object_With_Xaml_Object_Properties_5147419e44d1bc3e3f86860ad528476f.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlLazyApplyBlockIIndentedStringBuilder.cs
Labels: area/code-generation

#19978 fix: Adjust debug logging for iOS devices
  doc/articles/logging.md
  src/Uno.Sdk/targets/Uno.SingleProject.iOS.targets
Labels: kind/documentation

#19979 fix: Adjust svg.skia dependencies
  build/nuget/Uno.WinUI.Svg.nuspec
  src/AddIns/Uno.UI.Svg/External/SKSvg.Model.cs
  src/AddIns/Uno.UI.Svg/External/SkiaAssetLoader.cs
  src/AddIns/Uno.UI.Svg/External/SkiaModel.cs
  src/Directory.Build.targets
Labels: area/build

#19964 fix: Initial focus on iOS, carets not disappearing
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/InvisibleTextBoxViewExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: platform/ios 🍎, area/skia ✏️

#19986 docs: Adjust ios docs
  doc/articles/common-issues-ioscatalyst.md
  doc/articles/common-issues-skia.md
  doc/articles/common-issues-uwp.md
  doc/articles/common-issues.md
  doc/articles/toc.yml
  doc/articles/uno-builds-troubleshooting.md
Labels: area/build, kind/documentation

#19969 fix(border): fix anti aliasing for rounded corners
  src/SamplesApp/SamplesApp.Shared/Assets/When_CornerRadius_AntiAliasing.png
  src/SamplesApp/SamplesApp.Shared/SamplesApp.Shared.projitems
  src/Uno.UI.Composition/Composition/BorderVisual.skia.cs
  src/Uno.UI.Runtime.Skia.X11/X11AirspaceRenderHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
Labels: area/skia ✏️, area/automation, platform/x11 🐧

#19985 chore: Adjust iOS rendering
  build/ci/.azure-devops-ios-tests.yml
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/UnoSKMetalView.cs
Labels: platform/ios 🍎, area/skia ✏️

#19994 perf(skia): reduce SKCanvas.SetMatrix calls
  src/Uno.UI.Composition/Composition/Visual.skia.cs
Labels: area/skia ✏️

#19991 chore: revert previous WASM text workaround
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#20005 chore: fix assert
  src/Uno.UI.Composition/Composition/Visual.skia.cs
Labels: area/skia ✏️

#19996 fix: Update status bar on theme change Android
  src/Uno.UI/UI/Xaml/Application.Android.cs
  src/Uno.UI/UI/Xaml/Application.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
Labels: platform/android 🤖

#20008 fix: Avoid keeping font manifest stream open forever
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetailsCache.skia.cs
  src/Uno.UI/UI/Xaml/FontFamilyHelper.skia.cs
Labels: area/skia ✏️

#20013 perf(airspace): do not set the native clip path if it did not change
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/ApplicationActivity.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserNativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32NativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.Rendering.cs
  src/Uno.UI.Runtime.Skia.X11/X11AirspaceRenderHelper.cs
  src/Uno.UI.Runtime.Skia.X11/X11SoftwareRenderer.cs
Labels: platform/wasm 🌐, platform/android 🤖, area/skia ✏️, platform/x11 🐧

#19987 docs: add error ADB0020 to android common issues
  doc/articles/common-issues-android.md
  doc/articles/common-issues.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#20024 ci: Adjust samplesapp build versioning
  src/SamplesApp/SamplesApp.Skia.netcoremobile/SamplesApp.Skia.netcoremobile.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
Labels: area/automation

#20001 docs: Specifying visual tree for focus operations
  doc/articles/features/focus-management.md
Labels: kind/documentation

#20030 docs: add new http options
  doc/articles/getting-started/wizard/includes/extensions.md
Labels: kind/documentation

#20032 docs: kiota and refit http feature
  doc/articles/features/using-the-uno-sdk.md
Labels: kind/documentation

#20035 docs: fixing the logo asset path for the C#/MVVM Counter documentation
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
Labels: kind/documentation

#19999 fix(iOS): input text commands
  src/Uno.UI.Runtime.Skia.AppleUIKit/Extensions/CharacterExtensions.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/SinglelineInvisibleTextBoxDelegate.cs
Labels: platform/ios 🍎, area/skia ✏️

#20055 docs: Adding context about MainViewModel in Counter app MVUX variants…
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvvm.md
Labels: kind/documentation

#20016 fix(pointers): Restore multi-touch support
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/NativeOverlayLayer.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
Labels: platform/ios 🍎, area/skia ✏️

#20051 fix: Native clipping on iOS
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
Labels: platform/ios 🍎, area/skia ✏️

#20049 ci: Split more iOS tests
  build/ci/.azure-devops-ios-tests.yml
  build/test-scripts/ios-uitest-run.sh
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/FocusManagerDirectionTests/UnoSamples_Tests.FocusManagerDirection.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/Selection_Pointers.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
Labels: area/build, area/automation

#20053 fix(BackgroundTransition): keep rendering frames as long as a transition is active
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
Labels: area/skia ✏️

#20050 perf(macOS): remove reflection to create GRContext
  src/Uno.UI.Runtime.Skia.MacOS/MacOSMetalRenderer.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/NativeUno.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.h
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.m
Labels: platform/macos 🍏

#20066 fix: Bitmap image loading on WASM
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPicker_Bitmap.xaml
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileOpenPicker_Bitmap.xaml.cs
  src/Uno.UI/UI/Xaml/Media/ImageSource.crossruntime.cs
Labels: area/automation

#20079 fix(xBind): Fix TOC link that has been leading to a 404 file not found
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#20081 fix: Adjust splashscreen for delayed window.activate
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/AppleUIKitWindowWrapper.cs
Labels: platform/ios 🍎, area/skia ✏️

#20069 feat: Use `ShortcutManagerCompat`
  src/Uno.UWP/UI/StartScreen/Extensions/JumpListItemExtensions.Android.cs
  src/Uno.UWP/UI/StartScreen/Extensions/ShortcutInfoExtensions.Android.cs
  src/Uno.UWP/UI/StartScreen/JumpList.Android.cs
Labels: platform/android 🤖

#20074 fix: fix native element clipping on android when the clip is empty
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/ApplicationActivity.cs
Labels: platform/android 🤖, area/skia ✏️

#20076 perf(wasm): load images using the browser Canvas API
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/ImageLoader.ts
  src/Uno.UI/UI/Xaml/Media/Imaging/ImageSourceHelpers.cs
Labels: platform/wasm 🌐

#20087 fix: Improve native clipping on iOS
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
Labels: platform/ios 🍎, area/skia ✏️

#20031 perf: Centralize CompositionTarget
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.Skia.Generic/Program.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/Transform/Animated_View_With_Transformed_Ancestor.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media_Animation/Canvas_DependentAnimation.xaml.cs
  src/Uno.UI.Composition/Composition/CompositionAnimation.cs
  src/Uno.UI.Composition/Composition/CompositionEffectBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionMaskBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionNineGridBrush.skia.cs
  src/Uno.UI.Composition/Composition/CompositionObject.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/ExpressionAnimation.cs
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI.Composition/Composition/VisualCollection.cs
  src/Uno.UI.Dispatching/DispatchingFeatureConfiguration.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.Android.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.Apple.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.wasm.cs
  src/Uno.UI.Runtime.Skia.Android/AndroidChoreographerHandler.cs
  src/Uno.UI.Runtime.Skia.Android/AndroidSkiaXamlRootHost.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/ApplicationActivity.cs
  src/Uno.UI.Runtime.Skia.Android/Uno.UI.Runtime.Skia.Android.csproj
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/UnoSKMetalView.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FramebufferHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacSkiaHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserRenderer.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserRenderer.ts
  src/Uno.UI.Runtime.Skia.Win32/Win32Host.cs
  src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_And_Leak.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_DoubleAnimation.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Application.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTarget.crossruntime.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTargetTimer.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTargetTimer.skia.cs
  src/Uno.UI/UI/Xaml/XamlRoot.crossruntime.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.Android.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.Reference.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.UIKit.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.skia.cs
  src/Uno.UWP/ApplicationModel/Core/CoreApplication.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation, platform/wpf 🪟, platform/x11 🐧

#20092 fix: reset native clipping on macOS
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.MacOS/NativeUno.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.h
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.m
Labels: platform/macos 🍏

#20091 fix: Prevent temporary TextBox selection reset on text change
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.pointers.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia ✏️

#20107 fix: Avoid blue rectangle overlay on iOS input
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/InvisibleTextBoxViewExtension.cs
Labels: platform/ios 🍎, area/skia ✏️

#19665 fix(TextBox): fix MaxLength to work correctly with paste
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#20105 feat: Add File System Access API support check and `CookieManager` to WASM
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Uno.UI.Runtime.Skia.WebAssembly.Browser.csproj
  src/Uno.UI.Runtime.WebAssembly/Storage/Pickers/FileSystemAccessApiInformation.cs
  src/Uno.UI.Runtime.WebAssembly/Web/Http/Cookie.cs
  src/Uno.UI.Runtime.WebAssembly/Web/Http/CookieManager.cs
  src/Uno.UI.Runtime.WebAssembly/Web/Http/CookieSameSite.cs
  src/Uno.UI.Runtime.WebAssembly/Web/Http/SetCookieRequest.cs
Labels: platform/wasm 🌐

#20110 feat: Propagate `Popup` `ZIndex` to `PopupPanel`
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#20123 Revert "feat: Propagate `Popup` `ZIndex` to `PopupPanel` (backport #20110)"
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#20122 Revert "feat: Propagate `Popup` `ZIndex` to `PopupPanel`"
  src/Uno.UI/UI/Xaml/Controls/Popup/Popup.WithPopupRoot.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️

#20127 ci: Adjust base64 encoding
  build/test-scripts/android-run-skia-runtime-tests.sh
  build/test-scripts/android-uitest-run.sh
  build/test-scripts/ios-uitest-run.sh
  build/test-scripts/linux-skia-runtime-tests.sh
  build/test-scripts/macos-skia-runtime-tests.sh
  build/test-scripts/wasm-run-automated-uitests.sh
  build/test-scripts/wasm-run-skia-runtime-tests.sh
Labels: area/build

#20111 fix(textbox): keep textbox knob popups above all other popups
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Internal/VisualTree.uno.cs
Labels: area/skia ✏️

#20099 fix(macOS): fix resizing windows (bottom)
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.m
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Windowing/Given_AppWindow.cs
Labels: platform/macos 🍏

#20022 fix: Add missing `Window` and `XamlRoot` setters
  src/Uno.UI.Runtime.Skia.Android/AndroidSkiaWindowFactory.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/AppleUIKitWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/UnoSKMetalView.cs
  src/Uno.UI/UI/Xaml/Window/Native/Factory/NativeWindowFactory.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.UIKit.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapperBase.cs
Labels: platform/android 🤖, platform/ios 🍎, area/skia ✏️

#20108 fix(skia): Adjust xaml trimming sequencing
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/DependencyObjectAvailabilityGenerator.cs
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation, area/automation

#20136 fix(macOS): Route keyboard modifiers changes from native to managed
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.m
Labels: platform/macos 🍏
