Repository unoplatform/uno, pull requests merged in 2025-07, with the labels that each got.

#20878 docs(skcanvaselement): link uno.samples sample
  doc/articles/controls/SKCanvasElement.md
Labels: kind/documentation

#20899 fix(textblock): invalidate the inner TextVisual whenever the TextBlock changes layout
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextVisual.skia.cs
Labels: area/skia ✏️

#20900 docs: Update licensing docs and Settings
  doc/articles/Assets/features/hotreload/indicator-not-connected-with-flyout.png
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-licensing.md
  doc/articles/studio/Assets/cold-hd-after-beta-end.png
  doc/articles/studio/Assets/find-uno-account-button-on-homepage.png
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#20795 fix(win32): prevent render cycle from being reentrant in some cases
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.Rendering.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_SKCanvasElement.skia.cs
Labels: area/skia ✏️

#20771 fix(wasmskia): use webgl to load images instead of the 2d Canvas API to work around Skia alpha-premultiplication bug
  src/SamplesApp/UITests.Shared/Assets/when_alpha_blending.png
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Performance/Performance_ImageLoading.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/ImageLoader.ts
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
Labels: platform/wasm 🌐, area/automation

#20898 docs: add section for troubleshooting mem-leak on skia
  doc/articles/uno-development/troubleshooting-memory-issues.md
Labels: kind/documentation

#20938 ci: Adjust publish for release/stable/6.1 branch
  build/ci/templates/nuget-publish-dev.yml
Labels: area/build

#20947 chore: ignore When_Waiting_For_Another_Thread on wasm
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_SKCanvasElement.skia.cs
Labels: area/skia ✏️

#20962 chore: make When_Waiting_For_Another_Thread2 pass on Android
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_SKCanvasElement.skia.cs
Labels: area/skia ✏️

#20996 docs: Update samples-tutorials-overview.md to add the Hot Design Counter Tutorial info
  doc/articles/samples-tutorials-overview.md
Labels: kind/documentation

#20997 chore(Intro): Correct the actual number of full tutorials (Manual Backport #20945)
  doc/articles/intro.md
Labels: kind/documentation

#20778 docs(macOS): update macOS publishing docs for 6.1
  doc/articles/uno-publishing-desktop-macos.md
Labels: kind/documentation

#20951 Added telemetry to DevServer
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/TestCaseResult.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI-UnitTests-only.slnf
  src/Uno.UI.RemoteControl.DevServer.Tests/DevServerTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/GlobalUsings.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Helpers/DevServerTestHelper.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Helpers/ProcessUtil.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Helpers/SolutionHelper.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/ScopedServiceIsolationTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Telemetry/ContextualTelemetryTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Telemetry/ParentProcessObserverTelemetryTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Telemetry/ServerTelemetryTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Telemetry/TelemetryProcessorTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Telemetry/TelemetryTestBase.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Uno.UI.RemoteControl.DevServer.Tests.csproj
  src/Uno.UI.RemoteControl.Host/Extensibility/AddIns.cs
  src/Uno.UI.RemoteControl.Host/Extensibility/AddInsExtensions.cs
  src/Uno.UI.RemoteControl.Host/Extensibility/Uno.Utils.DependencyInjection/ServiceCollectionServiceExtensions.cs
  src/Uno.UI.RemoteControl.Host/Helpers/AssemblyHelper.cs
  src/Uno.UI.RemoteControl.Host/ParentProcessObserver.cs
  src/Uno.UI.RemoteControl.Host/Program.cs
  src/Uno.UI.RemoteControl.Host/Properties/launchSettings.json
  src/Uno.UI.RemoteControl.Host/RemoteControlExtensions.cs
  src/Uno.UI.RemoteControl.Host/RemoteControlServer.cs
  src/Uno.UI.RemoteControl.Host/Telemetry.md
  src/Uno.UI.RemoteControl.Host/Uno.UI.RemoteControl.Host.csproj
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.cs
  src/Uno.UI.RemoteControl.Server.Processors/Telemetry.md
  src/Uno.UI.RemoteControl.Server.Processors/TelemetryAttributeConfig.cs
  src/Uno.UI.RemoteControl.Server/Helpers/ServiceCollectionExtensions.cs
  src/Uno.UI.RemoteControl.Server/Telemetry/ConnectionContext.cs
  src/Uno.UI.RemoteControl.Server/Telemetry/FileTelemetry.cs
  src/Uno.UI.RemoteControl.Server/Telemetry/ITelemetry.cs
  src/Uno.UI.RemoteControl.Server/Telemetry/TelemetryAdapter.cs
  src/Uno.UI.RemoteControl.Server/Telemetry/TelemetryAttribute.cs
  src/Uno.UI.RemoteControl.Server/Telemetry/TelemetryGenericAdapter.cs
  src/Uno.UI.RemoteControl.Server/Telemetry/TelemetrySession.cs
  src/Uno.UI.RemoteControl.Server/Uno.UI.RemoteControl.Server.csproj
  src/Uno.UI.RemoteControl.TestProcessor/TelemetryTestProcessor.cs
  src/Uno.UI.RemoteControl.TestProcessor/Uno.UI.RemoteControl.TestProcessor.csproj
  src/Uno.UI.RemoteControl/AssemblyInfo.cs
  src/Uno.UI.RemoteControl/Messages/ProcessorsDiscovery.cs
  src/Uno.UI.RemoteControl/RemoteControlClient.cs
  src/Uno.UI.RuntimeTests/Helpers/RuntimeTestPlatforms.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Given_HotReloadWorkspace.cs
  src/Uno.UI.sln
Labels: area/automation, kind/documentation

#20990 chore: bump Microsoft.Identity.Client to 4.72.1 to fix malicious URL in comment
  build/nuget/Uno.WinUI.MSAL.nuspec
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Reference.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Skia.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Wasm.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.Windows.csproj
  src/AddIns/Uno.UI.MSAL/Uno.UI.MSAL.netcoremobile.csproj
  src/SamplesApp/SamplesApp.Skia.netcoremobile/SamplesApp.Skia.netcoremobile.csproj
  src/SamplesApp/SamplesApp.Skia/SamplesApp.Skia.csproj
  src/SamplesApp/SamplesApp.Wasm/SamplesApp.Wasm.csproj
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/SamplesApp/SamplesApp.netcoremobile/SamplesApp.netcoremobile.csproj
  src/SamplesApp/UnoIslands.Skia/UnoIslands.Skia.csproj
  src/SamplesApp/UnoIslandsSamplesApp.Skia/UnoIslandsSamplesApp.Skia.csproj
Labels: area/build, area/automation

#20916 fix(xbind): no longer trigger on host reload
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingTests.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBind_Resurrection.xaml
  src/Uno.UI.RuntimeTests/Tests/BindingTests/XBind_Resurrection.xaml.cs
  src/Uno.UI/DataBinding/BindingExpression.cs
Labels: ready-to-merge

#21055 chore: remove repeated RenderRootVisual call
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
Labels: area/skia ✏️

#20903 fix(ScrollViewer): Scroll update events on skia
  src/Uno.UI.RuntimeTests/MUX/Helpers/LoopingSelectorHelper.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/TimePicker/TimePickerIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FlipView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.Measure.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Repeater/Given_ItemsRepeater.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/CompositorScrollStrategy.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/IScrollStrategy.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/TransformScrollStrategy.cs
Labels: area/skia ✏️

#21027 docs: Update documentation with Uno.Sdk 6.1 latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#21083 docs: add 6.1 migration docs
  doc/articles/migrating-from-previous-releases.md
Labels: kind/documentation

#21078 docs: Adjust output paths in azure static apps
  doc/articles/guides/azure-static-webapps.md
Labels: kind/documentation

#21079 fix: Move diffignore changes to 6.1 base version
  build/PackageDiffIgnore.xml
Labels: area/build

#21109 chore: Update get-started-wizard.md
  doc/articles/get-started-wizard.md
Labels: kind/documentation

#20512 fix(combobox): do not refresh the virtualized panel every time the drop down menu is opened
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/ComboBox_ReopenDropdown.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/Button/ComboBox_ReopenDropdown.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.custom.cs
  src/Uno.UI/UI/Xaml/Controls/ComboBox/ComboBox.partial.mux.cs
Labels: area/automation

#21127 fix: Avoid white borders on WASM for HDPI screens
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WasmCSS/uno.css
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserRenderer.ts
Labels: platform/wasm 🌐

#20358 test: Refactor conditional runtime tests using MSTest's `ConditionBaseAttribute`
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml/DragAndDropTests/DragDrop_TreeView_Reorder_Automated.cs
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ListViewTests/Selection_Pointers.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestMethodInfo.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.cs
  src/Uno.UI.RuntimeTests/Helpers/ConditionalTestAttribute.cs
  src/Uno.UI.RuntimeTests/Helpers/ConditionalTestClassAttribute.cs
  src/Uno.UI.RuntimeTests/Helpers/PlatformConditionAttribute.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/commandbar/CommandBarIntegrationTests.cs
  src/Uno.UI.RuntimeTests/MUX/Input/Focus/FocusTests.cs
  src/Uno.UI.RuntimeTests/MUX/Input/KeyboardAccelerators/KeyboardAcceleratorTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SelectorBar/SelectorBarTests.cs
  src/Uno.UI.RuntimeTests/Tests/HotReload/Given_HotReloadWorkspace.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_ApplicationModel_Resources/Given_ResourceLoader.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_DispatcherQueue.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_InteractionTracker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_RedirectVisual.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_ShapeVisual.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_BackgroundTransition.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_Layouting.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_FrameworkElement_Opacity.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Window.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AutoSuggestBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentControl.NativeElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentDialog.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Control_Visibility.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_DatePicker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_DoubleAnimation.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Imaging/Given_BitmapSource.cs
Labels: area/skia ✏️, area/automation, stale

#21112 fix: visual subtree removal not triggering re-render
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
Labels: area/skia ✏️

#21133 fix(PhoneCallManager): Ensure launch phone call on ui thread
  src/Uno.UWP/ApplicationModel/Calls/PhoneCallManager.iOS.cs
Labels: platform/ios 🍎

#21165 chore(deps): Update MSTest to 3.10.0
  .globalconfig
  src/Directory.Build.targets
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Uno.UI.RemoteControl.DevServer.Tests.csproj
  src/Uno.UI.RuntimeTests/Helpers/PlatformConditionAttribute.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Give_UnitTest_DynamicData_From_Method.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Give_UnitTest_DynamicData_From_Property.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_Graphics_Imaging/Given_BitmapEncoder.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI/Given_Color.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentDialog.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentPresenter.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_GeometryData.cs
  src/Uno.UI.Tests/CollectionViewTests/Given_CollectionViewSource.cs
  src/Uno.UI.Tests/Collections/Given_HashtableEx.cs
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI.Tests/Extensions/Given_Deque.cs
  src/Uno.UI.Tests/Foundation/Given_DelegateCommand.cs
  src/Uno.UI.Tests/Foundation/Given_Rect.cs
  src/Uno.UI.Tests/WeakReferencePool/Given_WeakReferencePool.cs
  src/Uno.UI.Tests/Windows_Storage/Given_DataTypeSerializer.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/ComboBoxTests/Given_ComboBox.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/Frame/Given_Frame.cs
  src/Uno.UI.Tests/Windows_UI_XAML_Controls/TextBoxTests/Given_TextBox.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_Style.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
Labels: area/code-generation, area/automation

#21163 feat: Constrain full popup placement by visible bounds
  doc/articles/feature-flags.md
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls_Primitives/Given_Popup.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.Placement.cs
  src/Uno.UI/UI/Xaml/Controls/Popup/PopupPanel.cs
Labels: kind/documentation

#21147 feat(desktop): Trim rare Skia build variants by default
  build/cSpell.json
  doc/articles/features/skia-libraries-trimming.md
  doc/articles/toc.yml
  src/Uno.Sdk/targets/Uno.SingleProject.Desktop.targets
Labels: area/build, kind/documentation

#21177 chore: standardize telemetry events
  src/Uno.UI.RemoteControl.DevServer.Tests/ScopedServiceIsolationTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Telemetry/ParentProcessObserverTelemetryTests.cs
  src/Uno.UI.RemoteControl.DevServer.Tests/Telemetry/TelemetryProcessorTests.cs
  src/Uno.UI.RemoteControl.Host/Extensibility/AddIns.cs
  src/Uno.UI.RemoteControl.Host/Helpers/AssemblyHelper.cs
  src/Uno.UI.RemoteControl.Host/ParentProcessObserver.cs
  src/Uno.UI.RemoteControl.Host/Program.cs
  src/Uno.UI.RemoteControl.Host/RemoteControlExtensions.cs
  src/Uno.UI.RemoteControl.Host/RemoteControlServer.cs
  src/Uno.UI.RemoteControl.Host/Telemetry.md
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.cs
  src/Uno.UI.RemoteControl.Server.Processors/Telemetry.md
  src/Uno.UI.RemoteControl.TestProcessor/TelemetryTestProcessor.cs
Labels: kind/documentation
