Repository unoplatform/uno, pull requests merged in 2025-09, with the labels that each got.

#21385 fix: CI SolutionTemplate tests
  src/Directory.Build.targets
  src/SolutionTemplate/5.3/uno53AppWithLib/Directory.Build.props
  src/SolutionTemplate/5.3/uno53AppWithLib/Directory.Build.targets
  src/SolutionTemplate/5.3/uno53net9blank/Directory.Build.props
  src/SolutionTemplate/5.3/uno53net9blank/Directory.Build.targets
  src/SolutionTemplate/5.6/uno56droidioswasmskia/Directory.Build.props
  src/SolutionTemplate/5.6/uno56droidioswasmskia/Directory.Build.targets
  src/SolutionTemplate/5.6/uno56net9win32/Directory.Build.props
  src/SolutionTemplate/5.6/uno56net9win32/Directory.Build.targets
Labels: area/solution-templates

#21380 feat: Switch to `Svg.Skia`
  build/nuget/Uno.WinUI.Svg.nuspec
  src/AddIns/Uno.UI.Svg/External/SKPictureExtensions.cs
  src/AddIns/Uno.UI.Svg/External/SKSvg.Model.cs
  src/AddIns/Uno.UI.Svg/External/SKSvgSettings.cs
  src/AddIns/Uno.UI.Svg/External/SkiaAssetLoader.cs
  src/AddIns/Uno.UI.Svg/External/SkiaModel.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/CustomTypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/DefaultTypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/FontManagerTypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/ITypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/SvgProvider.cs
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Skia.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.netcoremobile.csproj
  src/Directory.Build.targets
  src/Uno.Sdk/packages.json
Labels: area/build, area/sdk

#21381 chore: Bump manifest to latest
  src/Uno.Sdk/packages.json
Labels: area/sdk

#21383 fix(macos): external trackpad events
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac.xcodeproj/project.pbxproj
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/MouseButtons.h
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/MouseButtons.m
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.m
Labels: platform/macos 🍏

#21395 chore: refactor XamlRootMap
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Win32MediaPlayerPresenterExtension.cs
  src/Uno.UI.Runtime.Skia.Android/Hosting/AndroidSkiaXamlRootHost.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Hosting/AppManager.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Native/UIKitNativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/InvisibleTextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Window/AppleUIKitWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/Hosting/FrameBufferManager.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/UI/NativeWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.MacOS/UI/Xaml/Window/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Hosting/WebAssemblyManager.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/UI/Xaml/Window/WebAssemblyWindowFactoryExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/ApplicationMode/DataTransfer/DragDrop/Win32DragDropExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/Graphics/Win32NativeOpenGLWrapper.cs
  src/Uno.UI.Runtime.Skia.Win32/Hosting/Win32Host.cs
  src/Uno.UI.Runtime.Skia.Win32/Native/Win32NativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/UI/ViewManagement/Win32ApplicationViewExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/UI/Xaml/Window/Win32WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/UI/Xaml/Controls/WpfTextBoxView.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfDragDropExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Wpf/Extensions/WpfNativeOpenGLWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Hosting/WpfManager.cs
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Xaml/Window/UnoWpfWindow.cs
  src/Uno.UI.Runtime.Skia.X11/Graphics/X11NativeOpenGLWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/Hosting/X11Manager.cs
  src/Uno.UI.Runtime.Skia.X11/Hosting/X11XamlRootHost.cs
  src/Uno.UI.Runtime.Skia.X11/Native/X11NativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.X11/Native/X11NativeElementHostingExtension.helper.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.cs
  src/Uno.UI/Hosting/XamlRootMap.skia.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, platform/wpf 🪟, platform/x11 🐧

#21397 chore: refactor rendering into CompositionTarget.Rendering.skia.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Performance/Performance_ImageLoading.cs
  src/Uno.UI.Runtime.Skia.Android/Rendering/UnoSKCanvasView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Rendering/UnoSKMetalView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Window/RootViewController.cs
  src/Uno.UI.Runtime.Skia.MacOS/UI/Xaml/Window/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Hosting/WebAssemblyBrowserHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Rendering/BrowserRenderer.cs
  src/Uno.UI.Runtime.Skia.Win32/Rendering/Win32WindowWrapper.Rendering.cs
  src/Uno.UI.Runtime.Skia.Win32/UI/Xaml/Window/Win32WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.Wpf/Hosting/IWpfXamlRootHost.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/UI/Xaml/Window/UnoWpfWindowHost.cs
  src/Uno.UI.Runtime.Skia.X11/Hosting/X11ApplicationHost.cs
  src/Uno.UI.Runtime.Skia.X11/Native/X11NativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.X11/Rendering/X11Renderer.cs
  src/Uno.UI.Runtime.Skia.X11/Rendering/X11XamlRootHost.Rendering.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_AcrylicBrush.cs
  src/Uno.UI.XamlHost.Skia.Wpf/UnoXamlHostBase.host.cs
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
  src/Uno.UI/UI/Xaml/Media/CompositionTarget.Rendering.skia.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation, platform/wpf 🪟, platform/x11 🐧

#21342 Add runtime DataTemplate updates and auto-refresh for presenters (DEV TOOLING)
  build/nuget/uno.winui.common.targets
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Uno_Templates/DataTemplate_Update_Sample.xaml
  src/SamplesApp/UITests.Shared/Uno_Templates/DataTemplate_Update_Sample.xaml.cs
  src/Uno.UI/AssemblyInfo.cs
  src/Uno.UI/LinkerSubstitution.Wasm.xml
  src/Uno.UI/UI/Xaml/Controls/ContentControl/ContentControl.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ItemsControl/ItemsControl.cs
  src/Uno.UI/UI/Xaml/Controls/Repeater/ItemsRepeater.Templates.cs
  src/Uno.UI/UI/Xaml/Controls/Repeater/ItemsRepeater.cs
  src/Uno.UI/UI/Xaml/Controls/Repeater/RecyclePool.cs
  src/Uno.UI/UI/Xaml/FrameworkTemplate.cs
  src/Uno.UI/Uno/TemplateManager.cs
  src/Uno.UI/Uno/TemplateManager.md
  src/Uno.UI/Uno/TemplateUpdateSubscription.cs
  src/Uno.UWP/UI/Core/WeakEventHelper.cs
Labels: area/build, area/automation, kind/documentation

#21450 fix(win32): Mutiple FileSavePicker updates
  src/SamplesApp/UITests.Shared/Windows_Storage/Pickers/FileSavePickerTests.xaml
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.txt
  src/Uno.UI.Runtime.Skia.Win32/Storage/Pickers/Win32FileSaverExtension.cs
Labels: area/automation, kind/documentation

#21441 fix: Do not throw when setting RenderPhase property on Skia
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.skia.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.unittests.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Interface.wasm.cs
Labels: platform/wasm 🌐, area/skia ✏️

#21487 fix(textbox): only propagate native HTML input state for the textbox currently in focus
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/UI/Xaml/Controls/TextBox/BrowserInvisibleTextBoxViewExtension.cs
Labels: platform/wasm 🌐

#21537 docs(troubleshooting): Add guidance to use `dotnet workload repair`
  doc/articles/common-issues-all-ides.md
Labels: kind/documentation
