Repository unoplatform/uno, pull requests merged in 2025-01, with the labels that each got.

#19100 refactor(shape): wasm shape perf round-2
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_GeometryData.cs
  src/Uno.UI/UI/Xaml/Media/GeometryData.wasm.cs
  src/Uno.UI/UI/Xaml/Media/GeometryGroup.wasm.cs
  src/Uno.UI/UI/Xaml/Media/PointCollection.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Ellipse.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Line.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polygon.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Polyline.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Rectangle.wasm.cs
  src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs
  src/Uno.UI/UI/Xaml/Window/WindowManagerInterop.wasm.cs
  src/Uno.UI/ts/WindowManager.ts
  src/Uno.UWP/UI/Color.cs
  src/Uno.UWP/UI/Color.wasm.cs
Labels: platform/wasm 🌐

#19165 test: Switch to MSTest runner (Microsoft.Testing.Platform)
  src/Directory.Build.props
  src/Directory.Build.targets
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
Labels: area/automation

#19094 fix(nativeframepresenter): fix !AndroidUnloadInactivePages optimizations
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Frame.cs
  src/Uno.UI/NativeFramePresenter.Android.cs
Labels: platform/android 🤖

#19147 Input event `Timestamp` should be in microseconds
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Basics.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/DragAndDrop/DragDrop_Nested.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Pointers/PointerEvent_Timestamp.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Input/Pointers/PointerEvent_Timestamp.xaml.cs
  src/Uno.UI.Runtime.Skia.Gtk/Input/GtkCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.Mouse.cs
  src/Uno.UI.Runtime.Skia.Linux.FrameBuffer/FrameBufferPointerInputSource.Touch.cs
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOApplication.h
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOApplication.m
  src/Uno.UI.Runtime.Skia.MacOS/UnoNativeMac/UnoNativeMac/UNOWindow.m
  src/Uno.UI.Runtime.Skia.Wpf/Input/WpfCorePointerInputSource.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.CoreProtocol.cs
  src/Uno.UI.Runtime.Skia.X11/X11PointerInputSource.XInput.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.Tests/Windows_UI_Input/Given_GestureRecognizer.cs
  src/Uno.UI/Runtime/BrowserPointerInputSource.wasm.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Gesture.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.InertiaProcessor.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UI/UI/Input/GestureRecognizer.cs
  src/Uno.UI/UI/Input/PointerPoint.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.pointers.skia.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.Android.cs
  src/Uno.UI/UI/Xaml/Input/PointerRoutedEventArgs.iOS.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InjectedInputMouseInfo.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InjectedInputPointerInfo.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/automation

#19182 fix: Fix regression in code gen
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_ResourceDictionary.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNWSRAE/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNWSRAE/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNWSRAE/XamlCodeGenerator_ResourceDictionary_When_Nested_With_Sibling_Ref_And_Event_6d62c5ee15120ed189e095faf6d37e20.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/TestCases/ResourceDictionary_When_Nested_With_Sibling_Ref_And_Event.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/TestCases/ResourceDictionary_When_Nested_With_Sibling_Ref_And_Event.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#18982 fix: Allow building Samples App WinUI for .NET 9
  Directory.Build.props
  src/SamplesApp/SamplesApp.Windows/SamplesApp.Windows.csproj
  src/Uno.CrossTargetting.targets
Labels: area/automation

#19166 Refactor: Use shared StartStopTypedEventHandler for Sensors
  src/Uno.UWP/Devices/Sensors/Accelerometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/Barometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Barometer.cs
  src/Uno.UWP/Devices/Sensors/Barometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Compass.Android.cs
  src/Uno.UWP/Devices/Sensors/Compass.cs
  src/Uno.UWP/Devices/Sensors/Compass.wasm.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.cs
  src/Uno.UWP/Devices/Sensors/HingeAngleSensor.Android.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.cs
  src/Uno.UWP/Devices/Sensors/ProximitySensor.Android.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎

#19176 test: Stabilize unit tests
  build/ci/.azure-devops-unit-tests.yml
  src/Uno.UI.Tests/Windows_UI_Xaml/Input/Focus/Given_XYFocusTreeWalker.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
Labels: area/automation

#19185 fix(xamlreader): add proper support for markup-extension parsing
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_XamlReader.cs
  src/Uno.UI/Helpers/XamlHelper.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlConstants.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs
  src/Uno.UI/UI/Xaml/Markup/Reader/XamlTypeResolver.cs
  src/Uno.UI/UI/Xaml/Markup/XamlServiceProviderExtensions.cs
Labels: do-not-merge/work-in-progress

#19169 docs: Reviewing existing docs
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
  doc/articles/studio/Hot Design/hot-design-overview.md
  doc/articles/studio/studio-overview.md
Labels: kind/documentation

#19238 Fix analyzer errors
  .globalconfig
  src/SamplesApp/UITests.Shared/Windows_Storage/NativeStorageRuntimeTests.xaml.cs
  src/Uno.UI.RuntimeTests/IntegrationTests/dxaml/controls/grid/GridIntegrationTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/FlowLayoutCollectionChangeTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/InspectingDataSourceTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/ItemTemplateTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/RecyclePoolTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/ViewManagerTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/Repeater/ViewportTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/TimePicker/TimePickerIntegrationTests.cs
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/TreeView/TreeViewTests.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_NavigationView.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_TreeView.cs
  src/Uno.UI.RuntimeTests/Tests/TemplatedParent/TemplatedParentTests.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Give_UnitTest_DynamicData_From_Method.cs
  src/Uno.UI.RuntimeTests/Tests/UnitTestsTests/Give_UnitTest_DynamicData_From_Property.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System/Given_DispatcherQueueTimer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_System_Threading/Given_ThreadPoolTimer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_StartScreen/Given_JumpListItem.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Control.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_DispatcherTimer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Panel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.TransformToVisual.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Automation/Given_AutomationPeer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/DatePickerIntegrationTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AutoSuggestBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Button.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CommandBar.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentControl.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Flyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Frame.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_FrameworkTemplatePool.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ItemsPresenter.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MediaPlayerElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/Given_BindableNullableValueType.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Data/Given_ISelectionInfo.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_MarkupExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_XamlReader.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media_Animation/Given_DoubleAnimation.cs
Labels: area/skia ✏️, area/automation

#19240 test: Use OutputType Exe for MTP projects
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/Uno.Analyzers.Tests/Uno.Analyzers.Tests.csproj
Labels: area/code-generation

#18294 fix: Restore inertia
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_Inertia.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Input/GestureRecognizerTests/Manipulation_Inertia.xaml.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_InteractionTracker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Input/Given_GestureRecognizer.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Input/TestPages/Manipulation_Inertia.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Input/TestPages/Manipulation_Inertia.xaml.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ScrollViewer.cs
  src/Uno.UI/UI/Input/GestureRecognizer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.Managed.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InjectedInputMouseInfo.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InjectedInputState.cs
Labels: area/automation

#19237 test: Ensure unit tests that change theme will reset it back
  src/Uno.UI.Tests/Helpers/ThemeHelper.cs
  src/Uno.UI.Tests/HotReload/Windows_UI_Xaml/Given_ThemeResource.hotreload.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ResourceDictionary.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_ThemeResource.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Theming/Given_Element_Theme.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/VisualStateManager_Lazy_Tests/VisualStateManager_Lazy.cs
  src/Uno.UI.Tests/Windows_UI_Xaml_Markup/XamlReaderTests/Given_XamlReader.cs
Labels: area/automation

#19045 chore(docs): Update desktop/macOS publishing documentation
  build/cSpell.json
  doc/articles/toc.yml
  doc/articles/uno-publishing-desktop-macos-advanced.md
  doc/articles/uno-publishing-desktop-macos.md
  doc/articles/uno-publishing-desktop.linux.md
  doc/articles/uno-publishing-desktop.md
Labels: area/build, kind/documentation

#19172 test: Use dotnet test for running unit tests
  build/ci/.azure-devops-unit-tests.yml
  src/Directory.Build.props
  src/Directory.Build.targets
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Uno.UI.SourceGenerators.Tests.csproj
  src/Uno.Analyzers.Tests/Uno.Analyzers.Tests.csproj
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
Labels: area/code-generation, area/automation

#19235 docs: Update Working with Themes
  doc/articles/features/working-with-themes.md
Labels: kind/documentation

#19256 chore: Add issue link to IgnoreAttribute for HR failure
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Given_HotReloadService.cs
Labels: area/code-generation

#19230 perf(anim): Register only once to the JS animationframe callback
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimator.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Media/Animation/Animators/RenderingLoopAnimator.wasm.cs
  src/Uno.UI/ts/Windows/UI/Xaml/Animation/RenderingLoopAnimator.ts
  src/Uno.UWP/UI/Core/WeakEventHelper.cs
Labels: platform/wasm 🌐

#19251 docs(HotDesign): Clarify steps for running the application with VS Code
  doc/articles/studio/Hot Design/Assets/vscode-csproj-selection.png
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
Labels: kind/documentation

#19229 feat(hr): Add ability to remove root of a DataTemplate with HR without cnomua
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Given_HotReloadService.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add_Remove/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add_Remove/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add_Remove/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add_Remove/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add_Remove/2/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add_Remove/2/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Add_Remove/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Remove/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Remove/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Remove/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Remove/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Remove/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Update/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Update/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Update/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Update/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_DataTemplate_Root_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_MyDictionary_b7707bcf1e73425b710b6a5d04177088.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TDBMIDTIRD/XamlCodeGenerator_MyResourceDictionary_92716e07ff456818f6d4125e055d4d57.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBENIT/XamlCodeGenerator_Binding_ElementName_In_Template_66bf0a54f1801c397a6fa4930a237eca.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNWSRAE/XamlCodeGenerator_ResourceDictionary_When_Nested_With_Sibling_Ref_And_Event_6d62c5ee15120ed189e095faf6d37e20.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/Subclass.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#19208 refactor: Cleanup samples
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestsControl.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI/ColorHelperTests.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CheckBoxTests/CheckBox_Automated.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/CheckBoxTests/CheckBox_States.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/Simple_Contrained_Horizontal_Center_Wrap.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBlockControl/Simple_Text_Arabic.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/CompositionTargetTests/CompositionTarget_Rendering.xaml.cs
Labels: area/automation

#19239 fix(codegen): ContentPresenter.Content binding compilation error
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlConstants.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.Reflection.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/SourceGenerators/XamlGenerationTests/ContentPresenter_ContentBinding.xaml
  src/Uno.UI.RuntimeTests/Extensions/StringExtensions.cs
  src/Uno.UI.RuntimeTests/Helpers/TreeAssert.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_ContentBindings.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/ContentPresenter/ContentPresenter_ContentBindings.xaml.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentPresenter.cs
Labels: area/code-generation

#19212 docs(CTK8): Added converters usage sample
  doc/articles/uno-community-toolkit-v8.md
Labels: kind/documentation

#19269 fix(hr): Fix invalid code gen when using x:bBind on resource
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add_Remove/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add_Remove/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add_Remove/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add_Remove/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add_Remove/2/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add_Remove/2/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Add_Remove/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Remove/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Remove/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Remove/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Remove/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Remove/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Update/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Update/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Update/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Update/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Page_Res_xBind_Update/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_MvvmGeneratedMembers.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TAA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TIDFA/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTW/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WLCHB/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WNBOP/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPADNE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE__name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_m_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/WOPAE_name/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#19281 chore: Update rider-eula.md
  doc/articles/other/rider-eula.md
Labels: kind/documentation

#19282 docs(CTK8): Added converters usage sample (Backport #19212)
  doc/articles/uno-community-toolkit-v8.md
Labels: kind/documentation

#19283 docs(CTK8): Added converters usage sample (Backport #19212)
  doc/articles/uno-community-toolkit-v8.md
Labels: kind/documentation

#19285 feat: Update `Uno.Fonts.Fluent`
  build/nuget/Uno.WinUI.nuspec
  src/Directory.Build.targets
  src/SamplesApp/SamplesApp.Wasm/Program.cs
  src/Uno.Sdk/packages.json
Labels: area/build, area/automation, area/sdk

#19278 Refactor: Use static Lazy instance for all sensors
  src/Uno.UWP/Devices/Sensors/Accelerometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.iOS.cs
  src/Uno.UWP/Devices/Sensors/Accelerometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/Barometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Barometer.cs
  src/Uno.UWP/Devices/Sensors/Compass.Android.cs
  src/Uno.UWP/Devices/Sensors/Compass.cs
  src/Uno.UWP/Devices/Sensors/Compass.wasm.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.cs
  src/Uno.UWP/Devices/Sensors/Gyrometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.cs
  src/Uno.UWP/Devices/Sensors/Magnetometer.wasm.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.Android.cs
  src/Uno.UWP/Devices/Sensors/Pedometer.cs
  src/Uno.UWP/Devices/Sensors/SimpleOrientationSensor.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎

#19305 fix(hr): Ensure to keep ordering of generated properties
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_xName_Reorder/0/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_xName_Reorder/0/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_xName_Reorder/1/p1/MainPage.xaml
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_xName_Reorder/1/p1/MainPage.xaml.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/MetadataUpdateTests/Scenarios/When_Simple_Xaml_xName_Reorder/Scenario.json
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TPXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TTIXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/TXBRXLE/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation

#19304 fix(hr): Dev-server HR support for mobile targets
  build/Uno.UI.Build.csproj
  build/nuget/Uno.WinUI.DevServer.nuspec
  build/nuget/Uno.WinUI.Lottie.nuspec
  src/Directory.Build.targets
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/MetadataUpdates/CompilationWorkspaceProvider.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
  src/Uno.UI.RemoteControl/Uno.UI.RemoteControl.netcoremobile.csproj
  src/Uno.UI.RemoteControl/buildTransitive/Uno.WinUI.DevServer.props
  src/Uno.UI.RemoteControl/buildTransitive/Uno.WinUI.DevServer.targets
Labels: area/code-generation, area/build

#19306 fix(linux): check for libXi before assuming XI2 support
  doc/articles/includes/additional-linux-setup-inline.md
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.XInput.cs
  src/Uno.UI.Runtime.Skia.X11/X11_Bindings/x11bindings_XLib.cs
Labels: kind/documentation

#19316 fix(textbox): right clicking inside TextBox selection should not clear the selection
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.pointers.skia.cs
Labels: area/skia ✏️

#19334 chore: bump skiasharp in sdk
  src/Uno.Sdk/packages.json
Labels: area/sdk

#19318 fix(textbox): extend selection when on tapping when shift is held
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.pointers.skia.cs
Labels: area/skia ✏️

#19339 fix(hr): Fix HR not working on android with Rider
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/RemoteControl/RemoteControlGenerator.cs
  src/Uno.UI.RemoteControl.Server.Processors/HotReload/ServerHotReloadProcessor.MetadataUpdate.cs
Labels: area/code-generation

#19314 fix(x11): make keyboard inputs work even when the pointer is outside the window
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_PointerOutOfWindow.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_PointerOutOfWindow.xaml.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
Labels: area/automation

#19341 Misc docs updates
  doc/articles/migrating-from-previous-releases.md
  doc/articles/uno-publishing-desktop.linux.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#19250 docs: Update Hot Reload documentation based on latest changes
  doc/articles/Assets/features/hotreload/hot-reload-button.png
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#19351 docs: Update Hot Reload documentation based on latest changes (bp #19250)
  doc/articles/Assets/features/hotreload/hot-reload-button.png
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#19324 docs: Update Hot Design Documentation
  build/cSpell.json
  doc/articles/get-started-wizard.md
  doc/articles/getting-started/counterapp/get-started-counter.md
  doc/articles/studio/Hot Design/Assets/hot-design-feedback-menu.png
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
  doc/articles/studio/Hot Design/hot-design-overview.md
  doc/articles/studio/hot-design-beta-feedback.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#19335 feat: Order Samples app favorites at the top of category
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Styles/Controls/Path.xaml
Labels: area/automation

#19329 fix: new URL for Windows SDK in build script
  build/Install-WindowsSdkISO.ps1
Labels: area/build

#19373 fix: Use newer project capability for WSL in VS 17.13
  doc/articles/uno-build-error-codes.md
  src/Uno.Sdk/targets/Uno.Common.targets
  src/Uno.Sdk/targets/Uno.Sdk.After.targets
Labels: kind/documentation

#19359 HR Docs updates
  doc/articles/Assets/features/hotreload/indicator-not-connected-with-flyout.png
  doc/articles/Assets/features/hotreload/indicator.png
  doc/articles/Assets/features/hotreload/rider-output-level-trace.png
  doc/articles/Assets/features/hotreload/rider-uno-platform-output.png
  doc/articles/Assets/features/hotreload/status-connection-connected.png
  doc/articles/Assets/features/hotreload/status-connection-connecting.png
  doc/articles/Assets/features/hotreload/status-connection-failed.png
  doc/articles/Assets/features/hotreload/status-connection-not-signed-in.png
  doc/articles/Assets/features/hotreload/status-connection-server-unreachable.png
  doc/articles/Assets/features/hotreload/status-connection-success.png
  doc/articles/Assets/features/hotreload/status-connection-warning.png
  doc/articles/Assets/features/hotreload/status-failed.png
  doc/articles/Assets/features/hotreload/status-hr-failed.png
  doc/articles/Assets/features/hotreload/status-hr-processing.png
  doc/articles/Assets/features/hotreload/status-hr-success.png
  doc/articles/Assets/features/hotreload/status-processing.png
  doc/articles/Assets/features/hotreload/status-success.png
  doc/articles/Assets/features/hotreload/vs-code-uno-platform-hr-output.png
  doc/articles/Assets/features/hotreload/vs-msbuild-output-verbosity.png
  doc/articles/Assets/features/hotreload/vs-uno-platform-logs.png
  doc/articles/Assets/features/hotreload/vscode-csproj-selection.png
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
  doc/import_external_docs.ps1
Labels: kind/documentation

#19389 fix: Make sure to generate OriginalSourceLocation property on DataTemplates
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_EmptyDataTemplatePage_0f836ad6c048ef5ac0e673406e3c3706.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Verifiers/CSGenerator.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
Labels: area/code-generation
