Repository unoplatform/uno, pull requests merged in 2025-06, with the labels that each got.

#20644 fix(WASM): remove the border line and blue focus, adjust the height o…
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_Height.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_Height.xaml.cs
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_OuterSelection.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/WasmCSS/Uno.UI.css
Labels: area/automation

#20675 Ensure `XamlIslandRoot.GetSize()` is always up to date
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/XamlRoot/XamlRoot_Sizing.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/XamlRoot/XamlRoot_Sizing.xaml.cs
  src/Uno.UI/UI/Xaml/Internal/Islands/XamlIslandRoot.Core.cs
Labels: area/automation

#20668 feat: Add ability to have multiple direct-manipulation active in parallel
  src/Uno.Foundation.Logging/Logger.cs
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Uno_UI_Xaml_Core/Given_InputManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Input_Preview_Injection/Given_InputInjector.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Button.cs
  src/Uno.UI.RuntimeTests/UITests/_Engine/RuntimeTestsApp.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SwipeControl/SwipeControl.Uno.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SwipeControl/SwipeControl.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.InertiaProcessor.cs
  src/Uno.UI/UI/Input/GestureRecognizer.Manipulation.cs
  src/Uno.UI/UI/Input/GestureRecognizer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/DirectManipulation.cs
  src/Uno.UI/UI/Xaml/Internal/DirectManipulationCollection.cs
  src/Uno.UI/UI/Xaml/Internal/IDirectManipulationHandler.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.ManagedDirectManip.cs
  src/Uno.UI/UI/Xaml/Internal/PointerCapture.cs
  src/Uno.UI/UI/Xaml/UIElement.Pointers.cs
  src/Uno.UI/UI/Xaml/UIElement.skia.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InjectedInputPointerInfo.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InjectedInputState.cs
  src/Uno.UWP/UI/Input/Preview.Injection/InputInjector.cs
Labels: area/skia ✏️

#20642 fix(CompositionEffectBrush): avoid infinite invalidation loop
  src/Uno.UI.Composition/Composition/CompositionEffectBrush.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Media/Given_AcrylicBrush.cs
Labels: area/skia ✏️

#20707 fix(filepicker): adjust FileChooser portal version check on Linux to also include the backwards-compatible version 4
  src/Uno.UI.Runtime.Skia.X11/LinuxFilePickerExtension.cs
  src/Uno.UI.Runtime.Skia.X11/LinuxFileSaverExtension.cs
Labels: platform/x11 🐧

#20716 chore: adjust FileChooser portal version check
  src/Uno.UI.Runtime.Skia.X11/LinuxFilePickerExtension.cs
  src/Uno.UI.Runtime.Skia.X11/LinuxFileSaverExtension.cs
Labels: platform/x11 🐧

#20685 fix(glcanvaselement): hanging when resizing or moving the window
  src/AddIns/Uno.WinUI.Graphics3DGL/GLCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/RotatingCubeGlCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SimpleTriangleGlCanvasElement.cs
  src/Uno.UI.Composition/AssemblyInfo.cs
Labels: area/automation

#20725 docs: (rider) update wasm default browser
  build/cSpell.json
  doc/articles/create-an-app-rider.md
Labels: area/build, kind/documentation

#20755 docs: mention net9 limitation for MSAL WASM
  build/cSpell.json
  doc/articles/interop/MSAL.md
Labels: area/build, kind/documentation

#20766 docs: Update using-winrt.md
  doc/articles/features/using-winrt.md
Labels: kind/documentation

#20730 docs: remove initializelogging calls from suggested migration code
  doc/articles/migrating-to-uno-6.md
Labels: kind/documentation

#20767 chore: add maui skia runtime package to sdk
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Android.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.MacCatalyst.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.iOS.targets
Labels: area/sdk

#20818 docs: Update Extensions documentation to latest
  doc/import_external_docs.ps1
Labels: kind/documentation

#20808 fix(skia): make sure the UI tree is clean before rendering
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/UnoSKCanvasView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserRenderer.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.Rendering.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.Rendering.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, platform/wpf 🪟, platform/x11 🐧

#20833 fix: Fail more explicitly when `BrowserHtmlElement` APIs are used with an invalid id
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserNativeElementHostingExtension.ts
Labels: platform/wasm 🌐

#20574 fix(nativeelementhosting): default to zero when given infinite bounds on measuring
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_InfiniteBounds.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_InfiniteBounds.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WebAssemblyNativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32NativeElementHostingExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ContentPresenter.cs
  src/Uno.UI/UI/Xaml/Controls/ContentPresenter/ContentPresenter.skia.cs
Labels: platform/wasm 🌐, area/skia ✏️, area/automation

#20687 fix: skia mobile StatusBar styling
  doc/articles/Assets/features/statusbar/blue.png
  doc/articles/Assets/features/statusbar/darkblue.png
  doc/articles/features/windows-ui-viewmanagement.md
  doc/articles/guides/status-bar-theme-color.md
  doc/articles/toc.yml
  src/SamplesApp/SamplesApp.Skia.netcoremobile/iOS/Info.plist
  src/SamplesApp/SamplesApp.netcoremobile/iOS/Info.plist
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/StatusBarColorTests.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_ViewManagement/StatusBarColorTests.xaml.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.Android.cs
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.cs
  src/Uno.UWP/UI/ViewManagement/StatusBar/StatusBar.iOS.cs
Labels: platform/android 🤖, platform/ios 🍎, area/build, area/automation, kind/documentation

#20836 fix(wasm): svg with clippath on first render
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserNativeElementHostingExtension.cs
Labels: platform/wasm 🌐

#20847 docs: documentation for wasm exception
  doc/articles/features/using-skia-rendering.md
  doc/articles/migrating-to-uno-6.md
Labels: kind/documentation

#20859 docs: Update get-started-rider.md
  doc/articles/get-started-rider.md
Labels: kind/documentation

#20831 docs(snap): Note on absolute and relative paths
  doc/articles/uno-publishing-desktop.linux.md
Labels: kind/documentation

#20858 docs: Add info on Getting Uno Platform Studio Pro license
  doc/articles/get-started-licensing.md
Labels: kind/documentation

#20420 docs: counter tutorial update
  doc/articles/getting-started/counterapp/Assets/vscode-csproj-dotnet9.0.png
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-csharp-mvvm.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvux.md
  doc/articles/getting-started/counterapp/get-started-counter-xaml-mvvm.md
  doc/articles/getting-started/counterapp/includes/include-create.md
  doc/articles/getting-started/counterapp/includes/include-mainwindow.md
  doc/articles/getting-started/counterapp/includes/include-vscode-csproj-notice.md
Labels: kind/documentation

#20868 docs: broken link to Windows Storage fixed
  doc/articles/includes/winrt-features-inline-toc.md
Labels: kind/documentation

#20870 Chore: Update common-issues.md
  doc/articles/common-issues.md
Labels: kind/documentation

#20871 chore: Update working-with-xaml-hot-reload.md
  doc/articles/features/working-with-xaml-hot-reload.md
Labels: kind/documentation

#20845 fix(skia): Textbox content inherits textblock styles
  src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/TextBoxTests/TextBoxTests.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_ImplicitParentTextBlockStyle.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_ImplicitParentTextBlockStyle.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: area/skia ✏️, area/automation

#20760 fix(macOS): app bundles must uses the Resources folder
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowNative.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacSkiaHost.cs
Labels: platform/macos 🍏

#20880 docs: Explain how to integrate with existing solutions
  doc/articles/create-an-app-vs2022.md
  doc/articles/guides/how-to-add-uno-to-an-existing-solution.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#20834 fix(win32x11): setting a full screen presenter does not work immediately after window activation
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.OverlappedPresenter.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.x11events.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Window.cs
Labels: platform/x11 🐧

#20887 fix(iOS): skia overflow invalidating render
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/RootViewController.cs
Labels: platform/ios 🍎, area/skia ✏️
