Repository unoplatform/uno, pull requests merged in 2025-10, with the labels that each got.

#21547 fix: Restore BuildHost folder on net9
  build/nuget/Uno.WinUI.DevServer.nuspec
  src/Uno.UI.RemoteControl.Server.Processors/Uno.UI.RemoteControl.Server.Processors.csproj
Labels: area/build

#21545 fix: Don't generate HR workaround on using with aliases
  src/SolutionTemplate/5.6/uno56droidioswasmskia/uno56droidioswasmskia/UsingAliasValidation.cs
  src/SolutionTemplate/5.6/uno56droidioswasmskia/uno56droidioswasmskia/uno56droidioswasmskia.csproj
  src/Uno.Sdk/targets/Uno.Common.Wasm.targets
Labels: area/solution-templates

#21471 docs: Update migration guides for Uno 6.3 (.NET 10 support, dropped .NET 8) and misc adjustments
  doc/articles/Assets/quick-start/live-wizard-03-create-app.png
  doc/articles/Assets/quick-start/rider-configure-new-unoplatform-app.png
  doc/articles/concepts/overview/why-uno-platform.md
  doc/articles/getting-started/requirements.md
  doc/articles/getting-started/wizard/includes/framework.md
  doc/articles/guides/profiling-applications.md
  doc/articles/guides/solution-building-single-targetframework.md
  doc/articles/how-uno-works.md
  doc/articles/migrating-from-net8-to-net9.md
  doc/articles/migrating-from-net9-to-net10.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/migrating-to-single-project.md
  doc/articles/net-version-support.md
  doc/articles/platform-specific-xaml.md
  doc/articles/studio/studio-feedback.md
  doc/articles/toc.yml
  doc/import_external_docs.ps1
Labels: area/build, kind/documentation
