Repository unoplatform/uno, pull requests merged in 2025-03, with the labels that each got.

#19621 Revert "Implemented a new generator to embedded XAML sources into application for Hot Reload (backport #19610)"
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.XamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation

#19620 chore: Revert "Implemented a new generator to embedded XAML sources into application for Hot Reload"
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.XamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation

#19625 fix: Make SplitButton click and tap behave the same
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/SplitButton/SplitButtonTests_InteractionTests.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/SplitButton/SplitButton.cs
Labels: ready-to-merge

#17895 Test: Add Sample Test for Expander header bindings
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ExpanderTests/Expander_Bindings_TemplatedControl.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ExpanderTests/Expander_Bindings_TemplatedControl.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
Labels: area/automation

#19645 docs(HotDesign): Include known issues link in documentation
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
  doc/articles/studio/Hot Design/hot-design-overview.md
  doc/articles/studio/hot-design-beta-feedback.md
Labels: kind/documentation

#19658 docs: Adjust azure static apps caching instructions
  doc/articles/guides/azure-static-webapps.md
  doc/articles/how-to-host-a-webassembly-app.md
Labels: kind/documentation

#19660 fix: Sharing should provide default options when none are provided
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/ExpanderTests/Expander_Bindings_TemplatedControl.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/DataTransfer/DataTransferManagerTests.xaml
  src/SamplesApp/UITests.Shared/Windows_ApplicationModel/DataTransfer/DataTransferManagerTests.xaml.cs
  src/Uno.UWP/ApplicationModel/DataTransfer/DataTransferManager.cs
Labels: area/automation

#19662 fix: Correctly render `CalendarDatePicker` on iOS
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Border.cs
  src/Uno.UI/UI/Xaml/Controls/Border/BorderLayerRenderer.iOSmacOS.cs
Labels: platform/macos 🍏, platform/ios 🍎

#19622 [HR-XAML] Switched XAML storage from string to UTF8 buffers
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_HotReloadEnabledInBuild.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SBUIIOFFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFDOTAFE/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIIOFEDT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLR/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFPLS/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFRT/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/SOSLIOFTLRD/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/Content/Uno.UI.SourceGenerators.props
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.XamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileDefinition.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs
Labels: area/code-generation

#19587 fix(nativeframepresenter): animate pages depending on NavigationMode
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_NativeFrame.cs
  src/Uno.UI/Controls/NativeFramePresenter.Android.cs
Labels: platform/android 🤖

#19692 feat: Added ability to generate code that doesn't blow up raw string litterals
  src/SamplesApp/Directory.Build.props
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Given_GenerateEmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ENQ/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ENQ/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ENQ/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ENQ/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ETQ/XamlCodeGenerator_EmbeddedXamlSources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ETQ/XamlCodeGenerator_GlobalStaticResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ETQ/XamlCodeGenerator_LocalizationResources.cs
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/XamlCodeGeneratorTests/Out/ETQ/XamlCodeGenerator_MainPage_d6cd66944958ced0c513e0a04797b51d.cs
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlCodeGeneration.XamlSources.cs
  src/Uno.UI.RuntimeTests/Directory.Build.props
Labels: area/code-generation, area/automation

#19690 fix(textbox): correctly set selection when clicking past the end in a TextBox that ends with spaces
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Documents/InlineCollection.skia.cs
Labels: area/skia ✏️

#19672 fix(webview2): [wasm] Fix ExecuteScriptAsync
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_WebView2.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Wasm/NativeWebView.Interop.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Native/Wasm/NativeWebView.wasm.cs
Labels: platform/wasm 🌐

#19701 docs: Update to latest bootstrap
  doc/import_external_docs.ps1
Labels: kind/documentation

#14288 chore: Update `ProgressBar` to winui3/release/1.4.2
  build/PackageDiffIgnore.xml
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/ProgressBar.xaml
  src/Uno.UI.FluentTheme.v1/Resources/Version1/PriorityDefault/ProgressBar_themeresources.xaml
  src/Uno.UI.FluentTheme.v1/themeresources_v1.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/ProgressBar.xaml
  src/Uno.UI.FluentTheme.v2/Resources/Version2/PriorityDefault/ProgressBar_themeresources.xaml
  src/Uno.UI.FluentTheme.v2/themeresources_v2.xaml
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/ProgressBarTemplateSettings.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBar.Header.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBar.Properties.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBar.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBar.xaml
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBarAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBarTemplateSettings.cs
Labels: area/build

#19703 fix(webview): Don't allow for the webview iframe to be selected
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_OuterSelection.xaml
  src/SamplesApp/UITests.Shared/Microsoft_UI_Xaml_Controls/WebView2Tests/WebView2_OuterSelection.xaml.cs
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/Uno.UI/WasmCSS/Uno.UI.css
Labels: area/automation

#19654 fix(listview): setting SelectedItem during list refresh leaves blank in items on wasm/skia
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI/Extensions/ViewExtensions.visual-tree.cs
  src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.managed.cs
Labels: ready-to-merge

#19700 fix: correct SetAccessibilityView misspelled name
  build/PackageDiffIgnore.xml
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation/AutomationProperties.cs
  src/Uno.UI/UI/Xaml/Automation/AutomationProperties.cs
Labels: area/build

#19734 docs: Update trademark symbol for Hot Design
  doc/articles/studio/Hot Design/hot-design-getstarted-counter-tutorial.md
  doc/articles/studio/Hot Design/hot-design-getstarted-guide.md
  doc/articles/studio/Hot Design/hot-design-overview.md
  doc/articles/studio/hot-design-beta-feedback.md
  doc/articles/studio/studio-overview.md
Labels: kind/documentation

#19763 fix(android): Don't log font lookup failures
  src/Uno.UWP/Helpers/DrawableHelper.Android.cs
  src/Uno.UWP/Storage/StorageFile.Android.cs
Labels: platform/android 🤖

#19758 fix: Adjust SVG for SkiaSharp 3 support
  THIRD-PARTY-NOTICES.md
  src/AddIns/Uno.UI.Svg/External/SKPictureExtensions.cs
  src/AddIns/Uno.UI.Svg/External/SKSvg.Model.cs
  src/AddIns/Uno.UI.Svg/External/SKSvgSettings.cs
  src/AddIns/Uno.UI.Svg/External/SkiaAssetLoader.cs
  src/AddIns/Uno.UI.Svg/External/SkiaModel.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/CustomTypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/DefaultTypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/FontManagerTypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/External/TypefaceProviders/ITypefaceProvider.cs
  src/AddIns/Uno.UI.Svg/SvgProvider.cs
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Reference.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.Skia.csproj
  src/AddIns/Uno.UI.Svg/Uno.UI.Svg.netcoremobile.csproj
  src/Directory.Build.targets
  src/Uno.UI.RuntimeTests/MUX/Microsoft_UI_Xaml_Controls/InfoBadge/InfoBadgeTests.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Image.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/SvgImageSource.skia.cs
Labels: area/skia ✏️, kind/documentation

#19767 fix: Restore reference to Uno.UI.Runtime.WebAssembly
  src/SolutionTemplate/5.3/uno53AppWithLib/uno53lib/Class1.cs
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Wasm.targets
Labels: area/solution-templates

#19777 fix: Publish Google Play library correctly
  build/PackageDiffIgnore.xml
  src/AddIns/Uno.UI.GooglePlay/Properties/AssemblyInfo.cs
  src/AddIns/Uno.UI.GooglePlay/Uno.UI.GooglePlay.netcoremobile.csproj
  src/SamplesApp/SamplesApp.Skia.netcoremobile/Android/Main.Android.cs
  src/SamplesApp/SamplesApp.Skia.netcoremobile/SamplesApp.Skia.netcoremobile.csproj
  src/Uno.UI-Skia-only.slnf
  src/Uno.UWP/Devices/Sensors/HingeAngleSensor.Android.cs
Labels: platform/android 🤖, area/build, area/automation

#19774 feat: Apply target framework override to unit test projects
  src/Uno.UI.Tests.ViewLibrary/Uno.UI.Tests.ViewLibrary.csproj
  src/Uno.UI.Tests.ViewLibraryProps/Uno.UI.Tests.ViewLibraryProps.csproj
  src/Uno.UI.Tests/Uno.UI.Unit.Tests.csproj
Labels: area/automation
