Repository unoplatform/uno, pull requests merged in 2025-05, with the labels that each got.

#20139 fix: Adjust for linker dependency ordering
  src/SourceGenerators/Uno.UI.Tasks/Content/Uno.UI.Tasks.targets
Labels: area/code-generation

#20141 fix(scrollViewer): Fix inertia not behaving properly on nested scroll viewers
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.RuntimeTests/Helpers/UITestHelper.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.ManagedDirectManip.cs
Labels: area/skia ✏️

#13336 feat: `InputReturnType`
  doc/articles/controls/TextBox.md
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_InputReturnType.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_InputReturnType.xaml.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/TextInputPlugin.cs
  src/Uno.UI.Runtime.Skia.Android/Uno.UI.Runtime.Skia.Android.csproj
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/Controls/TextBox/InvisibleTextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Uno.UI.Runtime.Skia.AppleUIKit.csproj
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/UI/Xaml/Controls/TextBox/BrowserInvisibleTextBoxViewExtension.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/Uno.UI.Runtime.Skia.WebAssembly.Browser.csproj
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserInvisibleTextBoxViewExtension.ts
  src/Uno.UI/UI/Xaml/Controls/TextBox/Extensions/IOverlayTextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/Extensions/IOverlayTextBoxViewExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/Extensions/OverlayTextBoxViewExtension.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/InputReturnType.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/InputReturnTypeExtensions.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/InputReturnTypeExtensions.UIKit.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/InputReturnTypeExtensions.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/InputScopeExtensions.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Attached.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.UIKit.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.wasm.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/ios 🍎, area/skia ✏️, area/automation, kind/documentation

#20148 docs: Update Lottie.md
  doc/articles/features/Lottie.md
Labels: kind/documentation

#20158 fix(android): Pause drawing when not rendering
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/ApplicationActivity.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/UnoSKCanvasView.cs
Labels: platform/android 🤖, area/skia ✏️

#20161 fix: Adjust wasm host builder location
  src/Uno.UI.Runtime.WebAssembly/Builder/HostBuilder.cs
  src/Uno.UI.Runtime.WebAssembly/Builder/WebAssemblyHost.cs
  src/Uno.UI.Runtime.WebAssembly/Builder/WebAssemblyHostBuilder.cs
Labels: platform/wasm 🌐

#20165 Support for async initialization on Android
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/ApplicationActivity.cs
  src/Uno.UI/UI/Xaml/ApplicationActivity.Android.cs
  src/Uno.UI/UI/Xaml/Internal/ContentManager/ContentManager.Android.cs
  src/Uno.UI/UI/Xaml/NativeApplication.cs
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.Android.cs
Labels: platform/android 🤖, area/skia ✏️, area/automation

#20152 fix: invalidate Visual.TotalMatrix when changing parents
  src/Uno.UI.Composition/Composition/Visual.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_ContainerVisual.cs
Labels: area/skia ✏️

#20178 fix(wasm): images are sometimes corrupted
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/ImageLoader.ts
  src/Uno.UI/UI/Xaml/Media/Imaging/ImageSourceHelpers.cs
Labels: platform/wasm 🌐

#20170 fix: Delayed splash screen on UIKit
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/AppleUIKitWindowWrapper.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/Uno.UI.Runtime.Skia.AppleUIKit.csproj
  src/Uno.UI/UI/Xaml/Window/Native/NativeWindowWrapper.UIKit.cs
  src/Uno.UI/UI/Xaml/Window/Native/UIKit/NativeWindowHelpers.UIKit.cs
Labels: platform/ios 🍎, area/skia ✏️

#20149 chore: Misc non functional fixes
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserPointerInputSource.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/PullToRefresh/RefreshContainer/RefreshContainer.mux.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.cs
Labels: platform/wasm 🌐

#20191 docs: rewrite docs for skia native element hosting
  doc/articles/features/using-skia-hosting-native-controls.md
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Win32MediaPlayerPresenterExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.X11/X11MediaPlayerPresenterExtension.cs
  src/AddIns/Uno.UI.WebView.Skia.X11/X11NativeWebView.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32DragDropExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32NativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32NativeWebView.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.cs
  src/Uno.UI.Runtime.Skia.X11/X11NativeElementHostingExtension.cs
  src/Uno.UI.Runtime.Skia.X11/X11NativeElementHostingExtension.helper.cs
  src/Uno.UI.Runtime.Skia.X11/X11WindowWrapper.cs
  src/Uno.UI/NativeElementHosting/Win32NativeWindow.cs
  src/Uno.UI/NativeElementHosting/X11NativeWindow.cs
Labels: kind/documentation, platform/x11 🐧

#19557 fix(statetriggers): evaluate StateTriggers before the first layout cycle
  src/Uno.UI.Runtime.Skia.Android/AndroidCorePointerInputSource.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_VisualStateManager.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.crossruntime.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/VisualStateGroup.cs
  src/Uno.UI/UI/Xaml/VisualStateManager.cs
Labels: platform/android 🤖, area/skia ✏️

#20153 build: fix android nuget override not copying assemblies files
  src/Uno.UI.Runtime.Skia.Android/Uno.UI.Runtime.Skia.Android.csproj
  src/Uno.UI.sln
Labels: platform/android 🤖, area/skia ✏️

#20202 doc:s Update uno-publishing-overview.md
  doc/articles/uno-publishing-overview.md
Labels: kind/documentation

#20171 docs: Add details on using Skia
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation-request.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/samples-request.yml
  README.md
  build/cSpell.json
  doc/articles/Assets/solution-structure.png
  doc/articles/common-issues-ios.md
  doc/articles/common-issues-vs2022.md
  doc/articles/common-issues.md
  doc/articles/concepts/overview/why-uno-platform.md
  doc/articles/controls/CommandBar.md
  doc/articles/controls/MediaPlayerElement.md
  doc/articles/controls/SKCanvasElement.md
  doc/articles/controls/WebView.md
  doc/articles/create-an-app-rider.md
  doc/articles/create-an-app-vs2022.md
  doc/articles/create-an-app-vscode.md
  doc/articles/faq.md
  doc/articles/feature-flags.md
  doc/articles/features/resources-trimming.md
  doc/articles/features/using-il-linker-webassembly.md
  doc/articles/features/using-markup.md
  doc/articles/features/using-native-rendering.md
  doc/articles/features/using-skia-hosting-native-controls.md
  doc/articles/features/using-skia-rendering.md
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-dotnet-new.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started.md
  doc/articles/getting-started/requirements.md
  doc/articles/getting-started/wizard/includes/features.md
  doc/articles/guides/how-to-create-control-libraries.md
  doc/articles/how-uno-works.md
  doc/articles/interop/wasm-javascript-1.md
  doc/articles/interop/wasm-javascript-2.md
  doc/articles/interop/wasm-javascript-3.md
  doc/articles/intro.md
  doc/articles/migrating-from-previous-releases.md
  doc/articles/migrating-to-uno-6.md
  doc/articles/native-views.md
  doc/articles/net-version-support.md
  doc/articles/platform-specific-csharp.md
  doc/articles/platform-specific-xaml.md
  doc/articles/toc.yml
  doc/articles/uno-app-solution-structure.md
  doc/articles/uno-publishing-desktop.md
  doc/articles/uno-publishing-maccatalyst.md
  doc/articles/uno-publishing-overview.md
  doc/articles/wasm-custom-events.md
Labels: area/build, kind/documentation

#20208 docs: Update high level architecture diagram
  doc/articles/Assets/architecture-phone.png
  doc/articles/Assets/high-level-architecture-copy.png
  doc/articles/Assets/high-level-architecture-diagram.png
  doc/articles/intro.md
Labels: kind/documentation

#20207 docs: Adjust for uno.winrt
  doc/articles/features/using-winrt.md
  doc/articles/how-uno-works.md
  doc/articles/toc.yml
Labels: area/build, kind/documentation

#20212 docs: Misc updates
  doc/articles/Assets/quick-start/live-wizard-02-select-preset.png
  doc/articles/Assets/tutorial01/newproject2.PNG
  doc/articles/Uno-UI-Performance.md
  doc/articles/best-practices-uno.md
  doc/articles/common-issues-all-ides.md
  doc/articles/common-issues-android.md
  doc/articles/common-issues-ios.md
  doc/articles/common-issues-vs2022.md
  doc/articles/common-issues-vscode.md
  doc/articles/features/using-markup.md
  doc/articles/features/using-native-rendering.md
  doc/articles/get-started-next-steps.md
  doc/articles/get-started-vs-2022.md
  doc/articles/get-started-vscode.md
  doc/articles/get-started.md
  doc/articles/getting-started/wizard/assets/intro.png
  doc/articles/guides/how-to-add-platforms-existing-project.md
  doc/articles/how-uno-works.md
  doc/articles/intro.md
  doc/articles/uno-publishing-overview.md
  doc/articles/uno-publishing-webassembly.md
  doc/articles/uno-toolchain-telemetry.md
  doc/articles/wasm-appmanifest.md
Labels: kind/documentation

#20226 Revert "fix(statetriggers): evaluate StateTriggers before the first layout cycle"
  src/Uno.UI.Runtime.Skia.Android/AndroidCorePointerInputSource.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_VisualStateManager.cs
  src/Uno.UI/UI/Xaml/Controls/Control/Control.crossruntime.cs
  src/Uno.UI/UI/Xaml/FrameworkElement.Layout.crossruntime.cs
  src/Uno.UI/UI/Xaml/VisualStateGroup.cs
  src/Uno.UI/UI/Xaml/VisualStateManager.cs
Labels: platform/android 🤖, area/skia ✏️

#20223 docs: Remove catalyst references
  doc/articles/concepts/overview/why-uno-platform.md
  doc/articles/controls/WebView.md
  doc/articles/feature-flags.md
  doc/articles/features/PasswordVault.md
  doc/articles/features/applicationdata.md
  doc/articles/features/image.md
  doc/articles/features/pointers-keyboard-and-other-user-inputs.md
  doc/articles/features/svg.md
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/features/vscode-advanced-mobile-debugging.md
  doc/articles/features/windows-storage-pickers.md
  doc/articles/features/windows-ui-notifications.md
  doc/articles/features/windows-ui-xaml-window.md
  doc/articles/features/working-with-assets.md
  doc/articles/features/working-with-xaml-hot-reload.md
  doc/articles/get-started-rider.md
  doc/articles/getting-started/wizard/includes/platforms.md
  doc/articles/getting-started/wizard/includes/startup.md
  doc/articles/guides/profiling-applications.md
  doc/articles/guides/solution-building-single-targetframework.md
  doc/articles/guides/xf-migration/intro.md
  doc/articles/migrating-to-single-project.md
  doc/articles/net-version-support.md
  doc/articles/splash-screen.md
  doc/articles/uno-build-error-codes.md
  doc/articles/uno-community-toolkit-v7.md
  doc/articles/uno-community-toolkit-v8.md
  doc/articles/uno-development/building-uno-ui.md
  doc/articles/uno-development/creating-runtime-tests.md
  doc/articles/uno-development/debugging-uno-ui.md
  doc/articles/uno-development/uno-internals-overview.md
  doc/articles/uno-development/uno-internals-wasm.md
  doc/articles/uno-fluent-assets.md
  src/SolutionTemplate/5.1/uno51blank/uno51blank/Assets/SharedAssets.md
  src/SolutionTemplate/5.1/uno51recommended/uno51recommended/Assets/SharedAssets.md
  src/SolutionTemplate/5.2/uno52AppWithLib/uno52AppWithLib/Assets/SharedAssets.md
  src/SolutionTemplate/5.2/uno52blank/uno52blank/Assets/SharedAssets.md
  src/SolutionTemplate/5.3/uno53AppWithLib/uno53AppWithLib/Assets/SharedAssets.md
  src/SolutionTemplate/5.3/uno53net9blank/uno53net9blank/Assets/SharedAssets.md
  src/SolutionTemplate/5.6/uno56droidioswasmskia/uno56droidioswasmskia/Assets/SharedAssets.md
  src/SolutionTemplate/5.6/uno56net9win32/uno56net9win32/Assets/SharedAssets.md
Labels: area/solution-templates, kind/documentation

#20232 perf(wasm): Fix render loop queueing race condition
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserRenderer.ts
Labels: platform/wasm 🌐

#20228 fix: Adjust font preloading log level
  src/Uno.UI/UI/Xaml/Documents/TextFormatting/FontDetailsCache.skia.cs
Labels: area/skia ✏️

#20159 fix: Fix touch scrolling selects text
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Controls/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.cs
  src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.skia.cs
Labels: area/skia ✏️

#20251 fix: Correctly handle newline on WebAssembly
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserKeyboardInputSource.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: platform/wasm 🌐, area/skia ✏️

#20064 chore: recipe book
  doc/articles/get-started-next-steps.md
  doc/articles/samples-tutorials-overview.md
  doc/articles/toc.yml
  doc/import_external_docs.ps1
  doc/import_external_docs_test.ps1
Labels: area/build, kind/documentation

#20258 docs: Update documentation with Uno.Sdk 6.0 latest changes
  doc/import_external_docs.ps1
Labels: kind/documentation

#20262 docs: Update Extensions documentation
  doc/import_external_docs.ps1
Labels: kind/documentation

#20264 docs: Update Hot Design Getting Started Asset
  doc/articles/studio/Hot Design/Assets/hot-design-views-highlighted.png
Labels: kind/documentation

#20271 docs: Adjust migrating-to-uno-6.md
  doc/articles/migrating-to-uno-6.md
Labels: kind/documentation

#20310 test: Adjust for wasm race condition
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
Labels: area/automation

#20261 chore: Update private sdk manifest
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.1/uno51recommended/Directory.Packages.props
  src/Uno.Sdk/packages.json
Labels: area/solution-templates, area/build, area/sdk

#20328 fix: Ensure a SynchronizationContext is available for browser events
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/FrameworkElement_AsyncFlow.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/FrameworkElementTests/FrameworkElement_AsyncFlow.xaml.cs
  src/Uno.UI.Dispatching/Native/NativeDispatcher.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserKeyboardInputSource.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserPointerInputSource.cs
  src/Uno.UI/Runtime/BrowserPointerInputSource.wasm.cs
  src/Uno.UI/UI/Xaml/UIElement.EventRegistration.wasm.cs
Labels: platform/wasm 🌐, area/automation

#20321 docs: fix migration link on skia page
  doc/articles/features/using-skia-rendering.md
Labels: kind/documentation

#20155 fix(textbox): keep TextBox from being scrolled away when focused with a touch pointer
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollContentPresenter/ScrollContentPresenter.Managed.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.SnapPoints.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.cs
  src/Uno.UI/UI/Xaml/Controls/ScrollViewer/ScrollViewer.skia.cs
Labels: area/skia ✏️

#20320 ci: Restore package validation
  build/Uno.UI.Build.csproj
Labels: area/build

#19838 fix: Ensure that MarkupExtension search behavior is consistent with winui
  src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/Given_MarkupExtension.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/MarkupExtension_FullNameFirst.xaml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Markup/MarkupExtension_FullNameFirst.xaml.cs
Labels: area/code-generation

#20330 docs: Update studio-feedback.md
  doc/articles/studio/studio-feedback.md
Labels: kind/documentation

#20343 docs: Clarify resource trimming
  doc/articles/features/upri-trimming.md
Labels: kind/documentation

#20354 docs: Adjust `__UNO_SKIA__` docs
  doc/articles/platform-specific-csharp.md
Labels: kind/documentation

#20355 fix(wasm): Don't show the VS HR indicator
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/WasmCSS/uno.css
Labels: platform/wasm 🌐

#20305 fix(droid): keyboard flickering on skia
  src/Uno.UI.Runtime.Skia.Android/AndroidSkiaTextBoxNotificationsProviderSingleton.cs
Labels: platform/android 🤖, area/skia ✏️

#20347 chore(SKCanvasElement): clarify docs around invalidating and fix sample
  doc/articles/controls/SKCanvasElement.md
  src/AddIns/Uno.WinUI.Graphics2DSK/SKCanvasElement.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Composition/SKCanvasElementImpl.skia.cs
Labels: area/skia ✏️, area/automation, kind/documentation

#20387 fix(textbox): fix shortcuts using ctrl instead of cmd on wasm on macOS
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Shortcuts_MacOSSkiaWasm.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/TextBox/TextBox_Shortcuts_MacOSSkiaWasm.xaml.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.skia.cs
Labels: area/skia ✏️, area/automation

#20318 fix: Correctly package and publish X11 WebView, adjust windows
  build/filters/Uno.UI-packages-skia.slnf
  doc/articles/controls/WebView.md
  doc/articles/features/using-the-uno-sdk.md
  doc/articles/supported-features.md
  src/AddIns/Uno.UI.WebView.Skia.X11/Uno.UI.WebView.Skia.X11.csproj
  src/Directory.Build.props
  src/SolutionTemplate/5.6/uno56droidioswasmskia/uno56droidioswasmskia/Platforms/Desktop/Program.cs
  src/SolutionTemplate/5.6/uno56droidioswasmskia/uno56droidioswasmskia/uno56droidioswasmskia.csproj
  src/Uno.Sdk/Sdk/Sdk.props.buildschema.json
  src/Uno.Sdk/Services/PackageManifest.cs
  src/Uno.Sdk/Tasks/ImplicitPackagesResolver.cs
  src/Uno.Sdk/UnoFeature.cs
  src/Uno.Sdk/packages.json
  src/Uno.Sdk/targets/Uno.Common.WinAppSdk.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.ProjectSystem.Desktop.targets
  src/Uno.Sdk/targets/Uno.Implicit.Packages.targets
  src/Uno.Sdk/targets/Uno.SingleProject.Desktop.targets
  src/Uno.UI-Skia-only.slnf
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/INativeWebViewProvider.cs
  src/Uno.UI/UI/Xaml/Controls/WebView/Core/INativeWebViewProvider.skia.cs
Labels: area/solution-templates, area/skia ✏️, area/build, kind/documentation, area/sdk

#20397 chore: Add unexpectedapis.uno live sample to README
  README.md
Labels: kind/documentation

#20368 test: Use TestMethodAttribute instead of DataTestMethodAttribute
  src/SourceGenerators/Uno.UI.SourceGenerators.Tests/Given_PathMarkupParser.cs
  src/Uno.UI.Tests/Animations/Given_KeySpline.cs
  src/Uno.UI.Tests/Animations/Given_RepeatBehavior.cs
  src/Uno.UI.Tests/BinderTests/Given_Binder.FastConvert.cs
  src/Uno.UI.Tests/Extensions/Given_TimeSpanExtensions.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_CurrencyFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_DecimalFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_IncrementNumberRounder.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_NumeralSystemTranslator.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_PercentFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_PermilleFormatter.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_Rounder.cs
  src/Uno.UI.Tests/Windows_Globalization/Given_SignificantDigitsNumberRounder.cs
  src/Uno.UI.Tests/Windows_UI_Xaml/Given_AdaptiveTrigger.cs
Labels: area/code-generation, area/automation

#20399 ci: Add emsdk caching
  .vsts-ci-docs.yml
  .vsts-ci.yml
  build/ci/templates/dotnet-mobile-install-linux.yml
  build/ci/templates/dotnet-mobile-install-mac.yml
  build/ci/templates/dotnet-mobile-install-windows.yml
  build/ci/templates/dotnet-setup-cache.yml
Labels: area/build

#20365 fix(bitmapimage): do not cache failed loading tasks when they fail because they were canceled
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.Cache.skia.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/BitmapImage.skia.cs
Labels: area/skia ✏️

#20392 fix(mpe): fix coord translation between vlc window and uno window on win32
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Win32MediaPlayerPresenterExtension.cs
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.txt
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.Pointers.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.cs
Labels: kind/documentation

#20360 perf: Reduce HandleDictionary access while segmenting runs
  src/Uno.UI/UI/Xaml/Documents/Run.skia.cs
Labels: area/skia ✏️

#20357 test: Replace UnoWorkItem with GitHubWorkItem
  src/SamplesApp/SamplesApp.UITests/Extensions/UnoWorkItemAttribute.cs
  src/Uno.UI.RuntimeTests/Tests/BindingTests/BindingTests.cs
  src/Uno.UI.RuntimeTests/Tests/Microsoft_UI_Xaml_Controls/Given_NavigationView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Composition/Given_ExpressionAnimation.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_Style.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_UIElement.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml/Given_xLoad.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_AutoSuggestBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_CalendarView.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ComboBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_Control_Visibility.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_DatePicker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ListViewBase.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_PersonPicture.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_StackPanel.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBlock.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.skia.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TimePicker.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Input/Given_FocusManager.cs
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Shapes/Given_Path.cs
Labels: area/skia ✏️, area/automation

#20423 docs: Adjust webview dependencies for X11
  build/cSpell.json
  doc/articles/controls/WebView.md
  src/AddIns/Uno.UI.WebView.Skia.X11/X11NativeWebView.cs
Labels: area/build, kind/documentation

#20356 test: Discover parameterized tests via ITestDataSource
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UnitTest/UnitTestMethodInfo.cs
Labels: area/automation

#19211 fix: Adds support for standard protocol activations on wasm
  doc/articles/features/protocol-activation.md
  src/Uno.UWP/Helpers/ProtocolActivation.wasm.cs
Labels: platform/wasm 🌐, kind/documentation

#19894 Adjust `LayoutProvider` for Skia Android
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/LayoutProvider.cs
Labels: platform/android 🤖, area/skia ✏️

#20475 fix(skiawasm): TextBox paste should use the native paste not the managed one
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/ts/Runtime/BrowserInvisibleTextBoxViewExtension.ts
Labels: platform/wasm 🌐

#19919 fix: add phone state permission to sample app
  src/SamplesApp/SamplesApp.Skia.netcoremobile/Android/AssemblyInfo.Android.cs
  src/SamplesApp/SamplesApp.netcoremobile/Android/AssemblyInfo.Android.cs
Labels: platform/android 🤖, area/automation

#20486 docs: typo in skia embedding file
  doc/articles/features/using-skia-hosting-native-controls.md
Labels: kind/documentation

#20443 Add DPI awareness
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.txt
  src/Uno.UI.Runtime.Skia.Win32/DpiBootstrap.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32Host.cs
Labels: kind/bug, kind/documentation

#20427 perf(mpe): eagerly load vlc binaries
  doc/articles/controls/MediaPlayerElement.md
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Assets/libvlc_init_sample.mp4
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Uno.UI.MediaPlayer.Skia.Win32.csproj
  src/AddIns/Uno.UI.MediaPlayer.Skia.X11/Assets/libvlc_init_sample.mp4
  src/AddIns/Uno.UI.MediaPlayer.Skia.X11/SharedMediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.X11/Uno.UI.MediaPlayer.Skia.X11.csproj
  src/SamplesApp/SamplesApp.Skia.Generic/Program.cs
  src/Uno.UI.Runtime.Skia.Win32/Builder/HostBuilderExtensions.cs
  src/Uno.UI.Runtime.Skia.Win32/Builder/Win32HostBuilder.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32Host.cs
  src/Uno.UI.Runtime.Skia.X11/Builder/HostBuilder.cs
  src/Uno.UI.Runtime.Skia.X11/Builder/X11HostBuilder.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
Labels: area/automation, kind/documentation, platform/x11 🐧

#20298 feat(skia): collapse visual subtrees into one SKPicture when the subtree doesn't change for a bit
  src/SamplesApp/SamplesApp.Shared/App.xaml.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewMode.Properties.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Presentation/SampleChooserViewModel.cs
  src/SamplesApp/SamplesApp.UnitTests.Shared/Controls/UITests/Views/Controls/SampleChooserControl.xaml
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Performance/Performance_1000ButtonsContinuousRendering.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/Performance/Performance_1000ButtonsContinuousRendering.xaml.cs
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Controls/ImageTests/SvgImageSource_Icons.xaml.cs
  src/Uno.UI.Composition/Composition/Compositor.skia.cs
  src/Uno.UI.Composition/Composition/ContainerVisual.skia.cs
  src/Uno.UI.Composition/Composition/SingleFrameProvider.skia.cs
  src/Uno.UI.Composition/Composition/Visual.skia.cs
  src/Uno.UI.Runtime.Skia.Android/Microsoft/UI/Xaml/UnoSKCanvasView.cs
  src/Uno.UI.Runtime.Skia.AppleUIKit/UI/Xaml/UnoSKMetalView.cs
  src/Uno.UI.Runtime.Skia.MacOS/MacOSWindowHost.cs
  src/Uno.UI.Runtime.Skia.WebAssembly.Browser/BrowserRenderer.cs
  src/Uno.UI.Runtime.Skia.Win32/Win32WindowWrapper.Rendering.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/OpenGLWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.Wpf/Rendering/SoftwareWpfRenderer.cs
  src/Uno.UI.Runtime.Skia.X11/X11OpenGLRenderer.cs
  src/Uno.UI.Runtime.Skia.X11/X11SoftwareRenderer.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/Helpers/SkiaRenderHelper.skia.cs
  src/Uno.UI/UI/Xaml/DebugSettings.cs
  src/Uno.UI/UI/Xaml/Media/Imaging/RenderTargetBitmap.skia.cs
Labels: platform/wasm 🌐, platform/android 🤖, platform/macos 🍏, platform/ios 🍎, area/skia ✏️, area/automation, platform/wpf 🪟, platform/x11 🐧

#20506 fix: Fix pointer and keyboard events not raised on CoreWindow
  src/Uno.UI/UI/Xaml/Internal/InputManager.Keyboard.skia.cs
  src/Uno.UI/UI/Xaml/Internal/InputManager.Pointers.Managed.cs
Labels: area/skia ✏️

#20518 docs: remove Cupertino from Intro
  doc/articles/intro.md
Labels: kind/documentation

#20352 fix(mpe): flickering on VLC-backed implementations
  src/Uno.UI.Runtime.Skia.Win32.Support/NativeMethods.txt
  src/Uno.UI.Runtime.Skia.Win32/Win32NativeElementHostingExtension.cs
  src/Uno.UI/UI/Xaml/Controls/MediaPlayerElement/MediaTransportControls.cs
Labels: kind/documentation

#20489 fix(x11): prevent window from flickering when resizing
  src/SamplesApp/UITests.Shared/UITests.Shared.projitems
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/WindowTests/Window_Resizing_Flicker.xaml
  src/SamplesApp/UITests.Shared/Windows_UI_Xaml/WindowTests/Window_Resizing_Flicker.xaml.cs
  src/Uno.UI.Runtime.Skia.X11/X11XamlRootHost.cs
Labels: area/automation, platform/x11 🐧

#20548 docs: Add `WinAppSDK` suffix to platform-specific C#
  doc/articles/platform-specific-csharp.md
Labels: kind/documentation

#20474 Adjust error reporting on uno runtime references
  build/test-scripts/run-net7-template-linux.ps1
  build/test-scripts/run-netcore-mobile-template-tests.ps1
  src/SolutionTemplate/5.6/uno56droidioswasmskia/Directory.Build.targets
  src/SolutionTemplate/5.6/uno56droidioswasmskia/Directory.Packages.props
  src/SolutionTemplate/5.6/uno56droidioswasmskia/Uno56NugetLibrary/Uno56NugetLibrary.csproj
  src/SolutionTemplate/5.6/uno56droidioswasmskia/Uno56NugetLibrary/UserControl2.xaml
  src/SolutionTemplate/5.6/uno56droidioswasmskia/Uno56NugetLibrary/UserControl2.xaml.cs
  src/SolutionTemplate/5.6/uno56droidioswasmskia/uno56droidioswasmskia/uno56droidioswasmskia.csproj
  src/SourceGenerators/Uno.UI.Tasks/RuntimeAssetsValidator/RuntimeAssetsValidatorTask.cs
Labels: area/solution-templates, area/code-generation, area/build

#20556 perf: Implement DependencyPropertyChangedEventArgs pool
  src/Uno.UI.Tests/DependencyProperty/Given_DependencyProperty.cs
  src/Uno.UI/FeatureConfiguration.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.DependencyPropertyChangedEventArgsPool.cs
  src/Uno.UI/UI/Xaml/DependencyObjectStore.cs
  src/Uno.UI/UI/Xaml/DependencyPropertyChangedEventArgs.cs
Labels: area/automation

#20537 fix: Ensure `IsEnabled` visual states are properly reflected in `TextBox`
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_TextBox.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.Android.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.wasm.cs
  src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs
Labels: platform/wasm 🌐, platform/android 🤖, area/skia ✏️

#20640 dos: update rider wasm browser requirements
  doc/articles/Assets/quick-start/rider_webassembly_change_browser.png
  doc/articles/create-an-app-rider.md
Labels: kind/documentation

#20471 fix(x11): check for libvlc before registering MPE extensions
  src/AddIns/Uno.UI.MediaPlayer.Skia.Win32/Uno.UI.MediaPlayer.Skia.Win32.csproj
  src/AddIns/Uno.UI.MediaPlayer.Skia.X11/SharedMediaPlayerExtension.cs
  src/AddIns/Uno.UI.MediaPlayer.Skia.X11/X11MediaPlayerPresenterExtension.cs
  src/SamplesApp/SamplesApp.Skia.Generic/Program.cs
  src/Uno.UI.Runtime.Skia.X11/X11ApplicationHost.cs
Labels: area/automation, platform/x11 🐧

#20501 fix: Namespace and logic in `ProgressBarAutomationPeer`
  build/PackageDiffIgnore.xml
  src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_ProgressBar.cs
  src/Uno.UI/Generated/3.0.0.0/Microsoft.UI.Xaml.Automation.Peers/ProgressBarAutomationPeer.cs
  src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressBar/ProgressBarAutomationPeer.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/AutomationPeer.skia.cs
  src/Uno.UI/UI/Xaml/Automation/Peers/RangeBaseAutomationPeer.cs
Labels: area/skia ✏️, area/build
